Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

feat: 添加查看日志、访问控制台功能
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix: 913 体验问题修复
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

feat:support for probe configuration
  apiserver/paasng/paas_wl/utils/basic.py
  apiserver/paasng/paas_wl/workloads/processes/constants.py
  apiserver/paasng/paas_wl/workloads/processes/migrations/0004_wlappprobe.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paas_wl/workloads/processes/serializers.py
  apiserver/paasng/paas_wl/workloads/processes/utils.py
  apiserver/paasng/paas_wl/workloads/resource_templates/utils.py
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
  apiserver/paasng/paasng/extensions/declarative/deployment/resources.py
  apiserver/paasng/paasng/extensions/declarative/deployment/validations.py
  apiserver/paasng/paasng/extensions/declarative/handlers.py
  apiserver/paasng/paasng/utils/basic.py
  apiserver/paasng/tests/extensions/declarative/test_probes.py
  apiserver/paasng/tests/paas_wl/test_utils/test_main.py
  apiserver/paasng/tests/paas_wl/workloads/resource_templates/conftest.py
  apiserver/paasng/tests/paas_wl/workloads/resource_templates/test_wlapp_probe.py
Due: isort, black, flake8, mypy-apiserver

feat:support for probe configuration
  apiserver/paasng/paas_wl/workloads/processes/migrations/0004_processprobe.py
Due: mypy-apiserver

Enhance: more the result of svc-disc more accurate by get exposed_url_type first
  apiserver/paasng/paasng/extensions/declarative/deployment/svc_disc.py
  apiserver/paasng/paasng/publish/entrance/preallocated.py
  apiserver/paasng/tests/publish/entrance/test_preallocated.py
Due: isort, black, flake8, mypy-apiserver

feat: 优化细节
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
Due: none

feat: 优化细节
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix: 创建模块问题修复
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
Due: none

fix: fix bugs
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
Due: none

fix: fix bugs
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
Due: none

feat:support for probe configuration
  apiserver/paasng/tests/paas_wl/workloads/resource_templates/test_process_probe.py
Due: isort, black, flake8, mypy-apiserver

feat: 优化细节
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
Due: none

fix:synchronization probes
  apiserver/paasng/paas_wl/workloads/processes/utils.py
  apiserver/paasng/paas_wl/workloads/resource_templates/utils.py
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
  apiserver/paasng/tests/extensions/declarative/test_probes.py
  apiserver/paasng/tests/paas_wl/workloads/resource_templates/test_process_probe.py
Due: isort, black, flake8, mypy-apiserver

fix:synchronization probes
  apiserver/paasng/paas_wl/workloads/resource_templates/utils.py
Due: isort, black, flake8, mypy-apiserver

fix:synchronization probes
  apiserver/paasng/tests/engine/utils/test_source.py
  apiserver/paasng/tests/extensions/declarative/test_handlers.py
Due: isort, black, flake8, mypy-apiserver

fix:synchronization probes
  apiserver/paasng/tests/engine/setup_utils.py
  apiserver/paasng/tests/extensions/declarative/test_probes.py
Due: isort, black, flake8, mypy-apiserver

fix:synchronization probes
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
Due: isort, black, flake8, mypy-apiserver

fix:synchronization probes
  apiserver/paasng/tests/engine/deploy/test_building.py
  apiserver/paasng/tests/engine/deploy/test_release.py
  apiserver/paasng/tests/engine/phases_steps/test_steps.py
  apiserver/paasng/tests/engine/workflow/test_flow.py
  apiserver/paasng/tests/extensions/declarative/test_deployment.py
  apiserver/paasng/tests/publish/test_entrance.py
Due: isort, black, flake8, mypy-apiserver

fix: 创建模块冗余默认数据处理
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: 添加扩缩容功能
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/scale-dialog.vue
Due: none

fix: 合并冲突
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
Due: none

feat: 处理进程状态
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/index.vue
Due: none

feat: 轮询列表数据
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
Due: none

Enhance: make the result of svc-disc more accurate by get exposed_url_type first (#680)
  apiserver/paasng/paasng/extensions/declarative/deployment/svc_disc.py
  apiserver/paasng/paasng/publish/entrance/preallocated.py
  apiserver/paasng/tests/publish/entrance/test_preallocated.py
Due: isort, black, flake8, mypy-apiserver

fix: 扩缩容使用率调整
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/scale-dialog.vue
Due: none

feat: 完善钩子命令
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/prod.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

Fix dependencies relationships for paas_wl more, part 3.
  apiserver/paasng/.importlinter
  apiserver/paasng/paas_wl/admin/views/processes.py
  apiserver/paasng/paas_wl/cnative/specs/apps.py
  apiserver/paasng/paas_wl/cnative/specs/handlers.py
  apiserver/paasng/paas_wl/core/app_structure.py
  apiserver/paasng/paas_wl/core/resource.py
  apiserver/paasng/paas_wl/deploy/actions/archive.py
  apiserver/paasng/paas_wl/deploy/processes.py
  apiserver/paasng/paas_wl/networking/ingress/domains/manager.py
  apiserver/paasng/paas_wl/networking/ingress/entities/service.py
  apiserver/paasng/paas_wl/networking/ingress/management/commands/patch_services.py
  apiserver/paasng/paas_wl/networking/ingress/managers/base.py
  apiserver/paasng/paas_wl/networking/ingress/signals.py
  apiserver/paasng/paas_wl/networking/ingress/utils.py
  apiserver/paasng/paas_wl/platform/applications/models/app.py
  apiserver/paasng/paas_wl/resources/generation/mapper.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paas_wl/workloads/processes/entities.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paas_wl/workloads/processes/readers.py
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/tests/paas_wl/core/test_resource.py
  apiserver/paasng/tests/paas_wl/e2e/ingress/conftest.py
  apiserver/paasng/tests/paas_wl/networking/ingress/domains/test_manager.py
Due: isort, black, flake8, mypy-apiserver

Fix review comments
  apiserver/paasng/paas_wl/core/app_structure.py
  apiserver/paasng/paas_wl/core/resource.py
  apiserver/paasng/paas_wl/utils/command.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
Due: isort, black, flake8, mypy-apiserver

Fix dependencies relationships for paa_wl more, part 1.
  apiserver/paasng/.importlinter
  apiserver/paasng/paas_wl/deploy/actions/deploy.py
  apiserver/paasng/paas_wl/deploy/app_res/client.py
  apiserver/paasng/paas_wl/deploy/app_res/controllers.py
  apiserver/paasng/paas_wl/deploy/app_res/generation/__init__.py
  apiserver/paasng/paas_wl/deploy/app_res/utils.py
  apiserver/paasng/paas_wl/resources/generation/__init__.py
  apiserver/paasng/paas_wl/resources/generation/apps.py
  apiserver/paasng/paas_wl/resources/generation/handlers.py
  apiserver/paasng/paas_wl/resources/generation/mapper.py
  apiserver/paasng/paas_wl/resources/generation/v1.py
  apiserver/paasng/paas_wl/resources/generation/v2.py
  apiserver/paasng/paas_wl/resources/generation/version.py
  apiserver/paasng/paas_wl/resources/kube_res/base.py
  apiserver/paasng/paas_wl/utils/command.py
  apiserver/paasng/paas_wl/workloads/processes/entities.py
  apiserver/paasng/paas_wl/workloads/processes/readers.py
  apiserver/paasng/paas_wl/workloads/processes/serializers.py
  apiserver/paasng/paas_wl/workloads/processes/utils.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paas_wl/cluster/test_utils.py
  apiserver/paasng/tests/paas_wl/deploy/app_res/test_client.py
  apiserver/paasng/tests/paas_wl/deploy/app_res/test_controllers.py
  apiserver/paasng/tests/paas_wl/resources/generation/__init__.py
  apiserver/paasng/tests/paas_wl/resources/generation/test_generation.py
  apiserver/paasng/tests/paas_wl/workloads/autoscaling/test_serializers.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_controllers.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_managers.py
  apiserver/paasng/tests/test_utils/test_command.py
Due: isort, black, flake8, mypy-apiserver

Fix dependencies relationships for paa_wl more, part 2.
  apiserver/paasng/.importlinter
Due: none

fix: 删除模块跳转路由问题修复，创建模块后钩子命令编辑态无法取消修复
  webfe/package_vue/src/components/paas-module-bar.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
Due: none

缩短 process watch API 429窗口大小
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/paasng/utils/rate_limit/fixed_window.py
  apiserver/paasng/paasng/utils/rate_limit/token_bucket.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/tests/engine/deploy/bg_build/test_utils.py
Due: isort, black, flake8, mypy-apiserver

enhance: slug builder 的名称加上 wlapp 相关的后缀
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/tests/engine/deploy/bg_build/test_utils.py
Due: isort, black, flake8, mypy-apiserver

fix: fix bugs
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix:synchronization probes
  apiserver/paasng/paas_wl/utils/basic.py
  apiserver/paasng/paas_wl/workloads/processes/serializers.py
  apiserver/paasng/paas_wl/workloads/processes/utils.py
  apiserver/paasng/paas_wl/workloads/resource_templates/utils.py
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
  apiserver/paasng/paasng/extensions/declarative/deployment/process_probe_handler.py
  apiserver/paasng/tests/engine/deploy/test_building.py
  apiserver/paasng/tests/engine/deploy/test_release.py
  apiserver/paasng/tests/engine/phases_steps/test_steps.py
  apiserver/paasng/tests/engine/setup_utils.py
  apiserver/paasng/tests/extensions/declarative/test_deployment.py
  apiserver/paasng/tests/extensions/declarative/test_handlers.py
  apiserver/paasng/tests/extensions/declarative/test_probes.py
  apiserver/paasng/tests/paas_wl/workloads/resource_templates/conftest.py
  apiserver/paasng/tests/paas_wl/workloads/resource_templates/test_process_probe.py
  apiserver/paasng/tests/publish/test_entrance.py
Due: isort, black, flake8, mypy-apiserver

fix:synchronization probes
  apiserver/paasng/paas_wl/utils/basic.py
  apiserver/paasng/paasng/extensions/declarative/handlers.py
  apiserver/paasng/paasng/utils/basic.py
  apiserver/paasng/tests/engine/setup_utils.py
  apiserver/paasng/tests/engine/utils/test_source.py
  apiserver/paasng/tests/engine/workflow/test_flow.py
Due: isort, black, flake8, mypy-apiserver

fix:synchronization probes
  apiserver/paasng/paas_wl/workloads/processes/serializers.py
Due: isort, black, flake8, mypy-apiserver

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
