Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

refactor: move metrics from paas_wl.bk_app.monitoring to paasng.misc.monitoring
  apiserver/paasng/paasng/misc/monitoring/metrics/__init__.py
  apiserver/paasng/paasng/misc/monitoring/metrics/apps.py
  apiserver/paasng/paasng/misc/monitoring/metrics/constants.py
  apiserver/paasng/paasng/misc/monitoring/metrics/migrations/__init__.py
  apiserver/paasng/tests/paasng/misc/monitoring/metrics/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor with discussion
  apiserver/paasng/paasng/platform/sourcectl/controllers/docker.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: 设置 list tags 超时 (#1106)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/image_parser.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/build.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/docker.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix unittest
  apiserver/paasng/tests/api/test_modules.py
  apiserver/paasng/tests/paasng/platform/engine/utils/test_source.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: 进程名称显式限制不允许大写字母
  apiserver/paasng/paasng/utils/validators.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: 进程名称显式限制不允许大写字母 (#1103)
  apiserver/paasng/paasng/utils/validators.py
  apiserver/paasng/tests/api/test_modules.py
  apiserver/paasng/tests/paasng/platform/engine/utils/test_source.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: fix report collect error
  apiserver/paasng/paasng/misc/monitoring/metrics/migrations/0001_initial.py
  apiserver/paasng/paasng/misc/monitoring/metrics/models.py
  apiserver/paasng/paasng/misc/monitoring/metrics/tasks.py
  apiserver/paasng/paasng/platform/applications/operators.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: fix report collect error
  apiserver/paasng/paasng/misc/monitoring/metrics/migrations/0001_initial.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: move metrics from paas_wl.bk_app.monitoring to paasng.misc.monitoring (#1107)
  apiserver/paasng/paas_wl/apis/system_api/serializers.py
  apiserver/paasng/paasng/misc/monitoring/metrics/__init__.py
  apiserver/paasng/paasng/misc/monitoring/metrics/apps.py
  apiserver/paasng/paasng/misc/monitoring/metrics/clients/__init__.py
  apiserver/paasng/paasng/misc/monitoring/metrics/clients/base.py
  apiserver/paasng/paasng/misc/monitoring/metrics/clients/bkmonitor.py
  apiserver/paasng/paasng/misc/monitoring/metrics/clients/prometheus.py
  apiserver/paasng/paasng/misc/monitoring/metrics/constants.py
  apiserver/paasng/paasng/misc/monitoring/metrics/evaluator.py
  apiserver/paasng/paasng/misc/monitoring/metrics/exceptions.py
  apiserver/paasng/paasng/misc/monitoring/metrics/management/__init__.py
  apiserver/paasng/paasng/misc/monitoring/metrics/management/commands/__init__.py
  apiserver/paasng/paasng/misc/monitoring/metrics/management/commands/collect_app_res_usage_report.py
  apiserver/paasng/paasng/misc/monitoring/metrics/management/commands/deploy_stats_diagnoser.py
  apiserver/paasng/paasng/misc/monitoring/metrics/management/commands/evaluate_app_res_quota.py
  apiserver/paasng/paasng/misc/monitoring/metrics/migrations/0001_initial.py
  apiserver/paasng/paasng/misc/monitoring/metrics/migrations/__init__.py
  apiserver/paasng/paasng/misc/monitoring/metrics/models.py
  apiserver/paasng/paasng/misc/monitoring/metrics/shim.py
  apiserver/paasng/paasng/misc/monitoring/metrics/tasks.py
  apiserver/paasng/paasng/misc/monitoring/metrics/utils.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/platform/applications/operators.py
  apiserver/paasng/paasng/platform/engine/serializers.py
  apiserver/paasng/paasng/platform/engine/views/misc.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paasng/misc/monitoring/metrics/__init__.py
  apiserver/paasng/tests/paasng/misc/monitoring/metrics/test_client.py
  apiserver/paasng/tests/paasng/misc/monitoring/metrics/test_metric_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 未选择插件类型，点击立即处理跳转位置错误修复
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

fix: 创建新令牌体验问题修复
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
Due: none

fix：国际化翻译补充
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/app-perm.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/image-list.vue
Due: none

enhance：bkapp 下发 Conflict 时，添加重试机制
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 查看指引添加英文md， link使用环境变量
  webfe/package_vue/src/assets/md/en/guide-hook.md
  webfe/package_vue/src/assets/md/en/guide-process.md
  webfe/package_vue/src/assets/md/guide-hook.md
  webfe/package_vue/src/assets/md/guide-process.md
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/user-guide/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat: 插件开发者中心:支持测试发布和正式发布
  apiserver/paasng/paasng/bk_plugins/pluginscenter/constants.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/exceptions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/management/commands/create_or_update_plugin_type.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/migrations/0018_auto_20240130_1450.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/__init__.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/deploy.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/release.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/subpage.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/conftest.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/release/test_stages.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_integration.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

- 测试体验问题修复 (#1109)
  webfe/package_vue/src/assets/md/en/guide-hook.md
  webfe/package_vue/src/assets/md/en/guide-process.md
  webfe/package_vue/src/assets/md/guide-hook.md
  webfe/package_vue/src/assets/md/guide-process.md
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/app-perm.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/user-guide/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/image-list.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix:alert_name 为 None 时接口报错修复
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 插件阶段的基本信息中添加 invoke_method 信息(页面可以查看已经执行过的阶段,需要根据这个字段来渲染页面)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: clean up oldest finished hook pods
  operator/pkg/controllers/reconcilers/hooks.go
  operator/pkg/controllers/reconcilers/hooks_test.go
  operator/pkg/controllers/reconcilers/utils.go
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/resources/labels/labels.go
  operator/pkg/metrics/hook.go
  operator/pkg/metrics/metrics.go
Due: operator-lint

minor: 优化 Dockerfile, 提速
  webfe/Dockerfile
  webfe/package_vue/bk.config.js
Due: none

refactor: 移除废弃的构建配置和代码
  webfe/package_vue/.bk.development.env
  webfe/package_vue/.bk.production.env
  webfe/package_vue/bk.config.js
  webfe/package_vue/build/build.js
  webfe/package_vue/build/check-versions.js
  webfe/package_vue/build/dev-client.js
  webfe/package_vue/build/s.js
  webfe/package_vue/build/utils.js
  webfe/package_vue/build/vue-loader.conf.js
  webfe/package_vue/config/dev.env.js
  webfe/package_vue/config/index.js
  webfe/package_vue/config/prod.env.js
  webfe/package_vue/index.html
  webfe/package_vue/package.json
  webfe/package_vue/pre-task-plugin.js
Due: none

feature: 前端控制台打印版本信息
  webfe/Dockerfile
  webfe/package_vue/index.html
  webfe/package_vue/src/main.js
Due: none

构建时注入 BKPAAS_BUILD_VERSION 信息
  webfe/Dockerfile
  webfe/package_vue/.bk.production.env
  webfe/package_vue/package.json
Due: none

fix: 修复 devtools 配置错误
  webfe/package_vue/bk.config.js
Due: none

test
  webfe/package_vue/bk.config.js
Due: none

minor: 优化 js 加载方式
  webfe/package_vue/index.html
Due: none

feature: 前端控制台打印版本信息 & refactor: 移除废弃的构建配置和代码 (#1108)
  webfe/Dockerfile
  webfe/package_vue/.bk.development.env
  webfe/package_vue/.bk.production.env
  webfe/package_vue/bk.config.js
  webfe/package_vue/build/build.js
  webfe/package_vue/build/check-versions.js
  webfe/package_vue/build/dev-client.js
  webfe/package_vue/build/s.js
  webfe/package_vue/build/utils.js
  webfe/package_vue/build/vue-loader.conf.js
  webfe/package_vue/config/dev.env.js
  webfe/package_vue/config/index.js
  webfe/package_vue/config/prod.env.js
  webfe/package_vue/index.html
  webfe/package_vue/package.json
  webfe/package_vue/pre-task-plugin.js
  webfe/package_vue/src/main.js
Due: none

feat: 初始化插件分类，插件必须设置分类后才能部署生产环境
  apiserver/paasng/paasng/bk_plugins/bk_plugins/migrations/0008_bkplugintag_init.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修改前端文档地址
  webfe/package_vue/src/assets/md/en/guide-hook.md
  webfe/package_vue/src/assets/md/en/guide-process.md
  webfe/package_vue/src/assets/md/guide-hook.md
  webfe/package_vue/src/assets/md/guide-process.md
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/user-guide/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
  webfe/package_vue/static/runtime/runtime.ce.js
  webfe/package_vue/static/runtime/runtime.ee.js
Due: none

Fix: python-buildpack, hooks using hyper style unable to execute
  builder-stack/heroku-buildpacks/bk-buildpack-python/hooks/setup-user-compile-hook
Due: none

Fix: pre/post-compile hooks using dash naming style fail to execute(python-buildpack) (#1112)
  builder-stack/heroku-buildpacks/bk-buildpack-python/hooks/setup-user-compile-hook
Due: none

fix: 后台国际化
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paas_wl/workloads/networking/entrance/serializers.py
  apiserver/paasng/paasng/platform/applications/serializers/validators.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: dOCS_URL_PREFIX
  webfe/package_vue/static/runtime/runtime.ee.js
Due: none

fix: 修改前端文档地址 (#1113)
  webfe/package_vue/src/assets/md/en/guide-hook.md
  webfe/package_vue/src/assets/md/en/guide-process.md
  webfe/package_vue/src/assets/md/guide-hook.md
  webfe/package_vue/src/assets/md/guide-process.md
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/user-guide/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
  webfe/package_vue/static/runtime/runtime.ce.js
  webfe/package_vue/static/runtime/runtime.ee.js
Due: none

fix: 后端文档地址路径前缀
  apiserver/paasng/fixtures/smart_advisor.yaml
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/sourcectl.html
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 国际化翻译
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

fix: fix invoke_method
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fix invoke_message 国际化
  apiserver/paasng/paas_wl/bk_app/applications/models/build.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feature: 管理端控制台打印版本信息
  apiserver/Dockerfile
  apiserver/paasng/paasng/plat_admin/admin42/context_processors.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/base.html
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
