Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run pflake8 --config=pyproject.toml

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./mypy.ini"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

bugfix: 修复 legacy ingress 访问链路中 x-script-name 被覆盖的问题 (#139)
  workloads/paas_wl/paas_wl/networking/ingress/entities/ingress.py
  workloads/paas_wl/paas_wl/networking/ingress/entities/utils.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/base.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/misc.py
  workloads/paas_wl/tests/networking/ingress/entities/test_ingress.py
  workloads/paas_wl/tests/networking/ingress/managers/test_misc.py
Due: isort, black, flake8, mypy-workloads

feat: 应用概览数据API
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/constants.py
  apiserver/paasng/paasng/platform/applications/constants.py
  apiserver/paasng/paasng/platform/applications/urls.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: isort, black, flake8, mypy-apiserver

feat: support query ts metric data from bkmonitor
  workloads/paas_wl/conf.yaml.tpl
  workloads/paas_wl/paas_wl/cluster/models.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/api_resources/__init__.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/api_resources/apigw.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/api_resources/esb.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/client.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/exceptions.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/__init__.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/bkmonitor.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/promethues.py
  workloads/paas_wl/paas_wl/monitoring/metrics/constants.py
  workloads/paas_wl/paas_wl/monitoring/metrics/models.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/settings/__init__.py
  workloads/paas_wl/tests/conftest.py
  workloads/paas_wl/tests/monitoring/metrics/test_client.py
  workloads/paas_wl/tests/monitoring/metrics/test_metric_manager.py
Due: isort, black, flake8, mypy-workloads

feat: support call bkmonitor by esb
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/api_resources/esb.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/client.py
Due: isort, black, flake8, mypy-workloads

fix: 修复 shell 脚本的判断
  svc-otel/migrate.sh
Due: none

feat: 兼容应用列表展示插件应用的情况
  apiserver/paasng/paasng/platform/applications/constants.py
  apiserver/paasng/paasng/platform/applications/pagination.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: isort, black, flake8, mypy-apiserver

Disable cache for `list_custom_addresses` function to avoid data inconsistency
  apiserver/paasng/paasng/publish/entrance/exposer.py
Due: isort, black, flake8, mypy-apiserver

fix: 单元测试修复
  apiserver/paasng/paasng/dev_resources/cloudapi/views.py
  apiserver/paasng/tests/dev_resources/cloudapi/test_views.py
Due: isort, black, flake8, mypy-apiserver

fix: 兼容 shell 脚本写法
  svc-otel/migrate.sh
Due: none

feat(svc-otel): 通过环境变量控制是否 loaddata (#135)
  svc-otel/migrate.sh
Due: none

Enable conn pooling when request apiserver
  workloads/paas_wl/paas_wl/platform/external/client.py
  workloads/paas_wl/paas_wl/utils/basic.py
Due: isort, black, flake8, mypy-workloads

Enable conn pooling when request workloads
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/utils/basic.py
Due: isort, black, flake8, mypy-apiserver

feat: 添加"是否允许创建蓝鲸插件应用"配置项
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/platform/feature_flags/constants.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

feat: 将云原生应用的配置添加到配置模板中
  apiserver/paasng/conf.yaml.tpl
Due: none

feat: 添加"是否允许创建蓝鲸插件应用"配置项 (#144)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/platform/feature_flags/constants.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

feat: release 添加发布完成时间
  apiserver/paasng/paasng/pluginscenter/handlers.py
  apiserver/paasng/paasng/pluginscenter/migrations/0010_pluginrelease_complete_time.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
Due: isort, black, flake8, mypy-apiserver

feat: 插件配置按字母序排序
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

feat: 插件基本信息API中添加插件管理员信息
  apiserver/paasng/paasng/pluginscenter/serializers.py
Due: isort, black, flake8, mypy-apiserver

feat: 插件分类中将"未分类"置顶
  apiserver/paasng/paasng/extensions/bk_plugins/migrations/0006_bkplugintag_priority.py
  apiserver/paasng/paasng/extensions/bk_plugins/models.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/extensions/bk_plugins/serializers.py
  apiserver/paasng/paasng/extensions/bk_plugins/views.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/bk_plugin_tag.html
  apiserver/paasng/paasng/pluginscenter/migrations/0010_pluginrelease_complete_time.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
Due: isort, black, flake8, mypy-apiserver

feat: 创建插件提示文案修改
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: none

feat: 插件列表中展示已下架的插件
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

feat: 添加"显示访问入口地址"的特性开关
  apiserver/paasng/paasng/pluginscenter/features.py
Due: isort, black, flake8, mypy-apiserver

feat: :q
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

feat: 查询代码提交记录异常时,返回空数据
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

fix: errorcode 错误消息国际化
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/accessories/iam/permissions/resources/application.py
  apiserver/paasng/paasng/accounts/permissions/constants.py
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/dev_resources/sourcectl/views.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/shim.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/error_codes.py
Due: isort, black, flake8, mypy-apiserver

fix: 发布失败时更新完成时间
  apiserver/paasng/paasng/pluginscenter/handlers.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 插件发布完成时间由更新时间确定,不需要添加新的db字段
  apiserver/paasng/paasng/pluginscenter/handlers.py
  apiserver/paasng/paasng/pluginscenter/migrations/0010_pluginrelease_complete_time.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

feat:插件开发者中心评审问题修复 (#145)
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/accessories/iam/permissions/resources/application.py
  apiserver/paasng/paasng/accounts/permissions/constants.py
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/dev_resources/sourcectl/views.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/extensions/bk_plugins/migrations/0006_bkplugintag_priority.py
  apiserver/paasng/paasng/extensions/bk_plugins/models.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/extensions/bk_plugins/serializers.py
  apiserver/paasng/paasng/extensions/bk_plugins/views.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/bk_plugin_tag.html
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/features.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/shim.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/paasng/utils/error_codes.py
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: isort, black, flake8, mypy-apiserver

feat: 更新是否启用插件的配置
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复下架插件不能操作的问题
  apiserver/paasng/paasng/pluginscenter/constants.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 组件库版本升级。国际化修复。表格筛选清空
  webfe/package_vue/package.json
Due: none

fix: 全局样式影响修复
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: 组件库版本，vue版本回退
  webfe/package_vue/package.json
Due: none

fix: nav切换菜单bug修复， 样式bug修复
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/app-perm.vue
Due: none

fix: annotation del
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/app-perm.vue
Due: none

fix: bug css修复
  webfe/package_vue/src/views/plugin-center/index.vue
Due: none

fix: 部署页面自适应
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

feat: vue回退
  webfe/package_vue/package.json
Due: none

fix: 部署管理自适应宽度调整
  webfe/package_vue/src/assets/css/ps-style.scss
Due: none

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
