Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: cherry-pick pr (update_app_resource 函数添加 metadata 校验 (#1544)) (#1554)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/app_resource.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 添加 itsm 提单字段
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/open_apis/views.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: get_deploy_phases_framework, get_deploy_phases_instance, list processes update
  apiserver/paasng/support-files/apigw/api_doc/en/get_deploy_phases_framework.md
  apiserver/paasng/support-files/apigw/api_doc/en/get_deploy_phases_instance.md
  apiserver/paasng/support-files/apigw/api_doc/en/list_processes.md
  apiserver/paasng/support-files/apigw/api_doc/zh/get_deploy_phases_framework.md
  apiserver/paasng/support-files/apigw/api_doc/zh/get_deploy_phases_instance.md
  apiserver/paasng/support-files/apigw/api_doc/zh/list_processes.md
Due: none

style: adding some line break
  apiserver/paasng/paas_wl/apis/admin/views/logs.py
  apiserver/paasng/paasng/plat_admin/admin42/views/accountmgr.py
  apiserver/paasng/paasng/plat_admin/admin42/views/bk_plugins.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/config_vars.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
  apiserver/paasng/paasng/plat_admin/admin42/views/smart_advisor.py
  apiserver/paasng/paasng/plat_admin/admin42/views/sourcectl.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: path params keep same with resources.yaml
  apiserver/paasng/support-files/apigw/api_doc/en/search_structured_log.md
  apiserver/paasng/support-files/apigw/api_doc/en/search_structured_log_with_post.md
  apiserver/paasng/support-files/apigw/api_doc/en/upload_source_package_via_link.md
  apiserver/paasng/support-files/apigw/api_doc/zh/search_structured_log.md
  apiserver/paasng/support-files/apigw/api_doc/zh/search_structured_log_with_post.md
  apiserver/paasng/support-files/apigw/api_doc/zh/upload_source_package_via_link.md
Due: none

fix: minor
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 访问地址表格固定列不对齐优化 # Reviewed, transaction id: 16208
  webfe/package_vue/package.json
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

Docs improvements：get deploy phases , list processes (#1557)
  apiserver/paasng/support-files/apigw/api_doc/en/get_deploy_phases_framework.md
  apiserver/paasng/support-files/apigw/api_doc/en/get_deploy_phases_instance.md
  apiserver/paasng/support-files/apigw/api_doc/en/list_processes.md
  apiserver/paasng/support-files/apigw/api_doc/en/search_structured_log.md
  apiserver/paasng/support-files/apigw/api_doc/en/search_structured_log_with_post.md
  apiserver/paasng/support-files/apigw/api_doc/en/upload_source_package_via_link.md
  apiserver/paasng/support-files/apigw/api_doc/zh/get_deploy_phases_framework.md
  apiserver/paasng/support-files/apigw/api_doc/zh/get_deploy_phases_instance.md
  apiserver/paasng/support-files/apigw/api_doc/zh/list_processes.md
  apiserver/paasng/support-files/apigw/api_doc/zh/search_structured_log.md
  apiserver/paasng/support-files/apigw/api_doc/zh/search_structured_log_with_post.md
  apiserver/paasng/support-files/apigw/api_doc/zh/upload_source_package_via_link.md
Due: none

docs:definition version update
  apiserver/paasng/support-files/apigw/definition.yaml
Due: none

docs: update release title and comment
  apiserver/paasng/support-files/apigw/definition.yaml
Due: none

fix: bk ci api return custom pipeline job id
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/executors.py
  apiserver/paasng/paasng/platform/templates/templater.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

typo: clear -> clean
  operator/scripts/update_helm_chart.py
Due: ruff-check-fix, ruff-format, ruff-check, operator-lint

fix: bk ci build can't following logs (#1559)
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/executors.py
  apiserver/paasng/paasng/platform/templates/templater.py
  operator/scripts/update_helm_chart.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

fix: first got unexpected keyword
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: first got unexpected keyword (#1560)
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixed
  apiserver/paasng/paas_wl/apis/admin/views/certs.py
  apiserver/paasng/paas_wl/apis/admin/views/clusters.py
  apiserver/paasng/paas_wl/apis/admin/views/domain.py
  apiserver/paasng/paas_wl/apis/admin/views/logs.py
  apiserver/paasng/paas_wl/apis/admin/views/processes.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/models.py
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/base_info/members.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/accountmgr.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/plat_admin/admin42/views/bk_plugins.py
  apiserver/paasng/paasng/plat_admin/admin42/views/builtin_config_vars.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/config_vars.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/egress.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
  apiserver/paasng/paasng/plat_admin/admin42/views/smart_advisor.py
  apiserver/paasng/paasng/plat_admin/admin42/views/sourcectl.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixed
  apiserver/paasng/paas_wl/apis/admin/views/processes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Docs improvements: definition version update (#1558)
  apiserver/paasng/support-files/apigw/definition.yaml
Due: none

fix: update default module in market config when change default module
  apiserver/paasng/paasng/accessories/publish/market/handlers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

not change api name in resources.yaml
  apiserver/paasng/support-files/apigw/resources.yaml
Due: none

fix: 在应用操作审计中记录并显示操作对象
  apiserver/paasng/paas_wl/apis/admin/views/domain.py
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/audit.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/audit/admin_app_operation_audit.html
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/plat_admin/admin42/views/audit.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/config_vars.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/egress.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 国际化
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

chore: add customDomainIngressClassName in update_helm_chart.py
  operator/scripts/update_helm_chart.py
Due: ruff-check-fix, ruff-format, ruff-check, operator-lint

feat: 进程服务v1.0 # Reviewed, transaction id: 16535
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/editable-cell.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/pord-map-table.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/prcess-service.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/process-card.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/static/images/deploy-4.svg
  webfe/package_vue/static/images/svc.svg
Due: none

fix: 创建应用时，如果先点击了蓝鲸插件后，再切换到创建镜像仓库会提示蓝鲸插件的报错修复
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix：市场信息编辑取消后回显问题修复
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
Due: none

fix: fixed
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 增强服务实例，使用指南收起，页面高度丢失问题修复
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

fix: 经由特定路径后点击“模块配置”页面，样式错误 # Reviewed, transaction id: 13329
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

feat: 支持终止发布
  apiserver/paasng/paasng/bk_plugins/pluginscenter/constants.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/client.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/open_apis/views.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/executor.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 添加灰度报告链接
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add migration
  apiserver/paasng/paasng/bk_plugins/pluginscenter/migrations/0025_auto_20240827_1624.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: improve readability of DeploymentDeclarativeController
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v2/test_deployment.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_deployment.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
