Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

cnative: support svc_discovery field by writing ConfigMap
  apiserver/paasng/paas_wl/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/svc_disc.py
  apiserver/paasng/paas_wl/resources/base/kres.py
  apiserver/paasng/paasng/engine/deploy/release/operator.py
  apiserver/paasng/paasng/extensions/declarative/deployment/svc_disc.py
  apiserver/paasng/tests/api/apigw/test_cnative.py
  apiserver/paasng/tests/extensions/declarative/test_deployment.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_models.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_svc_disc.py
  apiserver/paasng/tests/paas_wl/cnative/specs/utils.py
Due: isort, black, flake8, mypy-apiserver

Add svcdisc module to handle service discovery
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/svcdisc/configmap.go
  operator/pkg/controllers/svcdisc/configmap_test.go
  operator/pkg/controllers/svcdisc/svcdisc_suite_test.go
Due: operator-lint

Fix review comments.
  apiserver/paasng/paas_wl/cnative/specs/svc_disc.py
  apiserver/paasng/paasng/engine/deploy/release/operator.py
  operator/README.md
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/svcdisc/configmap.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

Add Configmap RBAC role
  operator/Makefile
  operator/config/rbac/role.yaml
  operator/controllers/bkapp_controller.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/svcdisc/configmap.go
  operator/pkg/controllers/svcdisc/configmap_test.go
Due: operator-lint

Add svc-discovery feature for cloud-native applications(env vars only) (#582)
  apiserver/paasng/paas_wl/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/svc_disc.py
  apiserver/paasng/paas_wl/resources/base/kres.py
  apiserver/paasng/paasng/engine/deploy/release/operator.py
  apiserver/paasng/paasng/extensions/declarative/deployment/svc_disc.py
  apiserver/paasng/tests/api/apigw/test_cnative.py
  apiserver/paasng/tests/extensions/declarative/test_deployment.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_models.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_svc_disc.py
  apiserver/paasng/tests/paas_wl/cnative/specs/utils.py
  operator/Makefile
  operator/README.md
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/config/rbac/role.yaml
  operator/controllers/bkapp_controller.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/svcdisc/configmap.go
  operator/pkg/controllers/svcdisc/configmap_test.go
  operator/pkg/controllers/svcdisc/svcdisc_suite_test.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

refactor: 根据新规范调整运行时的资源地址
  apiserver/init.sh
Due: none

refactor: 根据新规范调整运行时的资源地址 (#585)
  apiserver/init.sh
Due: none

refactor: 根据新规范调整运行时的资源地址 (#586)
  apiserver/init.sh
Due: none

fix: 修复 nodejs 运行时配置写错的问题
  apiserver/init.sh
Due: none

feat: 修改用户管理访问入口链接
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
Due: none

fix: 添加注释
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
Due: none

fix: 访问管理根据url定位tab (#588)
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
Due: none

fix: 插件审批阶段
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/comps/itsm-info-item.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/comps/status-bar.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/itsm.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: 优化代码，映射数据抽取
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/comps/itsm-info-item.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/itsm.vue
Due: none

fix: 修复 nodejs 运行时配置写错的问题 (#587)
  apiserver/init.sh
Due: none

fix: 插件审批阶段 (#583)
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/comps/itsm-info-item.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/comps/status-bar.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/itsm.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

feat: 添加配置环境相关
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: add feature
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: delete url moduleid
  webfe/package_vue/src/router/index.js
Due: none

fix: fix url (#590)
  webfe/package_vue/src/router/index.js
Due: none

enhance: 完善对 CNB 构建方式的支持能力
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/entities.py
  apiserver/paasng/paas_wl/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/platform/applications/migrations/0010_auto_20230527_1208.py
  apiserver/paasng/paas_wl/platform/applications/migrations/0016_auto_20230717_1958.py
  apiserver/paasng/paas_wl/platform/applications/models/__init__.py
  apiserver/paasng/paas_wl/platform/applications/models/build.py
  apiserver/paasng/paas_wl/platform/applications/models/config.py
  apiserver/paasng/paas_wl/release_controller/hooks/entities.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paas_wl/workloads/processes/entities.py
  apiserver/paasng/paas_wl/workloads/processes/shim.py
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/paasng/engine/deploy/release/operator.py
  apiserver/paasng/paasng/engine/exceptions.py
  apiserver/paasng/paasng/engine/utils/patcher.py
  apiserver/paasng/paasng/engine/utils/source.py
  apiserver/paasng/paasng/extensions/smart_app/patcher.py
  apiserver/paasng/tests/paas_wl/cnative/specs/procs/test_procs.py
Due: isort, black, flake8, mypy-apiserver

feature: Operator 支持运行 cnb 运行时的镜像
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/reconcilers/hooks_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/svcdisc/configmap_test.go
Due: operator-lint

refactor with discussion
  apiserver/paasng/paas_wl/cnative/specs/entities.py
  apiserver/paasng/paasng/engine/utils/patcher.py
  operator/pkg/controllers/reconcilers/hooks_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/hooks_test.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

enhance: 完善对 CNB 构建方式的支持能力 (#584)
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/entities.py
  apiserver/paasng/paas_wl/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/platform/applications/migrations/0010_auto_20230527_1208.py
  apiserver/paasng/paas_wl/platform/applications/migrations/0016_auto_20230717_1958.py
  apiserver/paasng/paas_wl/platform/applications/models/__init__.py
  apiserver/paasng/paas_wl/platform/applications/models/build.py
  apiserver/paasng/paas_wl/platform/applications/models/config.py
  apiserver/paasng/paas_wl/release_controller/hooks/entities.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paas_wl/workloads/processes/entities.py
  apiserver/paasng/paas_wl/workloads/processes/shim.py
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/paasng/engine/deploy/release/operator.py
  apiserver/paasng/paasng/engine/exceptions.py
  apiserver/paasng/paasng/engine/utils/patcher.py
  apiserver/paasng/paasng/engine/utils/source.py
  apiserver/paasng/paasng/extensions/smart_app/patcher.py
  apiserver/paasng/tests/paas_wl/cnative/specs/procs/test_procs.py
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/reconcilers/hooks_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/controllers/svcdisc/configmap_test.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

feat: 完善功能
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

feat: 完成进程配置相关改动
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: 功能完善
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: delete isEdit
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

refactor: minor
  apiserver/paasng/paas_wl/cnative/specs/migrations/0004_configmapsource_mount.py
  apiserver/paasng/paas_wl/cnative/specs/models/__init__.py
  apiserver/paasng/paas_wl/cnative/specs/models/app_resource.py
  apiserver/paasng/paas_wl/cnative/specs/models/mount.py
  apiserver/paasng/paas_wl/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/cnative/specs/resource.py
  apiserver/paasng/paas_wl/resources/base/kres.py
  apiserver/paasng/paasng/engine/deploy/release/operator.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_models.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_mounts.py
Due: isort, black, flake8, mypy-apiserver

fix typo
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/processes.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/proc_spec.py
Due: isort, black, flake8, mypy-apiserver

fix typo
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/processes.html
Due: none

fix: 修复 nodejs 运行时配置写错的问题 (#589)
  apiserver/init.sh
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/processes.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/proc_spec.py
Due: isort, black, flake8, mypy-apiserver

build: update bkpaas-auth to version 2.0.5
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

fix: 403无权限处理(待联调)
  webfe/package_vue/src/api/index.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/error-pages/403.vue
Due: none

fix: 修复云原生应用未填充 wl_app metadata 信息
  apiserver/paasng/paasng/cnative/services.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复云原生应用未填充 wl_app metadata 信息 (#593)
  apiserver/paasng/paasng/cnative/services.py
Due: isort, black, flake8, mypy-apiserver

build: update bkpaas-auth to version 2.0.5 (#592)
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

fix: 403无权限处理 (#594)
  webfe/package_vue/src/api/index.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/error-pages/403.vue
Due: none
