Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

feat: update BkAppResource model to support cnative autoscaling (#376)
  apiserver/paasng/paas_wl/cnative/specs/v1alpha1/bk_app.py
  apiserver/paasng/paas_wl/workloads/autoscaling/constants.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_models.py
Due: isort, black, flake8, mypy-apiserver

minor: update Readme.md
  bkpaas-cli/Readme.md
  bkpaas-cli/cmd/login/login.go
Due: none

feat: support login by bkTicket and AccessToken (#377)
  bkpaas-cli/Readme.md
  bkpaas-cli/cmd/login/login.go
  bkpaas-cli/pkg/account/account.go
  bkpaas-cli/pkg/account/account_test.go
  bkpaas-cli/pkg/apiresources/apigw_mock.go
Due: none

fix: fix bugs
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

fix: close connection for subscriber actively
  apiserver/paasng/paasng/engine/streaming/views.py
Due: isort, black, flake8, mypy-apiserver

refactor: use closing to finally close subscriber
  apiserver/paasng/paasng/engine/streaming/views.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
Due: isort, black, flake8, mypy-apiserver

fix: 创建插件删除更多信息
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: none

refactor: minor
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
Due: isort, black, flake8, mypy-apiserver

refactor: minor
  apiserver/paasng/paasng/engine/streaming/views.py
Due: isort, black, flake8, mypy-apiserver

fix: close connection for subscriber actively (#379)
  apiserver/paasng/paasng/engine/streaming/views.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
Due: isort, black, flake8, mypy-apiserver

fix: 创建插件删除更多信息 (#380)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: none

feat: use github action build binary
  .github/workflows/release-cli.yml
  bkpaas-cli/Makefile
Due: none

fix: solve cnative process can't stop
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
Due: isort, black, flake8, mypy-apiserver

fix: solve can't stop cnative process problem (#381)
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复下架应用操作记录
  apiserver/paasng/paasng/platform/operations/models.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复下架应用操作记录 (#382)
  apiserver/paasng/paasng/platform/operations/models.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复调整实例后不发起监听的bug
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

refactor: resolve review issues
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/constants.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/metric_label.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/monitoring/alert_rules/conftest.py
  apiserver/paasng/tests/monitoring/alert_rules/test_api.py
  apiserver/paasng/tests/monitoring/alert_rules/test_manager.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复调整实例后不发起监听的bug (#383)
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

perf: pretty get-info display result
  bkpaas-cli/go.mod
  bkpaas-cli/go.sum
  bkpaas-cli/pkg/handler/fetch.go
  bkpaas-cli/pkg/model/info.go
Due: none

perf: pretty get info display result (#384)
  bkpaas-cli/go.mod
  bkpaas-cli/go.sum
  bkpaas-cli/pkg/handler/fetch.go
  bkpaas-cli/pkg/model/info.go
Due: none

fix: exempt owner after create app in filters
  apiserver/paasng/paasng/accessories/iam/permissions/resources/application.py
Due: isort, black, flake8, mypy-apiserver

fix: exempt owner after create app in filters (#385)
  apiserver/paasng/paasng/accessories/iam/permissions/resources/application.py
Due: isort, black, flake8, mypy-apiserver

云原生应用注入 PA 相关的 annotation
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  operator/api/v1alpha1/projectconfig_types.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
Due: operator-lint

minor: operator 允许在 operator 中关闭 PA(集群维度的开关)
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/main.go
  operator/pkg/controllers/resources/ingress_plugins.go
Due: operator-lint

feature: 云原生应用支持开启 PA(数据统计); enhance: operator 支持关闭 PA 功能(集群维度) (#327)
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/main.go
  operator/pkg/controllers/resources/ingress_plugins.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

feat: add oomkilled & pod_restart & high_rabbitmq_queues alert and re… (#365)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/client.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_mem_usage.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_rabbitmq_queue_messages.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/oom_killed.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/pod_restart.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/__init__.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/app_rule.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/constants.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/generator.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/metric_label.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/manager.py
  apiserver/paasng/paasng/monitoring/monitor/urls.py
  apiserver/paasng/paasng/monitoring/monitor/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/monitoring/alert_rules/conftest.py
  apiserver/paasng/tests/monitoring/alert_rules/test_api.py
  apiserver/paasng/tests/monitoring/alert_rules/test_manager.py
Due: isort, black, flake8, mypy-apiserver

refactor: 调整 get_processes 的返回值结构; Deployment 增加记录 processes 的字段
  apiserver/paasng/paas_wl/resources/actions/archive.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/image_release.py
  apiserver/paasng/paasng/engine/deploy/release.py
  apiserver/paasng/paasng/engine/deploy/start.py
  apiserver/paasng/paasng/engine/migrations/0013_auto_20230417_1113.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/utils/source.py
  apiserver/paasng/paasng/engine/workflow/protections.py
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
  apiserver/paasng/paasng/extensions/declarative/models.py
  apiserver/paasng/paasng/extensions/smart_app/patcher.py
  apiserver/paasng/paasng/platform/modules/models/__init__.py
  apiserver/paasng/paasng/utils/validators.py
  apiserver/paasng/tests/engine/configurations/test_config_var.py
  apiserver/paasng/tests/engine/deploy/test_release.py
  apiserver/paasng/tests/engine/setup_utils.py
  apiserver/paasng/tests/engine/utils/test_source.py
  apiserver/paasng/tests/engine/workflow/test_flow.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/engine/utils/source.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/paasng/engine/models/deployment.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/image_release.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/models/processes.py
  apiserver/paasng/paasng/engine/utils/source.py
  apiserver/paasng/paasng/extensions/declarative/models.py
  apiserver/paasng/paasng/utils/validators.py
  apiserver/paasng/tests/engine/deploy/test_release.py
  apiserver/paasng/tests/engine/utils/test_source.py
  apiserver/paasng/tests/paas_wl/networking/ingress/managers/test_misc.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_models.py
Due: isort, black, flake8, mypy-apiserver

refactor: 调整 get_processes 的返回值结构; Deployment 增加记录 processes 的字段 (#346)
  apiserver/paasng/paas_wl/resources/actions/archive.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/image_release.py
  apiserver/paasng/paasng/engine/deploy/release.py
  apiserver/paasng/paasng/engine/deploy/start.py
  apiserver/paasng/paasng/engine/migrations/0013_auto_20230417_1113.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/models/processes.py
  apiserver/paasng/paasng/engine/utils/source.py
  apiserver/paasng/paasng/engine/workflow/protections.py
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
  apiserver/paasng/paasng/extensions/declarative/models.py
  apiserver/paasng/paasng/extensions/smart_app/patcher.py
  apiserver/paasng/paasng/platform/modules/models/__init__.py
  apiserver/paasng/tests/engine/configurations/test_config_var.py
  apiserver/paasng/tests/engine/deploy/test_release.py
  apiserver/paasng/tests/engine/setup_utils.py
  apiserver/paasng/tests/engine/utils/test_source.py
  apiserver/paasng/tests/engine/workflow/test_flow.py
  apiserver/paasng/tests/paas_wl/networking/ingress/managers/test_misc.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_models.py
Due: isort, black, flake8, mypy-apiserver

fix: 统一企业版header
  webfe/package_vue/src/components/paas-header.vue
Due: none

fix: failed hook can't block next version reconciler loop
  operator/README.md
  operator/pkg/controllers/reconcilers/revision.go
  operator/pkg/controllers/reconcilers/revision_test.go
  operator/pkg/controllers/resources/hooks.go
Due: operator-lint

fix:云原生添加数据统计
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

minor: update test data to reduce code duplication
  operator/pkg/controllers/reconcilers/deployments_test.go
  operator/pkg/controllers/reconcilers/revision_test.go
  operator/pkg/controllers/reconcilers/utils_test.go
Due: operator-lint

fix: 修复 drf views 中添加 csrf_exempt 无效问题
  apiserver/paasng/paasng/utils/middlewares.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 drf views 中添加 csrf_exempt 无效问题 (#389)
  apiserver/paasng/paasng/utils/middlewares.py
Due: isort, black, flake8, mypy-apiserver

feat: bkpaas-cli add `app list` command
  bkpaas-cli/Readme.md
  bkpaas-cli/cmd/app/app.go
  bkpaas-cli/cmd/app/list.go
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/apiresources/apigw_mock.go
  bkpaas-cli/pkg/apiresources/types.go
  bkpaas-cli/pkg/handler/list.go
  bkpaas-cli/pkg/handler/list_test.go
  bkpaas-cli/pkg/handler/retrieve.go
  bkpaas-cli/pkg/handler/retrieve_test.go
  bkpaas-cli/pkg/model/items.go
  bkpaas-cli/pkg/model/types.go
Due: none

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
