Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

feat: 增强服务多租户改造与平台管理接口
  apiserver/paasng/tests/paasng/platform/mgrlegacy/test_service_migration.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add list available clusters api
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/policies.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 服务回收
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/service.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/app/services/comps/recycle-sideslider.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

feat: 敏感字段验证查看 # Reviewed, transaction id: 29011
  webfe/package_vue/src/components/verification-code-dialog/index.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/service.js
  webfe/package_vue/src/views/dev-center/app/services/comps/recycle-sideslider.vue
Due: none

fix: plat_mgt cluster api unittest
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/conftest.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: delete residual env resources (#1867)
  apiserver/paasng/paas_wl/bk_app/deploy/actions/delete.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整
  apiserver/paasng/paas_wl/bk_app/cnative/specs/migrations/0009_configmapsource_use_sub_path.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/mount.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整
  operator/api/v1alpha2/volumes.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
Due: operator-lint

fix: 调整
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 国际化补充 # Reviewed, transaction id: 29065
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/main.js
Due: none

fix: 调整
  apiserver/paasng/paas_wl/bk_app/cnative/specs/migrations/0009_configmapsource_use_sub_path.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/mount.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #1870 conversations
  apiserver/paasng/paas_wl/infras/resources/base/bcs/client.py
  apiserver/paasng/paasng/infras/bcs/client.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/policies.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/bcs_resources.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/policies.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #1870 conversations
  apiserver/paasng/paasng/infras/bcs/client.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/bcs_resources.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add list bcs projects & clusters api (#1870)
  apiserver/paasng/paas_wl/infras/resources/base/bcs/client.py
  apiserver/paasng/paasng/infras/bcs/__init__.py
  apiserver/paasng/paasng/infras/bcs/apigw/__init__.py
  apiserver/paasng/paasng/infras/bcs/apigw/client.py
  apiserver/paasng/paasng/infras/bcs/client.py
  apiserver/paasng/paasng/infras/bcs/entities.py
  apiserver/paasng/paasng/infras/bcs/exceptions.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/bcs_resources.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/policies.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/bcs_resources.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/policies.py
  apiserver/paasng/tests/api/plat_mgt/infras/bcs_resources/__init__.py
  apiserver/paasng/tests/api/plat_mgt/infras/bcs_resources/test_bcs_resources.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add list available clusters api (#1876)
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/policies.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/conftest.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: i18n error
  apiserver/paasng/paasng/misc/audit/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: django .po
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

fix: resolve #1874 conversations
  apiserver/paasng/paasng/core/tenant/views.py
  apiserver/paasng/paasng/infras/bk_user/client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add list tenants api (#1874)
  apiserver/paasng/.importlinter
  apiserver/paasng/paasng/core/tenant/serializers.py
  apiserver/paasng/paasng/core/tenant/urls.py
  apiserver/paasng/paasng/core/tenant/views.py
  apiserver/paasng/paasng/infras/bk_user/__init__.py
  apiserver/paasng/paasng/infras/bk_user/apigw/__init__.py
  apiserver/paasng/paasng/infras/bk_user/apigw/client.py
  apiserver/paasng/paasng/infras/bk_user/client.py
  apiserver/paasng/paasng/infras/bk_user/entities.py
  apiserver/paasng/paasng/infras/bk_user/exceptions.py
  apiserver/paasng/paasng/infras/perm_insure/conf.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/api/core/__init__.py
  apiserver/paasng/tests/api/core/tenant/__init__.py
  apiserver/paasng/tests/api/core/tenant/test_tenant.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: change "S-Mart" to "S-mart"
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/platform/smart_app/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant_id field to environments app.
  apiserver/paasng/paasng/platform/environments/migrations/0002_envroleprotection_tenant_id.py
  apiserver/paasng/paasng/platform/environments/models.py
  apiserver/paasng/paasng/platform/environments/utils.py
  apiserver/paasng/paasng/platform/environments/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: implement tenant_id field factory for multi-tenancy support
  apiserver/paasng/paas_wl/bk_app/applications/models/app.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/models.py
  apiserver/paasng/paasng/accessories/ci/models.py
  apiserver/paasng/paasng/core/tenant/fields.py
  apiserver/paasng/paasng/infras/oauth2/models.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/engine/models/base.py
  apiserver/paasng/paasng/platform/engine/models/config_var.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/paasng/platform/engine/models/mobile_config.py
  apiserver/paasng/paasng/platform/engine/models/offline.py
  apiserver/paasng/paasng/platform/engine/models/phases.py
  apiserver/paasng/paasng/platform/engine/models/preset_envvars.py
  apiserver/paasng/paasng/platform/engine/models/steps.py
  apiserver/paasng/paasng/platform/environments/models.py
  apiserver/paasng/paasng/platform/evaluation/models.py
  apiserver/paasng/paasng/platform/modules/models/build_cfg.py
  apiserver/paasng/paasng/platform/modules/models/module.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant_id field to bkapp_model app.
  apiserver/paasng/paasng/accessories/ci/migrations/0003_ciatomjob_tenant_id_and_more.py
  apiserver/paasng/paasng/accessories/ci/models.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/proc_env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/managers.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0018_bkappmanagedfields_tenant_id_and_more.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant_id field to applications app and update related code
  apiserver/paasng/paas_wl/workloads/networking/ingress/managers/misc.py
  apiserver/paasng/paasng/accessories/ci/handlers.py
  apiserver/paasng/paasng/platform/applications/migrations/0017_applicationdeploymentmoduleorder_tenant_id_and_more.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/bkapp_model/services.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/smart_app/views.py
  apiserver/paasng/tests/paasng/platform/mgrlegacy/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant_id field to evaluation app.
  apiserver/paasng/paasng/platform/evaluation/migrations/0005_idleappnotificationmuterule_tenant_id.py
  apiserver/paasng/paasng/platform/evaluation/models.py
  apiserver/paasng/paasng/platform/evaluation/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant_id field to oauth2 app.
  apiserver/paasng/paasng/accessories/app_secret/views.py
  apiserver/paasng/paasng/infras/oauth2/migrations/0003_bkappsecretinenvvar_tenant_id.py
  apiserver/paasng/paasng/infras/oauth2/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant_id field to modules field.
  apiserver/paasng/paas_wl/workloads/networking/ingress/models.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/modules/migrations/0018_buildconfig_tenant_id.py
  apiserver/paasng/paasng/platform/modules/models/build_cfg.py
  apiserver/paasng/paasng/platform/modules/models/deploy_config.py
  apiserver/paasng/paasng/platform/modules/models/module.py
  apiserver/paasng/paasng/platform/modules/models/runtime.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant_id field to engine app.
  apiserver/paasng/paasng/bk_plugins/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/env_vars.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/proc_env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/services.py
  apiserver/paasng/paasng/platform/engine/deploy/archive/base.py
  apiserver/paasng/paasng/platform/engine/deploy/start.py
  apiserver/paasng/paasng/platform/engine/migrations/0024_configvar_tenant_id_deployment_tenant_id_and_more.py
  apiserver/paasng/paasng/platform/engine/models/base.py
  apiserver/paasng/paasng/platform/engine/models/config_var.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/paasng/platform/engine/models/mobile_config.py
  apiserver/paasng/paasng/platform/engine/models/offline.py
  apiserver/paasng/paasng/platform/engine/models/phases.py
  apiserver/paasng/paasng/platform/engine/models/preset_envvars.py
  apiserver/paasng/paasng/platform/engine/models/steps.py
  apiserver/paasng/paasng/platform/engine/phases_steps/phases.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/envs_base.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/service_mysql.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/service_rabbitmq.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/paasng/platform/engine/phases_steps/test_steps.py
  apiserver/paasng/tests/paasng/platform/engine/setup_utils.py
  apiserver/paasng/tests/paasng/platform/mgrlegacy/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: use get_values() instead of get_choices()
  apiserver/paasng/paasng/platform/engine/management/commands/deploy_bkapp.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: change "S-Mart" to "S-mart" (#1879)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/platform/smart_app/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 文案样式调整 # Reviewed, transaction id: 29165
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/services/comps/recycle-sideslider.vue
Due: none

feat: 增强服务回收 (#1875)
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/verification-code-dialog/index.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/main.js
  webfe/package_vue/src/store/modules/service.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/app/services/comps/recycle-sideslider.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

fix: get_display_text
  apiserver/paasng/paasng/misc/audit/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: paas-service version in pyproject.toml (#1849)
  svc-bkrepo/poetry.lock
  svc-bkrepo/pyproject.toml
  svc-mysql/poetry.lock
  svc-mysql/pyproject.toml
  svc-otel/poetry.lock
  svc-otel/pyproject.toml
  svc-rabbitmq/poetry.lock
  svc-rabbitmq/pyproject.toml
Due: none

fix: 调整
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update ModuleNameField
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/platform/modules/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: django.po
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

fix: update ModuleNameField (#1880)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/platform/modules/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
