Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run pflake8 --config=pyproject.toml

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./mypy.ini"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 社区版初始化增加内置用户 bk_paas3
  apiserver/init.sh
Due: none

feat: support prometheus as app resource metric data source
  workloads/paas_wl/conf.yaml.tpl
  workloads/paas_wl/paas_wl/cluster/constants.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/client.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/__init__.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/base.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/bkmonitor.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/prometheus.py
  workloads/paas_wl/paas_wl/monitoring/metrics/constants.py
  workloads/paas_wl/paas_wl/monitoring/metrics/models.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/settings/__init__.py
  workloads/paas_wl/tests/monitoring/metrics/test_client.py
Due: isort, black, flake8, mypy-workloads

style: fix mypy in workloads
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/engine/controller/models.py
  apiserver/paasng/paasng/settings/utils.py
  workloads/paas_wl/paas_wl/cluster/constants.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/bkmonitor.py
  workloads/paas_wl/paas_wl/monitoring/metrics/models.py
  workloads/paas_wl/paas_wl/networking/ingress/management/commands/patch_legacy_ingresses.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/base.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/misc.py
  workloads/paas_wl/paas_wl/platform/applications/models/release.py
  workloads/paas_wl/paas_wl/platform/system_api/serializers.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/release_controller/builder/executor.py
  workloads/paas_wl/paas_wl/settings/utils.py
  workloads/paas_wl/tests/utils/app.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Enhance: when deploy cnative app, validate first, get image credentials later
  workloads/paas_wl/paas_wl/cnative/specs/views_enduser.py
Due: isort, black, flake8, mypy-workloads

fix: 云原生应用国际化修复， message国际化修复
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-version.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-yaml.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/comps/deploy-action/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: 云原生应用-应用编排的帮助文档跳转404
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 增强服务-数据存储，云原生应用跳转问题修复
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

fix: 部署管理页面报错修复；概览页loading不消失bug修复
  webfe/package_vue/src/views/dev-center/app/engine/deployment/comps/deploy-action/index.vue
  webfe/package_vue/src/views/dev-center/app/summary/index.vue
Due: none

minor: 统一 Memory/CPU 的默认值单位为 Mi/m (#202)
  apiserver/init.sh
  operator/api/v1alpha1/bkapp_webhook_test.go
  operator/api/v1alpha1/projectconfig_types.go
  operator/config/samples/paas_v1alpha1_projectconfig.yaml
  operator/pkg/controllers/resources/deployment_test.go
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: operator-lint

minor: update comments
  operator/Dockerfile-Dev
  operator/Makefile
Due: operator-lint

chore: add Dockerfile-Dev for run unittest or debug (#198)
  operator/Dockerfile-Dev
  operator/Makefile
  operator/config/certmanager/kustomizeconfig.yaml
  operator/controllers/domaingroupmapping_controller.go
Due: operator-lint

fix: 修复云原生应用无法查询访问日志的问题
  apiserver/paasng/paasng/platform/log/filters.py
  apiserver/paasng/paasng/settings/utils.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复云原生应用无法查询访问日志的问题 (#207)
  apiserver/paasng/paasng/platform/log/filters.py
  apiserver/paasng/paasng/settings/utils.py
Due: isort, black, flake8, mypy-apiserver

fix: 临时修复应用概览页无法打开的问题
  apiserver/paasng/paasng/engine/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 临时修复应用概览页无法打开的问题 (#208)
  apiserver/paasng/paasng/engine/views.py
Due: isort, black, flake8, mypy-apiserver

云原生应用提单修复；部署管理提单修复 (#205)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-version.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-yaml.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/comps/deploy-action/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
  webfe/package_vue/src/views/dev-center/app/summary/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

update poetry to 1.3.2
  workloads/Dockerfile
Due: none

update poetry to 1.3.2
  workloads/Dockerfile
  workloads/dev_utils/unittest/Dockerfile.devops.unittest
Due: none

style: upgrade linters(flake8 & mypy) and fix linters issues for workloads
  workloads/.flake8
  workloads/paas_wl/paas_wl/admin/helpers.py
  workloads/paas_wl/paas_wl/cluster/constants.py
  workloads/paas_wl/paas_wl/cluster/loaders.py
  workloads/paas_wl/paas_wl/monitoring/metrics/models.py
  workloads/paas_wl/paas_wl/networking/ingress/addrs.py
  workloads/paas_wl/paas_wl/networking/ingress/management/commands/patch_legacy_ingresses.py
  workloads/paas_wl/paas_wl/networking/ingress/management/commands/refresh_cert.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/base.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/domain.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/misc.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/subpath.py
  workloads/paas_wl/paas_wl/networking/ingress/serializers.py
  workloads/paas_wl/paas_wl/platform/applications/management/commands/delete_slug.py
  workloads/paas_wl/paas_wl/platform/applications/models/release.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/release_controller/builder/executor.py
  workloads/paas_wl/paas_wl/release_controller/builder/procedures.py
  workloads/paas_wl/paas_wl/release_controller/process/events.py
  workloads/paas_wl/paas_wl/resources/actions/deploy.py
  workloads/paas_wl/paas_wl/resources/base/controllers.py
  workloads/paas_wl/paas_wl/resources/base/kres.py
  workloads/paas_wl/paas_wl/resources/base/kube_client.py
  workloads/paas_wl/paas_wl/settings/utils.py
  workloads/paas_wl/paas_wl/utils/kubestatus.py
  workloads/paas_wl/paas_wl/utils/local.py
  workloads/paas_wl/paas_wl/utils/models.py
  workloads/paas_wl/paas_wl/workloads/processes/views_enduser.py
  workloads/paas_wl/tests/cluster/test_commands.py
  workloads/paas_wl/tests/cluster/test_loader.py
  workloads/paas_wl/tests/e2e/ingress/utils.py
  workloads/paas_wl/tests/networking/ingress/managers/test_https.py
  workloads/paas_wl/tests/resources/actions/test_deploy.py
  workloads/paas_wl/tests/resources/base/test_kres.py
  workloads/paas_wl/tests/utils/app.py
  workloads/paas_wl/tests/workloads/processes/test_wait.py
  workloads/poetry.lock
  workloads/pyproject.toml
Due: isort, black, flake8, mypy-workloads

style: fix linters issue in MacOS for apiserver
  apiserver/paasng/paasng/settings/utils.py
Due: isort, black, flake8, mypy-apiserver

docs: update CONTRIBUTING.md
  README.md
  docs/CONTRIBUTING.md
Due: none

docs: update CONTRIBUTING.md (#197)
  README.md
  docs/CONTRIBUTING.md
  docs/faq/deploy-paas.md
  docs/install/develop_guide.md
  docs/overview/architecture.md
  docs/release.md
  readme_en.md
Due: none

feat: enable delete iam grade manager
  apiserver/paasng/paasng/accessories/iam/apigw/client.py
  apiserver/paasng/paasng/accessories/iam/client.py
  apiserver/paasng/paasng/accessories/iam/helpers.py
  apiserver/paasng/paasng/platform/applications/management/commands/create_3rd_party_apps.py
Due: isort, black, flake8, mypy-apiserver

feat: enable cnative app document management style: change app voucher to image credential
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/credential.js
  webfe/package_vue/src/views/dev-center/app/basic-config/image-credential/create.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/image-credential/index.vue
  webfe/package_vue/src/views/dev-center/app/docu-management/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-version.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

style: fix missed document management border-bottom
  webfe/package_vue/src/views/dev-center/app/docu-management/index.vue
Due: none

feat: enable cnative app document management (#211)
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/credential.js
  webfe/package_vue/src/views/dev-center/app/basic-config/image-credential/create.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/image-credential/index.vue
  webfe/package_vue/src/views/dev-center/app/docu-management/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-version.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

minor: enable cnative appPermissions
  apiserver/paasng/paasng/cnative/constants.py
  apiserver/paasng/paasng/cnative/views.py
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: isort, black, flake8, mypy-apiserver

fix: 访问日志查询筛选功能的高度太低
  webfe/package_vue/src/views/dev-center/app/engine/log/access-log.vue
Due: none

fix: 访问日志查询筛选功能的高度太低 (#213)
  webfe/package_vue/src/views/dev-center/app/engine/log/access-log.vue
Due: none

fix: 修复 esb 调用 bk_monitor bug
  apiserver/paasng/paasng/accessories/bkmonitorv3/client.py
  svc-otel/poetry.lock
  svc-otel/svc_otel/bkmonitorv3/client.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 esb 调用 bk_monitor bug (#214)
  apiserver/paasng/paasng/accessories/bkmonitorv3/client.py
  svc-otel/poetry.lock
  svc-otel/svc_otel/bkmonitorv3/client.py
Due: isort, black, flake8, mypy-apiserver

minr: 调整 dbrouter
  apiserver/paasng/paasng/platform/core/storages/dbrouter.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/platform/core/storages/dbrouter.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/settings/workloads.py
Due: isort, black, flake8, mypy-apiserver

refactor: 将 networking.ingress App的名称从 services 重命名为 ingress, 以避免与 apiserver 的增强服务模块重名冲突; 调整应用健康探针的配置方式
  workloads/paas_wl/paas_wl/networking/ingress/apps.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0001_initial.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0002_appsubpath.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0003_auto_20211020_1556.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0004_auto_20220331_1058.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0005_auto_20221212_1810.py
  workloads/paas_wl/paas_wl/networking/ingress/models.py
  workloads/paas_wl/paas_wl/workloads/resource_templates/components/probe.py
  workloads/paas_wl/paas_wl/workloads/resource_templates/utils.py
  workloads/paas_wl/tests/workloads/resource_templates/test_addons.py
Due: isort, black, flake8, mypy-workloads

fix: 修复 paas_wl 会要求重新执行 paas_wl.networking.ingress 下的 migrations 的问题
  workloads/paas_wl/paas_wl/networking/ingress/apps.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0001_initial.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0002_appsubpath.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0003_auto_20211020_1556.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0004_auto_20220331_1058.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0005_auto_20221212_1810.py
Due: isort, black, flake8, mypy-workloads

add kubernetes==24.2.0
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

fix: 修复 migrations 冲突问题
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0001_initial.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0002_appsubpath.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0003_auto_20211020_1556.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0004_auto_20220331_1058.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0005_auto_20221212_1810.py
  workloads/paas_wl/paas_wl/settings/__init__.py
Due: isort, black, flake8, mypy-workloads

refactor with discussion
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0001_initial.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0002_appsubpath.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0003_auto_20211020_1556.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0004_auto_20220331_1058.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0005_auto_20221212_1810.py
  workloads/paas_wl/paas_wl/settings/__init__.py
Due: isort, black, flake8, mypy-workloads

feature: 添加 dbrouter 和 paas_wl 项目的软链接, 支持直接使用 paas_wl 项目的代码
  apiserver/paasng/paas_wl
  apiserver/paasng/paasng/platform/core/storages/dbrouter.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
