Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

refactor: move workloads admin api, image api, egress api to apiserver (#220)
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/egress_gateway.py
  apiserver/paasng/paasng/service_proxy/views.py
  workloads/paas_wl/paas_wl/admin/views/certs.py
  workloads/paas_wl/paas_wl/admin/views/clusters.py
  workloads/paas_wl/paas_wl/admin/views/domain.py
  workloads/paas_wl/paas_wl/admin/views/processes.py
  workloads/paas_wl/paas_wl/cluster/urls.py
  workloads/paas_wl/paas_wl/cluster/views.py
  workloads/paas_wl/paas_wl/cnative/specs/urls.py
  workloads/paas_wl/paas_wl/cnative/specs/views.py
  workloads/paas_wl/paas_wl/networking/egress/urls.py
  workloads/paas_wl/paas_wl/networking/egress/views.py
  workloads/paas_wl/paas_wl/networking/egress/views_enduser.py
  workloads/paas_wl/paas_wl/networking/ingress/serializers.py
  workloads/paas_wl/paas_wl/networking/ingress/urls.py
  workloads/paas_wl/paas_wl/networking/ingress/views.py
  workloads/paas_wl/paas_wl/urls.py
  workloads/paas_wl/paas_wl/workloads/images/models.py
  workloads/paas_wl/paas_wl/workloads/images/serializers.py
  workloads/paas_wl/paas_wl/workloads/images/urls.py
  workloads/paas_wl/paas_wl/workloads/images/views.py
  workloads/paas_wl/paas_wl/workloads/images/views_enduser.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Migrate all API calls in EngineDeployClient into local procedure (#221)
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/deploy/async_comps.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/deploy/release.py
  apiserver/paasng/paasng/engine/management/commands/inject_engineapp_metadata.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/models/processes.py
  apiserver/paasng/paasng/engine/processes/filters.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/engine/test_engine_svc.py
  apiserver/paasng/tests/utils/mocks/engine.py
  workloads/paas_wl/paas_wl/cnative/specs/addresses.py
  workloads/paas_wl/paas_wl/platform/api.py
  workloads/paas_wl/paas_wl/platform/applications/models/config.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Move build/deploy related API from workloads service to module (#217)
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/deploy/async_comps.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/deploy/preparations.py
  apiserver/paasng/paasng/engine/deploy/release.py
  apiserver/paasng/paasng/engine/models/base.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/monitoring.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/tests/engine/test_monitoring.py
  apiserver/paasng/tests/utils/mocks/engine.py
  workloads/paas_wl/paas_wl/platform/applications/models/app.py
  workloads/paas_wl/paas_wl/platform/applications/models/config.py
  workloads/paas_wl/paas_wl/platform/applications/struct_models.py
  workloads/paas_wl/paas_wl/platform/external/client.py
  workloads/paas_wl/paas_wl/platform/external/local.py
  workloads/paas_wl/paas_wl/platform/misc/probe.py
  workloads/paas_wl/paas_wl/release_controller/process/callbacks.py
  workloads/paas_wl/paas_wl/utils/redisdb.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Fix most of the tests under "engine" directory (#229)
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/engine/test_engine_svc.py
  apiserver/paasng/tests/engine/test_infras.py
  apiserver/paasng/tests/engine/test_preparations.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/platform/test_api.py
  workloads/paas_wl/paas_wl/platform/api.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

refactor: remove system api call when fetch app metrics (#231)
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/monitoring/__init__.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/__init__.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/crd/v1.yaml
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/crd/v1beta1.yaml
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/test_managers.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/test_utils.py
  apiserver/paasng/tests/paas_wl/monitoring/metrics/__init__.py
  apiserver/paasng/tests/paas_wl/monitoring/metrics/test_client.py
  apiserver/paasng/tests/paas_wl/monitoring/metrics/test_metric_manager.py
  apiserver/paasng/tests/paas_wl/utils/engine_app.py
  workloads/paas_wl/paas_wl/monitoring/app_monitor/managers.py
  workloads/paas_wl/paas_wl/monitoring/metrics/exceptions.py
  workloads/paas_wl/paas_wl/monitoring/metrics/models.py
  workloads/paas_wl/paas_wl/monitoring/metrics/shim.py
  workloads/paas_wl/paas_wl/platform/system_api/serializers.py
  workloads/paas_wl/paas_wl/platform/system_api/urls.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Migrate "app__delete" and 3 other API calls into local procedure call (#232)
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/models/base.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/models/managers.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/tests/engine/models/test_deployment.py
  apiserver/paasng/tests/paas_wl/platform/test_api.py
  apiserver/paasng/tests/paas_wl/release_controller/__init__.py
  apiserver/paasng/tests/paas_wl/release_controller/test_api.py
  apiserver/paasng/tests/utils/mocks/engine.py
  workloads/paas_wl/paas_wl/platform/api.py
  workloads/paas_wl/paas_wl/release_controller/api.py
  workloads/paas_wl/paas_wl/release_controller/builder/exceptions.py
  workloads/paas_wl/paas_wl/resources/actions/delete.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Refactor metadata related functions and fix some unit tests. (#224)
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/management/commands/inject_engineapp_metadata.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/engine/test_engine_svc.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/networking/test_api.py
  apiserver/paasng/tests/paas_wl/platform/__init__.py
  apiserver/paasng/tests/paas_wl/platform/test_api.py
  apiserver/paasng/tests/utils/helpers.py
  workloads/paas_wl/paas_wl/networking/api.py
  workloads/paas_wl/paas_wl/platform/api.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

fix: 国际化
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
Due: none

minor: resolve #234 conversations
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/engine/models/processes.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/clusters.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/egress_gateway.py
  apiserver/paasng/support-files/apigw/resources.yaml
  apiserver/paasng/tests/engine/models/test_deployment.py
  workloads/paas_wl/paas_wl/cluster/models.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/bkmonitor.py
  workloads/paas_wl/paas_wl/monitoring/metrics/constants.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/manager.py
  workloads/paas_wl/paas_wl/platform/api.py
  workloads/paas_wl/paas_wl/platform/applications/models/config.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

minor: resolve #234 conversations (#236)
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/engine/models/processes.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/clusters.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/egress_gateway.py
  apiserver/paasng/support-files/apigw/resources.yaml
  apiserver/paasng/tests/engine/models/test_deployment.py
  workloads/paas_wl/paas_wl/cluster/models.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/bkmonitor.py
  workloads/paas_wl/paas_wl/monitoring/metrics/constants.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/manager.py
  workloads/paas_wl/paas_wl/platform/api.py
  workloads/paas_wl/paas_wl/platform/applications/models/config.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

fix unittest
  workloads/paas_wl/paas_wl/platform/applications/apps.py
Due: isort, black, flake8, mypy-workloads

minor: resolve #238 conversations
  workloads/paas_wl/paas_wl/admin/views/processes.py
  workloads/paas_wl/paas_wl/cnative/specs/addresses.py
  workloads/paas_wl/paas_wl/platform/applications/handlers.py
  workloads/paas_wl/paas_wl/platform/applications/models/managers/app_metadata.py
  workloads/paas_wl/paas_wl/resources/actions/deploy.py
  workloads/paas_wl/paas_wl/resources/utils/basic.py
  workloads/paas_wl/paas_wl/settings/__init__.py
  workloads/paas_wl/paas_wl/workloads/processes/managers.py
  workloads/paas_wl/paas_wl/workloads/processes/models.py
  workloads/paas_wl/tests/utils/app.py
Due: isort, black, flake8, mypy-workloads

test: fix unittest in apiserver
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/utils/helpers.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/engine.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/egress_gateway.py
  apiserver/paasng/tests/dev_resources/servicehub/remote/test_manager.py
  apiserver/paasng/tests/paas_wl/cluster/test_shim.py
  workloads/paas_wl/paas_wl/cluster/shim.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

refactor with discussion
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/engine.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/tests/utils/mocks/engine.py
  apiserver/paasng/tests/utils/mocks/helper.py
  workloads/paas_wl/paas_wl/cluster/shim.py
  workloads/paas_wl/paas_wl/networking/api.py
  workloads/paas_wl/paas_wl/networking/ingress/addrs.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/manager.py
  workloads/paas_wl/paas_wl/workloads/processes/controllers.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

refactor: 代码检查功能重构
  apiserver/paasng/paasng/ci/clients/apigw.py
  apiserver/paasng/paasng/ci/clients/bk_ci.py
  apiserver/paasng/paasng/ci/clients/exceptions.py
  apiserver/paasng/paasng/ci/handlers.py
  webfe/package_vue/src/store/modules/devops-auth.js
Due: isort, black, flake8, mypy-apiserver

minor: update conf tpl
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/plat_admin/api_doc/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/tests/paas_wl/monitoring/metrics/test_metric_manager.py
  apiserver/paasng/tests/paas_wl/utils/wl_app.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_controllers.py
Due: isort, black, flake8, mypy-apiserver

test: fix unittest
  apiserver/paasng/tests/paas_wl/workloads/processes/test_controllers.py
Due: isort, black, flake8, mypy-apiserver

refactor: remove struct_models
  apiserver/paasng/tests/paas_wl/cnative/specs/conftest.py
  workloads/paas_wl/paas_wl/cnative/specs/models.py
  workloads/paas_wl/paas_wl/cnative/specs/resource.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/independent.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/manager.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/domain.py
  workloads/paas_wl/paas_wl/networking/ingress/models.py
  workloads/paas_wl/paas_wl/platform/applications/constants.py
  workloads/paas_wl/paas_wl/platform/applications/exceptions.py
  workloads/paas_wl/paas_wl/platform/applications/middlewares.py
  workloads/paas_wl/paas_wl/platform/applications/models/app.py
  workloads/paas_wl/paas_wl/platform/applications/permissions.py
  workloads/paas_wl/paas_wl/platform/applications/struct_models.py
  workloads/paas_wl/paas_wl/platform/external/local.py
  workloads/paas_wl/paas_wl/settings/__init__.py
  workloads/paas_wl/paas_wl/workloads/processes/controllers.py
  workloads/paas_wl/paas_wl/workloads/processes/views_enduser.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

add relationship.py
  workloads/paas_wl/paas_wl/platform/applications/relationship.py
Due: isort, black, flake8, mypy-workloads

refactor: remove struct_models (#242)
  apiserver/paasng/tests/paas_wl/cnative/specs/conftest.py
  workloads/paas_wl/paas_wl/cnative/specs/models.py
  workloads/paas_wl/paas_wl/cnative/specs/resource.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/independent.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/manager.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/domain.py
  workloads/paas_wl/paas_wl/networking/ingress/models.py
  workloads/paas_wl/paas_wl/platform/applications/constants.py
  workloads/paas_wl/paas_wl/platform/applications/exceptions.py
  workloads/paas_wl/paas_wl/platform/applications/middlewares.py
  workloads/paas_wl/paas_wl/platform/applications/models/app.py
  workloads/paas_wl/paas_wl/platform/applications/permissions.py
  workloads/paas_wl/paas_wl/platform/applications/relationship.py
  workloads/paas_wl/paas_wl/platform/applications/struct_models.py
  workloads/paas_wl/paas_wl/platform/external/local.py
  workloads/paas_wl/paas_wl/settings/__init__.py
  workloads/paas_wl/paas_wl/workloads/processes/controllers.py
  workloads/paas_wl/paas_wl/workloads/processes/views_enduser.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

minor: tidy settings config & update conf.tpl (#240)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/plat_admin/api_doc/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/tests/paas_wl/monitoring/metrics/test_metric_manager.py
  apiserver/paasng/tests/paas_wl/utils/wl_app.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_controllers.py
Due: isort, black, flake8, mypy-apiserver

Tiny updates on docstring
  apiserver/paasng/paasng/dev_resources/servicehub/remote/exceptions.py
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
Due: isort, black, flake8, mypy-apiserver

Refactor initialize_simple to simplify the code and remove unnecessary layers and serializers.
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/utils/helpers.py
  workloads/paas_wl/paas_wl/cnative/specs/serializers.py
  workloads/paas_wl/paas_wl/platform/api.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Tiny updates on EngineDeployClient docstring
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
Due: isort, black, flake8, mypy-apiserver

Refactor logs property of Deployment into get_all_logs function
  apiserver/paasng/paasng/accessories/smart_advisor/tagging.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
  apiserver/paasng/tests/accessories/test_tagging.py
Due: isort, black, flake8, mypy-apiserver

Remove STREAM_CHANNEL_REDIS_URL config entry
  apiserver/paasng/paasng/settings/workloads.py
  workloads/paas_wl/paas_wl/release_controller/builder/tasks.py
  workloads/paas_wl/paas_wl/release_controller/process/handlers.py
  workloads/paas_wl/paas_wl/resources/tasks.py
  workloads/paas_wl/paas_wl/utils/redisdb.py
  workloads/paas_wl/tests/test_utils/test_main.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Fix typo: CLoudNativeParamsSLZ
  apiserver/paasng/paasng/platform/applications/serializers.py
Due: isort, black, flake8, mypy-apiserver

Modify get_live_addresses to remove late imports
  apiserver/paasng/paasng/publish/entrance/exposer.py
Due: isort, black, flake8, mypy-apiserver

Tiny enhancement on comments
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/platform/applications/serializers.py
Due: isort, black, flake8, mypy-apiserver

Refactor according the review comments (#241)
  apiserver/paasng/paasng/accessories/smart_advisor/tagging.py
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/dev_resources/servicehub/remote/exceptions.py
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/tests/accessories/test_tagging.py
  apiserver/paasng/tests/utils/helpers.py
  workloads/paas_wl/paas_wl/cnative/specs/serializers.py
  workloads/paas_wl/paas_wl/platform/api.py
  workloads/paas_wl/paas_wl/release_controller/builder/tasks.py
  workloads/paas_wl/paas_wl/release_controller/process/handlers.py
  workloads/paas_wl/paas_wl/resources/tasks.py
  workloads/paas_wl/paas_wl/utils/redisdb.py
  workloads/paas_wl/tests/test_utils/test_main.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads
