Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

feat:密码获取不需要验证码
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/paasng/infras/accounts/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat:密码获取不需要验证码
  apiserver/paasng/paasng/accessories/dev_sandbox/urls.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat:密码获取不需要验证码
  apiserver/paasng/paasng/accessories/dev_sandbox/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: send_idle_email_to_app_developer command support arg exclude_specified_users
  apiserver/paasng/paasng/platform/evaluation/management/commands/send_idle_email_to_app_developer.py
  apiserver/paasng/paasng/platform/evaluation/tasks.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: update operator README.md
  operator/README.md
Due: operator-lint

feat: send_idle_email_to_app_developer command support arg exclude_specified_users (#1699)
  apiserver/paasng/paasng/platform/evaluation/management/commands/send_idle_email_to_app_developer.py
  apiserver/paasng/paasng/platform/evaluation/tasks.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: 增强服务本地开发文档
  docs/resource/img/svc_spec.png
  svc-bkrepo/README.md
  svc-mysql/README.md
  svc-otel/README.md
  svc-rabbitmq/README.md
Due: none

docs: minor
  svc-bkrepo/README.md
  svc-mysql/README.md
  svc-rabbitmq/README.md
Due: none

docs: 修改 bkrepo 域名
  svc-bkrepo/README.md
Due: none

feat:获取进程列表，获取进程状态
  cnb-builder-shim/cmd/dev-launcher/cmd/launch.go
  cnb-builder-shim/cmd/dev-launcher/cmd/root.go
  cnb-builder-shim/cmd/dev-launcher/cmd/status.go
  cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl.go
  cnb-builder-shim/go.mod
  cnb-builder-shim/go.sum
  cnb-builder-shim/internal/devsandbox/phase/launcher.go
  cnb-builder-shim/internal/devsandbox/reload.go
  cnb-builder-shim/internal/devsandbox/status.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

fix: remove error operation audit
  apiserver/paasng/paas_wl/bk_app/monitoring/app_monitor/kres_slzs.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
  svc-rabbitmq/vendor/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: remove error operation audit (#1703)
  apiserver/paasng/paas_wl/bk_app/monitoring/app_monitor/kres_slzs.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
  svc-rabbitmq/vendor/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: deployment process list custom module order
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/urls.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat:沙箱定期回收 command
  apiserver/paasng/paasng/accessories/dev_sandbox/management/__init__.py
  apiserver/paasng/paasng/accessories/dev_sandbox/management/commands/__init__.py
  apiserver/paasng/paasng/accessories/dev_sandbox/management/commands/recycle_dev_sandbox.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:修复告警排序时， labels 为 None 导致的错误
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: alerts label may be None
  apiserver/paasng/paasng/bk_plugins/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: alert labels may be None (#1705)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 简化沙箱密码获取过程（不需要验证码） (#1702)
  apiserver/paasng/paasng/accessories/dev_sandbox/urls.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/paasng/infras/accounts/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat:获取进程列表，获取进程状态
  cnb-builder-shim/internal/devsandbox/reload.go
Due: none

fix: dashboard tasks do not take effect
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/handlers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/apps.py
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/handlers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unit test and other fixes
  apiserver/paasng/paasng/misc/audit/migrations/0003_auto_20241105_1828.py
  apiserver/paasng/paasng/platform/applications/migrations/0013_applicationdeploymentmoduleorderrecord_and_more.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/urls.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 沙箱更新状态&回收 command
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/entities.py
  apiserver/paasng/paasng/accessories/dev_sandbox/management/commands/renew_dev_sandbox_expire_at.py
  apiserver/paasng/paasng/accessories/dev_sandbox/models.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 优化插件指引链接
  webfe/package_vue/src/views/plugin-center/create-plugin/success.vue
Due: none

feat: 沙箱更新状态&回收 command
  apiserver/paasng/paasng/accessories/dev_sandbox/management/commands/recycle_dev_sandbox.py
  apiserver/paasng/paasng/accessories/dev_sandbox/management/commands/renew_dev_sandbox_expire_at.py
  apiserver/paasng/paasng/accessories/dev_sandbox/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 验证单测
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/tests/paasng/misc/monitoring/test_commands.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 401弹窗关闭无法再次弹窗问题修复 # Reviewed, transaction id: 23023
  webfe/package_vue/src/App.vue
  webfe/package_vue/static/login_success.html
Due: none

fix: don't restart hook pod after execute error
  operator/controllers/base/reconcilers.go
  operator/pkg/controllers/bkapp/hooks/hooks.go
  operator/pkg/controllers/bkapp/hooks/hooks_test.go
Due: operator-lint

fix: unitest
  apiserver/paasng/tests/paasng/misc/monitoring/test_dashboard.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 沙箱更新状态&回收 command
  apiserver/paasng/paasng/accessories/dev_sandbox/management/commands/renew_dev_sandbox_expire_at.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 验证单测(需要回滚)
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/manager.py
  apiserver/paasng/tests/paasng/misc/monitoring/test_dashboard.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 初始化仪表盘不妨到 celery 任务重
  apiserver/paasng/paasng/misc/monitoring/monitor/apps.py
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/handlers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/manager.py
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/tasks.py
  apiserver/paasng/tests/paasng/misc/monitoring/test_dashboard.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：调整
  cnb-builder-shim/cmd/dev-launcher/cmd/launch.go
  cnb-builder-shim/cmd/dev-launcher/cmd/status.go
  cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

fix：调整
  cnb-builder-shim/cmd/dev-launcher/cmd/launch.go
  cnb-builder-shim/cmd/dev-launcher/cmd/root.go
Due: none

fix: unitest
  apiserver/paasng/paasng/misc/monitoring/monitor/apps.py
  apiserver/paasng/tests/paasng/misc/monitoring/test_dashboard.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat:沙箱应用进程根据app_desc.yaml 改变
  cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl.go
  cnb-builder-shim/go.mod
  cnb-builder-shim/go.sum
  cnb-builder-shim/internal/devsandbox/webserver/service/deploy.go
Due: none

feat:沙箱应用进程根据app_desc.yaml 改变
  cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl.go
Due: none

feat: 沙箱保留 .git 元信息
  apiserver/paasng/paasng/platform/engine/utils/source.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/bare_git.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/bk_svn.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/gitee.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/github.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/gitlab.py
  apiserver/paasng/paasng/platform/sourcectl/repo_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 饼图展示调整 # Reviewed, transaction id: 23101
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/home/app-overview/index.vue
Due: none

fix: 仪表盘地址
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/manager.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
