Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

feat: add idle apps notify email templates
  apiserver/paasng/paasng/platform/evaluation/notifiers.py
  apiserver/paasng/templates/email_templates/send_idle_module_envs_to_developer.html
  apiserver/paasng/templates/email_templates/send_operation_summary_to_plat_manager.html
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add idle apps notify email templates (#1767)
  apiserver/paasng/paasng/platform/evaluation/notifiers.py
  apiserver/paasng/templates/email_templates/send_idle_module_envs_to_developer.html
  apiserver/paasng/templates/email_templates/send_operation_summary_to_plat_manager.html
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: rebase
  apiserver/paasng/paasng/platform/bkapp_model/entities/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/declarative/deployment/validations/v2.py
  apiserver/paasng/paasng/platform/declarative/migrations/0005_remove_deploymentdescription_scripts.py
  apiserver/paasng/paasng/platform/declarative/models.py
  apiserver/paasng/paasng/platform/engine/deploy/release/legacy.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v3/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_deployment.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_pre_release.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_release.py
  apiserver/paasng/tests/paasng/platform/engine/setup_utils.py
  apiserver/paasng/tests/paasng/platform/engine/utils/test_source.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: resolve review comments
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/proc_env_overlays.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: use sync_processes instead of ModuleProcessSpecManage.sync_from_desc (#1759)
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/proc_env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_proc_env_overlays.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manager.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 沙箱开发添加元素埋点 # Reviewed, transaction id: 25497
  webfe/package_vue/index.html
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/sandbox-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/stag.vue
  webfe/package_vue/src/views/dev-center/sandbox/index.vue
Due: none

refactor: 删除同步密钥到桌面的功能（接入 bkAuth 后不再需要），以及 OAuth2Client 存储密钥的逻辑（所有版本已接入 bkAuth）
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/accessories/publish/sync_market/handlers.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/apigw.py
  apiserver/paasng/paasng/infras/accounts/utils.py
  apiserver/paasng/paasng/infras/legacydb/adaptors.py
  apiserver/paasng/paasng/infras/oauth2/models.py
  apiserver/paasng/paasng/infras/oauth2/utils.py
  apiserver/paasng/paasng/platform/applications/management/commands/create_3rd_party_apps.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/basic.py
  apiserver/paasng/paasng/platform/mgrlegacy/management/commands/make_legacy_app_for_test.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/scene_app/initializer.py
  apiserver/paasng/paasng/platform/sourcectl/connector.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paasng/infras/oauth2/test_oauth_client.py
  apiserver/paasng/tests/paasng/platform/modules/test_manager.py
  apiserver/paasng/tests/utils/helpers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: input validation for app description file transform (#1761)
  apiserver/paasng/paasng/misc/tools/app_desc.py
  apiserver/paasng/paasng/misc/tools/views.py
  apiserver/paasng/tests/api/test_tools.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unitest
  apiserver/paasng/paasng/infras/oauth2/utils.py
  apiserver/paasng/tests/api/test_app_secret.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/utils/mocks/bkauth.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 测试环境接入网站访问统计、沙箱开发添加元素埋点 (#1769)
  webfe/package_vue/.bk.production.env
  webfe/package_vue/index.html
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/sandbox-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/stag.vue
  webfe/package_vue/src/views/dev-center/sandbox/index.vue
  webfe/package_vue/static/runtime/runtime.ce.js
  webfe/package_vue/static/runtime/runtime.ee.js
Due: none

fix: process services implicit inject (#1741)
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 插件列表添加过滤下拉、应用列表：默认按最近操作时间排序 (#1766)
  webfe/package_vue/src/views/dev-center/index.vue
  webfe/package_vue/src/views/plugin-center/comps/filter-select.vue
  webfe/package_vue/src/views/plugin-center/index.vue
Due: none

refactor: resolve review comments
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove unused test files for command specifications
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/command/__init__.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/command/test_store_bkapp_envs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove region parameter from AppModelResource/MountManager and delete 2 unused scripts
  apiserver/paasng/paas_wl/bk_app/applications/api.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/__init__.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/base.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/__init__.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_envs.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_to_db.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/app_resource.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
  apiserver/paasng/tests/api/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/command/test_store_bkapp_envs.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_configurations.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_models.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_mounts.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/utils.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_building.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove unused entrance api and related test code
  apiserver/paasng/paas_wl/workloads/networking/entrance/urls.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/views.py
  apiserver/paasng/tests/api/test_market.py
  apiserver/paasng/tests/paas_wl/api/test_entrance.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Simplify the usage of "region": misc 1 (#1770)
  apiserver/paasng/paas_wl/bk_app/applications/api.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/__init__.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/base.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/__init__.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_envs.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_to_db.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/app_resource.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/urls.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/views.py
  apiserver/paasng/tests/api/bkapp_model/test_manifest.py
  apiserver/paasng/tests/api/test_market.py
  apiserver/paasng/tests/paas_wl/api/test_entrance.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/command/__init__.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/command/test_store_bkapp_envs.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_configurations.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_models.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_mounts.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/utils.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_building.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove unnecessary region in services and servicehub
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/management/commands/batch_unbind_svc.py
  apiserver/paasng/paasng/accessories/servicehub/management/commands/update_legacy_rabbitmq.py
  apiserver/paasng/paasng/accessories/servicehub/manager.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/remote/store.py
  apiserver/paasng/paasng/accessories/servicehub/services.py
  apiserver/paasng/paasng/accessories/servicehub/sharing.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/paasng/accessories/services/__init__.py
  apiserver/paasng/paasng/accessories/services/management/commands/import_pre_created_instance.py
  apiserver/paasng/paasng/accessories/services/management/commands/query_related_applications.py
  apiserver/paasng/paasng/accessories/services/models.py
  apiserver/paasng/paasng/misc/operations/migrations/0002_remove_operation_region.py
  apiserver/paasng/paasng/misc/operations/models.py
  apiserver/paasng/paasng/misc/operations/serializers.py
  apiserver/paasng/paasng/misc/operations/views.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/paasng/accessories/servicehub/remote/test_api.py
  apiserver/paasng/tests/paasng/accessories/servicehub/remote/test_manager.py
  apiserver/paasng/tests/paasng/accessories/servicehub/remote/test_store.py
  apiserver/paasng/tests/paasng/accessories/servicehub/remote/utils.py
  apiserver/paasng/tests/paasng/accessories/servicehub/test_manager.py
  apiserver/paasng/tests/paasng/accessories/servicehub/test_sharing.py
  apiserver/paasng/tests/paasng/misc/operations/test_operations.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove procfile and hooks from Deployment model (#1764)
  apiserver/paasng/paasng/plat_admin/admin42/serializers/engine.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/declarative/deployment/validations/v2.py
  apiserver/paasng/paasng/platform/declarative/migrations/0005_remove_deploymentdescription_scripts.py
  apiserver/paasng/paasng/platform/declarative/models.py
  apiserver/paasng/paasng/platform/engine/deploy/release/legacy.py
  apiserver/paasng/paasng/platform/engine/deploy/start.py
  apiserver/paasng/paasng/platform/engine/migrations/0023_remove_deployment_hooks_remove_deployment_procfile.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/paasng/platform/engine/utils/patcher.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v3/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_deployment.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_pre_release.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_release.py
  apiserver/paasng/tests/paasng/platform/engine/setup_utils.py
  apiserver/paasng/tests/paasng/platform/engine/utils/test_source.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

perf: 服务导航优化、页面样式优化
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/common/utils.js
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/components/paasNav.vue
  webfe/package_vue/src/components/serviceGeneral.vue
  webfe/package_vue/src/json/tools-navigation-data.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/app/docu-management/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
  webfe/package_vue/src/views/dev-center/app/operation-record/index.vue
  webfe/package_vue/src/views/services/base.vue
  webfe/package_vue/src/views/services/static/api-gateway.vue
  webfe/package_vue/src/views/services/static/bamboo.vue
  webfe/package_vue/src/views/services/static/featured-apps.vue
  webfe/package_vue/src/views/services/static/market.vue
  webfe/package_vue/src/views/services/v3-services.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat: 应用描述文件转换 # Reviewed, transaction id: 25665
  webfe/package_vue/src/json/tools-navigation-data.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/tool.js
  webfe/package_vue/src/views/services/base.vue
  webfe/package_vue/src/views/services/description-file-conversion/comps/monaco-editor.vue
  webfe/package_vue/src/views/services/description-file-conversion/comps/title-bar.vue
  webfe/package_vue/src/views/services/description-file-conversion/comps/tools.vue
  webfe/package_vue/src/views/services/description-file-conversion/index.vue
Due: none

fix: fix app_desc.yaml transfrom validation error handle and error message
  apiserver/paasng/paasng/misc/tools/app_desc.py
  apiserver/paasng/paasng/misc/tools/views.py
  apiserver/paasng/tests/api/test_tools.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: latest_deployed_at value may be None
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: latest_deployed_at value may be None (#1774)
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: record service instance which is unbound and recycle later
  apiserver/paasng/paasng/accessories/servicehub/constants.py
  apiserver/paasng/paasng/accessories/servicehub/exceptions.py
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/manager.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0005_unboundserviceengineappattachment_and_more.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/paasng/accessories/servicehub/services.py
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: retrive remote instance check http status 404
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/remote/client.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/services.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: error handle
  apiserver/paasng/paasng/misc/tools/app_desc.py
  apiserver/paasng/paasng/misc/tools/views.py
  apiserver/paasng/tests/api/test_tools.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: replace kube-rbac-proxy image
  operator/config/default/manager_auth_proxy_patch.yaml
  operator/go.mod
Due: operator-lint

fix:: 体验修复 # Reviewed, transaction id: 25805
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/services/description-file-conversion/comps/title-bar.vue
  webfe/package_vue/src/views/services/description-file-conversion/index.vue
Due: none

review # Reviewed, transaction id: 25845
  webfe/package_vue/src/common/utils.js
Due: none

feat: 创建 oAuth 应用时添加 bk_tenant 参数
  apiserver/paasng/paasng/infras/oauth2/api.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: mark unbound if prefer_async_delete
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: apply error ingress when cnative app switching default module
  apiserver/paasng/paas_wl/bk_app/cnative/specs/handlers.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/handlers.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_triggers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 体验修复、优化 # Reviewed, transaction id: 25905
  webfe/package_vue/src/components/paasNav.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/index.vue
  webfe/package_vue/src/views/services/description-file-conversion/comps/title-bar.vue
  webfe/package_vue/src/views/services/description-file-conversion/index.vue
Due: none

fix: dev sandbox logic code style
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/conf.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/controller.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/entities.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/code_editor.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/service.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/code_editor.py
  apiserver/paasng/paasng/accessories/dev_sandbox/management/commands/recycle_dev_sandbox.py
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0001_initial.py
  apiserver/paasng/paasng/accessories/dev_sandbox/models.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 国际化翻译优化 # Reviewed, transaction id: 25912
  webfe/package_vue/src/language/lang/en.js
Due: none

perf: 服务导航优化、页面样式优化、应用描述文件转换 (#1777)
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/common/utils.js
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/components/paasNav.vue
  webfe/package_vue/src/components/serviceGeneral.vue
  webfe/package_vue/src/json/tools-navigation-data.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/tool.js
  webfe/package_vue/src/views/dev-center/app/docu-management/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
  webfe/package_vue/src/views/dev-center/app/operation-record/index.vue
  webfe/package_vue/src/views/services/base.vue
  webfe/package_vue/src/views/services/description-file-conversion/comps/monaco-editor.vue
  webfe/package_vue/src/views/services/description-file-conversion/comps/title-bar.vue
  webfe/package_vue/src/views/services/description-file-conversion/comps/tools.vue
  webfe/package_vue/src/views/services/description-file-conversion/index.vue
  webfe/package_vue/src/views/services/static/api-gateway.vue
  webfe/package_vue/src/views/services/static/bamboo.vue
  webfe/package_vue/src/views/services/static/featured-apps.vue
  webfe/package_vue/src/views/services/static/market.vue
  webfe/package_vue/src/views/services/v3-services.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: replace kube-rbac-proxy image (#1776)
  operator/config/default/manager_auth_proxy_patch.yaml
  operator/go.mod
Due: operator-lint

fix: dev sandbox logic code style (#1780)
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/conf.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/controller.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/entities.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/code_editor.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/service.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/code_editor.py
  apiserver/paasng/paasng/accessories/dev_sandbox/management/commands/recycle_dev_sandbox.py
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0001_initial.py
  apiserver/paasng/paasng/accessories/dev_sandbox/models.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: apply error ingress when cnative app switching default module (#1779)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/handlers.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/handlers.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_triggers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
