Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run pflake8 --config=pyproject.toml

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./mypy.ini"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because it may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

bugfix: opentelemetry requests-tracing allow response to be optional
  apiserver/paasng/paasng/tracing/instrumentor.py
  workloads/paas_wl/paas_wl/tracing/instrumentor.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

bugfix: opentelemetry requests-tracing allow response to be optional (#123)
  apiserver/paasng/paasng/tracing/instrumentor.py
  workloads/paas_wl/paas_wl/tracing/instrumentor.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

minor: BkApp.Status.HookStatus.Status -> Phase
  operator/api/v1alpha1/bkapp_types.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/controllers/bkapp_controller_test.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/hooks.go
  operator/pkg/controllers/reconcilers/hooks_test.go
  operator/pkg/controllers/reconcilers/revision.go
  operator/pkg/controllers/reconcilers/revision_test.go
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/utils/kubestatus/deploymentutils.go
  operator/pkg/utils/kubestatus/health.go
  operator/pkg/utils/kubestatus/podutils.go
  operator/pkg/utils/kubestatus/podutils_test.go
Due: operator-lint

feat: bkapp support additionalPrinterColumns (#124)
  operator/api/v1alpha1/bkapp_types.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/controllers/bkapp_controller_test.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/hooks.go
  operator/pkg/controllers/reconcilers/hooks_test.go
  operator/pkg/controllers/reconcilers/revision.go
  operator/pkg/controllers/reconcilers/revision_test.go
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/utils/kubestatus/deploymentutils.go
  operator/pkg/utils/kubestatus/health.go
  operator/pkg/utils/kubestatus/podutils.go
  operator/pkg/utils/kubestatus/podutils_test.go
Due: operator-lint

docs: update README.md, CONTRIBUTING.md, project_codes.md etc.
  README.md
  apiserver/paasng/paasng/accessories/iam/permissions/resources/application.py
  docs/CONTRIBUTING.md
  docs/overview/project_codes.md
Due: isort, black, flake8, mypy-apiserver

docs: update README.md, CONTRIBUTING.md, project_codes.md etc. (#125)
  README.md
  apiserver/paasng/paasng/accessories/iam/permissions/resources/application.py
  docs/CONTRIBUTING.md
  docs/overview/project_codes.md
Due: isort, black, flake8, mypy-apiserver

fix: apiserver mr 评论修改
  apiserver/paasng/paasng/accessories/bkmonitorv3/apigw/client.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/backend/__init__.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/backend/apigw.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/backend/esb.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/client.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/esb/__init__.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/exceptions.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/utils.py
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/monitoring/test_alert.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: isort, black, flake8, mypy-apiserver

feat: mr 评论修改
  svc-otel/svc_otel/bkmonitorv3/apigw/__init__.py
  svc-otel/svc_otel/bkmonitorv3/apigw/client.py
  svc-otel/svc_otel/bkmonitorv3/backend/__init__.py
  svc-otel/svc_otel/bkmonitorv3/backend/apigw.py
  svc-otel/svc_otel/bkmonitorv3/backend/esb.py
  svc-otel/svc_otel/bkmonitorv3/client.py
  svc-otel/svc_otel/bkmonitorv3/exceptions.py
  svc-otel/svc_otel/settings/default.py
  svc-otel/svc_otel/vendor/provider.py
  svc-otel/svc_otel/vendor/render.py
Due: isort, black, flake8

feature: 重新实现查询当前处于非正常部署状态的应用数量的仪表盘
  workloads/paas_wl/paas_wl/metrics/collector.py
  workloads/paas_wl/paas_wl/metrics/metrics.py
  workloads/paas_wl/paas_wl/metrics/views.py
  workloads/paas_wl/paas_wl/workloads/processes/utils.py
Due: isort, black, flake8, mypy-workloads

refactor with discussion
  workloads/paas_wl/paas_wl/metrics/metrics.py
  workloads/paas_wl/paas_wl/workloads/processes/utils.py
Due: isort, black, flake8, mypy-workloads

feature: 重新实现查询当前处于非正常部署状态的应用数量的仪表盘 (#122)
  workloads/paas_wl/paas_wl/metrics/collector.py
  workloads/paas_wl/paas_wl/metrics/metrics.py
  workloads/paas_wl/paas_wl/metrics/views.py
  workloads/paas_wl/paas_wl/workloads/processes/utils.py
Due: isort, black, flake8, mypy-workloads

feat: 插件开发者中心状态和最新版本
  apiserver/paasng/paasng/pluginscenter/handlers.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/views.py
  webfe/package_vue/src/views/plugin-center/index.vue
Due: isort, black, flake8, mypy-apiserver

feat: 插件开发者中心国际化
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

minor: svc_proxy 增加对 workloads metrics 接口的代理
  apiserver/paasng/paasng/service_proxy/views.py
  workloads/paas_wl/paas_wl/metrics/collector.py
  workloads/paas_wl/paas_wl/metrics/metrics.py
  workloads/paas_wl/paas_wl/workloads/processes/utils.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

minor: svc_proxy 增加对 workloads metrics 接口的代理 (#127)
  apiserver/paasng/paasng/service_proxy/views.py
  workloads/paas_wl/paas_wl/metrics/collector.py
  workloads/paas_wl/paas_wl/metrics/metrics.py
  workloads/paas_wl/paas_wl/workloads/processes/utils.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

feat: update package.json
  webfe/package_vue/package.json
Due: none

feat: update package.json (#128)
  webfe/package_vue/package.json
Due: none

fix: 注释修改
  apiserver/paasng/paasng/pluginscenter/models/instances.py
Due: isort, black, flake8, mypy-apiserver

feat: 插件开发者中心状态、最新版本和国际化等修复 (#126)
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/pluginscenter/handlers.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/views.py
  webfe/package_vue/src/views/plugin-center/index.vue
Due: isort, black, flake8, mypy-apiserver

fix: 插件国际化翻译修复
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

fix: 插件国际化翻译修复 (#129)
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

enhance: k8s事件增加组件来源等字段; 去除过滤reason=Failed的条件
  workloads/paas_wl/paas_wl/cnative/specs/events.py
  workloads/paas_wl/paas_wl/cnative/specs/serializers.py
  workloads/paas_wl/paas_wl/cnative/specs/views_enduser.py
Due: isort, black, flake8, mypy-workloads

enhance: k8s事件增加组件来源等字段; 去除过滤reason=Failed的条件 (#130)
  workloads/paas_wl/paas_wl/cnative/specs/events.py
  workloads/paas_wl/paas_wl/cnative/specs/serializers.py
  workloads/paas_wl/paas_wl/cnative/specs/views_enduser.py
Due: isort, black, flake8, mypy-workloads

fix: 部署状态YAML排序。 发布去除merge的展示属性
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/deploy-resource-editor/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

fix: 中英切换图标修复，市场信息样式修复
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
Due: none

fix: nav导航规范
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 组件库版本，vue版本回退
  webfe/package_vue/package.json
Due: none

fix: 插件开发云API管理。 成员管理国际化
  webfe/package_vue/src/components/paas-plugin-nav.vue
  webfe/package_vue/src/router/plugin.js
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
Due: none

fix: 组件库版本升级。国际化修复。表格筛选清空
  webfe/package_vue/package.json
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/index.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none

fix: 插件：概览数据展示
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
Due: none

fix: nav修复
  webfe/package_vue/src/components/paas-header.vue
Due: none

fix: 云原生应用-Yaml 展示字段排序
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/index.vue
Due: none

fix: 云原生应用-应用编排-Yaml 支持扩展
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

fix: 组件库版本升级。国际化修复。表格筛选清空
  webfe/package_vue/package.json
Due: none

feat: vue回退
  webfe/package_vue/package.json
Due: none

fix: nav和 yaml展示的相关bug (#131)
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/components/paas-plugin-nav.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/plugin.js
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/deploy-resource-editor/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
  webfe/package_vue/src/views/dev-center/index.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: ignore admin user when update grade manager or user group members
  apiserver/paasng/paasng/accessories/iam/client.py
Due: isort, black, flake8, mypy-apiserver

fix: ignore admin user when update grade manager or user group members (#132)
  apiserver/paasng/paasng/accessories/iam/client.py
Due: isort, black, flake8, mypy-apiserver

feat: 应用列表支持返回各类型应用数量
  apiserver/paasng/paasng/platform/applications/pagination.py
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: isort, black, flake8, mypy-apiserver

fix: queryAlertsParams 放到 parmas.py 中
  apiserver/paasng/paasng/accessories/bkmonitorv3/client.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/params.py
  apiserver/paasng/paasng/monitoring/monitor/serializers.py
  apiserver/paasng/tests/monitoring/test_alert.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: isort, black, flake8, mypy-apiserver
