Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 修复 Application.creator 是 str 的问题
  apiserver/paasng/paasng/utils/models.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 Application.creator 是 str 的问题 (#832)
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/utils/models.py
  apiserver/paasng/tests/paasng/test_utils/test_models.py
Due: isort, black, flake8, mypy-apiserver

fix:bkmonitor backend 绑定 search_alarm_strategy_v3
  apiserver/paasng/paasng/infras/bkmonitorv3/backend/apigw.py
Due: isort, black, flake8, mypy-apiserver

Fix review comments
  operator/controllers/bkapp_controller_test.go
  operator/pkg/controllers/reconcilers/deploy_action.go
  operator/pkg/controllers/resources/deployment.go
Due: operator-lint

Fix: infinite loop when reconcile deployments
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/utils/hash/hash.go
Due: operator-lint

Operator: remove the use of "revision" and use "deployID" instread
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/constants.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/controllers/bkapp_controller.go
  operator/controllers/bkapp_controller_test.go
  operator/pkg/controllers/reconcilers/deploy_action.go
  operator/pkg/controllers/reconcilers/deploy_action_test.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/deployments_test.go
  operator/pkg/controllers/reconcilers/hooks.go
  operator/pkg/controllers/reconcilers/revision_test.go
  operator/pkg/controllers/reconcilers/utils_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/controllers/resources/names/names.go
  operator/pkg/controllers/resources/names/names_test.go
  operator/pkg/utils/revision/revision.go
  operator/pkg/utils/revision/revision_suite_test.go
  operator/pkg/utils/revision/revision_test.go
Due: operator-lint

Operator: fix failing tests
  operator/pkg/controllers/reconcilers/deployments_test.go
  operator/pkg/controllers/reconcilers/utils_test.go
  operator/pkg/controllers/resources/deployment.go
Due: operator-lint

Operator: remove the use of "revision" and use "deployID" instead (#821)
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/constants.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/controllers/bkapp_controller.go
  operator/controllers/bkapp_controller_test.go
  operator/pkg/controllers/reconcilers/deploy_action.go
  operator/pkg/controllers/reconcilers/deploy_action_test.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/deployments_test.go
  operator/pkg/controllers/reconcilers/hooks.go
  operator/pkg/controllers/reconcilers/revision_test.go
  operator/pkg/controllers/reconcilers/utils_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/controllers/resources/names/names.go
  operator/pkg/controllers/resources/names/names_test.go
  operator/pkg/utils/hash/hash.go
  operator/pkg/utils/revision/revision_suite_test.go
  operator/pkg/utils/revision/revision_test.go
Due: operator-lint

fix:bkmonitor backend 绑定 search_alarm_strategy_v3;去除多余注释
  apiserver/paasng/paasng/infras/bkmonitorv3/backend/esb.py
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
Due: isort, black, flake8, mypy-apiserver

fix:bkmonitor backend 绑定 search_alarm_strategy_v3;去除多余注释
  apiserver/paasng/paasng/infras/bkmonitorv3/backend/esb.py
Due: isort, black, flake8, mypy-apiserver

enhance: 允许多个模块绑定同一个自定义采集项
  apiserver/paasng/paasng/accessories/log/migrations/0001_initial.py
  apiserver/paasng/paasng/accessories/log/migrations/0003_customcollectorconfig.py
  apiserver/paasng/paasng/accessories/log/migrations/0004_auto_20231103_1048.py
  apiserver/paasng/paasng/accessories/log/models.py
  apiserver/paasng/paasng/accessories/log/views/config.py
Due: isort, black, flake8, mypy-apiserver

fix:bkmonitor backend 绑定 search_alarm_strategy_v3;去除多余注释
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_wait/wait_bkapp.py
Due: isort, black, flake8, mypy-apiserver

enhance: 允许多个模块绑定同一个自定义采集项 (#833)
  apiserver/paasng/paasng/accessories/log/migrations/0001_initial.py
  apiserver/paasng/paasng/accessories/log/migrations/0003_customcollectorconfig.py
  apiserver/paasng/paasng/accessories/log/migrations/0004_auto_20231103_1048.py
  apiserver/paasng/paasng/accessories/log/models.py
  apiserver/paasng/paasng/accessories/log/views/config.py
Due: isort, black, flake8, mypy-apiserver

minor: 移除旧代码
  apiserver/paasng/paas_wl/bk_app/cnative/specs/converter.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/convert_bkapp_version.py
  apiserver/paasng/paas_wl/bk_app/processes/drf_serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/autoscaling.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/replicas.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/res_quotas.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_converter.py
Due: isort, black, flake8, mypy-apiserver

minor: 移除旧代码 (#835)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/converter.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/convert_bkapp_version.py
  apiserver/paasng/paas_wl/bk_app/processes/drf_serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/autoscaling.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/replicas.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/res_quotas.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_converter.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复云原生应用多模块 image pull secret 互相覆盖的问题
  apiserver/paasng/paas_wl/bk_app/processes/entities.py
  apiserver/paasng/paas_wl/workloads/images/kres_entities.py
  apiserver/paasng/paas_wl/workloads/images/kres_slzs.py
  apiserver/paasng/paas_wl/workloads/images/utils.py
  apiserver/paasng/paas_wl/workloads/release_controller/hooks/kres_entities.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/utils.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_resource.py
  apiserver/paasng/tests/paas_wl/infras/resources/base/test_credentials.py
Due: isort, black, flake8, mypy-apiserver

feat: 进程服务管理接口对接
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/process-service.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-process.vue
Due: none

feat: 访问管理添加进程服务管理
  webfe/package_vue/src/components/cloud-app-top-bar.vue
  webfe/package_vue/src/store/modules/processes.js
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
Due: none

fix: 代码优化
  webfe/package_vue/src/store/modules/processes.js
Due: none

fix: 普通应用-进程服务管理样式问题修复
  webfe/package_vue/src/components/loader/loading/process-service.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-process.vue
Due: none

fix: 进程服务管理表格样式设计稿还原
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-process.vue
Due: none

feat: 进程服务添加模块环境下拉筛选
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-process.vue
Due: none

refactor with discussion
  apiserver/paasng/paas_wl/workloads/images/kres_slzs.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复云原生应用多模块 image pull secret 互相覆盖的问题 (#841)
  apiserver/paasng/paas_wl/bk_app/processes/entities.py
  apiserver/paasng/paas_wl/workloads/images/kres_entities.py
  apiserver/paasng/paas_wl/workloads/images/kres_slzs.py
  apiserver/paasng/paas_wl/workloads/images/utils.py
  apiserver/paasng/paas_wl/workloads/release_controller/hooks/kres_entities.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/utils.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_resource.py
  apiserver/paasng/tests/paas_wl/infras/resources/base/test_credentials.py
Due: isort, black, flake8, mypy-apiserver

fix: set custom timeout for task poller
  apiserver/paasng/paasng/bk_plugins/pluginscenter/iam_adaptor/management/shim.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/tasks.py
  apiserver/paasng/paasng/infras/iam/helpers.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/pre_release.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_wait/wait_bkapp.py
Due: isort, black, flake8, mypy-apiserver

fix:异常处理修复
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/infras/bkmonitorv3/exceptions.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/paasng/utils/error_codes.py
Due: isort, black, flake8, mypy-apiserver

fix:异常处理修复
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/infras/bkmonitorv3/exceptions.py
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
Due: isort, black, flake8, mypy-apiserver

fix:total 不设置默认值
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
Due: isort, black, flake8, mypy-apiserver

fix: missing use image_pull_policy from advanced_options when refactor bkapp_model
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
Due: isort, black, flake8, mypy-apiserver

fix:去除 total
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: isort, black, flake8, mypy-apiserver

feat:告警事件与告警策略接口实现 (#813)
  apiserver/paasng/paasng/infras/bkmonitorv3/backend/apigw.py
  apiserver/paasng/paasng/infras/bkmonitorv3/backend/esb.py
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_wait/wait_bkapp.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/paasng/misc/monitoring/test_alert.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复 policy 字段会被序列化成 ScalingPolicy.DEFAULT 的问题
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/tests/api/test_bkapp_model.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_importer.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复 policy 字段会被序列化成 ScalingPolicy.DEFAULT 的问题 (#843)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/tests/api/test_bkapp_model.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_importer.py
Due: isort, black, flake8, mypy-apiserver

fix: 创建模块返回-模块配置
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
Due: none

fix: 托管方式、构建方式合并
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

托管方式、构建方式合并 (#845)
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

refactor: minor
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
Due: isort, black, flake8, mypy-apiserver

fix: set custom timeout for task poller (#842)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/iam_adaptor/management/shim.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/tasks.py
  apiserver/paasng/paasng/infras/iam/helpers.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/pre_release.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_wait/wait_bkapp.py
Due: isort, black, flake8, mypy-apiserver

fix: missing image_pull_policy from advanced_options when refactor bkapp_model (#844)
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 ingress 日志缺失 engine_app_name 字段的问题
  apiserver/paasng/paasng/accessories/log/shim/setup_elk.py
Due: isort, black, flake8, mypy-apiserver

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
