Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 表列的宽度调整
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/dashboard_templates.html
Due: none

fix：调整
  cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl.go
  cnb-builder-shim/internal/devsandbox/watchsrv.go
  cnb-builder-shim/internal/devsandbox/webserver/params.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
  cnb-builder-shim/internal/devsandbox/webserver/service/app_logs.go
  cnb-builder-shim/internal/devsandbox/webserver/service/deploy_test.go
Due: none

fix：调整
  cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl_test.go
  cnb-builder-shim/internal/devsandbox/webserver/service/deploy_test.go
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/app_desc.yaml
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/helloworld/__init__.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/helloworld/asgi.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/helloworld/settings.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/helloworld/urls.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/helloworld/wsgi.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/manage.py
Due: ruff-check-fix, ruff-format, ruff-check

fix:调整
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/constants.py
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0001_initial.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:调整
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0001_initial.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:调整
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：调整
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

fix: slow query alerts count by 'gcs_mysql_slow_query' in label
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: delete use simpler comfirm dialog
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/dashboard_templates.html
Due: none

fix: use double quote in the html file
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/dashboard_templates.html
Due: none

fix：调整
  cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl.go
  cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl_test.go
  cnb-builder-shim/internal/devsandbox/webserver/params.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
  cnb-builder-shim/internal/devsandbox/webserver/service/app_logs.go
Due: none

fix：调整
  cnb-builder-shim/internal/devsandbox/webserver/service/app_logs.go
Due: none

fix：调整测试到 app_logs_test.go
  cnb-builder-shim/internal/devsandbox/webserver/service/app_logs_test.go
  cnb-builder-shim/internal/devsandbox/webserver/service/deploy_test.go
Due: none

fix: alerts sort by gcs_mysql_slow_query
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: update operator README.md
  operator/README.md
Due: operator-lint

fix: fixes
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/plat_admin/admin42/serializers/dashboard_templates.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/dashboard_templates.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/front_page.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: django.po
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

feat: 支持跨域请求 (#1692)
  cnb-builder-shim/cmd/dev-entrypoint/init_test.go
  cnb-builder-shim/go.mod
  cnb-builder-shim/go.sum
  cnb-builder-shim/internal/devsandbox/config/loader.go
  cnb-builder-shim/internal/devsandbox/config/types.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

fix: 添加慢查询跳转入口 # Reviewed, transaction id: 22404
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/service.js
  webfe/package_vue/src/views/dev-center/home/home-content/alarm-records.vue
Due: none

feat: configurate monitor dashboard templates in admin42 (#1694)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/infras/accounts/permissions/constants.py
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/dashboard_templates.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/dashboard_templates.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/front_page.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/dashboard_templates.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

review # Reviewed, transaction id: 22415
  webfe/package_vue/src/language/lang/en.js
Due: none

fix:调整
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：调整注释
  cnb-builder-shim/internal/devsandbox/webserver/params.go
Due: none

feat: 获取应用日志 (#1691)
  cnb-builder-shim/internal/devsandbox/webserver/params.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
  cnb-builder-shim/internal/devsandbox/webserver/service/app_logs.go
  cnb-builder-shim/internal/devsandbox/webserver/service/app_logs_test.go
  cnb-builder-shim/internal/devsandbox/webserver/service/deploy_test.go
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/django-helloworld.zip
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld.zip
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/app_desc.yaml
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/helloworld/__init__.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/helloworld/asgi.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/helloworld/settings.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/helloworld/urls.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/helloworld/wsgi.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld/manage.py
Due: ruff-check-fix, ruff-format, ruff-check

fix:gen_dev_sandbox_code 使用 django get_random_string
  apiserver/paasng/paasng/accessories/dev_sandbox/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 沙盒开发测试环境 (#1657)
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/conf.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/constants.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/controller.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/entities.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/__init__.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/code_editor.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/ingress.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/service.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/code_editor.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/service.py
  apiserver/paasng/paasng/accessories/dev_sandbox/apps.py
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0001_initial.py
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/__init__.py
  apiserver/paasng/paasng/accessories/dev_sandbox/models.py
  apiserver/paasng/paasng/accessories/dev_sandbox/serializers.py
  apiserver/paasng/paasng/accessories/dev_sandbox/urls.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/paasng/infras/accounts/constants.py
  apiserver/paasng/paasng/platform/engine/utils/source.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/test_controller.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/test_kres_slzs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: user add or remove admin role in app overview page in admin42
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/plat_admin/admin42/views/bk_plugins.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: i18n file
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

fix: remove duplicate code
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: drop the support for app description version 1(used by legacy s-mart apps)
  apiserver/paasng/paasng/platform/declarative/constants.py
  apiserver/paasng/paasng/platform/declarative/exceptions.py
  apiserver/paasng/paasng/platform/declarative/handlers.py
  apiserver/paasng/paasng/platform/declarative/serializers.py
  apiserver/paasng/paasng/platform/engine/configurations/source_file.py
  apiserver/paasng/paasng/platform/engine/utils/source.py
  apiserver/paasng/paasng/platform/smart_app/services/detector.py
  apiserver/paasng/paasng/platform/smart_app/services/dispatch.py
  apiserver/paasng/paasng/platform/smart_app/services/patcher.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/package.py
  apiserver/paasng/paasng/platform/sourcectl/exceptions.py
  apiserver/paasng/paasng/platform/sourcectl/views.py
  apiserver/paasng/tests/api/apigw/test_lesscode.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/test_v1.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v2/test_deployment.py
  apiserver/paasng/tests/paasng/platform/smart_app/conftest.py
  apiserver/paasng/tests/paasng/platform/smart_app/test_detector.py
  apiserver/paasng/tests/paasng/platform/smart_app/test_patcher.py
  apiserver/paasng/tests/paasng/platform/sourcectl/packages/test_utils.py
  apiserver/paasng/tests/paasng/platform/sourcectl/packages/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: handle the case when no version is specified in the file & other minor enhancements.
  apiserver/paasng/paasng/platform/declarative/constants.py
  apiserver/paasng/paasng/platform/declarative/handlers.py
  apiserver/paasng/paasng/platform/engine/configurations/source_file.py
  apiserver/paasng/paasng/platform/smart_app/services/detector.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/test_handlers.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v2/test_deployment.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: typo
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
Due: none

feat: drop the support for app description version 1(used by legacy s-mart apps) (#1693)
  apiserver/paasng/paasng/platform/declarative/constants.py
  apiserver/paasng/paasng/platform/declarative/exceptions.py
  apiserver/paasng/paasng/platform/declarative/handlers.py
  apiserver/paasng/paasng/platform/declarative/serializers.py
  apiserver/paasng/paasng/platform/engine/configurations/source_file.py
  apiserver/paasng/paasng/platform/engine/utils/source.py
  apiserver/paasng/paasng/platform/smart_app/services/detector.py
  apiserver/paasng/paasng/platform/smart_app/services/dispatch.py
  apiserver/paasng/paasng/platform/smart_app/services/patcher.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/package.py
  apiserver/paasng/paasng/platform/sourcectl/exceptions.py
  apiserver/paasng/paasng/platform/sourcectl/views.py
  apiserver/paasng/tests/api/apigw/test_lesscode.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/test_handlers.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/test_v1.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v2/test_deployment.py
  apiserver/paasng/tests/paasng/platform/smart_app/conftest.py
  apiserver/paasng/tests/paasng/platform/smart_app/test_detector.py
  apiserver/paasng/tests/paasng/platform/smart_app/test_patcher.py
  apiserver/paasng/tests/paasng/platform/sourcectl/packages/test_utils.py
  apiserver/paasng/tests/paasng/platform/sourcectl/packages/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix： 首页提单修复 (#1697)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/service.js
  webfe/package_vue/src/views/dev-center/home/home-content/alarm-records.vue
  webfe/package_vue/src/views/dev-center/home/home-content/idle-app-dashboard.vue
  webfe/package_vue/src/views/dev-center/home/home-content/index.vue
Due: none

fix: slow query alerts count by 'gcs_mysql_slow_query' in label (#1695)
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: update webfe README.md
  webfe/README.md
Due: none
