Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

refactor: remove overridden_hostname and EnhancedConfiguration
  apiserver/paasng/paas_wl/apis/admin/serializers/clusters.py
  apiserver/paasng/paas_wl/apis/admin/views/clusters.py
  apiserver/paasng/paas_wl/infras/cluster/loaders.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0012_remove_apiserver_overridden_hostname.py
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paas_wl/infras/cluster/pools.py
  apiserver/paasng/paas_wl/infras/resources/base/base.py
  apiserver/paasng/paas_wl/utils/dns.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/tests/paas_wl/infras/cluster/conftest.py
  apiserver/paasng/tests/paas_wl/infras/cluster/test_loader.py
  apiserver/paasng/tests/paas_wl/infras/cluster/test_models.py
  apiserver/paasng/tests/utils/cluster.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: remove overridden_hostname in html template
  apiserver/paasng/paas_wl/infras/resources/base/base.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove deprecated phalanx monitor
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/misc/monitoring/monitor/phalanx.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializer.py
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

style: log bkapp_name in get_mres_from_cluster
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 导航添加元素埋点 # Reviewed, transaction id: 27986
  webfe/package_vue/src/common/trace-ids.js
  webfe/package_vue/src/components/cloud-app-top-bar.vue
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/clound-index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
Due: none

fix: 增强服务配置：由规格调整为方案 # Reviewed, transaction id: 27998
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/service.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/app/services/category.vue
  webfe/package_vue/src/views/dev-center/app/services/comps/config-edit.vue
  webfe/package_vue/src/views/dev-center/app/services/config.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

fix: 配置信息展示样式调整 # Reviewed, transaction id: 28004
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

fix: 增强服务配置：由规格调整为方案 (#1847)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/service.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/app/services/category.vue
  webfe/package_vue/src/views/dev-center/app/services/comps/config-edit.vue
  webfe/package_vue/src/views/dev-center/app/services/config.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

fix: resolve #1845 conversations
  apiserver/paasng/paas_wl/infras/cluster/loaders.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0012_cluster_assert_hostname.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0013_migration_overridden_hostname.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0014_remove_apiserver_overridden_hostname.py
  apiserver/paasng/paas_wl/infras/cluster/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: iam/apigw/lesscode 等 API 调用添加 X-Bk-Tenant-Id 请求头
  apiserver/paasng/paasng/accessories/cloudapi/components/bk_apigateway_inner.py
  apiserver/paasng/paasng/accessories/cloudapi/views.py
  apiserver/paasng/paasng/infras/iam/client.py
  apiserver/paasng/paasng/infras/iam/helpers.py
  apiserver/paasng/paasng/infras/iam/members/management/commands/migrate_bkpaas3_perm.py
  apiserver/paasng/paasng/infras/iam/members/management/commands/regrant_user_group_policies.py
  apiserver/paasng/paasng/infras/iam/members/management/commands/sync_app_admin_members.py
  apiserver/paasng/paasng/infras/iam/open_apis/providers/application.py
  apiserver/paasng/paasng/infras/iam/tasks.py
  apiserver/paasng/paasng/platform/applications/helpers.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/tenant.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/bk_lesscode/client.py
  apiserver/paasng/paasng/platform/bk_lesscode/views.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paasng/accessories/cloudapi/test_bk_apigateway_inner.py
  apiserver/paasng/tests/paasng/platform/test_lesscode.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #1845 conversations
  apiserver/paasng/paas_wl/infras/cluster/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove overridden_hostname and EnhancedConfiguration (#1845)
  apiserver/paasng/paas_wl/apis/admin/serializers/clusters.py
  apiserver/paasng/paas_wl/apis/admin/views/clusters.py
  apiserver/paasng/paas_wl/infras/cluster/loaders.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0012_cluster_assert_hostname.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0013_migration_overridden_hostname.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0014_remove_apiserver_overridden_hostname.py
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paas_wl/infras/cluster/pools.py
  apiserver/paasng/paas_wl/infras/resources/base/base.py
  apiserver/paasng/paas_wl/utils/dns.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/tests/paas_wl/infras/cluster/conftest.py
  apiserver/paasng/tests/paas_wl/infras/cluster/test_loader.py
  apiserver/paasng/tests/paas_wl/infras/cluster/test_models.py
  apiserver/paasng/tests/utils/cluster.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: ci API 添加请求头
  apiserver/paasng/paasng/infras/bk_ci/client.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/executors.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: bklog API 添加请求头
  apiserver/paasng/paasng/accessories/log/client.py
  apiserver/paasng/paasng/accessories/log/shim/bklog_custom_collector_config.py
  apiserver/paasng/paasng/accessories/log/views/config.py
  apiserver/paasng/paasng/accessories/log/views/logs.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/logging.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/log/__init__.py
  apiserver/paasng/paasng/infras/bk_log/client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: bkmonitor api 添加请求头
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/infras/bkmonitorv3/shim.py
  apiserver/paasng/paasng/misc/monitoring/metrics/clients/bkmonitor.py
  apiserver/paasng/paasng/misc/monitoring/metrics/models.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/client.py
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/manager.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/paasng/platform/bk_lesscode/client.py
  apiserver/paasng/tests/paasng/misc/monitoring/metrics/test_metric_manager.py
  apiserver/paasng/tests/paasng/platform/test_lesscode.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #1845 conversations
  apiserver/paasng/paasng/infras/accounts/permissions/constants.py
  apiserver/paasng/paasng/infras/accounts/permissions/plat_mgt.py
  apiserver/paasng/paasng/plat_mgt/constants.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/policies.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/state.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/policies.py
  apiserver/paasng/tests/api/plat_mgt/conftest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 调用 otel 增强服务时添加 tenant_id 参数
  apiserver/paasng/paasng/settings/utils.py
  apiserver/paasng/tests/paasng/accessories/servicehub/conftest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: svc-otel 调用监控 API 添加请求头
  svc-otel/README.md
  svc-otel/svc_otel/bkmonitorv3/client.py
  svc-otel/svc_otel/vendor/provider.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: resolve #1845 conversations
  apiserver/paasng/paasng/plat_mgt/infras/clusters/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: paas-service version in pyproject.toml
  svc-bkrepo/poetry.lock
  svc-bkrepo/pyproject.toml
  svc-mysql/poetry.lock
  svc-mysql/pyproject.toml
  svc-otel/poetry.lock
  svc-otel/pyproject.toml
  svc-rabbitmq/poetry.lock
  svc-rabbitmq/pyproject.toml
Due: none

fix: not pass regoin in mixed_service_mgr.get()
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

style: log bkapp name in get_mres_from_cluster (#1838)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unit test
  apiserver/paasng/tests/api/test_servicehub.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #1843 conversations
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/state.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：增强服务启用体验修复 # Reviewed, transaction id: 28219
  webfe/package_vue/src/components/loader/loading/service.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/app/services/comps/config-edit.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
  webfe/package_vue/src/views/services/v3-services.vue
Due: none

fix: 翻译调整 # Reviewed, transaction id: 28223
  webfe/package_vue/src/language/lang/en.js
Due: none

fix: resolve #1843 conversations
  apiserver/paasng/paas_wl/infras/cluster/constants.py
  apiserver/paasng/paas_wl/infras/cluster/entities.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0011_clusterallocationpolicy_cluster_available_tenant_ids_and_more.py
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/policies.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/state.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/policies.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_policies.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: platform management cluster & policy apis (#1843)
  apiserver/paasng/paas_wl/apis/admin/serializers/clusters.py
  apiserver/paasng/paas_wl/apis/admin/views/clusters.py
  apiserver/paasng/paas_wl/infras/cluster/constants.py
  apiserver/paasng/paas_wl/infras/cluster/entities.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0011_clusterallocationpolicy_cluster_available_tenant_ids_and_more.py
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paas_wl/workloads/networking/egress/cluster_state.py
  apiserver/paasng/paasng/infras/accounts/permissions/constants.py
  apiserver/paasng/paasng/infras/accounts/permissions/plat_mgt.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_mgt/constants.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/apps.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/constants.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/components.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/policies.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/state.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/components.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/policies.py
  apiserver/paasng/paasng/plat_mgt/infras/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/views.py
  apiserver/paasng/paasng/plat_mgt/urls.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/plat_mgt/__init__.py
  apiserver/paasng/tests/api/plat_mgt/conftest.py
  apiserver/paasng/tests/api/plat_mgt/infras/__init__.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/__init__.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/conftest.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_policies.py
  apiserver/paasng/tests/paas_wl/utils/wl_app.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix
  svc-bkrepo/poetry.lock
  svc-bkrepo/pyproject.toml
  svc-mysql/poetry.lock
  svc-mysql/pyproject.toml
  svc-otel/poetry.lock
  svc-otel/pyproject.toml
  svc-rabbitmq/poetry.lock
  svc-rabbitmq/pyproject.toml
Due: none

fix: 溢出tips # Reviewed, transaction id: 28240
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
Due: none

fix: 配置信息超出隐藏体验优化 # Reviewed, transaction id: 28256
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
Due: none

feat: add region field to ServiceAttachmentDetailedSLZ serializer
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：增强服务启用体验修复 (#1851)
  webfe/package_vue/src/components/loader/loading/service.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/app/services/comps/config-edit.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
  webfe/package_vue/src/views/services/v3-services.vue
Due: none

feat: add region field to ServiceAttachmentDetailedSLZ serializer (#1852)
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: remove SENSITIVE_MASK
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paasng/plat_mgt/constants.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/state.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: rm parameter region when call mixed_service_mgr.get function (#1850)
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/tests/api/test_servicehub.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #1853 conversations
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: remove SENSITIVE_MASK (#1853)
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paasng/plat_mgt/constants.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/state.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
