Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run pflake8 --config=pyproject.toml

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./mypy.ini"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 进程管理：进程名过长时样式乱了
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: 独立域名提示信息优化
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/custom-domain.vue
Due: none

feat: fix eslint
  webfe/package_vue/build/vue-loader.conf.js
  webfe/package_vue/config/index.js
  webfe/package_vue/src/main.js
Due: none

fix: modify productionSourceMap
  webfe/package_vue/config/index.js
Due: none

minor: 调整构建参数, 允许传递 NODE_ENV
  webfe/Dockerfile
  webfe/package_vue/package.json
Due: none

feat: enable developer manage app market
  apiserver/paasng/paasng/accessories/iam/utils.py
  apiserver/paasng/support-files/iam_tpl/0004_common_actions.json.j2
Due: isort, black, flake8, mypy-apiserver

feat: enable developer manage app market (#20)
  apiserver/paasng/paasng/accessories/iam/utils.py
  apiserver/paasng/support-files/iam_tpl/0004_common_actions.json.j2
Due: isort, black, flake8, mypy-apiserver

feat: support changelog api
  apiserver/paasng/changelog/zh-cn/V0.0.1_2022-11-17.md
  apiserver/paasng/paasng/changelog/__init__.py
  apiserver/paasng/paasng/changelog/log.py
  apiserver/paasng/paasng/changelog/urls.py
  apiserver/paasng/paasng/changelog/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/changelog/__init__.py
  apiserver/paasng/tests/changelog/test_log.py
Due: isort, black, flake8, mypy-apiserver

docs: en changelog init
  apiserver/paasng/changelog/en/V0.0.1_2022-11-17.md
Due: none

feat(workloads): 初始化集群命令简化
  workloads/paas_wl/paas_wl/cluster/management/commands/initial_default_cluster.py
  workloads/paas_wl/support-files/initial_data/cluster.json.j2
  workloads/paas_wl/tests/cluster/test_commands.py
Due: isort, black, flake8, mypy-workloads

feat: 还原配置项
  webfe/package_vue/config/index.js
  webfe/package_vue/package.json
  webfe/package_vue/src/components/paas-header.vue
Due: none

添加初始化应用集群的命令 (#11)
  workloads/paas_wl/paas_wl/cluster/management/commands/__init__.py
  workloads/paas_wl/paas_wl/cluster/management/commands/initial_default_cluster.py
  workloads/paas_wl/paas_wl/cluster/models.py
  workloads/paas_wl/tests/cluster/test_commands.py
Due: isort, black, flake8, mypy-workloads

fix: perm action manage_app_market no longer depend on edit_basic_info
  apiserver/paasng/paasng/accessories/iam/permissions/resources/application.py
Due: isort, black, flake8, mypy-apiserver

fix: perm action manage_app_market no longer depend on edit_basic_info (#23)
  apiserver/paasng/paasng/accessories/iam/permissions/resources/application.py
Due: isort, black, flake8, mypy-apiserver

refactor: rename log.py to query.py
  apiserver/paasng/paasng/changelog/query.py
  apiserver/paasng/paasng/changelog/views.py
  apiserver/paasng/tests/changelog/test_log.py
Due: isort, black, flake8, mypy-apiserver

fix: 代码对比差异, 重新部署接口
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: log清除
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: 修复插件开发中心若干接口
  apiserver/paasng/paasng/pluginscenter/configuration.py
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/releases/executor.py
  apiserver/paasng/paasng/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/deploy.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/tests/pluginscenter/conftest.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复插件开发中心若干接口 (#24)
  apiserver/paasng/paasng/pluginscenter/configuration.py
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/releases/executor.py
  apiserver/paasng/paasng/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/deploy.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/tests/pluginscenter/conftest.py
Due: isort, black, flake8, mypy-apiserver

feat(wip): query alert events api
  apiserver/paasng/paasng/monitoring/monitor/alert_events.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_cpu_usage.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_mem_usage.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/page_50x.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/serializers.py
  apiserver/paasng/tests/monitoring/alert_rules/conftest.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复单测
  apiserver/paasng/tests/pluginscenter/test_integration.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复单测 (#25)
  apiserver/paasng/tests/pluginscenter/test_integration.py
Due: isort, black, flake8, mypy-apiserver

fix: minifix
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

fix: minifix
  workloads/paas_wl/paas_wl/cluster/management/commands/initial_default_cluster.py
Due: isort, black, flake8, mypy-workloads

feat: 初始化集群数据添加默认值 & 插件 API 小修改 (#26)
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/views.py
  workloads/paas_wl/paas_wl/cluster/management/commands/initial_default_cluster.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

fix: 重新部署，配置管理功能
  webfe/package_vue/src/router/plugin.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/deploy-env/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

refactor: remove get_log_detail api
  apiserver/paasng/paasng/accessories/changelog/__init__.py
  apiserver/paasng/paasng/accessories/changelog/exceptions.py
  apiserver/paasng/paasng/accessories/changelog/query.py
  apiserver/paasng/paasng/accessories/changelog/serializers.py
  apiserver/paasng/paasng/accessories/changelog/urls.py
  apiserver/paasng/paasng/accessories/changelog/views.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/accessories/test_changelog.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复初始化集群单测
  workloads/paas_wl/paas_wl/cluster/management/commands/initial_default_cluster.py
  workloads/paas_wl/tests/cluster/test_commands.py
Due: isort, black, flake8, mypy-workloads

fix: 修复初始化集群单测 (#27)
  workloads/paas_wl/paas_wl/cluster/management/commands/initial_default_cluster.py
  workloads/paas_wl/tests/cluster/test_commands.py
Due: isort, black, flake8, mypy-workloads

refactor: use semver.VersionInfo instead of packaging.version
  apiserver/paasng/paasng/accessories/changelog/query.py
  apiserver/paasng/tests/accessories/test_changelog.py
Due: isort, black, flake8, mypy-apiserver

style: minor
  apiserver/paasng/tests/accessories/test_changelog.py
Due: isort, black, flake8, mypy-apiserver

docs: minor
  apiserver/paasng/paasng/accessories/changelog/query.py
Due: isort, black, flake8, mypy-apiserver

refactor: minor
  apiserver/paasng/paasng/accessories/changelog/query.py
Due: isort, black, flake8, mypy-apiserver

refactor: move accessories.bk_iam to accessories.iam.legacy
  apiserver/paasng/paasng/accessories/bk_iam/__init__.py
  apiserver/paasng/paasng/accessories/bk_iam/constants.py
  apiserver/paasng/paasng/accessories/iam/legacy.py
  apiserver/paasng/paasng/platform/legacydb/models.py
Due: isort, black, flake8, mypy-apiserver

fix: 插件开发中心-日志查询功能允许后台返回空列表
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
Due: none

fix: 插件开发中心-「部署」阶段轮询逻辑异常, 部署阶段返回异常
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

perf: expose iam exception message to user
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/platform/applications/handlers.py
  apiserver/paasng/paasng/platform/applications/helpers.py
  apiserver/paasng/paasng/platform/applications/management/commands/create_3rd_party_apps.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/basic.py
  apiserver/paasng/paasng/utils/error_codes.py
Due: isort, black, flake8, mypy-apiserver

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
