Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

feat: add env
  webfe/package_vue/.bk.production.env
  webfe/package_vue/index.html
  webfe/package_vue/package.json
Due: none

feat: update env
  webfe/package_vue/.bk.production.env
Due: none

minor: resolve #358 conversations
  apiserver/paasng/paas_wl/workloads/autoscaling/serializers.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复过滤 ES indexes 未转换时间到 utc 时区导致 index 被错误过滤的问题
  apiserver/paasng/paasng/utils/es_log/misc.py
  apiserver/paasng/tests/test_utils/es_log/test_misc.py
Due: isort, black, flake8, mypy-apiserver

feat: 新增环境变量
  webfe/package_vue/.bk.production.env
  webfe/package_vue/index.html
  webfe/package_vue/pre-task-plugin.js
  webfe/package_vue/src/components/paas-header.vue
Due: none

feat: simplify default app autoscaling config (#358)
  apiserver/paasng/paas_wl/workloads/autoscaling/constants.py
  apiserver/paasng/paas_wl/workloads/autoscaling/models.py
  apiserver/paasng/paas_wl/workloads/autoscaling/serializers.py
  apiserver/paasng/paas_wl/workloads/processes/drf_serializers.py
  apiserver/paasng/tests/paas_wl/workloads/autoscaling/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复过滤 ES indexes 未转换时间到 utc 时区导致 index 被错误过滤的问题 (#367)
  apiserver/paasng/paasng/utils/es_log/misc.py
  apiserver/paasng/tests/test_utils/es_log/test_misc.py
Due: isort, black, flake8, mypy-apiserver

feat: 修复快速进入app nav bug
  webfe/package_vue/src/components/app-quick-nav.vue
Due: none

minor: resolve #350 conversations
  bkpaas-cli/cmd/app/deploy.go
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/handler/deploy.go
  bkpaas-cli/pkg/handler/deploy_test.go
  bkpaas-cli/pkg/handler/types.go
  bkpaas-cli/pkg/utils/timex/timex_test.go
Due: none

minor: return 0s rather than <1s when time equal
  bkpaas-cli/pkg/utils/timex/timex.go
  bkpaas-cli/pkg/utils/timex/timex_test.go
Due: none

feat: bkpaas-cli support deploy, deploy-result, deploy-history command (#350)
  bkpaas-cli/cmd/app/app.go
  bkpaas-cli/cmd/app/deploy.go
  bkpaas-cli/cmd/app/deploy_history.go
  bkpaas-cli/cmd/app/deploy_result.go
  bkpaas-cli/cmd/app/get_info.go
  bkpaas-cli/go.mod
  bkpaas-cli/go.sum
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/apiresources/apigw_mock.go
  bkpaas-cli/pkg/apiresources/types.go
  bkpaas-cli/pkg/config/config_mock.go
  bkpaas-cli/pkg/handler/deploy.go
  bkpaas-cli/pkg/handler/deploy_test.go
  bkpaas-cli/pkg/handler/fetch.go
  bkpaas-cli/pkg/handler/fetch_test.go
  bkpaas-cli/pkg/handler/handler_suite_test.go
  bkpaas-cli/pkg/handler/types.go
  bkpaas-cli/pkg/helper/helper.go
  bkpaas-cli/pkg/helper/helper_suite_test.go
  bkpaas-cli/pkg/helper/helper_test.go
  bkpaas-cli/pkg/model/history.go
  bkpaas-cli/pkg/model/info.go
  bkpaas-cli/pkg/model/option.go
  bkpaas-cli/pkg/model/result.go
  bkpaas-cli/pkg/model/types.go
  bkpaas-cli/pkg/utils/timex/timex.go
  bkpaas-cli/pkg/utils/timex/timex_suite_test.go
  bkpaas-cli/pkg/utils/timex/timex_test.go
Due: none

fix: 云原生应用部署状态切换到itsm 无权限弹窗问题修复
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
Due: none

fix: 云原生应用部署状态切换到itsm 无权限弹窗问题修复 (#369)
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
Due: none

feat: 云原生进程名添加正则校验
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: modify text
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

docs: update bkpaas-cli Readme.md
  bkpaas-cli/Readme.md
Due: none

feat: 页面上展示的部署记录添加模块信息
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/platform/operations/models.py
  apiserver/paasng/paasng/platform/operations/views.py
Due: isort, black, flake8, mypy-apiserver

feat: 首页操作记录不再单独添加模块信息,概览页面查询所有模块的操作记录
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
  webfe/package_vue/src/views/dev-center/app/summary/engineless-overview.vue
  webfe/package_vue/src/views/index.vue
Due: none

fix: 操作记录单测修复
  apiserver/paasng/tests/platform/operations/test_operations.py
Due: isort, black, flake8, mypy-apiserver

test: fix unittest in controllers/reconcilers
  operator/pkg/controllers/reconcilers/addons_test.go
  operator/pkg/controllers/reconcilers/hooks_test.go
  operator/pkg/controllers/reconcilers/reconcilers_suite_test.go
  operator/pkg/controllers/reconcilers/utils_test.go
Due: operator-lint

refactor: remove some unnecessary log records
  apiserver/paasng/paas_wl/resources/actions/exec.py
  apiserver/paasng/paasng/ci/handlers.py
  apiserver/paasng/paasng/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: isort, black, flake8, mypy-apiserver

test: fix unittest in controllers/reconcilers (#372)
  operator/pkg/controllers/reconcilers/addons_test.go
  operator/pkg/controllers/reconcilers/hooks_test.go
  operator/pkg/controllers/reconcilers/reconcilers_suite_test.go
  operator/pkg/controllers/reconcilers/utils_test.go
Due: operator-lint

test: minor
  apiserver/paasng/tests/paas_wl/resources/actions/test_exec.py
Due: isort, black, flake8, mypy-apiserver

feat: support proc autoscaling
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/bkapp_webhook.go
  operator/api/v1alpha1/bkapp_webhook_test.go
  operator/api/v1alpha1/constants.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/autoscaling.tkex.tencent.com_generalpodautoscalers.yaml
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/controllers/bkapp_controller.go
  operator/controllers/domaingroupmapping_controller_test.go
  operator/controllers/suite_test.go
  operator/go.mod
  operator/go.sum
  operator/pkg/controllers/reconcilers/autoscaling.go
  operator/pkg/controllers/reconcilers/autoscaling_test.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/revision.go
  operator/pkg/controllers/resources/gpa.go
  operator/pkg/controllers/resources/gpa_test.go
  operator/pkg/controllers/resources/names/names.go
  operator/pkg/utils/kubestatus/deployment.go
  operator/pkg/utils/kubestatus/deployment_test.go
  operator/pkg/utils/kubestatus/gpa.go
  operator/pkg/utils/kubestatus/gpa_test.go
  operator/pkg/utils/kubestatus/pod.go
  operator/pkg/utils/kubestatus/pod_test.go
  operator/pkg/utils/stringx/stringx.go
  operator/pkg/utils/stringx/stringx_suite_test.go
  operator/pkg/utils/stringx/stringx_test.go
  operator/scripts/update_helm_chart.py
Due: isort, black, flake8, operator-lint

minor: resolve #370 conversations
  bkpaas-cli/Readme.md
Due: none

refactor: revert logger.exception
  apiserver/paasng/paas_wl/resources/actions/exec.py
  apiserver/paasng/paasng/engine/deploy/bg_build/bg_build.py
Due: isort, black, flake8, mypy-apiserver

test: revert
  apiserver/paasng/tests/paas_wl/resources/actions/test_exec.py
Due: isort, black, flake8, mypy-apiserver

fix: fix bugs
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: 首页操作记录前端不再单独添加模块信息,概览页面查询所有模块的操作记录 (#371)
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/platform/operations/models.py
  apiserver/paasng/paasng/platform/operations/views.py
  apiserver/paasng/tests/platform/operations/test_operations.py
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
  webfe/package_vue/src/views/dev-center/app/summary/engineless-overview.vue
  webfe/package_vue/src/views/index.vue
Due: isort, black, flake8, mypy-apiserver

fix: update cnative app proc name validate regex (#374)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

Fix some sentry errors (#353)
  apiserver/paasng/paasng/engine/workflow/flow.py
Due: isort, black, flake8, mypy-apiserver

docs: update bkpaas-cli Readme.md (#370)
  bkpaas-cli/Readme.md
Due: none

feat: support autoscaling env overlay
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/bkapp_webhook.go
  operator/api/v1alpha1/bkapp_webhook_test.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/reconcilers/autoscaling_test.go
  operator/pkg/controllers/resources/env_overlay.go
  operator/pkg/controllers/resources/env_overlay_test.go
  operator/pkg/controllers/resources/gpa.go
  operator/pkg/controllers/resources/gpa_test.go
Due: operator-lint

minor: handle some exceptions (#373)
  apiserver/paasng/paasng/ci/handlers.py
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: isort, black, flake8, mypy-apiserver

feat: 默认展示开发框架
  apiserver/paasng/fixtures/template.yaml
Due: none

feat: 调整Python框架的展示顺序，默认展示开发框架而不是helloworld (#375)
  apiserver/paasng/fixtures/template.yaml
Due: none

feat: update BkAppResource model to support cnative autoscaling
  apiserver/paasng/paas_wl/cnative/specs/v1alpha1/bk_app.py
  apiserver/paasng/paas_wl/workloads/autoscaling/constants.py
Due: isort, black, flake8, mypy-apiserver

feat: support login by bkTicket and AccessToken
  bkpaas-cli/Readme.md
  bkpaas-cli/cmd/login/login.go
  bkpaas-cli/pkg/account/account.go
  bkpaas-cli/pkg/account/account_test.go
  bkpaas-cli/pkg/apiresources/apigw_mock.go
Due: none

feat: implicitly read bk_ticket
  bkpaas-cli/Readme.md
  bkpaas-cli/cmd/login/login.go
Due: none

test: fix BkAppResource unittest
  apiserver/paasng/tests/paas_wl/cnative/specs/test_models.py
Due: isort, black, flake8, mypy-apiserver
