Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: add console.error() in webfe getProcessList (#1755)
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: handle None values in env_overlay fields to prevent unexpected behavior (#1753)
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/paasng/platform/declarative/deployment/validations/v2.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_importer.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: plugin proc-mgr page must use process_packages field rather than cnative_proc_specs
  apiserver/paasng/support-files/apigw/api_doc/en/list_processes.md
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: plugin proc-mgr page must use process_packages field rather than cnative_proc_specs (#1756)
  apiserver/paasng/support-files/apigw/api_doc/en/list_processes.md
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

feat: update svc-rabbitmq arrow
  svc-rabbitmq/poetry.lock
  svc-rabbitmq/pyproject.toml
  svc-rabbitmq/tasks/management/commands/worker.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: 体验问题修复 # Reviewed, transaction id: 24952
  webfe/package_vue/src/assets/md/en/host-aliases.md
  webfe/package_vue/src/assets/md/en/nameservers.md
  webfe/package_vue/src/assets/md/en/svc-discovery.md
  webfe/package_vue/src/assets/md/host-aliases.md
  webfe/package_vue/src/assets/md/nameservers.md
  webfe/package_vue/src/assets/md/svc-discovery.md
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/config-item.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/guide-sideslider.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/risk-tip.vue
Due: none

fix: md文件更新、文案优化 # Reviewed, transaction id: 24975
  webfe/package_vue/src/assets/md/en/host-aliases.md
  webfe/package_vue/src/assets/md/en/nameservers.md
  webfe/package_vue/src/assets/md/en/svc-discovery.md
  webfe/package_vue/src/assets/md/host-aliases.md
  webfe/package_vue/src/assets/md/nameservers.md
  webfe/package_vue/src/assets/md/svc-discovery.md
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/config-item.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/risk-tip.vue
Due: none

fix: 国际化翻译优化 # Reviewed, transaction id: 24986
  webfe/package_vue/src/language/lang/en.js
Due: none

fix: 服务发现/域名解析/DNS服务功能改进 (#1751)
  webfe/package_vue/src/assets/md/en/host-aliases.md
  webfe/package_vue/src/assets/md/en/nameservers.md
  webfe/package_vue/src/assets/md/en/svc-discovery.md
  webfe/package_vue/src/assets/md/host-aliases.md
  webfe/package_vue/src/assets/md/nameservers.md
  webfe/package_vue/src/assets/md/svc-discovery.md
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/app-description.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/config-item.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/guide-sideslider.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/risk-tip.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat: update arrow and grpcio version
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
  apiserver/paasng/paas_wl/workloads/release_controller/hooks/kres_entities.py
  apiserver/paasng/paasng/utils/es_log/misc.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update arrow and grpcio version
  apiserver/paasng/tests/paasng/test_utils/es_log/test_models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update svc-rabbitmq arrow version to 1.3.0 (#1757)
  svc-rabbitmq/poetry.lock
  svc-rabbitmq/pyproject.toml
  svc-rabbitmq/tasks/management/commands/worker.py
Due: ruff-check-fix, ruff-format, ruff-check

refactor: use sync_processes instead of ModuleProcessSpecManage.sync_from_desc
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/proc_env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: reset existing data logic in OverlayDataSyncer
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/proc_env_overlays.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_proc_env_overlays.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: minor
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: minor
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_proc_env_overlays.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove service attr from ProcessTmpl
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

style: use OneToOneField when set unique=true on FriengnKey
  apiserver/paasng/paasng/platform/applications/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: minor
  apiserver/paasng/paasng/platform/modules/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: add input validation to add desc transform
  apiserver/paasng/paasng/misc/tools/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: allow unknown version when image is exist
  apiserver/paasng/paas_wl/bk_app/applications/models/build.py
  apiserver/paasng/paasng/platform/engine/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

style: use OneToOneField
  apiserver/paasng/paasng/platform/applications/migrations/0014_alter_applicationdeploymentmoduleorder_module.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: typo
  apiserver/paasng/paasng/misc/tools/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: allow unknown version when image is exist (#1762)
  apiserver/paasng/paas_wl/bk_app/applications/models/build.py
  apiserver/paasng/paasng/platform/engine/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/platform/engine/urls.py
  apiserver/paasng/paasng/platform/engine/views/configvar_preset.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 ApplicationDeploymentModuleOrder 表 migration 问题
  apiserver/paasng/paasng/platform/applications/migrations/0013_applicationdeploymentmoduleorder.py
  apiserver/paasng/paasng/platform/applications/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add API to retrieve preset env variable (#1752)
  apiserver/paasng/paasng/platform/engine/serializers.py
  apiserver/paasng/paasng/platform/engine/urls.py
  apiserver/paasng/paasng/platform/engine/views/__init__.py
  apiserver/paasng/paasng/platform/engine/views/configvar_preset.py
  apiserver/paasng/tests/api/test_configvar_preset.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 ApplicationDeploymentModuleOrder 表 migration 问题 (#1763)
  apiserver/paasng/paasng/platform/applications/migrations/0013_applicationdeploymentmoduleorder.py
  apiserver/paasng/paasng/platform/applications/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: validation for app desc transform
  apiserver/paasng/paasng/misc/tools/app_desc.py
  apiserver/paasng/paasng/misc/tools/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 应用列表：默认按最近操作时间排序
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

fix: change error msg
  apiserver/paasng/paasng/misc/tools/app_desc.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unit test for exception
  apiserver/paasng/tests/api/test_tools.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove procfile and hooks from Deployment model
  apiserver/paasng/paasng/plat_admin/admin42/serializers/engine.py
  apiserver/paasng/paasng/platform/declarative/models.py
  apiserver/paasng/paasng/platform/engine/deploy/start.py
  apiserver/paasng/paasng/platform/engine/migrations/0023_remove_deployment_hooks_remove_deployment_procfile.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/paasng/platform/engine/utils/patcher.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update arrow and grpcio version
  apiserver/paasng/paasng/utils/es_log/misc.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update arrow and grpcio version (#1758)
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
  apiserver/paasng/paas_wl/workloads/release_controller/hooks/kres_entities.py
  apiserver/paasng/paasng/utils/es_log/misc.py
  apiserver/paasng/tests/paasng/test_utils/es_log/test_models.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: remove useless external client
  operator/README.md
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha1/projectconfig_types_test.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/config/manager/controller_manager_config.yaml
  operator/config/samples/paas_v1alpha1_projectconfig.yaml
  operator/controllers/bkapp_controller.go
  operator/controllers/bkapp_controller_test.go
  operator/main.go
  operator/pkg/controllers/bkapp/processes/resources/deployment_test.go
  operator/pkg/platform/external/client.go
  operator/pkg/platform/external/client_test.go
  operator/pkg/platform/external/constants.go
  operator/pkg/platform/external/fake.go
  operator/pkg/platform/external/suite_test.go
Due: operator-lint

feat: 插件列表添加过滤下拉，默认按照最新操作时间排序 # Reviewed, transaction id: 25317
  webfe/package_vue/src/views/plugin-center/comps/filter-select.vue
  webfe/package_vue/src/views/plugin-center/index.vue
Due: none

fix: remove useless external client (#1765)
  operator/README.md
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha1/projectconfig_types_test.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/config/manager/controller_manager_config.yaml
  operator/config/samples/paas_v1alpha1_projectconfig.yaml
  operator/controllers/bkapp_controller.go
  operator/controllers/bkapp_controller_test.go
  operator/main.go
  operator/pkg/controllers/bkapp/processes/resources/deployment_test.go
  operator/pkg/platform/external/client.go
  operator/pkg/platform/external/client_test.go
  operator/pkg/platform/external/constants.go
  operator/pkg/platform/external/fake.go
  operator/pkg/platform/external/suite_test.go
Due: operator-lint

feat: 添加开发者中心siteName，测试环境接入网站访问统计 # Reviewed, transaction id: 25375
  webfe/package_vue/.bk.production.env
  webfe/package_vue/index.html
  webfe/package_vue/static/runtime/runtime.ce.js
  webfe/package_vue/static/runtime/runtime.ee.js
Due: none
