Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

:fix: 云原生概览添加告警数量
  webfe/package_vue/src/views/dev-center/app/summary/comps/overview-top-info.vue
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
Due: none

fix: 云原生概览页面，不展示模块相关信息
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
  webfe/package_vue/src/views/dev-center/app/summary/overview.scss
Due: none

fix: 模块配置-模块信息切换bug修复
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

fix: 应用市场跳转链接不对
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
Due: none

fix: 云原生环境吧变量添加tooltips
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
Due: none

fix: 国际化问题修复
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-history.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-preview.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/market/index.scss
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
Due: none

fix: 监控相关功能根据 FeatureFlag 控制
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

fix: 国际化样式修复
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/analysis/comps/analysis.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/event.vue
Due: none

fix: 云原生应用部署页面，正在部署的进度不需要提示
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
Due: none

fix: 私有化版本：示例镜像为 nginx
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process-creat.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

创建模块错误信息处理
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
Due: none

feat: 云原生-构建配置：添加初始化模板下载入口
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/code-source.vue
Due: none

fix: 新建模块使用示例镜像区分版本
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process-creat.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: 错误捕捉，message字段无法适应所有场景，优化错误提示使用message|detail字段
  webfe/package_vue/src/components/app-quick-nav.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/module-manage.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/visit-url/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-log/deploy-stage/render-process-item.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
  webfe/package_vue/src/views/dev-center/app/engine/code-review/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
  webfe/package_vue/src/views/dev-center/app/market/mobile-market.vue
  webfe/package_vue/src/views/dev-center/app/services/config.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/migration/index.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
Due: none

fix: 镜像拉取策略显示逻辑bug修复，云原生概览页面资源用量与最新动态高度一致
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
Due: none

fix: fix bugs
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
Due: none

fix: 环境变量、挂载卷国际化补充
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
Due: none

fix: fix status bugs
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-timeline/index.vue
Due: none

fix: 修复部署的相关bug (#903)
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-timeline/index.vue
Due: none

fix: list cnative instances with null bkapp_release_id
  apiserver/paasng/paas_wl/bk_app/processes/views.py
Due: isort, black, flake8, mypy-apiserver

fix: list cnative instances with null bkapp_release_id (#909)
  apiserver/paasng/paas_wl/bk_app/processes/views.py
Due: isort, black, flake8, mypy-apiserver

feat: 是否允许选择已经发布过的代码分支
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/exceptions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/release.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

Return rich_status field in API resp.
  apiserver/paasng/paas_wl/bk_app/processes/serializers.py
Due: isort, black, flake8, mypy-apiserver

Return rich_status field in API resp. (#910)
  apiserver/paasng/paas_wl/bk_app/processes/serializers.py
Due: isort, black, flake8, mypy-apiserver

Tiny update according to review comments
  apiserver/paasng/paas_wl/workloads/autoscaling/kres_slzs.py
Due: isort, black, flake8, mypy-apiserver

Feature: add autoscaling support for the process managing API of cnative app
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/replicas.py
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/crd/bkapp_v1.yaml
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/procs/test_replicas.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_resource.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_svc_disc.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/test_processes.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manager.py
Due: isort, black, flake8, mypy-apiserver

Fix: sanitize the autoscaling_config field in different models; Use underscore name style.
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/replicas.py
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paas_wl/workloads/autoscaling/constants.py
  apiserver/paasng/paas_wl/workloads/autoscaling/entities.py
  apiserver/paasng/paas_wl/workloads/autoscaling/kres_entities.py
  apiserver/paasng/paas_wl/workloads/autoscaling/kres_slzs.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/management/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/management/commands/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/management/commands/sanitize_autoscaling.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/tests/api/test_bkapp_model.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/procs/test_replicas.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/test_processes.py
  apiserver/paasng/tests/paas_wl/workloads/autoscaling/test_serializers.py
  apiserver/paasng/tests/paas_wl/workloads/networking/egress/test_region.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_env_overlays.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_importer.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manager.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

Feature: add autoscaling support for the process managing API of cnative app (#900)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/replicas.py
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paas_wl/workloads/autoscaling/constants.py
  apiserver/paasng/paas_wl/workloads/autoscaling/entities.py
  apiserver/paasng/paas_wl/workloads/autoscaling/kres_entities.py
  apiserver/paasng/paas_wl/workloads/autoscaling/kres_slzs.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/management/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/management/commands/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/management/commands/sanitize_autoscaling.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/tests/api/test_bkapp_model.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/crd/bkapp_v1.yaml
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/procs/test_replicas.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_resource.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_svc_disc.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/test_processes.py
  apiserver/paasng/tests/paas_wl/workloads/autoscaling/test_serializers.py
  apiserver/paasng/tests/paas_wl/workloads/networking/egress/test_region.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_env_overlays.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_importer.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manager.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

fix:调整
  svc-mysql/svc_mysql/vendor/management/commands/reset_ins_credentials.py
Due: isort, black, flake8

bugfix: 修复 s-mart 应用 get_processes 函数会丢失 plan, replicas 等信息
  apiserver/paasng/paasng/platform/engine/utils/source.py
  apiserver/paasng/tests/paasng/platform/engine/utils/test_source.py
Due: isort, black, flake8, mypy-apiserver

minor: 调整注释
  apiserver/paasng/tests/paasng/platform/engine/utils/test_source.py
Due: isort, black, flake8, mypy-apiserver

fix:调整
  svc-mysql/svc_mysql/vendor/management/commands/reset_ins_config.py
Due: isort, black, flake8

bugfix: 修复 s-mart 应用 get_processes 函数会丢失 plan, replicas 等信息
  apiserver/paasng/paasng/engine/utils/source.py
  apiserver/paasng/tests/engine/utils/test_source.py
Due: isort, black, flake8, mypy-apiserver

fix: 是否允许选择已经发布过的代码分支&更新测试阶段状态 (#907)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/exceptions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/release.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 接口错误detail字段优先展示
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/visit-url/index.vue
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/scale-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/code-source.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/mirror.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
  webfe/package_vue/src/views/dev-center/migration/index.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: none

fix: 云原生-部署管理版本、分支信息区分修复
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
Due: none

fix: 部署历史-操作宽度问题
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-history.vue
Due: none

fix: 应用列表无数据字体大小调整
  webfe/package_vue/src/components/searching/searchAppList.vue
Due: none

fix: 接口错误detail字段优先展示、体验问题修复 (#908)
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/components/searching/searchAppList.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/visit-url/index.vue
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-history.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/scale-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/code-source.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/mirror.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
  webfe/package_vue/src/views/dev-center/migration/index.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: none
