Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

feat:通过 mysql_db 名称查询应用信息
  apiserver/paasng/paasng/accessories/servicehub/views.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add import image_credential_name in import_processes logic
  apiserver/paasng/paasng/platform/bkapp_model/importer/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/processes.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_processes.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/platform/bkapp_model/importer/processes.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_processes.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: 标准运维插件查询日志API按日志平台默认日志规则排序
  apiserver/paasng/paasng/bk_plugins/bk_plugins/logging.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: 标准运维插件查询日志API按日志平台默认日志规则排序 (#983)
  apiserver/paasng/paasng/bk_plugins/bk_plugins/logging.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

test: use concrete values instead of random values in pytest.mark.parametrize
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_processes.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add import image_credential_name in import_processes logic (#982)
  apiserver/paasng/paasng/platform/bkapp_model/importer/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/processes.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_processes.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 shim-bin 在镜像中是软链的问题
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/cnb-buildpack/bin/.gitkeep
Due: none

minor: 自行封装 apt cnb buildpack, 不再使用社区的 apt cnb buildpack
  .gitmodules
  apiserver/init.sh
  builder-stack/README.md
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/builder.toml
  builder-stack/cloudnative-buildpacks/builders/paketo-builder/builder.toml
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/.gitignore
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/Makefile
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/shim/bin
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/shim/buildpack.toml
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/shim/target/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/target
  builder-stack/cnb-builder-shim/README.md
  builder-stack/heroku-buildpacks/bk-buildpack-apt/.gitignore
  builder-stack/heroku-buildpacks/bk-buildpack-apt/Makefile
  builder-stack/heroku-buildpacks/bk-buildpack-apt/README.md
Due: none

fix: 修复 shim-bin 在镜像中是软链的问题
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/Makefile
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/builder.toml
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/.gitignore
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/Makefile
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/cnb-buildpack/bin/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/cnb-buildpack/buildpack.toml
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/cnb-buildpack/target/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/shim
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/shim/bin
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-go/.gitignore
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-go/Makefile
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-go/cnb-buildpack/bin/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-go/cnb-buildpack/buildpack.toml
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-go/cnb-buildpack/target/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-go/shim
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-go/shim/bin
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/.gitignore
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/Makefile
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/cnb-buildpack/bin/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/cnb-buildpack/buildpack.toml
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/cnb-buildpack/target/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/shim
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/shim/bin
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/.gitignore
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/Makefile
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/cnb-buildpack/buildpack.toml
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/cnb-buildpack/target/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/shim
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/shim/bin
Due: none

refactor with discussion
  apiserver/init.sh
Due: none

fix: ascode esb path
  apiserver/paasng/paasng/infras/bkmonitorv3/backend/esb.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 概览-告警数量: 应该使用告警记录页面一样的 API
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
Due: none

minor: 自行封装 apt cnb buildpack, 不再使用社区的 apt cnb buildpack (#981)
  .gitmodules
  apiserver/init.sh
  builder-stack/README.md
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/Makefile
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/builder.toml
  builder-stack/cloudnative-buildpacks/builders/paketo-builder/builder.toml
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/.gitignore
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/Makefile
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/cnb-buildpack/bin/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/cnb-buildpack/buildpack.toml
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/cnb-buildpack/target/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/shim
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-apt/target
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-go/cnb-buildpack/bin/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-go/cnb-buildpack/buildpack.toml
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-go/cnb-buildpack/target/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-go/shim
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-go/shim/bin
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/.gitignore
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/Makefile
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/cnb-buildpack/bin/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/cnb-buildpack/buildpack.toml
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/cnb-buildpack/target/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/shim
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/shim/bin
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/.gitignore
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/Makefile
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/cnb-buildpack/bin/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/cnb-buildpack/buildpack.toml
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/cnb-buildpack/target/.gitkeep
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/shim
  builder-stack/cloudnative-buildpacks/buildpacks/bk-buildpack-python/shim/bin
  builder-stack/cnb-builder-shim/README.md
  builder-stack/heroku-buildpacks/bk-buildpack-apt/.gitignore
  builder-stack/heroku-buildpacks/bk-buildpack-apt/Makefile
  builder-stack/heroku-buildpacks/bk-buildpack-apt/README.md
Due: none

fix: 概览-告警数量: 应该使用告警记录页面一样的 API (#984)
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
Due: none

S-mart包名称非验证
  webfe/package_vue/src/components/uploader/index.vue
Due: none

S-mart包上传报错修复 (#985)
  webfe/package_vue/src/components/uploader/index.vue
Due: none

feat: add environment argument to set zap Development mode (#962)
  operator/README.md
  operator/go.mod
  operator/main.go
  operator/pkg/controllers/reconcilers/deploy_action.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/hooks.go
  operator/pkg/controllers/svcdisc/configmap.go
Due: operator-lint

refactor: set zap Development to false
  operator/main.go
Due: operator-lint

docs: minor
  operator/main.go
Due: operator-lint

refactor: set zap Development to false (#986)
  operator/main.go
Due: operator-lint

fix: 修复无法创建第三方应用的问题
  apiserver/paasng/paasng/platform/applications/handlers.py
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复无法创建第三方应用的问题 (#987)
  apiserver/paasng/paasng/platform/applications/handlers.py
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix:新增最近操作人员字段
  apiserver/paasng/paasng/platform/applications/serializers/app.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add validate json_value for dry run store_bkapp_to_db command
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_to_db.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: smart 应用为云原生应用则需要初始化应用模型信息
  apiserver/paasng/paasng/platform/modules/manager.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 单元测试
  apiserver/paasng/tests/api/test_smart_app.py
  apiserver/paasng/tests/paasng/platform/declarative/test_application.py
  apiserver/paasng/tests/paasng/platform/declarative/test_protection.py
  apiserver/paasng/tests/paasng/platform/engine/test_handlers.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 单元测试
  apiserver/paasng/tests/paasng/platform/declarative/test_handlers.py
  apiserver/paasng/tests/paasng/platform/engine/test_handlers.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: patch go1.21.4.linux-amd64.tar.gz to files.json
  builder-stack/heroku-buildpacks/bk-buildpack-go/Makefile
  builder-stack/heroku-buildpacks/bk-buildpack-go/README.md
  builder-stack/heroku-buildpacks/bk-buildpack-go/patchs/buildpack/files.json.patch
Due: none

feat: patch go1.21.4.linux-amd64.tar.gz to files.json (#990)
  builder-stack/heroku-buildpacks/bk-buildpack-go/Makefile
  builder-stack/heroku-buildpacks/bk-buildpack-go/README.md
  builder-stack/heroku-buildpacks/bk-buildpack-go/patchs/buildpack/files.json.patch
Due: none

fix: 修复 s-mart 应用无法正常获取源码版本的问题
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/tests/paasng/platform/engine/test_deployment.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add validate json_value when dry run store_bkapp_to_db command (#988)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_to_db.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 s-mart 应用无法正常获取源码版本的问题 (#991)
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/tests/paasng/platform/engine/test_deployment.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

upgrade git to 2.30.2
  apiserver/Dockerfile
Due: none

minor: 添加单元测试
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
  apiserver/paasng/tests/paasng/platform/sourcectl/test_bare_git.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix unittest
  apiserver/paasng/tests/api/apigw/test_modules.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-format: any of: \.py$
  ruff-check-fix: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
