Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

feat: 修改访问管理
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
Due: none

fix: 国际化翻译修复
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/migration/index.vue
Due: none

fix: 国际化翻译修复 (#522)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/migration/index.vue
Due: none

fix: cnative WlApp type and default cluster bind
  apiserver/paasng/paas_wl/cluster/shim.py
  apiserver/paasng/paas_wl/cnative/specs/credentials.py
  apiserver/paasng/paas_wl/cnative/specs/exceptions.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/paas_wl/platform/api.py
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/tests/api/test_build_config.py
Due: isort, black, flake8, mypy-apiserver

feat: use BUILD_PROCESS_TIMEOUT to set slug build process timeout
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

refactor: minor
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/engine/deploy/building.py
Due: isort, black, flake8, mypy-apiserver

test: fix test_validate_references
  apiserver/paasng/tests/paas_wl/cnative/specs/test_credentials.py
Due: isort, black, flake8, mypy-apiserver

docs: update conf.yaml.tpl
  apiserver/paasng/conf.yaml.tpl
Due: none

fix: save build_config.tag_options when provided (#521)
  apiserver/paasng/paas_wl/cluster/shim.py
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/credentials.py
  apiserver/paasng/paas_wl/cnative/specs/exceptions.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/procs/quota.py
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/paas_wl/platform/api.py
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/models/deploy_config.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/tests/api/test_build_config.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_credentials.py
Due: isort, black, flake8, mypy-apiserver

fix: use func active_language to reset language when testing
  apiserver/paasng/tests/plat_admin/test_system.py
  apiserver/paasng/tests/utils/translation.py
Due: isort, black, flake8, mypy-apiserver

refactor: use django override instead of custom active_language
  apiserver/paasng/tests/plat_admin/test_system.py
  apiserver/paasng/tests/utils/translation.py
Due: isort, black, flake8, mypy-apiserver

feat: use BUILD_PROCESS_TIMEOUT to set slug build process timeout (#523)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/plat_admin/test_system.py
Due: isort, black, flake8, mypy-apiserver

feat: add MAX_PROCESSES_PER_MODULE when parse module process (#517)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/engine/utils/source.py
  apiserver/paasng/paasng/settings/__init__.py
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/pkg/config/config.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

feat:访问地址重构
  webfe/package_vue/.eslintrc.js
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/store/modules/region.js
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-audit.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-ip.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-user.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/done-order.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/processing-order.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
Due: none

feat: audit access control switch operation
  apiserver/paasng/paasng/platform/operations/constant.py
  apiserver/paasng/paasng/platform/operations/handlers.py
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
Due: isort, black, flake8, mypy-apiserver

docs: update django.po & django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

feat: audit access control switch operation (#524)
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/platform/operations/constant.py
  apiserver/paasng/paasng/platform/operations/handlers.py
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
Due: isort, black, flake8, mypy-apiserver

feat: fetch list data
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/store/modules/entry-config.js
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

feat: 持续化接口成功刷新页面
  webfe/package_vue/src/components/paas-header.vue
Due: none

feat: 持续化接口成功刷新页面 (#526)
  webfe/package_vue/src/components/paas-header.vue
Due: none

bugfix: 修复 build_config 不支持传空 docker_build_args 的问题
  apiserver/dev_utils/bundle/start.sh
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/tests/api/test_build_config.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复 build_config 不支持传空 docker_build_args 的问题 (#527)
  apiserver/dev_utils/bundle/start.sh
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/tests/api/test_build_config.py
Due: isort, black, flake8, mypy-apiserver

refactor: 调整访问地址接口返回格式
  apiserver/paasng/paas_wl/networking/entrance/addrs.py
  apiserver/paasng/paas_wl/networking/entrance/allocator/domains.py
  apiserver/paasng/paas_wl/networking/entrance/allocator/subpaths.py
  apiserver/paasng/paas_wl/networking/entrance/serializers.py
  apiserver/paasng/paas_wl/networking/entrance/views_enduser.py
  apiserver/paasng/tests/paas_wl/api/test_entrance.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paas_wl/networking/entrance/views_enduser.py
Due: isort, black, flake8, mypy-apiserver

refactor: 调整访问地址接口返回格式 (#525)
  apiserver/paasng/paas_wl/networking/entrance/addrs.py
  apiserver/paasng/paas_wl/networking/entrance/allocator/domains.py
  apiserver/paasng/paas_wl/networking/entrance/allocator/subpaths.py
  apiserver/paasng/paas_wl/networking/entrance/serializers.py
  apiserver/paasng/paas_wl/networking/entrance/views_enduser.py
  apiserver/paasng/tests/paas_wl/api/test_entrance.py
Due: isort, black, flake8, mypy-apiserver

refactor: 拆散 paasng.engine.views 成多个文件
  apiserver/paasng/paasng/engine/urls.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/engine/views/__init__.py
  apiserver/paasng/paasng/engine/views/configvar.py
  apiserver/paasng/paasng/engine/views/deploy.py
  apiserver/paasng/paasng/engine/views/misc.py
  apiserver/paasng/paasng/engine/views/release.py
  apiserver/paasng/tests/api/test_engine.py
Due: isort, black, flake8, mypy-apiserver

refactor: 拆散 paasng.engine.views 成多个文件 (#529)
  apiserver/paasng/paasng/engine/urls.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/engine/views/__init__.py
  apiserver/paasng/paasng/engine/views/configvar.py
  apiserver/paasng/paasng/engine/views/deploy.py
  apiserver/paasng/paasng/engine/views/misc.py
  apiserver/paasng/paasng/engine/views/release.py
  apiserver/paasng/tests/api/test_engine.py
Due: isort, black, flake8, mypy-apiserver

feat: 完成访问管理相关重构
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/store/modules/entry-config.js
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

fix: repo_url in module info may null
  bkpaas-cli/pkg/handler/retrieve.go
Due: none

Tiny update readme of bkpaas-cli
  bkpaas-cli/Readme.md
Due: none

fix: repo_url in module info may null (#531)
  bkpaas-cli/pkg/handler/retrieve.go
Due: none

Add type guiding on application_perm_check(support Module)
  apiserver/paasng/paasng/accounts/permissions/application.py
Due: isort, black, flake8, mypy-apiserver

Remove period
  apiserver/paasng/paasng/accounts/permissions/application.py
Due: isort, black, flake8, mypy-apiserver

Add type guiding on application_perm_check(support Module) (#528)
  apiserver/paasng/paasng/accounts/permissions/application.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/tests/paas_wl/api/test_entrance.py
Due: isort, black, flake8, mypy-apiserver

minor: 微调访问地址接口格式
  apiserver/paasng/paas_wl/networking/entrance/serializers.py
  apiserver/paasng/paas_wl/networking/entrance/views_enduser.py
Due: isort, black, flake8, mypy-apiserver

minor: 微调访问地址接口格式
  apiserver/paasng/paas_wl/networking/entrance/serializers.py
Due: isort, black, flake8, mypy-apiserver

minor: 微调访问地址接口格式 (#530)
  apiserver/paasng/paas_wl/networking/entrance/serializers.py
  apiserver/paasng/paas_wl/networking/entrance/views_enduser.py
  apiserver/paasng/tests/paas_wl/api/test_entrance.py
Due: isort, black, flake8, mypy-apiserver

Tiny update readme of bkpaas-cli (#532)
  bkpaas-cli/Readme.md
Due: none

enhance: BuildProcess 根据设计图扩展字段; 实现构建历史 API
  apiserver/paasng/paas_wl/platform/applications/migrations/0013_auto_20230629_1229.py
  apiserver/paasng/paas_wl/platform/applications/migrations/0014_auto_20230629_1459.py
  apiserver/paasng/paas_wl/platform/applications/models/build.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/serializers.py
  apiserver/paasng/paasng/engine/views/build.py
  apiserver/paasng/tests/paas_wl/utils/build.py
Due: isort, black, flake8, mypy-apiserver
