Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 更多配置，编辑边界处理
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/config-item.vue
Due: none

code review
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/code-source.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: 云原生部署历史-先查看日志再查看YAML显示问题修复
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-history.vue
Due: none

fix: 部署分支选取 bug 修复
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

refactor: minor
  builder-stack/cnb-builder-shim/cmd/dev-launcher/launch/launch.go
  builder-stack/cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl.go
  builder-stack/cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl_test.go
Due: none

docs: minor
  builder-stack/cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl.go
Due: none

fix: 模块配置-挂载卷，侧边栏规范取消按钮无效果修复
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

通知中心前端组件升级、体验问题修复 (#1153)
  webfe/package_vue/package.json
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-history.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/code-source.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/mirror.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-build.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/config-item.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/engine/packages/index.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/external.vue
  webfe/package_vue/src/views/dev-center/create-app/main.vue
Due: none

refactor: minor
  builder-stack/cnb-builder-shim/internal/devcontainer/webserver/service/deploy.go
Due: none

feat: 将 pymysql 替换为 mysqlclient (#1150)
  apiserver/paasng/paasng/accessories/services/providers/mysql/provider.py
  apiserver/paasng/paasng/core/core/storages/utils.py
  apiserver/paasng/tests/conftest.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

ehance：更新 manifest 导入操作，并且与部署操作拆分开
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/domain_resolution.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/svc_discovery.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/urls.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_domain_resolution.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

ehance：更新 manifest 导入操作，并且与部署操作拆分开
  apiserver/paasng/paas_wl/bk_app/cnative/specs/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fuck linter
  .pre-commit-config.yaml
  builder-stack/cnb-builder-shim/cmd/build-init/main_test.go
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/init.go
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/main.go
  builder-stack/cnb-builder-shim/cmd/dev-launcher/launch/launch.go
  builder-stack/cnb-builder-shim/internal/devcontainer/phase/builder.go
  builder-stack/cnb-builder-shim/internal/devcontainer/phase/launcher.go
  builder-stack/cnb-builder-shim/internal/devcontainer/reload.go
  builder-stack/cnb-builder-shim/internal/devcontainer/reload_test.go
  builder-stack/cnb-builder-shim/internal/devcontainer/watchsrv.go
  builder-stack/cnb-builder-shim/internal/devcontainer/webserver/server.go
  builder-stack/cnb-builder-shim/internal/devcontainer/webserver/server_test.go
  builder-stack/cnb-builder-shim/internal/devcontainer/webserver/service/deploy.go
  builder-stack/cnb-builder-shim/internal/devcontainer/webserver/service/deploy_test.go
  builder-stack/cnb-builder-shim/pkg/fetcher/fs/fetcher_test.go
  builder-stack/cnb-builder-shim/pkg/fetcher/http/fetcher.go
  builder-stack/cnb-builder-shim/pkg/fetcher/http/fetcher_test.go
Due: none

fix linter (#1156)
  .pre-commit-config.yaml
  builder-stack/cnb-builder-shim/cmd/build-init/main_test.go
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/init.go
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/main.go
  builder-stack/cnb-builder-shim/cmd/dev-launcher/launch/launch.go
  builder-stack/cnb-builder-shim/internal/devcontainer/phase/builder.go
  builder-stack/cnb-builder-shim/internal/devcontainer/phase/launcher.go
  builder-stack/cnb-builder-shim/internal/devcontainer/reload.go
  builder-stack/cnb-builder-shim/internal/devcontainer/reload_test.go
  builder-stack/cnb-builder-shim/internal/devcontainer/watchsrv.go
  builder-stack/cnb-builder-shim/internal/devcontainer/webserver/server.go
  builder-stack/cnb-builder-shim/internal/devcontainer/webserver/server_test.go
  builder-stack/cnb-builder-shim/internal/devcontainer/webserver/service/deploy.go
  builder-stack/cnb-builder-shim/internal/devcontainer/webserver/service/deploy_test.go
  builder-stack/cnb-builder-shim/pkg/fetcher/fs/fetcher_test.go
  builder-stack/cnb-builder-shim/pkg/fetcher/http/fetcher.go
  builder-stack/cnb-builder-shim/pkg/fetcher/http/fetcher_test.go
Due: none

feat:提供命令修改增强服务认证信息
  apiserver/paasng/paasng/accessories/servicehub/management/commands/reset_service_instance_credentials.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: add "type" field in latest operated applications API
  apiserver/paasng/paasng/platform/applications/serializers/app.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: add "type" field in latest operated applications API (#1154)
  apiserver/paasng/paasng/platform/applications/serializers/app.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix
  apiserver/paasng/paasng/platform/bkapp_model/importer/domain_resolution.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/svc_discovery.py
  apiserver/paasng/paasng/utils/error_codes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:修改
  apiserver/paasng/paasng/platform/bkapp_model/urls.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/tests/api/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 添加 FeatureFlag 用于前端控制镜像应用是否能绑定源码信息
  apiserver/paasng/paasng/misc/feature_flags/constants.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:修改
  apiserver/paasng/tests/api/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:修改
  apiserver/paasng/paas_wl/bk_app/cnative/specs/urls.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:修改
  apiserver/paasng/paasng/platform/bkapp_model/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

enhance:云原生应用支持 procfile (#1151)
  apiserver/paasng/paasng/platform/engine/deploy/building.py
  apiserver/paasng/paasng/platform/engine/utils/patcher.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 最近操作-云原生应用“后退”按钮无法正常工作修复
  webfe/package_vue/src/views/index.vue
Due: none

refactor: 移除 bk-buildpack-go 过度设计的逻辑
  builder-stack/heroku-buildpacks/bk-buildpack-go/hooks/post-compile
  builder-stack/heroku-buildpacks/bk-buildpack-go/hooks/pre-compile
  builder-stack/heroku-buildpacks/bk-buildpack-go/patchs/buildpack/bin/compile.patch
Due: none

fxi typo
  builder-stack/heroku-buildpacks/bk-buildpack-go/patchs/buildpack/bin/compile.patch
Due: none

refactor with discussion
  builder-stack/heroku-buildpacks/bk-buildpack-go/patchs/buildpack/bin/compile.patch
Due: none

Fix buildpack go (#1157)
  builder-stack/heroku-buildpacks/bk-buildpack-go/hooks/post-compile
  builder-stack/heroku-buildpacks/bk-buildpack-go/hooks/pre-compile
  builder-stack/heroku-buildpacks/bk-buildpack-go/patchs/buildpack/bin/compile.patch
Due: none

fix: 修复 hooks 未执行完毕会一直堵塞 bkapp 回收的问题(当 Pod 超时则允许直接删除资源)
  operator/pkg/controllers/reconcilers/finalizer.go
  operator/pkg/controllers/reconcilers/finalizer_test.go
Due: operator-lint

refactor with discussion
  operator/pkg/controllers/reconcilers/finalizer.go
Due: operator-lint

fix: 修复 hooks 未执行完毕会一直堵塞 bkapp 回收的问题(当 Pod 超时则允许直接删除资源) (#1155)
  operator/pkg/controllers/reconcilers/finalizer.go
  operator/pkg/controllers/reconcilers/finalizer_test.go
Due: operator-lint

fix: 前端文档路径前缀
  webfe/package_vue/index.html
Due: none

feat: 添加 FeatureFlag 用于前端控制镜像应用是否能绑定源码信息 (#1158)
  apiserver/paasng/paasng/misc/feature_flags/constants.py
  apiserver/paasng/paasng/settings/__init__.py
  webfe/package_vue/index.html
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 镜像应用支持绑定源码仓库
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/code-source.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-build.vue
Due: none

fix:修复 smart 应用无法部署的问题
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: resolve #1147 conversations
  apiserver/paasng/paasng/platform/evaluation/collectors.py
  apiserver/paasng/paasng/platform/evaluation/evaluators.py
  apiserver/paasng/paasng/platform/evaluation/providers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver
