Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

feat: bkpaas-cli support debug mode (#415)
  bkpaas-cli/cmd/app/app.go
  bkpaas-cli/cmd/app/deploy.go
  bkpaas-cli/cmd/app/deploy_history.go
  bkpaas-cli/cmd/app/deploy_result.go
  bkpaas-cli/cmd/app/get_info.go
  bkpaas-cli/cmd/app/list.go
  bkpaas-cli/cmd/login/login.go
  bkpaas-cli/cmd/root.go
  bkpaas-cli/main.go
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/config/config.go
  bkpaas-cli/pkg/handler/deploy.go
  bkpaas-cli/pkg/handler/deploy_test.go
  bkpaas-cli/pkg/handler/types.go
  bkpaas-cli/pkg/utils/console/console.go
Due: none

fix: add ignore
  webfe/package_vue/.eslintrc.js
  webfe/package_vue/src/components/paas-footer.vue
  webfe/package_vue/src/views/dev-center/app/services/config.vue
Due: none

feature: 支持 CloudNative Buildpacks 运行时
  apiserver/paasng/paas_wl/platform/applications/models/config.py
  apiserver/paasng/paas_wl/workloads/images/entities.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paasng/engine/configurations/building.py
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/i18n/migrate.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paas_wl/platform/applications/models/config.py
  apiserver/paasng/paas_wl/workloads/images/entities.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paasng/engine/configurations/building.py
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paas_wl/resources/base/test_controllers.py
  apiserver/paasng/tests/paas_wl/resources/base/test_credentials.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/paas_wl/workloads/images/entities.py
Due: isort, black, flake8, mypy-apiserver

fix: 国际化补充
  webfe/package_vue/src/components/plugin-quick-nav.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/batch-apply-dialog.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/batch-renewal-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-version.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-resource.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

refactor: reslove fix comments
  apiserver/paasng/paasng/dev_resources/servicehub/services.py
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/tests/dev_resources/servicehub/test_services.py
  apiserver/paasng/tests/plat_admin/test_system.py
Due: isort, black, flake8, mypy-apiserver

fix: cnative deploy status polling failed too fast
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/migrations/0003_appmodeldeploy_polling_failure_count.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/tasks.py
Due: isort, black, flake8, mypy-apiserver

fix: 国际化部署配置启用问题修复
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-config.vue
Due: none

minor: exclude polling_failure_count field when serializer AppModelDeploy
  apiserver/paasng/paas_wl/cnative/specs/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix: 普通应用国际化补充
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/port-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
  webfe/package_vue/src/views/dev-center/app/summary/engineless-overview.vue
Due: none

fix: 修复tapd单据问题
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/mixins/app-base-mixin.js
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
Due: none

fix: 国际化补充 (#417)
  webfe/package_vue/src/components/plugin-quick-nav.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/batch-apply-dialog.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/batch-renewal-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-version.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-resource.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/port-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
  webfe/package_vue/src/views/dev-center/app/summary/engineless-overview.vue
Due: none

feature: 支持基于 kaniko 的镜像构建; 实现 .dockerignore 的解析; 实现 .dockerignore 的逻辑
  apiserver/paasng/paas_wl/release_controller/constants.py
  apiserver/paasng/paasng/dev_resources/sourcectl/exceptions.py
  apiserver/paasng/paasng/dev_resources/sourcectl/utils.py
  apiserver/paasng/paasng/dev_resources/templates/migrations/0005_template_runtime_type.py
  apiserver/paasng/paasng/dev_resources/templates/models.py
  apiserver/paasng/paasng/engine/configurations/building.py
  apiserver/paasng/paasng/engine/configurations/source_file.py
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/start.py
  apiserver/paasng/paasng/engine/utils/source.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/migrations/0007_module_runtime_type.py
  apiserver/paasng/paasng/platform/modules/models/module.py
  apiserver/paasng/paasng/platform/modules/specs.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/paasng/utils/patternmatcher.py
  apiserver/paasng/tests/sourcectl/test_dockerignore.py
  apiserver/paasng/tests/test_utils/test_patternmatcher.py
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: isort, black, flake8, mypy-apiserver

feat: add addons spec in v1alpha2
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/constants.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/controllers/bkapp_controller_test.go
  operator/pkg/controllers/reconcilers/addons.go
  operator/pkg/controllers/reconcilers/addons_test.go
  operator/pkg/controllers/resources/configuration.go
  operator/pkg/controllers/resources/configuration_test.go
  operator/pkg/platform/external/addons.go
  operator/pkg/platform/external/addons_test.go
  operator/pkg/testing/bkapp.go
Due: operator-lint

feature: 支持 CloudNative Buildpacks 运行时 (#411)
  apiserver/paasng/paas_wl/platform/applications/models/config.py
  apiserver/paasng/paas_wl/workloads/images/entities.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paasng/engine/configurations/building.py
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/i18n/migrate.py
  apiserver/paasng/tests/paas_wl/resources/base/test_controllers.py
  apiserver/paasng/tests/paas_wl/resources/base/test_credentials.py
Due: isort, black, flake8, mypy-apiserver

fix: support copy autoscaling config in conversion webhook
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha2/compat.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
Due: operator-lint

feat: conversions between v1alpha1 and v1alpha2
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/constants.go
  operator/pkg/controllers/reconcilers/addons.go
  operator/pkg/controllers/reconcilers/addons_test.go
Due: operator-lint

refactor: minor
  operator/api/v1alpha1/bkapp_conversion.go
Due: operator-lint

fix: 国际化处理
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/access-ctl/by-user.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/alarm-record.vue
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/comps/log-filter.vue
Due: none

fix: 国际化处理 (#423)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/access-ctl/by-user.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/alarm-record.vue
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/comps/log-filter.vue
Due: none

fix: support copy autoscaling config in conversion webhook (#421)
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha2/compat.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
Due: operator-lint

docs: update command tips and debug mode chapter in Readme.md
  bkpaas-cli/Readme.md
  bkpaas-cli/pkg/model/info.go
Due: none

docs: add changelogs
  apiserver/paasng/changelog/en/V0.0.1_2022-11-17.md
  apiserver/paasng/changelog/en/V0.1.0_2022-11-17.md
  apiserver/paasng/changelog/en/V0.1.4_2023-03-20.md
  apiserver/paasng/changelog/en/V1.1.0_2023-05-17.md
  apiserver/paasng/changelog/zh-cn/V0.0.1_2022-11-17.md
  apiserver/paasng/changelog/zh-cn/V0.1.0_2022-11-17.md
  apiserver/paasng/changelog/zh-cn/V0.1.4_2023-03-20.md
  apiserver/paasng/changelog/zh-cn/V1.1.0_2023-05-17.md
Due: none

docs: minor
  apiserver/paasng/changelog/zh-cn/V1.1.0_2023-05-17.md
Due: none

docs: update command tips and debug mode chapter in Readme.md (#424)
  bkpaas-cli/Readme.md
  bkpaas-cli/pkg/model/info.go
Due: none

docs: add changelogs (#425)
  apiserver/paasng/changelog/en/V0.0.1_2022-11-17.md
  apiserver/paasng/changelog/en/V0.1.0_2022-11-17.md
  apiserver/paasng/changelog/en/V0.1.4_2023-03-20.md
  apiserver/paasng/changelog/en/V1.1.0_2023-05-17.md
  apiserver/paasng/changelog/zh-cn/V0.0.1_2022-11-17.md
  apiserver/paasng/changelog/zh-cn/V0.1.0_2022-11-17.md
  apiserver/paasng/changelog/zh-cn/V0.1.4_2023-03-20.md
  apiserver/paasng/changelog/zh-cn/V1.1.0_2023-05-17.md
Due: none

fix: 国际化问题修复
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/dev_resources/servicehub/local/manager.py
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/engine/workflow/flow.py
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-history.vue
Due: isort, black, flake8, mypy-apiserver

docs: add mo 文件
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
Due: none

fix: 部署步骤名必须为中文
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/workflow/flow.py
Due: isort, black, flake8, mypy-apiserver

feat: 自动扩缩容页面 调整
  webfe/package_vue/.eslintrc.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: 国际化问题修复 (#427)
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/dev_resources/servicehub/local/manager.py
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/workflow/flow.py
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-history.vue
Due: isort, black, flake8, mypy-apiserver

enhance: 国际化字段在 DRF 校验时收敛到一个错误信息
  apiserver/paasng/paasng/utils/i18n/serializers.py
  apiserver/paasng/tests/test_utils/i18n/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 Release 时的镜像 tag 未修改
  apiserver/paasng/paasng/engine/configurations/image.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复单元测试
  apiserver/paasng/paasng/utils/i18n/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix: minor
  operator/pkg/controllers/reconcilers/addons.go
  operator/pkg/controllers/reconcilers/addons_test.go
Due: operator-lint

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
