Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

feat: 初始化时加载代码，支持不同类型的代码获取方式
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/init.go
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/main.go
  builder-stack/cnb-builder-shim/internal/devsandbox/config/config.go
  builder-stack/cnb-builder-shim/internal/devsandbox/config/loader.go
  builder-stack/cnb-builder-shim/internal/devsandbox/config/type.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/server.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/deploy.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/deploy_test.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/Procfile
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/README.rst
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/app_desc.yaml
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/docs/django_admin_interface_running.png
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/docs/django_helloword.png
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/helloworld/__init__.py
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/helloworld/settings.py
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/helloworld/urls.py
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/helloworld/views.py
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/helloworld/wsgi.py
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/manage.py
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/requirements.txt
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/setup.py
  builder-stack/cnb-builder-shim/pkg/utils/os.go
Due: ruff-check-fix, ruff-format, ruff-check

feat: 初始化时加载代码，支持不同类型的代码获取方式
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

fix: plugin unitest
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_api.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

config:grant permission for bk_flow_engine
  apiserver/paasng/support-files/apigw/definition.yaml
Due: none

fix: plugin unitest (#1599)
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_api.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 初始化时加载代码，支持不同类型的代码获取方式
  cnb-builder-shim/cmd/dev-entrypoint/init.go
  cnb-builder-shim/cmd/dev-entrypoint/main.go
  cnb-builder-shim/internal/devsandbox/config/config.go
  cnb-builder-shim/internal/devsandbox/config/loader.go
  cnb-builder-shim/internal/devsandbox/config/type.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
  cnb-builder-shim/internal/devsandbox/webserver/service/deploy.go
  cnb-builder-shim/internal/devsandbox/webserver/service/deploy_test.go
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/Procfile
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/README.rst
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/app_desc.yaml
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/docs/django_admin_interface_running.png
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/docs/django_helloword.png
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/helloworld/__init__.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/helloworld/settings.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/helloworld/urls.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/helloworld/views.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/helloworld/wsgi.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/manage.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/requirements.txt
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/tmpDir/django-helloworld/setup.py
  cnb-builder-shim/pkg/utils/os.go
Due: ruff-check-fix, ruff-format, ruff-check

test: fix unit test
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/tests/paasng/misc/monitoring/service_monitor/test_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

config:grant permission for bk_flow_engine (#1600)
  apiserver/paasng/support-files/apigw/definition.yaml
Due: none

config:grant permission for bk_flow_engine (#1601)
  apiserver/paasng/support-files/apigw/definition.yaml
Due: none

fix: fixed
  apiserver/paasng/paasng/plat_admin/admin42/serializers/runtimes.py
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/runtimes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: change log tranlation normalize
  apiserver/paasng/changelog/en/V0.1.0_2022-11-17.md
  apiserver/paasng/changelog/en/V0.1.4_2023-03-20.md
  apiserver/paasng/changelog/en/V1.1.0_2023-05-17.md
  apiserver/paasng/changelog/en/V1.2.0_2023-08-14.md
  apiserver/paasng/changelog/en/V1.3.0_2023-09-20.md
  apiserver/paasng/changelog/en/V1.4.1_2024-05-15.md
  apiserver/paasng/changelog/en/V1.5.0_2024-06-21.md
Due: none

refactor: minor
  apiserver/paasng/paasng/misc/monitoring/monitor/service_monitor/controller.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0015_auto_20240913_1509.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: change log tranlation normalize (#1604)
  apiserver/paasng/changelog/en/V0.1.0_2022-11-17.md
  apiserver/paasng/changelog/en/V0.1.4_2023-03-20.md
  apiserver/paasng/changelog/en/V1.1.0_2023-05-17.md
  apiserver/paasng/changelog/en/V1.2.0_2023-08-14.md
  apiserver/paasng/changelog/en/V1.3.0_2023-09-20.md
  apiserver/paasng/changelog/en/V1.4.1_2024-05-15.md
  apiserver/paasng/changelog/en/V1.5.0_2024-06-21.md
Due: none

docs: change log tranlation normalize (#1603)
  apiserver/paasng/changelog/en/V0.1.0_2022-11-17.md
  apiserver/paasng/changelog/en/V0.1.4_2023-03-20.md
  apiserver/paasng/changelog/en/V1.1.0_2023-05-17.md
  apiserver/paasng/changelog/en/V1.2.0_2023-08-14.md
  apiserver/paasng/changelog/en/V1.3.0_2023-09-20.md
  apiserver/paasng/changelog/en/V1.4.1_2024-05-15.md
  apiserver/paasng/changelog/en/V1.5.0_2024-06-21.md
Due: none

refactor: minor
  apiserver/paasng/paasng/misc/monitoring/monitor/service_monitor/controller.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixed name of buildpack
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/plat_admin/admin42/views/runtimes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: minor
  apiserver/paasng/paas_wl/bk_app/monitoring/app_monitor/kres_slzs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixed audit when deleting a remote service (#1593)
  apiserver/paasng/paasng/accessories/servicehub/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: admin42 buildpack 管理功能重构 (#1586)
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/runtimes.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/buildpack_list.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/runtimes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: admin42 slugbuilder 管理功能重构
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/runtimes.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/slugbuilder_list.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/runtimes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixed
  apiserver/paasng/paasng/plat_admin/admin42/serializers/runtimes.py
  apiserver/paasng/paasng/plat_admin/admin42/views/runtimes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: use pagination_class，paginate_queryset
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 应用密钥部分无法完全展开复制
  webfe/package_vue/src/components/authentication-info.vue
Due: none

fix: 外链应用不需要展示应用描述文件部分 & lint
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
Due: none

feat: add step meta set
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/slugbuilder_list.html
  apiserver/paasng/paasng/plat_admin/admin42/views/runtimes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 应用迁移：有正在迁移的应用导致其他应用的迁移按钮不能点击时需要给出 tips 说明 # Reviewed, transaction id: 18668
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/migration/index.vue
Due: none

fix: add bk_biz_ids param to QueryaAlertParams，other fixes
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/paasng/misc/monitoring/test_alert.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 前端增加镜像标签
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/buildpack_list.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/slugbuilder_list.html
Due: none

fix: 去掉老版镜像的文档
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat: 优化 IAM 用户组超限报错信息
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
  apiserver/paasng/paasng/infras/iam/exceptions.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 添加国际化翻译
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/infras/iam/exceptions.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 优化注释
  apiserver/paasng/paasng/infras/iam/exceptions.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 用户组的个数也用正则匹配
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/infras/iam/exceptions.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 添加发布结果
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: modify unit test
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: use ModelSerializer instead of Serializer
  apiserver/paasng/paasng/platform/applications/serializers/app.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver
