Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: fix 403 url
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/main.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/error-pages/403.vue
Due: none

fix 403 url (#595)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/main.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/error-pages/403.vue
Due: none

fix: minor
  apiserver/paasng/paas_wl/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/cnative/specs/entities.py
  apiserver/paasng/paas_wl/cnative/specs/migrations/0004_configmapsource_mount.py
  apiserver/paasng/paas_wl/cnative/specs/models/mount.py
  apiserver/paasng/paas_wl/cnative/specs/mounts.py
  apiserver/paasng/paasng/platform/log/models.py
  apiserver/paasng/paasng/pluginscenter/definitions.py
  apiserver/paasng/paasng/utils/structure.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_mounts.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/networking/ingress/utils.py
  apiserver/paasng/paas_wl/resources/kube_res/base.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paas_wl/workloads/processes/entities.py
  apiserver/paasng/paas_wl/workloads/processes/shim.py
  apiserver/paasng/paas_wl/workloads/processes/watch.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_controllers.py
Due: isort, black, flake8, mypy-apiserver

refactor: 重构 Proces/Instace list-watcher 的抽象(统一查询进程信息的入口和SLZ), 以及解决类型注解混乱的问题
  apiserver/paasng/paas_wl/admin/serializers/processes.py
  apiserver/paasng/paas_wl/cnative/specs/procs/__init__.py
  apiserver/paasng/paas_wl/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/networking/ingress/utils.py
  apiserver/paasng/paas_wl/platform/system_api/serializers.py
  apiserver/paasng/paas_wl/resources/base/kres.py
  apiserver/paasng/paas_wl/resources/kube_res/base.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paas_wl/workloads/processes/drf_serializers.py
  apiserver/paasng/paas_wl/workloads/processes/entities.py
  apiserver/paasng/paas_wl/workloads/processes/processes.py
  apiserver/paasng/paas_wl/workloads/processes/shim.py
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/paas_wl/workloads/processes/watch.py
  apiserver/paasng/paasng/engine/deploy/bg_wait/wait_deployment.py
  apiserver/paasng/paasng/engine/processes/events.py
  apiserver/paasng/paasng/engine/processes/models.py
  apiserver/paasng/paasng/engine/processes/utils.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/proc_spec.py
  apiserver/paasng/tests/engine/processes/conftest.py
  apiserver/paasng/tests/engine/processes/test_events.py
  apiserver/paasng/tests/engine/processes/test_utils.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_controllers.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_managers.py
Due: isort, black, flake8, mypy-apiserver

build: update bkpaas-auth to version 2.0.6
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

fix unittest
  apiserver/paasng/tests/utils/helpers.py
Due: isort, black, flake8, mypy-apiserver

refactor: 重构 Proces/Instace list-watcher 的抽象(统一查询进程信息的入口和SLZ) (#591)
  apiserver/paasng/paas_wl/admin/serializers/processes.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/procs/__init__.py
  apiserver/paasng/paas_wl/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/networking/ingress/utils.py
  apiserver/paasng/paas_wl/platform/system_api/serializers.py
  apiserver/paasng/paas_wl/resources/base/kres.py
  apiserver/paasng/paas_wl/resources/kube_res/base.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paas_wl/workloads/processes/drf_serializers.py
  apiserver/paasng/paas_wl/workloads/processes/entities.py
  apiserver/paasng/paas_wl/workloads/processes/processes.py
  apiserver/paasng/paas_wl/workloads/processes/shim.py
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/paas_wl/workloads/processes/watch.py
  apiserver/paasng/paasng/engine/deploy/bg_wait/wait_deployment.py
  apiserver/paasng/paasng/engine/processes/events.py
  apiserver/paasng/paasng/engine/processes/models.py
  apiserver/paasng/paasng/engine/processes/utils.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/proc_spec.py
  apiserver/paasng/tests/engine/processes/conftest.py
  apiserver/paasng/tests/engine/processes/test_events.py
  apiserver/paasng/tests/engine/processes/test_utils.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_controllers.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_managers.py
  apiserver/paasng/tests/utils/helpers.py
Due: isort, black, flake8, mypy-apiserver

build: update bkpaas-auth to version 2.0.6 (#597)
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

fix: cherry-pick conflicts
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

fix: cherry-pick conflicts
  webfe/package_vue/src/api/index.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/error-pages/403.vue
Due: none

fix: 403 url
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/main.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/error-pages/403.vue
Due: none

feat: handle 403 when authenticated user has no access permission (#598)
  apiserver/poetry.lock
  apiserver/pyproject.toml
  webfe/package_vue/src/api/index.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/main.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/error-pages/403.vue
Due: none

change apigw-dashboard to bk-apigateway-inner
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/dev_resources/cloudapi/components/bk_apigateway_inner.py
  apiserver/paasng/paasng/dev_resources/cloudapi/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/components/test_bk_apigateway_inner.py
  apiserver/paasng/tests/dev_resources/cloudapi/test_views.py
Due: isort, black, flake8, mypy-apiserver

fix 包导入路径
  apiserver/paasng/tests/components/test_bk_apigateway_inner.py
Due: isort, black, flake8, mypy-apiserver

feat: 完成进程配置的相关修改
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: 删除功能完善
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

minor: resolve #576 conversations
  apiserver/paasng/paas_wl/cnative/specs/converter.py
  apiserver/paasng/paas_wl/cnative/specs/management/commands/convert_bkapp_version.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_converter.py
Due: isort, black, flake8, mypy-apiserver

minor: fix mypy Tuple
  apiserver/paasng/paas_wl/cnative/specs/converter.py
Due: isort, black, flake8, mypy-apiserver

feat: add management command convert_bkapp_version (#576)
  apiserver/paasng/paas_wl/cnative/specs/converter.py
  apiserver/paasng/paas_wl/cnative/specs/management/__init__.py
  apiserver/paasng/paas_wl/cnative/specs/management/commands/__init__.py
  apiserver/paasng/paas_wl/cnative/specs/management/commands/convert_bkapp_version.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_converter.py
Due: isort, black, flake8, mypy-apiserver

feat: 完善进程功能
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

feat: add yaml dialog
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

feat: 删除bugfix
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-yaml.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

feat: 修改bug
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: 添加yaml数据
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-yaml.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

feat: 调整进程配置代码
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

feature: 支持根据 namespace list-watch 进程状态 feature: 增加 list-watch 应用在指定环境下所有模块进程状态的API enhance: 增加 bkapp.paas.bk.tencent.com/wl-app-name label 以快速查询与进程关联的 wl_app
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/entities.py
  apiserver/paasng/paas_wl/resources/base/exceptions.py
  apiserver/paasng/paas_wl/resources/base/generation/v1.py
  apiserver/paasng/paas_wl/resources/base/generation/v2.py
  apiserver/paasng/paas_wl/resources/kube_res/base.py
  apiserver/paasng/paas_wl/resources/kube_res/exceptions.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paas_wl/workloads/processes/drf_serializers.py
  apiserver/paasng/paas_wl/workloads/processes/readers.py
  apiserver/paasng/paas_wl/workloads/processes/serializers.py
  apiserver/paasng/paas_wl/workloads/processes/urls.py
  apiserver/paasng/paas_wl/workloads/processes/views.py
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/paas_wl/workloads/processes/watch.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/paas_wl/resources/kube_res/test_base.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_watch.py
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/resources/ingress_plugins.go
  operator/pkg/controllers/resources/labels/labels.go
  operator/pkg/platform/applications/info.go
  operator/pkg/testing/bkapp.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

refactor with discussion
  apiserver/paasng/paas_wl/workloads/processes/drf_serializers.py
  apiserver/paasng/paas_wl/workloads/processes/readers.py
  apiserver/paasng/paas_wl/workloads/processes/views.py
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/paas_wl/workloads/processes/watch.py
Due: isort, black, flake8, mypy-apiserver

fix
  apiserver/paasng/paas_wl/networking/ingress/utils.py
Due: isort, black, flake8, mypy-apiserver

feature: 支持根据 namespace list-watch 进程状态 (#599)
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/entities.py
  apiserver/paasng/paas_wl/networking/ingress/utils.py
  apiserver/paasng/paas_wl/resources/base/exceptions.py
  apiserver/paasng/paas_wl/resources/base/generation/v1.py
  apiserver/paasng/paas_wl/resources/base/generation/v2.py
  apiserver/paasng/paas_wl/resources/kube_res/base.py
  apiserver/paasng/paas_wl/resources/kube_res/exceptions.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paas_wl/workloads/processes/drf_serializers.py
  apiserver/paasng/paas_wl/workloads/processes/readers.py
  apiserver/paasng/paas_wl/workloads/processes/serializers.py
  apiserver/paasng/paas_wl/workloads/processes/urls.py
  apiserver/paasng/paas_wl/workloads/processes/views.py
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/paas_wl/workloads/processes/watch.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/paas_wl/resources/kube_res/test_base.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_watch.py
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/resources/ingress_plugins.go
  operator/pkg/controllers/resources/labels/labels.go
  operator/pkg/platform/applications/info.go
  operator/pkg/testing/bkapp.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

fix: 国密展示方案，增强服务统一使用6个*展示
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

fix: 国密展示方案，增强服务统一使用6个*展示 (#601)
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

fix: 修复云原生应用无法查询进程列表的问题
  apiserver/paasng/paas_wl/workloads/processes/watch.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复云原生应用无法查询进程列表的问题 (#602)
  apiserver/paasng/paas_wl/workloads/processes/watch.py
Due: isort, black, flake8, mypy-apiserver

feat: 完善功能
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: 本地增强服务 redis 在产品上隐藏敏感信息字段
  apiserver/paasng/paasng/dev_resources/servicehub/constants.py
Due: isort, black, flake8, mypy-apiserver

fix: 单元测试
  apiserver/paasng/tests/dev_resources/servicehub/test_manager.py
Due: isort, black, flake8, mypy-apiserver

feat: 本地增强服务 redis 在产品上隐藏敏感信息字段 (#604)
  apiserver/paasng/paasng/dev_resources/servicehub/constants.py
  apiserver/paasng/tests/dev_resources/servicehub/test_manager.py
Due: isort, black, flake8, mypy-apiserver

feat: 修改容器镜像地址信息
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none
