Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

test: fix
  apiserver/paasng/tests/paasng/platform/declarative/conftest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: enhance the docs of ManagedFieldValues
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/processes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: minor
  apiserver/paasng/paas_wl/bk_app/processes/processes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 云原生仪表盘功能 # Reviewed, transaction id: 24146
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/dashboard.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/modules/application.js
  webfe/package_vue/src/views/dev-center/app/engine/dashboards/comps/top-bar.vue
  webfe/package_vue/src/views/dev-center/app/engine/dashboards/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 文案优化 # Reviewed, transaction id: 24151
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/dashboards/index.vue
Due: none

refactor: decouple the dependency on ProcessSpec for cnative app (#1726)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/quota.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
  apiserver/paasng/paas_wl/bk_app/deploy/actions/archive.py
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paas_wl/bk_app/processes/processes.py
  apiserver/paasng/paas_wl/bk_app/processes/serializers.py
  apiserver/paasng/paas_wl/bk_app/processes/shim.py
  apiserver/paasng/paas_wl/bk_app/processes/views.py
  apiserver/paasng/paasng/accessories/app_secret/utilts.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/proc_spec.py
  apiserver/paasng/paasng/plat_admin/admin_cli/deploy.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_wait/wait_deployment.py
  apiserver/paasng/paasng/platform/engine/deploy/release/legacy.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
  apiserver/paasng/paasng/platform/engine/processes/views.py
  apiserver/paasng/paasng/platform/engine/views/release.py
  apiserver/paasng/paasng/platform/evaluation/collectors/resource.py
  apiserver/paasng/paasng/platform/mgrlegacy/views.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_resource.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/test_processes.py
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_managers.py
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_processes.py
  apiserver/paasng/tests/paasng/platform/declarative/conftest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: optimize readablity & unit test
  apiserver/paasng/paasng/misc/app_spec/serializers.py
  apiserver/paasng/paasng/misc/app_spec/service.py
  apiserver/paasng/paasng/misc/tools/__init__.py
  apiserver/paasng/paasng/misc/tools/app_sepc.py
  apiserver/paasng/paasng/misc/tools/urls.py
  apiserver/paasng/paasng/misc/tools/views.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/api/test_tools.py
  apiserver/paasng/tests/paasng/misc/tools/__init__.py
  apiserver/paasng/tests/paasng/misc/tools/test_app_desc_transform.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: typo in unit test
  apiserver/paasng/tests/api/test_tools.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: let sync_processes respect the management status of "replicas" and "autoscaling" fields (#1736)
  apiserver/paasng/paas_wl/bk_app/processes/views.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/fields.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/managers.py
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/deployment/resources.py
  apiserver/paasng/paasng/platform/declarative/deployment/validations/v2.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_processes.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/fieldmgr/test_managers.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_importer.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 云原生应用支持出口 ip 功能
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 云原生应用支持出口 ip 功能
  operator/api/v1alpha2/constants.go
  operator/go.mod
  operator/go.sum
  operator/pkg/controllers/bkapp/processes/resources/deployment.go
  operator/pkg/controllers/bkapp/processes/resources/deployment_test.go
Due: operator-lint

feat: 云原生应用支持出口 ip 功能
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 云原生应用支持出口 ip 功能
  operator/api/v1alpha2/constants.go
Due: operator-lint

fix: 云原生替换 processes/list 接口中对外层 cpu_limit/memory_limit 字段 (#1738)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

feat: 云原生应用支持出口 ip 功能
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  operator/api/v1alpha2/constants.go
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

feat: 云原生仪表盘功能 (#1737)
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/dashboard.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/modules/application.js
  webfe/package_vue/src/views/dev-center/app/engine/dashboards/comps/top-bar.vue
  webfe/package_vue/src/views/dev-center/app/engine/dashboards/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: process service implicit inject
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: enhance field management for target replicas and autoscaling in process synchronization
  apiserver/paasng/paas_wl/bk_app/processes/views.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/managers.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_importer.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 插件仪表盘 & 操作记录
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/plugin.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/plugin/base-config/operation-records.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/code-quality.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix：国际化补充 # Reviewed, transaction id: 24265
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
Due: none

fix: 沙箱体验问题修复 (#1734)
  webfe/package_vue/src/views/dev-center/sandbox/comps/log-card.vue
  webfe/package_vue/src/views/dev-center/sandbox/comps/password-request-dialog.vue
  webfe/package_vue/src/views/dev-center/sandbox/index.vue
Due: none

feat: add field_manager field for svc_disc/domain_res API
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/fields.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/managers.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:调整
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/bkapp/processes/resources/deployment.go
  operator/pkg/controllers/bkapp/processes/resources/deployment_test.go
Due: operator-lint

feat: 插件仪表盘 & 操作记录 (#1743)
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/plugin.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/plugin/base-config/operation-records.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/code-quality.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat: add field_manager field for svc_disc/domain_res API (#1742)
  apiserver/paasng/paas_wl/bk_app/processes/views.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/fields.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/managers.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_importer.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: improve the fieldmgr module, fix tests
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_to_db.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/domain_resolution.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/mounts.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/proc_env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/svc_discovery.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/fields.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/managers.py
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0017_bkappmanagedfields.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_domain_resolution.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_mounts.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_proc_env_overlays.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_svc_discovery.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/fieldmgr/test_fields.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/fieldmgr/test_managers.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_importer.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v3/test_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: improve the proc_env_overlays module
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/proc_env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/managers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add fieldmgr module to handling edit conflicting issue when updating bkapp model fields
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_to_db.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/v1alpha2.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/domain_resolution.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/env_vars.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/mounts.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/proc_env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/svc_discovery.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/fields.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/managers.py
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0017_bkappmanagedfields.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/declarative/deployment/validations/v2.py
  apiserver/paasng/paasng/utils/structure.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_domain_resolution.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_mounts.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_proc_env_overlays.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_svc_discovery.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/fieldmgr/__init__.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/fieldmgr/test_fields.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/fieldmgr/test_managers.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_importer.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v3/test_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: simplify the declarative controller module to always use import functions (#1731)
  apiserver/paasng/paasng/platform/bkapp_model/entities/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/v1alpha2.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/env_vars.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/fields.py
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/declarative/deployment/process_probe.py
  apiserver/paasng/paasng/platform/declarative/deployment/validations/v2.py
  apiserver/paasng/paasng/platform/declarative/models.py
  apiserver/paasng/paasng/platform/engine/configurations/preset_envvars.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_env_vars.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_hooks.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_importer.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v3/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v2/test_probes.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_probes.py
  apiserver/paasng/tests/paasng/platform/engine/configurations/test_preset_envvars.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 进程服务管理：应用没有名为 default 模块时报错修复
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-process.vue
Due: none

fix: 创建应用时，镜像凭证名称添加校验规则
  webfe/package_vue/src/views/dev-center/create-app/cloud.scss
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix：创建应用时不应请求关于携带code的接口 # Reviewed, transaction id: 24342
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix：体验提单修复 (#1744)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-process.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.scss
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

feat: 云原生应用支持出口 ip 功能 (#1740)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
  operator/api/v1alpha2/constants.go
  operator/go.mod
  operator/go.sum
  operator/pkg/controllers/bkapp/processes/resources/deployment.go
  operator/pkg/controllers/bkapp/processes/resources/deployment_test.go
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

fix: always reset overlay data when the base value was set on the process obj
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/proc_env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_importer.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver
