Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

refactor: create application apis
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paas_wl/bk_app/applications/api.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/serializers/cnative.py
  apiserver/paasng/paasng/platform/applications/serializers/creation.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/applications/views/creation.py
  apiserver/paasng/paasng/platform/bkapp_model/services.py
  apiserver/paasng/tests/paasng/test_utils/test_models.py
  apiserver/paasng/tests/utils/helpers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复初始化增强服务绑定策略导致首次部署失败
  apiserver/paasng/paasng/accessories/servicehub/migrations/0007_init_service_binding_policy.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0010_init_service_binding_policy.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复初始化增强服务绑定策略导致首次部署失败 (#1975)
  apiserver/paasng/paasng/accessories/servicehub/migrations/0007_init_service_binding_policy.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0010_init_service_binding_policy.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: slz context must have tenant info
  apiserver/paasng/paasng/platform/applications/serializers/mixins.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update serializers.py
  apiserver/paasng/paasng/platform/applications/serializers/creation.py
  apiserver/paasng/paasng/platform/applications/serializers/mixins.py
  apiserver/paasng/paasng/platform/modules/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: admin42 app overview list cluster with username
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: rabbitmq enhance
  svc-rabbitmq/Dockerfile
  svc-rabbitmq/data/fixtures/default.json
  svc-rabbitmq/migrate.sh
  svc-rabbitmq/svc_rabbitmq/urls.py
  svc-rabbitmq/templates/404.html
  svc-rabbitmq/vendor/client.py
  svc-rabbitmq/vendor/clusters.py
  svc-rabbitmq/vendor/management/commands/aliveness_test.py
  svc-rabbitmq/vendor/management/commands/create_instance.py
  svc-rabbitmq/vendor/management/commands/list_connections.py
  svc-rabbitmq/vendor/management/commands/register_cluster.py
  svc-rabbitmq/vendor/provider.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: Service Binding Policies 迁移文件添加备注，修改唯一主键
  apiserver/paasng/paasng/accessories/servicehub/migrations/0007_init_service_binding_policy.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0011_alter_servicebindingpolicy_service_id.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: Service Binding Policies 迁移文件添加备注 (#1979)
  apiserver/paasng/paasng/accessories/servicehub/migrations/0007_init_service_binding_policy.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0011_alter_servicebindingpolicy_service_id.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整
  cnb-builder-shim/cmd/dev-launcher/launch/launch.go
  cnb-builder-shim/internal/devsandbox/processesctl/process_controller.go
  cnb-builder-shim/internal/devsandbox/processesctl/process_controller_suit_test.go
  cnb-builder-shim/internal/devsandbox/processesctl/process_controller_test.go
  cnb-builder-shim/internal/devsandbox/processesctl/supervisor_rpc_process_controller.go
  cnb-builder-shim/internal/devsandbox/reload.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
  cnb-builder-shim/pkg/supervisord/rpc/client.go
Due: none

fix: 调整
  cnb-builder-shim/internal/devsandbox/processesctl/process_controller.go
  cnb-builder-shim/internal/devsandbox/reload.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

fix: 调整
  cnb-builder-shim/internal/devsandbox/processesctl/supervisor_rpc_process_controller.go
  cnb-builder-shim/pkg/supervisord/rpc/client.go
Due: none

fix: 调整
  cnb-builder-shim/internal/devsandbox/processesctl/supervisor_rpc_process_controller.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

feat: rabbitmq enhance
  svc-rabbitmq/README.md
  svc-rabbitmq/vendor/provider.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: admin42 app overview list cluster with username
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: admin42 app overview list cluster with username (#1977)
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: resolve review comments
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/runtime.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove region logic in builder/runner/buildpack (#1963)
  apiserver/init.sh
  apiserver/paasng/paasng/plat_admin/admin42/serializers/runtimes.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/buildpacks.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/slugbuilders.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/slugrunners.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/runtime.py
  apiserver/paasng/paasng/plat_admin/admin42/views/runtimes.py
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/platform/modules/management/commands/bind_buildpacks.py
  apiserver/paasng/paasng/platform/modules/management/commands/bind_runtime.py
  apiserver/paasng/paasng/platform/modules/management/commands/manage_buildpack.py
  apiserver/paasng/paasng/platform/modules/management/commands/manage_image.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/models/runtime.py
  apiserver/paasng/paasng/platform/smart_app/services/image_mgr.py
  apiserver/paasng/paasng/platform/templates/manager.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paasng/platform/modules/test_helpers.py
  apiserver/paasng/tests/paasng/platform/modules/test_manager.py
  apiserver/paasng/tests/paasng/platform/modules/test_runtime_models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整
  cnb-builder-shim/cmd/dev-launcher/launch/launch.go
  cnb-builder-shim/internal/devsandbox/procctrl/proc_controller.go
  cnb-builder-shim/internal/devsandbox/procctrl/procdef/proc_def.go
  cnb-builder-shim/internal/devsandbox/procctrl/supervisor/rpc_proc_controller.go
  cnb-builder-shim/internal/devsandbox/procctrl/supervisor/rpc_proc_controller_suit_test.go
  cnb-builder-shim/internal/devsandbox/procctrl/supervisor/rpc_proc_controller_test.go
  cnb-builder-shim/internal/devsandbox/reload.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

fix: 调整
  cnb-builder-shim/internal/devsandbox/procctrl/proc_ctrl.go
  cnb-builder-shim/internal/devsandbox/procctrl/supervisor/rpc_proc_ctrl.go
  cnb-builder-shim/internal/devsandbox/procctrl/supervisor/rpc_proc_ctrl_suit_test.go
  cnb-builder-shim/internal/devsandbox/procctrl/supervisor/rpc_proc_ctrl_test.go
Due: none

fix: unittest
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_exposer.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_triggers.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_bkapp_hook.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_building.py
  apiserver/paasng/tests/utils/helpers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整包名与文件名称
  cnb-builder-shim/cmd/dev-launcher/launch/launch.go
  cnb-builder-shim/internal/devsandbox/procctrl/base/types.go
  cnb-builder-shim/internal/devsandbox/procctrl/proc_ctrl.go
  cnb-builder-shim/internal/devsandbox/procctrl/supervisor/rpc_proc_ctrl.go
  cnb-builder-shim/internal/devsandbox/procctrl/supervisor/rpc_proc_ctrl_test.go
Due: none

fix: remove useless settings
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/bk_plugins/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/platform/applications/migrations/0007_move_app_logo.py
  apiserver/paasng/paasng/platform/applications/serializers/creation.py
  apiserver/paasng/paasng/platform/applications/views/creation.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/api/apigw/test_lesscode.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: supervisord 重构+进程操作 (#1927)
  cnb-builder-shim/cmd/dev-launcher/launch/launch.go
  cnb-builder-shim/cmd/dev-launcher/launch/launch_suite_test.go
  cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl.go
  cnb-builder-shim/go.mod
  cnb-builder-shim/go.sum
  cnb-builder-shim/internal/devsandbox/procctrl/base/types.go
  cnb-builder-shim/internal/devsandbox/procctrl/proc_ctrl.go
  cnb-builder-shim/internal/devsandbox/procctrl/supervisor/rpc_proc_ctrl.go
  cnb-builder-shim/internal/devsandbox/procctrl/supervisor/rpc_proc_ctrl_suit_test.go
  cnb-builder-shim/internal/devsandbox/procctrl/supervisor/rpc_proc_ctrl_test.go
  cnb-builder-shim/internal/devsandbox/reload.go
  cnb-builder-shim/internal/devsandbox/status.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
  cnb-builder-shim/internal/devsandbox/webserver/service/app_logs.go
  cnb-builder-shim/pkg/supervisord/rpc/client.go
  cnb-builder-shim/pkg/supervisord/rpc/process_control.go
  cnb-builder-shim/pkg/supervisord/rpc/server.go
  cnb-builder-shim/pkg/supervisord/rpc/status_control.go
Due: none

fix: unittest
  apiserver/paasng/paasng/platform/applications/views/creation.py
  apiserver/paasng/tests/utils/helpers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove action-perms decorator (#1973)
  apiserver/paasng/paasng/accessories/publish/entrance/serializers.py
  apiserver/paasng/paasng/accessories/publish/entrance/views.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/iam_adaptor/policy/permissions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
  apiserver/paasng/paasng/infras/accounts/permissions/application.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/paasng/platform/applications/views/application.py
  apiserver/paasng/paasng/platform/applications/views/member.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/paasng/utils/views.py
  apiserver/paasng/tests/paasng/test_utils/test_view.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: create application apis (#1976)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paas_wl/bk_app/applications/api.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/platform/applications/migrations/0007_move_app_logo.py
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/serializers/cnative.py
  apiserver/paasng/paasng/platform/applications/serializers/creation.py
  apiserver/paasng/paasng/platform/applications/serializers/mixins.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/applications/views/creation.py
  apiserver/paasng/paasng/platform/bkapp_model/services.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/api/apigw/test_lesscode.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_exposer.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_triggers.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_bkapp_hook.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_building.py
  apiserver/paasng/tests/paasng/test_utils/test_models.py
  apiserver/paasng/tests/utils/helpers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove the improper use of region field in servicehub app (#1971)
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/policy.py
  apiserver/paasng/paasng/accessories/servicehub/constants.py
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/management/commands/add_monitor_perm_for_otel.py
  apiserver/paasng/paasng/accessories/servicehub/management/commands/batch_unbind_svc.py
  apiserver/paasng/paasng/accessories/servicehub/management/commands/sync_instance_config.py
  apiserver/paasng/paasng/accessories/servicehub/management/commands/update_legacy_rabbitmq.py
  apiserver/paasng/paasng/accessories/servicehub/manager.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/sharing.py
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update migration dependencies for user private token and sysapi_client
  apiserver/paasng/paasng/infras/accounts/migrations/0004_remove_userprivatetoken_user_and_more.py
  apiserver/paasng/paasng/infras/sysapi_client/migrations/0002_migrate_data.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: rabbitmq enhance
  svc-rabbitmq/README.md
Due: none

fix: rollback delete region args when create service instance
  apiserver/paasng/paasng/accessories/servicehub/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: rollback delete region args when create service instance (#1980)
  apiserver/paasng/paasng/accessories/servicehub/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: add missing translation
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

fix: remove region field from service bind metrics
  apiserver/paasng/paasng/misc/metrics/metrics.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: remove region field from service bind metrics (#1982)
  apiserver/paasng/paasng/misc/metrics/metrics.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 weakref 导致的 PlanObj 没有 Service 属性问题
  apiserver/paasng/paasng/plat_mgt/infras/services/views/services.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 weakref 导致的 PlanObj 没有 Service 属性问题
  apiserver/paasng/paasng/plat_mgt/infras/services/serializers/services.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove obsolute models in accounts such as UserPrivateToken (#1974)
  apiserver/paasng/paasng/bk_plugins/bk_plugins/utils.py
  apiserver/paasng/paasng/infras/accounts/migrations/0004_remove_userprivatetoken_user_and_more.py
  apiserver/paasng/paasng/infras/accounts/migrations/0005_clean_sys_user.py
  apiserver/paasng/paasng/infras/accounts/models.py
  apiserver/paasng/paasng/infras/sysapi_client/middlewares.py
  apiserver/paasng/paasng/infras/sysapi_client/migrations/0002_migrate_data.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/accountmgr.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/accountmgr/user_profile_list.html
  apiserver/paasng/paasng/plat_admin/admin42/views/accountmgr.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 weakref 导致的 PlanObj 没有 Service 属性问题 (#1983)
  apiserver/paasng/paasng/plat_mgt/infras/services/serializers/services.py
  apiserver/paasng/paasng/plat_mgt/infras/services/views/services.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整
  svc-rabbitmq/README.md
  svc-rabbitmq/vendor/clusters.py
  svc-rabbitmq/vendor/provider.py
Due: ruff-check-fix, ruff-format, ruff-check

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
