Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

feat: Support viewing last restart logs for process instances
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_managers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

update: 内置环境变量新版展示
  webfe/package_vue/src/components/builtIn-env-var-display/display-info.vue
  webfe/package_vue/src/components/builtIn-env-var-display/index.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
Due: none

fix: tips处理导致服务启用气泡无法展示修复 # Reviewed, transaction id: 12325
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
Due: none

fix: 国际化
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

fix: patch buildpack-python bin/compile for export apt PATH variables
  heroku-buildpacks/bk-buildpack-python/patches/buildpack/bin/compile.patch
  kaniko-shim/docker-build/Dockerfile
  kaniko-shim/docker-build/Dockerfile_debug
Due: none

fix: update compile.patch for blank
  heroku-buildpacks/bk-buildpack-python/patches/buildpack/bin/compile.patch
Due: none

docs: update comment
  heroku-buildpacks/bk-buildpack-python/patches/buildpack/bin/compile.patch
Due: none

fix: 全局搜索focus兼容通知中心 (#1476)
  webfe/package_vue/src/components/global-search/search-input.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
Due: none

review # Reviewed, transaction id: 12349
  webfe/package_vue/src/language/lang/en.js
Due: none

minor: use APT_PROFILE_FILE
  heroku-buildpacks/bk-buildpack-python/patches/buildpack/bin/compile.patch
Due: none

fix: patch buildpack-python bin/compile for export apt PATH variables (#1480)
  heroku-buildpacks/bk-buildpack-python/patches/buildpack/bin/compile.patch
  kaniko-shim/docker-build/Dockerfile
  kaniko-shim/docker-build/Dockerfile_debug
Due: none

fix: 部分变量命名修改
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/urls.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/modules/constants.py
  apiserver/paasng/paasng/platform/modules/specs.py
  apiserver/paasng/tests/api/apigw/test_ai_agent.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: unitest
  apiserver/paasng/tests/api/apigw/test_ai_agent.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: support AI Agent plugin App (#1465)
  apiserver/paasng/paasng/infras/accounts/constants.py
  apiserver/paasng/paasng/platform/applications/migrations/0012_application_is_ai_agent_app.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/urls.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/engine/configurations/source_file.py
  apiserver/paasng/paasng/platform/modules/constants.py
  apiserver/paasng/paasng/platform/modules/specs.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/paasng/platform/sourcectl/version_services.py
  apiserver/paasng/tests/api/apigw/test_ai_agent.py
  apiserver/paasng/tests/api/apigw/test_modules.py
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_modules.py
  apiserver/paasng/tests/paasng/platform/modules/test_manager.py
  apiserver/paasng/tests/paasng/platform/modules/test_specs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 将内置环境变量结构化
  apiserver/paasng/paasng/core/region/app.py
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/paasng/platform/engine/models/config_var.py
  apiserver/paasng/paasng/platform/engine/views/configvar.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unitest
  apiserver/paasng/paasng/platform/engine/models/config_var.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add descriptions for Built-in environment variables (#1459)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/accessories/publish/entrance/preallocated.py
  apiserver/paasng/paasng/core/region/app.py
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/paasng/platform/engine/constants.py
  apiserver/paasng/paasng/platform/engine/models/config_var.py
  apiserver/paasng/paasng/platform/engine/views/configvar.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/envs.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paasng/platform/engine/configurations/test_config_var.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

update: 内置环境变量新版展示 (#1479)
  webfe/package_vue/src/components/builtIn-env-var-display/display-info.vue
  webfe/package_vue/src/components/builtIn-env-var-display/index.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
Due: none

refactor: improve perm controll of ApplicationViewSet
  apiserver/paasng/paasng/infras/perm_insure/conf.py
  apiserver/paasng/paasng/plat_admin/admin42/views/runtimes.py
  apiserver/paasng/paasng/platform/applications/urls.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: update perm_insure.conf
  apiserver/paasng/paasng/infras/perm_insure/conf.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: admin apis in the workloads mod use ORM query instead of ApplicationCodeInPathMixin
  apiserver/paasng/paas_wl/apis/admin/views/domain.py
  apiserver/paasng/paas_wl/apis/admin/views/logs.py
  apiserver/paasng/paas_wl/workloads/images/views.py
  apiserver/paasng/paasng/infras/accounts/permissions/global_site.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove inproper usage of ApplicationCodeInPathMixin class
  apiserver/paasng/paasng/bk_plugins/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/views.py
  apiserver/paasng/paasng/infras/accounts/permissions/application.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/egress.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/package.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/runtime.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/paasng/platform/applications/mixins.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/engine/processes/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove inproper usage of `ApplicationCodeInPathMixin` class & other misc enhancements (#1477)
  apiserver/paasng/paas_wl/apis/admin/views/domain.py
  apiserver/paasng/paas_wl/apis/admin/views/logs.py
  apiserver/paasng/paas_wl/workloads/images/views.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/views.py
  apiserver/paasng/paasng/infras/accounts/permissions/application.py
  apiserver/paasng/paasng/infras/accounts/permissions/global_site.py
  apiserver/paasng/paasng/infras/perm_insure/conf.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/egress.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/package.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/runtime.py
  apiserver/paasng/paasng/plat_admin/admin42/views/runtimes.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/paasng/platform/applications/mixins.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/urls.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/engine/processes/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 普通应用当前应用不支持 list-watch 进程信息” # Reviewed, transaction id: 12472
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
Due: none

refactor: improve the permission_classes decorator by add more comments and improve naming.
  apiserver/paasng/paasng/accessories/publish/entrance/views.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
  apiserver/paasng/paasng/infras/accounts/permissions/application.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/paasng/utils/views.py
  apiserver/paasng/tests/paasng/test_utils/test_view.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 仓库地址显示问题修复 # Reviewed, transaction id: 12529
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

fix: 补充可见范围 retrieve api
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: hook pod gone away may block new deployment
  operator/pkg/controllers/bkapp/deploy_action.go
  operator/pkg/controllers/bkapp/hooks/hooks.go
  operator/pkg/controllers/bkapp/hooks/hooks_test.go
  operator/pkg/controllers/bkapp/processes/resources/deployment.go
Due: operator-lint

fix: 部署历史查询操作优化 # Reviewed, transaction id: 12557
  webfe/package_vue/src/components/user/member-selector/member-selector.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-history.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-history.vue
Due: none

fix: 审批字段中添加 id
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 可见范围审批字段默认值不能为空
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: failing tests in `test_provision_service`
  apiserver/paasng/paasng/plat_admin/system/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: V1SysStructuredLogAPIView wont work because the change of ApplicationCodeInPathMixin
  apiserver/paasng/paasng/accessories/log/views/legacy.py
  apiserver/paasng/paasng/infras/accounts/permissions/application.py
  apiserver/paasng/paasng/platform/applications/mixins.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 可见范围审批回调数据
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: improve the permission_classes decorator by add more comments and better naming. (#1481)
  apiserver/paasng/paasng/accessories/log/views/legacy.py
  apiserver/paasng/paasng/accessories/publish/entrance/views.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
  apiserver/paasng/paasng/infras/accounts/permissions/application.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/paasng/platform/applications/mixins.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/paasng/utils/views.py
  apiserver/paasng/tests/paasng/test_utils/test_view.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: ModuleEnvRoleProtectionViewSet unable to do permission check
  apiserver/paasng/paasng/infras/accounts/permissions/application.py
  apiserver/paasng/paasng/platform/environments/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: minor
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/workloads/networking/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0013_moduleprocessspec_services.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/engine/constants.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/api/test_bkapp_model.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/crd/bkapp_v1.yaml
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_models.py
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/bkapp/processes/services.go
  operator/pkg/controllers/dgroupmapping/ingress/builder.go
  operator/pkg/controllers/dgroupmapping/ingress/builder_test.go
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

feat: minor
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/engine/constants.py
  apiserver/paasng/tests/api/test_bkapp_model.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_deployment.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: minor
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/constants.go
Due: operator-lint
