Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

minor: add unittest
  apiserver/paasng/paasng/engine/serializers.py
  apiserver/paasng/paasng/engine/urls.py
  apiserver/paasng/paasng/engine/views/__init__.py
  apiserver/paasng/paasng/engine/views/build.py
  apiserver/paasng/tests/api/test_build.py
  apiserver/paasng/tests/paas_wl/utils/build.py
Due: isort, black, flake8, mypy-apiserver

feat: 直接调用 codecc API 获取代码检查详情,不再轮询代码检查任务状态
  apiserver/paasng/paasng/ci/clients/apigw.py
  apiserver/paasng/paasng/ci/clients/bk_ci.py
  apiserver/paasng/paasng/ci/constants.py
  apiserver/paasng/paasng/ci/exceptions.py
  apiserver/paasng/paasng/ci/serializers.py
  apiserver/paasng/paasng/ci/urls.py
  apiserver/paasng/paasng/ci/utils.py
  apiserver/paasng/paasng/ci/views.py
Due: isort, black, flake8, mypy-apiserver

refactor: 代码检查功能重构
  apiserver/paasng/paasng/ci/clients/apigw.py
  apiserver/paasng/paasng/ci/clients/bk_ci.py
  apiserver/paasng/paasng/ci/clients/exceptions.py
  apiserver/paasng/paasng/ci/handlers.py
  webfe/package_vue/src/store/modules/devops-auth.js
Due: isort, black, flake8, mypy-apiserver

fix: minor
  apiserver/paasng/paasng/ci/clients/bk_ci.py
Due: isort, black, flake8, mypy-apiserver

feat: 完成访问地址的逻辑修改
  webfe/package_vue/src/store/modules/entry-config.js
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

refactor with discussion
  apiserver/paasng/paas_wl/platform/applications/migrations/0013_auto_20230629_1229.py
  apiserver/paasng/paas_wl/platform/applications/migrations/0014_auto_20230629_1459.py
  apiserver/paasng/paas_wl/platform/applications/models/build.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/serializers.py
Due: isort, black, flake8, mypy-apiserver

minor: 添加版权头信息
  apiserver/paasng/paas_wl/platform/applications/migrations/0013_auto_20230629_1229.py
Due: mypy-apiserver

enhance: BuildProcess 根据设计图扩展字段; 实现构建历史 API (#533)
  apiserver/paasng/paas_wl/platform/applications/migrations/0013_auto_20230629_1229.py
  apiserver/paasng/paas_wl/platform/applications/migrations/0014_auto_20230629_1459.py
  apiserver/paasng/paas_wl/platform/applications/models/build.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/serializers.py
  apiserver/paasng/paasng/engine/urls.py
  apiserver/paasng/paasng/engine/views/__init__.py
  apiserver/paasng/paasng/engine/views/build.py
  apiserver/paasng/tests/api/test_build.py
  apiserver/paasng/tests/paas_wl/utils/build.py
Due: isort, black, flake8, mypy-apiserver

feat: 完成访问地址相关改动
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
Due: none

feat: 完成访问地址功能
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/by-user.vue
Due: none

feat: 完成访问管理重构
  webfe/package_vue/src/components/paas-app-nav.vue
Due: none

feat: 完成访问地址体验问题
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
Due: none

feat: 修复体验问题
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

fix: mAX_MODULES_COUNT_PER_APPLICATION & MAX_PROCESSES_PER_MODULE convert to int when load from env
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

refactor: use get(cast='@int') instead of int
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

feat: admin42 add kubernetes cluster components dashboard
  apiserver/paasng/paas_wl/admin/constants.py
  apiserver/paasng/paas_wl/admin/helpers.py
  apiserver/paasng/paas_wl/admin/serializers/clusters.py
  apiserver/paasng/paas_wl/admin/urls.py
  apiserver/paasng/paas_wl/admin/views/clusters.py
  apiserver/paasng/paas_wl/resources/base/kres.py
  apiserver/paasng/paas_wl/utils/error_codes.py
  apiserver/paasng/paasng/engine/configurations/config_var.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/front_page.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/cluster_components.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/clusters.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

fix: MAX_MODULES_COUNT_PER_APPLICATION & MAX_PROCESSES_PER_MODULE con… (#536)
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

minor: update conf.yaml.tpl
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/cluster_components.html
Due: none

feat: support multi release with same component
  apiserver/paasng/paas_wl/admin/views/clusters.py
  apiserver/paasng/paas_wl/utils/error_codes.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/front_page.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/cluster_components.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/clusters.py
Due: isort, black, flake8, mypy-apiserver

fix: mr 修改
  apiserver/paasng/paasng/ci/clients/bk_ci.py
  apiserver/paasng/paasng/ci/serializers.py
  apiserver/paasng/paasng/ci/views.py
Due: isort, black, flake8, mypy-apiserver

feat: support cnative application offline
  apiserver/paasng/paas_wl/resources/actions/archive.py
  apiserver/paasng/paasng/engine/deploy/archive.py
Due: isort, black, flake8, mypy-apiserver

feat: support cnative application offline (#538)
  apiserver/paasng/paas_wl/resources/actions/archive.py
  apiserver/paasng/paasng/engine/deploy/archive.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/views/deploy.py
Due: isort, black, flake8, mypy-apiserver

enhance: 部署接口支持部署历史镜像和指定镜像 Tag
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/deploy/image_release.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/views/deploy.py
Due: isort, black, flake8, mypy-apiserver

enhance: 部署接口支持部署历史镜像和指定镜像 Tag (#534)
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/deploy/image_release.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/views/deploy.py
Due: isort, black, flake8, mypy-apiserver

perf: shorten operator proj config suffix
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha1/projectconfig_types_test.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/config/manager/controller_manager_config.yaml
  operator/main.go
  operator/pkg/controllers/resources/ingresses.go
  operator/scripts/update_helm_chart.py
Due: isort, black, flake8, operator-lint

feat: 访问管理修改
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/modules/region.js
  webfe/package_vue/src/views/dev-center/app/access-ctl/by-ip.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/by-user.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/order-audit.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-audit.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-ip.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-path.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-user.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
Due: none

feat: 完成访问管理相关功能
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

feat: 完成普通应用访问管理
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

feat: 完成云原生访问管理功能
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/app/access-ctl/path-exempt.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat: 修改镜像凭证ui
  webfe/package_vue/src/views/dev-center/app/basic-config/image-credential/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/index.vue
Due: none

perf: shorten operator proj config suffix (#539)
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha1/projectconfig_types_test.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/config/manager/controller_manager_config.yaml
  operator/main.go
  operator/pkg/controllers/resources/ingresses.go
  operator/scripts/update_helm_chart.py
Due: isort, black, flake8, operator-lint

feat: 修改小屏幕下访问管理
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
Due: none

feat: 修复小屏幕滚动条问题
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

fix: 修复当根据相对时间查询日志时会出现时区问题
  apiserver/paasng/paasng/utils/es_log/time_range.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复使用相对时间查询日志时的时区问题 (#542)
  apiserver/paasng/paasng/utils/es_log/time_range.py
Due: isort, black, flake8, mypy-apiserver

fix: 进程管理样式bug，对应样式优化
  webfe/package_vue/src/assets/css/mixins/ellipsis.scss
  webfe/package_vue/src/views/dev-center/app/engine/log/access-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/custom-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/standart-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/standart-log.vue
Due: none

fix: 云原生创建应用loading效果，体验问题修复
  webfe/package_vue/src/App.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
  webfe/package_vue/src/views/dev-center/create-app/success-simple.vue
  webfe/package_vue/src/views/dev-center/create-app/success-smart.vue
  webfe/package_vue/src/views/dev-center/create-app/success.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
Due: none

Fix bug dev (#543)
  webfe/package_vue/src/App.vue
  webfe/package_vue/src/assets/css/mixins/ellipsis.scss
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/access-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/custom-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/standart-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
  webfe/package_vue/src/views/dev-center/create-app/success-simple.vue
  webfe/package_vue/src/views/dev-center/create-app/success-smart.vue
  webfe/package_vue/src/views/dev-center/create-app/success.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/standart-log.vue
Due: none

minor: resolve #537 conversations
  apiserver/paasng/paas_wl/admin/helpers/__init__.py
  apiserver/paasng/paas_wl/admin/urls.py
  apiserver/paasng/paas_wl/admin/views/clusters.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/front_page.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/base.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/clusters.py
  apiserver/paasng/tests/paas_wl/admin/test_helpers.py
Due: isort, black, flake8, mypy-apiserver
