Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix migration
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0006_auto_20231020_1607.py
Due: mypy-apiserver

fix unittest
  apiserver/paasng/tests/api/test_build_config.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/tests/api/test_build_config.py
Due: isort, black, flake8, mypy-apiserver

fix typo
  apiserver/paasng/paasng/platform/bkapp_model/urls.py
Due: isort, black, flake8, mypy-apiserver

feature: add API for ModuleDeployHook
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/urls.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
Due: isort, black, flake8, mypy-apiserver

feature: Add model ModuleDeployHook (#775)
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0004_auto_20231019_1107.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0005_moduledeployhook.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0006_auto_20231020_1607.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/urls.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/engine/deploy/start.py
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/platform/modules/models/build_cfg.py
  apiserver/paasng/paasng/platform/modules/models/module.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/tests/api/test_build_config.py
  apiserver/paasng/tests/api/test_modules.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_pre_release.py
  apiserver/paasng/tests/paasng/platform/engine/setup_utils.py
  apiserver/paasng/tests/paasng/platform/modules/test_deploy_config.py
Due: isort, black, flake8, mypy-apiserver

feat: 修改钩子hooks api
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

fix: 创建应用-源码应用添加对应指引, 进程配置、钩子命令tips优化
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat: 云原生使用指南Markdown渲染
  webfe/package_vue/bk.config.js
  webfe/package_vue/package.json
  webfe/package_vue/src/assets/md/guide-hook.md
  webfe/package_vue/src/assets/md/guide-process.md
  webfe/package_vue/src/main.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/user-guide/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: 进程配置默认展开
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: tooltips 虚线规范
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

feat: markdown webpack配置
  webfe/package_vue/bk.config.js
Due: none

fix: markdown ；列表渲染修复
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/user-guide/index.vue
Due: none

fix: devServer-https 判断
  webfe/package_vue/bk.config.js
Due: none

fix: tooltips 虚线规范、不支持源码应用在页面上配置进程，改为提供指引 (#771)
  webfe/package_vue/bk.config.js
  webfe/package_vue/package.json
  webfe/package_vue/src/assets/md/guide-hook.md
  webfe/package_vue/src/assets/md/guide-process.md
  webfe/package_vue/src/main.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/user-guide/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat: 修改模块信息-基本信息单独保存
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-build.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
Due: none

feat: 镜像管理->镜像列表、构建历史功能开发
  webfe/package_vue/src/components/deploy/deploy-log-sideslider.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/components/ui/table-empty.vue
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/image-manage.js
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/build-history.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/image-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 合并冲突
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
Due: none

fix：镜像管理更改tab切换
  webfe/package_vue/src/components/deploy/deploy-log-sideslider.vue
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/build-history.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/image-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/index.vue
Due: none

fix: 镜像管理骨架屏添加
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/image-manage.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/build-history.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/image-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/index.vue
Due: none

fix: 镜像管理空状态文案优化
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/image-list.vue
Due: none

feat: 镜像管理 (#779)
  webfe/package_vue/src/components/deploy/deploy-log-sideslider.vue
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/image-manage.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/components/ui/table-empty.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/image-manage.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/build-history.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/image-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: unit test
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/test_utils.py
Due: isort, black, flake8, mypy-apiserver

enhance: 日志平台自定义采集项增加 retain_extra_json 参数
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/infras/bk_log/definitions.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/tests/paasng/infras/bk_log/test_client.py
Due: isort, black, flake8, mypy-apiserver

enhance: 日志平台自定义采集项增加 retain_extra_json 参数 (#727)
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/infras/bk_log/definitions.py
  apiserver/paasng/tests/paasng/infras/bk_log/test_client.py
Due: isort, black, flake8, mypy-apiserver

feat: 挂载卷
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix: use metadata.creationTimestamp instead of pod.status.startTime
  apiserver/paasng/paas_wl/bk_app/deploy/management/commands/clean_timeout_pod.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 mysql8.0 不支持 `identified by` 语法问题
  svc-mysql/svc_mysql/vendor/constants.py
  svc-mysql/svc_mysql/vendor/helper.py
Due: isort, black, flake8

Constructor add more envOverlay fields: autoscaling and plan_name
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

ProcessesManifestConstructor add replicas overlay
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

Manifest importing support envOverlay.replicas field.
  apiserver/paasng/paasng/platform/bkapp_model/importer/entities.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/env_vars.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/mounts.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/replicas.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_env_vars.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_importer.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_mounts.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_replicas.py
Due: isort, black, flake8, mypy-apiserver

Manifest importing support Mounts field.
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/mount.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/entities.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/mounts.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_importer.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_mounts.py
Due: isort, black, flake8, mypy-apiserver

Manifest importing support Mounts & envOverlay.replicas & manifest add replicas overlay (#776)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/mount.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/entities.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/env_vars.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/mounts.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/replicas.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_env_vars.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_importer.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_mounts.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_replicas.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

feat: 接口获取云原生process进程配置
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

Fix exception when saas disc use a non-existent module name
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_preallocated.py
Due: isort, black, flake8, mypy-apiserver

Fix exception when saas disc use a non-existent module name (#784)
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_preallocated.py
Due: isort, black, flake8, mypy-apiserver

fix: 更替markdown渲染插件解决兼容性问题
  webfe/package_vue/bk.config.js
  webfe/package_vue/package.json
  webfe/package_vue/src/assets/md/guide-hook.md
  webfe/package_vue/src/assets/md/guide-process.md
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/user-guide/index.vue
Due: none

fix: 更替markdown渲染插件解决兼容性问题 (#785)
  webfe/package_vue/bk.config.js
  webfe/package_vue/package.json
  webfe/package_vue/src/assets/md/guide-hook.md
  webfe/package_vue/src/assets/md/guide-process.md
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/user-guide/index.vue
Due: none

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
