Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

feat: 修改骨架屏尺寸
  webfe/package_vue/src/assets/css/pages/overview.scss
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/docu-manager.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-layout.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/event.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/log.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/web.vue
  webfe/package_vue/src/views/dev-center/app/engine/code-review/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/index.vue
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
  webfe/package_vue/src/views/dev-center/app/summary/index.vue
Due: none

feat: 修改骨架屏尺寸
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
Due: none

feat: 完善骨架屏
  webfe/package_vue/src/components/loader/index.vue
Due: none

feature: 对接日志平台在 ESB 上的接口
  apiserver/paasng/paasng/accessories/log_search/backend/esb.py
  apiserver/paasng/paasng/accessories/log_search/client.py
  apiserver/paasng/paasng/platform/log/migrations/0003_customcollectorconfig.py
  apiserver/paasng/paasng/platform/log/models.py
  apiserver/paasng/paasng/platform/log/shim/setup_bklog.py
Due: isort, black, flake8, mypy-apiserver

minor: 调整对接修复的问题
  apiserver/paasng/paas_wl/monitoring/bklog/serializers.py
  apiserver/paasng/paasng/accessories/log_search/backend/esb.py
  apiserver/paasng/paasng/extensions/bk_plugins/api_serializers.py
  apiserver/paasng/paasng/platform/log/client.py
  apiserver/paasng/paasng/platform/log/exceptions.py
  apiserver/paasng/paasng/platform/log/shim/setup_bklog.py
  apiserver/paasng/paasng/platform/log/views.py
  apiserver/paasng/tests/accessories/log_search/test_client.py
  apiserver/paasng/tests/paas_wl/monitoring/bklog/test_serializers.py
  apiserver/paasng/tests/pluginscenter/thirdparty/test_api.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paas_wl/monitoring/bklog/entities.py
  apiserver/paasng/paas_wl/monitoring/bklog/managers.py
  apiserver/paasng/paas_wl/monitoring/bklog/serializers.py
  apiserver/paasng/paasng/platform/log/shim/setup_bklog.py
Due: isort, black, flake8, mypy-apiserver

WIP: 对接日志平台, 支持创建和更新自定义采集项
  apiserver/paasng/paasng/accessories/log_search/__init__.py
  apiserver/paasng/paasng/accessories/log_search/backend/__init__.py
  apiserver/paasng/paasng/accessories/log_search/backend/apigw.py
  apiserver/paasng/paasng/accessories/log_search/client.py
  apiserver/paasng/paasng/accessories/log_search/definitions.py
  apiserver/paasng/paasng/accessories/log_search/exceptions.py
Due: isort, black, flake8, mypy-apiserver

feature: 支持下发 BkLogConfig CRD
  apiserver/paasng/paas_wl/workloads/bklog/__init__.py
  apiserver/paasng/paas_wl/workloads/bklog/constants.py
  apiserver/paasng/paas_wl/workloads/bklog/entities.py
  apiserver/paasng/paas_wl/workloads/bklog/models.py
  apiserver/paasng/paas_wl/workloads/bklog/serializers.py
  apiserver/paasng/tests/paas_wl/workloads/bklog/__init__.py
  apiserver/paasng/tests/paas_wl/workloads/bklog/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

feature: 支持初始化日志平台相关的资源
  apiserver/paasng/paasng/accessories/log_search/client.py
  apiserver/paasng/paasng/accessories/log_search/constatns.py
  apiserver/paasng/paasng/accessories/log_search/definitions.py
  apiserver/paasng/paasng/platform/log/models.py
  apiserver/paasng/paasng/platform/log/shim/__init__.py
  apiserver/paasng/paasng/platform/log/shim/setup_bklog.py
  apiserver/paasng/paasng/platform/log/shim/setup_elk.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/api_serializers.py
  apiserver/paasng/tests/accessories/log_search/__init__.py
  apiserver/paasng/tests/accessories/log_search/test_client.py
Due: isort, black, flake8, mypy-apiserver

move bklog to monitoring
  apiserver/paasng/paas_wl/monitoring/bklog/__init__.py
  apiserver/paasng/paas_wl/monitoring/bklog/constants.py
  apiserver/paasng/paas_wl/monitoring/bklog/entities.py
  apiserver/paasng/paas_wl/monitoring/bklog/managers.py
  apiserver/paasng/paas_wl/monitoring/bklog/models.py
  apiserver/paasng/paas_wl/monitoring/bklog/serializers.py
  apiserver/paasng/paas_wl/resources/actions/deploy.py
  apiserver/paasng/paasng/accessories/log_search/client.py
  apiserver/paasng/paasng/accessories/log_search/definitions.py
  apiserver/paasng/paasng/platform/log/migrations/0003_customcollectorconfig.py
  apiserver/paasng/paasng/platform/log/models.py
  apiserver/paasng/paasng/platform/log/shim/setup_bklog.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/accessories/log_search/test_client.py
  apiserver/paasng/tests/paas_wl/monitoring/bklog/__init__.py
  apiserver/paasng/tests/paas_wl/monitoring/bklog/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/platform/log/shim/setup_bklog.py
Due: isort, black, flake8, mypy-apiserver

feat: 修改应用市场
  webfe/package_vue/src/views/dev-center/app/market/index.vue
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
Due: none

对接日志平台, 支持创建和更新自定义采集项 (#318)
  apiserver/paasng/paas_wl/monitoring/bklog/__init__.py
  apiserver/paasng/paas_wl/monitoring/bklog/constants.py
  apiserver/paasng/paas_wl/monitoring/bklog/entities.py
  apiserver/paasng/paas_wl/monitoring/bklog/managers.py
  apiserver/paasng/paas_wl/monitoring/bklog/models.py
  apiserver/paasng/paas_wl/monitoring/bklog/serializers.py
  apiserver/paasng/paas_wl/resources/actions/deploy.py
  apiserver/paasng/paas_wl/resources/base/crd.py
  apiserver/paasng/paasng/accessories/log_search/__init__.py
  apiserver/paasng/paasng/accessories/log_search/backend/__init__.py
  apiserver/paasng/paasng/accessories/log_search/backend/apigw.py
  apiserver/paasng/paasng/accessories/log_search/backend/esb.py
  apiserver/paasng/paasng/accessories/log_search/client.py
  apiserver/paasng/paasng/accessories/log_search/constatns.py
  apiserver/paasng/paasng/accessories/log_search/definitions.py
  apiserver/paasng/paasng/accessories/log_search/exceptions.py
  apiserver/paasng/paasng/extensions/bk_plugins/api_serializers.py
  apiserver/paasng/paasng/platform/log/client.py
  apiserver/paasng/paasng/platform/log/migrations/0003_customcollectorconfig.py
  apiserver/paasng/paasng/platform/log/models.py
  apiserver/paasng/paasng/platform/log/shim/__init__.py
  apiserver/paasng/paasng/platform/log/shim/setup_bklog.py
  apiserver/paasng/paasng/platform/log/shim/setup_elk.py
  apiserver/paasng/paasng/platform/log/views.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/api_serializers.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/accessories/log_search/__init__.py
  apiserver/paasng/tests/accessories/log_search/test_client.py
  apiserver/paasng/tests/paas_wl/monitoring/bklog/__init__.py
  apiserver/paasng/tests/paas_wl/monitoring/bklog/test_serializers.py
  apiserver/paasng/tests/pluginscenter/thirdparty/test_api.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/paas_wl/platform/applications/migrations/0010_auto_20230527_1208.py
  apiserver/paasng/paas_wl/platform/applications/migrations/0011_build_image_id.py
Due: mypy-apiserver

feature: 实现 构建配置 相关接口
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/start.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/platform/modules/exceptions.py
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/modules/specs.py
  apiserver/paasng/paasng/platform/modules/urls.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/test_build_config.py
Due: isort, black, flake8, mypy-apiserver

mionr: 优化前端 BK_PAAS3_URL 变量的配置方式
  apiserver/paasng/paasng/platform/modules/helpers.py
  webfe/package_vue/index.html
Due: isort, black, flake8, mypy-apiserver

refactor with discussion, 移除 ImageID 的相关逻辑
  apiserver/paasng/paas_wl/platform/applications/migrations/0010_auto_20230527_1208.py
  apiserver/paasng/paas_wl/platform/applications/migrations/0011_build_image_id.py
  apiserver/paasng/paas_wl/platform/applications/models/build.py
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/runtime.py
  apiserver/paasng/paasng/platform/modules/models/runtime.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/modules/urls.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/tests/platform/modules/test_models.py
Due: isort, black, flake8, mypy-apiserver

enhance: 调整 Build 模型, 支持存储镜像ID, 构件类型
  apiserver/paasng/paas_wl/platform/applications/constants.py
  apiserver/paasng/paas_wl/platform/applications/migrations/0010_auto_20230527_1208.py
  apiserver/paasng/paas_wl/platform/applications/migrations/0011_build_image_id.py
  apiserver/paasng/paas_wl/platform/applications/models/build.py
  apiserver/paasng/paasng/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/platform/modules/test_models.py
Due: isort, black, flake8, mypy-apiserver

feature: 实现 构建配置 相关接口, 重构运行时绑定模块 (#498)
  apiserver/paasng/paas_wl/platform/applications/constants.py
  apiserver/paasng/paas_wl/platform/applications/migrations/0011_build_image_id.py
  apiserver/paasng/paas_wl/platform/applications/models/build.py
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/deploy/start.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/runtime.py
  apiserver/paasng/paasng/platform/modules/exceptions.py
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/platform/modules/models/runtime.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/modules/specs.py
  apiserver/paasng/paasng/platform/modules/urls.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/test_build_config.py
  apiserver/paasng/tests/platform/modules/test_models.py
  webfe/package_vue/index.html
Due: isort, black, flake8, mypy-apiserver

refactor: resolve review comments
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/manager.py
  apiserver/paasng/paasng/monitoring/monitor/models.py
Due: isort, black, flake8, mypy-apiserver

minor: extend operator resource quota plan
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/compat.go
  operator/api/v1alpha2/constants.go
Due: operator-lint

minor: extend operator resource quota plan (#504)
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/compat.go
  operator/api/v1alpha2/constants.go
Due: operator-lint

feat: mres api support multi module
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/urls_enduser.py
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/paasng/engine/deploy/start.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_models.py
Due: isort, black, flake8, mypy-apiserver

minor: webfe call get_cnative_specs api with module info
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

feat: mres api support multi module (#505)
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/urls_enduser.py
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/paasng/engine/deploy/start.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_models.py
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: isort, black, flake8, mypy-apiserver

feat: BkAppResource support v1alpha2 (#501)
  apiserver/paasng/paas_wl/cnative/specs/addresses.py
  apiserver/paasng/paas_wl/cnative/specs/configurations.py
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/crd/__init__.py
  apiserver/paasng/paas_wl/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/cnative/specs/crd/domain_group_mapping.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/procs/differ.py
  apiserver/paasng/paas_wl/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/cnative/specs/procs/quota.py
  apiserver/paasng/paas_wl/cnative/specs/procs/replicas.py
  apiserver/paasng/paas_wl/cnative/specs/resource.py
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/tests/api/apigw/test_cnative.py
  apiserver/paasng/tests/paas_wl/cnative/specs/crd/bkapp_v1.yaml
  apiserver/paasng/tests/paas_wl/cnative/specs/procs/test_quota.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_configurations.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_models.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_resource.py
  apiserver/paasng/tests/paas_wl/cnative/specs/utils.py
Due: isort, black, flake8, mypy-apiserver

fix: enable optional image field in BkAppResource
  apiserver/paasng/paas_wl/cnative/specs/crd/bk_app.py
Due: isort, black, flake8, mypy-apiserver

fix: enable optional image field in BkAppResource (#507)
  apiserver/paasng/paas_wl/cnative/specs/crd/bk_app.py
Due: isort, black, flake8, mypy-apiserver

fix: 国际化
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/create-app/external.vue
  webfe/package_vue/src/views/dev-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
Due: none

fix: 国际化翻译问题修复
  README_EN.md
  apiserver/paasng/fixtures/services.yaml
  apiserver/paasng/fixtures/template.yaml
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 从桌面查询应用访问量中应用名称国际化
  apiserver/paasng/paasng/publish/sync_market/managers.py
Due: isort, black, flake8, mypy-apiserver

fix: 顶部导航输入框显示问题
  webfe/package_vue/src/components/paas-header.vue
Due: none

fix: 国际化 (#506)
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/create-app/external.vue
  webfe/package_vue/src/views/dev-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
Due: none

feat: addons add list_by_module api
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/dev_resources/servicehub/serializers.py
  apiserver/paasng/paasng/dev_resources/servicehub/urls.py
  apiserver/paasng/paasng/dev_resources/servicehub/views.py
Due: isort, black, flake8, mypy-apiserver

minor: force_del_app add delete_grade_manager
  apiserver/paasng/paasng/platform/applications/management/commands/force_del_app.py
Due: isort, black, flake8, mypy-apiserver

fix: 国际化翻译问题修复 (#508)
  README_EN.md
  apiserver/paasng/fixtures/services.yaml
  apiserver/paasng/fixtures/template.yaml
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/publish/sync_market/managers.py
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: isort, black, flake8, mypy-apiserver

fix: 兼容不同版本桌面 app 的 name_en 字段
  apiserver/paasng/paasng/platform/legacydb/adaptors.py
  apiserver/paasng/paasng/publish/sync_market/managers.py
Due: isort, black, flake8, mypy-apiserver

fix: 兼容不同版本桌面 app 的 name_en 字段 (#510)
  apiserver/paasng/paasng/platform/legacydb/adaptors.py
  apiserver/paasng/paasng/publish/sync_market/managers.py
Due: isort, black, flake8, mypy-apiserver

minor: provide module spec with image build_method
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/migrations/0010_remove_module_runtime_type.py
  apiserver/paasng/paasng/platform/modules/models/module.py
  apiserver/paasng/paasng/platform/modules/serializers.py
Due: isort, black, flake8, mypy-apiserver

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
