Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

WIP: 代码检查功能重构 (#243)
  apiserver/paasng/paasng/ci/clients/apigw.py
  apiserver/paasng/paasng/ci/clients/bk_ci.py
  apiserver/paasng/paasng/ci/clients/exceptions.py
  apiserver/paasng/paasng/ci/constants.py
  apiserver/paasng/paasng/ci/exceptions.py
  apiserver/paasng/paasng/ci/handlers.py
  apiserver/paasng/paasng/ci/serializers.py
  apiserver/paasng/paasng/ci/urls.py
  apiserver/paasng/paasng/ci/views.py
  webfe/package_vue/src/store/modules/devops-auth.js
Due: isort, black, flake8, mypy-apiserver

minor: enable workloads mysql probe by default
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/monitoring/healthz/probes.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

minor: enable workloads mysql probe by default (#553)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/monitoring/healthz/probes.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

Update doc
  apiserver/paasng/paasng/accounts/middlewares.py
Due: isort, black, flake8, mypy-apiserver

Force the system api to authenticated by authed app, include: SysUniApplicationViewSet, SysBkPluginsViewset, SysBkPluginsBatchViewset
  apiserver/paasng/paasng/accounts/management/commands/create_authed_app_user.py
  apiserver/paasng/paasng/accounts/middlewares.py
  apiserver/paasng/paasng/accounts/utils.py
  apiserver/paasng/paasng/extensions/bk_plugins/views.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/tests/accounts/test_middlewares.py
Due: isort, black, flake8, mypy-apiserver

Force some system APIs to be able to authenticate by authed app (#535)
  apiserver/paasng/paasng/accounts/management/commands/create_authed_app_user.py
  apiserver/paasng/paasng/accounts/middlewares.py
  apiserver/paasng/paasng/accounts/utils.py
  apiserver/paasng/paasng/extensions/bk_plugins/views.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/tests/accounts/test_middlewares.py
Due: isort, black, flake8, mypy-apiserver

feat: 访问地址相关功能修复
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
Due: none

feat: 新增编辑访问地址api
  webfe/package_vue/src/store/modules/market.js
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
Due: none

refactor: resolve review comments
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/volumes.go
  operator/api/v1alpha2/volumes_test.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/volumes.go
  operator/pkg/controllers/resources/volumes_test.go
Due: operator-lint

minor: resolve #551 conversations
  apiserver/paasng/paasng/dev_resources/servicehub/views.py
Due: isort, black, flake8, mypy-apiserver

feat: 按照设计稿调整
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-user.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
  webfe/package_vue/static/images/custom.png
  webfe/package_vue/static/images/main.png
Due: none

refactor: addons service list-by-module api (#551)
  apiserver/paasng/paasng/dev_resources/servicehub/serializers.py
  apiserver/paasng/paasng/dev_resources/servicehub/views.py
Due: isort, black, flake8, mypy-apiserver

enhance: ModuleSLZ.web_config 添加关于模块是否支持镜像构建、构建方式的信息
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/modules/specs.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/paasng/engine/configurations/building.py
  apiserver/paasng/paasng/platform/modules/specs.py
  apiserver/paasng/tests/api/test_applications.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/paasng/engine/configurations/building.py
Due: isort, black, flake8, mypy-apiserver

enhance: ModuleSLZ.web_config 添加关于模块是否支持镜像构建、构建方式的信息 (#554)
  apiserver/paasng/paasng/engine/configurations/building.py
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/modules/specs.py
  apiserver/paasng/tests/api/test_applications.py
Due: isort, black, flake8, mypy-apiserver

feat: 调整访问地址api
  webfe/package_vue/src/views/dev-center/app/market/index.scss
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
Due: none

feat: 修改tips相关
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

bugfix: 修复外链应用发布到市场必须添加 ApplicationEnvironment 信息
  apiserver/paasng/paasng/publish/market/protections.py
Due: isort, black, flake8, mypy-apiserver

feat: 修改细节
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

feat: 修改tooltips bug
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

feat: 添加title
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
Due: none

feat: 修改模块时bugfix
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
Due: none

feat: hover 样式问题
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

chore: add retrieve_addon_specs api in apigw resources
  apiserver/paasng/support-files/apigw/definition.yaml
  apiserver/paasng/support-files/apigw/resources.yaml
Due: none

bugfix: 修复外链应用发布到市场必须添加 ApplicationEnvironment 信息 (#555)
  apiserver/paasng/paasng/publish/market/protections.py
Due: isort, black, flake8, mypy-apiserver

chore: add retrieve_addon_specs api in apigw resources (#556)
  apiserver/paasng/support-files/apigw/definition.yaml
  apiserver/paasng/support-files/apigw/resources.yaml
Due: none

refactor with discussion
  apiserver/paasng/paas_wl/networking/entrance/addrs.py
  apiserver/paasng/paas_wl/networking/entrance/shim.py
  apiserver/paasng/paas_wl/networking/entrance/views_enduser.py
  apiserver/paasng/paas_wl/networking/ingress/domains/manager.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/paasng/publish/market/serializers.py
  apiserver/paasng/paasng/publish/market/utils.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复未保存 MarketConfig.source_module 字段的问题
  apiserver/paasng/paasng/publish/market/serializers.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paas_wl/cnative/specs/addresses.py
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/paas_wl/networking/entrance/shim.py
  apiserver/paasng/paas_wl/networking/entrance/views_enduser.py
  apiserver/paasng/paasng/platform/modules/protections.py
  apiserver/paasng/paasng/publish/market/serializers.py
  apiserver/paasng/paasng/publish/market/utils.py
  apiserver/paasng/tests/api/apigw/test_cnative.py
  apiserver/paasng/tests/paas_wl/networking/ingress/test_addrs.py
  apiserver/paasng/tests/platform/modules/test_protections.py
  apiserver/paasng/tests/publish/market/test_utils.py
Due: isort, black, flake8, mypy-apiserver

refactor: 重构访问入口
  apiserver/paasng/paas_wl/networking/entrance/addrs.py
  apiserver/paasng/paas_wl/networking/entrance/serializers.py
  apiserver/paasng/paas_wl/networking/entrance/shim.py
  apiserver/paasng/paas_wl/networking/entrance/urls.py
  apiserver/paasng/paas_wl/networking/entrance/views_enduser.py
  apiserver/paasng/paas_wl/networking/ingress/domains/manager.py
  apiserver/paasng/paasng/engine/views/release.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/modules/protections.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/paasng/publish/entrance/preallocated.py
  apiserver/paasng/paasng/publish/entrance/utils.py
  apiserver/paasng/paasng/publish/market/apps.py
  apiserver/paasng/paasng/publish/market/constant.py
  apiserver/paasng/paasng/publish/market/serializers.py
  apiserver/paasng/paasng/publish/market/triggers.py
  apiserver/paasng/paasng/publish/market/urls.py
  apiserver/paasng/paasng/publish/market/utils.py
  apiserver/paasng/paasng/publish/market/views.py
  apiserver/paasng/paasng/publish/sync_market/handlers.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paas_wl/networking/ingress/domains/test_manager.py
  apiserver/paasng/tests/platform/modules/test_protections.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
  apiserver/paasng/tests/publish/entrance/test_utils.py
  apiserver/paasng/tests/publish/market/test_utils.py
  apiserver/paasng/tests/publish/test_entrance.py
  apiserver/paasng/tests/publish/utils.py
Due: isort, black, flake8, mypy-apiserver

enhance: 新增保存访问地址的接口
  apiserver/paasng/paas_wl/cnative/specs/addresses.py
  apiserver/paasng/paas_wl/networking/entrance/addrs.py
  apiserver/paasng/paas_wl/networking/entrance/shim.py
  apiserver/paasng/paas_wl/networking/entrance/views_enduser.py
  apiserver/paasng/paas_wl/networking/ingress/domains/manager.py
  apiserver/paasng/paasng/platform/modules/protections.py
  apiserver/paasng/paasng/publish/market/constant.py
  apiserver/paasng/paasng/publish/market/serializers.py
  apiserver/paasng/paasng/publish/market/urls.py
  apiserver/paasng/paasng/publish/market/utils.py
  apiserver/paasng/paasng/publish/market/views.py
  apiserver/paasng/tests/api/test_market.py
  apiserver/paasng/tests/api/test_modules.py
  apiserver/paasng/tests/paas_wl/api/test_entrance.py
  apiserver/paasng/tests/paas_wl/cnative/specs/crd/bkapp_v1.yaml
  apiserver/paasng/tests/paas_wl/networking/ingress/domains/test_manager.py
  apiserver/paasng/tests/paas_wl/networking/ingress/test_addrs.py
  apiserver/paasng/tests/platform/modules/test_protections.py
  apiserver/paasng/tests/publish/market/test_utils.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/tests/conftest.py
Due: isort, black, flake8, mypy-apiserver

update moby-distribution to 0.5.5
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

feat:删除无用代码
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-path.vue
Due: none

Refactor entrance (#552)
  apiserver/paasng/paas_wl/cnative/specs/addresses.py
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/paas_wl/networking/entrance/addrs.py
  apiserver/paasng/paas_wl/networking/entrance/serializers.py
  apiserver/paasng/paas_wl/networking/entrance/shim.py
  apiserver/paasng/paas_wl/networking/entrance/urls.py
  apiserver/paasng/paas_wl/networking/entrance/views_enduser.py
  apiserver/paasng/paas_wl/networking/ingress/domains/manager.py
  apiserver/paasng/paasng/engine/views/release.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/modules/protections.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/paasng/publish/entrance/preallocated.py
  apiserver/paasng/paasng/publish/entrance/utils.py
  apiserver/paasng/paasng/publish/market/apps.py
  apiserver/paasng/paasng/publish/market/constant.py
  apiserver/paasng/paasng/publish/market/serializers.py
  apiserver/paasng/paasng/publish/market/triggers.py
  apiserver/paasng/paasng/publish/market/urls.py
  apiserver/paasng/paasng/publish/market/utils.py
  apiserver/paasng/paasng/publish/market/views.py
  apiserver/paasng/paasng/publish/sync_market/handlers.py
  apiserver/paasng/tests/api/apigw/test_cnative.py
  apiserver/paasng/tests/api/test_market.py
  apiserver/paasng/tests/api/test_modules.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paas_wl/api/test_entrance.py
  apiserver/paasng/tests/paas_wl/cnative/specs/crd/bkapp_v1.yaml
  apiserver/paasng/tests/paas_wl/networking/ingress/domains/test_manager.py
  apiserver/paasng/tests/paas_wl/networking/ingress/test_addrs.py
  apiserver/paasng/tests/platform/modules/test_protections.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
  apiserver/paasng/tests/publish/entrance/test_utils.py
  apiserver/paasng/tests/publish/market/test_utils.py
  apiserver/paasng/tests/publish/test_entrance.py
  apiserver/paasng/tests/publish/utils.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: isort, black, flake8, mypy-apiserver

feat: 添加数据存储标题
  webfe/package_vue/src/views/dev-center/app/services/category.vue
  webfe/package_vue/src/views/dev-center/app/services/shared-instance.vue
Due: none

feat: 处理表单问题
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

feat: 修改line对齐
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none
