Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

bug: 持久存储编辑无法保存，字号调整
  webfe/package_vue/src/components/create-persistent-storage-dailog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

bug: 持久存储编辑无法保存，字号调整 (#1184)
  webfe/package_vue/src/components/create-persistent-storage-dailog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

Finish re-organize operator module
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/compat.go
  operator/api/v1alpha2/compat_test.go
  operator/controllers/bkapp_controller_test.go
  operator/main.go
  operator/pkg/controllers/bkapp/autoscaling/autoscaling.go
  operator/pkg/controllers/bkapp/autoscaling/gpa.go
  operator/pkg/controllers/bkapp/autoscaling/gpa_test.go
  operator/pkg/controllers/bkapp/envs/env_overlay.go
  operator/pkg/controllers/bkapp/envs/env_overlay_test.go
  operator/pkg/controllers/bkapp/hooks/hooks.go
  operator/pkg/controllers/bkapp/hooks/resources/hooks.go
  operator/pkg/controllers/bkapp/predicates.go
  operator/pkg/controllers/bkapp/processes/deployments.go
  operator/pkg/controllers/bkapp/processes/resources/deployment.go
  operator/pkg/controllers/bkapp/processes/resources/deployment_test.go
  operator/pkg/health/deployment.go
  operator/pkg/health/deployment_test.go
  operator/pkg/health/health_suite_test.go
  operator/pkg/health/pod.go
  operator/pkg/health/pod_test.go
  operator/pkg/health/types.go
  operator/pkg/kubeutil/client.go
  operator/pkg/kubeutil/client_test.go
  operator/pkg/kubeutil/deployment.go
  operator/pkg/kubeutil/misc.go
  operator/pkg/kubeutil/misc_test.go
  operator/pkg/kubeutil/traced_client.go
  operator/pkg/utils/kubestatus/gpa_test.go
  operator/pkg/utils/kubestatus/health.go
Due: operator-lint

Simplify test code in image_test.go to remove code duplication rate.
  operator/pkg/controllers/bkapp/common/images_test.go
Due: operator-lint

fix: update application operation report collector
  apiserver/paasng/paasng/platform/evaluation/evaluators.py
  apiserver/paasng/paasng/platform/evaluation/management/commands/collect_app_operation_report.py
  apiserver/paasng/paasng/platform/evaluation/tasks.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update application operation report collector (#1186)
  apiserver/paasng/paasng/platform/evaluation/evaluators.py
  apiserver/paasng/paasng/platform/evaluation/management/commands/collect_app_operation_report.py
  apiserver/paasng/paasng/platform/evaluation/tasks.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Update URL path name: shared_app_cert_by_name etc.
  apiserver/paasng/paas_wl/apis/admin/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/custom_domain.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/certs.html
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Fix: some admin pages use wrong API path if the platform was deployed with a path prefix other than "/"
  apiserver/paasng/paas_wl/apis/admin/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/custom_domain.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/log_config.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/processes.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/certs.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/cluster_components.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/operator.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/process_spec_plans.html
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Fix: some admin pages use the wrong API path if the platform is deployed with a path prefix other than "/" (#1188)
  apiserver/paasng/paas_wl/apis/admin/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/custom_domain.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/log_config.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/processes.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/certs.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/cluster_components.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/operator.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/process_spec_plans.html
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:监控相关的 API 检测 setting
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/handlers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: bad no perm url and grade manager obj as id
  apiserver/paasng/paasng/bk_plugins/pluginscenter/iam_adaptor/management/shim.py
  webfe/package_vue/src/router/plugin.js
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: force set proc_command as None in import_hooks
  apiserver/paasng/paasng/platform/bkapp_model/importer/hooks.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: bad no perm url and grade manager obj as id and import_hooks (#1190)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/iam_adaptor/management/shim.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/hooks.py
  webfe/package_vue/src/router/plugin.js
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: minor
  apiserver/paasng/tests/paas_wl/bk_app/monitoring/bklog/test_kres_slzs.py
  apiserver/paasng/tests/paas_wl/workloads/autoscaling/test_kres_slzs.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/kres/__init__.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/kres/test_ingress.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/kres/test_service.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：插件开发-进程管理：需要兼容云原生应用进程数据的展示
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: envOverlay mount 在验证重复 nma、 path 时，需要区分环境
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
Due: operator-lint

fix: envOverlay mount 在验证重复 nma、 path 时，需要区分环境
  operator/api/v1alpha2/bkapp_webhook.go
Due: operator-lint

fix: 插件开发-创建页面-提交按钮：没超过一屏的时候是跟随。超出一屏就吸底固定
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: none

refactor with discussion
  apiserver/paasng/paasng/accessories/log/client.py
  apiserver/paasng/paasng/infras/bk_log/backend/apigw.py
  apiserver/paasng/paasng/infras/bk_log/backend/esb.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

update bkpkg-bkpaas3.yaml
  bkpkg-bkpaas3.yaml
Due: none

feature: 对接日志平台查询接口
  apiserver/paasng/paasng/accessories/log/client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

(WIP): 对接日志平台查询接口
  apiserver/paasng/.importlinter
  apiserver/paasng/paasng/accessories/log/client.py
  apiserver/paasng/paasng/accessories/log/shim/bklog_custom_collector_config.py
  apiserver/paasng/paasng/accessories/log/views/config.py
  apiserver/paasng/paasng/infras/bk_log/backend/apigw.py
  apiserver/paasng/paasng/infras/bk_log/backend/esb.py
  apiserver/paasng/paasng/infras/bk_log/client.py
  apiserver/paasng/tests/paasng/infras/bk_log/test_client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

对接日志平台查询接口 (#1125)
  apiserver/paasng/.importlinter
  apiserver/paasng/paasng/accessories/log/client.py
  apiserver/paasng/paasng/accessories/log/shim/bklog_custom_collector_config.py
  apiserver/paasng/paasng/accessories/log/views/config.py
  apiserver/paasng/paasng/infras/bk_log/backend/apigw.py
  apiserver/paasng/paasng/infras/bk_log/backend/esb.py
  apiserver/paasng/paasng/infras/bk_log/client.py
  apiserver/paasng/tests/paasng/infras/bk_log/test_client.py
  bkpkg-bkpaas3.yaml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:监控相关的 API 检测 setting
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/manager.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/shim.py
  apiserver/paasng/paasng/misc/monitoring/monitor/management/commands/init_alert_rules.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/tests/paasng/misc/monitoring/alert_rules/test_api.py
  apiserver/paasng/tests/paasng/misc/monitoring/alert_rules/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: minor
  apiserver/paasng/paas_wl/bk_app/deploy/actions/exec.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/tasks.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/actions/test_exec.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Revert "对接日志平台查询接口 (#1125)"
  apiserver/paasng/.importlinter
  apiserver/paasng/paasng/accessories/log/client.py
  apiserver/paasng/paasng/accessories/log/shim/bklog_custom_collector_config.py
  apiserver/paasng/paasng/accessories/log/views/config.py
  apiserver/paasng/paasng/infras/bk_log/backend/apigw.py
  apiserver/paasng/paasng/infras/bk_log/backend/esb.py
  apiserver/paasng/paasng/infras/bk_log/client.py
  apiserver/paasng/tests/paasng/infras/bk_log/test_client.py
  bkpkg-bkpaas3.yaml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: envOverlay mount 在验证重复 nma、 path 时，需要区分环境
  operator/api/v1alpha2/bkapp_webhook_test.go
Due: operator-lint

fix: envOverlay mount 在校验重复 nama、 path 时，需要区分环境 (#1192)
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
Due: operator-lint

Remove build handler from scheduler client
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/client.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
  apiserver/paasng/paasng/plat_admin/admin_cli/management/commands/adm_mapper_v1.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/app_res/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/app_res/test_controllers_builder.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Delete SchedulerClient and update related references.
  apiserver/paasng/paas_wl/bk_app/deploy/actions/delete.py
  apiserver/paasng/paas_wl/bk_app/deploy/actions/deploy.py
  apiserver/paasng/paas_wl/bk_app/deploy/actions/exec.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/client.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/utils.py
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/utils.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/actions/conftest.py
  apiserver/paasng/tests/paas_wl/infras/resources/base/conftest.py
  apiserver/paasng/tests/paas_wl/infras/resources/base/test_credentials.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/bg_build/test_bg_build.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Rename some functions in controller.py
  apiserver/paasng/paas_wl/bk_app/deploy/actions/exec.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/actions/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/app_res/test_controllers_builder.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Delete an unnecessary abstraction: SchedulerClient (#1185)
  apiserver/paasng/paas_wl/bk_app/deploy/actions/delete.py
  apiserver/paasng/paas_wl/bk_app/deploy/actions/deploy.py
  apiserver/paasng/paas_wl/bk_app/deploy/actions/exec.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/client.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/utils.py
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paasng/plat_admin/admin_cli/management/commands/adm_mapper_v1.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/utils.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/actions/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/app_res/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/app_res/test_controllers_builder.py
  apiserver/paasng/tests/paas_wl/infras/resources/base/conftest.py
  apiserver/paasng/tests/paas_wl/infras/resources/base/test_credentials.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/bg_build/test_bg_build.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

插件提单修复 (#1193)
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: none

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
