Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

feat: update apiserver python version to 3.11.10
  apiserver/Dockerfile
  apiserver/Makefile
  apiserver/README.md
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paas_wl/infras/resources/utils/basic.py
  apiserver/paasng/paas_wl/utils/basic.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
  pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update Dockerfile
  apiserver/Dockerfile
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
Due: none

feat: update requests to 2.32.3
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

feat: 沙盒开发测试环境
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/conf.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/constants.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/controller.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/entities.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/__init__.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/code_editor.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/ingress.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/service.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/code_editor.py
  apiserver/paasng/paasng/accessories/dev_sandbox/apps.py
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0001_initial.py
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/__init__.py
  apiserver/paasng/paasng/accessories/dev_sandbox/models.py
  apiserver/paasng/paasng/accessories/dev_sandbox/serializers.py
  apiserver/paasng/paasng/accessories/dev_sandbox/urls.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/test_controller.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/test_kres_slzs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update pyproject.toml
  apiserver/pyproject.toml
Due: none

feat: lock cryptography to 42.0.5
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

feat: update elasticsearch to 7.17.12
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

fix: test failed when kind cluster, case: list terminated insts
  apiserver/paasng/paas_wl/bk_app/processes/kres_slzs.py
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_managers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixture name incorret in e2e test cases
  apiserver/paasng/tests/paas_wl/e2e/ingress/conftest.py
  apiserver/paasng/tests/paas_wl/e2e/ingress/v0_21_0/conftest.py
  apiserver/paasng/tests/paas_wl/e2e/ingress/v0_22_0/conftest.py
  apiserver/paasng/tests/paas_wl/e2e/ingress/v1_0_0/conftest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: aenum's stricter checks causing extend_enum to fail
  apiserver/paasng/paasng/accessories/log/client.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/log/client.py
  apiserver/paasng/paasng/infras/accounts/constants.py
  apiserver/paasng/paasng/platform/sourcectl/constants.py
  apiserver/paasng/paasng/platform/sourcectl/source_types.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update helm chart script
  operator/scripts/update_helm_chart.py
Due: ruff-check-fix, ruff-format, ruff-check, operator-lint

fix: update attrs to 22.1.0
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

chore: update buildpack-go version in init.sh
  apiserver/init.sh
Due: none

chore: update buildpack-go(191) version in init.sh (#1660)
  apiserver/init.sh
Due: none

chore: update buildpack-go(191) version in init.sh
  apiserver/init.sh
Due: none

chore: update buildpack-go(191) version in init.sh (#1661)
  apiserver/init.sh
Due: none

fix: total app count
  apiserver/paasng/paasng/platform/applications/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: total app 单独求值
  apiserver/paasng/paasng/platform/applications/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update bkpaas-app-operator to go 1.22.8 (#1637)
  operator/Dockerfile
  operator/Dockerfile-Dev
  operator/Makefile
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/config/crd/bases/paas.bk.tencent.com_domaingroupmappings.yaml
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/config/crd/kustomization.yaml
  operator/config/default/kustomization.yaml
  operator/config/rbac/role.yaml
  operator/config/webhook/manifests.yaml
  operator/go.mod
  operator/go.sum
  operator/pkg/controllers/bkapp/hooks/hooks.go
Due: operator-lint

fix: add AccessTokenHolderError
  apiserver/paasng/paasng/platform/sourcectl/exceptions.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: test total count include inactive
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: total app count must include inactive apps (#1662)
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update helm chart script (#1659)
  operator/scripts/update_helm_chart.py
Due: ruff-check-fix, ruff-format, ruff-check, operator-lint

fix: only Procfile app default bkapp.paas.bk.tencent.com/proc-services-feature-enabled is true
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update enum classes
  apiserver/paasng/paasng/infras/accounts/constants.py
  apiserver/paasng/paasng/platform/environments/constants.py
  apiserver/paasng/paasng/utils/enum.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: admin42 buildpack/builder/runner 体验问题修复 (#1650)
  apiserver/paasng/paasng/plat_admin/admin42/serializers/runtimes.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/buildpacks.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/slugbuilders.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/slugrunners.html
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: e2e test failed when using kind cluster (#1658)
  apiserver/paasng/paas_wl/bk_app/processes/kres_slzs.py
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_managers.py
  apiserver/paasng/tests/paas_wl/e2e/ingress/conftest.py
  apiserver/paasng/tests/paas_wl/e2e/ingress/v0_21_0/conftest.py
  apiserver/paasng/tests/paas_wl/e2e/ingress/v0_22_0/conftest.py
  apiserver/paasng/tests/paas_wl/e2e/ingress/v1_0_0/conftest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove "diffs" form s-mart /stash/ response"
  apiserver/paasng/paasng/platform/declarative/application/resources.py
  apiserver/paasng/paasng/platform/smart_app/serializers.py
  apiserver/paasng/paasng/platform/smart_app/views.py
  apiserver/paasng/tests/paasng/platform/declarative/test_resources.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove "diffs" form s-mart /stash/ response" (#1656)
  apiserver/paasng/paasng/platform/declarative/application/resources.py
  apiserver/paasng/paasng/platform/smart_app/serializers.py
  apiserver/paasng/paasng/platform/smart_app/views.py
  apiserver/paasng/tests/paasng/platform/declarative/test_resources.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #1655 conversations
  apiserver/Dockerfile
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paasng/accessories/log/client.py
  apiserver/paasng/paasng/platform/bkapp_model/constants.py
  apiserver/paasng/paasng/platform/sourcectl/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: missing update deployment processes fields in ImageReleaseMgr
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/declarative/entities.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_image_release.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: minor
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 首页开发v1.0
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/common/tools.js
  webfe/package_vue/src/components/loader/loading/index.vue
  webfe/package_vue/src/components/paas-footer.vue
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/json/home-page-chart-option.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/modules/alarm.js
  webfe/package_vue/src/store/modules/base-info.js
  webfe/package_vue/src/views/dev-center/home/app-overview/index.vue
  webfe/package_vue/src/views/dev-center/home/home-content/alarm-records.vue
  webfe/package_vue/src/views/dev-center/home/home-content/idle-app-dashboard.vue
  webfe/package_vue/src/views/dev-center/home/home-content/index.vue
  webfe/package_vue/src/views/dev-center/home/home-content/recent-operation-records.vue
  webfe/package_vue/src/views/dev-center/index.vue
  webfe/package_vue/src/views/index.vue
  webfe/package_vue/static/images/circle-home1.svg
  webfe/package_vue/static/images/circle-home2.svg
  webfe/package_vue/static/images/home-empty-state.png
Due: none

fix: 样式修复 # Reviewed, transaction id: 20930
  webfe/package_vue/src/json/home-page-chart-option.js
  webfe/package_vue/src/views/dev-center/home/app-overview/index.vue
  webfe/package_vue/src/views/dev-center/home/home-content/recent-operation-records.vue
Due: none

fix: 体验问题修复 # Reviewed, transaction id: 21066
  webfe/package_vue/src/components/paas-footer.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/home/app-overview/index.vue
  webfe/package_vue/src/views/dev-center/home/home-content/alarm-records.vue
  webfe/package_vue/src/views/dev-center/home/home-content/index.vue
  webfe/package_vue/src/views/dev-center/home/home-content/recent-operation-records.vue
Due: none

fix: tips颜色补充 # Reviewed, transaction id: 21068
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/home/home-content/index.vue
Due: none

fix: review & 体验问题修复 # Reviewed, transaction id: 21083
  webfe/package_vue/src/common/tools.js
  webfe/package_vue/src/views/dev-center/home/app-overview/index.vue
  webfe/package_vue/src/views/dev-center/home/home-content/recent-operation-records.vue
  webfe/package_vue/src/views/dev-center/index.vue
Due: none
