Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 日志体验体验修复 (#1491)
  webfe/package_vue/src/views/dev-center/app/engine/log/access-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/comps/log-filter.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/custom-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/standart-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/comps/log-filter.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/standart-log.vue
Due: none

feat: 应用搜索列表添加收藏标记 (#1497)
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/views.py
  webfe/package_vue/src/components/searching/searchAppList.vue
  webfe/package_vue/src/store/modules/search.js
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: V7.2 外发前整体特性验收修复 # Reviewed, transaction id: 13156
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
Due: none

fix: 国际化问题修复 # Reviewed, transaction id: 13422
  webfe/package_vue/src/language/lang/en.js
Due: none

fix: bkci status may not return totalTime and executeTime
  apiserver/paasng/paasng/bk_plugins/pluginscenter/bk_devops/definitions.py
  apiserver/paasng/paasng/infras/bk_ci/entities.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: S-mart 应用不能在页面上修改基本信息、可见范围展示修复 # Reviewed, transaction id: 13469
  webfe/package_vue/src/components/authentication-info.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/market/visible-range.vue
Due: none

fix: fixed icon color and text width
  webfe/package_vue/src/components/searching/searchAppList.vue
Due: none

fix: S-mart 应用不能在页面上修改基本信息、可见范围展示修复 # Reviewed, transaction id: 13471
  webfe/package_vue/src/components/authentication-info.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/market/visible-range.vue
Due: none

fix: 体验提单修复 (#1495)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: rollback database model field default value (#1499)
  apiserver/paasng/paasng/platform/templates/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: bkci status may not return totalTime and executeTime (#1503)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/bk_devops/definitions.py
  apiserver/paasng/paasng/infras/bk_ci/entities.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: V7.2 外发前整体特性验收修复 (#1501)
  webfe/package_vue/src/components/authentication-info.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/market/visible-range.vue
Due: none

fix: 修复应用搜索列表中 icon 颜色和换行问题 (#1504)
  webfe/package_vue/src/components/searching/searchAppList.vue
Due: none

minor: resolve #1482 conversations
  operator/pkg/controllers/bkapp/deploy_action.go
  operator/pkg/controllers/bkapp/hooks/hooks.go
Due: operator-lint

fix: hook pod gone away may block new deployment (#1482)
  operator/pkg/controllers/bkapp/deploy_action.go
  operator/pkg/controllers/bkapp/hooks/hooks.go
  operator/pkg/controllers/bkapp/hooks/hooks_test.go
  operator/pkg/controllers/bkapp/processes/resources/deployment.go
Due: operator-lint

refactor: remove the "tb" info from the DynamicApiError (#1498)
  apiserver/paasng/paas_wl/infras/resources/base/kube_client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove binary file .mo, compile the files before staring processes
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/start.sh
  apiserver/start_admin42.sh
  apiserver/start_celery.sh
Due: none

fix: fixed user_profile_list page in admin42
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/accountmgr/user_profile_list.html
Due: none

fix: fixed pagination issue
  apiserver/paasng/paasng/plat_admin/admin42/serializers/accountmgr.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/accountmgr/user_profile_list.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/utils/filters.py
  apiserver/paasng/paasng/plat_admin/admin42/views/accountmgr.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: move the collectstatic and compilemessages actions to the building phase
  apiserver/Dockerfile
  apiserver/paasng/paasng/misc/metrics/basic_services/mysql.py
  apiserver/paasng/paasng/misc/monitoring/healthz/probes.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/blobstore.py
  apiserver/start.sh
  apiserver/start_admin42.sh
  apiserver/start_celery.sh
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: dockerfile allow extra apps & update devops dockerfile
  apiserver/Dockerfile
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
Due: none

fix: fixed
  apiserver/paasng/paasng/plat_admin/admin42/serializers/config_vars.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/builtin_config_vars.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/builtin_config_vars.py
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/paasng/platform/engine/migrations/0022_builtinconfigvar.py
  apiserver/paasng/paasng/platform/engine/models/config_var.py
  apiserver/paasng/tests/paasng/platform/engine/configurations/test_config_var.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 国际化
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

refactor: ignore .mo file
  .gitignore
Due: none

refactory: tiny update on dockerfile devops
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
Due: none

refactor: remove I18N binary file django.mo and compile the file before starting processes (#1505)
  .gitignore
  apiserver/Dockerfile
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/paasng/misc/metrics/basic_services/mysql.py
  apiserver/paasng/paasng/misc/monitoring/healthz/probes.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/blobstore.py
  apiserver/start.sh
  apiserver/start_admin42.sh
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: add dev guide for system apis
  apiserver/README.md
Due: none

fix: 对应权限显示对应的 panel
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/front_page.html
  apiserver/paasng/paasng/plat_admin/admin42/templatetags/admin_utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixed
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/front_page.html
  apiserver/paasng/paasng/plat_admin/admin42/templatetags/admin_utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixed
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/base.html
Due: none

feat: 支持 Codecc 插件正式版本发布
  apiserver/paasng/paasng/bk_plugins/pluginscenter/constants.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/exceptions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/constants.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/open_apis/urls.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/open_apis/views.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/migrations/0022_auto_20240730_1752.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/shim.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/urls.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/conftest.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_api.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_integration.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/bk_plugins/pluginscenter/constants.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: docker build fails because unexpected env var overrides the settings
  apiserver/Dockerfile
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
Due: none

fix: docker build fails because unexpected env var with empty value overrides the settings (#1510)
  apiserver/Dockerfile
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
Due: none

feat: minor
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_integration.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unitest
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/open_apis/views.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_api.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: add module_name in slz and support list all
  apiserver/paasng/paasng/platform/engine/serializers.py
  apiserver/paasng/paasng/platform/engine/views/misc.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver
