Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix
  apiserver/paasng/paas_wl/bk_app/cnative/specs/migrations/0006_auto_20240228_1526.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/migrations/0007_rename_storage_persistentstoragesource_storage_size.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 去除后端 API 中的 /svc_workloads/ 前缀
  webfe/package_vue/src/store/modules/base-info.js
  webfe/package_vue/src/store/modules/credential.js
  webfe/package_vue/src/store/modules/entry-config.js
  webfe/package_vue/src/store/modules/processes.js
  webfe/package_vue/src/views/dev-center/app/basic-config/access-portal/domain.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/visit-url/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/comps/deploy-action/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/custom-domain.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: 去除后端 API 中的 /svc_workloads/ 前缀 (#1166)
  webfe/package_vue/src/store/modules/base-info.js
  webfe/package_vue/src/store/modules/credential.js
  webfe/package_vue/src/store/modules/entry-config.js
  webfe/package_vue/src/store/modules/processes.js
  webfe/package_vue/src/views/dev-center/app/basic-config/access-portal/domain.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/visit-url/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/comps/deploy-action/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/custom-domain.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix
  apiserver/paasng/paasng/accessories/servicehub/management/commands/replace_mysql_credentials.py
  apiserver/paasng/paasng/accessories/servicehub/management/commands/replace_redis_credentials.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix
  apiserver/paasng/paasng/accessories/servicehub/management/commands/replace_mysql_credentials.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 插件开发者中心:支持测试发布和正式发布 (#1110)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/constants.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/exceptions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/management/commands/create_or_update_plugin_type.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/migrations/0018_auto_20240130_1450.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/__init__.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/deploy.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/release.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/subpage.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/conftest.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/release/test_stages.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_integration.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/workloads/configuration/configmap/kres_entities.py
  apiserver/paasng/paas_wl/workloads/volume/persistent_volume_claim/kres_entities.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 添加获取应用增强服务环境变量 KEY 的 API
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/settings/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix
  operator/api/v1alpha2/volumes.go
Due: operator-lint

fix
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/resources/volumes_test.go
Due: operator-lint

fix: 插件导航样式调整
  webfe/package_vue/src/assets/css/pages/overview.scss
  webfe/package_vue/src/components/paas-plugin-nav.vue
  webfe/package_vue/src/components/plugin-quick-nav.vue
Due: none

fix
  operator/api/v1alpha2/bkapp_webhook_test.go
Due: operator-lint

fix: 插件开发者样式统一
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/plugin-base-info.vue
  webfe/package_vue/src/components/loader/loading/plugin-process.vue
  webfe/package_vue/src/components/loader/loading/pluin-list.vue
  webfe/package_vue/src/components/loader/loading/pluin-version-list.vue
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/market-info-edit.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/more-info-edit.vue
  webfe/package_vue/src/views/plugin-center/plugin/deploy-env/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/process/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: 插件列表、创建插件样式调整
  webfe/package_vue/src/App.vue
  webfe/package_vue/src/assets/css/components/reset.scss
  webfe/package_vue/src/components/loader/loading/pluin-list.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
Due: none

fix: 插件开发者中心样式处理， 版本发布重构v1
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/mixins/plugin-base-mixin.js
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/build/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/itsm.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-steps/index.vue
Due: none

fix: 新版样式版本发布手动切换步骤实现
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-steps/index.vue
Due: none

fix: 手动切换预览步骤禁用表单项
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/market.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: 创建插件：插件创建成功添加引导页面
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/plugin.js
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/success.vue
Due: none

fix: 修复正在部署的时候，刷新页面步骤没有展示出来。版本发布样式调整v1
  webfe/package_vue/src/components/loader/loading/deploy-inner.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/build/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/comps/itsm-info-item.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/comps/release-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/comps/release-timeline.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/deploy.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/market.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/online.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/test.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: 重新部署需要刷新页面bug修复，创建插件小屏适配
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/success.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

update: 新建版本-代码分支选择控制变更字段逻辑
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
Due: none

fix: 插件样式调整，版本管理页面，可根据字段拆分为：版本发布、测试记录v1
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/success.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/comps/version-manage-title.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

update: 新建测试：不需要做限制
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none

fix: 0301 体验问题
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/comps/version-manage-title.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none

fix：插件创建成功引导页，区分新建版本、测试插件
  webfe/package_vue/src/views/plugin-center/create-plugin/success.vue
Due: none

code review
  webfe/package_vue/src/views/plugin-center/plugin/deploy-env/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

bug: 解决插件开发者中心滚动条问题
  webfe/package_vue/src/App.vue
Due: none

fix
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/volumes.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/resources/volumes.go
  operator/pkg/controllers/resources/volumes_test.go
Due: operator-lint

fix: 应用配置-卡片基础阴影样式
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
  webfe/package_vue/src/views/dev-center/app/market/mobile-market.vue
Due: none

fix：S-mart 应用- 应用市场信息：去掉编辑态
  webfe/package_vue/src/views/dev-center/app/market/index.scss
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
Due: none

fix: 新建模块：S-mart 应用新建提示修改
  webfe/package_vue/src/components/paas-module-bar.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
Due: none

fix: S-mart 应用-模块配置-增强服务：不允许启用、停用 增强服务
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
Due: none

fix: S-mart-构建配置
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-build.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/image-credential/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/packages/index.vue
Due: none

fix: 市场信息部分内容显示去除smart应用限制
  webfe/package_vue/src/views/dev-center/app/market/index.scss
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
Due: none

S-mart 应用迭代 (#1171)
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/paas-module-bar.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-build.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/image-credential/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/packages/index.vue
  webfe/package_vue/src/views/dev-center/app/market/index.scss
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
  webfe/package_vue/src/views/dev-center/app/market/mobile-market.vue
Due: none

bug: 解决插件开发者中心滚动条问题 (#1170)
  webfe/package_vue/src/App.vue
Due: none

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
