Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

feat: drf render 去掉 BrowsableAPIRenderer
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 下拉刷新，外链应用创建访问地址致辞连接符，其他样式问题修复 # Reviewed, transaction id: 966
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
  webfe/package_vue/src/views/dev-center/create-app/external.vue
Due: none

minor: 将日志平台的错误异常信息转换成 errorcode 返回给前端 (#1015)
  apiserver/paasng/paasng/accessories/log/views/logs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：去除使用示例镜像操作
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

build: update bkpaas-auth to 2.0.8
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

feat: drf render 去掉 BrowsableAPIRenderer (#1053)
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

build: update bkpaas-auth to 2.0.8 (#1054)
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

feat: 修复自动扩缩容问题
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix: 访问日志表格超出页面 # Reviewed, transaction id: 1011
  webfe/package_vue/src/views/dev-center/app/engine/log/access-log.vue
Due: none

fix：环境变量描述添加校验 # Reviewed, transaction id: 1018
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
Due: none

fix: not update process target_status when deploy
  apiserver/paasng/paas_wl/bk_app/processes/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：保存按钮间距 # Reviewed, transaction id: 1022
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/config-item.vue
Due: none

fix: not update process target_status to start when deploy (#1057)
  apiserver/paasng/paas_wl/bk_app/processes/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 创建模块镜像管理表单对齐
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
Due: none

fix: not get new updated scripts
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: minor
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: minor
  apiserver/paasng/paasng/platform/engine/models/deployment.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: minor
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复smart应用部署bug
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

fix：最后一个timeline节点没有内容
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/image-list.vue
Due: none

fix:check fix
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: not get new updated scripts (#1058)
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: smart 部署选中版本bug
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

fix： 在应用创建页面，提供更多关于不同构建方式的提示和帮助文字
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/create-app/cloud.scss
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix:修改挂载卷正则，"/" 不合法 # Reviewed, transaction id: 1078
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:修复挂载卷路径，"/" 不合法 # Reviewed, transaction id: 1079
  operator/api/v1alpha2/constants.go
Due: operator-lint

fix: 修复体验问题
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: 标题栏样式统一
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/index.vue
Due: none

feat: 插件的语言\增强服务等信息放到 Template 中
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/fixtures/template.yaml
  apiserver/paasng/paasng/platform/applications/serializers/cnative.py
  apiserver/paasng/paasng/platform/applications/specs.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paasng/platform/applications/test_specs.py
  apiserver/paasng/tests/paasng/platform/modules/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

builder-stack: enhance README & examples
  builder-stack/README.md
  builder-stack/cloudnative-buildpacks/README.md
  builder-stack/cnb-builder-shim/README.md
  builder-stack/examples/python-flask/Aptfile
  builder-stack/examples/python-flask/Procfile
  builder-stack/examples/python-flask/requirements.txt
  builder-stack/examples/python-flask/server.py
  builder-stack/kaniko-shim/README.md
Due: ruff-check-fix, ruff-format, ruff-check

feat: 添加蓝鲸体系版本依赖文件
  bkpkg-bkpaas-app-operator.yaml
  bkpkg-bkpaas3.yaml
Due: none

enhance:删除镜像凭证时，验证是否被使用
  apiserver/paasng/paas_wl/utils/error_codes.py
  apiserver/paasng/paas_wl/workloads/images/views_enduser.py
  apiserver/paasng/tests/paas_wl/api/test_image_credential.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

enhance:删除镜像凭证时，验证是否被使用 # Reviewed, transaction id: 1108
  apiserver/paasng/tests/paas_wl/api/test_image_credential.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

enhance:删除镜像凭证时，验证是否被使用 # Reviewed, transaction id: 1109
  apiserver/paasng/tests/paas_wl/api/test_image_credential.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：云原生导航样式统一
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
Due: none

Remove wrong docs.
  builder-stack/heroku-buildpacks/bk-buildpack-python/README.md
Due: none

Fix buildpack docs (#1064)
  builder-stack/README.md
  builder-stack/cloudnative-buildpacks/README.md
  builder-stack/cnb-builder-shim/README.md
  builder-stack/examples/python-flask/Aptfile
  builder-stack/examples/python-flask/Procfile
  builder-stack/examples/python-flask/requirements.txt
  builder-stack/examples/python-flask/server.py
  builder-stack/heroku-buildpacks/bk-buildpack-python/README.md
  builder-stack/kaniko-shim/README.md
Due: ruff-check-fix, ruff-format, ruff-check

feat: 添加蓝鲸体系版本依赖文件 (#1061)
  bkpkg-bkpaas-app-operator.yaml
  bkpkg-bkpaas3.yaml
Due: none

enhance:删除镜像凭证时，验证是否被使用 # Reviewed, transaction id: 1160
  apiserver/paasng/tests/paas_wl/api/test_image_credential.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver
