Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run pflake8 --config=pyproject.toml

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./mypy.ini"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

Poloo dev (#106)
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/create-plugin.vue
  webfe/package_vue/src/components/loader/loading/plugin-base-info.vue
  webfe/package_vue/src/components/loader/loading/plugin-process.vue
  webfe/package_vue/src/components/loader/loading/pluin-list.vue
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/plugin.js
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/deploy-env/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/process/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none

Fix: duplicated vue method; failing unit-test in Kind cluster because of the default scheduler
  workloads/paas_wl/paas_wl/resources/base/controllers.py
  workloads/paas_wl/tests/resources/base/test_kres.py
Due: isort, black, flake8, mypy-workloads

Fix: unable to add new custom domains
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/templates.html
  workloads/paas_wl/paas_wl/networking/ingress/domains/independent.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/manager.py
Due: isort, black, flake8, mypy-workloads

Fix add custom domains (#105)
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/templates.html
  workloads/paas_wl/paas_wl/networking/ingress/domains/independent.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/manager.py
  workloads/paas_wl/paas_wl/resources/base/controllers.py
  workloads/paas_wl/tests/resources/base/test_kres.py
Due: isort, black, flake8, mypy-workloads

fix: 部署页面部署样式修复
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

minor: resolve #102 conversations
  operator/api/v1alpha1/bkapp_webhook.go
  operator/api/v1alpha1/constants.go
  operator/api/v1alpha1/domaingroupmapping_webhook.go
  operator/api/v1alpha1/domaingroupmapping_webhook_test.go
  operator/api/v1alpha1/webhook_suite_test.go
  operator/controllers/domaingroupmapping_controller.go
  operator/main.go
Due: operator-lint

fix: 插件中心样式汇总修复，全局样式影响修复
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
Due: none

feat: 修改高度
  webfe/package_vue/src/views/index.vue
Due: none

feat: add domaingroupmapping webhook (#102)
  operator/Makefile
  operator/PROJECT
  operator/api/v1alpha1/bkapp_webhook.go
  operator/api/v1alpha1/bkapp_webhook_test.go
  operator/api/v1alpha1/constants.go
  operator/api/v1alpha1/domaingroupmapping_webhook.go
  operator/api/v1alpha1/domaingroupmapping_webhook_test.go
  operator/api/v1alpha1/webhook_suite_test.go
  operator/config/webhook/manifests.yaml
  operator/controllers/domaingroupmapping_controller.go
  operator/main.go
Due: operator-lint

feat: 插件细节修改
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

feat: 插件细节修改 (#110)
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

feat: 修改空间类型ID
  apiserver/paasng/paasng/accessories/bkmonitorv3/client.py
Due: isort, black, flake8, mypy-apiserver

fix: bug fix
  webfe/package_vue/src/components/paas-header.vue
Due: none

fix: fix bugs (#111)
  webfe/package_vue/src/components/paas-header.vue
Due: none

feat: test
  webfe/package_vue/src/components/paas-header.vue
Due: none

feat: update package.json
  webfe/package_vue/package.json
Due: none

package.json (#113)
  webfe/package_vue/package.json
Due: none

feat: add cnative application manifest ext api
  apiserver/paasng/paasng/cnative/apps.py
  apiserver/paasng/paasng/cnative/constants.py
  apiserver/paasng/paasng/cnative/urls.py
  apiserver/paasng/paasng/cnative/views.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/api/test_cnative.py
  apiserver/paasng/tests/conftest.py
Due: isort, black, flake8, mypy-apiserver

feat: 修改devconfig to proconfig
  webfe/package_vue/package.json
Due: none

feat: 修改devconfig to proconfig (#115)
  webfe/package_vue/package.json
Due: none

fix: 单元测试修复
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: isort, black, flake8, mypy-apiserver

feat: 处理异常
  webfe/package_vue/index.html
Due: none

feat: 处理异常 (#116)
  webfe/package_vue/index.html
Due: none

fix: 单元测试修复
  apiserver/paasng/paasng/platform/applications/views.py
Due: isort, black, flake8, mypy-apiserver

feat: update package
  webfe/package_vue/package.json
Due: none

minor: replace ServicesInfo with mixed_service_mgr
  apiserver/paasng/paasng/cnative/views.py
  apiserver/paasng/tests/api/test_cnative.py
Due: isort, black, flake8, mypy-apiserver

feat: update package (#118)
  webfe/package_vue/package.json
Due: none

minor: force use app_code as bkapp name
  workloads/paas_wl/paas_wl/cnative/specs/models.py
Due: isort, black, flake8, mypy-workloads

feat: add cnative application manifest ext api (#114)
  apiserver/paasng/paasng/cnative/apps.py
  apiserver/paasng/paasng/cnative/constants.py
  apiserver/paasng/paasng/cnative/urls.py
  apiserver/paasng/paasng/cnative/views.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/api/test_cnative.py
  apiserver/paasng/tests/conftest.py
Due: isort, black, flake8, mypy-apiserver

minor: update some admin42 html templates
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/base_info/app_feature_flags.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/base_info/members.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
Due: none

minor: update some admin42 html templates (#119)
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/base_info/app_feature_flags.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/base_info/members.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  workloads/paas_wl/paas_wl/cnative/specs/models.py
Due: isort, black, flake8, mypy-workloads

fix: 修复 云api管理 bug
  webfe/package_vue/package.json
  webfe/package_vue/src/router/plugin.js
Due: none

fix: 修复 云api管理 bug (#121)
  webfe/package_vue/package.json
  webfe/package_vue/src/router/plugin.js
Due: none

add delete_module_related_res on StubControllerClient
  apiserver/paasng/tests/utils/mocks/engine.py
Due: isort, black, flake8, mypy-apiserver

Add delete_module_related_res API; Refactor test fixture;
  workloads/paas_wl/paas_wl/platform/applications/models_utils.py
  workloads/paas_wl/paas_wl/platform/system_api/urls.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/resources/actions/delete.py
  workloads/paas_wl/tests/api/system_api/conftest.py
  workloads/paas_wl/tests/conftest.py
  workloads/paas_wl/tests/platform/applications/test_models_utils.py
  workloads/paas_wl/tests/platform/applications/test_struct_models.py
Due: isort, black, flake8, mypy-workloads

Use updated API `delte_module_related_res` for deleting module; Fix: module deletion protections not working at all.
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/views.py
Due: isort, black, flake8, mypy-apiserver

Fix module/app deletion, delete related custom domains and other resources (#107)
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/tests/utils/mocks/engine.py
  workloads/paas_wl/paas_wl/platform/applications/models_utils.py
  workloads/paas_wl/paas_wl/platform/system_api/urls.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/resources/actions/delete.py
  workloads/paas_wl/tests/api/system_api/conftest.py
  workloads/paas_wl/tests/conftest.py
  workloads/paas_wl/tests/platform/applications/test_models_utils.py
  workloads/paas_wl/tests/platform/applications/test_struct_models.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Remove get custom domains API
  workloads/paas_wl/paas_wl/networking/ingress/urls.py
  workloads/paas_wl/paas_wl/networking/ingress/views.py
Due: isort, black, flake8, mypy-workloads

Remove CustomDomainService, replace with get_addresses
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/display_blocks.py
  apiserver/paasng/paasng/engine/domains/__init__.py
  apiserver/paasng/paasng/engine/models/phases.py
  apiserver/paasng/paasng/platform/modules/protections.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/paasng/publish/market/utils.py
  apiserver/paasng/tests/platform/modules/test_protections.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
  apiserver/paasng/tests/publish/market/test_utils.py
  apiserver/paasng/tests/utils/mocks/domain.py
  apiserver/paasng/tests/utils/mocks/engine.py
Due: isort, black, flake8, mypy-apiserver

Remove get custom domains API and CustomDomainService (#120)
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/display_blocks.py
  apiserver/paasng/paasng/engine/domains/__init__.py
  apiserver/paasng/paasng/engine/models/phases.py
  apiserver/paasng/paasng/platform/modules/protections.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/paasng/publish/market/utils.py
  apiserver/paasng/tests/platform/modules/test_protections.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
  apiserver/paasng/tests/publish/market/test_utils.py
  apiserver/paasng/tests/utils/mocks/domain.py
  apiserver/paasng/tests/utils/mocks/engine.py
  workloads/paas_wl/paas_wl/networking/ingress/urls.py
  workloads/paas_wl/paas_wl/networking/ingress/views.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
