Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 操作审计数据对比，若 data_before/data_after 任一为空，无需请求
  webfe/package_vue/src/views/dev-center/app/operation-record/comps/diff.vue
  webfe/package_vue/src/views/dev-center/app/operation-record/index.vue
Due: none

feat: custom module order when get processes list of cloud native apps
  apiserver/paasng/paas_wl/bk_app/processes/models.py
  apiserver/paasng/paas_wl/bk_app/processes/serializers.py
  apiserver/paasng/paas_wl/bk_app/processes/urls.py
  apiserver/paasng/paas_wl/bk_app/processes/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: test sync replicas logic in ModuleProcessSpecManager.sync_from_desc
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: minor
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: remove BK_COMPONENT_API_URL in generate_env_vars_for_bk_platform
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update kaniko-shim go version to 1.22.8 (#1678)
  kaniko-shim/docker-build/Dockerfile
  kaniko-shim/docker-build/Dockerfile_debug
  kaniko-shim/go.mod
  kaniko-shim/go.sum
Due: none

update：操作审计diff更换主题方案 # Reviewed, transaction id: 21849
  webfe/package_vue/src/views/dev-center/app/operation-record/comps/code-diff.vue
  webfe/package_vue/src/views/dev-center/app/operation-record/comps/diff.vue
  webfe/package_vue/src/views/dev-center/app/operation-record/index.vue
Due: none

feat: update cnb-builder-shim go version to 1.22.8 (#1676)
  cnb-builder-shim/docker-build/heroku-builder/Dockerfile
  cnb-builder-shim/docker-build/heroku-builder/dev.Dockerfile
  cnb-builder-shim/go.mod
  cnb-builder-shim/go.sum
Due: none

fix: 特殊ASCII字符禁止高亮 # Reviewed, transaction id: 21863
  webfe/package_vue/src/views/dev-center/app/operation-record/comps/code-diff.vue
Due: none

feat: 初始化和查询仪表盘时根据应用语言做优化
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/manager.py
  apiserver/paasng/paasng/misc/monitoring/monitor/management/commands/init_dashboards.py
  apiserver/paasng/paasng/misc/monitoring/monitor/migrations/0002_appdashboard.py
  apiserver/paasng/paasng/misc/monitoring/monitor/models.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/paasng/platform/templates/migrations/0006_appdashboardtemplate.py
  apiserver/paasng/paasng/platform/templates/models.py
  apiserver/paasng/tests/api/test_dashboard.py
  apiserver/paasng/tests/paasng/misc/monitoring/test_commands.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 合入 go1.22.8
  cnb-builder-shim/cmd/dev-entrypoint/init.go
Due: none

fix: 合入 go1.22.8
  cnb-builder-shim/cmd/dev-entrypoint/init.go
  cnb-builder-shim/internal/devsandbox/webserver/service/deploy.go
Due: none

refactor: ignore PT001
  apiserver/paasng/tests/api/bkapp_model/test_network_config.py
  pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: improve code in test_network_config.py
  apiserver/paasng/tests/api/bkapp_model/test_network_config.py
  pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: improve code in test_network_config
  apiserver/README.md
  apiserver/paasng/tests/api/bkapp_model/test_network_config.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

doc: add description for api tests
  apiserver/README.md
Due: none

feat: 调整
  apiserver/paasng/paasng/accessories/dev_sandbox/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: improve test code in test_network_config.py and update docs (#1673)
  apiserver/README.md
  apiserver/paasng/tests/api/bkapp_model/test_network_config.py
  pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整
  cnb-builder-shim/cmd/dev-entrypoint/init.go
Due: none

feat: update svc-rabbitmq to python 3.11 & Django 4.2
  svc-rabbitmq/monitor/urls.py
  svc-rabbitmq/poetry.lock
  svc-rabbitmq/pyproject.toml
  svc-rabbitmq/svc_rabbitmq/middleware.py
  svc-rabbitmq/svc_rabbitmq/settings/__init__.py
  svc-rabbitmq/svc_rabbitmq/settings/current.py
  svc-rabbitmq/svc_rabbitmq/urls.py
  svc-rabbitmq/vendor/urls.py
Due: ruff-check-fix, ruff-format, ruff-check

feat: update svc-bkrepo to python 3.11 & Django 4.2
  svc-bkrepo/poetry.lock
  svc-bkrepo/pyproject.toml
  svc-bkrepo/svc_bk_repo/settings/__init__.py
  svc-bkrepo/svc_bk_repo/settings/default.py
  svc-bkrepo/svc_bk_repo/urls.py
  svc-bkrepo/svc_bk_repo/vendor/urls.py
Due: ruff-check-fix, ruff-format, ruff-check

feat: update svc-mysql to python 3.11 & Django 4.2
  svc-mysql/poetry.lock
  svc-mysql/pyproject.toml
  svc-mysql/svc_mysql/settings/__init__.py
  svc-mysql/svc_mysql/settings/default.py
  svc-mysql/svc_mysql/urls.py
  svc-mysql/svc_mysql/vendor/urls.py
Due: ruff-check-fix, ruff-format, ruff-check

feat: update svc-mysql to python 3.11 & Django 4.2
  svc-mysql/svc_mysql/middleware.py
  svc-mysql/svc_mysql/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: incorrectly validation of app code/name when deploying apps using smart-v1 desc
  apiserver/paasng/paasng/platform/declarative/handlers.py
  apiserver/paasng/paasng/platform/declarative/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: add test case test_get_desc_when_creating_with_duplicated_app_name
  apiserver/paasng/tests/paasng/platform/declarative/handlers/test_v1.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update svc-otel to python 3.11 & Django 4.2
  svc-otel/poetry.lock
  svc-otel/pyproject.toml
  svc-otel/svc_otel/settings/__init__.py
  svc-otel/svc_otel/settings/default.py
  svc-otel/svc_otel/urls.py
  svc-otel/svc_otel/vendor/urls.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: remove deprecated default_app_config
  apiserver/paasng/paas_wl/bk_app/applications/__init__.py
  apiserver/paasng/paas_wl/bk_app/deploy/__init__.py
  apiserver/paasng/paas_wl/bk_app/processes/__init__.py
  apiserver/paasng/paas_wl/infras/resources/generation/__init__.py
  apiserver/paasng/paas_wl/workloads/images/__init__.py
  apiserver/paasng/paas_wl/workloads/networking/egress/__init__.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/__init__.py
  apiserver/paasng/paas_wl/workloads/tracing/__init__.py
  apiserver/paasng/paasng/accessories/ci/__init__.py
  apiserver/paasng/paasng/accessories/paas_analysis/__init__.py
  apiserver/paasng/paasng/accessories/publish/market/__init__.py
  apiserver/paasng/paasng/accessories/publish/sync_market/__init__.py
  apiserver/paasng/paasng/accessories/servicehub/__init__.py
  apiserver/paasng/paasng/accessories/services/__init__.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/__init__.py
  apiserver/paasng/paasng/infras/accounts/__init__.py
  apiserver/paasng/paasng/infras/perm_insure/__init__.py
  apiserver/paasng/paasng/misc/audit/__init__.py
  apiserver/paasng/paasng/misc/operations/__init__.py
  apiserver/paasng/paasng/misc/tracing/__init__.py
  apiserver/paasng/paasng/plat_admin/admin42/__init__.py
  apiserver/paasng/paasng/plat_admin/system/__init__.py
  apiserver/paasng/paasng/platform/applications/__init__.py
  apiserver/paasng/paasng/platform/declarative/__init__.py
  apiserver/paasng/paasng/platform/engine/__init__.py
  apiserver/paasng/paasng/platform/mgrlegacy/__init__.py
  apiserver/paasng/paasng/platform/modules/__init__.py
  apiserver/paasng/paasng/platform/scheduler/__init__.py
  apiserver/paasng/paasng/platform/sourcectl/__init__.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: set default=True if apps module has more than one AppConfig subclass
  apiserver/paasng/paasng/accessories/publish/market/apps.py
  apiserver/paasng/paasng/accessories/services/apps.py
  apiserver/paasng/paasng/infras/accounts/apps.py
  apiserver/paasng/paasng/plat_admin/admin42/apps.py
  apiserver/paasng/paasng/plat_admin/system/apps.py
  apiserver/paasng/paasng/platform/engine/apps.py
  apiserver/paasng/paasng/platform/mgrlegacy/apps.py
  apiserver/paasng/paasng/platform/modules/apps.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: use django.urls.path
  apiserver/paasng/paas_wl/workloads/images/urls.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/paasng/utils/addons.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix ：调整
  cnb-builder-shim/cmd/dev-entrypoint/init.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
  cnb-builder-shim/internal/devsandbox/webserver/server_test.go
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld.zip
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/django-helloworld/Procfile
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/django-helloworld/app_desc.yaml
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/django-helloworld/helloworld/views.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/django-helloworld/requirements.txt
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/django-helloworld/setup.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/helloworld/helloworld/__init__.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/helloworld/helloworld/asgi.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/helloworld/helloworld/settings.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/helloworld/helloworld/urls.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/helloworld/helloworld/wsgi.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/helloworld/manage.py
  cnb-builder-shim/pkg/utils/os.go
Due: ruff-check-fix, ruff-format, ruff-check

feat: 调整
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/conf.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/constants.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/controller.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/entities.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/code_editor.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/ingress.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/sandbox.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/code_editor.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/sandbox.py
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0004_auto_20241028_0248.py
  apiserver/paasng/paasng/accessories/dev_sandbox/models.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/paasng/platform/engine/utils/source.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/test_controller.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/test_kres_slzs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: use django.urls.path
  apiserver/paasng/paas_wl/apis/admin/urls.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/open_apis/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update svc-otel Dockerfile
  svc-otel/Dockerfile
Due: none

feat: update svc-rabbitmq Dockerfile
  svc-rabbitmq/Dockerfile
  svc-rabbitmq/svc_rabbitmq/urls.py
  svc-rabbitmq/vendor/urls.py
Due: ruff-check-fix, ruff-format, ruff-check

feat: update svc-rabbitmq monitor.urls
  svc-rabbitmq/monitor/urls.py
Due: ruff-check-fix, ruff-format, ruff-check

feat: update svc-bkrepo Dockerfile
  svc-bkrepo/Dockerfile
  svc-bkrepo/svc_bk_repo/urls.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: update svc-otel Dockerfile
  svc-otel/Dockerfile
Due: none

feat: update svc-mysql Dockerfile
  svc-mysql/Dockerfile
  svc-mysql/svc_mysql/urls.py
Due: ruff-check-fix, ruff-format, ruff-check

feat: update svc-otel to python 3.11 & Django 4.2 (#1689)
  svc-otel/Dockerfile
  svc-otel/poetry.lock
  svc-otel/pyproject.toml
  svc-otel/svc_otel/settings/__init__.py
  svc-otel/svc_otel/settings/default.py
  svc-otel/svc_otel/urls.py
  svc-otel/svc_otel/vendor/urls.py
Due: ruff-check-fix, ruff-format, ruff-check

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
