Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 搜索样式调整，eslint
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/dev-center/search/index.vue
Due: none

minor: 添加新网关接口 search_structured_log_with_post (#1082)
  apiserver/paasng/support-files/apigw/resources.yaml
Due: none

fix: 修复插件开发中心结构化日志查询时，参数传递错误的问题
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
Due: none

fix: 修复插件开发中心结构化日志查询时，参数传递错误的问题 (#1085)
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
Due: none

fix: 基础镜像的应用无法再保存“自定义运行时”，去除前端限制
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
Due: none

refactor: minor
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/dev-entrypoint.sh
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/dev-init/main.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/launch.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/supervisor.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/templates/supervisord.conf.tmpl
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/utils.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/main.go
  builder-stack/cnb-builder-shim/cmd/lifecycle-driver/main.go
  builder-stack/cnb-builder-shim/docker-build/heroku-builder/dev.Dockerfile
  builder-stack/cnb-builder-shim/go.mod
  builder-stack/cnb-builder-shim/go.sum
Due: none

fix unittest
  apiserver/paasng/tests/api/test_modules.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: 删除应用时，回收 IAM 相关的资源
  apiserver/paasng/paasng/platform/applications/cleaner.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor with discussion
  apiserver/paasng/paasng/platform/applications/cleaner.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/tests/utils/mocks/iam.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: 删除应用时，回收 IAM 相关的资源 (#1080)
  apiserver/paasng/paasng/platform/applications/cleaner.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/tests/api/test_modules.py
  apiserver/paasng/tests/utils/mocks/iam.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 开发者中心接入通知中心 (#1084)
  webfe/package_vue/package.json
  webfe/package_vue/src/App.vue
  webfe/package_vue/src/assets/css/pages/overview.scss
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/main.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/dev-center/app/index.vue
  webfe/package_vue/src/views/dev-center/index.vue
  webfe/package_vue/src/views/dev-center/search/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/index.vue
  webfe/package_vue/src/views/services/base.vue
Due: none

fix: 基础镜像的应用无法再保存“自定义运行时”，去除前端限制 (#1086)
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
Due: none

feat:普通应用下架时，回收 service 和 pre-release-hook (#1079)
  apiserver/paasng/paasng/platform/engine/deploy/archive/legacy.py
  apiserver/paasng/paasng/platform/engine/deploy/archive/tasks.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: support spec.build field of manifest for bkpaas-cli deploy api
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: minor
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: support spec.build field of manifest for bkpaas-cli deploy api (#1087)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：添加自定义域名时，填写域名直接提交报错修复
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

fix：添加自定义域名时，填写域名直接提交报错修复 (#1088)
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

fix: 修复云原生应用独立域名无法删改的问题
  apiserver/paasng/paas_wl/workloads/networking/ingress/domains/manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复云原生应用独立域名无法删改的问题 (#1089)
  apiserver/paasng/paas_wl/workloads/networking/ingress/domains/manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat:挂载卷支持 pv
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/mount.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/infras/resources/base/kres.py
  apiserver/paasng/paas_wl/workloads/volume/__init__.py
  apiserver/paasng/paas_wl/workloads/volume/persistent_volume_claim/__init__.py
  apiserver/paasng/paas_wl/workloads/volume/persistent_volume_claim/kres_entities.py
  apiserver/paasng/paas_wl/workloads/volume/persistent_volume_claim/kres_slzs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat:挂载卷支持 pv
  operator/api/v1alpha2/volumes.go
  operator/pkg/controllers/resources/volumes.go
  operator/pkg/controllers/resources/volumes_test.go
Due: operator-lint

feat:使用 mysql 增强服务接口查询实例信息
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: hot launcher by supervisor
  builder-stack/cnb-builder-shim/cmd/build-init/main.go
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/dev-entrypoint.sh
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/dev-init/main.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/hook.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/launch.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/supervisorctl.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/templates/supervisord.conf.tmpl
  builder-stack/cnb-builder-shim/cmd/lifecycle-driver/main.go
  builder-stack/cnb-builder-shim/docker-build/heroku-builder/dev.Dockerfile
Due: none

fix: 修复 buildpack 触发 hooks 的配置有问题
  builder-stack/heroku-buildpacks/bk-buildpack-python/patches/buildpack/bin/compile.patch
Due: none

fix: unittest
  builder-stack/heroku-buildpacks/bk-buildpack-python/Makefile
  builder-stack/heroku-buildpacks/bk-buildpack-python/hooks/post-install
  builder-stack/heroku-buildpacks/bk-buildpack-python/tests/test_post_install.bats
  builder-stack/heroku-buildpacks/bk-buildpack-python/tests/test_pre_install.bats
  builder-stack/heroku-buildpacks/bk-buildpack-python/tests/test_setup_user_compile_hook.bats
Due: none

fix: hooks/* premission and fix unittest
  builder-stack/heroku-buildpacks/bk-buildpack-go/Makefile
  builder-stack/heroku-buildpacks/bk-buildpack-go/hooks/post-compile
  builder-stack/heroku-buildpacks/bk-buildpack-go/hooks/pre-compile
  builder-stack/heroku-buildpacks/bk-buildpack-go/hooks/pre-gobuild
  builder-stack/heroku-buildpacks/bk-buildpack-go/tests/test_post_compile.bats
  builder-stack/heroku-buildpacks/bk-buildpack-go/tests/test_pre_compile.bats
  builder-stack/heroku-buildpacks/bk-buildpack-go/tests/test_pre_gobuild.bats
  builder-stack/heroku-buildpacks/bk-buildpack-go/tests/test_utils.bash
  builder-stack/heroku-buildpacks/bk-buildpack-python/Makefile
Due: none

fix: 修复 buildpack 触发 hooks 的配置有问题 (#1090)
  builder-stack/heroku-buildpacks/bk-buildpack-go/Makefile
  builder-stack/heroku-buildpacks/bk-buildpack-go/hooks/post-compile
  builder-stack/heroku-buildpacks/bk-buildpack-go/hooks/pre-compile
  builder-stack/heroku-buildpacks/bk-buildpack-go/hooks/pre-gobuild
  builder-stack/heroku-buildpacks/bk-buildpack-go/tests/test_post_compile.bats
  builder-stack/heroku-buildpacks/bk-buildpack-go/tests/test_pre_compile.bats
  builder-stack/heroku-buildpacks/bk-buildpack-go/tests/test_pre_gobuild.bats
  builder-stack/heroku-buildpacks/bk-buildpack-go/tests/test_utils.bash
  builder-stack/heroku-buildpacks/bk-buildpack-python/Makefile
  builder-stack/heroku-buildpacks/bk-buildpack-python/hooks/post-install
  builder-stack/heroku-buildpacks/bk-buildpack-python/patches/buildpack/bin/compile.patch
  builder-stack/heroku-buildpacks/bk-buildpack-python/tests/test_post_install.bats
  builder-stack/heroku-buildpacks/bk-buildpack-python/tests/test_pre_install.bats
  builder-stack/heroku-buildpacks/bk-buildpack-python/tests/test_setup_user_compile_hook.bats
Due: none

refactor with discussion
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/volumes.go
  operator/pkg/controllers/resources/volumes_test.go
Due: operator-lint

refactor: 调整实现方案, 修改成用 bkapp 注解实现
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha2/constants.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/pkg/config/config.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/volumes.go
  operator/pkg/controllers/resources/volumes_test.go
Due: operator-lint

minor: 调整注释
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feature: 下发 bkapp 时注入 log-collector-type
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paasng/accessories/log/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/resources/volumes_test.go
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

feature: operator 支持挂载应用日志到宿主机
  operator/api/v1alpha1/projectconfig_types.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/pkg/config/config.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/volumes.go
  operator/pkg/controllers/resources/volumes_test.go
Due: operator-lint

feat: get deploy result
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/dev-entrypoint.sh
  builder-stack/cnb-builder-shim/cmd/devserver/api/deploy.go
  builder-stack/cnb-builder-shim/cmd/devserver/api/service/deploy.go
  builder-stack/cnb-builder-shim/cmd/devserver/api/service/service_suite_test.go
  builder-stack/cnb-builder-shim/cmd/devserver/main.go
  builder-stack/cnb-builder-shim/cmd/devserver/main_test.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/hook.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/launch.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/launch_suite_test.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/supervisorctl.go
  builder-stack/cnb-builder-shim/cmd/lifecycle-driver/lifecycle_driver_suite_test.go
  builder-stack/cnb-builder-shim/docker-build/heroku-builder/supervisord.conf
  builder-stack/cnb-builder-shim/go.mod
  builder-stack/cnb-builder-shim/go.sum
  builder-stack/cnb-builder-shim/pkg/utils/os.go
Due: none

test: add unit test
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/dev-init/main_test.go
  builder-stack/cnb-builder-shim/cmd/devserver/api/deploy.go
  builder-stack/cnb-builder-shim/cmd/devserver/api/service/deploy.go
  builder-stack/cnb-builder-shim/cmd/devserver/api/service/deploy_test.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/hook.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/hook_test.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/launch.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/supervisorctl.go
  builder-stack/cnb-builder-shim/cmd/hot-launcher/launch/supervisorctl_test.go
Due: none

feat:挂载卷支持 pvc
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/mount.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_mounts.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor with discussion
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/resources/volumes.go
  operator/pkg/controllers/resources/volumes_test.go
Due: operator-lint

feature: operator 支持挂载应用日志到宿主机 (#1074)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paasng/accessories/log/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/volumes.go
  operator/pkg/controllers/resources/volumes_test.go
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

test: add unit test
  builder-stack/cnb-builder-shim/cmd/lifecycle-driver/main.go
  builder-stack/cnb-builder-shim/cmd/lifecycle-driver/main_test.go
Due: none

refactor: use env DEV_SERVER_ADDR to set devserver listen addr
  builder-stack/cnb-builder-shim/cmd/devserver/main.go
Due: none

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
