Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix:synchronization probes
  apiserver/paasng/paasng/extensions/declarative/deployment/resources.py
Due: isort, black, flake8, mypy-apiserver

feat: 停止部署
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
Due: none

fix: 添加 API 单测/内置密钥修改为环境变量默认密钥/其他pr修复
  apiserver/paasng/.importlinter
  apiserver/paasng/paasng/accessories/app_secret/__init__.py
  apiserver/paasng/paasng/accessories/app_secret/constants.py
  apiserver/paasng/paasng/accessories/app_secret/serializers.py
  apiserver/paasng/paasng/accessories/app_secret/urls.py
  apiserver/paasng/paasng/accessories/app_secret/utilts.py
  apiserver/paasng/paasng/accessories/app_secret/views.py
  apiserver/paasng/paasng/platform/oauth2/api.py
  apiserver/paasng/paasng/platform/oauth2/migrations/0002_bkappsecretinenvvar.py
  apiserver/paasng/paasng/platform/oauth2/models.py
  apiserver/paasng/paasng/platform/oauth2/utils.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/api/test_app_secret.py
Due: isort, black, flake8, mypy-apiserver

enhance: slug builder 的名称加上 wlapp 相关的后缀 (#676)
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/utils/rate_limit/fixed_window.py
  apiserver/paasng/paasng/utils/rate_limit/token_bucket.py
  apiserver/paasng/tests/engine/deploy/bg_build/test_utils.py
Due: isort, black, flake8, mypy-apiserver

fix:synchronization probes
  apiserver/paasng/paas_wl/workloads/resource_templates/utils.py
  apiserver/paasng/paasng/extensions/declarative/deployment/resources.py
  apiserver/paasng/tests/paas_wl/test_utils/test_main.py
Due: isort, black, flake8, mypy-apiserver

feat: to_curl 函数脱敏
  apiserver/paasng/paasng/accounts/oauth/backends.py
  apiserver/paasng/paasng/dev_resources/cloudapi/components/http.py
  apiserver/paasng/paasng/platform/oauth2/api.py
  apiserver/paasng/paasng/utils/masked_curlify.py
Due: isort, black, flake8, mypy-apiserver

feat: add masked_curlify & unnitest
  apiserver/paasng/paasng/accessories/app_secret/utilts.py
  apiserver/paasng/paasng/utils/masked_curlify.py
  apiserver/paasng/tests/test_utils/test_masked_curlify.py
Due: isort, black, flake8, mypy-apiserver

fix: minor
  apiserver/paasng/tests/test_utils/test_masked_curlify.py
Due: isort, black, flake8, mypy-apiserver

fix: minor
  apiserver/paasng/paasng/platform/oauth2/api.py
Due: isort, black, flake8, mypy-apiserver

feat: 镜像tag list 添加分页
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

feat: 停止部署逻辑
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
Due: none

fix: fix bugs
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix:synchronization probes
  apiserver/paasng/paas_wl/workloads/processes/migrations/0004_processprobe.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
  apiserver/paasng/paasng/extensions/declarative/deployment/validations.py
Due: isort, black, flake8, mypy-apiserver

fix:synchronization probes
  apiserver/paasng/paas_wl/workloads/processes/migrations/0004_processprobe.py
Due: mypy-apiserver

fix:synchronization probes
  apiserver/paasng/paas_wl/workloads/processes/migrations/0004_processprobe.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paas_wl/workloads/resource_templates/utils.py
  apiserver/paasng/tests/extensions/declarative/test_probes.py
  apiserver/paasng/tests/paas_wl/workloads/resource_templates/conftest.py
  apiserver/paasng/tests/paas_wl/workloads/resource_templates/test_process_probe.py
Due: isort, black, flake8, mypy-apiserver

fix:创建模块容器端口空值报错问题修复
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
Due: none

fix:synchronization probes
  apiserver/paasng/paasng/extensions/declarative/deployment/process_probe_handler.py
Due: isort, black, flake8, mypy-apiserver

fix: minor
  apiserver/paasng/paasng/accessories/app_secret/urls.py
  apiserver/paasng/paasng/accessories/app_secret/views.py
  apiserver/paasng/tests/api/test_app_secret.py
Due: isort, black, flake8, mypy-apiserver

fix: 国际化补充
  webfe/package_vue/src/components/paas-module-bar.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/image-credential/create.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: 修复单测中变量命名规范问题
  apiserver/paasng/paasng/utils/masked_curlify.py
  apiserver/paasng/tests/api/test_app_secret.py
  apiserver/paasng/tests/test_utils/test_masked_curlify.py
Due: isort, black, flake8, mypy-apiserver

fix: minor
  apiserver/paasng/paasng/utils/masked_curlify.py
Due: isort, black, flake8, mypy-apiserver

fix: 使用封装好的 to_translated_field 来处理国际化字段
  apiserver/paasng/paasng/plat_admin/admin42/serializers/services.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 Admin42 中国际化引入的增强服务管理问题 (#677)
  apiserver/paasng/paasng/dev_resources/servicehub/remote/collector.py
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/services.py
Due: isort, black, flake8, mypy-apiserver

fix:synchronization probes
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
  apiserver/paasng/paasng/extensions/declarative/deployment/process_probe_handler.py
  apiserver/paasng/paasng/extensions/declarative/deployment/validations.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/extensions/declarative/test_probes.py
Due: isort, black, flake8, mypy-apiserver

feat: add basicConfig compontes
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/app/basic-config/index.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/visit-url/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/index.vue
Due: none

fix:synchronization probes
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
Due: isort, black, flake8, mypy-apiserver

fix:synchronization probes
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
  apiserver/paasng/paasng/extensions/declarative/deployment/process_probe.py
Due: isort, black, flake8, mypy-apiserver

feat:support for probe configuration (#675)
  apiserver/paasng/paas_wl/utils/basic.py
  apiserver/paasng/paas_wl/workloads/processes/constants.py
  apiserver/paasng/paas_wl/workloads/processes/migrations/0004_processprobe.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paas_wl/workloads/processes/serializers.py
  apiserver/paasng/paas_wl/workloads/resource_templates/utils.py
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
  apiserver/paasng/paasng/extensions/declarative/deployment/process_probe.py
  apiserver/paasng/paasng/extensions/declarative/deployment/resources.py
  apiserver/paasng/paasng/extensions/declarative/deployment/validations.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/extensions/declarative/test_probes.py
  apiserver/paasng/tests/paas_wl/test_utils/test_main.py
  apiserver/paasng/tests/paas_wl/workloads/resource_templates/conftest.py
  apiserver/paasng/tests/paas_wl/workloads/resource_templates/test_process_probe.py
Due: isort, black, flake8, mypy-apiserver

feat:support for probe configuration (#675) (#685)
  apiserver/paasng/paas_wl/utils/basic.py
  apiserver/paasng/paas_wl/workloads/processes/constants.py
  apiserver/paasng/paas_wl/workloads/processes/migrations/0004_processprobe.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paas_wl/workloads/processes/serializers.py
  apiserver/paasng/paas_wl/workloads/resource_templates/utils.py
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
  apiserver/paasng/paasng/extensions/declarative/deployment/process_probe.py
  apiserver/paasng/paasng/extensions/declarative/deployment/resources.py
  apiserver/paasng/paasng/extensions/declarative/deployment/validations.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/extensions/declarative/test_probes.py
  apiserver/paasng/tests/paas_wl/test_utils/test_main.py
  apiserver/paasng/tests/paas_wl/workloads/resource_templates/conftest.py
  apiserver/paasng/tests/paas_wl/workloads/resource_templates/test_process_probe.py
Due: isort, black, flake8, mypy-apiserver

feat: 构建日志
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-timeline/index.vue
Due: none

docs:add v1.2.1 changelog
  apiserver/paasng/changelog/en/V1.2.1_2023-09-18.md
  apiserver/paasng/changelog/zh-cn/V1.2.1_2023-09-18.md
Due: none

fix:synchronization probes
  apiserver/paasng/changelog/en/V1.2.1_2023-09-18.md
  apiserver/paasng/changelog/zh-cn/V1.2.1_2023-09-18.md
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
Due: isort, black, flake8, mypy-apiserver

fix:synchronization probes
  apiserver/paasng/changelog/en/V1.2.1_2023-09-18.md
  apiserver/paasng/changelog/zh-cn/V1.2.1_2023-09-18.md
Due: none

docs:add v1.2.1 changelog (#686)
  apiserver/paasng/changelog/en/V1.2.1_2023-09-18.md
  apiserver/paasng/changelog/zh-cn/V1.2.1_2023-09-18.md
Due: none

enhance: 构建步骤支持 dockerbuild
  apiserver/paasng/fixtures/step_meta.yaml
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/engine/phases_steps/steps.py
Due: isort, black, flake8, mypy-apiserver

enhance: 构建步骤支持 image release
  apiserver/paasng/fixtures/step_meta.yaml
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/engine/phases_steps/steps.py
Due: isort, black, flake8, mypy-apiserver

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
