Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run pflake8 --config=pyproject.toml

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./mypy.ini"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 部署状态不正确。统计图的纵坐标按照参数动态确认
  webfe/package_vue/src/json/plugin-overview-options.js
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: 创建插件后跳转概览
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: none

fix: 纵坐标为整数
  webfe/package_vue/src/json/plugin-overview-options.js
Due: none

minor: enable owner leave application on members manage page (#57)
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
Due: none

refactor: remove EnvResourcePlaner type, unify cluster and namespace getting of both default and cloud-native apps (#55)
  workloads/paas_wl/paas_wl/cluster/utils.py
  workloads/paas_wl/paas_wl/cnative/specs/addresses.py
  workloads/paas_wl/paas_wl/cnative/specs/events.py
  workloads/paas_wl/paas_wl/cnative/specs/models.py
  workloads/paas_wl/paas_wl/cnative/specs/procs/replicas.py
  workloads/paas_wl/paas_wl/cnative/specs/resource.py
  workloads/paas_wl/paas_wl/networking/ingress/certs/utils.py
  workloads/paas_wl/paas_wl/platform/applications/models/app.py
  workloads/paas_wl/paas_wl/resources/utils/basic.py
  workloads/paas_wl/tests/cnative/specs/conftest.py
  workloads/paas_wl/tests/cnative/specs/test_models.py
  workloads/paas_wl/tests/cnative/specs/test_resource.py
Due: isort, black, flake8, mypy-workloads

fix(pluginscenter): 插件列表不展示已下架的应用,itsm回调API添加 csrf 豁免
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

docs: 添加单独设置csrf豁免的说明文档
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/tests/pluginscenter/test_api.py
Due: isort, black, flake8, mypy-apiserver

feat: 操作记录按时间倒序
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

fix(pluginscenter): 插件列表不展示已下架的应用,itsm回调API添加 csrf 豁免 (#59)
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/tests/pluginscenter/test_api.py
Due: isort, black, flake8, mypy-apiserver

minor: enable owner leave application
  apiserver/paasng/paasng/platform/applications/views.py
Due: isort, black, flake8, mypy-apiserver

test: fix unittest
  apiserver/paasng/tests/api/test_applications.py
Due: isort, black, flake8, mypy-apiserver

minor: enable owner leave application (#60)
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/api/test_applications.py
Due: isort, black, flake8, mypy-apiserver

fix: 版本日志。中英文切换
  webfe/package_vue/src/components/log-version.vue
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/store/index.js
Due: none

minor: merge urlRouter tmpl
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
Due: none

feat: enable edit engine app cluster in admin42 (#54)
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/engine.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/base_info/members.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  workloads/paas_wl/paas_wl/admin/serializers/clusters.py
  workloads/paas_wl/paas_wl/cluster/migrations/0006_cluster_type.py
  workloads/paas_wl/paas_wl/cluster/models.py
  workloads/paas_wl/paas_wl/cluster/serializers.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

feat: enable edit cluster type in admin42
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/clusters.py
  workloads/paas_wl/paas_wl/admin/serializers/clusters.py
  workloads/paas_wl/paas_wl/cluster/models.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

feature: 支持使用 private token 部署应用
  apiserver/paasng/paasng/accounts/migrations/0003_privatetokenholder.py
  apiserver/paasng/paasng/accounts/models.py
  apiserver/paasng/paasng/dev_resources/sourcectl/repo_controller.py
  apiserver/paasng/paasng/extensions/bk_plugins/migrations/0005_auto_20221202_1627.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/extensions/bk_plugins/utils.py
  workloads/paas_wl/paas_wl/resources/actions/deploy.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

feature: 支持使用 private token 部署应用 & 插件开发者中心部署插件时使用内建用户进行部署 (#61)
  apiserver/paasng/paasng/accounts/migrations/0003_privatetokenholder.py
  apiserver/paasng/paasng/accounts/models.py
  apiserver/paasng/paasng/dev_resources/sourcectl/repo_controller.py
  apiserver/paasng/paasng/extensions/bk_plugins/migrations/0005_auto_20221202_1627.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/extensions/bk_plugins/utils.py
  workloads/paas_wl/paas_wl/resources/actions/deploy.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

fix: 插件开发体验修复
  webfe/package_vue/src/App.vue
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/plugin-new-version.vue
  webfe/package_vue/src/components/paas-plugin-nav.vue
  webfe/package_vue/src/components/plugin-quick-nav.vue
  webfe/package_vue/src/router/plugin.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/deploy-env/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-timeline.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

feat(pluginscenter): 查询条件支持多选,字段规则添加最大长度字段
  apiserver/paasng/paasng/pluginscenter/definitions.py
  apiserver/paasng/paasng/pluginscenter/filters.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/tests/pluginscenter/conftest.py
Due: isort, black, flake8, mypy-apiserver

minor: register_cluster set type as optional argument
  workloads/paas_wl/paas_wl/cluster/models.py
Due: isort, black, flake8, mypy-workloads

feat: 补充单元测试
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/tests/pluginscenter/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

fix: 有正在发布的版本，则新建版本按钮不可点击。终止发布需要二次确认。
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

feat: enable edit cluster type in admin42 (#62)
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/clusters.py
  workloads/paas_wl/paas_wl/admin/serializers/clusters.py
  workloads/paas_wl/paas_wl/cluster/models.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

fix: 部署页面footer自适应
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

feat(pluginscenter): 查询条件支持多选,字段规则添加最大长度字段 (#63)
  apiserver/paasng/paasng/pluginscenter/definitions.py
  apiserver/paasng/paasng/pluginscenter/filters.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/tests/pluginscenter/conftest.py
  apiserver/paasng/tests/pluginscenter/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

fix: 插件模块语言去重
  apiserver/paasng/paasng/pluginscenter/models/definitions.py
  apiserver/paasng/tests/pluginscenter/conftest.py
  apiserver/paasng/tests/pluginscenter/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

feat: 根据配置来决定应用列表中是否展示插件应用
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

feat: 根据配置来决定应用列表中是否展示插件应用 (#66)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/pluginscenter/models/definitions.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/pluginscenter/conftest.py
  apiserver/paasng/tests/pluginscenter/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

feat: support gen cluster region state in admin42
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/views/accountmgr.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  workloads/paas_wl/paas_wl/admin/serializers/clusters.py
  workloads/paas_wl/paas_wl/admin/urls.py
  workloads/paas_wl/paas_wl/admin/views/clusters.py
  workloads/paas_wl/paas_wl/networking/egress/models.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

feature: 插件开发者中心实现功能特性开关; feature: 添加插件成员到源码仓库; enhance: 修复若干问题
  apiserver/paasng/paasng/extensions/bk_plugins/api_serializers.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/pluginscenter/definitions.py
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/features.py
  apiserver/paasng/paasng/pluginscenter/handlers.py
  apiserver/paasng/paasng/pluginscenter/migrations/0009_auto_20221205_1514.py
  apiserver/paasng/paasng/pluginscenter/models/definitions.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/releases/executor.py
  apiserver/paasng/paasng/pluginscenter/shim.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/__init__.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/base.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

feature: 插件开发者中心实现功能特性开关; feature: 添加插件成员到源码仓库; enhance: 修复若干问题 (#65)
  apiserver/paasng/paasng/extensions/bk_plugins/api_serializers.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/pluginscenter/definitions.py
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/features.py
  apiserver/paasng/paasng/pluginscenter/handlers.py
  apiserver/paasng/paasng/pluginscenter/migrations/0009_auto_20221205_1514.py
  apiserver/paasng/paasng/pluginscenter/models/definitions.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/releases/executor.py
  apiserver/paasng/paasng/pluginscenter/shim.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/__init__.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/base.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

Update kube_client.py
  workloads/paas_wl/paas_wl/resources/base/kube_client.py
Due: isort, black, flake8, mypy-workloads

Downgrade "kubernetes" SDK to 24; Remove abnormal processes related code; Migrate code which is using solid k8s type to dynamic client.
  apiserver/paasng/paasng/engine/controller/client.py
  workloads/paas_wl/paas_wl/platform/applications/management/commands/clean_timeout_pod.py
  workloads/paas_wl/paas_wl/platform/system_api/urls.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/resources/base/client.py
  workloads/paas_wl/paas_wl/resources/base/controllers.py
  workloads/paas_wl/paas_wl/resources/base/kres.py
  workloads/paas_wl/tests/conftest.py
  workloads/paas_wl/tests/monitoring/app_monitor/test_managers.py
  workloads/paas_wl/tests/resources/base/test_client.py
  workloads/poetry.lock
  workloads/pyproject.toml
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Update kubernetes SDK to latest version 25.x; Enhance few tests
  workloads/paas_wl/tests/workloads/processes/test_managers.py
  workloads/poetry.lock
  workloads/pyproject.toml
Due: isort, black, flake8, mypy-workloads

Update kubernetes SDK to latest version 24.x; Enhance few tests (#56)
  apiserver/paasng/paasng/engine/controller/client.py
  workloads/paas_wl/paas_wl/platform/applications/management/commands/clean_timeout_pod.py
  workloads/paas_wl/paas_wl/platform/system_api/urls.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/resources/base/client.py
  workloads/paas_wl/paas_wl/resources/base/controllers.py
  workloads/paas_wl/paas_wl/resources/base/kres.py
  workloads/paas_wl/paas_wl/resources/base/kube_client.py
  workloads/paas_wl/tests/conftest.py
  workloads/paas_wl/tests/monitoring/app_monitor/test_managers.py
  workloads/paas_wl/tests/resources/base/test_client.py
  workloads/paas_wl/tests/workloads/processes/test_managers.py
  workloads/poetry.lock
  workloads/pyproject.toml
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
