Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 未发布/为完善信息 访问地址编辑禁用，访问地址对齐
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
Due: none

fix: 新建自定义IP编辑取消问题修复
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

fix: 【全量测试 】应用开发-概览点击最近三天或者七天报错修复
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
  webfe/package_vue/src/views/dev-center/app/summary/overview.scss
Due: none

Fix bug 1.2 (#647)
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
  webfe/package_vue/src/views/dev-center/app/summary/overview.scss
Due: none

feat: 完善仅镜像模块创建
  webfe/package_vue/src/assets/css/components/other.scss
  webfe/package_vue/src/store/modules/module.js
  webfe/package_vue/src/views/dev-center/app/create-module/index.scss
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
Due: none

feat: 添加仅镜像编辑页面
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
Due: none

feat: 添加取消逻辑
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
Due: none

feat: 调整创建模块
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: 修改镜像管理
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
Due: none

feat: 添加创建模块页面
  webfe/package_vue/src/components/paas-module-bar.vue
Due: none

fix: 修复云原生应用从源码构建遇到的若干问题
  apiserver/paasng/paasng/engine/deploy/building.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 NewQuantity 校验不通过时会返回空指针的问题
  operator/pkg/utils/quota/quantity.go
  operator/pkg/utils/quota/quantity_test.go
Due: operator-lint

fix: 修复 NewQuantity 校验不通过时会返回空指针的问题 (#648)
  apiserver/paasng/paasng/engine/deploy/building.py
  operator/pkg/utils/quota/quantity.go
  operator/pkg/utils/quota/quantity_test.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

fix: validate legacyProcResConfig in webhook
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
Due: operator-lint

fix: validate legacyProcResConfig in webhook (#650)
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
Due: operator-lint

feat: 添加删除模块功能
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/paas-module-bar.vue
Due: none

enhance: NewQuantity 在超过最大值时返回最大值
  operator/pkg/utils/quota/quantity.go
  operator/pkg/utils/quota/quantity_test.go
Due: operator-lint

enhance: NewQuantity 在超过最大值时返回最大值 (#649)
  operator/pkg/utils/quota/quantity.go
  operator/pkg/utils/quota/quantity_test.go
Due: operator-lint

feat: 默认模块不能删除
  webfe/package_vue/src/components/paas-module-bar.vue
Due: none

feat: add cloud page
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.scss
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

fix: update svc pod selector generate rule
  operator/pkg/controllers/resources/services.go
  operator/pkg/controllers/resources/services_test.go
Due: operator-lint

fix: update svc pod selector generate rule (#651)
  operator/pkg/controllers/resources/services.go
  operator/pkg/controllers/resources/services_test.go
Due: operator-lint

enhance: 支持通过 labels 过滤云原生应用的运行时镜像
  apiserver/init.sh
  apiserver/paasng/paasng/platform/modules/constants.py
  apiserver/paasng/paasng/platform/modules/helpers.py
Due: isort, black, flake8, mypy-apiserver

feat: 创建应用
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.scss
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

feat: 完善创建应用
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: 添加创建应用api
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

feat: add repoData data
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

add labels to default image
  apiserver/init.sh
Due: none

enhance: 支持通过 labels 过滤云原生应用的运行时镜像 (#653)
  apiserver/init.sh
  apiserver/paasng/paasng/platform/modules/constants.py
  apiserver/paasng/paasng/platform/modules/helpers.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/tests/platform/modules/test_manager.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/dev_resources/templates/manager.py
  apiserver/paasng/paasng/dev_resources/templates/serializers.py
  apiserver/paasng/paasng/dev_resources/templates/views.py
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/models/runtime.py
  apiserver/paasng/paasng/platform/modules/specs.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_modules.py
  apiserver/paasng/tests/api/test_template.py
  apiserver/paasng/tests/paas_wl/resources/base/test_kres.py
  apiserver/paasng/tests/platform/modules/test_models.py
Due: isort, black, flake8, mypy-apiserver

refactor: 简化创建云原生应用/模块接口的参数; feature: 增加获取模板构建信息的 API
  apiserver/paasng/paasng/dev_resources/templates/manager.py
  apiserver/paasng/paasng/dev_resources/templates/serializers.py
  apiserver/paasng/paasng/dev_resources/templates/urls.py
  apiserver/paasng/paasng/dev_resources/templates/views.py
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/applications/specs.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/modules/constants.py
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/models/deploy_config.py
  apiserver/paasng/paasng/platform/modules/models/runtime.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/modules/specs.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/conftest.py
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_market_config.py
  apiserver/paasng/tests/api/test_modules.py
  apiserver/paasng/tests/api/test_template.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/platform/modules/test_manager.py
  apiserver/paasng/tests/platform/modules/test_models.py
  apiserver/paasng/tests/utils/helpers.py
Due: isort, black, flake8, mypy-apiserver

fix apidocs
  apiserver/paasng/paasng/plat_admin/admin42/views/templates.py
  apiserver/paasng/paasng/plat_admin/api_doc/views.py
Due: isort, black, flake8, mypy-apiserver

enhance: 创建云原生模块时支持创建镜像凭证
  apiserver/paasng/paas_wl/workloads/images/serializers.py
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/modules/views.py
Due: isort, black, flake8, mypy-apiserver

enhance: 增加校验应用模型名称的逻辑
  apiserver/paasng/paas_wl/cnative/specs/models/app_resource.py
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_modules.py
Due: isort, black, flake8, mypy-apiserver

feat: 完成创建模块功能
  webfe/package_vue/src/components/ui/git-extend.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.scss
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat: add loading
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

feat: 创建模块=镜像凭证
  webfe/package_vue/src/components/ui/repo-info.vue
  webfe/package_vue/src/views/dev-center/app/create-module/index.scss
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

refactor with discussion
  apiserver/paasng/paas_wl/cnative/specs/models/app_resource.py
  apiserver/paasng/paasng/dev_resources/templates/manager.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/templates.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/templates.html
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/models/runtime.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/modules/specs.py
  apiserver/paasng/tests/api/test_templates.py
Due: isort, black, flake8, mypy-apiserver

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
