Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: add last '/' to url end
  apiserver/paasng/paasng/platform/applications/urls.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add regrant_user_group_policies command
  apiserver/paasng/paasng/infras/iam/apigw/client.py
  apiserver/paasng/paasng/infras/iam/client.py
  apiserver/paasng/paasng/infras/iam/members/management/commands/regrant_user_group_policies.py
  apiserver/paasng/paasng/infras/iam/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add regrant_user_group_policies command (#1635)
  apiserver/paasng/paasng/infras/iam/apigw/client.py
  apiserver/paasng/paasng/infras/iam/client.py
  apiserver/paasng/paasng/infras/iam/members/management/commands/regrant_user_group_policies.py
  apiserver/paasng/paasng/infras/iam/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add regrant_user_group_policies command (#1634)
  apiserver/paasng/paasng/infras/iam/apigw/client.py
  apiserver/paasng/paasng/infras/iam/client.py
  apiserver/paasng/paasng/infras/iam/members/management/commands/regrant_user_group_policies.py
  apiserver/paasng/paasng/infras/iam/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: count use SerializerMethodField
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/tests/api/test_monitor.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: slow query count
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: result app evaluation report order use -id
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: slz返回错误修改
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: add unittest
  apiserver/paasng/tests/api/test_modules.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复切换主模块后地址显示问题
  apiserver/paasng/paasng/accessories/publish/market/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update unittest
  apiserver/paasng/tests/api/test_modules.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复切换主模块后市场地址显示问题 (#1609)
  apiserver/paasng/paasng/accessories/publish/market/serializers.py
  apiserver/paasng/tests/api/test_modules.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: slz method里用get取数，并给默认值
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: add query slz, query by issue type, and ordering
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: make bk_biz_id as str
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: optimize response slz structure
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixed style and validation
  apiserver/paasng/paasng/plat_admin/admin42/serializers/runtimes.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/buildpacks.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/slugbuilders.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/slugrunners.html
  apiserver/paasng/paasng/plat_admin/admin42/views/runtimes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixed
  apiserver/paasng/paasng/plat_admin/admin42/serializers/runtimes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update bkpaas-app-operator to go 1.22.8
  operator/Makefile
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/config/crd/bases/paas.bk.tencent.com_domaingroupmappings.yaml
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/config/rbac/role.yaml
  operator/config/webhook/manifests.yaml
  operator/go.mod
  operator/go.sum
  operator/pkg/controllers/bkapp/hooks/hooks.go
Due: operator-lint

feat: update bkpaas-app-operator Dockerfile
  operator/Dockerfile
  operator/Dockerfile-Dev
Due: operator-lint

feat: update celery from 4.4.7 to 5.4.0
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paasng/test_utils/es_log/test_time_range.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 注释修改
  apiserver/paasng/paasng/platform/applications/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: type error when call DeploymentQuerySet.owned_by_module with environment
  apiserver/paasng/paasng/platform/engine/models/deployment.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: type error when call DeploymentQuerySet.owned_by_module with env (#1639)
  apiserver/paasng/paasng/platform/engine/models/deployment.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update bkpaas-cli go version
  bkpaas-cli/go.mod
  bkpaas-cli/go.sum
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/apiresources/apigw_mock.go
  bkpaas-cli/pkg/apiresources/types.go
  bkpaas-cli/pkg/handler/deploy.go
Due: none

feat: 云 API 权限：创建新令牌提供使用指引 (#1628)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: Codecc 插件下架插件无法操作 (#1629)
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
Due: none

fix: unit test and code styles
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: support export deploy log in legacy app
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-history.vue
Due: none

feat: 插件审批的标题中用插件名称而不是 ID
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 灰度发布组织信息未变更是不需要上级审批
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: minor
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update celery from 4.4.7 to 5.4.0 (#1638)
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paasng/test_utils/es_log/test_time_range.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: is_release_strategy_organization_changed 不妨到 property 中
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update bkpaas-cli go version to 1.22.8 (#1640)
  bkpaas-cli/go.mod
  bkpaas-cli/go.sum
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/apiresources/apigw_mock.go
  bkpaas-cli/pkg/apiresources/types.go
  bkpaas-cli/pkg/handler/deploy.go
Due: none

feat: support export deployment log in legacy app (#1641)
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-history.vue
Due: none

feat: 灰度发布组织信息未变更是不需要上级审批 (#1642)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 admin42 buildpack/slugbuilder/slugrunner 页面体验问题 (#1636)
  apiserver/paasng/paasng/plat_admin/admin42/serializers/runtimes.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/buildpacks.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/slugbuilders.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/runtimes/slugrunners.html
  apiserver/paasng/paasng/plat_admin/admin42/views/runtimes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: use app count not report count as total app count, unit test optimize
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
