Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

feat: modify text
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

fix: add autoscaling
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix: 部署管理、访问管理页面切图替换，域名解析文案替换
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/static/images/deployed_en.png
  webfe/package_vue/static/images/deployed_zh.png
  webfe/package_vue/static/images/main_en.png
Due: none

fix: 进程配置自动扩容FeatureFlag获取时机更改
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

Fix dev wmh (#730)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/static/images/deployed_en.png
  webfe/package_vue/static/images/deployed_zh.png
  webfe/package_vue/static/images/main_en.png
Due: none

minor: 云原生应用的 ProcessSpec 添加 autoscaling 字段
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/replicas.py
  apiserver/paasng/paas_wl/bk_app/processes/drf_serializers.py
  apiserver/paasng/paas_wl/bk_app/processes/shim.py
Due: isort, black, flake8, mypy-apiserver

fix: fix auto bugs
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

minor: 云原生应用的 ProcessSpec 添加 autoscaling 字段 (#729)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/replicas.py
  apiserver/paasng/paas_wl/bk_app/processes/drf_serializers.py
  apiserver/paasng/paas_wl/bk_app/processes/shim.py
Due: isort, black, flake8, mypy-apiserver

Add migration script for the spec_cls attr of SourceTypeSpecConfig
  apiserver/paasng/paasng/platform/sourcectl/migrations/0011_mig_spec_cls.py
Due: mypy-apiserver

Fix: add migration script for the spec_cls attr of SourceTypeSpecConfig (#726)
  apiserver/paasng/paasng/platform/sourcectl/migrations/0011_mig_spec_cls.py
Due: mypy-apiserver

fix: 云原生高级选项位置调整
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: 代码分支获取报错时，需要将报错信息展示出来
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

Fix dev wmh (#732)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: 进程配置编辑态下，镜像仓库添加编辑入口
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
Due: none

feat: 镜像管理->镜像列表、构建历史功能开发
  webfe/package_vue/src/components/deploy/deploy-log-sideslider.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/components/ui/table-empty.vue
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/image-manage.js
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/build-history.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/image-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 注释row.autoscaling
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

fix: select add allow-create (#728)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

feat: 调整文案
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: 修复创建云原生应用正则错误 (#717)
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: Release 脏数据导致的进程查询失败问题
  apiserver/paasng/paas_wl/bk_app/processes/controllers.py
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_controllers.py
  apiserver/paasng/tests/paas_wl/conftest.py
Due: isort, black, flake8, mypy-apiserver

fix: 注释补充
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
Due: none

refactor: cleaning up invalid modules in import-linter
  apiserver/paasng/.importlinter
  apiserver/paasng/paasng/accessories/publish/sync_market/constant.py
  apiserver/paasng/paasng/accessories/publish/sync_market/models.py
  apiserver/paasng/paasng/anti_contracts/__init__.py
  apiserver/paasng/paasng/anti_contracts/accessories/__init__.py
  apiserver/paasng/paasng/anti_contracts/accessories/publish/__init__.py
  apiserver/paasng/paasng/anti_contracts/accessories/publish/sync_market/__init__.py
  apiserver/paasng/paasng/anti_contracts/accessories/publish/sync_market/constants.py
  apiserver/paasng/paasng/anti_contracts/accessories/publish/sync_market/models.py
  apiserver/paasng/paasng/anti_contracts/platform/__init__.py
  apiserver/paasng/paasng/anti_contracts/platform/mgrlegacy/__init__.py
  apiserver/paasng/paasng/anti_contracts/platform/mgrlegacy/constants.py
  apiserver/paasng/paasng/anti_contracts/platform/mgrlegacy/signals.py
  apiserver/paasng/paasng/plat_admin/system/applications.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/paasng/platform/applications/operations.py
  apiserver/paasng/paasng/platform/mgrlegacy/constants.py
  apiserver/paasng/tests/paasng/plat_admin/test_system.py
Due: isort, black, flake8, mypy-apiserver

fix: 进程配置编辑态下，镜像仓库添加编辑入口 (#733)
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
Due: none

fix:分支拉取超时时间，分支名正则 (#724)
  apiserver/paasng/paasng/platform/sourcectl/git/client.py
  apiserver/paasng/tests/paasng/platform/sourcectl/git/test_git_client.py
Due: isort, black, flake8, mypy-apiserver

fix: Release 脏数据导致的进程查询失败问题 (#735)
  apiserver/paasng/paas_wl/bk_app/processes/controllers.py
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_controllers.py
  apiserver/paasng/tests/paas_wl/conftest.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复云原生应用获取不到已部署的 BKPAAS_APP_SECRET 问题
  apiserver/paasng/paasng/accessories/app_secret/utilts.py
Due: isort, black, flake8, mypy-apiserver

fix: 改进 volume mount_path 正则
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix: 改进 volume mount_path 正则
  operator/api/v1alpha2/constants.go
Due: operator-lint

Add API: Get bk_app model manifest.
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/entities.py
  apiserver/paasng/paasng/platform/cnative/bkapp_model/__init__.py
  apiserver/paasng/paasng/platform/cnative/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/cnative/exceptions.py
  apiserver/paasng/paasng/platform/cnative/services.py
  apiserver/paasng/paasng/platform/cnative/views.py
  apiserver/paasng/tests/paasng/platform/cnative/bkapp_model/__init__.py
  apiserver/paasng/tests/paasng/platform/cnative/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

Fix review issues
  apiserver/paasng/paasng/platform/cnative/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/cnative/exceptions.py
  apiserver/paasng/paasng/platform/cnative/serializers.py
  apiserver/paasng/paasng/platform/cnative/views.py
  apiserver/paasng/tests/paasng/platform/cnative/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

fix: 创建模块使用FeatureFlag属性错误
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: 创建模块镜像凭证添加tips
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
Due: none

fix: 创建模块使用FeatureFlag属性错误 (#740)
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: 改进 volume mount_path 正则
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: isort, black, flake8, mypy-apiserver

feat: 添加批量解绑增强服务的脚本
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/management/commands/batch_unbind_svc.py
  apiserver/paasng/paasng/accessories/servicehub/manager.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
Due: isort, black, flake8, mypy-apiserver

feat: 添加批量解绑增强服务的脚本(原mr冲突太多新建了一个) (#741)
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/management/commands/batch_unbind_svc.py
  apiserver/paasng/paasng/accessories/servicehub/manager.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
Due: isort, black, flake8, mypy-apiserver
