Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

refactor: set allow_blank=True for value field in BaseEnvVarFields
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: set allow_blank=True for value field in BaseEnvVarFields (#1781)
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: use slz to validate
  apiserver/paasng/paasng/misc/tools/serializers.py
  apiserver/paasng/paasng/misc/tools/views.py
  apiserver/paasng/tests/api/test_tools.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: return 400, when yaml.dump exception
  apiserver/dev-init.sh
  apiserver/paasng/paasng/misc/tools/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: rm useless file
  apiserver/dev-init.sh
Due: none

fix: fix
  apiserver/paasng/paasng/misc/tools/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fix
  apiserver/paasng/paasng/misc/tools/app_desc.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: rm duplicate validation
  apiserver/paasng/paasng/misc/tools/app_desc.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: remove unnecessary region in egress and paas_analysis
  apiserver/paasng/paas_wl/apis/admin/serializers/clusters.py
  apiserver/paasng/paas_wl/apis/admin/views/clusters.py
  apiserver/paasng/paas_wl/workloads/networking/egress/cluster_state.py
  apiserver/paasng/paas_wl/workloads/networking/egress/management/commands/create_rc_state_binding.py
  apiserver/paasng/paas_wl/workloads/networking/egress/management/commands/region_gen_state.py
  apiserver/paasng/paas_wl/workloads/networking/egress/migrations/0004_alter_regionclusterstate_unique_together_and_more.py
  apiserver/paasng/paas_wl/workloads/networking/egress/models.py
  apiserver/paasng/paas_wl/workloads/networking/egress/views.py
  apiserver/paasng/paasng/accessories/paas_analysis/clients.py
  apiserver/paasng/paasng/accessories/paas_analysis/entities.py
  apiserver/paasng/paasng/accessories/paas_analysis/services.py
  apiserver/paasng/paasng/platform/mgrlegacy/views.py
  apiserver/paasng/tests/api/test_cnative_migration.py
  apiserver/paasng/tests/paas_wl/infras/resources/utils/test_basic.py
  apiserver/paasng/tests/paas_wl/workloads/networking/egress/test_region.py
  apiserver/paasng/tests/paasng/accessories/paas_analysis/conftest.py
  apiserver/paasng/tests/paasng/accessories/paas_analysis/test_client.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: remove unnecessary region in egress and paas_analysis
  apiserver/paasng/tests/paasng/accessories/paas_analysis/test_client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: dev sandbox wl_app name must endswith -dev
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: dev sandbox wl_app name must endswith -dev (#1783)
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: validate probes.readiness.http_get.http_headers
  apiserver/paasng/paasng/misc/tools/serializers.py
  apiserver/paasng/tests/api/test_tools.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: quote error in unit test
  apiserver/paasng/tests/api/test_tools.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove "region" parameter in the paths of admin/urls.py
  apiserver/paasng/paas_wl/apis/admin/urls.py
  apiserver/paasng/paas_wl/apis/admin/views/processes.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/processes.html
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: raise_exception=True when use slz validation
  apiserver/paasng/paasng/misc/tools/views.py
  apiserver/paasng/tests/api/test_tools.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: serialzisers
  apiserver/paasng/paasng/misc/tools/serializers.py
  apiserver/paasng/paasng/misc/tools/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: alter the unique index on App model, remove region and use name only
  apiserver/paasng/paas_wl/bk_app/applications/api.py
  apiserver/paasng/paas_wl/bk_app/applications/migrations/0018_alter_app_name.py
  apiserver/paasng/paas_wl/bk_app/applications/migrations/0019_alter_app_unique_together.py
  apiserver/paasng/paas_wl/bk_app/applications/models/app.py
  apiserver/paasng/paasng/platform/engine/models/base.py
  apiserver/paasng/paasng/platform/mgrlegacy/cnative_migrations/wl_app.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 应用描述文件 # Reviewed, transaction id: 26082
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/var.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-description-file.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
Due: none

fix: 保留 sync_oauth 函数的定义,TE 版本应用迁移的单测需要该函数
  apiserver/paasng/paasng/infras/legacydb/adaptors.py
  apiserver/paasng/paasng/platform/mgrlegacy/management/commands/make_legacy_app_for_test.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unitest
  apiserver/paasng/paasng/platform/mgrlegacy/management/commands/make_legacy_app_for_test.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: 删除接入 bkAuth 后的冗余代码 (#1771)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/accessories/publish/sync_market/handlers.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/apigw.py
  apiserver/paasng/paasng/infras/accounts/utils.py
  apiserver/paasng/paasng/infras/legacydb/adaptors.py
  apiserver/paasng/paasng/infras/oauth2/models.py
  apiserver/paasng/paasng/infras/oauth2/utils.py
  apiserver/paasng/paasng/platform/applications/management/commands/create_3rd_party_apps.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/basic.py
  apiserver/paasng/paasng/platform/mgrlegacy/management/commands/make_legacy_app_for_test.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/scene_app/initializer.py
  apiserver/paasng/paasng/platform/sourcectl/connector.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/api/test_app_secret.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paasng/platform/modules/test_manager.py
  apiserver/paasng/tests/utils/helpers.py
  apiserver/paasng/tests/utils/mocks/bkauth.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: add license
  apiserver/paasng/paas_wl/workloads/networking/egress/migrations/0004_alter_regionclusterstate_unique_together_and_more.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: remove unnecessary region in egress and paas_analysis (#1782)
  apiserver/paasng/paas_wl/apis/admin/serializers/clusters.py
  apiserver/paasng/paas_wl/apis/admin/views/clusters.py
  apiserver/paasng/paas_wl/workloads/networking/egress/cluster_state.py
  apiserver/paasng/paas_wl/workloads/networking/egress/management/commands/create_rc_state_binding.py
  apiserver/paasng/paas_wl/workloads/networking/egress/management/commands/region_gen_state.py
  apiserver/paasng/paas_wl/workloads/networking/egress/migrations/0004_alter_regionclusterstate_unique_together_and_more.py
  apiserver/paasng/paas_wl/workloads/networking/egress/models.py
  apiserver/paasng/paas_wl/workloads/networking/egress/views.py
  apiserver/paasng/paasng/accessories/paas_analysis/clients.py
  apiserver/paasng/paasng/accessories/paas_analysis/services.py
  apiserver/paasng/paasng/platform/mgrlegacy/views.py
  apiserver/paasng/tests/api/test_cnative_migration.py
  apiserver/paasng/tests/paas_wl/infras/resources/utils/test_basic.py
  apiserver/paasng/tests/paas_wl/workloads/networking/egress/test_region.py
  apiserver/paasng/tests/paasng/accessories/paas_analysis/conftest.py
  apiserver/paasng/tests/paasng/accessories/paas_analysis/test_client.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: devsandbox add diffs api
  cnb-builder-shim/Makefile
  cnb-builder-shim/go.mod
  cnb-builder-shim/go.sum
  cnb-builder-shim/internal/devsandbox/config/loader.go
  cnb-builder-shim/internal/devsandbox/config/types.go
  cnb-builder-shim/internal/devsandbox/filediffer/filediffer.go
  cnb-builder-shim/internal/devsandbox/filediffer/filediffer_suite_test.go
  cnb-builder-shim/internal/devsandbox/filediffer/filediffer_test.go
  cnb-builder-shim/internal/devsandbox/filediffer/types.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

fix: FileDiffer add WithContent option
  cnb-builder-shim/cmd/dev-entrypoint/init.go
  cnb-builder-shim/internal/devsandbox/filediffer/filediffer.go
  cnb-builder-shim/internal/devsandbox/filediffer/filediffer_test.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

refactor: update WlApp model to don't use region as unique key & remove "region" parameter in some URL paths (#1784)
  apiserver/paasng/paas_wl/apis/admin/urls.py
  apiserver/paasng/paas_wl/apis/admin/views/processes.py
  apiserver/paasng/paas_wl/bk_app/applications/api.py
  apiserver/paasng/paas_wl/bk_app/applications/migrations/0018_alter_app_name.py
  apiserver/paasng/paas_wl/bk_app/applications/migrations/0019_alter_app_unique_together.py
  apiserver/paasng/paas_wl/bk_app/applications/models/app.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/processes.html
  apiserver/paasng/paasng/platform/engine/models/base.py
  apiserver/paasng/paasng/platform/mgrlegacy/cnative_migrations/wl_app.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 文案优化
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix: app_desc.yaml transfrom validation error handle and error me… (#1773)
  apiserver/paasng/paasng/misc/tools/app_desc.py
  apiserver/paasng/paasng/misc/tools/serializers.py
  apiserver/paasng/paasng/misc/tools/views.py
  apiserver/paasng/tests/api/test_tools.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：外链应用：创建应用时页面上不展示“应用版本” # Reviewed, transaction id: 26164
  webfe/package_vue/src/views/dev-center/create-app/external.vue
Due: none

feat: diffs api support query param content
  cnb-builder-shim/README.md
  cnb-builder-shim/internal/devsandbox/filediffer/filediffer_test.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

refactor: change app_tenant_mode field type to CharField and update related logic
  apiserver/paasng/paasng/core/tenant/constants.py
  apiserver/paasng/paasng/platform/applications/migrations/0014_application_app_tenant_id_and_more.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/utils/basic.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: enhance tenant_id field with help text and update documentation for app_tenant_mode
  apiserver/paasng/paasng/platform/applications/migrations/0014_application_app_tenant_id_and_more.py
  apiserver/paasng/paasng/platform/applications/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: filter module order by user
  apiserver/paasng/paasng/platform/applications/migrations/0014_applicationdeploymentmoduleorder_user_and_more.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: dev sandbox only support create from repo branch
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/code_editor.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/sandbox.py
  apiserver/paasng/paas_wl/bk_app/processes/kres_slzs.py
  apiserver/paasng/paasng/accessories/dev_sandbox/serializers.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/paasng/misc/monitoring/metrics/management/commands/deploy_stats_diagnoser.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 云原生应用 pre_release_hook 受出口 ip 限制
  operator/api/v1alpha2/egress.go
  operator/pkg/controllers/bkapp/hooks/resources/hooks.go
  operator/pkg/controllers/bkapp/hooks/resources/hooks_test.go
  operator/pkg/controllers/bkapp/processes/resources/deployment.go
Due: operator-lint

fix: 沙箱开发选代码分支时，过滤非 branch 类型分支 # Reviewed, transaction id: 26253
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/sandbox-dialog.vue
Due: none

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
