Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 修复 ImageParser 解析出的 dockerhub endpoint 无法连接的问题 (#705)
  apiserver/paasng/paas_wl/cnative/specs/image_parser.py
Due: isort, black, flake8, mypy-apiserver

fix: envOverlay autoscaling json inline bug
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/pkg/controllers/resources/env_overlay.go
  operator/pkg/controllers/resources/env_overlay_test.go
Due: operator-lint

fix: envOverlay autoscaling json inline bug (#706)
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/pkg/controllers/resources/env_overlay.go
  operator/pkg/controllers/resources/env_overlay_test.go
Due: operator-lint

fix: 修复传参错误导致 webconsole API 异常
  apiserver/paasng/paasng/engine/processes/views.py
Due: isort, black, flake8, mypy-apiserver

minor: 补充 EnvOverLay.Autoscaling 的集成测试
  operator/api/v1alpha2/bkapp_webhook_test.go
Due: operator-lint

minor: 补充 EnvOverLay.Autoscaling 的集成测试 (#708)
  operator/api/v1alpha2/bkapp_webhook_test.go
Due: operator-lint

feat:Implement interfaces related to mount volume configuration
  apiserver/paasng/paas_wl/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: isort, black, flake8, mypy-apiserver

feat:Implement interfaces related to mount volume configuration
  apiserver/paasng/paas_wl/cnative/specs/exceptions.py
  apiserver/paasng/paas_wl/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/paas_wl/utils/error_codes.py
Due: isort, black, flake8, mypy-apiserver

feat:Implement interfaces related to mount volume configuration
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: isort, black, flake8, mypy-apiserver

fix: 云原生导航统一
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/components/cloud-app-top-bar.vue
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/clound-index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-event-query/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/index.vue
Due: none

fix: 示例镜像错误提示更改
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: 资源配额展示问题
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: 云原生访问统计接入feature flag 控制
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/clound-index.vue
Due: none

fix: 进程配置-第二个进程填写命令时bug修复、扩缩容接入FeatureFlag、镜像仓库与构建配置不一致
  webfe/package_vue/src/components/cloud-app-top-bar.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: 源代码-云原生创建应用问题修复
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

Fix develop wmh (#709)
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/components/cloud-app-top-bar.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/clound-index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-event-query/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/index.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

refactor with discussion
  operator/api/v1alpha2/bkapp_types.go
Due: operator-lint

refactor with discussion
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/bkapp_webhook.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/resources/deployment.go
Due: operator-lint

feature: BkApp 支持自定义进程更新策略
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/constants.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/deployments_test.go
  operator/pkg/controllers/reconcilers/utils_test.go
  operator/pkg/controllers/resources/deployment.go
Due: operator-lint

minor: 补充单元测试
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
Due: operator-lint

fix: 修复构建配置展示问题 #887654587
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

feat:Implement interfaces related to mount volume configuration
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
Due: isort, black, flake8, mypy-apiserver

fix: fix 开启阔缩容进程状态的判断 #887654433
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
Due: none

fix: fix bugs
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat:Implement interfaces related to mount volume configuration
  apiserver/paasng/paas_wl/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复无法拉取到镜像时，把错误信息展示到页面 #887611355
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

fix: 访问地址-配置域名解析提示信息问题，添加复制功能
  webfe/package_vue/src/common/tools.js
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

fix: 访问管理url统一
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/router/index.js
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: tip错位修复
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
Due: none

fix: 创建模块-镜像仓库样式修复
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
Due: none

Dev wmh (#711)
  webfe/package_vue/src/common/tools.js
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 修复构建配置展示问题、修复开启阔缩容进程状态的判断、 修复无法拉取到镜像时，把错误信息展示到页面 (#712)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none
