Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 修复 LogstashRedisHandler 中的 logger 循环依赖自身的问题 (#319)
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/logging.py
Due: isort, black, flake8, mypy-apiserver

feat: add iam ping check in healthz api
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/monitoring/healthz/probes.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

feat: add iam ping check in healthz api (#320)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/monitoring/healthz/probes.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

feat: bkpaas-cli support login and manage config (#305)
  bkpaas-cli/Makefile
  bkpaas-cli/Readme.md
  bkpaas-cli/cmd/app/app.go
  bkpaas-cli/cmd/app/deploy.go
  bkpaas-cli/cmd/app/getinfo.go
  bkpaas-cli/cmd/config/config.go
  bkpaas-cli/cmd/config/view.go
  bkpaas-cli/cmd/login/login.go
  bkpaas-cli/cmd/root.go
  bkpaas-cli/cmd/version/version.go
  bkpaas-cli/etc/conf.yaml
  bkpaas-cli/go.mod
  bkpaas-cli/main.go
  bkpaas-cli/pkg/account/account.go
  bkpaas-cli/pkg/account/account_suite_test.go
  bkpaas-cli/pkg/account/account_test.go
  bkpaas-cli/pkg/action/deploy.go
  bkpaas-cli/pkg/action/types.go
  bkpaas-cli/pkg/action/view.go
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/apiresources/apigw_mock.go
  bkpaas-cli/pkg/apiresources/types.go
  bkpaas-cli/pkg/config/config.go
  bkpaas-cli/pkg/config/config_suite_test.go
  bkpaas-cli/pkg/config/config_test.go
  bkpaas-cli/pkg/utils/cmd/cmd.go
  bkpaas-cli/pkg/utils/envx/envx.go
  bkpaas-cli/pkg/utils/envx/envx_suite_test.go
  bkpaas-cli/pkg/utils/envx/envx_test.go
  bkpaas-cli/pkg/utils/pathx/pathx.go
  bkpaas-cli/pkg/utils/pathx/pathx_suite_test.go
  bkpaas-cli/pkg/utils/pathx/pathx_test.go
  bkpaas-cli/pkg/version/version.go
Due: none

When listing git repos, do not send exception log if unauthorized error happens
  apiserver/paasng/paasng/dev_resources/sourcectl/views.py
Due: isort, black, flake8, mypy-apiserver

When listing git repos, do not send exception log if unauthorized error happens (#321)
  apiserver/paasng/paasng/dev_resources/sourcectl/views.py
Due: isort, black, flake8, mypy-apiserver

feat: update
  webfe/package_vue/package.json
Due: none

feat: support get-info command
  bkpaas-cli/cmd/app/app.go
  bkpaas-cli/cmd/app/deploy.go
  bkpaas-cli/cmd/app/getinfo.go
  bkpaas-cli/go.mod
  bkpaas-cli/go.sum
  bkpaas-cli/pkg/action/action_suite_test.go
  bkpaas-cli/pkg/action/fetch.go
  bkpaas-cli/pkg/action/fetch_test.go
  bkpaas-cli/pkg/action/types.go
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/apiresources/apigw_mock.go
  bkpaas-cli/pkg/apiresources/types.go
Due: none

minor: remove AddonsInfoViewer
  bkpaas-cli/pkg/action/fetch.go
Due: none

refactor: add interface AppInfo
  bkpaas-cli/pkg/action/deploy_test.go
  bkpaas-cli/pkg/action/fetch.go
  bkpaas-cli/pkg/action/fetch_test.go
  bkpaas-cli/pkg/action/models.go
  bkpaas-cli/pkg/action/types.go
Due: none

feat: add env file
  .gitignore
  apiserver/package.json
  apiserver/postcss.config.js
  webfe/package_vue/.bk.development.env
  webfe/package_vue/.bk.env
  webfe/package_vue/.eslintrc.js
  webfe/package_vue/.postcssrc.js
  webfe/package_vue/bk-config.js
  webfe/package_vue/package.json
  webfe/package_vue/postcss.config.js
  webfe/package_vue/src/assets/css/components/other.scss
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/user/index.vue
  webfe/package_vue/src/main.js
  webfe/package_vue/src/views/dev-center/create-app/default.vue
  webfe/package_vue/src/views/dev-center/search/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
Due: none

feature: operator 支持下发 PA 相关的 snippet
  apiserver/paasng/paasng/platform/applications/views.py
  operator/api/v1alpha1/constants.go
  operator/pkg/controllers/resources/ingress_plugins.go
  operator/pkg/controllers/resources/ingress_plugins_test.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

feat: add fetch url
  webfe/package_vue/index.html
  webfe/package_vue/src/main.js
Due: none

minor: 调整 PaaSAnalysisSiteIDAnnoKey
  operator/api/v1alpha1/constants.go
Due: operator-lint

minor: 移除 debug 信息
  operator/pkg/controllers/resources/ingress_plugins.go
Due: operator-lint

feat: add source type in ScalingMetric model
  apiserver/paasng/paas_wl/workloads/autoscaling/constants.py
  apiserver/paasng/paas_wl/workloads/autoscaling/entities.py
  apiserver/paasng/paas_wl/workloads/autoscaling/models.py
  apiserver/paasng/paas_wl/workloads/autoscaling/serializers.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paas_wl/workloads/processes/drf_serializers.py
  apiserver/paasng/tests/paas_wl/workloads/autoscaling/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

feature: operator 支持下发 PA 相关的 snippet (#326)
  apiserver/paasng/paasng/platform/applications/views.py
  operator/api/v1alpha1/constants.go
  operator/pkg/controllers/resources/ingress_plugins.go
  operator/pkg/controllers/resources/ingress_plugins_test.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

feat: add source type in ScalingMetric model
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
Due: isort, black, flake8, mypy-apiserver

feat: support heroku app autoscaling (#296)
  apiserver/paasng/paas_wl/cluster/constants.py
  apiserver/paasng/paas_wl/resources/base/client.py
  apiserver/paasng/paas_wl/resources/base/controllers.py
  apiserver/paasng/paas_wl/workloads/autoscaling/constants.py
  apiserver/paasng/paas_wl/workloads/autoscaling/entities.py
  apiserver/paasng/paas_wl/workloads/autoscaling/exceptions.py
  apiserver/paasng/paas_wl/workloads/autoscaling/models.py
  apiserver/paasng/paas_wl/workloads/autoscaling/serializers.py
  apiserver/paasng/paas_wl/workloads/processes/constants.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paas_wl/workloads/processes/drf_serializers.py
  apiserver/paasng/paas_wl/workloads/processes/migrations/0003_auto_20230328_1719.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/paasng/accounts/oauth/backends.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/platform/applications/urls.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/paas_wl/workloads/autoscaling/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

minor: resolve #324 conversations
  bkpaas-cli/cmd/app/getinfo.go
  bkpaas-cli/pkg/account/account_test.go
  bkpaas-cli/pkg/action/fetch.go
  bkpaas-cli/pkg/action/fetch_test.go
  bkpaas-cli/pkg/action/types.go
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/apiresources/apigw_mock.go
  bkpaas-cli/pkg/apiresources/types.go
Due: none

refactor: 调整 pre-release(command) 相关的代码, 移除 paas_wl/paasng 重复的代码抽象
  apiserver/paasng/paas_wl/networking/ingress/config.py
  apiserver/paasng/paas_wl/networking/ingress/plugins/ingress.py
  apiserver/paasng/paas_wl/release_controller/hooks/models.py
  apiserver/paasng/paas_wl/resources/actions/exec.py
  apiserver/paasng/paas_wl/utils/configs.py
  apiserver/paasng/paas_wl/utils/constants.py
  apiserver/paasng/paas_wl/utils/log.py
  apiserver/paasng/paas_wl/utils/redisdb.py
  apiserver/paasng/paas_wl/utils/stream.py
  apiserver/paasng/paas_wl/utils/termcolors.py
  apiserver/paasng/paasng/engine/deploy/bg_command/__init__.py
  apiserver/paasng/paasng/engine/deploy/bg_command/pre_release.py
  apiserver/paasng/paasng/engine/deploy/bg_command/tasks.py
  apiserver/paasng/paasng/engine/deploy/bg_command/utils.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/deploy/image_release.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/engine/deploy/test_pre_release.py
  apiserver/paasng/tests/paas_wl/resources/actions/test_exec.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paas_wl/release_controller/hooks/models.py
  apiserver/paasng/paas_wl/resources/actions/exec.py
  apiserver/paasng/paas_wl/utils/constants.py
  apiserver/paasng/paasng/engine/deploy/bg_command/pre_release.py
  apiserver/paasng/paasng/engine/deploy/bg_command/tasks.py
  apiserver/paasng/paasng/platform/modules/constants.py
Due: isort, black, flake8, mypy-apiserver

refactor: 调整 pre-release(command) 相关的代码, 移除 paas_wl/paasng 重复的代码抽象 (#322)
  apiserver/paasng/paas_wl/networking/ingress/config.py
  apiserver/paasng/paas_wl/networking/ingress/plugins/ingress.py
  apiserver/paasng/paas_wl/release_controller/hooks/models.py
  apiserver/paasng/paas_wl/resources/actions/exec.py
  apiserver/paasng/paas_wl/utils/configs.py
  apiserver/paasng/paas_wl/utils/constants.py
  apiserver/paasng/paas_wl/utils/log.py
  apiserver/paasng/paas_wl/utils/redisdb.py
  apiserver/paasng/paas_wl/utils/stream.py
  apiserver/paasng/paas_wl/utils/termcolors.py
  apiserver/paasng/paasng/engine/deploy/bg_command/__init__.py
  apiserver/paasng/paasng/engine/deploy/bg_command/pre_release.py
  apiserver/paasng/paasng/engine/deploy/bg_command/tasks.py
  apiserver/paasng/paasng/engine/deploy/bg_command/utils.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/modules/constants.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/engine/deploy/test_pre_release.py
  apiserver/paasng/tests/paas_wl/resources/actions/test_exec.py
Due: isort, black, flake8, mypy-apiserver

refactor: minor
  apiserver/paasng/paasng/monitoring/monitor/management/commands/init_alert_rules.py
Due: isort, black, flake8, mypy-apiserver

refactor: resolve review comment
  apiserver/paasng/paasng/monitoring/monitor/management/commands/init_default_rules.py
Due: isort, black, flake8, mypy-apiserver

docs: minor
  apiserver/paasng/paasng/monitoring/monitor/management/commands/init_alert_rules.py
Due: isort, black, flake8, mypy-apiserver

feat: add init alert rules for apps by django command
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/manager.py
  apiserver/paasng/paasng/monitoring/monitor/management/__init__.py
  apiserver/paasng/paasng/monitoring/monitor/management/commands/__init__.py
  apiserver/paasng/paasng/monitoring/monitor/management/commands/init_default_alerts.py
Due: isort, black, flake8, mypy-apiserver

feat: add init alert rules for apps by django command (#323)
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/manager.py
  apiserver/paasng/paasng/monitoring/monitor/management/__init__.py
  apiserver/paasng/paasng/monitoring/monitor/management/commands/__init__.py
  apiserver/paasng/paasng/monitoring/monitor/management/commands/init_alert_rules.py
Due: isort, black, flake8, mypy-apiserver

feat: support bkpaas-cli get-info commands (#324)
  bkpaas-cli/cmd/app/app.go
  bkpaas-cli/cmd/app/deploy.go
  bkpaas-cli/cmd/app/getinfo.go
  bkpaas-cli/go.mod
  bkpaas-cli/go.sum
  bkpaas-cli/pkg/account/account_test.go
  bkpaas-cli/pkg/action/action_suite_test.go
  bkpaas-cli/pkg/action/deploy_test.go
  bkpaas-cli/pkg/action/fetch.go
  bkpaas-cli/pkg/action/fetch_test.go
  bkpaas-cli/pkg/action/models.go
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/apiresources/apigw_mock.go
  bkpaas-cli/pkg/apiresources/types.go
Due: none

Remove legacy app data after each test; Supress trivial log messages from bkpaas_auth.core
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/logging.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/platform/mgrlegacy/conftest.py
  apiserver/paasng/tests/utils/helpers.py
Due: isort, black, flake8, mypy-apiserver

Tiny doc update
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/logging.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复漏日志默认排序
  apiserver/paasng/paasng/platform/log/views.py
  apiserver/paasng/tests/api/test_log.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复漏日志默认排序 (#329)
  apiserver/paasng/paasng/platform/log/views.py
  apiserver/paasng/tests/api/test_log.py
Due: isort, black, flake8, mypy-apiserver

Add TODO comment for BkAuthTrivialMsgFilter
  apiserver/paasng/paasng/utils/logging.py
Due: isort, black, flake8, mypy-apiserver

Remove legacy app data after each test; Supress trivial log messages from bkpaas_auth.core (#328)
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/logging.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/platform/mgrlegacy/conftest.py
  apiserver/paasng/tests/utils/helpers.py
Due: isort, black, flake8, mypy-apiserver

fix
  apiserver/paasng/paasng/engine/deploy/bg_command/pre_release.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复 command_status 类型为 str 的问题
  apiserver/paasng/paasng/engine/deploy/bg_command/pre_release.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复 command_status 类型为 str 的问题 (#330)
  apiserver/paasng/paasng/engine/deploy/bg_command/pre_release.py
Due: isort, black, flake8, mypy-apiserver

refactor: use http schema to access import_config api
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/client.py
Due: isort, black, flake8, mypy-apiserver

refactor: minor
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/client.py
Due: isort, black, flake8, mypy-apiserver

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
