Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

refactor: move ingress system api implementation to apiserver
  workloads/paas_wl/paas_wl/networking/ingress/serializers.py
  workloads/paas_wl/paas_wl/networking/ingress/urls.py
  workloads/paas_wl/paas_wl/networking/ingress/views.py
Due: isort, black, flake8, mypy-workloads

refactor: move workloads admin api, image api, egress api to apiserver (#220)
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/egress_gateway.py
  apiserver/paasng/paasng/service_proxy/views.py
  workloads/paas_wl/paas_wl/admin/views/certs.py
  workloads/paas_wl/paas_wl/admin/views/clusters.py
  workloads/paas_wl/paas_wl/admin/views/domain.py
  workloads/paas_wl/paas_wl/admin/views/processes.py
  workloads/paas_wl/paas_wl/cluster/urls.py
  workloads/paas_wl/paas_wl/cluster/views.py
  workloads/paas_wl/paas_wl/cnative/specs/urls.py
  workloads/paas_wl/paas_wl/cnative/specs/views.py
  workloads/paas_wl/paas_wl/networking/egress/urls.py
  workloads/paas_wl/paas_wl/networking/egress/views.py
  workloads/paas_wl/paas_wl/networking/egress/views_enduser.py
  workloads/paas_wl/paas_wl/networking/ingress/serializers.py
  workloads/paas_wl/paas_wl/networking/ingress/urls.py
  workloads/paas_wl/paas_wl/networking/ingress/views.py
  workloads/paas_wl/paas_wl/urls.py
  workloads/paas_wl/paas_wl/workloads/images/models.py
  workloads/paas_wl/paas_wl/workloads/images/serializers.py
  workloads/paas_wl/paas_wl/workloads/images/urls.py
  workloads/paas_wl/paas_wl/workloads/images/views.py
  workloads/paas_wl/paas_wl/workloads/images/views_enduser.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

minor: resolve #141 conversations
  workloads/paas_wl/conf.yaml.tpl
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/base.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/bkmonitor.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/prometheus.py
  workloads/paas_wl/paas_wl/monitoring/metrics/constants.py
  workloads/paas_wl/paas_wl/monitoring/metrics/models.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/tests/monitoring/metrics/test_client.py
  workloads/paas_wl/tests/monitoring/metrics/test_metric_manager.py
Due: isort, black, flake8, mypy-workloads

feat: fetch app metrics from bkmonitor (#141)
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/engine/controller/models.py
  apiserver/paasng/paasng/platform/feature_flags/apps_ext.py
  apiserver/paasng/paasng/settings/__init__.py
  workloads/paas_wl/conf.yaml.tpl
  workloads/paas_wl/paas_wl/cluster/constants.py
  workloads/paas_wl/paas_wl/cluster/models.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/api_resources/__init__.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/api_resources/apigw.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/api_resources/esb.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/client.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/exceptions.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/base.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/bkmonitor.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/prometheus.py
  workloads/paas_wl/paas_wl/monitoring/metrics/constants.py
  workloads/paas_wl/paas_wl/monitoring/metrics/models.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/settings/__init__.py
  workloads/paas_wl/tests/conftest.py
  workloads/paas_wl/tests/monitoring/metrics/test_client.py
  workloads/paas_wl/tests/monitoring/metrics/test_metric_manager.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

test: fix ingress plugin unittest
  operator/pkg/controllers/resources/ingress_plugins.go
  operator/pkg/controllers/resources/ingress_plugins_test.go
Due: operator-lint

feat: 修改权限相关路由
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
Due: none

refactor: move config sys api to apiserver
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/controller/cluster.py
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/engine/test_controller.py
  apiserver/paasng/tests/utils/mocks/engine.py
  workloads/paas_wl/paas_wl/monitoring/app_monitor/serializers.py
  workloads/paas_wl/paas_wl/monitoring/app_monitor/urls.py
  workloads/paas_wl/paas_wl/monitoring/app_monitor/views.py
  workloads/paas_wl/paas_wl/platform/api.py
  workloads/paas_wl/paas_wl/platform/applications/models_utils.py
  workloads/paas_wl/paas_wl/platform/system_api/urls.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/urls.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

refactor with discussion
  apiserver/paasng/paasng/engine/controller/client.py
  workloads/paas_wl/paas_wl/platform/api.py
  workloads/paas_wl/paas_wl/platform/applications/models_utils.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

refactor: move config sys api to apiserver (#223)
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/controller/cluster.py
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/engine/test_controller.py
  apiserver/paasng/tests/utils/mocks/engine.py
  workloads/paas_wl/paas_wl/monitoring/app_monitor/serializers.py
  workloads/paas_wl/paas_wl/monitoring/app_monitor/urls.py
  workloads/paas_wl/paas_wl/monitoring/app_monitor/views.py
  workloads/paas_wl/paas_wl/platform/applications/models_utils.py
  workloads/paas_wl/paas_wl/platform/system_api/urls.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/urls.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Refactor metadata related functions and fix some unit tests.
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/management/commands/inject_engineapp_metadata.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/engine/test_engine_svc.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/networking/test_api.py
  apiserver/paasng/tests/paas_wl/platform/__init__.py
  apiserver/paasng/tests/paas_wl/platform/test_api.py
  apiserver/paasng/tests/utils/helpers.py
  workloads/paas_wl/paas_wl/networking/api.py
  workloads/paas_wl/paas_wl/platform/api.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Refactor metadata related functions and fix some unit tests. (#224)
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/management/commands/inject_engineapp_metadata.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/engine/test_engine_svc.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/networking/test_api.py
  apiserver/paasng/tests/paas_wl/platform/__init__.py
  apiserver/paasng/tests/paas_wl/platform/test_api.py
  apiserver/paasng/tests/utils/helpers.py
  workloads/paas_wl/paas_wl/networking/api.py
  workloads/paas_wl/paas_wl/platform/api.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

feat: 修改外链应用路由问题
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
Due: none

feat: 修改外链应用路由问题 (#228)
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
Due: none

Update create_app_ignore_duplicated so transactional test won't be needed
  apiserver/paasng/tests/paas_wl/platform/test_api.py
  workloads/paas_wl/paas_wl/platform/api.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Fix most of the tests under "engine" directory
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/engine/test_engine_svc.py
  apiserver/paasng/tests/engine/test_infras.py
  apiserver/paasng/tests/engine/test_preparations.py
  apiserver/paasng/tests/paas_wl/conftest.py
Due: isort, black, flake8, mypy-apiserver

fix: 更改前端代码格式化；插件开发空状态规范
  webfe/package_vue/src/components/ui/empty-dark.vue
  webfe/package_vue/src/components/ui/table-empty.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/main.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/app-perm.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/standart-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/static/images/empty-dark.png
Due: none

fix: 暂无数据规范
  webfe/package_vue/src/views/dev-center/app/docu-management/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-version.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/access-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/custom-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/standart-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/alarm-record.vue
  webfe/package_vue/src/views/dev-center/app/summary/index.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
  webfe/package_vue/src/views/dev-center/monitor/index.vue
  webfe/package_vue/src/views/dev-center/search/index.vue
  webfe/package_vue/src/views/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
Due: none

fix: 合并冲突
  webfe/package_vue/src/components/ui/table-empty.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/by-ip.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/by-user.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/done-order.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/path-exempt.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/processing-order.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/access-portal/domain.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/app-perm.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/batch-renewal-dialog.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/image-credential/index.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/comps/analysis.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/event.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-event.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-version.vue
  webfe/package_vue/src/views/dev-center/app/engine/code-review/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-history.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/custom-domain.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/port-config.vue
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/alarm-record.vue
  webfe/package_vue/src/views/dev-center/app/engine/packages/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/services/category.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
  webfe/package_vue/src/views/dev-center/index.vue
  webfe/package_vue/src/views/dev-center/migration/index.vue
  webfe/package_vue/src/views/dev-center/monitor/index.vue
  webfe/package_vue/src/views/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/services/overview.vue
  webfe/package_vue/src/views/services/v3-services.vue
Due: none

fix: 解决冲突
  webfe/package_vue/src/common/utils.js
  webfe/package_vue/src/components/ui/empty-dark.vue
  webfe/package_vue/src/components/ui/table-empty.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/by-ip.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/by-user.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/path-exempt.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/app-perm.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-list.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-history.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/access-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/comps/log-filter.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/custom-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/standart-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/alarm-record.vue
  webfe/package_vue/src/views/dev-center/index.vue
  webfe/package_vue/src/views/dev-center/monitor/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/comps/log-filter.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/standart-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/static/images/search-empty.png
Due: none

fix: 添加筛选添加判断
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/app-perm.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-history.vue
  webfe/package_vue/src/views/dev-center/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
Due: none

Fix most of the tests under "engine" directory (#229)
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/engine/test_engine_svc.py
  apiserver/paasng/tests/engine/test_infras.py
  apiserver/paasng/tests/engine/test_preparations.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/platform/test_api.py
  workloads/paas_wl/paas_wl/platform/api.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

refactor: migrate app metrics to apiserver
  apiserver/paasng/paasng/accessories/bkmonitorv3/backend/apigw.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/backend/esb.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/client.py
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/serializers.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/monitoring/metrics/__init__.py
  apiserver/paasng/paasng/monitoring/metrics/clients/__init__.py
  apiserver/paasng/paasng/monitoring/metrics/clients/base.py
  apiserver/paasng/paasng/monitoring/metrics/clients/bkmonitor.py
  apiserver/paasng/paasng/monitoring/metrics/clients/prometheus.py
  apiserver/paasng/paasng/monitoring/metrics/constants.py
  apiserver/paasng/paasng/monitoring/metrics/exceptions.py
  apiserver/paasng/paasng/monitoring/metrics/management/__init__.py
  apiserver/paasng/paasng/monitoring/metrics/management/commands/__init__.py
  apiserver/paasng/paasng/monitoring/metrics/management/commands/deploy_stats_diagnoser.py
  apiserver/paasng/paasng/monitoring/metrics/models.py
  apiserver/paasng/paasng/monitoring/metrics/shim.py
  apiserver/paasng/paasng/monitoring/metrics/utils.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/monitoring/metrics/__init__.py
  apiserver/paasng/tests/monitoring/metrics/test_client.py
  apiserver/paasng/tests/monitoring/metrics/test_metric_manager.py
  apiserver/paasng/tests/utils/app.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/api_resources/__init__.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/api_resources/apigw.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/api_resources/esb.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/client.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/exceptions.py
  workloads/paas_wl/paas_wl/platform/system_api/serializers.py
  workloads/paas_wl/paas_wl/platform/system_api/urls.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

refactor: remove system api call when fetch app metrics
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/monitoring/__init__.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/__init__.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/crd/v1.yaml
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/crd/v1beta1.yaml
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/test_managers.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/test_utils.py
  apiserver/paasng/tests/paas_wl/monitoring/metrics/__init__.py
  apiserver/paasng/tests/paas_wl/monitoring/metrics/test_client.py
  apiserver/paasng/tests/paas_wl/monitoring/metrics/test_metric_manager.py
  apiserver/paasng/tests/paas_wl/utils/engine_app.py
  workloads/paas_wl/paas_wl/monitoring/app_monitor/managers.py
  workloads/paas_wl/paas_wl/monitoring/metrics/exceptions.py
  workloads/paas_wl/paas_wl/monitoring/metrics/models.py
  workloads/paas_wl/paas_wl/monitoring/metrics/shim.py
  workloads/paas_wl/paas_wl/platform/system_api/serializers.py
  workloads/paas_wl/paas_wl/platform/system_api/urls.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

minor: remove monitoring unittest in paas_wl
  workloads/paas_wl/tests/monitoring/__init__.py
  workloads/paas_wl/tests/monitoring/app_monitor/__init__.py
  workloads/paas_wl/tests/monitoring/app_monitor/crd/v1.yaml
  workloads/paas_wl/tests/monitoring/app_monitor/crd/v1beta1.yaml
  workloads/paas_wl/tests/monitoring/app_monitor/test_managers.py
  workloads/paas_wl/tests/monitoring/app_monitor/test_utils.py
  workloads/paas_wl/tests/monitoring/metrics/__init__.py
  workloads/paas_wl/tests/monitoring/metrics/test_client.py
  workloads/paas_wl/tests/monitoring/metrics/test_metric_manager.py
Due: isort, black, flake8, mypy-workloads

refactor: remove system api call when fetch app metrics (#231)
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/monitoring/__init__.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/__init__.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/crd/v1.yaml
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/crd/v1beta1.yaml
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/test_managers.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/test_utils.py
  apiserver/paasng/tests/paas_wl/monitoring/metrics/__init__.py
  apiserver/paasng/tests/paas_wl/monitoring/metrics/test_client.py
  apiserver/paasng/tests/paas_wl/monitoring/metrics/test_metric_manager.py
  apiserver/paasng/tests/paas_wl/utils/engine_app.py
  workloads/paas_wl/paas_wl/monitoring/app_monitor/managers.py
  workloads/paas_wl/paas_wl/monitoring/metrics/exceptions.py
  workloads/paas_wl/paas_wl/monitoring/metrics/models.py
  workloads/paas_wl/paas_wl/monitoring/metrics/shim.py
  workloads/paas_wl/paas_wl/platform/system_api/serializers.py
  workloads/paas_wl/paas_wl/platform/system_api/urls.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/paas_wl/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Remove app__delete API call
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/tests/paas_wl/platform/test_api.py
  apiserver/paasng/tests/utils/mocks/engine.py
  workloads/paas_wl/paas_wl/platform/api.py
  workloads/paas_wl/paas_wl/resources/actions/delete.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Migrate archive_app API call
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/models/managers.py
Due: isort, black, flake8, mypy-apiserver

Migrate interrupt_build_process API call
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/tests/engine/models/test_deployment.py
  workloads/paas_wl/paas_wl/release_controller/api.py
  workloads/paas_wl/paas_wl/release_controller/builder/exceptions.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Migrate builds_retrieve API call
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/models/base.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/tests/paas_wl/release_controller/__init__.py
  apiserver/paasng/tests/paas_wl/release_controller/test_api.py
  workloads/paas_wl/paas_wl/release_controller/api.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Migrate "app__delete" and 3 other API calls into local procedure call (#232)
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/models/base.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/models/managers.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/tests/engine/models/test_deployment.py
  apiserver/paasng/tests/paas_wl/platform/test_api.py
  apiserver/paasng/tests/paas_wl/release_controller/__init__.py
  apiserver/paasng/tests/paas_wl/release_controller/test_api.py
  apiserver/paasng/tests/utils/mocks/engine.py
  workloads/paas_wl/paas_wl/platform/api.py
  workloads/paas_wl/paas_wl/release_controller/api.py
  workloads/paas_wl/paas_wl/release_controller/builder/exceptions.py
  workloads/paas_wl/paas_wl/resources/actions/delete.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

fix almost unittest dependent on cluster/wl_engine_app
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/controller/cluster.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/models/processes.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/egress_gateway.py
  apiserver/paasng/tests/api/conftest.py
  apiserver/paasng/tests/api/test_apigw.py
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_market_config.py
  apiserver/paasng/tests/api/test_modules.py
  apiserver/paasng/tests/api/test_smart_app.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/engine/test_controller.py
  apiserver/paasng/tests/engine/test_preparations.py
  apiserver/paasng/tests/extensions/declarative/conftest.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/deploy/__init__.py
  apiserver/paasng/tests/paas_wl/deploy/test_engine_svc.py
  apiserver/paasng/tests/platform/mgrlegacy/test_service_migration.py
  apiserver/paasng/tests/platform/modules/test_helpers.py
  apiserver/paasng/tests/platform/modules/test_manager.py
  apiserver/paasng/tests/utils/helpers.py
  apiserver/paasng/tests/utils/mocks/engine.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/tests/utils/helpers.py
Due: isort, black, flake8, mypy-apiserver

remove: StubControllerClient
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/api/test_apigw.py
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_market_config.py
  apiserver/paasng/tests/api/test_modules.py
  apiserver/paasng/tests/api/test_smart_app.py
  apiserver/paasng/tests/cnative/test_cnative.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/engine/deploy/test_infras.py
  apiserver/paasng/tests/extensions/declarative/conftest.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/test_managers.py
  apiserver/paasng/tests/platform/mgrlegacy/test_service_migration.py
  apiserver/paasng/tests/platform/modules/test_helpers.py
  apiserver/paasng/tests/platform/modules/test_manager.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
  apiserver/paasng/tests/utils/helpers.py
  apiserver/paasng/tests/utils/mocks/engine.py
  workloads/paas_wl/paas_wl/platform/api.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

fix: 空状态tiitle间距调整， 添加prop是否显示内容
  webfe/package_vue/src/components/ui/table-empty.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/custom-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
Due: none

remove almost api from ControllerClient
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/controller/cluster.py
  apiserver/paasng/paasng/extensions/declarative/deployment/controller.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/plat_admin/api_doc/views.py
  apiserver/paasng/tests/cnative/test_cnative.py
  apiserver/paasng/tests/dev_resources/servicehub/remote/test_manager.py
  apiserver/paasng/tests/engine/test_controller.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/test_utils.py
  apiserver/paasng/tests/paas_wl/monitoring/metrics/test_metric_manager.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
  apiserver/paasng/tests/utils/helpers.py
  workloads/paas_wl/paas_wl/platform/api.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

fix unittest
  apiserver/paasng/tests/engine/deploy/test_infras.py
  apiserver/paasng/tests/engine/test_controller.py
Due: isort, black, flake8, mypy-apiserver

rename bk_{env}_engine_app to bk_{env}_wl_app
  apiserver/paasng/tests/paas_wl/cnative/specs/test_addresses.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_resource.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_tasks.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/deploy/test_engine_svc.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/test_managers.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/test_utils.py
  apiserver/paasng/tests/paas_wl/networking/ingress/domains/test_independent.py
  apiserver/paasng/tests/paas_wl/networking/ingress/domains/test_manager.py
  apiserver/paasng/tests/paas_wl/networking/ingress/managers/test_misc.py
  apiserver/paasng/tests/paas_wl/networking/ingress/test_addrs.py
Due: isort, black, flake8, mypy-apiserver

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
