Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 部署配置：文案修改 (#1378)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-config.vue
Due: none

fix: use Union[int, str] rather than Union[str, int]
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/declarative/deployment/resources.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: support port placeholder
  apiserver/paasng/paas_wl/bk_app/processes/models.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: support port placeholder
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: resolve #1382 conversations
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/utils/serializers.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_processes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add FrontendFeatureSettings
  apiserver/paasng/.importlinter
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/accessories/app_secret/views.py
  apiserver/paasng/paasng/accessories/ci/views.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/config.py
  apiserver/paasng/paasng/infras/accounts/constants.py
  apiserver/paasng/paasng/infras/accounts/views.py
  apiserver/paasng/paasng/misc/feature_flags/apps.py
  apiserver/paasng/paasng/misc/feature_flags/constants.py
  apiserver/paasng/paasng/misc/feature_flags/migrations/__init__.py
  apiserver/paasng/paasng/misc/feature_flags/urls.py
  apiserver/paasng/paasng/misc/feature_flags/views.py
  apiserver/paasng/paasng/misc/platform_config/__init__.py
  apiserver/paasng/paasng/misc/platform_config/urls.py
  apiserver/paasng/paasng/misc/platform_config/views.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/sourcectl/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_sourcectl.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 同步修改 webfe
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-build.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/image-credential/index.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

feat: 增强服务 API 中返回 is_ready 用于判断是否启用 (#1373)
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/tests/paasng/accessories/servicehub/remote/test_api.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unitest
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unnitest
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: plugin gateway prefix changed from bk- to bp- (#1386)
  apiserver/paasng/paasng/bk_plugins/bk_plugins/apigw.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add built-in env for customizing app's title/footer logo and resource paths (#1388)
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: set useless cfg SECRET_KEY as default
  svc-bkrepo/svc_bk_repo/settings/default.py
  svc-mysql/svc_mysql/settings/default.py
  svc-otel/svc_otel/settings/default.py
Due: ruff-check-fix, ruff-format, ruff-check

minor: set useless cfg SECRET_KEY as default (#1390)
  svc-bkrepo/svc_bk_repo/settings/default.py
  svc-mysql/svc_mysql/settings/default.py
  svc-otel/svc_otel/settings/default.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: pr 评论修改
  apiserver/paasng/.importlinter
  apiserver/paasng/paasng/misc/plat_config/__init__.py
  apiserver/paasng/paasng/misc/plat_config/urls.py
  apiserver/paasng/paasng/misc/plat_config/views.py
  apiserver/paasng/paasng/misc/platform_config/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

style: 优化变量名
  apiserver/paasng/paasng/misc/plat_config/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: simplify PlatformFeatureFlag (#1383)
  apiserver/paasng/.importlinter
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/accessories/app_secret/views.py
  apiserver/paasng/paasng/accessories/ci/views.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/config.py
  apiserver/paasng/paasng/infras/accounts/constants.py
  apiserver/paasng/paasng/infras/accounts/views.py
  apiserver/paasng/paasng/misc/feature_flags/apps.py
  apiserver/paasng/paasng/misc/feature_flags/apps_ext.py
  apiserver/paasng/paasng/misc/feature_flags/constants.py
  apiserver/paasng/paasng/misc/feature_flags/migrations/__init__.py
  apiserver/paasng/paasng/misc/feature_flags/urls.py
  apiserver/paasng/paasng/misc/feature_flags/views.py
  apiserver/paasng/paasng/misc/plat_config/__init__.py
  apiserver/paasng/paasng/misc/plat_config/urls.py
  apiserver/paasng/paasng/misc/plat_config/views.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/engine/processes/views.py
  apiserver/paasng/paasng/platform/sourcectl/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_sourcectl.py
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-build.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/image-credential/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/summary/comps/overview-top-info.vue
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 全局配置 title/footer/name/logo/产品商标 # Reviewed, transaction id: 9925
  webfe/package_vue/.bk.production.env
  webfe/package_vue/index.html
  webfe/package_vue/package.json
  webfe/package_vue/src/App.vue
  webfe/package_vue/src/common/platform-config.js
  webfe/package_vue/src/components/paas-footer.vue
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/main.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/static/runtime/runtime.ce.js
  webfe/package_vue/static/runtime/runtime.ee.js
Due: none

feat: 功能依赖项错误页面展示 # Reviewed, transaction id: 9941
  webfe/package_vue/package.json
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/main.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/alarm-strategy.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat: add built-in env for customizing app's title/footer logo and resource paths
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 部署管理：添加查看事件功能 # Reviewed, transaction id: 9759
  webfe/package_vue/src/common/utils.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/event-detail.vue
Due: none

feat: 普通应用添加事件详情，代码优化 # Reviewed, transaction id: 9776
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/event-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

updata: 侧边栏宽度调整，访问日志滚动优化 # Reviewed, transaction id: 9802
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/event-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

feat: 增强服务 API 中返回 is_ready 用于判断是否启用
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add unittest
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/tests/paasng/accessories/servicehub/remote/test_api.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add env CNB_EXIT_DELAY to sleep delay duration before cnb process exit
  cnb-builder-shim/cmd/entrypoint/main.go
Due: none

style: import sort
  cnb-builder-shim/cmd/entrypoint/main.go
Due: none

update: 事件详情时间处理 # Reviewed, transaction id: 9947
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/event-detail.vue
Due: none

updata: 1.4使用PHALANX # Reviewed, transaction id: 9951
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/alarm-strategy.vue
Due: none

docs: minor
  cnb-builder-shim/cmd/entrypoint/main.go
Due: none

feat: add built-in env SHARED_RES_URL (#1394)
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paasng/accessories/servicehub/remote/test_api.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 功能依赖项错误页面展示 (#1392)
  webfe/package_vue/package.json
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/main.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/alarm-strategy.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

docs: update help text for exit-delay flag
  cnb-builder-shim/cmd/entrypoint/main.go
Due: none

fix: default app scaling_config stored in proc_spec
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: default app scaling_config stored in proc_spec (#1396)
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: use Camel case in specVersion:3(app_desc.yaml)
  apiserver/paasng/paasng/platform/declarative/application/validations/v3.py
  apiserver/paasng/paasng/platform/declarative/handlers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: fix
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_app.py
  apiserver/paasng/tests/paasng/platform/declarative/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: fix
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_app.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_deployment.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_probes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: fix
  apiserver/paasng/tests/paasng/platform/smart_app/assets/cnb-image/app_desc.yaml
Due: none

feat: 部署管理：添加查看事件功能 (#1385)
  webfe/package_vue/src/common/utils.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/event-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none
