Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 云原生应用 pre_release_hook 受出口 ip 限制 (#1790)
  operator/pkg/controllers/bkapp/common/selector.go
  operator/pkg/controllers/bkapp/hooks/resources/hooks.go
  operator/pkg/controllers/bkapp/hooks/resources/hooks_test.go
  operator/pkg/controllers/bkapp/processes/resources/deployment.go
Due: operator-lint

refactor: clusterFeatureFlag: ENABLE_EGRESS_IP\ENABLE_BK_MONITOR
  apiserver/paasng/paas_wl/infras/cluster/constants.py
  apiserver/paasng/paas_wl/infras/cluster/management/commands/update_cluster_feature_flags.py
  apiserver/paasng/paas_wl/infras/cluster/serializers.py
  apiserver/paasng/paasng/infras/accounts/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/accessories/servicehub/tasks.py
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove "link_engine_app" and "manually_upgrade_to_subdomain_allowed" from region config
  apiserver/paasng/paas_wl/workloads/networking/entrance/constants.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/shim.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/utils.py
  apiserver/paasng/paasng/accessories/publish/entrance/preallocated.py
  apiserver/paasng/paasng/core/region/models.py
  apiserver/paasng/paasng/core/region/serializers.py
  apiserver/paasng/paasng/core/region/states.py
  apiserver/paasng/paasng/platform/mgrlegacy/utils.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/test_addrs.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_exposer.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_preallocated.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: correct structure calls for basic_info and entrance_config in load_regions_from_settings
  apiserver/paasng/paasng/core/region/states.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove entrance_config from region settings and update related references
  apiserver/paasng/paas_wl/apis/admin/serializers/clusters.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0011_cluster_exposed_url_type.py
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paas_wl/infras/cluster/shim.py
  apiserver/paasng/paasng/core/region/models.py
  apiserver/paasng/paasng/core/region/states.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/engine/configurations/ingress.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_addresses.py
  apiserver/paasng/tests/paas_wl/infras/cluster/test_shim.py
  apiserver/paasng/tests/utils/helpers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove "link_engine_app" and "manually_upgrade_to_subdomain_allowed" from region config (#1792)
  apiserver/paasng/paas_wl/apis/admin/serializers/clusters.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0011_cluster_exposed_url_type.py
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paas_wl/infras/cluster/shim.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/constants.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/shim.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/utils.py
  apiserver/paasng/paasng/accessories/publish/entrance/preallocated.py
  apiserver/paasng/paasng/core/region/models.py
  apiserver/paasng/paasng/core/region/serializers.py
  apiserver/paasng/paasng/core/region/states.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/engine/configurations/ingress.py
  apiserver/paasng/paasng/platform/mgrlegacy/utils.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_addresses.py
  apiserver/paasng/tests/paas_wl/infras/cluster/test_shim.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/test_addrs.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_exposer.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_preallocated.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_utils.py
  apiserver/paasng/tests/utils/helpers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: code diff & commit api urls add codes/ prefix
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

fix: resolve #1797 conversations
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/paasng/platform/sourcectl/client.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/bare_git.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/bk_svn.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/gitee.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/github.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/gitlab.py
  apiserver/paasng/paasng/platform/sourcectl/gitee/client.py
  apiserver/paasng/paasng/platform/sourcectl/github/client.py
  apiserver/paasng/paasng/platform/sourcectl/repo_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unit test
  apiserver/paasng/tests/api/test_servicehub.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 同类型模板无法选择bug修复 # Reviewed, transaction id: 26669
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: none

fix: set srcPath when create VersionController
  cnb-builder-shim/cmd/dev-entrypoint/init.go
  cnb-builder-shim/internal/devsandbox/vcs/vcs.go
  cnb-builder-shim/internal/devsandbox/vcs/vcs_test.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

fix: VersionController.Commit also set user.name & user.email
  cnb-builder-shim/internal/devsandbox/vcs/vcs.go
Due: none

fix: remove / in root diff tree name
  cnb-builder-shim/internal/devsandbox/vcs/types.go
  cnb-builder-shim/internal/devsandbox/vcs/types_test.go
Due: none

refactor: 删除 AppFeatureFlag:ENABLE_BK_LOG_CLIENT(由日志平台采集则一定走日志平台 API 查询)
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/platform/applications/constants.py
  apiserver/paasng/paasng/platform/applications/handlers.py
  apiserver/paasng/tests/paasng/platform/applications/test_feature_flag.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

pref: better dir_tree compress
  cnb-builder-shim/internal/devsandbox/vcs/types.go
  cnb-builder-shim/internal/devsandbox/vcs/types_test.go
Due: none

feat：部署管理模块列表拖拽排序 # Reviewed, transaction id: 26815
  webfe/package_vue/package.json
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
Due: none

fix: 进程操作优化 & lint # Reviewed, transaction id: 26863
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/scale-dialog.vue
Due: none

fix: unit test
  apiserver/paasng/paasng/accessories/servicehub/manager.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0005_unboundserviceengineappattachment_and_more.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
  apiserver/paasng/tests/api/test_servicehub.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #1787 conversations
  cnb-builder-shim/internal/devsandbox/vcs/types.go
  cnb-builder-shim/internal/devsandbox/vcs/types_test.go
  cnb-builder-shim/internal/devsandbox/vcs/vcs.go
Due: none

fix: 调增 gcs-mysql 慢查询阈值 (#1800)
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/config/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 同类型模板无法选择bug修复 (#1802)
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: none

fix: 代码检查详情交互优化 # Reviewed, transaction id: 26946
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/code-source.vue
Due: none

fix: resolve #1797 conversations
  apiserver/paasng/paasng/accessories/dev_sandbox/commit.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/tests/paasng/accessories/dev_sandbox/test_commit.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #1797 conversations
  apiserver/paasng/paasng/platform/engine/configurations/source_file.py
  apiserver/paasng/paasng/platform/sourcectl/gitee/client.py
  apiserver/paasng/paasng/platform/sourcectl/github/client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: apiserver support commit files
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: apiserver support commit files
  apiserver/paasng/paasng/accessories/dev_sandbox/serializers.py
  apiserver/paasng/paasng/accessories/dev_sandbox/urls.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/paasng/platform/sourcectl/client.py
  apiserver/paasng/paasng/platform/sourcectl/constants.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/bare_git.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/bk_svn.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/gitee.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/github.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/gitlab.py
  apiserver/paasng/paasng/platform/sourcectl/gitee/client.py
  apiserver/paasng/paasng/platform/sourcectl/github/client.py
  apiserver/paasng/paasng/platform/sourcectl/models.py
  apiserver/paasng/paasng/platform/sourcectl/repo_controller.py
  apiserver/paasng/paasng/utils/error_codes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: apiserver support commit files
  apiserver/paasng/paasng/accessories/dev_sandbox/urls.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: apiserver support commit files
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/paasng/utils/error_codes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #1797 conversations
  apiserver/paasng/paasng/accessories/dev_sandbox/client.py
  apiserver/paasng/paasng/accessories/dev_sandbox/commit.py
  apiserver/paasng/paasng/accessories/dev_sandbox/exceptions.py
  apiserver/paasng/paasng/accessories/dev_sandbox/serializers.py
  apiserver/paasng/paasng/accessories/dev_sandbox/urls.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/paasng/accessories/dev_sandbox/conftest.py
  apiserver/paasng/tests/paasng/accessories/dev_sandbox/test_commit.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: devsandbox support commit codes (#1797)
  apiserver/paasng/paasng/accessories/dev_sandbox/client.py
  apiserver/paasng/paasng/accessories/dev_sandbox/commit.py
  apiserver/paasng/paasng/accessories/dev_sandbox/exceptions.py
  apiserver/paasng/paasng/accessories/dev_sandbox/serializers.py
  apiserver/paasng/paasng/accessories/dev_sandbox/urls.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/paasng/platform/engine/configurations/source_file.py
  apiserver/paasng/paasng/platform/sourcectl/client.py
  apiserver/paasng/paasng/platform/sourcectl/constants.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/bare_git.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/bk_svn.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/gitee.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/github.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/gitlab.py
  apiserver/paasng/paasng/platform/sourcectl/gitee/client.py
  apiserver/paasng/paasng/platform/sourcectl/github/client.py
  apiserver/paasng/paasng/platform/sourcectl/models.py
  apiserver/paasng/paasng/platform/sourcectl/repo_controller.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/paasng/accessories/dev_sandbox/conftest.py
  apiserver/paasng/tests/paasng/accessories/dev_sandbox/test_commit.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: devsandbox provide diffs api (#1787)
  cnb-builder-shim/Makefile
  cnb-builder-shim/README.md
  cnb-builder-shim/cmd/dev-entrypoint/init.go
  cnb-builder-shim/go.mod
  cnb-builder-shim/go.sum
  cnb-builder-shim/internal/devsandbox/config/loader.go
  cnb-builder-shim/internal/devsandbox/config/types.go
  cnb-builder-shim/internal/devsandbox/vcs/types.go
  cnb-builder-shim/internal/devsandbox/vcs/types_test.go
  cnb-builder-shim/internal/devsandbox/vcs/vcs.go
  cnb-builder-shim/internal/devsandbox/vcs/vcs_suite_test.go
  cnb-builder-shim/internal/devsandbox/vcs/vcs_test.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

fix: improve JSON error handling in request wrappers
  apiserver/paasng/paasng/accessories/paas_analysis/clients.py
  apiserver/paasng/paasng/accessories/servicehub/remote/client.py
  apiserver/paasng/paasng/infras/oauth2/api.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: improve JSON error handling in request wrappers (#1803)
  apiserver/paasng/paasng/accessories/paas_analysis/clients.py
  apiserver/paasng/paasng/accessories/servicehub/remote/client.py
  apiserver/paasng/paasng/infras/oauth2/api.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: smart app can create when use tenant mode
  apiserver/paasng/paasng/platform/applications/migrations/0015_alter_application_name_and_more.py
  apiserver/paasng/paasng/platform/applications/migrations/0016_migrate_smart_application.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/tenant.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/smart_app/serializers.py
  apiserver/paasng/paasng/platform/smart_app/services/app_desc.py
  apiserver/paasng/paasng/platform/smart_app/services/detector.py
  apiserver/paasng/paasng/platform/smart_app/urls.py
  apiserver/paasng/paasng/platform/smart_app/views.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/paasng/utils/serializers.py
  apiserver/paasng/tests/api/assets/smart_app_image/app_desc.yaml.tmpl
  apiserver/paasng/tests/api/assets/smart_app_v2/app_desc.yaml.tmpl
  apiserver/paasng/tests/api/assets/smart_app_v3/app_desc.yaml.tmpl
  apiserver/paasng/tests/api/test_smart_app.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant_id to ESConfig and removing updates on every query
  apiserver/paasng/paasng/accessories/log/management/commands/init_es_config.py
  apiserver/paasng/paasng/accessories/log/management/commands/update_es_params.py
  apiserver/paasng/paasng/accessories/log/migrations/0007_elasticsearchconfig_tenant_id.py
  apiserver/paasng/paasng/accessories/log/models.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/accessories/log/shim/setup_elk.py
  apiserver/paasng/paasng/utils/error_codes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 进程操作优化 & lint (#1805)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/scale-dialog.vue
Due: none
