Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 修复云原生应用从源码构建时在未定义 app_desc.yaml 时不报错的问题 (#873)
  apiserver/paasng/paasng/platform/declarative/exceptions.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_building.py
Due: isort, black, flake8, mypy-apiserver

fix: parse user image credentials not from bk model but deprecated json_value
  apiserver/paasng/paasng/platform/bkapp_model/image.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/engine/deploy/start.py
  apiserver/paasng/paasng/platform/engine/serializers.py
  apiserver/paasng/paasng/platform/engine/views/deploy.py
  apiserver/paasng/paasng/platform/modules/models/build_cfg.py
Due: isort, black, flake8, mypy-apiserver

refactor: minor
  apiserver/paasng/paasng/platform/bkapp_model/image.py
  apiserver/paasng/paasng/platform/engine/configurations/image.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
Due: isort, black, flake8, mypy-apiserver

refactor: minor
  apiserver/paasng/paasng/platform/engine/configurations/image.py
Due: isort, black, flake8, mypy-apiserver

feat：日志采集，解决冲突
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/observability.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/alarm-strategy.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 接口路径处理，tab添加可观测性配置
  webfe/package_vue/src/store/modules/observability.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
Due: none

fix: 新建编辑逻辑处理以及数据结构调整
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/alarm-strategy.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
Due: none

fix: 获取自定义采集规则url
  webfe/package_vue/src/store/modules/observability.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
Due: none

fix: 日志采集添加采集规则名跳转链接，告警策略表格mock数据开发
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/alarm-strategy.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
Due: none

fix: 合并冲突
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/store/modules/alarm.js
  webfe/package_vue/src/store/modules/observability.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/alarm-strategy.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
Due: none

feat: 告警策略添加对应link
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/alarm-strategy.vue
Due: none

fix: 无数据tips优化，国际化
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/alarm-strategy.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
Due: none

fix: 切换模块时，选中当前tab
  webfe/package_vue/src/components/paas-module-bar.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

fix: 可观测性配置体验问题修复
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/alarm-strategy.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
Due: none

feat: 新建 lesscode 应用为云原生应用
  apiserver/paasng/paasng/plat_admin/system/applications.py
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/api/apigw/test_lesscode.py
  apiserver/paasng/tests/paasng/plat_admin/test_system.py
Due: isort, black, flake8, mypy-apiserver

模块配置-添加可观测性配置 (#883)
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/components/paas-module-bar.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/alarm.js
  webfe/package_vue/src/store/modules/observability.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/alarm-strategy.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

refactor: resolve review comments
  apiserver/paasng/paasng/platform/engine/configurations/image.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
Due: isort, black, flake8, mypy-apiserver

fix: parse user image credentials not from bk model but json_value (#882)
  apiserver/paasng/paasng/platform/engine/configurations/image.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/engine/deploy/start.py
  apiserver/paasng/paasng/platform/engine/serializers.py
  apiserver/paasng/paasng/platform/engine/views/deploy.py
  apiserver/paasng/paasng/platform/modules/models/build_cfg.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 ProcessSpecManageView 报错问题
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/proc_spec.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 ProcessSpecManageView 报错问题 (#885)
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/proc_spec.py
Due: isort, black, flake8, mypy-apiserver

fix: s-mart 应用镜像拉取地址直接使用配置值
  apiserver/paasng/paasng/extensions/smart_app/utils.py
Due: isort, black, flake8, mypy-apiserver

fix: s-mart 应用镜像拉取地址直接使用配置值 (#886)
  apiserver/paasng/paasng/extensions/smart_app/utils.py
Due: isort, black, flake8, mypy-apiserver

fix: 创建成功页面模块地址文案bug修复
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
Due: none

fix: 创建成功页面模块地址文案bug修复 (#887)
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
Due: none

fix：添加注释
  svc-rabbitmq/vendor/management/commands/reset_config_command.py
Due: isort, black, flake8

fix：migrate
  apiserver/paasng/paasng/accessories/log/migrations/0004_alter_customcollectorconfig_log_paths.py
Due: mypy-apiserver

Extend the expires of the source template to 4 hours
  apiserver/paasng/paas_wl/utils/kubestatus.py
  apiserver/paasng/paasng/platform/sourcectl/connector.py
Due: isort, black, flake8, mypy-apiserver

fix: 告警记录-告警名称宽度调整
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/alarm-record.vue
Due: none

fix: 告警记录-告警名称宽度调整 (#889)
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/alarm-record.vue
Due: none

Revert "fix: minor"
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/stages.py
Due: isort, black, flake8, mypy-apiserver

Revert "feat: 新建 lesscode 应用为云原生应用"
  apiserver/paasng/paasng/plat_admin/system/applications.py
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/api/apigw/test_lesscode.py
  apiserver/paasng/tests/paasng/plat_admin/test_system.py
Due: isort, black, flake8, mypy-apiserver

Extend the expires of the downloadable address of the source template to 4 hours (#888)
  apiserver/paasng/paas_wl/utils/kubestatus.py
  apiserver/paasng/paasng/platform/sourcectl/connector.py
Due: isort, black, flake8, mypy-apiserver

fix:namespace 不存在时，返回空数据
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
Due: isort, black, flake8, mypy-apiserver

fix:namespace 不存在时，返回空数据 (#890)
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
Due: isort, black, flake8, mypy-apiserver

feat: add nextStepDisabledTips
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/subpage.py
Due: isort, black, flake8, mypy-apiserver

feat: 修改路径
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

feat: 调整路径
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/app/engine/analysis/clound-index.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/event.vue
Due: none
