Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

feat: add fronted feature: APP_ACCESS_TOKEN (#1411)
  apiserver/paasng/paasng/misc/plat_config/views.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 k8s event 无 count 字段报错
  apiserver/paasng/paas_wl/workloads/event/kres_slzs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

update: 创建新令牌功能根据特性展示 # Reviewed, transaction id: 10231
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
Due: none

review # Reviewed, transaction id: 10234
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
Due: none

update: 创建新令牌功能根据特性展示 (#1412)
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
Due: none

fix(svc-otel): bKKRILL_ENCRYPT_SECRET_KEY can be set in env
  svc-otel/svc_otel/settings/default.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: bKKRILL_ENCRYPT_SECRET_KEY 为空时使用系统默认值
  svc-otel/svc_otel/settings/default.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: 修复 k8s event 无 count 字段报错 (#1409)
  apiserver/paasng/paas_wl/workloads/event/kres_slzs.py
  apiserver/paasng/tests/paas_wl/bk_app/event/test_reader.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 k8s event 可能缺少字段导致获取 event 报错
  apiserver/paasng/paas_wl/bk_app/processes/serializers.py
  apiserver/paasng/paas_wl/workloads/event/kres_slzs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 k8s event 可能缺少字段导致获取 event 报错 (#1414)
  apiserver/paasng/paas_wl/bk_app/processes/serializers.py
  apiserver/paasng/paas_wl/workloads/event/kres_slzs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix(svc-otel): bKKRILL_ENCRYPT_SECRET_KEY can be set in env (#1413)
  svc-otel/svc_otel/settings/default.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: pip<24.1
  apiserver/Dockerfile
Due: none

fix: 固定 pip 版本以兼容 celery 版本 (#1415)
  apiserver/Dockerfile
Due: none

refactor: remove print stmt
  apiserver/paasng/tests/conftest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: simplify env cluster mock related testing code
  apiserver/paasng/tests/api/apigw/test_log.py
  apiserver/paasng/tests/api/conftest.py
  apiserver/paasng/tests/api/test_cnative_migration.py
  apiserver/paasng/tests/api/test_log.py
  apiserver/paasng/tests/api/test_market.py
  apiserver/paasng/tests/api/test_market_config.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_addresses.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_resource.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/managers/test_subpath.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_domains.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_preallocated.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_subpaths.py
  apiserver/paasng/tests/paasng/accessories/publish/test_entrance.py
  apiserver/paasng/tests/paasng/accessories/servicehub/conftest.py
  apiserver/paasng/tests/paasng/accessories/servicehub/remote/test_manager.py
  apiserver/paasng/tests/paasng/accessories/servicehub/test_sharing.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paasng/platform/declarative/conftest.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/test_svc_disc.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v3/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/test_resources.py
  apiserver/paasng/tests/paasng/platform/engine/configurations/test_config_var.py
  apiserver/paasng/tests/paasng/platform/engine/configurations/test_ingress.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_building.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_release.py
  apiserver/paasng/tests/paasng/platform/engine/workflow/test_flow.py
  apiserver/paasng/tests/paasng/platform/mgrlegacy/test_service_migration.py
  apiserver/paasng/tests/paasng/platform/modules/test_helpers.py
  apiserver/paasng/tests/utils/cluster.py
  apiserver/paasng/tests/utils/mocks/cluster.py
  apiserver/paasng/tests/utils/mocks/engine.py
  apiserver/paasng/tests/utils/mocks/helper.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: simplify env cluster mock related testing code (#1407)
  apiserver/paasng/tests/api/apigw/test_log.py
  apiserver/paasng/tests/api/conftest.py
  apiserver/paasng/tests/api/test_cnative_migration.py
  apiserver/paasng/tests/api/test_log.py
  apiserver/paasng/tests/api/test_market.py
  apiserver/paasng/tests/api/test_market_config.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_addresses.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_resource.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/managers/test_subpath.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_domains.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_preallocated.py
  apiserver/paasng/tests/paasng/accessories/publish/entrance/test_subpaths.py
  apiserver/paasng/tests/paasng/accessories/publish/test_entrance.py
  apiserver/paasng/tests/paasng/accessories/servicehub/conftest.py
  apiserver/paasng/tests/paasng/accessories/servicehub/remote/test_manager.py
  apiserver/paasng/tests/paasng/accessories/servicehub/test_sharing.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paasng/platform/declarative/conftest.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/test_svc_disc.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v3/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/test_resources.py
  apiserver/paasng/tests/paasng/platform/engine/configurations/test_config_var.py
  apiserver/paasng/tests/paasng/platform/engine/configurations/test_ingress.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_building.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_release.py
  apiserver/paasng/tests/paasng/platform/engine/workflow/test_flow.py
  apiserver/paasng/tests/paasng/platform/mgrlegacy/test_service_migration.py
  apiserver/paasng/tests/paasng/platform/modules/test_helpers.py
  apiserver/paasng/tests/utils/cluster.py
  apiserver/paasng/tests/utils/mocks/cluster.py
  apiserver/paasng/tests/utils/mocks/engine.py
  apiserver/paasng/tests/utils/mocks/helper.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: EventSerializer 使用 get_items 获取字段
  apiserver/paasng/paas_wl/workloads/event/kres_slzs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add 1.5.0 changelog
  apiserver/paasng/changelog/en/V1.5.0_2024-06-21.md
  apiserver/paasng/changelog/zh-cn/V1.5.0_2024-06-21.md
Due: none

refactor: 持久存储特性接口区分集群不支持和应用特性未开启
  apiserver/paasng/paas_wl/bk_app/cnative/specs/urls.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 全局配置字段对接修改 # Reviewed, transaction id: 10396
  webfe/package_vue/index.dev.html
  webfe/package_vue/index.html
  webfe/package_vue/src/common/platform-config.js
  webfe/package_vue/src/components/paas-footer.vue
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/store/index.js
Due: none

fix: 全局配置字段对接修改 (#1418)
  webfe/package_vue/index.dev.html
  webfe/package_vue/index.html
  webfe/package_vue/src/common/platform-config.js
  webfe/package_vue/src/components/paas-footer.vue
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/store/index.js
Due: none

minor: resolve #1382 conversations
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

updata: 查看事件排版优化 # Reviewed, transaction id: 10417
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/event-detail.vue
Due: none

fix: 云原生应用的出口IP管理根据 FeatureFlag 控制用户是否可自己操作 # Reviewed, transaction id: 10429
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
Due: none

feat: add procCommand field to specVersion:3
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/declarative/application/validations/v3.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/modules/models/deploy_config.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/modules/models/deploy_config.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: fix
  apiserver/paasng/paasng/platform/bkapp_model/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: minor
  apiserver/paasng/paasng/platform/modules/models/deploy_config.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

update: 事件详情表格列宽度调整，事件类型添加条件筛选 # Reviewed, transaction id: 10452
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/event-detail.vue
Due: none

fix: 访问管理：如何配置域名解析提示文案有误导修复 # Reviewed, transaction id: 10457
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

minor: resolve #1382 conversations
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/evaluation/tasks.py
  apiserver/paasng/paasng/utils/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: apiserver support cnative application probes (#1382)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/bk_app/processes/models.py
  apiserver/paasng/paas_wl/bk_app/processes/shim.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0012_moduleprocessspec_probes.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/declarative/deployment/resources.py
  apiserver/paasng/paasng/platform/declarative/deployment/validations/v2.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/engine/deploy/release/legacy.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/paasng/platform/evaluation/tasks.py
  apiserver/paasng/paasng/utils/serializers.py
  apiserver/paasng/tests/api/test_bkapp_model.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/crd/bkapp_v1.yaml
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_models.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_processes.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_release.py
  apiserver/paasng/tests/paasng/test_utils/test_serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: fix
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_deployment.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: minor
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 日志平台创建索引时部分字段添加分词导致无法精确查询
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: minor
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/modules/models/deploy_config.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: SaaS 告警通知模版模版化
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/client.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rule_notice_tpl/notice_template.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/gcs_mysql_slow_query.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_bkrepo_quota_usage.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_cpu_usage.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_mem_usage.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_rabbitmq_queue_messages.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/oom_killed.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/pod_restart.yaml.j2
  apiserver/paasng/tests/paasng/misc/monitoring/alert_rules/conftest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add procCommand field to specVersion:3 (#1420)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/declarative/application/validations/v3.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/modules/models/deploy_config.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_deployment.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

update: 挂载卷->持久存储功能不可用需要区分是功能未开启，还是应用特性未开启
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/persistent-storage.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none
