Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

enhance: 使用 pytest-xdist 加速测试 (#449)
  apiserver/paasng/.coveragerc
  apiserver/paasng/Makefile
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/.gitignore
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/dev_resources/servicehub/remote/test_collector.py
  apiserver/paasng/tests/dev_resources/servicehub/remote/test_manager.py
  apiserver/paasng/tests/dev_resources/servicehub/remote/test_store.py
  apiserver/paasng/tests/dev_resources/servicehub/test_manager.py
  apiserver/paasng/tests/dev_resources/servicehub/test_sharing.py
  apiserver/paasng/tests/extensions/bk_plugins/test_apigw.py
  apiserver/paasng/tests/monitoring/test_alert.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/networking/egress/test_region.py
  apiserver/paasng/tests/plat_admin/test_numbers.py
  apiserver/paasng/tests/platform/mgrlegacy/conftest.py
  apiserver/paasng/tests/platform/mgrlegacy/test_service_migration.py
  apiserver/paasng/tests/platform/modules/test_manager.py
  apiserver/paasng/tests/platform/modules/test_models.py
  apiserver/paasng/tests/platform/oauth2/test_oauth_client.py
  apiserver/paasng/tests/publish/sync_market/test_sync_console.py
  apiserver/paasng/tests/sourcectl/packages/test_client.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: isort, black, flake8, mypy-apiserver

chore: rebase
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/app_rule.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/metric_label.py
  apiserver/paasng/tests/monitoring/test_metric_label.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复没有 gateway_name 时添加操作记录异常报错
  apiserver/paasng/paasng/dev_resources/cloudapi/views.py
Due: isort, black, flake8, mypy-apiserver

feat: 应用按部署时间排序
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
Due: isort, black, flake8, mypy-apiserver

feat: admin42 应用列表中展示资源配额
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/list_applications.html
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
Due: isort, black, flake8, mypy-apiserver

refactor: 应用资源使用量放到 redis 缓存中
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/list_applications.html
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/platform/applications/constants.py
  apiserver/paasng/paasng/platform/applications/tasks.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/core/storages/redisdb.py
Due: isort, black, flake8, mypy-apiserver

feat: 应用资源排序后放到内存中缓存
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/list_applications.html
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/platform/applications/utils.py
Due: isort, black, flake8, mypy-apiserver

feat: 资源总量需要按 target_replicas 计算
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
Due: isort, black, flake8, mypy-apiserver

fix: some k8s cluster return minor version endswith + (#455)
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/app_rule.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/metric_label.py
  apiserver/paasng/tests/monitoring/test_metric_label.py
Due: isort, black, flake8, mypy-apiserver

minor: 触发单测
  apiserver/paasng/Makefile
Due: none

feat: add addons spec in v1alpha2 (#422)
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/constants.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/constants.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/controllers/bkapp_controller_test.go
  operator/pkg/controllers/reconcilers/addons.go
  operator/pkg/controllers/reconcilers/addons_test.go
  operator/pkg/controllers/resources/configuration.go
  operator/pkg/controllers/resources/configuration_test.go
  operator/pkg/platform/external/addons.go
  operator/pkg/platform/external/addons_test.go
  operator/pkg/testing/bkapp.go
Due: operator-lint

fix: 删除小红点的问题
  webfe/package_vue/src/views/dev-center/create-app/default.scss
Due: none

fix: 复制环境变量有空格的bug
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
Due: none

fix: 修复点击下拉无反应bug (#454)
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
  webfe/package_vue/src/views/dev-center/create-app/default.scss
Due: none

fix: 云原生应用input高度统一， 模块切换下拉第一次点击无效修复
  webfe/package_vue/src/assets/css/components/patch.scss
  webfe/package_vue/src/components/paas-app-bar.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: tab切换抖动
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-event.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
Due: none

Wmh bug dev (#458)
  webfe/package_vue/src/assets/css/components/patch.scss
  webfe/package_vue/src/components/paas-app-bar.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-event.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: 修复 ingress v1 资源不支持移除路径末尾的反斜杠的问题
  apiserver/paasng/paas_wl/networking/ingress/entities/utils.py
  apiserver/paasng/paasng/settings/workloads.py
Due: isort, black, flake8, mypy-apiserver

minor: 调整注释
  apiserver/paasng/paas_wl/networking/ingress/entities/utils.py
  apiserver/paasng/paasng/settings/workloads.py
Due: isort, black, flake8, mypy-apiserver

minor: resolve #418 conversations
  apiserver/paasng/paas_wl/cnative/specs/migrations/0003_appmodeldeploy_polling_failure_count.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/cnative/specs/tasks.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 ingress v1 资源不支持移除路径末尾的反斜杠的问题 (#457)
  apiserver/paasng/paas_wl/networking/ingress/entities/utils.py
  apiserver/paasng/paasng/settings/workloads.py
Due: isort, black, flake8, mypy-apiserver

minor: update comments
  apiserver/paasng/paas_wl/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/cnative/specs/tasks.py
Due: isort, black, flake8, mypy-apiserver

fix: 应用切换秘钥重新获取
  webfe/package_vue/src/components/authentication-info.vue
Due: none

fix: 应用切换秘钥重新获取 (#459)
  webfe/package_vue/src/components/authentication-info.vue
Due: none

fix: rm sync_apigw_strategies cmd
  apiserver/init.sh
Due: none

feat: 添加扩容检验
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

feat: add AGGREGATE_SEARCH
  webfe/package_vue/src/components/paas-header.vue
Due: none

feat: 修复eslint 报错
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
Due: none

feat: add AGGREGATE_SEARCH (#461)
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
Due: none

fix: rm sync_apigw_strategies cmd (#460)
  apiserver/init.sh
Due: none

feat: add IAM_APP_SECRET to settigns
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

feat: add IAM_APP_SECRET to settings (#462)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

fix: cnative deploy status polling failed too fast (#418)
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/tasks.py
Due: isort, black, flake8, mypy-apiserver

feat: 完成扩缩容功能
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

feat: add validate annotations with BkApp name in webhook
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/constants.go
  operator/api/v1alpha2/names.go
  operator/api/v1alpha2/names_test.go
  operator/pkg/controllers/resources/names/names_test.go
Due: operator-lint

style: minor
  operator/api/v1alpha2/bkapp_webhook.go
Due: operator-lint

feat: 修复扩缩容问题
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: 基本信息-获取验证码切换优化，验证码icon对齐
  webfe/package_vue/src/components/authentication-info.vue
Due: none

feat: 修复体验问题
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: 蓝鲸插件通过 FeatureFlag 来展示
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
