Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 服务配置无方案添加指引、国际化翻译补充 # Reviewed, transaction id: 38285
  webfe/package_vue/src/language/lang/platform-management/en.js
  webfe/package_vue/src/language/lang/platform-management/zh.js
  webfe/package_vue/src/views/platform/services/service-config/index.vue
  webfe/package_vue/src/views/platform/services/service-config/services-sideslider.vue
  webfe/package_vue/src/views/platform/services/service-plan/index.vue
Due: none

Revert "fix: 修改环境变量后：提醒用户可直接通过镜像部署 (#2046)"
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-build.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
Due: none

Revert "fix: 修改环境变量后：提醒用户可直接通过镜像部署" (#2058)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-build.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
Due: none

refactor: remove create and update cluster function in admin42
  apiserver/paasng/paas_wl/apis/admin/serializers/clusters.py
  apiserver/paasng/paas_wl/apis/admin/urls.py
  apiserver/paasng/paas_wl/apis/admin/views/clusters.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/tests/paas_wl/infras/cluster/test_loader.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
Due: none

refactor: remove create and update cluster function in admin42 (#2060)
  apiserver/paasng/paas_wl/apis/admin/serializers/clusters.py
  apiserver/paasng/paas_wl/apis/admin/urls.py
  apiserver/paasng/paas_wl/apis/admin/views/clusters.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/tests/paas_wl/infras/cluster/test_loader.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

修改一些问题
  apiserver/paasng/paasng/plat_mgt/users/serializers.py
  apiserver/paasng/paasng/plat_mgt/users/urls.py
  apiserver/paasng/paasng/plat_mgt/users/views.py
  apiserver/paasng/tests/api/plat_mgt/users/test_users.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：环境变量变更添加部署指引 # Reviewed, transaction id: 38432
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-build.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
Due: none

feat: 平台管理-增强服务 (#2057)
  webfe/package_vue/package.json
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/platform-config.vue
  webfe/package_vue/src/json/platform-navigation-data.js
  webfe/package_vue/src/language/lang/platform-management/en.js
  webfe/package_vue/src/language/lang/platform-management/zh.js
  webfe/package_vue/src/router/platform.js
  webfe/package_vue/src/store/modules/tenant.js
  webfe/package_vue/src/views/platform/app-cluster/comps/cluster-select.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/cluster-transfer.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-components-sideslider.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/rules-cards.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/uniform-form.vue
  webfe/package_vue/src/views/platform/app-cluster/config.vue
  webfe/package_vue/src/views/platform/index.vue
  webfe/package_vue/src/views/platform/overview/index.vue
  webfe/package_vue/src/views/platform/services/index.vue
  webfe/package_vue/src/views/platform/services/service-config/index.vue
  webfe/package_vue/src/views/platform/services/service-config/service-list/create-edit-sideslider.vue
  webfe/package_vue/src/views/platform/services/service-config/service-list/index.vue
  webfe/package_vue/src/views/platform/services/service-config/services-sideslider.vue
  webfe/package_vue/src/views/platform/services/service-plan/index.vue
  webfe/package_vue/src/views/platform/services/service-plan/plan-detail-sideslider/base-info.vue
  webfe/package_vue/src/views/platform/services/service-plan/plan-detail-sideslider/edit-add-dilaog.vue
  webfe/package_vue/src/views/platform/services/service-plan/plan-detail-sideslider/index.vue
  webfe/package_vue/src/views/platform/services/service-plan/plan-detail-sideslider/resource-pool.vue
  webfe/package_vue/src/views/platform/services/service-plan/plan-sideslider.vue
  webfe/package_vue/src/views/platform/services/service-plan/tenant-select/index.vue
  webfe/package_vue/src/views/platform/services/service-plan/tenants-list.vue
  webfe/package_vue/src/views/platform/services/validators.js
Due: none

修改部分逻辑
  apiserver/paasng/paasng/misc/audit/migrations/0004_alter_adminoperationrecord_operation_and_more.py
  apiserver/paasng/paasng/misc/operations/migrations/0002_delete_applicationlatestop.py
  apiserver/paasng/paasng/plat_mgt/users/serializers.py
  apiserver/paasng/paasng/plat_mgt/users/urls.py
  apiserver/paasng/paasng/plat_mgt/users/views.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/plat_mgt/users/test_users.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

删除暂时不需要的迁移文件
  apiserver/paasng/paasng/misc/audit/migrations/0004_alter_adminoperationrecord_operation_and_more.py
  apiserver/paasng/paasng/misc/operations/migrations/0002_delete_applicationlatestop.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整
  apiserver/paasng/paas_wl/bk_app/addons/__init__.py
  apiserver/paasng/paas_wl/bk_app/addons/redis/__init__.py
  apiserver/paasng/paas_wl/bk_app/addons/redis/constants.py
  apiserver/paasng/paas_wl/bk_app/addons/redis/crd.py
  apiserver/paasng/paasng/accessories/services/providers/redis/controllers.py
  apiserver/paasng/paasng/accessories/services/providers/redis/manifests.py
  apiserver/paasng/tests/paasng/accessories/services/test_redis_manifests.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: initial_default_cluster command
  apiserver/paasng/paas_wl/infras/cluster/management/commands/initial_default_cluster.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

修改部分逻辑, 比如创建平台管理员的逻辑
  apiserver/paasng/paasng/plat_mgt/users/serializers.py
  apiserver/paasng/paasng/plat_mgt/users/urls.py
  apiserver/paasng/paasng/plat_mgt/users/views.py
  apiserver/paasng/tests/api/plat_mgt/users/test_users.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #2020 conversations
  cnb-builder-shim/cmd/build-init/main.go
  cnb-builder-shim/pkg/buildpack/types.go
Due: none

fix: admin42 buildpack, slugrunner, slugrunner ModelSLZ must exclude region field (#2051)
  apiserver/paasng/paasng/plat_admin/admin42/serializers/runtimes.py
  apiserver/paasng/paasng/plat_mgt/infras/services/serializers/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/services/serializers/services.py
  apiserver/paasng/paasng/plat_mgt/infras/services/views/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/services/views/services.py
  apiserver/paasng/paasng/platform/modules/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unittest
  apiserver/paasng/paas_wl/infras/cluster/management/commands/initial_default_cluster.py
  apiserver/paasng/tests/paas_wl/infras/cluster/test_commands.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 多租户 DisplayName 展示方案 # Reviewed, transaction id: 37994
  webfe/package_vue/.bk.production.env
  webfe/package_vue/index.html
  webfe/package_vue/package.json
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/main.js
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-history.vue
  webfe/package_vue/src/views/dev-center/app/operation-record/index.vue
  webfe/package_vue/src/views/dev-center/app/summary/comps/dynamic-state.vue
  webfe/package_vue/src/views/dev-center/home/home-content/recent-operation-records.vue
  webfe/package_vue/static/runtime/runtime.ce.js
  webfe/package_vue/static/runtime/runtime.ee.js
Due: none

fix: rename to _upsert_cluster_and_related_configs
  apiserver/paasng/paas_wl/infras/cluster/management/commands/initial_default_cluster.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 多租户概览开发v1.0
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/json/platform-navigation-data.js
  webfe/package_vue/src/router/platform.js
  webfe/package_vue/src/store/modules/tenant.js
  webfe/package_vue/src/views/platform/overview/components/icon-status.vue
  webfe/package_vue/src/views/platform/overview/index.vue
Due: none

feat: 增强服务配置跳转 # Reviewed, transaction id: 38627
  webfe/package_vue/src/views/platform/overview/index.vue
Due: none

feat: 支持租户名称搜索 # Reviewed, transaction id: 38649
  webfe/package_vue/src/views/platform/overview/index.vue
Due: none

feat: 平台管理-概览页面 (#2062)
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/json/platform-navigation-data.js
  webfe/package_vue/src/router/platform.js
  webfe/package_vue/src/store/modules/tenant.js
  webfe/package_vue/src/views/platform/overview/components/icon-status.vue
  webfe/package_vue/src/views/platform/overview/index.vue
Due: none

fix: cluster apis must provide credentials
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update check_k8s_accessible func
  apiserver/paasng/paasng/plat_mgt/infras/clusters/k8s.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #2064 conversations
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unittest
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

chore: squash
  operator/pkg/controllers/bkapp/deploy_action.go
  operator/pkg/controllers/bkapp/deploy_action_test.go
  operator/pkg/controllers/bkapp/hooks/hooks.go
  operator/pkg/controllers/bkapp/hooks/hooks_test.go
Due: operator-lint

fix: no longer support tar type buildpack
  cnb-builder-shim/cmd/build-init/main.go
  cnb-builder-shim/cmd/build-init/main_test.go
  cnb-builder-shim/pkg/buildpack/types.go
Due: none

docs: update README.md
  cloudnative-buildpacks/builders/heroku-builder/README.md
  cnb-builder-shim/cmd/build-init/main.go
Due: none

docs: update README.md
  cnb-builder-shim/README.md
Due: none

docs: update README.md
  cloudnative-buildpacks/builders/heroku-builder/heroku-22.toml
  cnb-builder-shim/README.md
Due: none

docs: update comments
  cnb-builder-shim/cmd/build-init/main.go
Due: none

feat: cnb remote buildpack (#2020)
  cloudnative-buildpacks/README.md
  cloudnative-buildpacks/builders/heroku-builder/Makefile
  cloudnative-buildpacks/builders/heroku-builder/README.md
  cloudnative-buildpacks/builders/heroku-builder/heroku-18.toml
  cloudnative-buildpacks/builders/heroku-builder/heroku-22.toml
  cloudnative-buildpacks/buildpacks/bk-buildpack-apt/Makefile
  cloudnative-buildpacks/buildpacks/bk-buildpack-go/Makefile
  cloudnative-buildpacks/buildpacks/bk-buildpack-nodejs/Makefile
  cloudnative-buildpacks/buildpacks/bk-buildpack-python/Makefile
  cnb-builder-shim/README.md
  cnb-builder-shim/cmd/build-init/main.go
  cnb-builder-shim/cmd/build-init/main_test.go
  cnb-builder-shim/cmd/dev-launcher/launch/launch.go
  cnb-builder-shim/pkg/buildpack/types.go
Due: none

feat: 添加查询平台管理员所属的租户id
  apiserver/paasng/paasng/plat_mgt/users/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: minor
  operator/pkg/controllers/bkapp/deploy_action.go
Due: operator-lint

修改 review 提出的相关问题
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
  apiserver/paasng/paasng/platform/engine/models/preset_envvars.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_env_vars.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: pr 评论修改
  apiserver/paasng/paasng/bk_plugins/bk_plugins/views.py
  apiserver/paasng/paasng/core/tenant/header.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/serializers/light_app.py
  apiserver/paasng/paasng/platform/applications/serializers/mixins.py
  apiserver/paasng/paasng/platform/applications/tenant.py
  apiserver/paasng/paasng/platform/applications/views/sys_api.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/core/tenant/header.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
