Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 沙箱根据环境决定当前协议 # Reviewed, transaction id: 23654
  webfe/package_vue/src/views/dev-center/sandbox/index.vue
Due: none

fix: 沙箱根据环境决定当前协议 # Reviewed, transaction id: 23655
  webfe/package_vue/src/views/dev-center/sandbox/index.vue
Due: none

fix: 沙箱根据环境决定当前协议 (#1725)
  webfe/package_vue/src/views/dev-center/sandbox/index.vue
Due: none

test: add unit test
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/quota.py
  apiserver/paasng/paas_wl/bk_app/processes/shim.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_resource.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/test_processes.py
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_managers.py
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_shim.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: fix
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_resource.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 云原生替换 processes/list 接口中对外层 cpu_limit/memory_limit 字段 & 格式化
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix：应用统一翻译为 APP # Reviewed, transaction id: 23712
  webfe/package_vue/src/language/lang/en.js
Due: none

refactor: minor
  apiserver/paasng/paas_wl/bk_app/processes/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: add check settings.IS_ALLOW_CREATE_BK_PLUGIN_APP and move code about plugin to bk_plugin.bk
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/plat_admin/admin42/views/bk_plugins.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 饼图展示调整 (#1727)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/home/app-overview/index.vue
Due: none

fix: minor
  apiserver/paasng/paas_wl/bk_app/processes/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 饼图展示调整 (#1727) # Reviewed, transaction id: 23811
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/home/app-overview/index.vue
Due: none

fix: do validate svc discovery redundantly
  apiserver/paasng/paasng/platform/bkapp_model/serializers/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: Smart 应用上传包时，增强服务的样式调整 & Code Formatt # Reviewed, transaction id: 23833
  webfe/package_vue/src/components/uploader/index.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/packages/index.vue
  webfe/package_vue/src/views/dev-center/create-app/smart.vue
Due: none

fix: Smart 应用上传包时，增强服务的样式调整 & Code Formatt (#1730)
  webfe/package_vue/src/components/uploader/index.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/packages/index.vue
  webfe/package_vue/src/views/dev-center/create-app/smart.vue
Due: none

fix: make is_user_plugin_admin as helper function
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/plat_admin/admin42/views/bk_plugins.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: improve the proc_env_overlays module
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/proc_env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/managers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: do validate svc discovery redundantly (#1729)
  apiserver/paasng/paasng/platform/bkapp_model/serializers/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 模块顺序表保留 module 去掉 module_name
  apiserver/paasng/paasng/misc/audit/migrations/0003_auto_20241105_1828.py
  apiserver/paasng/paasng/platform/applications/migrations/0013_applicationdeploymentmoduleorder.py
  apiserver/paasng/paasng/platform/applications/migrations/0013_applicationdeploymentmoduleorderrecord_and_more.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 取消插件管理员 delete 合并到 post
  apiserver/paasng/paasng/plat_admin/admin42/serializers/bk_plugins.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/bk_plugins.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: not show add admin panel, if plugin instance not exist
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/plat_admin/admin42/views/bk_plugins.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: simplify the declarative controller module to always use import functions
  apiserver/paasng/paasng/platform/bkapp_model/entities/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/v1alpha2.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/env_vars.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/fields.py
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/declarative/deployment/process_probe.py
  apiserver/paasng/paasng/platform/declarative/deployment/validations/v2.py
  apiserver/paasng/paasng/platform/declarative/models.py
  apiserver/paasng/paasng/platform/engine/configurations/preset_envvars.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_env_vars.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_hooks.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_importer.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v3/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v2/test_probes.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_probes.py
  apiserver/paasng/tests/paasng/platform/engine/configurations/test_preset_envvars.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add golang framework when init data
  apiserver/paasng/fixtures/template.yaml
Due: none

fix: 日志中处理特殊字符
  webfe/package_vue/src/views/dev-center/sandbox/comps/log-card.vue
Due: none

fix: 沙箱 detail 拿到的接口，都延后 1s 访问、多页面访问沙箱删除操作处理 # Reviewed, transaction id: 24066
  webfe/package_vue/src/views/dev-center/sandbox/comps/password-request-dialog.vue
  webfe/package_vue/src/views/dev-center/sandbox/index.vue
Due: none

fix: minor
  svc-bkrepo/README.md
  svc-mysql/README.md
Due: none

docs: 增强服务本地开发文档 (#1700)
  docs/resource/img/svc_spec.png
  svc-bkrepo/README.md
  svc-mysql/README.md
  svc-otel/README.md
  svc-rabbitmq/README.md
Due: none

feat: user could add or remove admin role of plugin in app overview page in admin42 (#1698)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/bk_plugins.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/plat_admin/admin42/views/bk_plugins.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: pymysql 1.1.1+ no longer need patch
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: rename parameter in sync_processes function for clarity
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: simplify the declarative controller module to always use import functions (#1731)
  apiserver/paasng/paasng/platform/bkapp_model/entities/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/v1alpha2.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/env_vars.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/fields.py
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/declarative/deployment/process_probe.py
  apiserver/paasng/paasng/platform/declarative/deployment/validations/v2.py
  apiserver/paasng/paasng/platform/declarative/models.py
  apiserver/paasng/paasng/platform/engine/configurations/preset_envvars.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_env_vars.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_hooks.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_importer.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v3/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v2/test_probes.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_probes.py
  apiserver/paasng/tests/paasng/platform/engine/configurations/test_preset_envvars.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #1732 conversations
  apiserver/paasng/fixtures/template.yaml
Due: none

feat: add golang framework when init data (#1732)
  apiserver/paasng/fixtures/template.yaml
Due: none

feat: add requestID in bk-log collect fields
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: pymysql 1.1.1+ no longer need patch (#1733)
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: let sync_processes respect the management status of "replicas" and "autoscaling" fields
  apiserver/paasng/paas_wl/bk_app/processes/views.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/fields.py
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/deployment/resources.py
  apiserver/paasng/paasng/platform/declarative/deployment/validations/v2.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_processes.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_importer.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add requestID in bk-log collect fields (#1735)
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: implement MultiFieldsManager for batch management of field managers
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/fieldmgr/managers.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/fieldmgr/test_managers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: resolve review comments
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/quota.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
  apiserver/paasng/paas_wl/bk_app/deploy/actions/archive.py
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paas_wl/bk_app/processes/processes.py
  apiserver/paasng/paas_wl/bk_app/processes/shim.py
  apiserver/paasng/paas_wl/bk_app/processes/views.py
  apiserver/paasng/paasng/accessories/app_secret/utilts.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/proc_spec.py
  apiserver/paasng/paasng/plat_admin/admin_cli/deploy.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_wait/wait_deployment.py
  apiserver/paasng/paasng/platform/engine/deploy/release/legacy.py
  apiserver/paasng/paasng/platform/engine/processes/views.py
  apiserver/paasng/paasng/platform/engine/views/release.py
  apiserver/paasng/paasng/platform/evaluation/collectors/resource.py
  apiserver/paasng/paasng/platform/mgrlegacy/views.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_resource.py
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_processes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: don't restart hook pod after execute error (#1709)
  operator/controllers/base/reconcilers.go
  operator/pkg/controllers/bkapp/hooks/hooks.go
  operator/pkg/controllers/bkapp/hooks/hooks_test.go
Due: operator-lint

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
