Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

feat: modifying the naming rules of BkApp to support the multi-module… (#471)
  apiserver/paasng/paas_wl/cnative/specs/addresses.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/procs/replicas.py
  apiserver/paasng/paas_wl/cnative/specs/resource.py
  apiserver/paasng/paas_wl/platform/applications/models/app.py
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_rabbitmq_queue_messages.yaml.j2
  apiserver/paasng/paasng/platform/modules/constants.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/paas_wl/cnative/specs/procs/test_replicas.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_models.py
  operator/api/v1alpha2/bkapp_webhook.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

refactor: update high rabbitmq queue messages alert rule
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_rabbitmq_queue_messages.yaml.j2
Due: none

refactor: update high rabbitmq queue messages alert rule (#490)
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_rabbitmq_queue_messages.yaml.j2
Due: none

bugfix: 修复镜像部署分支在非中文环境下部署异常的问题
  apiserver/paasng/paasng/engine/deploy/bg_command/pre_release.py
  apiserver/paasng/paasng/engine/deploy/image_release.py
  apiserver/paasng/paasng/engine/deploy/release/legacy.py
  apiserver/paasng/paasng/engine/deploy/release/operator.py
Due: isort, black, flake8, mypy-apiserver

enhance: 提高 Release 阶段的鲁棒性
  apiserver/paasng/paasng/engine/deploy/bg_wait/wait_bkapp.py
  apiserver/paasng/paasng/engine/deploy/release/legacy.py
  apiserver/paasng/paasng/engine/deploy/release/operator.py
Due: isort, black, flake8, mypy-apiserver

fix: end reconcile when addon provision failed
  operator/pkg/controllers/reconcilers/addons.go
  operator/pkg/controllers/reconcilers/addons_test.go
Due: operator-lint

mionr
  apiserver/paasng/paasng/engine/deploy/bg_wait/wait_bkapp.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复镜像部署分支在非中文环境下部署异常的问题 (#491)
  apiserver/paasng/paasng/engine/deploy/bg_command/pre_release.py
  apiserver/paasng/paasng/engine/deploy/bg_wait/wait_bkapp.py
  apiserver/paasng/paasng/engine/deploy/image_release.py
  apiserver/paasng/paasng/engine/deploy/release/legacy.py
  apiserver/paasng/paasng/engine/deploy/release/operator.py
Due: isort, black, flake8, mypy-apiserver

fix: end reconcile explicitly when addon provision failed (#492)
  operator/pkg/controllers/reconcilers/addons.go
  operator/pkg/controllers/reconcilers/addons_test.go
Due: operator-lint

feat: enable paas-analysis in helm charts
  operator/config/manager/controller_manager_config.yaml
  operator/scripts/update_helm_chart.py
Due: isort, black, flake8, operator-lint

feat: enable paas-analysis in helm charts (#493)
  operator/config/manager/controller_manager_config.yaml
  operator/scripts/update_helm_chart.py
Due: isort, black, flake8, operator-lint

refactor: 重构运行时的绑定模型
  apiserver/paasng/paasng/engine/configurations/building.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/runtime.py
  apiserver/paasng/paasng/platform/modules/constants.py
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/platform/modules/management/commands/bind_runtime.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/migrations/0007_module_runtime_type.py
  apiserver/paasng/paasng/platform/modules/migrations/0008_buildconfig.py
  apiserver/paasng/paasng/platform/modules/migrations/0009_auto_20230530_1613.py
  apiserver/paasng/paasng/platform/modules/models/__init__.py
  apiserver/paasng/paasng/platform/modules/models/deploy_config.py
  apiserver/paasng/paasng/platform/modules/models/runtime.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/tests/platform/modules/test_helpers.py
  apiserver/paasng/tests/platform/modules/test_views.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/platform/modules/migrations/0008_buildconfig.py
  apiserver/paasng/paasng/platform/modules/migrations/0009_auto_20230530_1613.py
  apiserver/paasng/paasng/platform/modules/models/deploy_config.py
Due: isort, black, flake8, mypy-apiserver

feature: 实现 BuildConfig 的相关功能
  apiserver/paasng/paasng/engine/configurations/building.py
  apiserver/paasng/paasng/engine/configurations/image.py
Due: isort, black, flake8, mypy-apiserver

minor: 添加对 VersionInfo 的注释
  apiserver/paasng/paasng/dev_resources/sourcectl/models.py
Due: isort, black, flake8, mypy-apiserver

fix migration
  apiserver/paasng/paasng/platform/modules/migrations/0009_auto_20230530_1613.py
Due: mypy-apiserver

refactor: 调整 update_image_runtime_config 的参数
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/paasng/engine/deploy/bg_command/pre_release.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/deploy/image_release.py
  apiserver/paasng/paasng/engine/deploy/release/legacy.py
  apiserver/paasng/tests/engine/configurations/test_image.py
  apiserver/paasng/tests/engine/deploy/bg_build/test_bg_build.py
  apiserver/paasng/tests/paas_wl/deploy/test_engine_svc.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/tests/engine/setup_utils.py
Due: isort, black, flake8, mypy-apiserver

refactor: increase DEFAULT_PROC_SPEC_PLANS mem requests
  apiserver/paasng/paasng/settings/workloads.py
Due: isort, black, flake8, mypy-apiserver

feature: 新的运行时信息(构建配置)模型 (#484)
  apiserver/paasng/paasng/dev_resources/sourcectl/models.py
  apiserver/paasng/paasng/engine/configurations/building.py
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/paasng/engine/deploy/bg_command/pre_release.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/deploy/image_release.py
  apiserver/paasng/paasng/engine/deploy/release/legacy.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/runtime.py
  apiserver/paasng/paasng/platform/modules/constants.py
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/platform/modules/management/commands/bind_runtime.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/migrations/0007_module_runtime_type.py
  apiserver/paasng/paasng/platform/modules/migrations/0008_buildconfig.py
  apiserver/paasng/paasng/platform/modules/migrations/0009_auto_20230530_1613.py
  apiserver/paasng/paasng/platform/modules/models/__init__.py
  apiserver/paasng/paasng/platform/modules/models/deploy_config.py
  apiserver/paasng/paasng/platform/modules/models/runtime.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/tests/engine/configurations/test_image.py
  apiserver/paasng/tests/engine/deploy/bg_build/test_bg_build.py
  apiserver/paasng/tests/engine/setup_utils.py
  apiserver/paasng/tests/paas_wl/deploy/test_engine_svc.py
  apiserver/paasng/tests/platform/modules/test_helpers.py
  apiserver/paasng/tests/platform/modules/test_views.py
Due: isort, black, flake8, mypy-apiserver

fix: 插件日志查询接口支持以 POST 请求传递参数
  apiserver/paasng/paasng/extensions/bk_plugins/urls.py
  apiserver/paasng/paasng/extensions/bk_plugins/views.py
  apiserver/paasng/paasng/platform/modules/migrations/0009_auto_20230530_1613.py
Due: isort, black, flake8, mypy-apiserver

fix: 插件日志查询接口支持以 POST 请求传递参数 (#495)
  apiserver/paasng/paasng/extensions/bk_plugins/urls.py
  apiserver/paasng/paasng/extensions/bk_plugins/views.py
  apiserver/paasng/paasng/platform/modules/migrations/0009_auto_20230530_1613.py
Due: isort, black, flake8, mypy-apiserver

fix: modify eslintrc
  webfe/package_vue/.eslintrc.js
Due: none

refactor: increase DEFAULT_PROC_SPEC_PLANS mem requests (#494)
  apiserver/paasng/paasng/settings/workloads.py
Due: isort, black, flake8, mypy-apiserver

feat: 调整应用市场ui
  webfe/package_vue/.eslintrc.js
  webfe/package_vue/src/views/dev-center/app/market/index.scss
  webfe/package_vue/src/views/dev-center/app/market/index.vue
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
Due: none

feat: 修改应用市场ui
  webfe/package_vue/src/assets/css/pages/overview.scss
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/views/dev-center/app/market/index.scss
  webfe/package_vue/src/views/dev-center/app/market/index.vue
  webfe/package_vue/src/views/dev-center/app/market/market-info.vue
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
Due: none

feat: bkpaas-cli support ce version
  bkpaas-cli/pkg/account/account.go
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/handler/retrieve_test.go
  bkpaas-cli/pkg/model/info.go
Due: none

feat: bkpaas-cli support ce version (#497)
  bkpaas-cli/pkg/account/account.go
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/handler/retrieve_test.go
  bkpaas-cli/pkg/model/info.go
Due: none

feat: support monitor rules for cnative app
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/oom_killed.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/__init__.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/app_rule.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/constants.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/generator.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/manager.py
  apiserver/paasng/paasng/monitoring/monitor/urls.py
  apiserver/paasng/paasng/monitoring/monitor/views.py
  apiserver/paasng/tests/monitoring/alert_rules/conftest.py
  apiserver/paasng/tests/monitoring/alert_rules/test_api.py
  apiserver/paasng/tests/monitoring/alert_rules/test_manager.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复 Build 模型扩展后导致 delete_slug 脚本异常的问题
  apiserver/paasng/paas_wl/platform/applications/management/commands/delete_slug.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复 Build 模型扩展后导致 delete_slug 脚本异常的问题 (#499)
  apiserver/paasng/paas_wl/platform/applications/management/commands/delete_slug.py
Due: isort, black, flake8, mypy-apiserver

feat: register refresh alert rules signals
  apiserver/paasng/paasng/engine/deploy/bg_wait/wait_bkapp.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/handlers.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/manager.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/tasks.py
  apiserver/paasng/paasng/monitoring/monitor/apps.py
  apiserver/paasng/paasng/monitoring/monitor/models.py
  apiserver/paasng/tests/monitoring/alert_rules/test_manager.py
Due: isort, black, flake8, mypy-apiserver

chore: minor
  apiserver/paasng/paasng/engine/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 整体风格修改
  webfe/package_vue/src/assets/css/pages/overview.scss
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/paas-app-nav.vue
Due: none

fix: 修改ui规范
  webfe/package_vue/src/assets/css/pages/overview.scss
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/paas-app-bar.vue
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
  webfe/package_vue/src/views/dev-center/app/summary/engineless-overview.vue
  webfe/package_vue/src/views/dev-center/app/summary/overview.scss
Due: none

feat: BkAppResource support v1alpha2
  apiserver/paasng/paas_wl/cnative/specs/addresses.py
  apiserver/paasng/paas_wl/cnative/specs/configurations.py
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/crd/__init__.py
  apiserver/paasng/paas_wl/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/cnative/specs/crd/domain_group_mapping.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/procs/differ.py
  apiserver/paasng/paas_wl/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/cnative/specs/procs/quota.py
  apiserver/paasng/paas_wl/cnative/specs/procs/replicas.py
  apiserver/paasng/paas_wl/cnative/specs/resource.py
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/tests/api/apigw/test_cnative.py
  apiserver/paasng/tests/paas_wl/cnative/specs/crd/bkapp_v1.yaml
  apiserver/paasng/tests/paas_wl/cnative/specs/procs/test_quota.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_configurations.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_models.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_resource.py
  apiserver/paasng/tests/paas_wl/cnative/specs/utils.py
Due: isort, black, flake8, mypy-apiserver

fix：eslint 修改 (#496)
  webfe/package_vue/.eslintrc.js
  webfe/package_vue/bk.config.js
  webfe/package_vue/build/dev-server.js
  webfe/package_vue/config/dev.env.js
  webfe/package_vue/config/prod.env.js
  webfe/package_vue/pre-task-plugin.js
  webfe/package_vue/src/api/cached-promise.js
  webfe/package_vue/src/api/request-queue.js
  webfe/package_vue/src/common/debounce.js
  webfe/package_vue/src/common/tools.js
  webfe/package_vue/src/components/user-selector/request.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/store/modules/analysis.js
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/store/modules/packages.js
  webfe/package_vue/src/store/modules/plugin-members.js
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/alarm-record.vue
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/index.vue
  webfe/package_vue/static/js/bklogout.ce.js
  webfe/package_vue/static/js/bklogout.ee.js
Due: none

feat: 修改整体布局
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/views/dev-center/app/access-ctl/by-user.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-layout.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/module-manage.vue
  webfe/package_vue/src/views/dev-center/app/docu-management/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/comps/analysis.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/event.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/log.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/web.vue
  webfe/package_vue/src/views/dev-center/app/engine/code-review/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/index.vue
  webfe/package_vue/src/views/dev-center/app/market/mobile-market.vue
  webfe/package_vue/src/views/dev-center/app/services/category.vue
  webfe/package_vue/src/views/dev-center/app/summary/comps/overview-top-info.vue
  webfe/package_vue/src/views/dev-center/app/summary/default-overview.vue
Due: none

minor: update golang buildpack
  apiserver/init.sh
Due: none

minor: update golang buildpack (#502)
  apiserver/init.sh
Due: none
