Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

修改api测试以保证返回有效 description
  apiserver/paasng/tests/api/test_configvar_preset.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 多租户人员选择器 # Reviewed, transaction id: 38797
  webfe/package_vue/package.json
  webfe/package_vue/src/components/user/index.vue
  webfe/package_vue/src/main.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
Due: none

fix: app_tenant_mode
  apiserver/paasng/paasng/platform/applications/views/sys_api.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 非多租户模式下设置租户默认值
  apiserver/paasng/paasng/platform/applications/serializers/mixins.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 成员管理-搜索统一为人员选择器 # Reviewed, transaction id: 38808
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
Due: none

fix: incorrectly read hook starttime from last hook instance sometimes (#2063)
  operator/pkg/controllers/bkapp/deploy_action.go
  operator/pkg/controllers/bkapp/deploy_action_test.go
  operator/pkg/controllers/bkapp/hooks/hooks.go
  operator/pkg/controllers/bkapp/hooks/hooks_test.go
Due: operator-lint

refactor: initial_default_cluster command (#2061)
  apiserver/paasng/paas_wl/infras/cluster/management/commands/initial_default_cluster.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paas_wl/infras/cluster/test_commands.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: cluster es cfg update logic
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

捕获错误并展示具体的错误信息
  apiserver/paasng/paasng/platform/declarative/application/controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add AppTenantMixin
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/serializers/light_app.py
  apiserver/paasng/paasng/platform/applications/serializers/mixins.py
  apiserver/paasng/paasng/platform/applications/views/sys_api.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

更改数据库迁移文件
  apiserver/paasng/paasng/platform/engine/migrations/0025_alter_presetenvvariable_unique_together_and_more.py
  apiserver/paasng/paasng/platform/engine/migrations/0025_presetenvvariable_description.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

删除冗余的字段描述
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复创建轻应用\第三方应用获取租户 ID 异常问题 (#2050)
  apiserver/paasng/paasng/bk_plugins/bk_plugins/views.py
  apiserver/paasng/paasng/core/tenant/header.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/serializers/light_app.py
  apiserver/paasng/paasng/platform/applications/serializers/mixins.py
  apiserver/paasng/paasng/platform/applications/tenant.py
  apiserver/paasng/paasng/platform/applications/views/sys_api.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 在开发者中心的平台管理中增加用户管理 (#2042)
  apiserver/paasng/paasng/plat_mgt/users/__init__.py
  apiserver/paasng/paasng/plat_mgt/users/serializers.py
  apiserver/paasng/paasng/plat_mgt/users/urls.py
  apiserver/paasng/paasng/plat_mgt/users/views.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/plat_mgt/users/__init__.py
  apiserver/paasng/tests/api/plat_mgt/users/test_users.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: cluster apis must provide credentials (#2064)
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/k8s.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 多租户 DisplayName 展示方案 (#2059)
  webfe/package_vue/.bk.production.env
  webfe/package_vue/index.html
  webfe/package_vue/package.json
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/components/user/index.vue
  webfe/package_vue/src/main.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-history.vue
  webfe/package_vue/src/views/dev-center/app/operation-record/index.vue
  webfe/package_vue/src/views/dev-center/app/summary/comps/dynamic-state.vue
  webfe/package_vue/src/views/dev-center/home/home-content/recent-operation-records.vue
  webfe/package_vue/static/runtime/runtime.ce.js
  webfe/package_vue/static/runtime/runtime.ee.js
Due: none

添加系统api用户创建时显示角色列表的api
  apiserver/paasng/paasng/plat_mgt/users/serializers.py
  apiserver/paasng/paasng/plat_mgt/users/urls.py
  apiserver/paasng/paasng/plat_mgt/users/views.py
  apiserver/paasng/tests/api/plat_mgt/users/test_users.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 未开启多租户是,应用的租户新增设置为 single(default)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/migrations/0026_operationrecord_tenant_id_pluginconfig_tenant_id_and_more.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/core/tenant/utils.py
  apiserver/paasng/paasng/plat_admin/system/applications.py
  apiserver/paasng/paasng/platform/applications/management/commands/create_3rd_party_apps.py
  apiserver/paasng/paasng/platform/applications/migrations/0015_application_app_tenant_id_and_more.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/serializers/mixins.py
  apiserver/paasng/paasng/platform/applications/tenant.py
  apiserver/paasng/paasng/platform/applications/views/sys_api.py
  apiserver/paasng/paasng/platform/smart_app/management/commands/smart_tool.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: rm AppTenantConf
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/declarative/application/resources.py
  apiserver/paasng/paasng/platform/declarative/handlers.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v3/test_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

添加查找用户特性种类的api
  apiserver/paasng/paasng/plat_mgt/users/serializers.py
  apiserver/paasng/paasng/plat_mgt/users/urls.py
  apiserver/paasng/paasng/plat_mgt/users/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

更改添加api测试
  apiserver/paasng/paasng/plat_mgt/users/urls.py
  apiserver/paasng/tests/api/plat_mgt/users/test_users.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 添加查询系统api用户的权限种类和用户特性种类的api (#2066)
  apiserver/paasng/paasng/plat_mgt/users/serializers.py
  apiserver/paasng/paasng/plat_mgt/users/urls.py
  apiserver/paasng/paasng/plat_mgt/users/views.py
  apiserver/paasng/tests/api/plat_mgt/users/test_users.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unitest
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: resolve review comments
  .gitignore
  smart-app-builder/.gitignore
  smart-app-builder/Makefile
  smart-app-builder/README.md
  smart-app-builder/cmd/main.go
  smart-app-builder/docker-build/dind.Dockerfile
  smart-app-builder/docker-build/pind.Dockerfile
  smart-app-builder/pkg/appdesc/appdesc_suite_test.go
  smart-app-builder/pkg/appdesc/desc.go
  smart-app-builder/pkg/appdesc/desc_test.go
  smart-app-builder/pkg/appdesc/v2/v2.go
  smart-app-builder/pkg/appdesc/v2/v2_suite_test.go
  smart-app-builder/pkg/appdesc/v2/v2_test.go
  smart-app-builder/pkg/appdesc/v3/v3.go
  smart-app-builder/pkg/appdesc/v3/v3_suite_test.go
  smart-app-builder/pkg/appdesc/v3/v3_test.go
  smart-app-builder/pkg/buildconfig/buildconfig.go
  smart-app-builder/pkg/buildconfig/buildpacks.go
  smart-app-builder/pkg/builder/builder.go
  smart-app-builder/pkg/builder/container/container.go
  smart-app-builder/pkg/builder/container/container_suite_test.go
  smart-app-builder/pkg/builder/container/dind.go
  smart-app-builder/pkg/builder/container/dind_test.go
  smart-app-builder/pkg/builder/container/pind.go
  smart-app-builder/pkg/builder/container/pind_test.go
  smart-app-builder/pkg/builder/container/utils.go
  smart-app-builder/pkg/builder/container/utils_test.go
  smart-app-builder/pkg/builder/handler/container/container.go
  smart-app-builder/pkg/builder/handler/handler.go
  smart-app-builder/pkg/config/config.go
  smart-app-builder/pkg/plan/plan.go
  smart-app-builder/pkg/plan/plan_suite_test.go
  smart-app-builder/pkg/plan/plan_test.go
  smart-app-builder/pkg/utils/archive.go
  smart-app-builder/pkg/utils/exec.go
Due: none

ci: add lint
  .pre-commit-config.yaml
  smart-app-builder/Makefile
  smart-app-builder/pkg/config/config.go
Due: none

refactor: rename container package to executor
  smart-app-builder/cmd/main.go
  smart-app-builder/pkg/builder/builder.go
  smart-app-builder/pkg/builder/executor/container.go
  smart-app-builder/pkg/builder/executor/dind.go
  smart-app-builder/pkg/builder/executor/dind_test.go
  smart-app-builder/pkg/builder/executor/executor_suite_test.go
  smart-app-builder/pkg/builder/executor/pind.go
  smart-app-builder/pkg/builder/executor/pind_test.go
  smart-app-builder/pkg/builder/executor/utils.go
  smart-app-builder/pkg/builder/executor/utils_test.go
Due: none

refactor: minor
  smart-app-builder/pkg/builder/builder.go
Due: none

fix: 集群管理页面：集群 Token、ES 密码等可以在页面上查看 # Reviewed, transaction id: 38948
  webfe/package_vue/src/components/sensitive-text/index.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/comps/config-input.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/select-cluster/index.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-info.vue
Due: none

feat: pr 评论修改
  apiserver/paasng/paasng/core/tenant/utils.py
  apiserver/paasng/paasng/plat_admin/system/applications.py
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/platform/applications/serializers/mixins.py
  apiserver/paasng/paasng/platform/smart_app/management/commands/smart_tool.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

修改为验证配置中 shared_from 的合法性
  apiserver/paasng/paasng/platform/declarative/application/validations/v2.py
  apiserver/paasng/paasng/platform/declarative/application/validations/v3.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v2/test_validations.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v3/test_validations.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

删除在控制层中的错误捕获
  apiserver/paasng/paasng/platform/declarative/application/controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 优化 validate_app_tenant_info
  apiserver/paasng/paasng/core/tenant/utils.py
  apiserver/paasng/paasng/platform/applications/management/commands/create_3rd_party_apps.py
  apiserver/paasng/paasng/platform/applications/serializers/mixins.py
  apiserver/paasng/paasng/platform/smart_app/management/commands/smart_tool.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add ClusterAppImageRegistry
  apiserver/paasng/paas_wl/bk_app/applications/models/build.py
  apiserver/paasng/paas_wl/infras/cluster/entities.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0022_clusterappimageregistry.py
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paas_wl/infras/cluster/utils.py
  apiserver/paasng/paas_wl/workloads/images/kres_entities.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/paasng/platform/engine/configurations/image.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
  apiserver/paasng/tests/api/plat_mgt/infras/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/applications/models/test_build.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove build cfg dialog when create app
  apiserver/paasng/paasng/platform/templates/manager.py
  apiserver/paasng/paasng/platform/templates/urls.py
  apiserver/paasng/paasng/platform/templates/views.py
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: remove useless unittest
  apiserver/paasng/tests/api/test_templates.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

修改系统api的字段为name
  apiserver/paasng/paasng/plat_mgt/users/serializers.py
  apiserver/paasng/paasng/plat_mgt/users/urls.py
  apiserver/paasng/paasng/plat_mgt/users/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove build cfg dialog when create app (#2068)
  apiserver/paasng/paasng/platform/templates/manager.py
  apiserver/paasng/paasng/platform/templates/urls.py
  apiserver/paasng/paasng/platform/templates/views.py
  apiserver/paasng/tests/api/test_templates.py
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: add module process entrypoints in artifact.json file
  smart-app-builder/go.mod
  smart-app-builder/go.sum
  smart-app-builder/pkg/appdesc/desc.go
  smart-app-builder/pkg/appdesc/desc_test.go
  smart-app-builder/pkg/appdesc/v2/v2.go
  smart-app-builder/pkg/appdesc/v2/v2_test.go
  smart-app-builder/pkg/appdesc/v3/v3.go
  smart-app-builder/pkg/appdesc/v3/v3_test.go
  smart-app-builder/pkg/builder/executor/container.go
  smart-app-builder/pkg/builder/executor/utils.go
  smart-app-builder/pkg/builder/executor/utils_test.go
  smart-app-builder/pkg/config/config.go
  smart-app-builder/pkg/plan/plan.go
  smart-app-builder/pkg/plan/plan_test.go
Due: none

fix: 3 版本的app_desc.yaml 不支持环境变量的 description (#2055)
  apiserver/paasng/paasng/platform/bkapp_model/entities/env_vars.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/env_vars.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
  apiserver/paasng/paasng/platform/engine/migrations/0025_presetenvvariable_description.py
  apiserver/paasng/paasng/platform/engine/models/preset_envvars.py
  apiserver/paasng/tests/api/test_configvar_preset.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_env_vars.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 未开启多租户时,应用的租户设置为 single(default) (#2067)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/migrations/0026_operationrecord_tenant_id_pluginconfig_tenant_id_and_more.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/core/tenant/utils.py
  apiserver/paasng/paasng/plat_admin/system/applications.py
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/platform/applications/management/commands/create_3rd_party_apps.py
  apiserver/paasng/paasng/platform/applications/migrations/0015_application_app_tenant_id_and_more.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/serializers/mixins.py
  apiserver/paasng/paasng/platform/applications/tenant.py
  apiserver/paasng/paasng/platform/applications/views/sys_api.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/declarative/application/resources.py
  apiserver/paasng/paasng/platform/declarative/handlers.py
  apiserver/paasng/paasng/platform/smart_app/management/commands/smart_tool.py
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v3/test_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
