Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run pflake8 --config=pyproject.toml

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./mypy.ini"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because it may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

Initial commit: docs
  docs/CONTRIBUTING.md
  docs/faq/deploy-paas.md
  docs/install/develop_guide.md
  docs/overview/architecture.md
  docs/overview/project_codes.md
  docs/release.md
  docs/resource/img/architecture.png
  docs/resource/img/bk_paas_en.png
  docs/resource/img/bk_paas_zh.png
  docs/resource/img/bk_qq_group.png
Due: none

Sync from tc 75f04c95
  README.md
  apiserver/paasng/paasng/platform/log/client.py
  apiserver/paasng/paasng/pluginscenter/definitions.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/log/__init__.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/log/client.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/log/models.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/log/search.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/log/utils.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/paasng/utils/datetime.py
  apiserver/paasng/tests/pluginscenter/conftest.py
  apiserver/paasng/tests/pluginscenter/thirdparty/test_logs.py
  docs/CONTRIBUTING.md
  readme_en.md
Due: isort, black, flake8, mypy-apiserver

feat: support auto update bkpaas-app-operator helm chart
  operator/Makefile
  operator/README.md
  operator/api/v1alpha1/projectconfig_types.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/config/manager/controller_manager_config.yaml
  operator/scripts/update_helm_chart.py
Due: isort, black, flake8, operator-lint

minor: resolve #6 conversations
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha1/projectconfig_types_test.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/config/manager/controller_manager_config.yaml
  operator/config/samples/paas_v1alpha1_projectconfig.yaml
  operator/main.go
  operator/scripts/update_helm_chart.py
Due: isort, black, flake8, operator-lint

minor: remove hard code
  operator/Makefile
  operator/scripts/update_helm_chart.py
Due: isort, black, flake8, operator-lint

feat: support auto update bkpaas-app-operator helm chart (#6)
  operator/Makefile
  operator/README.md
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha1/projectconfig_types_test.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/config/manager/controller_manager_config.yaml
  operator/config/samples/paas_v1alpha1_projectconfig.yaml
  operator/main.go
  operator/scripts/update_helm_chart.py
Due: isort, black, flake8, operator-lint

Sync from tc(2022-11-15)
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/handlers.py
  apiserver/paasng/paasng/pluginscenter/models/definitions.py
  apiserver/paasng/paasng/pluginscenter/permissions.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/base.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/deploy.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/paasng/publish/entrance/subpaths.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/publish/entrance/test_subpaths.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  workloads/paas_wl/paas_wl/admin/views/processes.py
  workloads/paas_wl/paas_wl/platform/applications/struct_models.py
  workloads/paas_wl/paas_wl/resources/actions/archive.py
  workloads/paas_wl/tests/platform/applications/test_struct_models.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Sync from tc(2022-11-15) (#7)
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/handlers.py
  apiserver/paasng/paasng/pluginscenter/models/definitions.py
  apiserver/paasng/paasng/pluginscenter/permissions.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/base.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/deploy.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/paasng/publish/entrance/subpaths.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/publish/entrance/test_subpaths.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  workloads/paas_wl/paas_wl/admin/views/processes.py
  workloads/paas_wl/paas_wl/platform/applications/struct_models.py
  workloads/paas_wl/paas_wl/resources/actions/archive.py
  workloads/paas_wl/tests/platform/applications/test_struct_models.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

refactor: update iam permission migrate scripts
  apiserver/paasng/paasng/accessories/iam/members/management/commands/migrate_bkpaas3_perm.py
  apiserver/paasng/paasng/accessories/iam/members/management/commands/sync_app_admin_members.py
Due: isort, black, flake8, mypy-apiserver

docs: update license
  apiserver/paasng/paasng/accessories/iam/members/management/commands/migrate_bkpaas3_perm.py
  apiserver/paasng/paasng/accessories/iam/members/management/commands/sync_app_admin_members.py
Due: isort, black, flake8, mypy-apiserver

refactor: update iam permission migrate scripts (#8)
  apiserver/paasng/paasng/accessories/iam/members/management/commands/migrate_bkpaas3_perm.py
  apiserver/paasng/paasng/accessories/iam/members/management/commands/sync_app_admin_members.py
Due: isort, black, flake8, mypy-apiserver

feature: 插件开发者中心支持「配置管理」
  apiserver/paasng/paasng/engine/models/managers.py
  apiserver/paasng/paasng/extensions/bk_plugins/api_serializers.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/extensions/bk_plugins/urls.py
  apiserver/paasng/paasng/extensions/bk_plugins/views.py
  apiserver/paasng/paasng/platform/operations/handlers.py
  apiserver/paasng/paasng/pluginscenter/configuration.py
  apiserver/paasng/paasng/pluginscenter/definitions.py
  apiserver/paasng/paasng/pluginscenter/filters.py
  apiserver/paasng/paasng/pluginscenter/migrations/0006_auto_20221115_1128.py
  apiserver/paasng/paasng/pluginscenter/models/definitions.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/configuration.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/tests/api/extensions/test_bkplugins.py
  apiserver/paasng/tests/pluginscenter/conftest.py
  apiserver/paasng/tests/pluginscenter/test_configuration.py
  apiserver/paasng/tests/pluginscenter/test_integration.py
Due: isort, black, flake8, mypy-apiserver

feat(workloads): 添加初始化应用集群的命令
  workloads/paas_wl/paas_wl/cluster/management/commands/__init__.py
  workloads/paas_wl/paas_wl/cluster/management/commands/initial_cluster.py
  workloads/paas_wl/paas_wl/cluster/models.py
  workloads/paas_wl/support-files/initial_data/cluster.json.j2
  workloads/paas_wl/tests/cluster/test_commands.py
Due: isort, black, flake8, mypy-workloads

feat(workloads): 环境变量名称修改
  workloads/paas_wl/paas_wl/cluster/management/commands/initial_cluster.py
  workloads/paas_wl/support-files/initial_data/cluster.json.j2
Due: isort, black, flake8, mypy-workloads

feat(alert_rules): apply alert rules to bkmonitor by MonitorAsCode
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/__init__.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/__init__.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/client.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/exceptions.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/notice_tpl/notice.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_cpu_usage.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_mem_usage.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/page_50x.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/constants.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/manager.py
  apiserver/paasng/paasng/monitoring/monitor/apps.py
  apiserver/paasng/paasng/monitoring/monitor/migrations/0001_initial.py
  apiserver/paasng/paasng/monitoring/monitor/migrations/__init__.py
  apiserver/paasng/paasng/monitoring/monitor/models.py
  apiserver/paasng/paasng/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/monitoring/monitor/urls.py
  apiserver/paasng/paasng/monitoring/monitor/views.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/monitoring/__init__.py
  apiserver/paasng/tests/monitoring/alert_rules/__init__.py
  apiserver/paasng/tests/monitoring/alert_rules/conftest.py
  apiserver/paasng/tests/monitoring/alert_rules/test_api.py
  apiserver/paasng/tests/monitoring/alert_rules/test_manager.py
Due: isort, black, flake8, mypy-apiserver

fix: fix eslint
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
Due: none

feat: add 插件开发page
  webfe/package_vue/package.json
  webfe/package_vue/src/assets/css/components/flex.scss
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/components/paas-plugin-nav.vue
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/components/plugin-quick-nav.vue
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/router/plugin.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/cloud-members.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/visible-range.vue
  webfe/package_vue/src/views/plugin-center/plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/comps/log-filter.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/standart-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-timeline.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
  webfe/package_vue/static/images/plugin-default.svg
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: --story=105476851 修复刷新页面都会访问蓝鲸应用列表 API的bug
  webfe/package_vue/src/components/searching/searchAppList.vue
Due: none

refactor: 重构插件开发者中心的发布步骤逻辑(重构抽象)
  apiserver/paasng/paasng/pluginscenter/configuration.py
  apiserver/paasng/paasng/pluginscenter/constants.py
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/handlers.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/releases/__init__.py
  apiserver/paasng/paasng/pluginscenter/releases/executor.py
  apiserver/paasng/paasng/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/pluginscenter/shim.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/deploy.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/tests/pluginscenter/conftest.py
  apiserver/paasng/tests/pluginscenter/release/__init__.py
  apiserver/paasng/tests/pluginscenter/release/test_executor.py
  apiserver/paasng/tests/pluginscenter/release/test_steps.py
Due: isort, black, flake8, mypy-apiserver

minor: update comments
  apiserver/paasng/paasng/accessories/iam/members/management/commands/migrate_bkpaas3_perm.py
  apiserver/paasng/paasng/accounts/permissions/constants.py
  apiserver/paasng/paasng/publish/sync_market/views.py
  apiserver/paasng/paasng/utils/api_docs.py
Due: isort, black, flake8, mypy-apiserver

fix: update members.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
Due: none

fix: enable show user roles in application members page (#17)
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
Due: none

feat(apiserver): 插件开发者中心添加操作记录
  apiserver/paasng/paasng/pluginscenter/constants.py
  apiserver/paasng/paasng/pluginscenter/migrations/0007_operationrecord.py
  apiserver/paasng/paasng/pluginscenter/models/__init__.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/tests/pluginscenter/test_integration.py
Due: isort, black, flake8, mypy-apiserver

feat(apiserver): 插件开发者中心添加操作记录 (#16)
  apiserver/paasng/paasng/pluginscenter/constants.py
  apiserver/paasng/paasng/pluginscenter/migrations/0007_operationrecord.py
  apiserver/paasng/paasng/pluginscenter/models/__init__.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/tests/pluginscenter/test_integration.py
Due: isort, black, flake8, mypy-apiserver

fix: nav-icon颜色， 插件开发访问日志功能
  webfe/package_vue/src/components/paas-plugin-nav.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
Due: none

fix: 修复结构问题
  webfe/package_vue/src/components/paas-header.vue
Due: none

feat: 测试插件nav
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/components/searching/searchAppList.vue
Due: none

bugfix: 修复 swagger 文档鉴权逻辑异常的问题
  apiserver/paasng/paasng/pluginscenter/definitions.py
  apiserver/paasng/paasng/utils/api_docs.py
Due: isort, black, flake8, mypy-apiserver

fix: 调整开发者中心 PluginConfigColumnDefinition 的字段
  apiserver/paasng/paasng/pluginscenter/definitions.py
  apiserver/paasng/paasng/pluginscenter/migrations/0008_auto_20221117_1432.py
  apiserver/paasng/paasng/pluginscenter/models/definitions.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
Due: isort, black, flake8, mypy-apiserver

minor: hide app market in developer's nav page
  apiserver/paasng/paasng/accessories/iam/permissions/resources/application.py
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
Due: isort, black, flake8, mypy-apiserver

fix: 创建人不支持过滤
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none
