Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run pflake8 --config=pyproject.toml

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./mypy.ini"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

feat: 添加蓝鲸应用命名空间相关 API
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/settings/utils.py
  svc-otel/svc_otel/bkmonitorv3/__init__.py
  svc-otel/svc_otel/bkmonitorv3/apigw/__init__.py
  svc-otel/svc_otel/bkmonitorv3/apigw/client.py
  svc-otel/svc_otel/bkmonitorv3/client.py
  svc-otel/svc_otel/bkmonitorv3/esb/__init__.py
  svc-otel/svc_otel/bkmonitorv3/esb/client.py
  svc-otel/svc_otel/bkmonitorv3/exceptions.py
  svc-otel/svc_otel/settings/default.py
  svc-otel/svc_otel/vendor/provider.py
Due: isort, black, flake8, mypy-apiserver

feat: 修改插件中心的页面宽度
  webfe/package_vue/src/assets/css/pages/overview.scss
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

feat: loader 添加媒体查询
  webfe/package_vue/src/components/loader/index.vue
Due: none

fix: 基本信息样式更改
  webfe/package_vue/src/components/authentication-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/market-info-edit.vue
Due: none

feat: modiy create plugin width
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: none

feat: 修改header-title 宽度
  webfe/package_vue/src/assets/css/ps-style.scss
Due: none

feat: 修改header-title width
  webfe/package_vue/src/assets/css/ps-style.scss
Due: none

feat: 开启 otel 增强服务时创建蓝鲸应用命名空间
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/accessories/bkmonitorv3/__init__.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/apigw/__init__.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/apigw/client.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/client.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/constants.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/esb/__init__.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/esb/client.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/exceptions.py
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/monitoring/monitor/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/monitoring/test_alert.py
Due: isort, black, flake8, mypy-apiserver

feat: cluster feature flags manage
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/engine/controller/cluster.py
  apiserver/paasng/paasng/extensions/declarative/deployment/svc_disc.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/clusters.py
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/tests/extensions/declarative/test_deployment.py
  apiserver/paasng/tests/platform/modules/test_helpers.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
  workloads/paas_wl/paas_wl/cluster/management/commands/initial_default_cluster.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

docs: 添加 TODO 内容
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  svc-otel/svc_otel/bkmonitorv3/client.py
  svc-otel/svc_otel/settings/default.py
Due: isort, black, flake8, mypy-apiserver

fix: 插件列表样式
  webfe/package_vue/src/views/plugin-center/index.vue
Due: none

feat: 更新 bkapi-bk-apigateway 版本
  apiserver/paasng/paasng/pluginscenter/features.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: isort, black, flake8, mypy-apiserver

修复插件同步成员到开发者中心的接口未对接权限中心的问题
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
Due: isort, black, flake8, mypy-apiserver

feat: admin42 中没有权限控制则不展示
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/base.html
Due: none

修复插件同步成员到开发者中心的接口未对接权限中心的问题 (#80)
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
Due: isort, black, flake8, mypy-apiserver

feature:更新 bkapi-bk-apigateway 版本 (#81)
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/base.html
  apiserver/paasng/paasng/pluginscenter/features.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: isort, black, flake8, mypy-apiserver

fix: change admin user iam perm migrate logic
  apiserver/init.sh
  apiserver/paasng/paasng/accessories/iam/client.py
  apiserver/paasng/paasng/accessories/iam/helpers.py
  apiserver/paasng/paasng/accessories/iam/members/management/commands/migrate_bkpaas3_perm.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

fix(apiserver): change admin user iam perm migrate logic (#83)
  apiserver/init.sh
  apiserver/paasng/paasng/accessories/iam/client.py
  apiserver/paasng/paasng/accessories/iam/helpers.py
  apiserver/paasng/paasng/accessories/iam/members/management/commands/migrate_bkpaas3_perm.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

fix: 成员管理删除逻辑。 部署成功样式。插件创建校验格式
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

feat: 插件添加是否可终止发布的特性
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/features.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

feat: 重新发布bugfix
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: migration 中不再初始化插件中心的内置用户
  apiserver/paasng/paasng/extensions/bk_plugins/migrations/0005_auto_20221202_1627.py
Due: mypy-apiserver

feat: 插件添加是否可终止发布的特性 (#84)
  apiserver/paasng/paasng/extensions/bk_plugins/migrations/0005_auto_20221202_1627.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/features.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

feat: 修改样式
  webfe/package_vue/src/assets/css/ps-style.scss
Due: none

test: fix unittest
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/tests/engine/deploy/test_infras.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
Due: isort, black, flake8, mypy-apiserver

fix: 插件应用切换搜索功能。 插件提示信息
  webfe/package_vue/src/components/plugin-quick-nav.vue
  webfe/package_vue/src/views/plugin-center/index.vue
Due: none

bugfix: 修复增强服务环境变量不支持 int 类型的问题
  operator/hack/boilerplate.go.txt
  operator/pkg/controllers/resources/configuration.go
  operator/pkg/platform/external/addons.go
  operator/pkg/platform/external/addons_test.go
Due: operator-lint

bugfix: 修复增强服务环境变量可能不是字符串的问题
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/plat_admin/system/views.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复增强服务环境变量不支持 int 类型的问题 (#86)
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  operator/hack/boilerplate.go.txt
  operator/pkg/controllers/resources/configuration.go
  operator/pkg/platform/external/addons.go
  operator/pkg/platform/external/addons_test.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

bugfix: 修复 AddonReconciler 中 reason 的字段不符合 CamelCase 的问题
  operator/pkg/controllers/reconcilers/addons.go
Due: operator-lint

enhance: 将应用描述文件解析失败的信息暴露给用户
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/image.py
Due: isort, black, flake8, mypy-apiserver

enhance: 将应用描述文件解析失败的信息暴露给用户 (#77)
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/image.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复 AddonReconciler 中 reason 的字段不符合 CamelCase 的问题 (#87)
  operator/pkg/controllers/reconcilers/addons.go
Due: operator-lint

fix: 基本信息体验修复， 应用切换select搜索体验修复
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/components/plugin-quick-nav.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/market-info-edit.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

minor: 优化单元测试, 提速
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_market.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/engine/test_infras.py
  apiserver/paasng/tests/publish/sync_market/test_sync_console.py
  apiserver/paasng/tests/test_oauth2.py
  apiserver/paasng/tests/utils/helpers.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/tests/conftest.py
Due: isort, black, flake8, mypy-apiserver

refactor: use github.com/pkg/errors to wrap error
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/bkapp_webhook.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/controllers/bkapp_controller.go
  operator/controllers/domaingroupmapping_controller.go
  operator/main.go
  operator/pkg/controllers/dgroupmapping/ingresses.go
  operator/pkg/controllers/reconcilers/addons.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/finalizer.go
  operator/pkg/controllers/reconcilers/hooks.go
  operator/pkg/controllers/reconcilers/result.go
  operator/pkg/controllers/reconcilers/result_test.go
  operator/pkg/controllers/reconcilers/revision.go
  operator/pkg/controllers/reconcilers/services.go
  operator/pkg/controllers/reconcilers/utils.go
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/resources/ingresses.go
  operator/pkg/controllers/resources/ingresses_test.go
  operator/pkg/platform/applications/info.go
  operator/pkg/platform/external/addons.go
  operator/pkg/platform/external/addons_test.go
  operator/pkg/platform/external/client.go
  operator/pkg/utils/kubestatus/deploymentutils.go
  operator/pkg/utils/kubestatus/deploymentutils_test.go
  operator/pkg/utils/quota/quantity.go
  operator/pkg/utils/quota/quantity_test.go
  operator/pkg/utils/revision/revision.go
Due: operator-lint

fix unittest
  apiserver/paasng/paasng/platform/mgrlegacy/management/commands/make_legacy_app_for_test.py
  apiserver/paasng/tests/conftest.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/tests/platform/mgrlegacy/test_migration.py
Due: isort, black, flake8, mypy-apiserver

style: fix code style
  operator/api/v1alpha1/bkapp_webhook.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/go.mod
  operator/main.go
  operator/pkg/controllers/dgroupmapping/ingresses.go
  operator/pkg/controllers/reconcilers/hooks.go
  operator/pkg/controllers/reconcilers/services.go
  operator/pkg/controllers/reconcilers/utils.go
Due: operator-lint

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
