Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude 
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix  
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 高级筛选排版问题修复
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

fix: 应用列表-访问模块使用select 组件规范
  webfe/package_vue/src/views/index.vue
Due: none

fix: tooltips配置项content: '*', 导致页面无法打开
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
Due: none

fix: minor
  apiserver/paasng/paasng/platform/engine/phases_steps/steps.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: minor
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/bkapp_hook.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix lint
  builder-stack/cnb-builder-shim/Makefile
  builder-stack/cnb-builder-shim/cmd/build-init/main.go
  builder-stack/kaniko-shim/cmd/launcher/main.go
Due: none

rename project
  builder-stack/cnb-builder-shim/cmd/build-init/main.go
  builder-stack/cnb-builder-shim/cmd/build-init/main_test.go
  builder-stack/cnb-builder-shim/cmd/entrypoint/main.go
  builder-stack/cnb-builder-shim/cmd/lifecycle-driver/main.go
  builder-stack/cnb-builder-shim/go.mod
  builder-stack/cnb-builder-shim/pkg/fetcher/fs/fetcher_test.go
  builder-stack/cnb-builder-shim/pkg/fetcher/http/fetcher_test.go
  builder-stack/kaniko-shim/cmd/launcher/main.go
  builder-stack/kaniko-shim/go.mod
  builder-stack/kaniko-shim/pkg/fetcher/fs/fetcher_test.go
  builder-stack/kaniko-shim/pkg/fetcher/http/fetcher_test.go
Due: none

refactor with discussion
  builder-stack/heroku-buildpacks/README.md
  builder-stack/heroku-buildpacks/bk-buildpack-go/README.md
  builder-stack/heroku-buildpacks/bk-buildpack-nodejs/README.md
  builder-stack/heroku-buildpacks/bk-buildpack-nodejs/hooks/pre-npm-install
Due: none

refactor with discussion
  builder-stack/README.md
  builder-stack/heroku-buildpacks/README.md
  builder-stack/heroku-buildpacks/bk-buildpack-go/README.md
  builder-stack/heroku-buildpacks/bk-buildpack-nodejs/README.md
  builder-stack/heroku-buildpacks/bk-buildpack-python/README.md
Due: none

fix: 修复 s-mart 应用的应用描述文件报错未及时反馈给用户
  apiserver/paasng/paasng/platform/smart_app/views.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

test: add unit test
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/bkapp_hook.py
  apiserver/paasng/paasng/platform/engine/phases_steps/steps.py
  apiserver/paasng/tests/paas_wl/infras/resources/base/test_kres.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_bkapp_hook.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix:修复 django metrics 接口
  apiserver/paasng/paasng/misc/metrics/workloads/deployment.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 进程配置-无web进程正常展示
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

Fix typo: pyproject.toml
  pyproject.toml
Due: none

fix: pHALANX 配置
  apiserver/paasng/paasng/misc/feature_flags/apps_ext.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 s-mart 应用的应用描述文件报错未及时反馈给用户 (#956)
  apiserver/paasng/paasng/platform/smart_app/views.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 新建 Smart 应用为云原生应用
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: 根据应用绑定的集群特性决定是否将查询日志的链路切换至日志平台
  apiserver/paasng/paasng/platform/applications/constants.py
  apiserver/paasng/paasng/platform/applications/handlers.py
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: disable turn on bk log feature by default at unittest because it required workloads database
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/conftest.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix unitest
  apiserver/paasng/tests/conftest.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix unittest
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paasng/accessories/publish/sync_market/test_sync_console.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: 根据应用绑定的集群特性决定是否将查询日志的链路切换至日志平台 (#958)
  apiserver/paasng/paasng/platform/applications/constants.py
  apiserver/paasng/paasng/platform/applications/handlers.py
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paasng/accessories/publish/sync_market/test_sync_console.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feature: 提供批量初始化日志平台自定义采集项以及下发采集项配置的命令
  apiserver/paasng/paasng/accessories/log/management/__init__.py
  apiserver/paasng/paasng/accessories/log/management/commands/__init__.py
  apiserver/paasng/paasng/accessories/log/management/commands/batch_setup_bklog.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 非web进程都可编辑
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: add environment argument to set zap Development mode
  operator/README.md
  operator/go.mod
  operator/main.go
  operator/pkg/controllers/reconcilers/deploy_action.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/hooks.go
  operator/pkg/controllers/svcdisc/configmap.go
Due: operator-lint

refactor: minor
  operator/main.go
Due: operator-lint

fix: minor
  operator/main.go
Due: operator-lint

feat: 优化请求
  webfe/package_vue/src/common/tools.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook-creat.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process-creat.vue
Due: none

feat: itsm 提单字段
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: extra_fields 支持配置英文
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/management/commands/create_or_update_plugin_type.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feature: 提供批量初始化日志平台自定义采集项以及下发采集项配置的命令 (#960)
  apiserver/paasng/paasng/accessories/log/management/__init__.py
  apiserver/paasng/paasng/accessories/log/management/commands/__init__.py
  apiserver/paasng/paasng/accessories/log/management/commands/batch_setup_bklog.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 支持设置日志平台API ENV
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/log/client.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/migrations/0016_auto_20231204_2121.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: bugfix
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/migrations/0016_auto_20231204_2121.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/migrations/0017_auto_20231204_2203.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/definitions.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver
