Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: fixes
  apiserver/paasng/paasng/misc/tools/app_desc.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unitest
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_modules.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 添加注释,删除前端冗余代码等
  apiserver/paasng/paas_wl/infras/cluster/constants.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/permissions.py
  apiserver/paasng/paasng/infras/accounts/constants.py
  apiserver/paasng/support-files/apigw/api_doc/en/get_detailed_app_list.md
  apiserver/paasng/support-files/apigw/api_doc/en/get_module_info.md
  apiserver/paasng/support-files/apigw/api_doc/zh/get_detailed_app_list.md
  apiserver/paasng/support-files/apigw/api_doc/zh/get_module_info.md
  webfe/package_vue/src/views/dev-center/app/basic-config/module-manage.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整
  cnb-builder-shim/cmd/dev-launcher/launch/launch.go
  cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl.go
  cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl_test.go
  cnb-builder-shim/pkg/appdesc/desc.go
  cnb-builder-shim/pkg/appdesc/desc_test.go
  cnb-builder-shim/pkg/appdesc/types.go
  cnb-builder-shim/pkg/appdesc/v2.go
  cnb-builder-shim/pkg/appdesc/v3.go
Due: none

feat: introduce PossiblePlansResultType to classify possible plans results
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/selector.py
  apiserver/paasng/tests/paasng/accessories/servicehub/binding_policy/test_selector.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修改沙箱运行进程的数据结构
  webfe/package_vue/src/views/dev-center/sandbox/comps/run-sandbox-dialog.vue
  webfe/package_vue/src/views/dev-center/sandbox/index.vue
Due: none

fix: 修改沙箱运行进程的数据结构
  webfe/package_vue/src/views/dev-center/sandbox/comps/run-sandbox-dialog.vue
Due: none

fix: rename to_be_deleted
  apiserver/paasng/paasng/accessories/servicehub/remote/client.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/tasks.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整
  cnb-builder-shim/pkg/appdesc/desc.go
  cnb-builder-shim/pkg/appdesc/types.go
  cnb-builder-shim/pkg/appdesc/v2.go
  cnb-builder-shim/pkg/appdesc/v3.go
Due: none

fix: 调整
  cnb-builder-shim/pkg/appdesc/v2.go
  cnb-builder-shim/pkg/appdesc/v3.go
Due: none

feat: dev_sandbox support spec version:3 app_desc.yaml (#1798)
  cnb-builder-shim/cmd/dev-launcher/launch/launch.go
  cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl.go
  cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl_test.go
  cnb-builder-shim/internal/devsandbox/config/loader.go
  cnb-builder-shim/internal/devsandbox/config/types.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
  cnb-builder-shim/pkg/appdesc/desc.go
  cnb-builder-shim/pkg/appdesc/desc_test.go
  cnb-builder-shim/pkg/appdesc/types.go
  cnb-builder-shim/pkg/appdesc/v2.go
  cnb-builder-shim/pkg/appdesc/v3.go
Due: none

fix: 修改沙箱运行进程的数据结构 (#1819)
  webfe/package_vue/src/views/dev-center/sandbox/comps/run-sandbox-dialog.vue
  webfe/package_vue/src/views/dev-center/sandbox/index.vue
Due: none

feat: add po
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

refactor: Delete useless FeatureFlag and correct the meaning of some FeatureFlag (#1801)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paas_wl/infras/cluster/constants.py
  apiserver/paasng/paas_wl/infras/cluster/management/commands/update_cluster_feature_flags.py
  apiserver/paasng/paas_wl/infras/cluster/serializers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/permissions.py
  apiserver/paasng/paasng/infras/accounts/constants.py
  apiserver/paasng/support-files/apigw/api_doc/en/get_detailed_app_list.md
  apiserver/paasng/support-files/apigw/api_doc/en/get_module_info.md
  apiserver/paasng/support-files/apigw/api_doc/zh/get_detailed_app_list.md
  apiserver/paasng/support-files/apigw/api_doc/zh/get_module_info.md
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/conftest.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_api.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_integration.py
  webfe/package_vue/src/views/dev-center/app/basic-config/module-manage.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 测试
  cnb-builder-shim/cmd/dev-launcher/main.go
Due: none

fix: 修复 launcher 没有初始化配置导致获取进程失败
  cnb-builder-shim/cmd/dev-launcher/main.go
Due: none

fix: 修复 launcher 没有初始化配置导致获取进程失败 (#1820)
  cnb-builder-shim/cmd/dev-launcher/main.go
Due: none

revert: ALLOW_PLUGIN_CENTER account featureflag
  apiserver/paasng/paasng/infras/accounts/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

revert: ALLOW_PLUGIN_CENTER account featureflag (#1821)
  apiserver/paasng/paasng/infras/accounts/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: code style change
  apiserver/paasng/paasng/misc/tools/app_desc.py
  apiserver/paasng/paasng/misc/tools/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: enable bcs and lesscode by settings config (#1818)
  apiserver/paasng/paas_wl/bk_app/processes/processes.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/__init__.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/apigw.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/client.py
  apiserver/paasng/paasng/core/region/models.py
  apiserver/paasng/paasng/core/region/states.py
  apiserver/paasng/paasng/infras/accounts/serializers.py
  apiserver/paasng/paasng/misc/plat_config/views.py
  apiserver/paasng/paasng/platform/bk_lesscode/client.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_modules.py
  apiserver/paasng/tests/paasng/platform/test_lesscode.py
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: enable bcs and lesscode by settings config
  apiserver/paasng/paas_wl/bk_app/processes/processes.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/__init__.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/apigw.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/client.py
  apiserver/paasng/paasng/core/region/models.py
  apiserver/paasng/paasng/core/region/states.py
  apiserver/paasng/paasng/infras/accounts/serializers.py
  apiserver/paasng/paasng/misc/plat_config/views.py
  apiserver/paasng/paasng/platform/bk_lesscode/client.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paasng/platform/test_lesscode.py
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paas_wl/bk_app/processes/processes.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: add descriptive comments for ServiceBindingPolicy models.
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/__init__.py
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/manager.py
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/policy.py
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/selector.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0005_servicebindingpolicy_servicebindingprecedencepolicy.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add service binding policy and precedence policy models with selection logic
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/__init__.py
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/manager.py
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/policy.py
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/selector.py
  apiserver/paasng/paasng/accessories/servicehub/constants.py
  apiserver/paasng/paasng/accessories/servicehub/exceptions.py
  apiserver/paasng/paasng/accessories/servicehub/local/test_manager.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0005_servicebindingpolicy_servicebindingprecedencepolicy.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
  apiserver/paasng/tests/paasng/accessories/servicehub/binding_policy/__init__.py
  apiserver/paasng/tests/paasng/accessories/servicehub/binding_policy/test_selector.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add possible plans API and corresponding serializers for service binding
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/selector.py
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/tests/paasng/accessories/servicehub/binding_policy/test_selector.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: enable bcs and lesscode by settings config (#1822)
  apiserver/paasng/paas_wl/bk_app/processes/processes.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/__init__.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/apigw.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/client.py
  apiserver/paasng/paasng/core/region/models.py
  apiserver/paasng/paasng/core/region/states.py
  apiserver/paasng/paasng/infras/accounts/serializers.py
  apiserver/paasng/paasng/misc/plat_config/views.py
  apiserver/paasng/paasng/platform/bk_lesscode/client.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_modules.py
  apiserver/paasng/tests/paasng/platform/test_lesscode.py
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant_id to ESConfig and removing updates on every query (#1808)
  apiserver/paasng/paasng/accessories/log/management/commands/init_es_config.py
  apiserver/paasng/paasng/accessories/log/management/commands/update_es_params.py
  apiserver/paasng/paasng/accessories/log/migrations/0007_elasticsearchconfig_tenant_id.py
  apiserver/paasng/paasng/accessories/log/models.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/accessories/log/shim/setup_elk.py
  apiserver/paasng/paasng/platform/applications/constants.py
  apiserver/paasng/paasng/platform/applications/handlers.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/paasng/platform/applications/test_feature_flag.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/misc/tools/app_desc.py
  apiserver/paasng/paasng/misc/tools/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: enhance help text for priority field in service binding models
  apiserver/paasng/paasng/accessories/servicehub/migrations/0005_servicebindingpolicy_servicebindingprecedencepolicy.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
  apiserver/paasng/tests/paasng/accessories/servicehub/binding_policy/test_selector.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: add xdist group for remote services in binding policy tests
  apiserver/paasng/tests/paasng/accessories/servicehub/binding_policy/test_selector.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:调整
  svc-rabbitmq/README.md
  svc-rabbitmq/vendor/handlers.py
  svc-rabbitmq/vendor/models.py
  svc-rabbitmq/vendor/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: unit test
  apiserver/paasng/paasng/accessories/servicehub/services.py
  apiserver/paasng/tests/paasng/accessories/servicehub/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update Cluster models
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paas_wl/infras/cluster/constants.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0011_clusterallocationpolicy_cluster_available_tenant_ids_and_more.py
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paas_wl/utils/models.py
  apiserver/paasng/paasng/infras/accounts/permissions/constants.py
  apiserver/paasng/paasng/infras/accounts/permissions/plat_mgt.py
  apiserver/paasng/paasng/plat_mgt/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/constants.py
  apiserver/paasng/paasng/plat_mgt/infras/serializers.py
  apiserver/paasng/paasng/plat_mgt/infras/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/views.py
  apiserver/paasng/paasng/plat_mgt/urls.py
  apiserver/paasng/paasng/platform/sourcectl/repo_controller.py
  apiserver/paasng/paasng/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: rollback serializers.py
  apiserver/paasng/paasng/infras/accounts/permissions/plat_mgt.py
  apiserver/paasng/paasng/plat_mgt/infras/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update bkpaas_auth to support tenant
  apiserver/paasng/paasng/core/tenant/user.py
  apiserver/paasng/paasng/infras/accounts/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: minor
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/infras/accounts/views.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant parameters when calling bkauth API
  apiserver/paasng/paasng/accessories/log/migrations/0007_elasticsearchconfig_tenant_id.py
  apiserver/paasng/paasng/accessories/log/models.py
  apiserver/paasng/paasng/infras/oauth2/api.py
  apiserver/paasng/paasng/infras/oauth2/utils.py
  apiserver/paasng/paasng/platform/applications/management/commands/create_3rd_party_apps.py
  apiserver/paasng/paasng/platform/applications/tenant.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/scene_app/initializer.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paasng/infras/oauth2/test_oauth_client.py
  apiserver/paasng/tests/paasng/platform/modules/test_manager.py
  apiserver/paasng/tests/paasng/platform/scene_app/test_initializer.py
  apiserver/paasng/tests/utils/helpers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver
