Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix unittest
  apiserver/paasng/tests/extensions/declarative/conftest.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_managers.py
Due: isort, black, flake8, mypy-apiserver

refacot: Process 相关的查询逻辑下沉到 paas_wl 模块; 统一 paas_wl 对外提供查询 process_spec 的接口
  apiserver/paasng/paas_wl/admin/views/processes.py
  apiserver/paasng/paas_wl/monitoring/metrics/models.py
  apiserver/paasng/paas_wl/networking/ingress/managers/service.py
  apiserver/paasng/paas_wl/platform/system_api/serializers.py
  apiserver/paasng/paas_wl/resources/actions/archive.py
  apiserver/paasng/paas_wl/resources/actions/deploy.py
  apiserver/paasng/paas_wl/resources/base/client.py
  apiserver/paasng/paas_wl/resources/base/controllers.py
  apiserver/paasng/paas_wl/resources/base/generation/mapper.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paas_wl/workloads/processes/drf_serializers.py
  apiserver/paasng/paas_wl/workloads/processes/entities.py
  apiserver/paasng/paas_wl/workloads/processes/managers.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paas_wl/workloads/processes/processes.py
  apiserver/paasng/paas_wl/workloads/processes/readers.py
  apiserver/paasng/paas_wl/workloads/processes/serializers.py
  apiserver/paasng/paas_wl/workloads/processes/shim.py
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/paas_wl/workloads/processes/watch.py
  apiserver/paasng/paasng/engine/deploy/release/legacy.py
  apiserver/paasng/paasng/engine/processes/models.py
  apiserver/paasng/paasng/engine/processes/views.py
  apiserver/paasng/paasng/engine/serializers.py
  apiserver/paasng/paasng/engine/views/release.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/processes.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/proc_spec.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/tests/engine/processes/test_wait.py
  apiserver/paasng/tests/paas_wl/utils/wl_app.py
  apiserver/paasng/tests/paas_wl/workloads/autoscaling/test_serializers.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_controllers.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_managers.py
Due: isort, black, flake8, mypy-apiserver

refactor: 调整 Processes 相关模块的结构 (#568)
  apiserver/paasng/paas_wl/admin/views/processes.py
  apiserver/paasng/paas_wl/monitoring/metrics/models.py
  apiserver/paasng/paas_wl/networking/ingress/managers/service.py
  apiserver/paasng/paas_wl/platform/system_api/serializers.py
  apiserver/paasng/paas_wl/resources/actions/archive.py
  apiserver/paasng/paas_wl/resources/actions/deploy.py
  apiserver/paasng/paas_wl/resources/base/client.py
  apiserver/paasng/paas_wl/resources/base/controllers.py
  apiserver/paasng/paas_wl/resources/base/generation/mapper.py
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paas_wl/workloads/processes/drf_serializers.py
  apiserver/paasng/paas_wl/workloads/processes/entities.py
  apiserver/paasng/paas_wl/workloads/processes/managers.py
  apiserver/paasng/paas_wl/workloads/processes/models.py
  apiserver/paasng/paas_wl/workloads/processes/processes.py
  apiserver/paasng/paas_wl/workloads/processes/readers.py
  apiserver/paasng/paas_wl/workloads/processes/serializers.py
  apiserver/paasng/paas_wl/workloads/processes/shim.py
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/paas_wl/workloads/processes/watch.py
  apiserver/paasng/paasng/engine/deploy/release/legacy.py
  apiserver/paasng/paasng/engine/processes/models.py
  apiserver/paasng/paasng/engine/processes/views.py
  apiserver/paasng/paasng/engine/serializers.py
  apiserver/paasng/paasng/engine/views/release.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/processes.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/proc_spec.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/tests/engine/processes/test_wait.py
  apiserver/paasng/tests/extensions/declarative/conftest.py
  apiserver/paasng/tests/paas_wl/utils/wl_app.py
  apiserver/paasng/tests/paas_wl/workloads/autoscaling/test_serializers.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_controllers.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_managers.py
Due: isort, black, flake8, mypy-apiserver

fix: 创建应用->普通应用才能展示蓝鲸插件选项
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

fix: 创建应用->普通应用才能展示蓝鲸插件选项 (#571)
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

fix: paas 验收问题修复
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: paas验收问题修复
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/views/dev-center/create-app/default.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: paas验收问题修复 (#573)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/views/dev-center/create-app/default.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat:保存相关
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

feat: resQuota support envOverlay
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/compat.go
  operator/api/v1alpha2/compat_test.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/reconcilers/autoscaling_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/env_overlay.go
  operator/pkg/controllers/resources/env_overlay_test.go
  operator/pkg/controllers/resources/gpa.go
  operator/pkg/controllers/resources/gpa_test.go
  operator/pkg/controllers/resources/hooks.go
Due: operator-lint

feat: BkAppResource add resQuota overlay field
  apiserver/paasng/paas_wl/cnative/specs/crd/bk_app.py
Due: isort, black, flake8, mypy-apiserver

feat: 完善进程配置功能
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

Add domainResolution field in apiserver (#562)
  apiserver/paasng/paas_wl/cnative/specs/crd/bk_app.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_models.py
Due: isort, black, flake8, mypy-apiserver

feat: add management command convert_bkapp_version
  apiserver/paasng/paas_wl/cnative/specs/converter.py
  apiserver/paasng/paas_wl/cnative/specs/management/__init__.py
  apiserver/paasng/paas_wl/cnative/specs/management/commands/__init__.py
  apiserver/paasng/paas_wl/cnative/specs/management/commands/convert_bkapp_version.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_converter.py
Due: isort, black, flake8, mypy-apiserver

feat: 部署管理手动调节
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: fix table width
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-event.vue
Due: none

fix: 修复云原生应用事件表格宽度问题 (#575)
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-event.vue
Due: none

minor: update comments
  apiserver/paasng/paas_wl/cnative/specs/converter.py
  apiserver/paasng/paas_wl/cnative/specs/management/commands/convert_bkapp_version.py
Due: isort, black, flake8, mypy-apiserver

fix: paas 验收问题修复 (#572)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

enhance: 优化 process/instance 查询逻辑
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/networking/ingress/entities/service.py
  apiserver/paasng/paas_wl/resources/base/generation/v1.py
  apiserver/paasng/paas_wl/resources/base/generation/v2.py
  apiserver/paasng/paas_wl/workloads/processes/readers.py
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/tests/paas_wl/e2e/ingress/conftest.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_managers.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/paas_wl/resources/base/generation/v1.py
  apiserver/paasng/paas_wl/resources/base/generation/v2.py
  apiserver/paasng/paas_wl/workloads/processes/readers.py
Due: isort, black, flake8, mypy-apiserver

enhance: 优化 Process 的 labels, 添加资源类型以方便过滤
  apiserver/paasng/paas_wl/workloads/processes/readers.py
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/resources/labels/labels.go
  operator/pkg/controllers/resources/labels/labels_test.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

feat: 进程配置数据组装
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

refactor: minor
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/cnative/specs/entities.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/cnative/specs/resource.py
  apiserver/paasng/paas_wl/configuration/__init__.py
  apiserver/paasng/paas_wl/configuration/configmap/__init__.py
  apiserver/paasng/paas_wl/configuration/configmap/entities.py
  apiserver/paasng/paas_wl/resources/base/kres.py
Due: isort, black, flake8, mypy-apiserver

enhance: 优化 process/instance 查询逻辑 (#569)
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/networking/ingress/entities/service.py
  apiserver/paasng/paas_wl/resources/base/generation/v1.py
  apiserver/paasng/paas_wl/resources/base/generation/v2.py
  apiserver/paasng/paas_wl/workloads/processes/readers.py
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/tests/paas_wl/e2e/ingress/conftest.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_managers.py
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/resources/labels/labels.go
  operator/pkg/controllers/resources/labels/labels_test.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

fix: 宽度问题修复
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-event.vue
Due: none

fix: 宽度问题修复 (#577)
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-event.vue
Due: none

refactor: not use monitor as code when no valid token
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/handlers.py
Due: isort, black, flake8, mypy-apiserver

fix: 创建应用，蓝鲸插件tab切换bug修复
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

fix: 创建应用，蓝鲸插件tab切换bug修复 (#579)
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

fix: 修改问题
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

refactor: not use monitor as code when no valid token (#578)
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/handlers.py
Due: isort, black, flake8, mypy-apiserver

refactor: not use monitor as code when no valid token (#580)
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/handlers.py
Due: isort, black, flake8, mypy-apiserver

fix: 创建应用，蓝鲸插件tab切换bug修复 (#581)
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

feat: 完成进程配置相关
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

minor: resolve #574 conversations
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/env_overlay.go
  operator/pkg/controllers/resources/env_overlay_test.go
  operator/pkg/controllers/resources/gpa.go
  operator/pkg/controllers/resources/hooks.go
Due: operator-lint

feat: resQuota support envOverlay (#574)
  apiserver/paasng/paas_wl/cnative/specs/crd/bk_app.py
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/compat.go
  operator/api/v1alpha2/compat_test.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/reconcilers/autoscaling_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/env_overlay.go
  operator/pkg/controllers/resources/env_overlay_test.go
  operator/pkg/controllers/resources/gpa.go
  operator/pkg/controllers/resources/gpa_test.go
  operator/pkg/controllers/resources/hooks.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

feat: 进程配置相关处理
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none
