Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: add test log
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

feat: bkpaas-cli add app list command (#390)
  bkpaas-cli/Readme.md
  bkpaas-cli/cmd/app/app.go
  bkpaas-cli/cmd/app/list.go
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/apiresources/apigw_mock.go
  bkpaas-cli/pkg/apiresources/types.go
  bkpaas-cli/pkg/handler/list.go
  bkpaas-cli/pkg/handler/list_test.go
  bkpaas-cli/pkg/handler/retrieve.go
  bkpaas-cli/pkg/handler/retrieve_test.go
  bkpaas-cli/pkg/model/items.go
  bkpaas-cli/pkg/model/types.go
Due: none

Add webhook for v1alpha2/BkApp; Known issue: webhook integrated tests fail
  operator/.gitignore
  operator/PROJECT
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/config.go
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/groupversion_info.go
  operator/api/v1alpha2/webhook_suite_test.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/config/samples/paas_v1alpha2_bkapp.yaml
  operator/config/webhook/manifests.yaml
  operator/go.mod
  operator/go.sum
  operator/main.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/resources/hooks_test.go
Due: operator-lint

Fix more tests related with hooks
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/utils/kubestatus/podutils_test.go
Due: operator-lint

Remove duplicated imports
  operator/api/v1alpha2/bkapp_webhook_test.go
Due: operator-lint

Fix review comments; Add unit tests for JSON annotations
  operator/.gitignore
  operator/api/v1alpha2/compat.go
  operator/pkg/controllers/dgroupmapping/ingresses.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/utils/kubetypes/common.go
  operator/pkg/utils/kubetypes/common_test.go
  operator/pkg/utils/kubetypes/kubetypes_suite_test.go
Due: operator-lint

Update deployment mod to support v1alpha2 version and fix tests
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_webhook.go
  operator/api/v1alpha1/config.go
  operator/api/v1alpha2/bkapp_types.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
Due: operator-lint

Add conversion logics for BkApp resource
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/constants.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/constants.go
  operator/api/v1alpha2/groupversion_info.go
  operator/pkg/utils/kubetypes/common.go
Due: operator-lint

fix: failed hook block reconciler loop (#387)
  operator/README.md
  operator/pkg/controllers/reconcilers/deployments_test.go
  operator/pkg/controllers/reconcilers/revision.go
  operator/pkg/controllers/reconcilers/revision_test.go
  operator/pkg/controllers/reconcilers/utils_test.go
  operator/pkg/controllers/resources/hooks.go
Due: operator-lint

fix: itsm 回调 API 认证
  apiserver/paasng/paasng/pluginscenter/itsm_adaptor/client.py
  apiserver/paasng/paasng/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/pluginscenter/open_apis/authentication.py
  apiserver/paasng/paasng/pluginscenter/open_apis/urls.py
  apiserver/paasng/paasng/pluginscenter/open_apis/views.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/paasng/utils/middlewares.py
  apiserver/paasng/tests/pluginscenter/test_api.py
Due: isort, black, flake8, mypy-apiserver

fix: 暂不开启 ITSM token 验证
  apiserver/paasng/paasng/pluginscenter/open_apis/authentication.py
Due: isort, black, flake8, mypy-apiserver

feat: add delete protection in update helm chart scripts
  operator/scripts/update_helm_chart.py
Due: isort, black, flake8, operator-lint

feat: add delete protection in update helm chart scripts (#392)
  operator/scripts/update_helm_chart.py
Due: isort, black, flake8, operator-lint

minor: resolve #391 conversations
  operator/api/v1alpha1/constants.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/bkapp_webhook.go
  operator/config/webhook/manifests.yaml
  operator/pkg/controllers/resources/gpa.go
Due: operator-lint

minor: copy config dir to dev-docker-image
  operator/Dockerfile-Dev
Due: operator-lint

fix: remove cos upload when release
  .github/workflows/release-cli.yml
  bkpaas-cli/Makefile
  bkpaas-cli/Readme.md
Due: none

fix: itsm detail json
  apiserver/paasng/paasng/pluginscenter/serializers.py
Due: isort, black, flake8, mypy-apiserver

minor: resolve #391 conversations
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/controllers/domaingroupmapping_controller_test.go
  operator/pkg/utils/stringx/stringx.go
  operator/pkg/utils/stringx/stringx_test.go
Due: operator-lint

feat: operator support autoscaling (#391)
  operator/Dockerfile-Dev
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/constants.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/constants.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/autoscaling.tkex.tencent.com_generalpodautoscalers.yaml
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/controllers/bkapp_controller.go
  operator/controllers/domaingroupmapping_controller_test.go
  operator/controllers/suite_test.go
  operator/go.mod
  operator/go.sum
  operator/pkg/controllers/reconcilers/autoscaling.go
  operator/pkg/controllers/reconcilers/autoscaling_test.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/revision.go
  operator/pkg/controllers/resources/env_overlay.go
  operator/pkg/controllers/resources/env_overlay_test.go
  operator/pkg/controllers/resources/gpa.go
  operator/pkg/controllers/resources/gpa_test.go
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/resources/names/names.go
  operator/pkg/utils/kubestatus/deployment.go
  operator/pkg/utils/kubestatus/deployment_test.go
  operator/pkg/utils/kubestatus/gpa.go
  operator/pkg/utils/kubestatus/gpa_test.go
  operator/pkg/utils/kubestatus/pod.go
  operator/pkg/utils/kubestatus/pod_test.go
  operator/pkg/utils/stringx/stringx.go
  operator/pkg/utils/stringx/stringx_suite_test.go
  operator/pkg/utils/stringx/stringx_test.go
Due: operator-lint

feat: use github action build binary and store to release (#395)
  .github/workflows/release-cli.yml
  bkpaas-cli/Makefile
  bkpaas-cli/Readme.md
Due: none

docs: update bkpaas-cli develop docs
  bkpaas-cli/Makefile
  bkpaas-cli/Readme.md
  bkpaas-cli/cmd/login/login.go
  bkpaas-cli/main.go
Due: none

feat: add resQuotaPlan in process
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/compat.go
  operator/api/v1alpha2/constants.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/controllers/bkapp_controller_test.go
  operator/controllers/domaingroupmapping_controller_test.go
  operator/pkg/controllers/dgroupmapping/ingresses_test.go
  operator/pkg/controllers/reconcilers/deployments_test.go
  operator/pkg/controllers/reconcilers/finalizer_test.go
  operator/pkg/controllers/reconcilers/hooks_test.go
  operator/pkg/controllers/reconcilers/revision_test.go
  operator/pkg/controllers/reconcilers/services_test.go
  operator/pkg/controllers/reconcilers/utils_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/controllers/resources/ingresses_test.go
  operator/pkg/controllers/resources/services_test.go
Due: operator-lint

feat: add imagePullPolicy validate
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/constants.go
Due: operator-lint

test: update unittest
  operator/api/v1alpha2/bkapp_webhook_test.go
Due: operator-lint

minor: set resQuotaPlan as omitempty
  operator/api/v1alpha2/bkapp_types.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
Due: operator-lint

feat: add resQuotaPlan in process (#397)
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/compat.go
  operator/api/v1alpha2/constants.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/controllers/bkapp_controller_test.go
  operator/controllers/domaingroupmapping_controller_test.go
  operator/pkg/controllers/dgroupmapping/ingresses_test.go
  operator/pkg/controllers/reconcilers/deployments_test.go
  operator/pkg/controllers/reconcilers/finalizer_test.go
  operator/pkg/controllers/reconcilers/hooks_test.go
  operator/pkg/controllers/reconcilers/revision_test.go
  operator/pkg/controllers/reconcilers/services_test.go
  operator/pkg/controllers/reconcilers/utils_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/controllers/resources/ingresses_test.go
  operator/pkg/controllers/resources/services_test.go
Due: operator-lint

fix: 云api筛选分页bug修复
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-list.vue
Due: none

fix: add autoscaling to scheme
  operator/main.go
Due: operator-lint

Enhance refresh_cert command to support "full-scan" flag which update the uninitialized domains
  apiserver/paasng/paas_wl/networking/ingress/certs/utils.py
  apiserver/paasng/paas_wl/networking/ingress/management/commands/refresh_cert.py
  apiserver/paasng/paas_wl/networking/ingress/management/commands/shared_cert_tool.py
  apiserver/paasng/paas_wl/networking/ingress/models.py
  apiserver/paasng/tests/paas_wl/networking/ingress/test_models.py
Due: isort, black, flake8, mypy-apiserver

fix: add autoscaling perm in cluster role
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/config/rbac/role.yaml
  operator/pkg/controllers/reconcilers/autoscaling.go
Due: operator-lint

Enhance refresh_cert command to support "full-scan" flag which update the uninitialized domains (#394)
  apiserver/paasng/paas_wl/networking/ingress/certs/utils.py
  apiserver/paasng/paas_wl/networking/ingress/management/commands/refresh_cert.py
  apiserver/paasng/paas_wl/networking/ingress/management/commands/shared_cert_tool.py
  apiserver/paasng/paas_wl/networking/ingress/models.py
  apiserver/paasng/tests/paas_wl/networking/ingress/test_models.py
Due: isort, black, flake8, mypy-apiserver

feat: update update_helm_chart.py
  operator/scripts/update_helm_chart.py
Due: isort, black, flake8, operator-lint

fix: multiple version operator (#398)
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/config/rbac/role.yaml
  operator/main.go
  operator/pkg/controllers/reconcilers/autoscaling.go
  operator/scripts/update_helm_chart.py
Due: isort, black, flake8, operator-lint

docs: update dev_utils, conf.yaml.tpl, architecture docs
  README.md
  apiserver/README.md
  apiserver/dev_utils/bundle/README.md
  apiserver/dev_utils/bundle/docker-compose.yml
  apiserver/dev_utils/bundle/provision/mysql/init/01-databases.sql
  apiserver/dev_utils/bundle/start.sh
  apiserver/paasng/RELEASE.md
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/plat_admin/api_doc/views.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/settings/utils.py
  apiserver/paasng/tests/test_settings.py
  docs/CONTRIBUTING.md
  docs/DEVELOP_GUIDE.md
  docs/FAQ.md
  docs/install/develop_guide.md
  docs/overview/architecture.md
  docs/overview/project_codes.md
  docs/resource/img/architecture-202305.png
  docs/resource/img/architecture.png
  docs/resource/img/bk_qq_group.png
Due: isort, black, flake8, mypy-apiserver

docs: update README_EN.md
  README_EN.md
  apiserver/paasng/conf.yaml.tpl
  readme_en.md
Due: none

fix: 云api筛选分页bug修复 (#393)
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-list.vue
Due: none

fix: 统一企业版header (#386)
  webfe/package_vue/src/components/paas-header.vue
Due: none

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
