Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix：输入框长度限制、容忍度添加特定限制、删除集群复制内容调整 # Reviewed, transaction id: 33382
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/cluster-feature/tolerations-form.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/form-options.js
  webfe/package_vue/src/views/platform/app-cluster/cluster-viewpoint.vue
Due: none

fix：体验修复3-13 # Reviewed, transaction id: 33916
  webfe/package_vue/src/components/icon-status/index.vue
  webfe/package_vue/src/language/lang/platform-management/en.js
  webfe/package_vue/src/language/lang/platform-management/zh.js
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/component-install/index.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/form-options.js
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/index.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/select-cluster/index.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-viewpoint.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/cluster-details.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-components-sideslider.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-components.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-feature.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-info.vue
  webfe/package_vue/src/views/platform/app-cluster/config.vue
  webfe/package_vue/src/views/platform/comps/top-bar.vue
Due: none

fix：bk-ingress-nginx 组件编辑保存报错修复 # Reviewed, transaction id: 33401
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/component-install/config-edit-sideslider.vue
Due: none

fix：样式调整，详情显示字段错误修复，组件安装轮询详情处理 # Reviewed, transaction id: 34160
  webfe/package_vue/src/components/details-row/index.vue
  webfe/package_vue/src/components/icon-status/index.vue
  webfe/package_vue/src/language/lang/platform-management/en.js
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/component-install/component-management.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/component-install/index.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/select-cluster/index.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/default-component-details.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-components.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-feature.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-info.vue
Due: none

fix: 轮询交互逻辑调整，组件配置项回显修复、国际化样式修复 # Reviewed, transaction id: 34239
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/component-install/component-management.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/component-install/config-edit-sideslider.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/component-install/index.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/default-component-details.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-components-sideslider.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-components.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-info.vue
Due: none

fix: 国际化label宽度调整
  webfe/package_vue/src/views/platform/app-cluster/comps/default-component-details.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-components.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-info.vue
Due: none

fix: 平台管理url调整、组内体验修复3-17 # Reviewed, transaction id: 34486
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/components/icon-status/index.vue
  webfe/package_vue/src/language/lang/platform-management/en.js
  webfe/package_vue/src/language/lang/platform-management/zh.js
  webfe/package_vue/src/router/platform.js
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/component-install/component-management.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/component-install/config-edit-sideslider.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/component-install/index.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/comps/key-value-input.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/form-options.js
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/select-cluster/index.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/default-component-details.vue
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-components.vue
  webfe/package_vue/src/views/platform/app-cluster/config.vue
Due: none

fix: 平台管理，url调整高亮问题修复，Feature路由控制 # Reviewed, transaction id: 34516
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/router/index.js
Due: none

fix： 集群认证方式-证书敏感字段回填问题 # Reviewed, transaction id: 34624
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/select-cluster/index.vue
Due: none

feat: svc rabbitmq provide from plan (#1978)
  svc-rabbitmq/Dockerfile
  svc-rabbitmq/README.md
  svc-rabbitmq/data/fixtures/default.json
  svc-rabbitmq/migrate.sh
  svc-rabbitmq/svc_rabbitmq/urls.py
  svc-rabbitmq/templates/404.html
  svc-rabbitmq/vendor/client.py
  svc-rabbitmq/vendor/clusters.py
  svc-rabbitmq/vendor/management/commands/aliveness_test.py
  svc-rabbitmq/vendor/management/commands/create_instance.py
  svc-rabbitmq/vendor/management/commands/list_connections.py
  svc-rabbitmq/vendor/management/commands/register_cluster.py
  svc-rabbitmq/vendor/management/commands/reset_ins_config.py
  svc-rabbitmq/vendor/provider.py
Due: ruff-check-fix, ruff-format, ruff-check

feat: 添加集群 API 地址类型参数 # Reviewed, transaction id: 34748
  webfe/package_vue/src/language/lang/platform-management/en.js
  webfe/package_vue/src/language/lang/platform-management/zh.js
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/form-options.js
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/select-cluster/index.vue
Due: none

fix: 应用域名处理 # Reviewed, transaction id: 34754
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-components.vue
Due: none

review fix # Reviewed, transaction id: 34811
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/component-install/index.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/comps/domains-input.vue
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/form-options.js
  webfe/package_vue/src/views/platform/app-cluster/cluster-create-edit/select-cluster/index.vue
Due: none

fix: release map must use chart name as key
  apiserver/paasng/paasng/infras/bcs/client.py
  apiserver/paasng/paasng/infras/bk_ci/client.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/helm.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/components.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: release map must use chart name as key (#1993)
  apiserver/paasng/paasng/infras/bcs/client.py
  apiserver/paasng/paasng/infras/bk_ci/client.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/helm.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/components.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:调整
  apiserver/paasng/paasng/accessories/servicehub/migrations/0010_init_service_binding_policy.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

revert: project 参数保持不变
  apiserver/init.sh
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paas_wl/utils/blobstore.py
  apiserver/paasng/paasng/plat_admin/initialization/management/commands/init_bkrepo.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/blobstore.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

revert: minor
  apiserver/paasng/paasng/utils/blobstore.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: implement retrieve cluster status api
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: remove FIXME comment
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: Got KeyError when attempting to get a value for field on serializer
  apiserver/paasng/paasng/platform/mgrlegacy/serializers.py
  apiserver/paasng/tests/paasng/platform/mgrlegacy/test_serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add plat mgt overview apis
  apiserver/paasng/paasng/plat_mgt/overview/__init__.py
  apiserver/paasng/paasng/plat_mgt/overview/urls.py
  apiserver/paasng/paasng/plat_mgt/overview/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update the fixtures/template.yaml to match the new schema
  apiserver/paasng/fixtures/template.yaml
Due: none

fix: 集群项展示无权限时使用id展示 # Reviewed, transaction id: 35097
  webfe/package_vue/src/views/platform/app-cluster/comps/detail-info.vue
Due: none

refactor: update migration scripts to include updated field when saving templates
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/platform/templates/migrations/0007_set_is_hidden.py
  apiserver/paasng/paasng/platform/templates/migrations/0009_update_blob_url.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove the enabled_regions field from Template model (#1989)
  apiserver/paasng/fixtures/template.yaml
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/infras/accounts/serializers.py
  apiserver/paasng/paasng/infras/perm_insure/conf.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/templates.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/templates.html
  apiserver/paasng/paasng/plat_admin/admin42/views/templates.py
  apiserver/paasng/paasng/platform/modules/entities.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/templates/exceptions.py
  apiserver/paasng/paasng/platform/templates/manager.py
  apiserver/paasng/paasng/platform/templates/migrations/0006_template_is_hidden.py
  apiserver/paasng/paasng/platform/templates/migrations/0007_set_is_hidden.py
  apiserver/paasng/paasng/platform/templates/migrations/0008_remove_template_enabled_regions_and_more.py
  apiserver/paasng/paasng/platform/templates/migrations/0009_update_blob_url.py
  apiserver/paasng/paasng/platform/templates/models.py
  apiserver/paasng/paasng/platform/templates/serializers.py
  apiserver/paasng/paasng/platform/templates/templater.py
  apiserver/paasng/paasng/platform/templates/urls.py
  apiserver/paasng/paasng/platform/templates/views.py
  apiserver/paasng/tests/api/test_templates.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paasng/platform/modules/test_manager.py
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
  webfe/package_vue/src/views/dev-center/create-app/external.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove inproper use of region field, part 1
  apiserver/paasng/paas_wl/apis/admin/views/processes.py
  apiserver/paasng/paas_wl/bk_app/processes/models.py
  apiserver/paasng/tests/api/apigw/test_system_apis.py
  apiserver/paasng/tests/api/test_build_config.py
  apiserver/paasng/tests/api/test_market.py
  apiserver/paasng/tests/api/test_smart_app.py
  apiserver/paasng/tests/api/test_sourcectl.py
  apiserver/paasng/tests/api/test_templates.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paasng/accessories/publish/sync_market/test_sync_console.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: more on removing inproper use of region field, part 1 (#1991)
  apiserver/paasng/paas_wl/apis/admin/views/processes.py
  apiserver/paasng/paas_wl/bk_app/processes/models.py
  apiserver/paasng/tests/api/apigw/test_system_apis.py
  apiserver/paasng/tests/api/test_build_config.py
  apiserver/paasng/tests/api/test_market.py
  apiserver/paasng/tests/api/test_smart_app.py
  apiserver/paasng/tests/api/test_sourcectl.py
  apiserver/paasng/tests/api/test_templates.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paasng/accessories/publish/sync_market/test_sync_console.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove inproper use of region field, part 2
  apiserver/paasng/paas_wl/workloads/networking/egress/cluster_state.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/migrations/0010_remove_appdomain_region_remove_appdomaincert_region_and_more.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/models.py
  apiserver/paasng/paasng/accessories/publish/market/migrations/0008_remove_tag_region.py
  apiserver/paasng/paasng/accessories/publish/market/models.py
  apiserver/paasng/paasng/core/region/app.py
  apiserver/paasng/paasng/misc/metrics/workloads/deployment.py
  apiserver/paasng/tests/paasng/accessories/servicehub/conftest.py
  apiserver/paasng/tests/paasng/accessories/servicehub/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: more on removing inproper use of region field, part 2 (#1994)
  apiserver/paasng/paas_wl/workloads/networking/egress/cluster_state.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/migrations/0010_remove_appdomain_region_remove_appdomaincert_region_and_more.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/models.py
  apiserver/paasng/paasng/accessories/publish/market/migrations/0008_remove_tag_region.py
  apiserver/paasng/paasng/accessories/publish/market/models.py
  apiserver/paasng/paasng/core/region/app.py
  apiserver/paasng/paasng/misc/metrics/workloads/deployment.py
  apiserver/paasng/tests/paasng/accessories/servicehub/conftest.py
  apiserver/paasng/tests/paasng/accessories/servicehub/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove inproper use of region field, part 3
  apiserver/paasng/paas_wl/workloads/networking/egress/models.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/services.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/bkapp_model/urls.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/engine/deploy/start.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/egress_gateway.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/market.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v3/test_controller.py
  apiserver/paasng/tests/paasng/platform/engine/phases_steps/test_steps.py
  apiserver/paasng/tests/paasng/platform/engine/setup_utils.py
  apiserver/paasng/tests/paasng/platform/mgrlegacy/cnative/conftest.py
  apiserver/paasng/tests/paasng/platform/modules/conftest.py
  apiserver/paasng/tests/paasng/platform/modules/test_views.py
  apiserver/paasng/tests/utils/helpers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fix failed tests
  apiserver/paasng/tests/api/test_cnative.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v2/test_validations.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v3/test_validations.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: more on removing inproper use of region field, part 3 (#1999)
  apiserver/paasng/paas_wl/workloads/networking/egress/models.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/services.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/bkapp_model/urls.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/engine/deploy/start.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/egress_gateway.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/market.py
  apiserver/paasng/tests/api/test_cnative.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v2/test_validations.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v3/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v3/test_validations.py
  apiserver/paasng/tests/paasng/platform/engine/phases_steps/test_steps.py
  apiserver/paasng/tests/paasng/platform/engine/setup_utils.py
  apiserver/paasng/tests/paasng/platform/mgrlegacy/cnative/conftest.py
  apiserver/paasng/tests/paasng/platform/modules/conftest.py
  apiserver/paasng/tests/paasng/platform/modules/test_views.py
  apiserver/paasng/tests/utils/helpers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 添加初始化默认租户下的增强服务绑定策略的定时任务
  apiserver/paasng/fixtures/services.yaml
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0007_init_service_binding_policy.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0010_init_service_binding_policy.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0012_servicebindingpolicyautobindrecord.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/services.py
  apiserver/paasng/paasng/accessories/services/management/commands/init_redis_service_plans.py
  apiserver/paasng/paasng/platform/scheduler/jobs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 优化初始化脚本
  apiserver/init.sh
  apiserver/paasng/paasng/accessories/servicehub/apps.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 去掉 region
  apiserver/paasng/fixtures/services.yaml
  apiserver/paasng/paasng/platform/scheduler/jobs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 升级增强服务 paas-service sdk 版本
  svc-bkrepo/poetry.lock
  svc-bkrepo/pyproject.toml
  svc-mysql/poetry.lock
  svc-mysql/pyproject.toml
  svc-otel/poetry.lock
  svc-otel/pyproject.toml
  svc-rabbitmq/poetry.lock
  svc-rabbitmq/pyproject.toml
Due: none

fix: 前端适配应用模板相关的改动：删除 region、region 不再区分模板、删除场景模板、旧版遗留代码删除 # Reviewed, transaction id: 35131
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
  webfe/package_vue/src/views/dev-center/create-app/main.vue
Due: none

fix: 前端适配应用模板相关的改动：删除 region、region 不再区分模板、删除场景模板、旧版遗留代码删除 (#2000)
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
  webfe/package_vue/src/views/dev-center/create-app/main.vue
Due: none

feat: 删除 svc-otel 的 svc 和 plan 的初始化逻辑
  svc-otel/data/fixtures/.gitkeep
  svc-otel/data/fixtures/plans.json
  svc-otel/data/fixtures/service.json
  svc-otel/migrate.sh
Due: none
