Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix:添加测试
  apiserver/paasng/tests/paas_wl/bk_app/deploy/test_processes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:添加测试
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/test_processes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat:挂载卷新增展示名称
  apiserver/paasng/paas_wl/bk_app/cnative/specs/migrations/0008_persistentstoragesource_display_name.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/mount.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/urls.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: cpu 和 memory requests 支持可配置
  operator/pkg/controllers/bkapp/envs/env_overlay.go
  operator/pkg/controllers/bkapp/envs/env_overlay_test.go
Due: operator-lint

feat:挂载卷新增展示名称
  apiserver/paasng/paas_wl/bk_app/cnative/specs/migrations/0008_auto_20240327_0941.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: cpu 和 memory requests 支持可配置
  operator/pkg/controllers/bkapp/envs/env_overlay_test.go
Due: operator-lint

fix:云原生应用缩容到1时， bkappModel 没有相应修改 (#1196)
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/test_processes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 普通应用-部署配置：部署前置命令交互修改体验修复
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-config.vue
Due: none

feat: 修改应用名称时可同时修改应用 LOGO (#1199)
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复云原生应用的环境变量会出现多次的问题;
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/utils.py
  apiserver/paasng/paasng/platform/declarative/models.py
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: 补充单元测试
  apiserver/paasng/paasng/platform/bkapp_model/importer/importer.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_importer.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor with discussion
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_importer.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix unittest
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/utils.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复云原生应用 BkAppSpec 拼接的若干问题 (#1187)
  apiserver/paasng/paasng/platform/bkapp_model/importer/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/utils.py
  apiserver/paasng/paasng/platform/declarative/models.py
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_importer.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 is_default 字段缺失时会报错的问题
  apiserver/paasng/paasng/platform/declarative/application/validations/v2.py
  apiserver/paasng/paasng/platform/declarative/application/validations/v3.py
  apiserver/paasng/tests/api/assets/smart_app_v2/app_desc.yaml.tmpl
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: cpu 和 memory requests 支持可配置
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/config/samples/paas_v1alpha1_projectconfig.yaml
  operator/pkg/config/config.go
  operator/pkg/controllers/bkapp/envs/env_overlay.go
  operator/pkg/controllers/bkapp/envs/env_overlay_test.go
Due: operator-lint

feat: cpu 和 memory requests 支持可配置
  operator/pkg/controllers/bkapp/envs/env_overlay.go
Due: operator-lint

fix: 修复 is_default 字段缺失时会报错的问题 (#1205)
  apiserver/paasng/paasng/platform/declarative/application/validations/v2.py
  apiserver/paasng/paasng/platform/declarative/application/validations/v3.py
  apiserver/paasng/tests/api/assets/smart_app_v2/app_desc.yaml.tmpl
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: cpu 和 memory requests 支持可配置
  operator/api/v1alpha1/projectconfig_types.go
Due: operator-lint

fix:目录分块
  operator/api/v1alpha1/projectconfig_types.go
  operator/pkg/controllers/bkapp/envs/env_overlay_test.go
Due: operator-lint

minor: lock setup-envtest version
  operator/Makefile
Due: operator-lint

minor: lock setup-envtest version (#1206)
  operator/Makefile
Due: operator-lint

fix:变量名修改和错误处理
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/config/samples/paas_v1alpha1_projectconfig.yaml
  operator/pkg/config/config.go
  operator/pkg/controllers/bkapp/envs/env_overlay.go
  operator/pkg/controllers/bkapp/envs/env_overlay_test.go
  operator/pkg/controllers/bkapp/hooks/resources/hooks_test.go
  operator/pkg/controllers/bkapp/processes/resources/deployment_test.go
Due: operator-lint

fix:变量名修改和错误处理
  operator/api/v1alpha1/projectconfig_types.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/pkg/controllers/bkapp/envs/env_overlay.go
Due: operator-lint

minor
  apiserver/paasng/paasng/bk_plugins/pluginscenter/log/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复字段命名风格不一致导致字段不存在的问题
  apiserver/paasng/paasng/bk_plugins/pluginscenter/log/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复插件开发中心日志查询问题 (#1201)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/log/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 部署前置命令停用弹窗tip，应用市场使用is_smart_app字段判断
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-config.vue
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
Due: none

- 体验提单汇总修复 (#1197)
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/components/app-quick-nav.vue
  webfe/package_vue/src/components/create-persistent-storage-dailog.vue
  webfe/package_vue/src/components/searching/searchAppList.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/prod.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/stag.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-network/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-config.vue
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
  webfe/package_vue/src/views/dev-center/app/market/persistent-storage.vue
  webfe/package_vue/src/views/dev-center/app/services/comps/config-edit.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

feat: cpu 和 memory requests 支持可配置 (#1203)
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/config/samples/paas_v1alpha1_projectconfig.yaml
  operator/pkg/config/config.go
  operator/pkg/controllers/bkapp/envs/env_overlay.go
  operator/pkg/controllers/bkapp/envs/env_overlay_test.go
  operator/pkg/controllers/bkapp/hooks/resources/hooks_test.go
  operator/pkg/controllers/bkapp/processes/resources/deployment_test.go
Due: operator-lint

普通应用：应用配置不展示持久存储 tab
  webfe/package_vue/src/views/dev-center/app/basic-config/index.vue
Due: none

普通应用：应用配置不展示持久存储 tab (#1208)
  webfe/package_vue/src/views/dev-center/app/basic-config/index.vue
Due: none

Enhance: disallow duplicate entries when upsert svc-disc config & other fixes
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/tests/api/test_network_config.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Improve error message for SvcDiscConfigSLZ
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Enhance: disallow duplicate entries when upsert svc-disc config & other fixes (#1204)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/tests/api/test_network_config.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
