Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

feature: 添加 dbrouter 和 paas_wl 项目的软链接, 支持直接使用 paas_wl 项目的代码 (#209)
  apiserver/paasng/paas_wl
  apiserver/paasng/paasng/platform/core/storages/dbrouter.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
  workloads/paas_wl/paas_wl/networking/ingress/apps.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0001_initial.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0002_appsubpath.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0003_auto_20211020_1556.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0004_auto_20220331_1058.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0005_auto_20221212_1810.py
  workloads/paas_wl/paas_wl/networking/ingress/models.py
  workloads/paas_wl/paas_wl/settings/__init__.py
  workloads/paas_wl/paas_wl/workloads/resource_templates/components/probe.py
  workloads/paas_wl/paas_wl/workloads/resource_templates/utils.py
  workloads/paas_wl/tests/workloads/resource_templates/test_addons.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

fix: change BkPromRangeSingleMetric parse logic
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/client.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/bkmonitor.py
  workloads/paas_wl/paas_wl/monitoring/metrics/constants.py
  workloads/paas_wl/paas_wl/networking/ingress/management/commands/patch_legacy_ingresses.py
  workloads/paas_wl/paas_wl/settings/__init__.py
Due: isort, black, flake8, mypy-workloads

minor: ingress acl plugin change server snippet to configuration
  operator/pkg/controllers/resources/ingress_plugins.go
Due: operator-lint

fix: 应用列表筛选。创建页面重构。云API权限中权限 tips 更新
  webfe/package_vue/src/assets/css/mixins/border-active-logo.scss
  webfe/package_vue/src/components/loader/loading/apps.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-api.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/module-manage.vue
  webfe/package_vue/src/views/dev-center/app/create-module/index.scss
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/create-app/default-app-type.vue
  webfe/package_vue/src/views/dev-center/create-app/default.scss
  webfe/package_vue/src/views/dev-center/create-app/default.vue
  webfe/package_vue/src/views/dev-center/create-app/main.vue
  webfe/package_vue/src/views/dev-center/create-app/smart.vue
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

fix: 云api table显示优化
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-list.vue
Due: none

fix: 代码风格优化
  webfe/package_vue/src/views/dev-center/create-app/default-app-type.vue
Due: none

fix: 创建应用页与应用列表体验修复
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/create-app/default-app-type.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

fix: 字号调整。蓝鲸可视化平台tips更改
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

feat: 创建插件时可预设插件使用方
  apiserver/paasng/paasng/extensions/bk_plugins/apigw.py
  apiserver/paasng/paasng/extensions/bk_plugins/handlers.py
  apiserver/paasng/paasng/extensions/bk_plugins/migrations/0007_auto_20230227_1924.py
  apiserver/paasng/paasng/extensions/bk_plugins/models.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
Due: isort, black, flake8, mypy-apiserver

fix: 应用筛选添加全部选项。应用列表高级筛选去除插件应用
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

fix: 修复私有化版本的默认值为default
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

fix: 去除创建应用->构建方式
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

fix: 应用列表筛选。创建页面重构。云API权限中权限 tips 更新 (#216)
  webfe/package_vue/src/assets/css/mixins/border-active-logo.scss
  webfe/package_vue/src/components/loader/loading/apps.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-api.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-list.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/module-manage.vue
  webfe/package_vue/src/views/dev-center/app/create-module/index.scss
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/create-app/default-app-type.vue
  webfe/package_vue/src/views/dev-center/create-app/default.scss
  webfe/package_vue/src/views/dev-center/create-app/default.vue
  webfe/package_vue/src/views/dev-center/create-app/main.vue
  webfe/package_vue/src/views/dev-center/create-app/smart.vue
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

feat: 应用列表默认按名称字母序排序
  apiserver/paasng/paasng/accessories/search/views.py
  apiserver/paasng/paasng/monitoring/monitor/views.py
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/applications/views.py
  webfe/package_vue/src/views/dev-center/index.vue
Due: isort, black, flake8, mypy-apiserver

fix: 修复单元测试
  apiserver/paasng/paasng/extensions/bk_plugins/apigw.py
  apiserver/paasng/paasng/extensions/bk_plugins/models.py
Due: isort, black, flake8, mypy-apiserver

refactor: Ingress API 迁移至 apiserver
  apiserver/paasng/paasng/paas_wl/cnative/specs/serializers.py
  apiserver/paasng/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/paasng/paas_wl/networking/ingress/domains/__init__.py
  apiserver/paasng/paasng/paas_wl/networking/ingress/domains/independent.py
  apiserver/paasng/paasng/paas_wl/networking/ingress/domains/manager.py
  apiserver/paasng/paasng/paas_wl/networking/ingress/managers/__init__.py
  apiserver/paasng/paasng/paas_wl/networking/ingress/managers/misc.py
  apiserver/paasng/paasng/paas_wl/networking/ingress/serializers.py
  apiserver/paasng/paasng/paas_wl/networking/ingress/urls_enduser.py
  apiserver/paasng/paasng/paas_wl/networking/ingress/views_enduser.py
  apiserver/paasng/paasng/paas_wl/platform/__init__.py
  apiserver/paasng/paasng/paas_wl/platform/applications/__init__.py
  apiserver/paasng/paasng/paas_wl/platform/applications/struct_models.py
  apiserver/paasng/paasng/service_proxy/views.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/tests/paas_wl/cnative/specs/test_addresses.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/tests/paas_wl/cnative/specs/test_tasks.py
Due: isort, black, flake8, mypy-apiserver

refactor: apiserver 去除对 get_region_settings 接口的依赖
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/platform/region/views.py
Due: isort, black, flake8, mypy-apiserver

fix networking
  workloads/paas_wl/paas_wl/networking/ingress/views_enduser.py
Due: isort, black, flake8, mypy-workloads

refactor: 云原生应用API迁移至 apiserver
  apiserver/paasng/paasng/paas_wl/__init__.py
  apiserver/paasng/paasng/paas_wl/cnative/__init__.py
  apiserver/paasng/paasng/paas_wl/cnative/specs/__init__.py
  apiserver/paasng/paasng/paas_wl/cnative/specs/addresses.py
  apiserver/paasng/paasng/paas_wl/cnative/specs/resource.py
  apiserver/paasng/paasng/paas_wl/cnative/specs/serializers.py
  apiserver/paasng/paasng/paas_wl/cnative/specs/shim.py
  apiserver/paasng/paasng/paas_wl/cnative/specs/tasks.py
  apiserver/paasng/paasng/paas_wl/cnative/specs/urls_enduser.py
  apiserver/paasng/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/paasng/paas_wl/networking/__init__.py
  apiserver/paasng/paasng/paas_wl/networking/ingress/__init__.py
  apiserver/paasng/paasng/paas_wl/networking/ingress/addr.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/proc_spec.py
  apiserver/paasng/paasng/service_proxy/views.py
  apiserver/paasng/paasng/settings/workloads.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/paasng/service_proxy/views.py
Due: isort, black, flake8, mypy-apiserver

Migrate build API [apiserver]
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/models/base.py
  apiserver/paasng/paasng/settings/workloads.py
Due: isort, black, flake8, mypy-apiserver

Migrate build API [workloads]
  workloads/paas_wl/paas_wl/platform/applications/models/app.py
  workloads/paas_wl/paas_wl/platform/misc/probe.py
  workloads/paas_wl/paas_wl/utils/redisdb.py
Due: isort, black, flake8, mypy-workloads

Migrate some deploy related API [apiserver]
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/deploy/async_comps.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/deploy/preparations.py
  apiserver/paasng/paasng/engine/deploy/release.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/monitoring.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/tests/engine/test_monitoring.py
  apiserver/paasng/tests/utils/mocks/engine.py
Due: isort, black, flake8, mypy-apiserver

Migrate some deploy related API [workloads]
  workloads/paas_wl/paas_wl/platform/applications/models/config.py
  workloads/paas_wl/paas_wl/platform/applications/struct_models.py
  workloads/paas_wl/paas_wl/platform/external/client.py
  workloads/paas_wl/paas_wl/platform/external/local.py
  workloads/paas_wl/paas_wl/release_controller/process/callbacks.py
Due: isort, black, flake8, mypy-workloads

Move build/deploy related API from workloads service to module (#217)
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/deploy/async_comps.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/deploy/preparations.py
  apiserver/paasng/paasng/engine/deploy/release.py
  apiserver/paasng/paasng/engine/models/base.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/monitoring.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/tests/engine/test_monitoring.py
  apiserver/paasng/tests/utils/mocks/engine.py
  workloads/paas_wl/paas_wl/platform/applications/models/app.py
  workloads/paas_wl/paas_wl/platform/applications/models/config.py
  workloads/paas_wl/paas_wl/platform/applications/struct_models.py
  workloads/paas_wl/paas_wl/platform/external/client.py
  workloads/paas_wl/paas_wl/platform/external/local.py
  workloads/paas_wl/paas_wl/platform/misc/probe.py
  workloads/paas_wl/paas_wl/release_controller/process/callbacks.py
  workloads/paas_wl/paas_wl/utils/redisdb.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

更新证书
  LICENSE.txt
  License.txt
Due: none

Migrate API to local procedure: run_command, get_command
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/deploy/async_comps.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/models/deployment.py
  workloads/paas_wl/paas_wl/cnative/specs/addresses.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Migrate remaining APIs in EngineDeployClient
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/deploy/release.py
  apiserver/paasng/paasng/engine/models/processes.py
  apiserver/paasng/paasng/engine/processes/filters.py
  apiserver/paasng/tests/engine/test_engine_svc.py
  apiserver/paasng/tests/utils/mocks/engine.py
  workloads/paas_wl/paas_wl/platform/api.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Migrate API to local procedure: create_app, create_build, metadata [workloads]
  workloads/paas_wl/paas_wl/platform/api.py
  workloads/paas_wl/paas_wl/platform/applications/models/config.py
Due: isort, black, flake8, mypy-workloads

Migrate API to local procedure: create_app, create_build, metadata [apiserver]
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/management/commands/inject_engineapp_metadata.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/engine/test_engine_svc.py
  apiserver/paasng/tests/utils/mocks/engine.py
Due: isort, black, flake8, mypy-apiserver

Tiny enhancement
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
Due: isort, black, flake8, mypy-apiserver

Migrate all API calls in EngineDeployClient into local procedure (#221)
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/engine/deploy/async_comps.py
  apiserver/paasng/paasng/engine/deploy/engine_svc.py
  apiserver/paasng/paasng/engine/deploy/release.py
  apiserver/paasng/paasng/engine/management/commands/inject_engineapp_metadata.py
  apiserver/paasng/paasng/engine/models/deployment.py
  apiserver/paasng/paasng/engine/models/processes.py
  apiserver/paasng/paasng/engine/processes/filters.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/engine/test_engine_svc.py
  apiserver/paasng/tests/utils/mocks/engine.py
  workloads/paas_wl/paas_wl/cnative/specs/addresses.py
  workloads/paas_wl/paas_wl/platform/api.py
  workloads/paas_wl/paas_wl/platform/applications/models/config.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

refactor: move workloads admin api, image api, egress api to apiserver
  apiserver/paasng/paasng/service_proxy/views.py
  workloads/paas_wl/paas_wl/admin/views/certs.py
  workloads/paas_wl/paas_wl/admin/views/clusters.py
  workloads/paas_wl/paas_wl/admin/views/domain.py
  workloads/paas_wl/paas_wl/admin/views/processes.py
  workloads/paas_wl/paas_wl/networking/egress/views_enduser.py
  workloads/paas_wl/paas_wl/workloads/images/models.py
  workloads/paas_wl/paas_wl/workloads/images/views_enduser.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

refactor: move egress system api implementation to apiserver
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
  apiserver/paasng/paasng/engine/controller/client.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/egress_gateway.py
  workloads/paas_wl/paas_wl/cluster/urls.py
  workloads/paas_wl/paas_wl/cluster/views.py
  workloads/paas_wl/paas_wl/networking/egress/urls.py
  workloads/paas_wl/paas_wl/networking/egress/views.py
  workloads/paas_wl/paas_wl/urls.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

refactor: move cnative system api implementation to apiserver
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/engine/controller/client.py
  workloads/paas_wl/paas_wl/cnative/specs/urls.py
  workloads/paas_wl/paas_wl/cnative/specs/views.py
  workloads/paas_wl/paas_wl/urls.py
  workloads/paas_wl/paas_wl/workloads/images/serializers.py
  workloads/paas_wl/paas_wl/workloads/images/urls.py
  workloads/paas_wl/paas_wl/workloads/images/views.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads
