Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

feat: update svc-mysql Dockerfile
  svc-mysql/Dockerfile
Due: none

feat: update svc-bkrepo Dockerfile
  svc-bkrepo/Dockerfile
Due: none

fix:调整
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs：fix uni_apps_list_minimal limit parameter description
  apiserver/paasng/support-files/apigw/api_doc/en/uni_apps_list_minimal.md
  apiserver/paasng/support-files/apigw/api_doc/zh/uni_apps_list_minimal.md
Due: none

docs: fix description of uni_apps_list_minimal
  apiserver/paasng/support-files/apigw/api_doc/en/uni_apps_list_minimal.md
  apiserver/paasng/support-files/apigw/api_doc/zh/uni_apps_list_minimal.md
Due: none

fix: apiserver urls
  apiserver/paasng/paasng/platform/engine/views/configvar.py
  apiserver/paasng/paasng/platform/mgrlegacy/apps.py
  apiserver/paasng/paasng/platform/sourcectl/connector.py
  apiserver/paasng/paasng/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: fix description
  apiserver/paasng/support-files/apigw/api_doc/zh/uni_apps_list_minimal.md
Due: none

docs: fix description
  apiserver/paasng/support-files/apigw/api_doc/en/uni_apps_list_minimal.md
  apiserver/paasng/support-files/apigw/api_doc/zh/uni_apps_list_minimal.md
Due: none

feat: 添加跨域配置和中间件
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

fix: update werkzeug to 3.0.6
  apiserver/paasng/paasng/urls.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: apiserver urls
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/platform/applications/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

docs: fix uni_apps_list_minimal limit parameter description (#1690)
  apiserver/paasng/support-files/apigw/api_doc/en/uni_apps_list_minimal.md
  apiserver/paasng/support-files/apigw/api_doc/zh/uni_apps_list_minimal.md
Due: none

fix: 操作审计提单修复 (#1684)
  webfe/package_vue/src/views/dev-center/app/operation-record/comps/code-diff.vue
  webfe/package_vue/src/views/dev-center/app/operation-record/comps/diff.vue
  webfe/package_vue/src/views/dev-center/app/operation-record/index.vue
Due: none

feat: pr 评论修改
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/manager.py
  apiserver/paasng/paasng/misc/monitoring/monitor/migrations/0002_appdashboard_appdashboardtemplate.py
  apiserver/paasng/paasng/misc/monitoring/monitor/models.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/paasng/platform/templates/migrations/0006_appdashboardtemplate.py
  apiserver/paasng/paasng/platform/templates/models.py
  apiserver/paasng/tests/api/test_dashboard.py
  apiserver/paasng/tests/paasng/misc/monitoring/test_commands.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 单词拼写
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update svc-rabbitmq to python 3.11 & Django 4.2 (#1685)
  svc-rabbitmq/Dockerfile
  svc-rabbitmq/monitor/urls.py
  svc-rabbitmq/poetry.lock
  svc-rabbitmq/pyproject.toml
  svc-rabbitmq/svc_rabbitmq/middleware.py
  svc-rabbitmq/svc_rabbitmq/settings/__init__.py
  svc-rabbitmq/svc_rabbitmq/settings/current.py
  svc-rabbitmq/svc_rabbitmq/urls.py
  svc-rabbitmq/vendor/urls.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: get_random_string must provide length
  apiserver/paasng/tests/paas_wl/infras/cluster/test_models.py
  apiserver/paasng/tests/paas_wl/infras/resources/base/test_credentials.py
  apiserver/paasng/tests/paasng/platform/engine/test_config_var.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add dashboard import function (#1683)
  apiserver/paasng/paasng/infras/bkmonitorv3/backend/apigw.py
  apiserver/paasng/paasng/infras/bkmonitorv3/backend/esb.py
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/__init__.py
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/handlers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/manager.py
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/tasks.py
  apiserver/paasng/paasng/misc/monitoring/monitor/management/commands/init_dashboards.py
  apiserver/paasng/paasng/misc/monitoring/monitor/migrations/0002_appdashboard_appdashboardtemplate.py
  apiserver/paasng/paasng/misc/monitoring/monitor/models.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/tests/api/test_dashboard.py
  apiserver/paasng/tests/paasng/misc/monitoring/test_commands.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 初始化时加载代码，支持不同类型的代码获取方式 (#1602)
  cnb-builder-shim/cmd/dev-entrypoint/init.go
  cnb-builder-shim/cmd/dev-entrypoint/main.go
  cnb-builder-shim/internal/devsandbox/config/loader.go
  cnb-builder-shim/internal/devsandbox/config/types.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
  cnb-builder-shim/internal/devsandbox/webserver/server_test.go
  cnb-builder-shim/internal/devsandbox/webserver/service/deploy.go
  cnb-builder-shim/internal/devsandbox/webserver/service/deploy_test.go
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/django-helloworld.zip
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld.zip
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/helloworld/helloworld/__init__.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/helloworld/helloworld/asgi.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/helloworld/helloworld/settings.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/helloworld/helloworld/urls.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/helloworld/helloworld/wsgi.py
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/helloworld/manage.py
  cnb-builder-shim/pkg/utils/os.go
Due: ruff-check-fix, ruff-format, ruff-check

feat: 获取应用日志
  cnb-builder-shim/internal/devsandbox/watchsrv.go
  cnb-builder-shim/internal/devsandbox/webserver/serializer.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
  cnb-builder-shim/internal/devsandbox/webserver/service/app_logs.go
  cnb-builder-shim/internal/devsandbox/webserver/service/deploy_test.go
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/django-helloworld.zip
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/helloworld.zip
  cnb-builder-shim/internal/devsandbox/webserver/service/testdata/templates/helloworld/app_desc.yaml
Due: none

feat: 支持跨域请求
  cnb-builder-shim/cmd/dev-entrypoint/init_test.go
  cnb-builder-shim/go.mod
  cnb-builder-shim/go.sum
  cnb-builder-shim/internal/devsandbox/config/loader.go
  cnb-builder-shim/internal/devsandbox/config/types.go
  cnb-builder-shim/internal/devsandbox/webserver/server.go
Due: none

fix: 首页样式问题修复 & 优化 # Reviewed, transaction id: 22203
  webfe/package_vue/src/views/dev-center/home/home-content/alarm-records.vue
  webfe/package_vue/src/views/dev-center/home/home-content/idle-app-dashboard.vue
  webfe/package_vue/src/views/dev-center/home/home-content/index.vue
Due: none

fix: custom json field `get_prep_value` error
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/paasng/utils/models.py
  apiserver/paasng/tests/paasng/platform/engine/test_config_var.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: update svc-mysql to python 3.11 & Django 4.2 (#1687)
  svc-mysql/Dockerfile
  svc-mysql/poetry.lock
  svc-mysql/pyproject.toml
  svc-mysql/svc_mysql/middleware.py
  svc-mysql/svc_mysql/settings/__init__.py
  svc-mysql/svc_mysql/settings/default.py
  svc-mysql/svc_mysql/urls.py
  svc-mysql/svc_mysql/vendor/urls.py
Due: ruff-check-fix, ruff-format, ruff-check

feat: update svc-bkrepo to python 3.11 & Django 4.2 (#1686)
  svc-bkrepo/Dockerfile
  svc-bkrepo/poetry.lock
  svc-bkrepo/pyproject.toml
  svc-bkrepo/svc_bk_repo/settings/__init__.py
  svc-bkrepo/svc_bk_repo/settings/default.py
  svc-bkrepo/svc_bk_repo/urls.py
  svc-bkrepo/svc_bk_repo/vendor/urls.py
Due: ruff-check-fix, ruff-format, ruff-check

docs: minor
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: refactor
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: test sync replicas logic in ModuleProcessSpecManager.sync_from_desc
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: sync replicas in ModuleProcessSpecManager.sync_from_desc (#1682)
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:调整
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/conf.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/constants.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/controller.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/entities.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/__init__.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/ingress.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/service.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/__init__.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/code_editor.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/sandbox.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/service.py
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0001_initial.py
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0002_rename_sandbox_codeeditor_dev_sandbox.py
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0003_devsandbox_version_info.py
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0004_auto_20241028_0248.py
  apiserver/paasng/paasng/accessories/dev_sandbox/models.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/test_controller.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/test_kres_slzs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:调整
  apiserver/paasng/paasng/accessories/dev_sandbox/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:调整
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0001_initial.py
  apiserver/paasng/paasng/accessories/dev_sandbox/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:调整
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0001_initial.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:冲突解决
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：Cors 大写、修改注释、修改 getListFromEnv 入参变量名
  cnb-builder-shim/cmd/dev-entrypoint/init_test.go
  cnb-builder-shim/internal/devsandbox/config/loader.go
  cnb-builder-shim/internal/devsandbox/config/types.go
Due: none

feat: configurate monitor dashboard templates in admin42
  apiserver/paasng/paasng/infras/accounts/permissions/constants.py
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/dashboard_templates.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/configuration/dashboard_templates.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/front_page.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/dashboard_templates.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
