Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

feat: 进程信息添加 resource_limit_quota
  workloads/paas_wl/paas_wl/workloads/processes/drf_serializers.py
Due: isort, black, flake8, mypy-workloads

Migrate paas_wl.tests.release_controller
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/release_controller/builder/__init__.py
  apiserver/paasng/tests/paas_wl/release_controller/builder/test_executor.py
  apiserver/paasng/tests/paas_wl/release_controller/builder/test_infras.py
  apiserver/paasng/tests/paas_wl/release_controller/builder/test_procedures.py
  apiserver/paasng/tests/paas_wl/release_controller/process/__init__.py
  apiserver/paasng/tests/paas_wl/release_controller/process/conftest.py
  apiserver/paasng/tests/paas_wl/release_controller/process/test_utils.py
  apiserver/paasng/tests/paas_wl/release_controller/test_builder.py
  apiserver/paasng/tests/paas_wl/release_controller/test_models.py
  apiserver/paasng/tests/paas_wl/utils/build.py
  apiserver/paasng/tests/paas_wl/utils/wl_app.py
Due: isort, black, flake8, mypy-apiserver

Tiny enhancement on test_infras module
  apiserver/paasng/tests/paas_wl/release_controller/builder/test_infras.py
Due: isort, black, flake8, mypy-apiserver

Migrate paas_wl.tests.release_controller (#246)
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/release_controller/builder/__init__.py
  apiserver/paasng/tests/paas_wl/release_controller/builder/test_executor.py
  apiserver/paasng/tests/paas_wl/release_controller/builder/test_infras.py
  apiserver/paasng/tests/paas_wl/release_controller/builder/test_procedures.py
  apiserver/paasng/tests/paas_wl/release_controller/process/__init__.py
  apiserver/paasng/tests/paas_wl/release_controller/process/conftest.py
  apiserver/paasng/tests/paas_wl/release_controller/process/test_utils.py
  apiserver/paasng/tests/paas_wl/release_controller/test_builder.py
  apiserver/paasng/tests/paas_wl/release_controller/test_models.py
  apiserver/paasng/tests/paas_wl/utils/build.py
  apiserver/paasng/tests/paas_wl/utils/wl_app.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/tests/paas_wl/conftest.py
Due: isort, black, flake8, mypy-apiserver

Migrate paas_wl.tests.test_utils
  apiserver/paasng/paasng/__init__.py
  apiserver/paasng/tests/paas_wl/test_utils/__init__.py
  apiserver/paasng/tests/paas_wl/test_utils/test_basic.py
  apiserver/paasng/tests/paas_wl/test_utils/test_main.py
Due: isort, black, flake8, mypy-apiserver

Migrate paas_wl.tests.test_utils (#247)
  apiserver/paasng/paasng/__init__.py
  apiserver/paasng/tests/paas_wl/test_utils/__init__.py
  apiserver/paasng/tests/paas_wl/test_utils/test_basic.py
  apiserver/paasng/tests/paas_wl/test_utils/test_main.py
Due: isort, black, flake8, mypy-apiserver

fix: 表头溢出title
  webfe/package_vue/src/common/utils.js
  webfe/package_vue/src/main.js
  webfe/package_vue/src/views/dev-center/app/access-ctl/by-ip.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/by-user.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/done-order.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/path-exempt.vue
  webfe/package_vue/src/views/dev-center/app/access-ctl/processing-order.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/access-portal/domain.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/app-perm.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/batch-renewal-dialog.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-list.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/comps/analysis.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/event.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-event.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-version.vue
  webfe/package_vue/src/views/dev-center/app/engine/code-review/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/deploy-history.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/custom-domain.vue
  webfe/package_vue/src/views/dev-center/app/engine/packages/index.vue
  webfe/package_vue/src/views/dev-center/monitor/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/services/overview.vue
Due: none

fix: 文本溢出处理
  webfe/package_vue/src/assets/css/mixins/ellipsis.scss
  webfe/package_vue/src/components/app-quick-nav.vue
  webfe/package_vue/src/components/searching/searchAppList.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-list.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/system-filter.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/dev-center/app/docu-management/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/summary/index.vue
  webfe/package_vue/src/views/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
Due: none

fix: 表头溢出title改为tips方案
  webfe/package_vue/src/App.vue
  webfe/package_vue/src/common/utils.js
Due: none

minor: resolve #248 conversations
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/paas_wl/cluster/test_utils.py
  apiserver/paasng/tests/paas_wl/cnative/specs/conftest.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/e2e/ingress/conftest.py
  apiserver/paasng/tests/paas_wl/monitoring/metrics/test_metric_manager.py
  apiserver/paasng/tests/paas_wl/networking/ingress/entities/test_ingress.py
  apiserver/paasng/tests/paas_wl/networking/ingress/entities/test_service.py
  apiserver/paasng/tests/paas_wl/resources/actions/test_deploy.py
  apiserver/paasng/tests/paas_wl/resources/actions/test_exec.py
  apiserver/paasng/tests/paas_wl/resources/base/test_client.py
  apiserver/paasng/tests/paas_wl/resources/base/test_controllers.py
  apiserver/paasng/tests/paas_wl/resources/base/test_failover.py
  apiserver/paasng/tests/paas_wl/resources/base/test_generation.py
  apiserver/paasng/tests/paas_wl/resources/kube_res/test_base.py
  apiserver/paasng/tests/paas_wl/resources/utils/test_app.py
  apiserver/paasng/tests/paas_wl/resources/utils/test_basic.py
  apiserver/paasng/tests/paas_wl/utils/wl_app.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_controllers.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_managers.py
  apiserver/paasng/tests/paas_wl/workloads/test_process.py
Due: isort, black, flake8, mypy-apiserver

test: fix unittest
  apiserver/paasng/tests/paas_wl/release_controller/builder/test_executor.py
  apiserver/paasng/tests/paas_wl/release_controller/builder/test_infras.py
  apiserver/paasng/tests/paas_wl/release_controller/builder/test_procedures.py
  apiserver/paasng/tests/paas_wl/release_controller/process/test_utils.py
  apiserver/paasng/tests/paas_wl/release_controller/test_models.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_models.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_wait.py
  apiserver/paasng/tests/paas_wl/workloads/resource_templates/test_addons.py
Due: isort, black, flake8, mypy-apiserver

refactor: 迁移 workloads platform 目录下的测试用例
  apiserver/paasng/tests/paas_wl/networking/ingress/test_addrs.py
  apiserver/paasng/tests/paas_wl/platform/models/__init__.py
  apiserver/paasng/tests/paas_wl/platform/models/test_app_managers.py
  apiserver/paasng/tests/paas_wl/platform/models/test_app_model.py
  apiserver/paasng/tests/paas_wl/platform/models/test_command.py
  apiserver/paasng/tests/paas_wl/platform/models/test_models_utils.py
  apiserver/paasng/tests/paas_wl/platform/models/test_release.py
  apiserver/paasng/tests/paas_wl/utils/release.py
  workloads/paas_wl/tests/platform/applications/__init__.py
  workloads/paas_wl/tests/platform/applications/models/__init__.py
  workloads/paas_wl/tests/platform/applications/models/test_release.py
  workloads/paas_wl/tests/platform/applications/test_middlewares.py
  workloads/paas_wl/tests/platform/applications/test_struct_models.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

删除剩余的测试用例
  apiserver/paasng/tests/paas_wl/release_controller/process/conftest.py
  apiserver/paasng/tests/paas_wl/release_controller/test_builder.py
  workloads/paas_wl/tests/release_controller/__init__.py
  workloads/paas_wl/tests/release_controller/builder/__init__.py
  workloads/paas_wl/tests/release_controller/builder/test_executor.py
  workloads/paas_wl/tests/release_controller/builder/test_infras.py
  workloads/paas_wl/tests/release_controller/builder/test_procedures.py
  workloads/paas_wl/tests/release_controller/process/conftest.py
  workloads/paas_wl/tests/release_controller/process/test_utils.py
  workloads/paas_wl/tests/release_controller/test_builder.py
  workloads/paas_wl/tests/release_controller/test_models.py
  workloads/paas_wl/tests/test_utils/__init__.py
  workloads/paas_wl/tests/test_utils/test_basic.py
  workloads/paas_wl/tests/test_utils/test_main.py
  workloads/paas_wl/tests/utils/__init__.py
  workloads/paas_wl/tests/utils/app.py
  workloads/paas_wl/tests/utils/auth.py
  workloads/paas_wl/tests/utils/basic.py
  workloads/paas_wl/tests/utils/build_process.py
  workloads/paas_wl/tests/utils/kube_config.py
  workloads/paas_wl/tests/utils/mocks/__init__.py
  workloads/paas_wl/tests/utils/mocks/bcs_client.py
  workloads/paas_wl/tests/utils/mocks/platform.py
  workloads/paas_wl/tests/utils/mocks/poll_task.py
  workloads/paas_wl/tests/utils/mocks/utils.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

删除剩余的测试用例
  workloads/paas_wl/tests/__init__.py
  workloads/paas_wl/tests/assets/dj_with_hello_world_demo.tar.gz
  workloads/paas_wl/tests/conftest.py
  workloads/paas_wl/tests/test_settings.py
Due: isort, black, flake8, mypy-workloads

feat: 应用/插件无权限时返回权限申请链接
  apiserver/paasng/paasng/accessories/iam/helpers.py
  apiserver/paasng/paasng/accounts/permissions/application.py
  apiserver/paasng/paasng/pluginscenter/iam_adaptor/management/shim.py
  apiserver/paasng/paasng/pluginscenter/iam_adaptor/policy/permissions.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

feat: 应用\插件无权限时,报错信息中返回权限申请链接
  apiserver/paasng/paasng/accessories/iam/helpers.py
  apiserver/paasng/paasng/accounts/permissions/application.py
  apiserver/paasng/paasng/pluginscenter/iam_adaptor/management/shim.py
  apiserver/paasng/paasng/pluginscenter/iam_adaptor/policy/permissions.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

Migrate code in paas_wl.utils.basic
  apiserver/paasng/paasng/utils/basic.py
  apiserver/paasng/tests/paas_wl/test_utils/test_basic.py
  workloads/paas_wl/paas_wl/admin/views/domain.py
  workloads/paas_wl/paas_wl/cnative/specs/urls_enduser.py
  workloads/paas_wl/paas_wl/networking/egress/urls_enduser.py
  workloads/paas_wl/paas_wl/networking/ingress/urls_enduser.py
  workloads/paas_wl/paas_wl/networking/ingress/views_enduser.py
  workloads/paas_wl/paas_wl/utils/api_docs.py
  workloads/paas_wl/paas_wl/utils/basic.py
  workloads/paas_wl/paas_wl/workloads/processes/urls_enduser.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Migrate code in paas_wl.utils.basic (#253)
  apiserver/paasng/paasng/utils/basic.py
  apiserver/paasng/tests/paas_wl/test_utils/test_basic.py
  workloads/paas_wl/paas_wl/admin/views/domain.py
  workloads/paas_wl/paas_wl/cnative/specs/urls_enduser.py
  workloads/paas_wl/paas_wl/networking/egress/urls_enduser.py
  workloads/paas_wl/paas_wl/networking/ingress/urls_enduser.py
  workloads/paas_wl/paas_wl/networking/ingress/views_enduser.py
  workloads/paas_wl/paas_wl/utils/api_docs.py
  workloads/paas_wl/paas_wl/utils/basic.py
  workloads/paas_wl/paas_wl/workloads/processes/urls_enduser.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

fix: 迁移代码时引入的问题
  workloads/paas_wl/paas_wl/release_controller/process/wait.py
Due: isort, black, flake8, mypy-workloads

fix: 迁移代码时引入的问题 (#254)
  workloads/paas_wl/paas_wl/release_controller/process/wait.py
Due: isort, black, flake8, mypy-workloads

fix: solve bug when fetch metrics from bkmonitorv3
  apiserver/paasng/paasng/engine/serializers.py
  workloads/paas_wl/paas_wl/monitoring/bkmonitor/api_resources/apigw.py
  workloads/paas_wl/paas_wl/monitoring/metrics/clients/bkmonitor.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

perf: use datetime.fromisoformat replace strptime
  apiserver/paasng/paasng/engine/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix: solve bug when fetch metrics from bkmonitorv3 (#256)
  apiserver/paasng/paas_wl/monitoring/bkmonitor/api_resources/apigw.py
  apiserver/paasng/paas_wl/monitoring/metrics/clients/bkmonitor.py
  apiserver/paasng/paasng/engine/serializers.py
Due: isort, black, flake8, mypy-apiserver

Enhance: when deploy cnative app, validate first, get image credentials later
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
Due: isort, black, flake8, mypy-apiserver

Enhance: when deploy cnative app, validate first, get image credentials later (#257)
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
Due: isort, black, flake8, mypy-apiserver

fix: fix-router bug
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
Due: none

fix: fix bugs
  webfe/package_vue/src/components/paas-app-nav.vue
Due: none

fix auth tips bug (#260)
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
Due: none

minor: resolve #258 conversations
  apiserver/paasng/paas_wl/platform/system_api/serializers.py
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
Due: isort, black, flake8, mypy-apiserver

fix: solve cnative app proc detail not quota & cluster_link data
  .pre-commit-config.yaml
  apiserver/paasng/paas_wl/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/cnative/specs/procs/quota.py
  apiserver/paasng/paas_wl/platform/system_api/serializers.py
  apiserver/paasng/paas_wl/workloads/processes/drf_serializers.py
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/tests/paas_wl/cnative/specs/procs/test_procs.py
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
Due: isort, black, flake8, mypy-apiserver

minor: add comment for command args
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
Due: isort, black, flake8, mypy-apiserver
