Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude 
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix  
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: bugfix (#943)
  apiserver/paasng/paasng/extensions/declarative/application/fields.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fix bugs
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

Apply ruff check --fix, more unsafe fixes
  apiserver/paasng/paas_wl/bk_app/applications/models/validators.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/differ.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/deploy/management/commands/delete_slug.py
  apiserver/paasng/paas_wl/infras/resources/base/kube_client.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/shim.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/kres_entities/ingress.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/iam_adaptor/management/shim.py
  apiserver/paasng/paasng/infras/iam/client.py
  apiserver/paasng/paasng/infras/oauth2/api.py
  apiserver/paasng/paasng/misc/operations/models.py
  apiserver/paasng/paasng/misc/operations/views.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/operator.py
  apiserver/paasng/paasng/plat_admin/api_doc/extended_auto_schema.py
  apiserver/paasng/paasng/plat_admin/numbers/app.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/serializers/validators.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/declarative/application/validations.py
  apiserver/paasng/paasng/platform/declarative/models.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/pre_release.py
  apiserver/paasng/paasng/platform/engine/utils/source.py
  apiserver/paasng/paasng/platform/mgrlegacy/views.py
  apiserver/paasng/paasng/platform/sourcectl/type_specs.py
  apiserver/paasng/paasng/platform/sourcectl/utils.py
  apiserver/paasng/paasng/settings/utils.py
  apiserver/paasng/paasng/utils/es_log/misc.py
  apiserver/paasng/paasng/utils/es_log/models.py
  apiserver/paasng/paasng/utils/es_log/time_range.py
  apiserver/paasng/paasng/utils/i18n/serializers.py
  apiserver/paasng/paasng/utils/patternmatcher.py
  apiserver/paasng/paasng/utils/validators.py
  apiserver/paasng/tests/api/test_swagger.py
  apiserver/paasng/tests/paas_wl/bk_app/monitoring/metrics/test_client.py
  apiserver/paasng/tests/paas_wl/e2e/ingress/utils.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/test_utils.py
  apiserver/paasng/tests/paasng/infras/accounts/test_models.py
  pyproject.toml
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 监控日志配置
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/misc/feature_flags/constants.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

Fix: undefined exception in admin page "admin/accountmgr/" (#937)
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/accountmgr/user_profile_list.html
Due: none

fix: 路径前缀不添加 apigw
  apiserver/paasng/paasng/platform/modules/urls.py
  apiserver/paasng/tests/api/apigw/test_modules.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: not enforce image credential validation when creating a cloud-native module
  apiserver/paasng/paas_wl/workloads/images/serializers.py
  apiserver/paasng/paasng/platform/applications/serializers/cnative.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/modules/views.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: do not validate image credential when creating a cloud-native module (#945)
  apiserver/paasng/paas_wl/workloads/images/serializers.py
  apiserver/paasng/paasng/platform/applications/serializers/cnative.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/modules/views.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 创建应用、创建模块调整 (#946)
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

feat: hlem charts 生成脚本
  operator/controllers/bkapp_controller.go
  operator/main.go
  operator/pkg/controllers/reconcilers/addons.go
  operator/pkg/controllers/reconcilers/autoscaling.go
  operator/pkg/controllers/reconcilers/deploy_action.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/finalizer.go
  operator/pkg/controllers/reconcilers/services.go
  operator/pkg/metrics/registry.go
  operator/pkg/platform/external/addons.go
Due: operator-lint

Fix: unsafe fix done by ruff (remove .keys())
  apiserver/paasng/paas_wl/infras/resources/base/kube_client.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/kres_entities/ingress.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

Fix: unsafe fix done by ruff (remove .keys()) (#948)
  apiserver/paasng/paas_wl/infras/resources/base/kube_client.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/kres_entities/ingress.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: missing hook params
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/api/test_modules.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

Refactor: add BkAppSemanticEqual function
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/deployments_test.go
Due: operator-lint

Enhance: when new fields were added to BkApp, compare deployment with default values initialize also.
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/resources/deployment.go
Due: operator-lint

Fix: avoid rolling out deployments of all bkapps to stop depending on hash value of the deployment object
  operator/api/v1alpha2/constants.go
  operator/go.mod
  operator/go.sum
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/deployments_test.go
  operator/pkg/controllers/reconcilers/utils_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/svcdisc/configmap.go
  operator/pkg/controllers/svcdisc/configmap_test.go
Due: operator-lint

Fix: avoid rolling out deployments of all bkapps when releasing new version of operator (#935)
  operator/api/v1alpha2/constants.go
  operator/go.mod
  operator/go.sum
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/deployments_test.go
  operator/pkg/controllers/reconcilers/utils_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/svcdisc/configmap.go
  operator/pkg/controllers/svcdisc/configmap_test.go
Due: operator-lint

fix: missing hook params (#949)
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/api/test_modules.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

bugfix: 修复同步漏了 autoscaling 的问题
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

bugfix: 修复同步漏了 autoscaling 的问题 (#950)
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 优化问题
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

feat: 合并冲突
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
Due: none

feat: 添加批量初始化日志采集脚本
  apiserver/paasng/paasng/accessories/log/management/__init__.py
  apiserver/paasng/paasng/accessories/log/management/commands/__init__.py
  apiserver/paasng/paasng/accessories/log/management/commands/init_bklog_config.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fix bugs
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
Due: none

fix:冲突解决
  operator/Makefile
Due: operator-lint

feat: 创建应用调整 (#952)
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: AutoscalingConfigField 退回 jsonfields
  apiserver/paasng/paas_wl/bk_app/processes/models.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: view bkapp hook logs on deploying
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/bkapp_hook.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/tasks.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 增加自定义 metric (#902)
  .gitignore
  operator/config/default/kustomization.yaml
  operator/config/default/manager_metrics_patch.yaml
  operator/config/prometheus/kustomization.yaml
  operator/config/prometheus/service-monitor.yaml
  operator/config/prometheus/service.yaml
  operator/controllers/bkapp_controller.go
  operator/go.mod
  operator/main.go
  operator/pkg/controllers/reconcilers/addons.go
  operator/pkg/controllers/reconcilers/autoscaling.go
  operator/pkg/controllers/reconcilers/deploy_action.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/finalizer.go
  operator/pkg/controllers/reconcilers/services.go
  operator/pkg/metrics/addon.go
  operator/pkg/metrics/autoscale.go
  operator/pkg/metrics/bkapp.go
  operator/pkg/metrics/consts.go
  operator/pkg/metrics/deploy_action.go
  operator/pkg/metrics/deployment.go
  operator/pkg/metrics/finalizer.go
  operator/pkg/metrics/metrics.go
  operator/pkg/metrics/registry.go
  operator/pkg/metrics/service.go
  operator/pkg/platform/external/addons.go
  operator/scripts/update_helm_chart.py
Due: ruff-format, ruff-check-fix, ruff-check, operator-lint

fix: minor
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: minor
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
  apiserver/paasng/paas_wl/infras/resources/base/kres.py
  apiserver/paasng/paas_wl/utils/constants.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/bkapp_hook.py
  apiserver/paasng/paasng/platform/engine/phases_steps/steps.py
  apiserver/paasng/paasng/platform/engine/utils/output.py
  apiserver/paasng/paasng/platform/engine/workflow/flow.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: Smart 包的格式校验应该在前端也添加上，避免无用的等待
  webfe/package_vue/src/components/uploader/index.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/packages/index.vue
Due: none

feat: 部署弹框的 title 中添加模块信息
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

fix: 拉取代码仓库仓库失败时，错误信息能直接展示到页面, Eslint
  webfe/package_vue/src/views/dev-center/app/engine/deployment/comps/deploy-action/index.vue
Due: none

fix: 换行样式问题
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
  webfe/package_vue/src/views/dev-center/app/services/category.vue
Due: none

fix: 云原生应用buildpack 应用创建成功后，没有下载模板的样式
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
Due: none

fix: 国际化验收修复v1
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-list.vue
  webfe/package_vue/src/views/index.vue
Due: none
