Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 插件体验单据修复 (#1342)
  webfe/package_vue/package.json
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/comps/version-manage-title.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/build/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

feat: add Probes field in BkApp Process
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
Due: operator-lint

bugfix: 前置命令日志获取超时时间与前置命令执行超时时间保持一致
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: support build container probes
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/pkg/controllers/bkapp/processes/resources/deployment.go
  operator/pkg/controllers/bkapp/processes/resources/deployment_test.go
Due: operator-lint

enhance: 监控告警内容注入自定义文档链接
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: update helm chart generate logic
  operator/config/default/kustomization.yaml
  operator/config/default/manager_metrics_patch.yaml
  operator/config/manager/controller_manager_config.yaml
  operator/config/prometheus/kustomization.yaml
  operator/config/prometheus/service-monitor.yaml
  operator/config/prometheus/service.yaml
  operator/config/rbac/auth_proxy_client_role.yaml
  operator/config/rbac/auth_proxy_client_role_binding.yaml
  operator/config/rbac/kustomization.yaml
  operator/scripts/update_helm_chart.py
Due: ruff-check-fix, ruff-format, ruff-check, operator-lint

minor: remove JaegerExport because of Jaeger supports OTLP natively since v1.35 (#1347)
  apiserver/paasng/paas_wl/workloads/tracing/setup.py
  apiserver/paasng/paasng/misc/tracing/setup.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 云原生进程副本数展示错误修复 (#1345)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

minor: update helm chart generate logic
  operator/config/manager/controller_manager_config.yaml
  operator/scripts/update_helm_chart.py
Due: ruff-check-fix, ruff-format, ruff-check, operator-lint

fix：普通应用-部署分支为 image 时，部署弹框 imagePullPolicy 没有展示出来 # Reviewed, transaction id: 9212
  webfe/package_vue/src/views/dev-center/app/engine/deployment/comps/deploy-action/index.vue
Due: none

fix: 凭证信息过长时在表格中展示不对
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

update: 云API续期理解问题:有效时间 改为：授权期限
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/batch-renewal-dialog.vue
Due: none

fix: 服务-前端组件：文案修改
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/services/static/magic-box.vue
Due: none

feat: 普通应用：环境变量冲突时添加提示
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
Due: none

update: 未开启持久存储时不展示持久存储tab # Reviewed, transaction id: 9221
  webfe/package_vue/src/views/dev-center/app/basic-config/index.vue
Due: none

fix: 访问日志高亮不对：Path 字段也需要做高亮处理 # Reviewed, transaction id: 9223
  webfe/package_vue/src/views/dev-center/app/engine/log/access-log.vue
Due: none

fix：普通应用-部署分支为 image 时，部署弹框 imagePullPolicy 没有展示出来 (#1352)
  webfe/package_vue/src/views/dev-center/app/engine/deployment/comps/deploy-action/index.vue
Due: none

feat: 进程详情添加相关事件
  apiserver/paasng/paas_wl/apis/admin/helpers/operator.py
  apiserver/paasng/paas_wl/apis/admin/views/clusters.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
  apiserver/paasng/paas_wl/bk_app/deploy/management/commands/clean_timeout_pod.py
  apiserver/paasng/paas_wl/bk_app/processes/readers.py
  apiserver/paasng/paas_wl/bk_app/processes/serializers.py
  apiserver/paasng/paas_wl/bk_app/processes/urls.py
  apiserver/paasng/paas_wl/bk_app/processes/views.py
  apiserver/paasng/paas_wl/infras/resources/base/kres.py
  apiserver/paasng/paas_wl/infras/resources/kube_res/base.py
  apiserver/paasng/paas_wl/workloads/event/kres_entities.py
  apiserver/paasng/paas_wl/workloads/event/kres_slzs.py
  apiserver/paasng/paas_wl/workloads/event/reader.py
  apiserver/paasng/paas_wl/workloads/networking/egress/cluster_state.py
  apiserver/paasng/paasng/misc/monitoring/metrics/management/commands/deploy_stats_diagnoser.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/egress.py
  apiserver/paasng/tests/paas_wl/api/test_instance_events.py
  apiserver/paasng/tests/paas_wl/e2e/ingress/utils.py
  apiserver/paasng/tests/paas_wl/infras/resources/base/test_kres.py
  apiserver/paasng/tests/paas_wl/infras/resources/kube_res/test_base.py
  apiserver/paasng/tests/paas_wl/workloads/networking/egress/test_region.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: raise Cluster.DoesNotExist in func get_cnative_target_cluster
  apiserver/paasng/paasng/platform/mgrlegacy/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: resolve #1348 conversations
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/list_evaluations.html
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/evaluation/apps.py
  apiserver/paasng/paasng/platform/evaluation/handlers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add more information on admin42 evaluation page (#1348)
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/list_evaluations.html
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/evaluation/apps.py
  apiserver/paasng/paasng/platform/evaluation/collectors/resource.py
  apiserver/paasng/paasng/platform/evaluation/evaluators.py
  apiserver/paasng/paasng/platform/evaluation/handlers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: 监控告警内容注入自定义文档链接 (#1339)
  apiserver/paasng/paasng/accessories/smart_advisor/tags.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/client.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/gcs_mysql_slow_query.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_bkrepo_quota_usage.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_cpu_usage.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_mem_usage.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_rabbitmq_queue_messages.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/oom_killed.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/pod_restart.yaml.j2
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: raise Cluster.DoesNotExist in func get_cnative_target_cluster (#1354)
  apiserver/paasng/paasng/platform/mgrlegacy/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unit tests failure in packages.test_controller
  apiserver/paasng/tests/paasng/platform/sourcectl/packages/test_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: change function name of BinaryTarClient
  apiserver/paasng/paasng/platform/sourcectl/package/client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: improve the error message when uploading a corrput pacakge
  apiserver/paasng/paasng/platform/smart_app/services/detector.py
  apiserver/paasng/paasng/platform/sourcectl/package/client.py
  apiserver/paasng/tests/paasng/platform/sourcectl/packages/test_client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: improve the error message when uploading a corrput package (#1351)
  apiserver/paasng/paasng/platform/smart_app/services/detector.py
  apiserver/paasng/paasng/platform/sourcectl/package/client.py
  apiserver/paasng/tests/paasng/platform/sourcectl/packages/test_client.py
  apiserver/paasng/tests/paasng/platform/sourcectl/packages/test_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 插件新建版本支持:已测试通过的版本
  apiserver/paasng/paasng/bk_plugins/pluginscenter/constants.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/utils.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_integration.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

update: 去除上一步操作
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

feat: 插件代码仓库支持转为小写
  apiserver/paasng/paasng/bk_plugins/pluginscenter/features.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/sourcectl/tencent.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 初始化插件模板代码时提供更多参数
  apiserver/paasng/paasng/bk_plugins/pluginscenter/sourcectl/base.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 版本管理-测试记录搜索框提示更改
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none

fix：icon搜索
  webfe/package_vue/src/views/plugin-center/index.vue
Due: none

update: 关闭拼写检查
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
Due: none

fix: 动态表单提示可优化 # Reviewed, transaction id: 9287
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: none

feat: 新建版本支持灰度发布
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/constants.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: up repository_template
  apiserver/paasng/paasng/bk_plugins/pluginscenter/features.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/shim.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

插件代码仓库名称支持全转为小写&初始化代码模板时提供额外参数 (#1356)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/features.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/shim.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/sourcectl/base.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：修复日志查询排序参数顺序问题
  apiserver/paasng/paasng/accessories/log/views/logs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 创建插件代码仓库的插件ID可根据条件渲染为小写
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
Due: none

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
