Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run pflake8 --config=pyproject.toml

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./mypy.ini"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because it may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

minor: 优化单元测试, 提速 (#88)
  apiserver/paasng/paasng/platform/mgrlegacy/management/commands/make_legacy_app_for_test.py
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_market.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/engine/test_infras.py
  apiserver/paasng/tests/platform/mgrlegacy/test_migration.py
  apiserver/paasng/tests/publish/sync_market/test_sync_console.py
  apiserver/paasng/tests/test_oauth2.py
  apiserver/paasng/tests/utils/helpers.py
Due: isort, black, flake8, mypy-apiserver

Fix unittests failing in Kubernete 1.18
  workloads/paas_wl/paas_wl/cnative/specs/resource.py
  workloads/paas_wl/paas_wl/cnative/specs/v1alpha1/bk_app.py
  workloads/paas_wl/paas_wl/cnative/specs/v1alpha1/domain_group_mapping.py
Due: isort, black, flake8, mypy-workloads

feat: 添加更新蓝鲸监控命名空间API
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/accessories/bkmonitorv3/apigw/client.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/client.py
  apiserver/paasng/paasng/accessories/bkmonitorv3/esb/client.py
  apiserver/paasng/paasng/monitoring/monitor/alert.py
  apiserver/paasng/paasng/monitoring/monitor/client.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

Fix unittests failing in Kubernete 1.18 (#82)
  workloads/paas_wl/paas_wl/cnative/specs/resource.py
  workloads/paas_wl/paas_wl/cnative/specs/v1alpha1/bk_app.py
  workloads/paas_wl/paas_wl/cnative/specs/v1alpha1/domain_group_mapping.py
Due: isort, black, flake8, mypy-workloads

fix: 创建 APM 的 API ESB 和 APIGW 保持一致
  svc-otel/svc_otel/bkmonitorv3/client.py
  svc-otel/svc_otel/bkmonitorv3/esb/client.py
  svc-otel/svc_otel/vendor/provider.py
Due: isort, black, flake8

fix: 插件：终止发布功能根据 FeatureFlag 确认是否显示、插件开发者中心：插件使用方功能
  webfe/package_vue/src/components/authentication-info.vue
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

minor: catch and report error in reconcile loops
  operator/controllers/bkapp_controller.go
  operator/controllers/domaingroupmapping_controller.go
  operator/pkg/controllers/reconcilers/result.go
  operator/pkg/platform/external/addons_test.go
  operator/pkg/utils/kubestatus/deploymentutils_test.go
Due: operator-lint

feat: 导航与内容分开滚动（导航不随右侧滚动滚走）#106544585
  webfe/package_vue/src/assets/css/pages/overview.scss
  webfe/package_vue/src/views/plugin-center/plugin/index.vue
Due: none

fix: 部署页面，整体布局修复
  webfe/package_vue/src/assets/css/pages/overview.scss
  webfe/package_vue/src/views/plugin-center/plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

minor: display state message on process operation page
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  workloads/paas_wl/paas_wl/workloads/processes/drf_serializers.py
Due: isort, black, flake8, mypy-workloads

minor: display proc state message (#90)
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  workloads/paas_wl/paas_wl/workloads/processes/drf_serializers.py
Due: isort, black, flake8, mypy-workloads

enhance: show the reason why the pod scheduled failed
  workloads/paas_wl/paas_wl/utils/kubestatus.py
Due: isort, black, flake8, mypy-workloads

feat: 添加bkrepo健康检测,并上报到metric中
  apiserver/paasng/paasng/engine/monitoring.py
  apiserver/paasng/paasng/metrics/collector.py
  apiserver/paasng/paasng/metrics/dependencies/__init__.py
  apiserver/paasng/paasng/metrics/dependencies/blob_store.py
  apiserver/paasng/paasng/metrics/dependencies/mysql.py
  apiserver/paasng/paasng/metrics/dependencies/redis.py
  apiserver/paasng/paasng/metrics/views.py
  apiserver/paasng/paasng/monitoring/healthz/probes.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

minor: replace AppEnvironment with AppEnvName
  apiserver/paasng/paasng/extensions/declarative/deployment/svc_disc.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/tests/engine/deploy/test_infras.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
Due: isort, black, flake8, mypy-apiserver

enhance: show the reason why the pod scheduled failed (#91)
  workloads/paas_wl/paas_wl/utils/kubestatus.py
Due: isort, black, flake8, mypy-workloads

fix: 导航下拉问题
  webfe/package_vue/src/components/paas-header.vue
Due: none

refactor: 重构独立域名的支持逻辑, 去除对 AppDomain 的依赖
  workloads/paas_wl/paas_wl/cnative/specs/addresses.py
  workloads/paas_wl/paas_wl/networking/ingress/certs/utils.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/independent.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/manager.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/domain.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/misc.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/service.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0005_auto_20221212_1810.py
  workloads/paas_wl/paas_wl/networking/ingress/models.py
  workloads/paas_wl/tests/api/system_api/conftest.py
  workloads/paas_wl/tests/networking/ingress/domains/test_independent.py
  workloads/paas_wl/tests/networking/ingress/managers/test_domain.py
  workloads/paas_wl/tests/networking/ingress/managers/test_misc.py
  workloads/paas_wl/tests/networking/ingress/test_https.py
  workloads/paas_wl/tests/resources/base/test_client.py
Due: isort, black, flake8, mypy-workloads

refactor with discussion
  workloads/paas_wl/paas_wl/cnative/specs/addresses.py
  workloads/paas_wl/paas_wl/networking/ingress/certs/utils.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/independent.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/domain.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/misc.py
  workloads/paas_wl/paas_wl/networking/ingress/models.py
  workloads/paas_wl/tests/api/system_api/conftest.py
  workloads/paas_wl/tests/api/system_api/test_build.py
  workloads/paas_wl/tests/conftest.py
  workloads/paas_wl/tests/networking/ingress/domains/test_independent.py
  workloads/paas_wl/tests/networking/ingress/managers/test_domain.py
  workloads/paas_wl/tests/networking/ingress/managers/test_misc.py
  workloads/paas_wl/tests/networking/ingress/test_https.py
  workloads/paas_wl/tests/resources/base/test_client.py
Due: isort, black, flake8, mypy-workloads

minor: 调整单元测试
  workloads/paas_wl/paas_wl/networking/ingress/certs/utils.py
  workloads/paas_wl/tests/api/system_api/test_build.py
  workloads/paas_wl/tests/api/system_api/test_process.py
  workloads/paas_wl/tests/conftest.py
  workloads/paas_wl/tests/networking/ingress/domains/test_independent.py
  workloads/paas_wl/tests/networking/ingress/managers/test_domain.py
  workloads/paas_wl/tests/networking/ingress/managers/test_https.py
  workloads/paas_wl/tests/networking/ingress/managers/test_misc.py
  workloads/paas_wl/tests/networking/ingress/test_https.py
  workloads/paas_wl/tests/resources/base/test_client.py
  workloads/paas_wl/tests/resources/base/test_kres.py
Due: isort, black, flake8, mypy-workloads

refactor: 重构独立域名的实现逻辑, 去除对 AppDomain 的依赖 (#79)
  workloads/paas_wl/paas_wl/cnative/specs/addresses.py
  workloads/paas_wl/paas_wl/networking/ingress/certs/utils.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/independent.py
  workloads/paas_wl/paas_wl/networking/ingress/domains/manager.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/domain.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/misc.py
  workloads/paas_wl/paas_wl/networking/ingress/managers/service.py
  workloads/paas_wl/paas_wl/networking/ingress/migrations/0005_auto_20221212_1810.py
  workloads/paas_wl/paas_wl/networking/ingress/models.py
  workloads/paas_wl/tests/api/system_api/conftest.py
  workloads/paas_wl/tests/api/system_api/test_build.py
  workloads/paas_wl/tests/api/system_api/test_process.py
  workloads/paas_wl/tests/conftest.py
  workloads/paas_wl/tests/networking/ingress/domains/test_independent.py
  workloads/paas_wl/tests/networking/ingress/managers/test_domain.py
  workloads/paas_wl/tests/networking/ingress/managers/test_https.py
  workloads/paas_wl/tests/networking/ingress/managers/test_misc.py
  workloads/paas_wl/tests/resources/base/test_client.py
  workloads/paas_wl/tests/resources/base/test_kres.py
Due: isort, black, flake8, mypy-workloads

feat: support cluster feature flags
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/engine/controller/models.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/clusters.py
  workloads/paas_wl/paas_wl/admin/serializers/clusters.py
  workloads/paas_wl/paas_wl/cluster/management/commands/initial_default_cluster.py
  workloads/paas_wl/paas_wl/cluster/management/commands/update_cluster_feature_flags.py
  workloads/paas_wl/paas_wl/cluster/migrations/0007_cluster_feature_flags.py
  workloads/paas_wl/paas_wl/cluster/models.py
  workloads/paas_wl/paas_wl/cluster/serializers.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/tests/cluster/conftest.py
  workloads/paas_wl/tests/conftest.py
  workloads/paas_wl/tests/utils/kube_config.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Fix review comments, add env_is_deployed()
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
Due: isort, black, flake8, mypy-apiserver

Remove MarketURLProvider
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
  apiserver/paasng/tests/publish/test_entrance.py
Due: isort, black, flake8, mypy-apiserver

Refactor exposer.py, use live addresses which are returned from workloads instead of generated by *Provider; Remove MarketURLProvider.
  apiserver/paasng/paasng/engine/display_blocks.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/publish/entrance/domains.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/paasng/publish/entrance/subpaths.py
  apiserver/paasng/paasng/publish/entrance/views.py
  apiserver/paasng/paasng/publish/market/utils.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/extensions/bk_plugins/test_models.py
  apiserver/paasng/tests/publish/conftest.py
  apiserver/paasng/tests/publish/entrance/test_domains.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
  apiserver/paasng/tests/publish/entrance/test_subpaths.py
  apiserver/paasng/tests/publish/market/test_utils.py
  apiserver/paasng/tests/publish/sync_market/conftest.py
  apiserver/paasng/tests/publish/test_entrance.py
  apiserver/paasng/tests/utils/helpers.py
Due: isort, black, flake8, mypy-apiserver

Add is_sys_reserved in addresses API
  workloads/paas_wl/paas_wl/cluster/models.py
  workloads/paas_wl/paas_wl/networking/ingress/addrs.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/tests/cluster/test_models.py
  workloads/paas_wl/tests/networking/ingress/test_addrs.py
Due: isort, black, flake8, mypy-workloads

Sort result of get_addresses to put reserved addresses behind
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
Due: isort, black, flake8, mypy-apiserver

fix: 插件开发样式修复
  webfe/package_vue/src/components/plugin-quick-nav.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

Refactor "exposer" module, use live addresses instead of fixed URLs generated by *Provider (#89)
  apiserver/paasng/paasng/engine/display_blocks.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/publish/entrance/domains.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/paasng/publish/entrance/subpaths.py
  apiserver/paasng/paasng/publish/entrance/views.py
  apiserver/paasng/paasng/publish/market/utils.py
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/extensions/bk_plugins/test_models.py
  apiserver/paasng/tests/publish/conftest.py
  apiserver/paasng/tests/publish/entrance/test_domains.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
  apiserver/paasng/tests/publish/entrance/test_subpaths.py
  apiserver/paasng/tests/publish/market/test_utils.py
  apiserver/paasng/tests/publish/sync_market/conftest.py
  apiserver/paasng/tests/publish/test_entrance.py
  apiserver/paasng/tests/utils/helpers.py
  workloads/paas_wl/paas_wl/cluster/models.py
  workloads/paas_wl/paas_wl/networking/ingress/addrs.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/tests/cluster/test_models.py
  workloads/paas_wl/tests/networking/ingress/test_addrs.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

feat: support cluster feature flags (#93)
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/engine/controller/models.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/clusters.py
  workloads/paas_wl/paas_wl/admin/serializers/clusters.py
  workloads/paas_wl/paas_wl/cluster/management/commands/initial_default_cluster.py
  workloads/paas_wl/paas_wl/cluster/management/commands/update_cluster_feature_flags.py
  workloads/paas_wl/paas_wl/cluster/migrations/0007_cluster_feature_flags.py
  workloads/paas_wl/paas_wl/cluster/models.py
  workloads/paas_wl/paas_wl/cluster/serializers.py
  workloads/paas_wl/paas_wl/platform/system_api/views.py
  workloads/paas_wl/tests/cluster/conftest.py
  workloads/paas_wl/tests/conftest.py
  workloads/paas_wl/tests/utils/kube_config.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

minor: auto invalidate engine_app cluster cache after change cluster bind
  apiserver/paasng/paasng/engine/controller/cluster.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
Due: isort, black, flake8, mypy-apiserver

Add cache on get_live_addresses to improve performance
  apiserver/paasng/paasng/engine/deploy/infras.py
  apiserver/paasng/paasng/engine/signals.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
Due: isort, black, flake8, mypy-apiserver

Fix tests in test_entrance.py
  apiserver/paasng/tests/publish/test_entrance.py
Due: isort, black, flake8, mypy-apiserver

Add cache on get_live_addresses to improve performance (#94)
  apiserver/paasng/paasng/engine/deploy/infras.py
  apiserver/paasng/paasng/engine/signals.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/tests/publish/test_entrance.py
Due: isort, black, flake8, mypy-apiserver

fix: 插件开发终止发布控制显示
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: nav导航规范，版本日志，导航体验修复
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/store/index.js
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat: plugin loading 全屏
  webfe/package_vue/src/components/loader/index.vue
Due: none

fix: 结构化日志表格自适应
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
Due: none

feat: 导航logo替换
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/static/images/logo.svg
Due: none

fix: mypy 修复
  apiserver/paasng/paasng/engine/monitoring.py
  apiserver/paasng/paasng/metrics/collector.py
  apiserver/paasng/paasng/metrics/dependencies/__init__.py
  apiserver/paasng/paasng/metrics/dependencies/blob_store.py
  apiserver/paasng/paasng/metrics/dependencies/mysql.py
  apiserver/paasng/paasng/metrics/dependencies/redis.py
Due: isort, black, flake8, mypy-apiserver
