Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run pflake8 --config=pyproject.toml

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./mypy.ini"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because it may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

feat: 去掉 cb_register,改为显示调用
  apiserver/paasng/paasng/metrics/__init__.py
  apiserver/paasng/paasng/metrics/basic_services/__init__.py
  apiserver/paasng/paasng/metrics/basic_services/blob_store.py
  apiserver/paasng/paasng/metrics/basic_services/mysql.py
  apiserver/paasng/paasng/metrics/basic_services/redis.py
  apiserver/paasng/paasng/metrics/collector.py
Due: isort, black, flake8, mypy-apiserver

feat: 添加bkrepo健康检测,并上报到metric中 (#92)
  apiserver/paasng/paasng/engine/monitoring.py
  apiserver/paasng/paasng/metrics/basic_services/__init__.py
  apiserver/paasng/paasng/metrics/basic_services/blob_store.py
  apiserver/paasng/paasng/metrics/basic_services/mysql.py
  apiserver/paasng/paasng/metrics/basic_services/redis.py
  apiserver/paasng/paasng/metrics/collector.py
  apiserver/paasng/paasng/metrics/views.py
  apiserver/paasng/paasng/monitoring/healthz/probes.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

feat: add StackTraceClient
  operator/README.md
  operator/controllers/bkapp_controller.go
  operator/controllers/domaingroupmapping_controller.go
  operator/controllers/suite_test.go
  operator/main.go
  operator/pkg/client/client.go
  operator/pkg/controllers/dgroupmapping/ingresses.go
  operator/pkg/controllers/reconcilers/addons.go
  operator/pkg/controllers/reconcilers/addons_test.go
  operator/pkg/controllers/reconcilers/deployments.go
  operator/pkg/controllers/reconcilers/deployments_test.go
  operator/pkg/controllers/reconcilers/finalizer.go
  operator/pkg/controllers/reconcilers/finalizer_test.go
  operator/pkg/controllers/reconcilers/hooks.go
  operator/pkg/controllers/reconcilers/hooks_test.go
  operator/pkg/controllers/reconcilers/revision.go
  operator/pkg/controllers/reconcilers/revision_test.go
  operator/pkg/controllers/reconcilers/services.go
  operator/pkg/controllers/reconcilers/services_test.go
  operator/pkg/controllers/reconcilers/utils.go
  operator/pkg/controllers/reconcilers/utils_test.go
  operator/pkg/utils/kubestatus/deploymentutils.go
Due: operator-lint

feat: 首页最近操作记录中可根据配置不显示插件应用
  apiserver/paasng/paasng/platform/operations/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 BLOBSTORE_BKREPO_CONFIG 某些情况下拿到的值为字符串时无法启动问题
  apiserver/paasng/paasng/monitoring/healthz/probes.py
Due: isort, black, flake8, mypy-apiserver

feat: feat: 首页最近操作记录中可根据配置不显示插件应用
  apiserver/paasng/paasng/platform/operations/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 BLOBSTORE_BKREPO_CONFIG 某些情况下拿到的值为字符串时导致无法启动问题
  apiserver/paasng/paasng/monitoring/healthz/probes.py
Due: isort, black, flake8, mypy-apiserver

fix: 插件中心设计走查问题汇总修复， 版本管理与插件列表筛选请求参数联调
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/paasng-alert.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-list.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/market-info-edit.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/comps/log-filter.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: 修复 BLOBSTORE_BKREPO_CONFIG 某些情况下拿到的值为字符串时无法启动问题 (#97)
  apiserver/paasng/paasng/monitoring/healthz/probes.py
  apiserver/paasng/paasng/platform/operations/views.py
Due: isort, black, flake8, mypy-apiserver

minor: only fetch prod env root domains
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/publish/entrance/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 信息编辑样式修复
  webfe/package_vue/src/views/plugin-center/plugin/base-config/market-info-edit.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: 基本信息编辑高度问题
  webfe/package_vue/src/views/plugin-center/plugin/base-config/market-info-edit.vue
Due: none

minor: resolve #71 conversations
  operator/README.md
  operator/controllers/bkapp_controller.go
Due: operator-lint

feat: hook spec add resources & image pull secrets
  operator/hack/boilerplate.go.txt
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/resources/hooks_test.go
Due: operator-lint

test: add get_module_prod_env_root_domains unittest
  apiserver/paasng/tests/platform/modules/test_helpers.py
Due: isort, black, flake8, mypy-apiserver

feat: 添加插件代码仓库概览数据API
  apiserver/paasng/paasng/pluginscenter/bk_devops/__init__.py
  apiserver/paasng/paasng/pluginscenter/bk_devops/apigw/__init__.py
  apiserver/paasng/paasng/pluginscenter/bk_devops/apigw/client.py
  apiserver/paasng/paasng/pluginscenter/bk_devops/client.py
  apiserver/paasng/paasng/pluginscenter/bk_devops/constans.py
  apiserver/paasng/paasng/pluginscenter/bk_devops/exceptions.py
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/base.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

docs: 补充注释
  apiserver/paasng/paasng/pluginscenter/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix: 修改创建空间的 API 路径
  svc-otel/svc_otel/bkmonitorv3/apigw/client.py
  svc-otel/svc_otel/bkmonitorv3/client.py
  svc-otel/svc_otel/bkmonitorv3/esb/client.py
Due: isort, black, flake8

style: format code
  apiserver/paasng/tests/platform/modules/test_helpers.py
Due: isort, black, flake8, mypy-apiserver

feat: update application cluster info display when envs deploy in multi clusters
  apiserver/paasng/paasng/engine/serializers.py
  apiserver/paasng/paasng/engine/views.py
  apiserver/paasng/paasng/extensions/declarative/deployment/svc_disc.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/paasng/publish/entrance/views.py
  apiserver/paasng/tests/engine/deploy/test_infras.py
  apiserver/paasng/tests/extensions/declarative/test_deployment.py
  apiserver/paasng/tests/platform/modules/test_helpers.py
  apiserver/paasng/tests/publish/entrance/test_exposer.py
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/module-manage.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/comps/access-guide-sideslider.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/custom-domain.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: isort, black, flake8, mypy-apiserver

feat: 解决冲突
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
Due: none

feat: update package
  webfe/package_vue/package.json
Due: none

fix: update preferred root domains provider logic
  apiserver/paasng/paasng/engine/urls.py
  apiserver/paasng/paasng/publish/entrance/views.py
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  workloads/paas_wl/paas_wl/platform/system_api/views.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

fix: update user preferred root domains provider logic (#101)
  apiserver/paasng/paasng/engine/urls.py
  apiserver/paasng/paasng/publish/entrance/views.py
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  workloads/paas_wl/paas_wl/platform/system_api/views.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

feat: add domaingroupmapping webhook
  operator/PROJECT
  operator/api/v1alpha1/bkapp_webhook.go
  operator/api/v1alpha1/bkapp_webhook_test.go
  operator/api/v1alpha1/constants.go
  operator/api/v1alpha1/domaingroupmapping_webhook.go
  operator/api/v1alpha1/domaingroupmapping_webhook_test.go
  operator/api/v1alpha1/webhook_suite_test.go
  operator/main.go
Due: operator-lint

feat: 添加 APM 详情链接
  svc-otel/svc_otel/bkmonitorv3/apigw/client.py
  svc-otel/svc_otel/settings/default.py
  svc-otel/svc_otel/vendor/provider.py
Due: isort, black, flake8

feat: hook spec add resources & image pull secrets (#98)
  operator/hack/boilerplate.go.txt
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/resources/hooks_test.go
Due: operator-lint

fix: mr 修改
  apiserver/paasng/paasng/pluginscenter/bk_devops/client.py
  apiserver/paasng/paasng/pluginscenter/bk_devops/utils.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/base.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

fix: remove module info from url path when list cnative app custom domains
  webfe/package_vue/src/views/dev-center/app/basic-config/access-portal/domain.vue
Due: none

feat: cnative app support multi cluster ingress ip display
  webfe/package_vue/src/views/dev-center/app/basic-config/access-portal/domain.vue
Due: none

feat: 添加插件代码仓库概览数据API (#99)
  apiserver/paasng/paasng/pluginscenter/bk_devops/__init__.py
  apiserver/paasng/paasng/pluginscenter/bk_devops/apigw/__init__.py
  apiserver/paasng/paasng/pluginscenter/bk_devops/apigw/client.py
  apiserver/paasng/paasng/pluginscenter/bk_devops/client.py
  apiserver/paasng/paasng/pluginscenter/bk_devops/constans.py
  apiserver/paasng/paasng/pluginscenter/bk_devops/exceptions.py
  apiserver/paasng/paasng/pluginscenter/bk_devops/utils.py
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/base.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

docs: 更新注释
  apiserver/paasng/paasng/dev_resources/servicehub/remote/manager.py
Due: isort, black, flake8, mypy-apiserver

feat: cnative app support multi cluster ingress ip display (#103)
  webfe/package_vue/src/views/dev-center/app/basic-config/access-portal/domain.vue
Due: none

fix: update make manifest command to generate webhook manifest
  operator/Makefile
  operator/api/v1alpha1/domaingroupmapping_webhook_test.go
  operator/config/webhook/manifests.yaml
Due: operator-lint

feat: 插件功能完成 (#104)
  webfe/package_vue/package.json
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/log-version.vue
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/components/plugin-quick-nav.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/paasng-alert.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-list.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/market-info-edit.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/comps/log-filter.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
  webfe/package_vue/static/images/logo.svg
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 合并冲突问题修复
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
Due: none

fix: 开发者中心国际化处理，骨架屏处理，基本信息编辑修复
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/create-plugin.vue
  webfe/package_vue/src/components/loader/loading/plugin-base-info.vue
  webfe/package_vue/src/components/loader/loading/plugin-process.vue
  webfe/package_vue/src/components/loader/loading/pluin-list.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/plugin.js
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/deploy-env/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/process/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none

fix: 开发者中心中英文切换
  webfe/package_vue/src/components/paas-header.vue
Due: none
