Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

feat: sync tenant infor to the desktop when creating app (including light apps) (#1885)
  apiserver/paasng/paasng/accessories/publish/sync_market/handlers.py
  apiserver/paasng/paasng/infras/legacydb/adaptors.py
  apiserver/paasng/paasng/platform/applications/serializers/light_app.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/mgrlegacy/management/commands/make_legacy_app_for_test.py
  apiserver/paasng/support-files/apigw/api_doc/en/create_light_applications.md
  apiserver/paasng/support-files/apigw/api_doc/zh/create_light_applications.md
  apiserver/paasng/tests/paasng/accessories/publish/sync_market/test_sync_console.py
  apiserver/paasng/tests/paasng/accessories/publish/test_entrance.py
  apiserver/paasng/tests/paasng/platform/applications/test_lapp.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: recycle unbound service instance in admin42 (#1888)
  apiserver/paasng/paasng/plat_admin/admin42/serializers/services.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/services.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: fix api unittest
  apiserver/paasng/paasng/accessories/servicehub/migrations/0007_init_service_binding_policy.py
  apiserver/paasng/paasng/infras/bcs/apigw/client.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_components.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: plat-mgt cluster component apis (#1890)
  apiserver/paasng/paas_wl/infras/cluster/constants.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0017_clustercomponent.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0018_initial_cluster_components.py
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paas_wl/infras/resources/base/base.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0007_init_service_binding_policy.py
  apiserver/paasng/paasng/infras/bcs/apigw/client.py
  apiserver/paasng/paasng/infras/bcs/client.py
  apiserver/paasng/paasng/infras/bcs/exceptions.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/constants.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/entities.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/helm.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/k8s.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/components.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/values/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/values/constructors.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/values/entities.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/values/getters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/bcs_resources.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/components.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/policies.py
  apiserver/paasng/paasng/plat_mgt/infras/tenants/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_components.py
  apiserver/paasng/tests/api/plat_mgt/infras/conftest.py
  apiserver/paasng/tests/paasng/plat_mgt/__init__.py
  apiserver/paasng/tests/paasng/plat_mgt/infras/__init__.py
  apiserver/paasng/tests/paasng/plat_mgt/infras/clusters/__init__.py
  apiserver/paasng/tests/paasng/plat_mgt/infras/clusters/assets/helm-release-secret.yaml
  apiserver/paasng/tests/paasng/plat_mgt/infras/clusters/test_helm.py
  apiserver/paasng/tests/utils/mocks/bcs.py
  apiserver/paasng/tests/utils/mocks/helm.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

chore: apigw 资源访问统计路径错误修改
  apiserver/paasng/support-files/apigw/resources.yaml
Due: none

chore: path parameter source_type change to metric_source_type in apidoc
  apiserver/paasng/support-files/apigw/resources.yaml
Due: none

feat: ignore some crd missing kind field
  apiserver/paasng/paas_wl/infras/resources/base/kube_client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/tests/paasng/platform/modules/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整模型，挂载卷支持 subpath
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/migrations/0009_configmapsource_use_sub_path.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/migrations/0010_mount_sub_paths.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/mount.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
  apiserver/paasng/paasng/platform/sourcectl/management/__init__.py
  apiserver/paasng/paasng/platform/sourcectl/management/commands/__init__.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
  apiserver/paasng/tests/paasng/platform/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resources and definition
  apiserver/paasng/support-files/apigw/definition.yaml
  apiserver/paasng/support-files/apigw/resources.yaml
Due: none

fix: minor
  apiserver/paasng/support-files/apigw/definition.yaml
Due: none

fix: 调整模型，挂载卷支持 subpath
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整模型，挂载卷支持 subpath
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/volumes.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/bkapp/processes/volumes/volumes.go
  operator/pkg/controllers/bkapp/processes/volumes/volumes_test.go
Due: operator-lint

fix: keep source_type
  apiserver/paasng/support-files/apigw/definition.yaml
  apiserver/paasng/support-files/apigw/resources.yaml
Due: none

fix: 调整模型，挂载卷支持 subpath
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/mount.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整模型，挂载卷支持 subpath
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

chore: apigw 资源访问统计路径错误修改 (#1898)
  apiserver/paasng/support-files/apigw/definition.yaml
  apiserver/paasng/support-files/apigw/resources.yaml
Due: none

fix: 调整
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: resolve review comments
  operator/pkg/controllers/bkapp/deploy_action.go
Due: operator-lint

feat: add tenant_id field on bk_plugins
  apiserver/paasng/paasng/bk_plugins/bk_plugins/migrations/0009_bkpluginprofile_tenant_id.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant_id field on bkmonitorv3
  apiserver/paasng/paasng/infras/bkmonitorv3/migrations/0003_bkmonitorspace_tenant_id.py
  apiserver/paasng/paasng/infras/bkmonitorv3/models.py
  apiserver/paasng/paasng/infras/bkmonitorv3/shim.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant_id field on declarative
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/declarative/migrations/0006_applicationdescription_tenant_id_and_more.py
  apiserver/paasng/paasng/platform/declarative/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant_id field on smart_advisor
  apiserver/paasng/paasng/accessories/smart_advisor/migrations/0004_appmoduletagrel_tenant_id.py
  apiserver/paasng/paasng/accessories/smart_advisor/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Add tenant_id field to apps: part3 (#1895)
  apiserver/paasng/paasng/accessories/smart_advisor/migrations/0004_appmoduletagrel_tenant_id.py
  apiserver/paasng/paasng/accessories/smart_advisor/models.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/migrations/0009_bkpluginprofile_tenant_id.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/models.py
  apiserver/paasng/paasng/infras/bkmonitorv3/migrations/0003_bkmonitorspace_tenant_id.py
  apiserver/paasng/paasng/infras/bkmonitorv3/models.py
  apiserver/paasng/paasng/infras/bkmonitorv3/shim.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/declarative/migrations/0006_applicationdescription_tenant_id_and_more.py
  apiserver/paasng/paasng/platform/declarative/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: user interrupt not work well sometimes (#1891)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/pre_release.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
  apiserver/paasng/paasng/platform/engine/deploy/interruptions.py
  apiserver/paasng/paasng/platform/engine/deploy/release/legacy.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/paasng/platform/engine/workflow/flow.py
  apiserver/paasng/tests/api/core/tenant/test_tenant.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_pre_release.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_release.py
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/bkapp/deploy_action.go
  operator/pkg/controllers/bkapp/deploy_action_test.go
  operator/pkg/platform/deploy/deploy.go
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

feat: add tenant_id on log
  apiserver/paasng/paasng/accessories/log/migrations/0007_customcollectorconfig_tenant_id_and_more.py
  apiserver/paasng/paasng/accessories/log/models.py
  apiserver/paasng/paasng/accessories/log/shim/bklog_custom_collector_config.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/accessories/log/shim/setup_elk.py
  apiserver/paasng/paasng/accessories/log/views/config.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整注释
  operator/api/v1alpha2/bkapp_types.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/bkapp/processes/volumes/volumes.go
Due: operator-lint

fix: 调整注释
  operator/api/v1alpha2/bkapp_types.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
Due: operator-lint

feat: 导航添加元素埋点 (#1860)
  webfe/package_vue/src/common/trace-ids.js
  webfe/package_vue/src/components/cloud-app-top-bar.vue
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/analysis/clound-index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
Due: none

feat: 创建应用时，可以选择租户类型、基本信息添加租户相关信息 (#1861)
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/main.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/external.vue
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

fix: 体验提单修复 (#1862)
  webfe/package_vue/src/components/teble-header-filters/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

fix: 更新监控空间 API 添加必填参数 updater (#1863)
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: clean up comments and improve parameter defaults in configuration files (#1865)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paas_wl/workloads/networking/entrance/views.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/entities.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/exceptions.py
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/paasng/core/region/models.py
  apiserver/paasng/paasng/core/region/states.py
  webfe/package_vue/src/store/modules/create-app.js
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove deprecated phalanx monitor (#1846)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/misc/monitoring/monitor/phalanx.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializer.py
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: support retrieve unbound instance sensitive field (#1859)
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/paasng/infras/accounts/constants.py
  apiserver/paasng/tests/api/test_servicehub.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 增强服务多租户改造与平台管理接口
  apiserver/paasng/paasng/accessories/servicehub/migrations/0008_servicebindingpolicy_tenant_id_and_more.py
  apiserver/paasng/paasng/plat_mgt/infras/services/serializers/binding_policies.py
  apiserver/paasng/paasng/plat_mgt/infras/services/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 增强服务多租户改造与平台管理接口
  apiserver/paasng/tests/paasng/platform/mgrlegacy/test_service_migration.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: Initialize service binding policy if not present (#1858)
  apiserver/paasng/paasng/accessories/servicehub/migrations/0007_init_service_binding_policy.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
