Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix unittest
  apiserver/paasng/tests/paas_wl/bk_app/deploy/test_processes.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复云原生应用下架后未清理进程配置信息, 导致进程列表展示异常问题 (#857)
  apiserver/paasng/paasng/platform/engine/deploy/archive/operator.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/test_processes.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复源码部署的云原生应用没有同步 ProcessSpec 的问题
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复源码部署的云原生应用没有同步 ProcessSpec 的问题 (#868)
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
Due: isort, black, flake8, mypy-apiserver

fix:添加策略配置链接 支持查询自定义策略与告警
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix:添加策略配置链接 支持查询自定义策略与告警
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
Due: isort, black, flake8, mypy-apiserver

fix: 进程操作样式问题、云原生扩缩容自动调节默认禁用
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/scale-dialog.vue
Due: none

fix: 进程操作样式问题、云原生扩缩容自动调节默认禁用 (#869)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/scale-dialog.vue
Due: none

fix: 调整扩缩容后重新更新当前列表
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix: 调整扩缩容后重新更新当前列表 (#870)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

Operator: remove observed generation checking because updating annotation wont incr the value
  operator/pkg/controllers/reconcilers/deploy_action.go
  operator/pkg/controllers/reconcilers/deploy_action_test.go
Due: operator-lint

Operator: update comment
  operator/pkg/controllers/reconcilers/deploy_action.go
Due: operator-lint

Operator: remove observed generation checking because updating annotation wont incr the value (#871)
  operator/pkg/controllers/reconcilers/deploy_action.go
  operator/pkg/controllers/reconcilers/deploy_action_test.go
Due: operator-lint

enhance: 告警策略与告警参数添加 (#861)
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/paasng/misc/monitoring/test_alert.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: isort, black, flake8, mypy-apiserver

feat: 测试阶段能否进入到下一步
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/subpage.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 policy 常量有误的问题
  webfe/package_vue/src/common/constants.js
Due: none

fix: 修复 policy 常量有误的问题 (#875)
  webfe/package_vue/src/common/constants.js
Due: none

fix: minor
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/subpage.py
Due: isort, black, flake8, mypy-apiserver

fix: minor fix
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/subpage.py
Due: isort, black, flake8, mypy-apiserver

fix: cnative app deploy progress status not correct
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  operator/pkg/controllers/reconcilers/deploy_action.go
  operator/pkg/utils/kubestatus/deployment.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

feat:svc_mysql\svc_rrabbitmq 提供批量修改已分配实例配置信息的 command
  svc-mysql/svc_mysql/vendor/management/commands/reset_config_command.py
  svc-rabbitmq/vendor/management/commands/reset_config_command.py
Due: isort, black, flake8

feat:svc_mysql\svc_rrabbitmq 提供批量修改已分配实例配置信息的 command
  svc-rabbitmq/vendor/management/commands/reset_config_command.py
Due: isort, black, flake8

feat: use bk-deploy-id as process & instance version for cnative app
  apiserver/paasng/paas_wl/apis/admin/serializers/processes.py
  apiserver/paasng/paas_wl/apis/system_api/serializers.py
  apiserver/paasng/paas_wl/bk_app/deploy/actions/deploy.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/client.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
  apiserver/paasng/paas_wl/bk_app/monitoring/metrics/models.py
  apiserver/paasng/paas_wl/bk_app/processes/controllers.py
  apiserver/paasng/paas_wl/bk_app/processes/drf_serializers.py
  apiserver/paasng/paas_wl/bk_app/processes/entities.py
  apiserver/paasng/paas_wl/bk_app/processes/kres_entities.py
  apiserver/paasng/paas_wl/bk_app/processes/kres_slzs.py
  apiserver/paasng/paas_wl/bk_app/processes/managers.py
  apiserver/paasng/paas_wl/bk_app/processes/processes.py
  apiserver/paasng/paas_wl/bk_app/processes/readers.py
  apiserver/paasng/paas_wl/bk_app/processes/serializers.py
  apiserver/paasng/paas_wl/bk_app/processes/shim.py
  apiserver/paasng/paas_wl/bk_app/processes/views.py
  apiserver/paasng/paas_wl/bk_app/processes/views_enduser.py
  apiserver/paasng/paas_wl/bk_app/processes/watch.py
  apiserver/paasng/paasng/accessories/app_secret/utilts.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/paasng/platform/engine/serializers.py
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_controllers.py
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_managers.py
  apiserver/paasng/tests/paas_wl/utils/wl_app.py
  apiserver/paasng/tests/paas_wl/workloads/autoscaling/test_serializers.py
  apiserver/paasng/tests/paasng/platform/engine/processes/test_wait.py
  operator/pkg/utils/kubestatus/deployment.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

refactor: minor
  operator/pkg/utils/kubestatus/deployment.go
Due: operator-lint

test: minor
  operator/pkg/controllers/reconcilers/deploy_action_test.go
Due: operator-lint

test: minor fix
  apiserver/paasng/tests/paas_wl/bk_app/processes/test_managers.py
  operator/pkg/controllers/reconcilers/deploy_action_test.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

enhance: DockerIgnore 支持优先级更高的白名单列表
  apiserver/paasng/paasng/platform/engine/utils/source.py
  apiserver/paasng/paasng/platform/sourcectl/utils.py
  apiserver/paasng/tests/paasng/platform/sourcectl/test_dockerignore.py
Due: isort, black, flake8, mypy-apiserver

fix: minor
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/stages.py
Due: isort, black, flake8, mypy-apiserver

enhance: DockerIgnore 支持优先级更高的白名单列表 (#872)
  apiserver/paasng/paasng/platform/engine/utils/source.py
  apiserver/paasng/paasng/platform/sourcectl/utils.py
  apiserver/paasng/tests/paasng/platform/sourcectl/test_dockerignore.py
Due: isort, black, flake8, mypy-apiserver

fix: cnative app alert rules missing namespace
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/config/app_rule.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/config/constants.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/config/entities.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/config/metric_label.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/tests/paasng/misc/monitoring/alert_rules/conftest.py
Due: isort, black, flake8, mypy-apiserver

feat:监控告警记录添加 env 字段
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: isort, black, flake8, mypy-apiserver

fix: cnative app alert rules missing namespace (#879)
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/config/app_rule.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/config/constants.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/config/entities.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/config/metric_label.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/tests/paasng/misc/monitoring/alert_rules/conftest.py
Due: isort, black, flake8, mypy-apiserver

fix: 告警记录添加模块列，bcs监控去除module参数
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/alarm-record.vue
Due: none

fix: 告警记录页面修改
  webfe/package_vue/src/main.js
  webfe/package_vue/src/store/modules/alarm.js
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/alarm-record.vue
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/index.vue
Due: none

fix：添加注释
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix: 体验问题修复
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/alarm-record.vue
Due: none

feat:监控告警记录添加 env 字段 (#880)
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: isort, black, flake8, mypy-apiserver

告警记录页面修改，添加蓝鲸监控记录 (#881)
  webfe/package_vue/src/main.js
  webfe/package_vue/src/store/modules/alarm.js
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/alarm-record.vue
  webfe/package_vue/src/views/dev-center/app/engine/monitor-alarm/index.vue
Due: none

fix unittest
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_building.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复云原生应用从源码构建时在未定义 app_desc.yaml 时不报错的问题
  apiserver/paasng/paasng/platform/declarative/exceptions.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
Due: isort, black, flake8, mypy-apiserver

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
