Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 国际化补充 (#442)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/deploy-env/index.vue
Due: none

fix: 修复marked包升级问题
  webfe/package_vue/src/views/dev-center/app/services/comps/config-edit.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

fix: 修改创建应用成功样式
  webfe/package_vue/src/views/dev-center/create-app/success-git.scss
Due: none

fix: resolve review comments
  operator/api/v1alpha1/bkapp_conversion.go
  operator/api/v1alpha1/bkapp_conversion_test.go
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/reconcilers/addons.go
  operator/pkg/controllers/reconcilers/addons_test.go
  operator/pkg/platform/external/addons.go
  operator/pkg/platform/external/addons_test.go
Due: operator-lint

fix: dropdown 组件无法收起问题修复
  webfe/package_vue/src/assets/css/components/patch.scss
Due: none

style：成员管理样式布局
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
Due: none

refactor: add bcs_cluster_id in metric labels (#431)
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_cpu_usage.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_mem_usage.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/oom_killed.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/pod_restart.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/constants.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config/metric_label.py
  apiserver/paasng/paasng/monitoring/monitor/exceptions.py
  apiserver/paasng/paasng/monitoring/monitor/management/commands/init_alert_rules.py
  apiserver/paasng/paasng/monitoring/monitor/views.py
  apiserver/paasng/tests/monitoring/alert_rules/conftest.py
  apiserver/paasng/tests/monitoring/alert_rules/test_api.py
  apiserver/paasng/tests/monitoring/alert_rules/test_manager.py
  apiserver/paasng/tests/monitoring/test_metric_label.py
Due: isort, black, flake8, mypy-apiserver

fix: markdown bug (#444)
  webfe/package_vue/src/views/dev-center/app/services/comps/config-edit.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
  webfe/package_vue/src/views/dev-center/create-app/success-git.scss
Due: none

Wmh bug dev (#443)
  webfe/package_vue/src/assets/css/components/patch.scss
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
Due: none

refactor: remove unnecessary join queries in list_minimal and list_search view
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复人员选择器bug
  webfe/package_vue/index.html
Due: none

docs: minor
  apiserver/paasng/paasng/platform/applications/views.py
Due: isort, black, flake8, mypy-apiserver

refactor: remove AppMinimalWithModuleSLZ
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复内部版人员选择器bug (#446)
  webfe/package_vue/index.html
Due: none

fix: navBar 点击区域
  webfe/package_vue/src/components/paas-app-bar.vue
Due: none

fix: 修复启动中样式偶现bug
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
Due: none

fix: tether-drop组件点击其他位置无法关闭问题
  webfe/package_vue/src/components/paas-app-bar.vue
  webfe/package_vue/src/components/ui/Dropdown.vue
Due: none

Wmh bug dev (#447)
  webfe/package_vue/src/components/paas-app-bar.vue
  webfe/package_vue/src/components/ui/Dropdown.vue
Due: none

refactor: remove unnecessary join queries in list_minimal and list_se… (#445)
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复启动中样式偶现bug (#448)
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
Due: none

refactor with discussion
  apiserver/paasng/paasng/dev_resources/sourcectl/utils.py
  apiserver/paasng/paasng/settings/workloads.py
Due: isort, black, flake8, mypy-apiserver

feature: 支持基于 kaniko 的镜像构建; 实现 .dockerignore 的解析; 实现 .dockerignore 的逻辑
  apiserver/paasng/paas_wl/release_controller/constants.py
  apiserver/paasng/paasng/dev_resources/sourcectl/exceptions.py
  apiserver/paasng/paasng/dev_resources/sourcectl/utils.py
  apiserver/paasng/paasng/dev_resources/templates/migrations/0005_template_runtime_type.py
  apiserver/paasng/paasng/dev_resources/templates/models.py
  apiserver/paasng/paasng/engine/configurations/building.py
  apiserver/paasng/paasng/engine/configurations/source_file.py
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/start.py
  apiserver/paasng/paasng/engine/utils/source.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/migrations/0007_module_runtime_type.py
  apiserver/paasng/paasng/platform/modules/models/module.py
  apiserver/paasng/paasng/platform/modules/specs.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/paasng/utils/patternmatcher.py
  apiserver/paasng/tests/sourcectl/test_dockerignore.py
  apiserver/paasng/tests/test_utils/test_patternmatcher.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/engine/utils/source.py
Due: isort, black, flake8, mypy-apiserver

feature: 支持基于 kaniko 的镜像构建; 实现 .dockerignore 的解析; 实现 .dockerignore 的逻辑 (#420)
  apiserver/paasng/paas_wl/release_controller/constants.py
  apiserver/paasng/paasng/dev_resources/sourcectl/exceptions.py
  apiserver/paasng/paasng/dev_resources/sourcectl/utils.py
  apiserver/paasng/paasng/dev_resources/templates/migrations/0005_template_runtime_type.py
  apiserver/paasng/paasng/dev_resources/templates/models.py
  apiserver/paasng/paasng/engine/configurations/building.py
  apiserver/paasng/paasng/engine/configurations/source_file.py
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/engine/deploy/building.py
  apiserver/paasng/paasng/engine/deploy/start.py
  apiserver/paasng/paasng/engine/utils/source.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/migrations/0007_module_runtime_type.py
  apiserver/paasng/paasng/platform/modules/models/module.py
  apiserver/paasng/paasng/platform/modules/specs.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/paasng/utils/patternmatcher.py
  apiserver/paasng/tests/sourcectl/test_dockerignore.py
  apiserver/paasng/tests/test_utils/test_patternmatcher.py
Due: isort, black, flake8, mypy-apiserver

fix: sync apigw resources conflict
  apiserver/init.sh
Due: none

fix: sync apigw resources conflict (#450)
  apiserver/init.sh
Due: none

fix: 修复批量导出点击无反应bug
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
Due: none

fix: 修复批量导出点击无反应bug (#451)
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
Due: none

fix: 修复样式问题
  webfe/package_vue/src/assets/css/components/patch.scss
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
Due: none

fix: delete console
  webfe/package_vue/src/components/paas-header.vue
Due: none

fix: 修复输入框问题
  webfe/package_vue/src/components/paas-header.vue
Due: none

fix: 修复search bug
  webfe/package_vue/src/components/paas-header.vue
Due: none

fix: 修复搜索框样式问题 (#452)
  webfe/package_vue/src/assets/css/components/patch.scss
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
Due: none

fix: 升级样式问题间距修复
  webfe/package_vue/src/views/dev-center/app/basic-config/access-portal/index.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/app-perm.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
Due: none

fix: 修复点击无反应bug
  webfe/package_vue/src/components/paas-header.vue
Due: none

fix: dropdown组件切换问题修复
  webfe/package_vue/src/assets/css/components/patch.scss
  webfe/package_vue/src/components/paas-header.vue
Due: none

style: 警告、云API 样式问题修复
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/monitor/index.vue
Due: none

fix: 升级样式问题间距修复 (#453)
  webfe/package_vue/src/assets/css/components/patch.scss
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/access-portal/index.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/app-perm.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/apply-record.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/monitor/index.vue
Due: none

enhance: 使用 pytest-xdist 加速测试
  apiserver/paasng/.coveragerc
  apiserver/paasng/Makefile
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/.gitignore
  apiserver/paasng/tests/conftest.py
  apiserver/paasng/tests/dev_resources/servicehub/remote/test_collector.py
  apiserver/paasng/tests/dev_resources/servicehub/remote/test_manager.py
  apiserver/paasng/tests/dev_resources/servicehub/remote/test_store.py
  apiserver/paasng/tests/dev_resources/servicehub/test_manager.py
  apiserver/paasng/tests/dev_resources/servicehub/test_sharing.py
  apiserver/paasng/tests/extensions/bk_plugins/test_apigw.py
  apiserver/paasng/tests/monitoring/test_alert.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/networking/egress/test_region.py
  apiserver/paasng/tests/plat_admin/test_numbers.py
  apiserver/paasng/tests/platform/mgrlegacy/conftest.py
  apiserver/paasng/tests/platform/mgrlegacy/test_service_migration.py
  apiserver/paasng/tests/platform/modules/test_manager.py
  apiserver/paasng/tests/platform/modules/test_models.py
  apiserver/paasng/tests/platform/oauth2/test_oauth_client.py
  apiserver/paasng/tests/publish/sync_market/test_sync_console.py
  apiserver/paasng/tests/sourcectl/packages/test_client.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: isort, black, flake8, mypy-apiserver
