Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

enhance: 支持按集群配置灰度下发 bklogconfig; 移除日志详情中采集器相关的字段
  apiserver/paasng/paas_wl/bk_app/monitoring/bklog/shim.py
  apiserver/paasng/paasng/accessories/log/shim/__init__.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/accessories/log/utils.py
Due: isort, black, flake8, mypy-apiserver

fix: minor
  operator/pkg/controllers/reconcilers/revision.go
Due: operator-lint

fix unittest
  apiserver/paasng/paasng/accessories/log/utils.py
  apiserver/paasng/tests/api/apigw/test_log.py
  apiserver/paasng/tests/api/test_log.py
Due: isort, black, flake8, mypy-apiserver

feat: 完善功能
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix:权限
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
Due: isort, black, flake8, mypy-apiserver

feat: 不允许添加同名文件
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

feat: 优化文件名重复交互
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

minor: 调整查询自定义采集项接口
  apiserver/paasng/paasng/accessories/log/serializers.py
  apiserver/paasng/paasng/accessories/log/views/config.py
Due: isort, black, flake8, mypy-apiserver

enhance: 支持按集群配置灰度下发 bklogconfig; 移除日志详情中采集器相关的字段 (#816)
  apiserver/paasng/paas_wl/bk_app/monitoring/bklog/shim.py
  apiserver/paasng/paasng/accessories/log/serializers.py
  apiserver/paasng/paasng/accessories/log/shim/__init__.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/accessories/log/utils.py
  apiserver/paasng/paasng/accessories/log/views/config.py
  apiserver/paasng/tests/api/apigw/test_log.py
  apiserver/paasng/tests/api/test_log.py
Due: isort, black, flake8, mypy-apiserver

fix: 顶部添加过滤条件，导出导出icon添加
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
Due: none

fix: 普通应用“访问地址”页面样式问题修复
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

fix: 修复细节
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix: 修复新增时编辑报错的bug
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix: fix bugs
  webfe/package_vue/src/common/utils.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix: 使用$set 设置editValue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix: add pop
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

环境变量顶部添加过滤条件操作、普通应用“访问地址”页面样式问题修复 (#817)
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

fix:调整
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
Due: isort, black, flake8, mypy-apiserver

fix:
  apiserver/paasng/paasng/infras/legacydb/adaptors.py
Due: isort, black, flake8, mypy-apiserver

enhance:uni_apps_list_minimal,uni_apps_query_by_id 添加查询参数 (#803)
  apiserver/paasng/paasng/infras/legacydb/adaptors.py
  apiserver/paasng/paasng/plat_admin/system/applications.py
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/tests/paasng/plat_admin/test_system.py
Due: isort, black, flake8, mypy-apiserver

fix:mount_id
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
Due: isort, black, flake8, mypy-apiserver

fix: 将'web'进程默认置为第一个
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: 将web进程默认置为第一个 (#819)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix:挂载卷 configmap 资源 patch 问题，重名问题 (#798)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/client.py
  apiserver/paasng/paas_wl/infras/resources/kube_res/base.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: isort, black, flake8, mypy-apiserver

fix: 删除单个环境变量id获取代码优化
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
Due: none

fix: 删除单个环境变量id获取代码优化 (#820)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
Due: none

minor: 添加日志平台跳转链接
  apiserver/paasng/paasng/accessories/log/serializers.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/accessories/log/urls.py
  apiserver/paasng/paasng/accessories/log/views/config.py
Due: isort, black, flake8, mypy-apiserver

feat: 添加回车保存数据
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

feat: delete console
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix unittest
  apiserver/paasng/tests/api/test_log.py
Due: isort, black, flake8, mypy-apiserver

minor: 添加日志平台跳转链接 (#818)
  apiserver/paasng/paasng/accessories/log/serializers.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/accessories/log/urls.py
  apiserver/paasng/paasng/accessories/log/views/config.py
  apiserver/paasng/tests/api/test_log.py
Due: isort, black, flake8, mypy-apiserver

fix: bkui中default可为 str 外的其他类型
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
Due: isort, black, flake8, mypy-apiserver

feat: support view process service for cnative app
  apiserver/paasng/paas_wl/workloads/networking/ingress/kres_entities/service.py
Due: isort, black, flake8, mypy-apiserver

feat: codecc taskid 为空时再查询一次数据
  apiserver/paasng/paasng/accessories/ci/clients/bk_ci.py
Due: isort, black, flake8, mypy-apiserver

feat: modify title
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix: fix
  apiserver/paasng/paasng/accessories/ci/clients/bk_ci.py
Due: isort, black, flake8, mypy-apiserver

feat: 挂载卷功能完成 (#824)
  webfe/package_vue/src/common/utils.js
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/deploy-volume.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/editor-status.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/theme.json
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 修复插件数据导入数据格式定义问题；codecc taskid 为空时再查询一次数据 (#823)
  apiserver/paasng/paasng/accessories/ci/clients/bk_ci.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
Due: isort, black, flake8, mypy-apiserver

fix: fix bugs
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix: fix bugs (#826)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
