Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix：体验修复 & 测试提单修复1.5 (#1461)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-list.vue
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/scale-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/image-info/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/build-history.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/comps/deploy-action/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/comps/log-filter.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/comps/log-filter.vue
Due: none

fix: unitest
  apiserver/paasng/tests/api/test_applications.py
  apiserver/paasng/tests/api/test_modules.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: 调整获取 logo 失败时的日志
  apiserver/paasng/paasng/platform/smart_app/services/detector.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: untranslated internationalization fields issue (#1460)
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paas_wl/infras/resources/base/kres.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: no matches found for kind=DomainGroupMapping&&preferred=True
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: no matches found for kind=DomainGroupMapping and preferred=True (#1466)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
  apiserver/paasng/paas_wl/infras/resources/base/kres.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor：全局搜索根据新版设计稿重构
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/common/tools.js
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/components/search-main.vue
  webfe/package_vue/src/components/ui/Dropdown.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
Due: none

fix：全局搜索代码优化，修复1280屏幕下搜索框focus位置错误问题 # Reviewed, transaction id: 11860
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/global-search/search-input.vue
  webfe/package_vue/src/components/global-search/search-result.vue
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/search/index.vue
Due: none

feat: support set custom domain ingress class separately
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paas_wl/workloads/networking/ingress/managers/domain.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/managers/subpath.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/engine/deploy/archive/operator.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/managers/test_domain.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/managers/test_subpath.py
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha1/projectconfig_types_test.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/main.go
  operator/pkg/config/config.go
  operator/pkg/controllers/dgroupmapping/ingress/builder.go
  operator/pkg/controllers/dgroupmapping/ingress/builder_test.go
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

fix: no matches found for kind=DomainGroupMapping and preferred=True
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
  apiserver/paasng/paas_wl/infras/resources/base/kres.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: Add terminated info to process for better observation of restart reasons
  apiserver/paasng/paas_wl/bk_app/processes/kres_entities.py
  apiserver/paasng/paas_wl/bk_app/processes/kres_slzs.py
  apiserver/paasng/paas_wl/bk_app/processes/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: support AI Agent plugin App
  apiserver/paasng/paasng/platform/applications/migrations/0012_application_is_ai_agent_app.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/urls.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/engine/configurations/source_file.py
  apiserver/paasng/paasng/platform/modules/constants.py
  apiserver/paasng/paasng/platform/modules/specs.py
  apiserver/paasng/paasng/platform/sourcectl/version_services.py
  apiserver/paasng/tests/api/apigw/test_ai_agent.py
  apiserver/paasng/tests/paasng/platform/modules/test_manager.py
  apiserver/paasng/tests/paasng/platform/modules/test_specs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: Add terminated info to process for better observation of restart reasons
  apiserver/paasng/paas_wl/bk_app/processes/kres_slzs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: untranslated internationalization fields issue
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

fix: ba60cc73d08f49c6798f07699d8baba379a5d1da
  apiserver/paasng/paas_wl/workloads/networking/entrance/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 通知中心应用ID(用于 API 网关自动授权)
  apiserver/paasng/support-files/apigw/definition.yaml
Due: none

fix:通知中心应用ID变更为下划线(用于 API 网关自动授权)&国际化问题修复 (#1470)
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/serializers.py
  apiserver/paasng/support-files/apigw/definition.yaml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: support ignore idle apps
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/evaluation/collectors/deployment.py
  apiserver/paasng/paasng/platform/evaluation/constants.py
  apiserver/paasng/paasng/platform/evaluation/migrations/0004_idleappnotificationmuterule.py
  apiserver/paasng/paasng/platform/evaluation/models.py
  apiserver/paasng/paasng/platform/evaluation/tasks.py
  apiserver/paasng/paasng/platform/evaluation/urls.py
  apiserver/paasng/paasng/platform/evaluation/views.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/api/test_evaluation.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: resolve #1471 conversations
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/platform/evaluation/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: aidev 应用也是一个插件应用
  apiserver/paasng/paasng/platform/applications/serializers/app.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/platform/applications/serializers/app.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add JustLeaveAppManager for better experience
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/evaluation/tasks.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: resolve #1472 conversations
  apiserver/paasng/paasng/infras/accounts/permissions/application.py
  apiserver/paasng/paasng/infras/iam/constants.py
  apiserver/paasng/paasng/infras/iam/permissions/resources/application.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add JustLeaveAppManager for better experience (#1472)
  apiserver/paasng/paasng/infras/accounts/permissions/application.py
  apiserver/paasng/paasng/infras/iam/constants.py
  apiserver/paasng/paasng/infras/iam/permissions/resources/application.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/evaluation/tasks.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: support set custom domain ingress class separately (#1468)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
  apiserver/paasng/paas_wl/infras/resources/base/kres.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/managers/domain.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/managers/subpath.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/engine/deploy/archive/operator.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/managers/test_domain.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/managers/test_subpath.py
  operator/api/v1alpha1/projectconfig_types.go
  operator/api/v1alpha1/projectconfig_types_test.go
  operator/config/crd/bases/paas.bk.tencent.com_projectconfigs.yaml
  operator/main.go
  operator/pkg/config/config.go
  operator/pkg/controllers/dgroupmapping/ingress/builder.go
  operator/pkg/controllers/dgroupmapping/ingress/builder_test.go
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

feat: 全局搜索根据新版设计稿重构 (#1467)
  webfe/package_vue/src/common/tools.js
  webfe/package_vue/src/components/global-search/search-input.vue
  webfe/package_vue/src/components/global-search/search-result.vue
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/components/ui/Dropdown.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/search/index.vue
Due: none

fix: resolve #1471 conversations
  apiserver/paasng/paasng/platform/evaluation/models.py
  apiserver/paasng/paasng/platform/evaluation/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：手动预览步骤失败处理
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: CodeCC 验收单据修复v1.0
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/comps/version-manage-title.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-steps/index.vue
Due: none

feat: 添加代码差异icon # Reviewed, transaction id: 9818
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
Due: none

fix: 国际化补充，发布按钮文案修改
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/create-plugin/success.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

updeta: 测试步骤的标题栏样式按照新设计稿开发
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: 测试过程中切换插件跳转至改了页
  webfe/package_vue/src/components/plugin-quick-nav.vue
Due: none

fix: 测试版本的随机数可读性，终止测试按钮样式 # Reviewed, transaction id: 10106
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

update: 帮助指引文档地址变更 # Reviewed, transaction id: 10126
  webfe/package_vue/src/views/plugin-center/create-plugin/success.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
