Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 修复云原生应用获取不到已部署的 BKPAAS_APP_SECRET 问题 (#738)
  apiserver/paasng/paasng/accessories/app_secret/utilts.py
Due: isort, black, flake8, mypy-apiserver

refactor: resolve review comments
  apiserver/paasng/paasng/accessories/publish/sync_market/constant.py
  apiserver/paasng/paasng/accessories/publish/sync_market/models.py
  apiserver/paasng/paasng/anti_contracts/__init__.py
  apiserver/paasng/paasng/anti_contracts/accessories/publish/__init__.py
  apiserver/paasng/paasng/anti_contracts/accessories/publish/sync_market/__init__.py
  apiserver/paasng/paasng/anti_contracts/accessories/publish/sync_market/constants.py
  apiserver/paasng/paasng/anti_contracts/accessories/publish/sync_market/models.py
  apiserver/paasng/paasng/anti_contracts/platform/__init__.py
  apiserver/paasng/paasng/anti_contracts/platform/mgrlegacy/__init__.py
  apiserver/paasng/paasng/anti_contracts/platform/mgrlegacy/constants.py
  apiserver/paasng/paasng/anti_contracts/platform/mgrlegacy/signals.py
  apiserver/paasng/paasng/core/signals.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/paasng/platform/applications/operators.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/entrance.py
  apiserver/paasng/paasng/platform/mgrlegacy/constants.py
  apiserver/paasng/paasng/platform/mgrlegacy/signals.py
  apiserver/paasng/tests/paasng/plat_admin/test_system.py
Due: isort, black, flake8, mypy-apiserver

refactor: cleaning up invalid modules in import-linter (#736)
  apiserver/paasng/.importlinter
  apiserver/paasng/paasng/core/signals.py
  apiserver/paasng/paasng/plat_admin/system/applications.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/paasng/platform/applications/operators.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/entrance.py
  apiserver/paasng/tests/paasng/plat_admin/test_system.py
Due: isort, black, flake8, mypy-apiserver

Add API: Get bk_app model manifest (#731)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/entities.py
  apiserver/paasng/paasng/platform/cnative/bkapp_model/__init__.py
  apiserver/paasng/paasng/platform/cnative/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/cnative/exceptions.py
  apiserver/paasng/paasng/platform/cnative/serializers.py
  apiserver/paasng/paasng/platform/cnative/services.py
  apiserver/paasng/paasng/platform/cnative/views.py
  apiserver/paasng/tests/paasng/platform/cnative/bkapp_model/__init__.py
  apiserver/paasng/tests/paasng/platform/cnative/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

feat:支持更换密钥 (#720)
  webfe/package_vue/bk.config.js
  webfe/package_vue/src/components/authentication-info.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
Due: none

fix: k8s configmap 资源删除错误
  apiserver/paasng/paas_wl/workloads/configuration/configmap/entities.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_mounts.py
Due: isort, black, flake8, mypy-apiserver

fix: k8s configmap 资源删除错误
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_mounts.py
Due: isort, black, flake8, mypy-apiserver

feat: support ImagePullPolicy options when deploy cnative app
  apiserver/paasng/paas_wl/bk_app/cnative/specs/addons.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/entities.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
Due: isort, black, flake8, mypy-apiserver

fix: mypy static type check when run unit test
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/envs_base.py
Due: isort, black, flake8, mypy-apiserver

fix: mypy static type check when run unit test (#745)
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/envs_base.py
Due: isort, black, flake8, mypy-apiserver

fix: 应用logo信息tooltips优化
  webfe/package_vue/src/components/app-quick-nav.vue
Due: none

fix: 应用logo信息tooltips优化 (#742)
  webfe/package_vue/src/components/app-quick-nav.vue
Due: none

feat: smart 应用ID 长度支持 20 个字符
  apiserver/paasng/paasng/platform/declarative/application/validations.py
  apiserver/paasng/tests/paasng/platform/declarative/test_application.py
Due: isort, black, flake8, mypy-apiserver

feat: support collect and record application resources used state
  apiserver/paasng/paas_wl/bk_app/monitoring/metrics/evaluator.py
  apiserver/paasng/paas_wl/bk_app/monitoring/metrics/management/commands/evaluate_app_res_quota.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/envs_base.py
Due: isort, black, flake8, mypy-apiserver

挂载卷测试
  webfe/package_vue/bk.config.js
  webfe/package_vue/src/components/authentication-info.vue
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/deploy-volume.vue
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/app/basic-config/visit-url/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-yaml.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: minor
  apiserver/paasng/tests/paasng/platform/declarative/test_application.py
Due: isort, black, flake8, mypy-apiserver

refactor: move EnvItem class to appropriate reference location
  apiserver/paasng/paasng/accessories/publish/sync_market/constant.py
  apiserver/paasng/paasng/infras/legacydb/adaptors.py
  apiserver/paasng/paasng/infras/legacydb/entities.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/envs_base.py
  apiserver/paasng/tests/paasng/platform/mgrlegacy/test_envvar_migration.py
Due: isort, black, flake8, mypy-apiserver

fix: slugbuilder name 中不包含应用ID 信息
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/utils.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/bg_build/test_utils.py
Due: isort, black, flake8, mypy-apiserver

fix: 验证 source_config_data 为 dict 且 key 不能为空
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: isort, black, flake8, mypy-apiserver

refactor: move class EnvItem to appropriate reference location(entities) (#747)
  apiserver/paasng/paasng/accessories/publish/sync_market/constant.py
  apiserver/paasng/paasng/infras/legacydb/adaptors.py
  apiserver/paasng/paasng/infras/legacydb/entities.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/envs_base.py
  apiserver/paasng/tests/paasng/platform/mgrlegacy/test_envvar_migration.py
Due: isort, black, flake8, mypy-apiserver

fix:分支拉取超时时间，分支名正则 (#724)
  apiserver/paasng/paasng/dev_resources/sourcectl/git/client.py
  apiserver/paasng/tests/sourcectl/git/test_git_client.py
Due: isort, black, flake8, mypy-apiserver

fix: Release 脏数据导致的进程查询失败问题 (#735)
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_controllers.py
Due: isort, black, flake8, mypy-apiserver

Release 1.3 branch fix (#748)
  apiserver/paasng/paas_wl/workloads/processes/controllers.py
  apiserver/paasng/paasng/dev_resources/sourcectl/git/client.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paas_wl/workloads/processes/test_controllers.py
  apiserver/paasng/tests/sourcectl/git/test_git_client.py
Due: isort, black, flake8, mypy-apiserver

feat: support collect and record application resources used state (#603)
  apiserver/paasng/paas_wl/bk_app/monitoring/metrics/evaluator.py
  apiserver/paasng/paas_wl/bk_app/monitoring/metrics/management/commands/evaluate_app_res_quota.py
Due: isort, black, flake8, mypy-apiserver

fix: k8s configmap 资源删除错误 和 source_config_date 校验 (#744)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/workloads/configuration/configmap/entities.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_mounts.py
Due: isort, black, flake8, mypy-apiserver

refactor: rename alert rule display name
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/client.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/config/app_rule.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/manager.py
  apiserver/paasng/tests/paasng/misc/monitoring/alert_rules/conftest.py
  apiserver/paasng/tests/paasng/misc/monitoring/alert_rules/test_manager.py
Due: isort, black, flake8, mypy-apiserver

refactor: minor
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_cpu_usage.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_mem_usage.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_rabbitmq_queue_messages.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/oom_killed.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/pod_restart.yaml.j2
Due: none

refactor: rename alert rule display name (#749)
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/client.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_cpu_usage.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_mem_usage.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_rabbitmq_queue_messages.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/oom_killed.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/pod_restart.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/config/app_rule.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/manager.py
  apiserver/paasng/tests/paasng/misc/monitoring/alert_rules/conftest.py
  apiserver/paasng/tests/paasng/misc/monitoring/alert_rules/test_manager.py
Due: isort, black, flake8, mypy-apiserver

feature: 增加 ModuleProcessSpec 模型; 扩展 ProcessSpec 模型, 增加更多进程相关的字段
  apiserver/paasng/paas_wl/bk_app/processes/models.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/platform/modules/migrations/0008_buildconfig.py
  apiserver/paasng/paasng/platform/modules/models/__init__.py
  apiserver/paasng/paasng/platform/modules/models/build_cfg.py
  apiserver/paasng/paasng/platform/modules/models/deploy_config.py
  apiserver/paasng/paasng/platform/modules/models/processes.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/templates/manager.py
  apiserver/paasng/tests/api/test_build_config.py
Due: isort, black, flake8, mypy-apiserver

rename paasng.platform.cnative to paasng.platform.bkapp_model
  apiserver/paasng/paas_wl/bk_app/cnative/specs/entities.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/bkapp_model/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/apps.py
  apiserver/paasng/paasng/platform/bkapp_model/exceptions.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0001_initial.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/services.py
  apiserver/paasng/paasng/platform/bkapp_model/urls.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/modules/models/__init__.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/api/test_cnative.py
  apiserver/paasng/tests/paasng/platform/cnative/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paasng/platform/cnative/test_cnative.py
  apiserver/paasng/tests/utils/helpers.py
Due: isort, black, flake8, mypy-apiserver

feature: 实现 ProcessesManifestConstructor
  apiserver/paasng/paasng/platform/cnative/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/declarative/models.py
  apiserver/paasng/tests/paasng/platform/cnative/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

minor: make migrations
  apiserver/paasng/paas_wl/bk_app/processes/migrations/0005_auto_20231013_1115.py
  apiserver/paasng/paasng/platform/modules/migrations/0011_moduleprocessspec.py
Due: mypy-apiserver

refactor with discussion
  apiserver/paasng/paas_wl/bk_app/processes/models.py
  apiserver/paasng/paasng/platform/modules/models/processes.py
Due: isort, black, flake8, mypy-apiserver

feat: smart 应用ID 支持 20 个字符
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/extensions/declarative/application/validations.py
  apiserver/paasng/tests/engine/deploy/bg_build/test_utils.py
Due: isort, black, flake8, mypy-apiserver

feat: smart 应用ID 支持 20 个字符 (#750)
  apiserver/paasng/paasng/engine/deploy/bg_build/utils.py
  apiserver/paasng/paasng/extensions/declarative/application/validations.py
  apiserver/paasng/tests/engine/deploy/bg_build/test_utils.py
Due: isort, black, flake8, mypy-apiserver

feature: 增加 ModuleProcessSpec 模型; 扩展 ProcessSpec 模型, 增加更多进程相关的字段 (#737)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/entities.py
  apiserver/paasng/paas_wl/bk_app/processes/migrations/0005_auto_20231013_1115.py
  apiserver/paasng/paas_wl/bk_app/processes/models.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/bkapp_model/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/apps.py
  apiserver/paasng/paasng/platform/bkapp_model/exceptions.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0001_initial.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/services.py
  apiserver/paasng/paasng/platform/bkapp_model/urls.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/models.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
  apiserver/paasng/paasng/platform/modules/helpers.py
  apiserver/paasng/paasng/platform/modules/migrations/0008_buildconfig.py
  apiserver/paasng/paasng/platform/modules/models/__init__.py
  apiserver/paasng/paasng/platform/modules/models/build_cfg.py
  apiserver/paasng/paasng/platform/modules/models/deploy_config.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/platform/templates/manager.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/api/test_build_config.py
  apiserver/paasng/tests/api/test_cnative.py
  apiserver/paasng/tests/paasng/platform/cnative/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paasng/platform/cnative/test_cnative.py
  apiserver/paasng/tests/utils/helpers.py
Due: isort, black, flake8, mypy-apiserver

fix: 改进 volume mount_path 正则 (#739)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
  operator/api/v1alpha2/constants.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

feature: ModuleProcessSpec 的保存逻辑
  apiserver/paasng/paas_wl/bk_app/processes/migrations/0005_auto_20231013_1115.py
  apiserver/paasng/paas_wl/bk_app/processes/models.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0001_initial.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/engine/deploy/release/legacy.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/__init__.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_cnative.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paasng/platform/cnative/bkapp_model/__init__.py
Due: isort, black, flake8, mypy-apiserver

fix: step_meta.yaml fixture
  apiserver/paasng/fixtures/step_meta.yaml
Due: none
