Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run pflake8 --config=pyproject.toml

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./mypy.ini"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: reviewd repair
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/market.vue
Due: none

fix: 修复 bkapi-client-core 包从内网移除后导致无法构建的问题 (#174)
  apiserver/poetry.lock
Due: none

fix: 插件列表添加创建时间，完善市场信息默认取创建人为应用联系人 (#175)
  apiserver/paasng/assets/javascripts/api/index.js
  webfe/package_vue/src/api/index.js
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/plugin-center/create-plugin/index.vue
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/market.vue
Due: none

feature: 引入后台任务轮询发布步骤状态; fix: 修复未校验插件ID冲突的问题
  apiserver/paasng/paasng/pluginscenter/releases/executor.py
  apiserver/paasng/paasng/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/tasks.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/tests/pluginscenter/conftest.py
  apiserver/paasng/tests/pluginscenter/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

enhance: 支持同时校验插件ID和插件名称的唯一性
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/shim.py
  apiserver/paasng/tests/pluginscenter/conftest.py
  apiserver/paasng/tests/pluginscenter/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

locking packaging to 21.3
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

admin42 引入 VueI18N
  apiserver/paasng/assets/javascripts/api/index.js
  apiserver/paasng/assets/javascripts/i18n.js
  apiserver/package.json
Due: none

feature: 引入后台任务轮询发布步骤状态; fix: 修复未校验插件ID冲突的问题 (#177)
  apiserver/paasng/assets/javascripts/api/index.js
  apiserver/paasng/assets/javascripts/i18n.js
  apiserver/paasng/paasng/pluginscenter/releases/executor.py
  apiserver/paasng/paasng/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/shim.py
  apiserver/paasng/paasng/pluginscenter/tasks.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/tests/pluginscenter/conftest.py
  apiserver/paasng/tests/pluginscenter/test_serializers.py
  apiserver/package.json
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: isort, black, flake8, mypy-apiserver

fix: 版本号不需要再添加 v
  webfe/package_vue/src/components/paas-footer.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/market.vue
Due: none

minor: resolve #176 conversations
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/operator.html
  workloads/paas_wl/paas_wl/admin/helpers.py
  workloads/paas_wl/paas_wl/admin/urls.py
  workloads/paas_wl/paas_wl/admin/views/clusters.py
  workloads/paas_wl/paas_wl/resources/base/kres.py
Due: isort, black, flake8, mypy-workloads

minor: update comments
  workloads/paas_wl/paas_wl/admin/helpers.py
  workloads/paas_wl/paas_wl/resources/base/kres.py
Due: isort, black, flake8, mypy-workloads

locck vue-i18n to 8.9.0
  apiserver/package.json
Due: none

minor: replace pk with cluster_name in path args
  workloads/paas_wl/paas_wl/admin/urls.py
  workloads/paas_wl/paas_wl/admin/views/clusters.py
Due: isort, black, flake8, mypy-workloads

fix: 移除对 vue-i18n 的依赖
  apiserver/paasng/assets/javascripts/api/index.js
  apiserver/paasng/assets/javascripts/i18n.js
  apiserver/package.json
Due: none

fix: 移除 admin42 对 vue-i18n 的依赖 (#179)
  apiserver/paasng/assets/javascripts/api/index.js
  apiserver/paasng/assets/javascripts/i18n.js
  apiserver/package.json
Due: none

fix: 修复插件市场信息同步API
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
Due: isort, black, flake8, mypy-apiserver

style: 列表与版本管理状态保持一致
  webfe/package_vue/src/views/plugin-center/index.vue
Due: none

fix: 插件报错信息国际化处理; 无权限访问插件开发bug修复
  apiserver/paasng/assets/javascripts/api/index.js
Due: none

fix: rollback grpcio to 1.51.1
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

fix: rollback grpcio to 1.51.1 (#180)
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

perf: optimize admin42 cluster manage
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/sourcectl.html
  workloads/paas_wl/paas_wl/admin/serializers/clusters.py
  workloads/paas_wl/paas_wl/admin/urls.py
  workloads/paas_wl/paas_wl/admin/views/clusters.py
Due: isort, black, flake8, mypy-workloads

feat: admin42 add bkpaas operator dashboard (#176)
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/front_page.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/operator.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/operator.py
  apiserver/package.json
  workloads/paas_wl/paas_wl/admin/constants.py
  workloads/paas_wl/paas_wl/admin/helpers.py
  workloads/paas_wl/paas_wl/admin/urls.py
  workloads/paas_wl/paas_wl/admin/views/clusters.py
  workloads/paas_wl/paas_wl/utils/basic.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

fix: 暂无数据与搜索为空提示对应；message对应国际化；Operate显示不全
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none

fix: 清除apiserver目录下的国际化
  apiserver/paasng/assets/javascripts/api/index.js
Due: none

Wmh plugin bug (#184)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none

perf: optimize admin42 cluster manage (#181)
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/sourcectl.html
  workloads/paas_wl/paas_wl/admin/serializers/clusters.py
  workloads/paas_wl/paas_wl/admin/urls.py
  workloads/paas_wl/paas_wl/admin/views/clusters.py
Due: isort, black, flake8, mypy-workloads

minor: optimize admin42 web templates
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/operator.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/operator.py
Due: isort, black, flake8, mypy-apiserver

minor: optimize admin42 web templates (#185)
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/operator.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/operator.py
Due: isort, black, flake8, mypy-apiserver

fix: aPIGW 网关描述修改
  apiserver/paasng/support-files/apigw/definition.yaml
Due: none

fix: 插件标识改为插件 ID
  apiserver/paasng/paasng/pluginscenter/definitions.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 otel 增强 apm_name 存储问题&修复插件市场信息同步API (#178)
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/pluginscenter/definitions.py
  apiserver/paasng/support-files/apigw/definition.yaml
  svc-otel/svc_otel/vendor/provider.py
  webfe/package_vue/src/components/paas-footer.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/market.vue
Due: isort, black, flake8, mypy-apiserver

fix: 插件列表：去除状态列、英文时小屏操作显示不全；应用分类tooltips规范；日志显示时间问题修复
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/market-info-edit.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/market.vue
Due: none

fix: 插件列表：去除状态列、英文时小屏操作显示不全；应用分类tooltips规范；日志显示时间问题修复 (#186)
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/market-info-edit.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/release-stages/market.vue
Due: none

fix: 修复无法开启出口IP的问题
  webfe/package_vue/src/views/dev-center/app/basic-config/module-manage.vue
Due: none

fix: 修复 BareGit 暴露未脱敏信息
  apiserver/paasng/paasng/dev_resources/sourcectl/git/client.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复如果 mappings 中无对应的 property, 查询 nested field 会报 KeyError 的问题
  apiserver/paasng/paasng/platform/log/utils.py
Due: isort, black, flake8, mypy-apiserver

enhance: 添加应用特性 MODIFY_ENVIRONMENT_VARIABLE 控制是否支持修改环境变量, 目前仅前端实现该特性开关
  apiserver/paasng/assets/javascripts/api/index.js
  apiserver/paasng/paasng/platform/applications/constants.py
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/paasng/platform/applications/constants.py
  apiserver/paasng/tests/platform/applications/test_feature_flag.py
Due: isort, black, flake8, mypy-apiserver

enhance: 添加应用特性 MODIFY_ENVIRONMENT_VARIABLE 控制是否支持修改环境变量, 目前仅前端实现该特性开关 (#182)
  apiserver/paasng/assets/javascripts/api/index.js
  apiserver/paasng/paasng/dev_resources/sourcectl/git/client.py
  apiserver/paasng/paasng/platform/applications/constants.py
  apiserver/paasng/paasng/platform/log/utils.py
  apiserver/paasng/tests/platform/applications/test_feature_flag.py
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/module-manage.vue
  webfe/package_vue/src/views/dev-center/app/engine/env-vars/index.vue
Due: isort, black, flake8, mypy-apiserver

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
