Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 埋点前置判断 (#1869)
  webfe/package_vue/src/common/event-tracking.js
  webfe/package_vue/src/components/cloud-app-top-bar.vue
  webfe/package_vue/src/main.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
Due: none

feat: add tenant_id field to ingress app and related models(Module and WlApp) (#1868)
  apiserver/paasng/paas_wl/bk_app/applications/api.py
  apiserver/paasng/paas_wl/bk_app/applications/migrations/0020_app_tenant_id_alter_buildprocess_status.py
  apiserver/paasng/paas_wl/bk_app/applications/models/app.py
  apiserver/paasng/paas_wl/bk_app/applications/models/build.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/addresses.py
  apiserver/paasng/paas_wl/utils/constants.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/constants.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/certs.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/constants.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/domains/manager.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/management/commands/refresh_cert.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/management/commands/shared_cert_tool.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/managers/domain.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/managers/subpath.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/migrations/0009_alter_appdomain_unique_together_and_more.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/models.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/certs.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/certs.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/bkapp_model/services.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/platform/modules/migrations/0017_module_tenant_id.py
  apiserver/paasng/paasng/platform/modules/models/module.py
  apiserver/paasng/tests/paas_wl/bk_app/applications/test_api.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_addresses.py
  apiserver/paasng/tests/paas_wl/test_utils/test_main.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/managers/test_domain.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/managers/test_https.py
  apiserver/paasng/tests/paas_wl/workloads/networking/ingress/managers/test_misc.py
  apiserver/paasng/tests/utils/helpers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: delete residual env resources (#1867)
  apiserver/paasng/paas_wl/bk_app/deploy/actions/delete.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add list tenants api (#1874)
  apiserver/paasng/.importlinter
  apiserver/paasng/paasng/core/tenant/serializers.py
  apiserver/paasng/paasng/core/tenant/urls.py
  apiserver/paasng/paasng/core/tenant/views.py
  apiserver/paasng/paasng/infras/bk_user/__init__.py
  apiserver/paasng/paasng/infras/bk_user/apigw/__init__.py
  apiserver/paasng/paasng/infras/bk_user/apigw/client.py
  apiserver/paasng/paasng/infras/bk_user/client.py
  apiserver/paasng/paasng/infras/bk_user/entities.py
  apiserver/paasng/paasng/infras/bk_user/exceptions.py
  apiserver/paasng/paasng/infras/perm_insure/conf.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/api/core/__init__.py
  apiserver/paasng/tests/api/core/tenant/__init__.py
  apiserver/paasng/tests/api/core/tenant/test_tenant.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: smart app code can use with char _ and length between 3-20 (#1872)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/platform/applications/serializers/fields.py
  apiserver/paasng/paasng/platform/smart_app/serializers.py
  apiserver/paasng/paasng/platform/smart_app/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add list bcs projects & clusters api (#1870)
  apiserver/paasng/paas_wl/infras/resources/base/bcs/client.py
  apiserver/paasng/paasng/infras/bcs/__init__.py
  apiserver/paasng/paasng/infras/bcs/apigw/__init__.py
  apiserver/paasng/paasng/infras/bcs/apigw/client.py
  apiserver/paasng/paasng/infras/bcs/client.py
  apiserver/paasng/paasng/infras/bcs/entities.py
  apiserver/paasng/paasng/infras/bcs/exceptions.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/bcs_resources.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/policies.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/bcs_resources.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/policies.py
  apiserver/paasng/tests/api/plat_mgt/infras/bcs_resources/__init__.py
  apiserver/paasng/tests/api/plat_mgt/infras/bcs_resources/test_bcs_resources.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add list available clusters api (#1876)
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/policies.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/conftest.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: operation audit record i18n problem (#1878)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/misc/audit/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update ModuleNameField (#1880)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/platform/modules/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 增强服务回收 (#1875)
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/verification-code-dialog/index.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/main.js
  webfe/package_vue/src/store/modules/service.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
  webfe/package_vue/src/views/dev-center/app/services/comps/recycle-sideslider.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

docs: change "S-Mart" to "S-mart" (#1879)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/platform/smart_app/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: paas-service version in pyproject.toml (#1849)
  svc-bkrepo/poetry.lock
  svc-bkrepo/pyproject.toml
  svc-mysql/poetry.lock
  svc-mysql/pyproject.toml
  svc-otel/poetry.lock
  svc-otel/pyproject.toml
  svc-rabbitmq/poetry.lock
  svc-rabbitmq/pyproject.toml
Due: none

feat: remove redundant operation code (#1882)
  apiserver/paasng/paasng/misc/audit/handlers.py
  apiserver/paasng/paasng/misc/operations/constant.py
  apiserver/paasng/paasng/misc/operations/models.py
  apiserver/paasng/paasng/misc/operations/serializers.py
  apiserver/paasng/paasng/misc/operations/urls.py
  apiserver/paasng/paasng/misc/operations/views.py
  apiserver/paasng/paasng/platform/applications/operators.py
  apiserver/paasng/paasng/platform/evaluation/tasks.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/paasng/misc/operations/__init__.py
  apiserver/paasng/tests/paasng/misc/operations/test_operations.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 应用列表添加查询参数 app_tenant_mode (#1871)
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/tests/api/test_applications.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 云原生导航宽度问题修复 (#1884)
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
Due: none

fix: operation audit translate remove fuzzy (#1881)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

fix: django po translation (#1886)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
Due: none

feat: smart 添加多租户类型 (#1887)
  webfe/package_vue/src/App.vue
  webfe/package_vue/src/components/key-value-row/index.vue
  webfe/package_vue/src/components/uploader/index.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/modules/packages.js
  webfe/package_vue/src/views/dev-center/app/engine/packages/index.vue
  webfe/package_vue/src/views/dev-center/create-app/comps/modify-id-dialog.vue
  webfe/package_vue/src/views/dev-center/create-app/comps/smart-file-preview.vue
  webfe/package_vue/src/views/dev-center/create-app/comps/smart-info.vue
  webfe/package_vue/src/views/dev-center/create-app/smart.vue
  webfe/package_vue/static/images/basic-info-file.png
Due: none

fix: only default tenant when multi-tenant disabled (#1889)
  apiserver/paasng/paasng/infras/bk_user/client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: fix list tenants api unittest (#1892)
  apiserver/paasng/tests/api/core/tenant/test_tenant.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: move tenant_available_cluster api to plat_mgt.infras.tenants (#1893)
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/tenants/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/tenants/serializers.py
  apiserver/paasng/paasng/plat_mgt/infras/tenants/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/tenants/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_bcs_resources.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_clusters.py
  apiserver/paasng/tests/api/plat_mgt/infras/conftest.py
  apiserver/paasng/tests/api/plat_mgt/infras/tenants/__init__.py
  apiserver/paasng/tests/api/plat_mgt/infras/tenants/test_tenant.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Add tenant_id field to apps: part2 (#1894)
  apiserver/paasng/paasng/accessories/dev_sandbox/migrations/0003_codeeditor_tenant_id_devsandbox_tenant_id.py
  apiserver/paasng/paasng/accessories/dev_sandbox/models.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/paasng/accessories/publish/market/migrations/0007_displayoptions_tenant_id_marketconfig_tenant_id_and_more.py
  apiserver/paasng/paasng/accessories/publish/market/models.py
  apiserver/paasng/paasng/accessories/publish/market/serializers.py
  apiserver/paasng/paasng/accessories/publish/sync_market/models.py
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0008_remoteserviceengineappattachment_tenant_id_and_more.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/sharing.py
  apiserver/paasng/paasng/core/tenant/fields.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/manager.py
  apiserver/paasng/paasng/misc/monitoring/monitor/dashboards/manager.py
  apiserver/paasng/paasng/misc/monitoring/monitor/migrations/0003_appalertrule_tenant_id_appdashboard_tenant_id.py
  apiserver/paasng/paasng/misc/monitoring/monitor/models.py
  apiserver/paasng/paasng/platform/applications/management/commands/create_3rd_party_apps.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/mgrlegacy/app_migrations/product.py
  apiserver/paasng/paasng/platform/sourcectl/connector.py
  apiserver/paasng/paasng/platform/sourcectl/docker/models.py
  apiserver/paasng/paasng/platform/sourcectl/migrations/0012_dockerrepository_tenant_id_gitrepository_tenant_id_and_more.py
  apiserver/paasng/paasng/platform/sourcectl/models.py
  apiserver/paasng/paasng/platform/templates/models.py
  apiserver/paasng/tests/api/test_dashboard.py
  apiserver/paasng/tests/paasng/accessories/dev_sandbox/conftest.py
  apiserver/paasng/tests/paasng/misc/monitoring/alert_rules/conftest.py
  apiserver/paasng/tests/paasng/platform/sourcectl/test_bare_git.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: add augument image-pull-policy to deploy_bkapp command (#1856)
  apiserver/paasng/paasng/platform/engine/management/commands/deploy_bkapp.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 应用态列表类 API 支持根据 HTTP_X_BK_TENANT_ID 请求头的租户过滤 (#1866)
  apiserver/paasng/paasng/bk_plugins/bk_plugins/models.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/views.py
  apiserver/paasng/paasng/plat_admin/system/applications.py
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/paasng/platform/applications/tenant.py
  apiserver/paasng/tests/api/apigw/test_system_apis.py
  apiserver/paasng/tests/paasng/bk_plugins/bk_plugins/test_models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: recycle unbound service instance in admin42 (#1888)
  apiserver/paasng/paasng/plat_admin/admin42/serializers/services.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/services.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: sync tenant infor to the desktop when creating app (including light apps) (#1885)
  apiserver/paasng/paasng/accessories/publish/sync_market/handlers.py
  apiserver/paasng/paasng/infras/legacydb/adaptors.py
  apiserver/paasng/paasng/platform/applications/serializers/light_app.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/mgrlegacy/management/commands/make_legacy_app_for_test.py
  apiserver/paasng/support-files/apigw/api_doc/en/create_light_applications.md
  apiserver/paasng/support-files/apigw/api_doc/zh/create_light_applications.md
  apiserver/paasng/tests/paasng/accessories/publish/sync_market/test_sync_console.py
  apiserver/paasng/tests/paasng/accessories/publish/test_entrance.py
  apiserver/paasng/tests/paasng/platform/applications/test_lapp.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

chore: apigw 资源访问统计路径错误修改 (#1898)
  apiserver/paasng/support-files/apigw/definition.yaml
  apiserver/paasng/support-files/apigw/resources.yaml
Due: none

feat: plat-mgt cluster component apis (#1890)
  apiserver/paasng/paas_wl/infras/cluster/constants.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0017_clustercomponent.py
  apiserver/paasng/paas_wl/infras/cluster/migrations/0018_initial_cluster_components.py
  apiserver/paasng/paas_wl/infras/cluster/models.py
  apiserver/paasng/paas_wl/infras/resources/base/base.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0007_init_service_binding_policy.py
  apiserver/paasng/paasng/infras/bcs/apigw/client.py
  apiserver/paasng/paasng/infras/bcs/client.py
  apiserver/paasng/paasng/infras/bcs/exceptions.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/constants.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/entities.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/helm.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/k8s.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/serializers/components.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/urls.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/values/__init__.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/values/constructors.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/values/entities.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/values/getters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/bcs_resources.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/clusters.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/components.py
  apiserver/paasng/paasng/plat_mgt/infras/clusters/views/policies.py
  apiserver/paasng/paasng/plat_mgt/infras/tenants/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/plat_mgt/infras/clusters/test_components.py
  apiserver/paasng/tests/api/plat_mgt/infras/conftest.py
  apiserver/paasng/tests/paasng/plat_mgt/__init__.py
  apiserver/paasng/tests/paasng/plat_mgt/infras/__init__.py
  apiserver/paasng/tests/paasng/plat_mgt/infras/clusters/__init__.py
  apiserver/paasng/tests/paasng/plat_mgt/infras/clusters/assets/helm-release-secret.yaml
  apiserver/paasng/tests/paasng/plat_mgt/infras/clusters/test_helm.py
  apiserver/paasng/tests/utils/mocks/bcs.py
  apiserver/paasng/tests/utils/mocks/helm.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 平台 ELK 链路中的 ES 配置从 ClusterElasticSearchConfig 表中获取
  apiserver/paasng/paasng/accessories/log/management/commands/init_es_config.py
  apiserver/paasng/paasng/accessories/log/management/commands/update_es_params.py
  apiserver/paasng/paasng/accessories/log/migrations/0007_customcollectorconfig_tenant_id_and_more.py
  apiserver/paasng/paasng/accessories/log/models.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/accessories/log/shim/setup_elk.py
  apiserver/paasng/tests/conftest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: raise interrupt error when build process is finished
  apiserver/paasng/paas_wl/bk_app/applications/models/build.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/bg_build.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: unitest
  apiserver/paasng/paasng/accessories/log/shim/setup_elk.py
  apiserver/paasng/tests/utils/helpers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: not update name and logo when upload s-mart package
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/application/v3/test_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 增强服务多租户平台管理
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/manager.py
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/policy.py
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/selector.py
  apiserver/paasng/paasng/accessories/servicehub/constants.py
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整注释
  operator/api/v1alpha2/bkapp_types.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
Due: operator-lint

feat: ignore some crd missing kind field (#1899)
  apiserver/paasng/paas_wl/infras/resources/base/kube_client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add tenant_id on plugin_center
  apiserver/paasng/paasng/bk_plugins/bk_plugins/api_serializers.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/configuration.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/iam_adaptor/management/shim.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/iam_adaptor/migrations/0003_plugingrademanager_tenant_id_and_more.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/iam_adaptor/models.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/migrations/0026_operationrecord_tenant_id_pluginconfig_tenant_id_and_more.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/shim.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/api_serializers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_serializers.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/thirdparty/test_instance.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: raise interrupt error when build process is finished (#1901)
  apiserver/paasng/paas_wl/bk_app/applications/models/build.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/bg_build.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver
