Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

perf: change cnative default resource limits from 4C1G to 500m256Mi (#272)
  apiserver/paasng/paas_wl/cnative/specs/v1alpha1/bk_app.py
  apiserver/paasng/support-files/apigw/api_doc/en/deploy_cnative.md
  apiserver/paasng/support-files/apigw/api_doc/zh/deploy_cnative.md
  apiserver/paasng/tests/paas_wl/cnative/specs/test_models.py
  operator/api/v1alpha1/bkapp_webhook_test.go
  operator/api/v1alpha1/projectconfig_types.go
  operator/config/samples/paas_v1alpha1_projectconfig.yaml
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: isort, black, flake8, mypy-apiserver, operator-lint

perf: use integer enum value for UserAction
  apiserver/paasng/paasng/utils/rate_limit/constants.py
Due: isort, black, flake8, mypy-apiserver

docs: update UserAction class docstring
  apiserver/paasng/paasng/utils/rate_limit/constants.py
Due: isort, black, flake8, mypy-apiserver

minor: use enumerated action for every rate limiter (#271)
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/paasng/engine/streaming/views.py
  apiserver/paasng/paasng/utils/rate_limit/__init__.py
  apiserver/paasng/paasng/utils/rate_limit/constants.py
  apiserver/paasng/paasng/utils/rate_limit/fixed_window.py
  apiserver/paasng/paasng/utils/rate_limit/token_bucket.py
  apiserver/paasng/tests/test_utils/test_rate_limit.py
Due: isort, black, flake8, mypy-apiserver

feat: inject ACL info when build bkapp manifest
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paasng/cnative/constants.py
  apiserver/paasng/paasng/cnative/views.py
  apiserver/paasng/tests/api/test_cnative.py
Due: isort, black, flake8, mypy-apiserver

minor: rollback exclude manifest_ext when deploy cnative app
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

feat: enable cnative app access control (#273)
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paasng/cnative/constants.py
  apiserver/paasng/paasng/cnative/views.py
  apiserver/paasng/tests/api/test_cnative.py
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: isort, black, flake8, mypy-apiserver

minor: ingress acl plugin change server snippet to configuration (#215)
  operator/pkg/controllers/resources/ingress_plugins.go
  operator/pkg/controllers/resources/ingress_plugins_test.go
Due: operator-lint

fix:修复没通过检验button也置为loading状态的bug
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

fix: 修改serverEvent错误问题
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/index.vue
Due: none

fix: 修改serverEvent同时抛出多个错误导致进程同时触发问题 (#275)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/index.vue
Due: none

fix: fix serverEvent bug
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: add msgpack and wrapt to pyproject.toml explicitly
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

minor: update poetry.lock
  apiserver/poetry.lock
Due: none

fix: 云原生添加event限制
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/index.vue
Due: none

fix: add msgpack and wrapt to pyproject.toml explicitly (#277)
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

fix: event bugs (#276)
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/app-status/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/index.vue
Due: none

fix: bk input type error
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: bk input type error (#279)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: annotations filter error
  apiserver/paasng/paas_wl/cnative/specs/models.py
Due: isort, black, flake8, mypy-apiserver

fix: annotations filter error (#280)
  apiserver/paasng/paas_wl/cnative/specs/models.py
Due: isort, black, flake8, mypy-apiserver

minor: remove bkapp annotations reserved prefix filterer
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
Due: isort, black, flake8, mypy-apiserver

feat: 提供查询应用基本信息的系统API
  apiserver/paasng/paasng/plat_admin/system/applications.py
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/plat_admin/system/urls.py
  apiserver/paasng/paasng/plat_admin/system/utils.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/paasng/platform/legacydb/adaptors.py
  apiserver/paasng/tests/plat_admin/test_system.py
Due: isort, black, flake8, mypy-apiserver

minor: remove bkapp annotations reserved prefix filterer (#281)
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
Due: isort, black, flake8, mypy-apiserver

feat: feat: 创建插件时可预设插件使用方
  apiserver/paasng/paasng/extensions/bk_plugins/apigw.py
  apiserver/paasng/paasng/extensions/bk_plugins/handlers.py
  apiserver/paasng/paasng/extensions/bk_plugins/migrations/0007_auto_20230227_1924.py
  apiserver/paasng/paasng/extensions/bk_plugins/models.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
Due: isort, black, flake8, mypy-apiserver

feat: feat: 应用列表默认按名称字母序排序
  apiserver/paasng/paasng/accessories/search/views.py
  apiserver/paasng/paasng/monitoring/monitor/views.py
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/applications/views.py
  webfe/package_vue/src/views/dev-center/index.vue
Due: isort, black, flake8, mypy-apiserver

feat: fix: 修复单元测试
  apiserver/paasng/paasng/extensions/bk_plugins/apigw.py
  apiserver/paasng/paasng/extensions/bk_plugins/models.py
Due: isort, black, flake8, mypy-apiserver

fix: fix: 修复单元测试
  apiserver/paasng/paasng/extensions/bk_plugins/apigw.py
  apiserver/paasng/paasng/extensions/bk_plugins/models.py
Due: isort, black, flake8, mypy-apiserver

feat: add operation audit for cnative app deploy
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/signals.py
  apiserver/paasng/paas_wl/cnative/specs/tasks.py
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/paasng/platform/operations/constant.py
  apiserver/paasng/paasng/platform/operations/handlers.py
  apiserver/paasng/paasng/platform/operations/models.py
  apiserver/paasng/tests/platform/operations/test_operations.py
Due: isort, black, flake8, mypy-apiserver

fix: 中间件处理 API 请求的语言, 限制总的最大请求长度
  apiserver/paasng/paasng/plat_admin/system/applications.py
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/plat_admin/system/urls.py
  apiserver/paasng/paasng/plat_admin/system/utils.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/paasng/platform/legacydb/adaptors.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/middlewares.py
  apiserver/paasng/tests/plat_admin/test_system.py
Due: isort, black, flake8, mypy-apiserver

feat: 创建插件时可预设插件使用方 (#284)
  apiserver/paasng/paasng/accessories/search/views.py
  apiserver/paasng/paasng/extensions/bk_plugins/apigw.py
  apiserver/paasng/paasng/extensions/bk_plugins/handlers.py
  apiserver/paasng/paasng/extensions/bk_plugins/migrations/0007_auto_20230227_1924.py
  apiserver/paasng/paasng/extensions/bk_plugins/models.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/monitoring/monitor/views.py
  apiserver/paasng/paasng/platform/applications/serializers.py
  apiserver/paasng/paasng/platform/applications/views.py
  webfe/package_vue/src/views/dev-center/index.vue
Due: isort, black, flake8, mypy-apiserver

fix: 限定中间件只对系统API生效
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/utils/middlewares.py
Due: isort, black, flake8, mypy-apiserver

minor: resolve #285 conversations
  apiserver/paasng/paasng/platform/operations/models.py
  apiserver/paasng/tests/platform/operations/test_operations.py
Due: isort, black, flake8, mypy-apiserver

test: fix unittest
  apiserver/paasng/paasng/platform/operations/models.py
Due: isort, black, flake8, mypy-apiserver

feat: add operation audit for cnative app deploy (#285)
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/signals.py
  apiserver/paasng/paas_wl/cnative/specs/tasks.py
  apiserver/paasng/paas_wl/cnative/specs/views_enduser.py
  apiserver/paasng/paasng/platform/operations/constant.py
  apiserver/paasng/paasng/platform/operations/handlers.py
  apiserver/paasng/paasng/platform/operations/models.py
  apiserver/paasng/tests/platform/operations/test_operations.py
Due: isort, black, flake8, mypy-apiserver

minor: all use AppEnvName in paasng.engine.constants
  apiserver/paasng/paas_wl/cnative/specs/constants.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/procs/differ.py
  apiserver/paasng/paas_wl/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/cnative/specs/procs/replicas.py
  apiserver/paasng/paas_wl/workloads/processes/constants.py
  apiserver/paasng/tests/paas_wl/cnative/specs/procs/test_differ.py
  apiserver/paasng/tests/paas_wl/cnative/specs/procs/test_procs.py
Due: isort, black, flake8, mypy-apiserver

Move deploy.config module out of deploy directory
  apiserver/paasng/paas_wl/cnative/specs/addresses.py
  apiserver/paasng/paasng/engine/configurations/__init__.py
  apiserver/paasng/paasng/engine/configurations/config_var.py
  apiserver/paasng/paasng/engine/configurations/image.py
  apiserver/paasng/paasng/engine/configurations/provider.py
  apiserver/paasng/paasng/engine/deploy/config/__init__.py
  apiserver/paasng/paasng/engine/deploy/steps/building.py
  apiserver/paasng/paasng/engine/deploy/steps/image_release.py
  apiserver/paasng/paasng/engine/deploy/steps/pre_release.py
  apiserver/paasng/paasng/engine/deploy/steps/release.py
  apiserver/paasng/paasng/engine/networking/__init__.py
  apiserver/paasng/paasng/engine/networking/ingress.py
  apiserver/paasng/paasng/extensions/bk_plugins/models.py
  apiserver/paasng/paasng/extensions/declarative/deployment/env_vars.py
  apiserver/paasng/paasng/extensions/declarative/deployment/svc_disc.py
  apiserver/paasng/paasng/publish/entrance/exposer.py
  apiserver/paasng/tests/engine/configurations/__init__.py
  apiserver/paasng/tests/engine/configurations/test_config_var.py
  apiserver/paasng/tests/engine/configurations/test_provider.py
  apiserver/paasng/tests/engine/deploy/steps/test_release.py
  apiserver/paasng/tests/engine/networking/__init__.py
  apiserver/paasng/tests/engine/networking/test_ingress.py
Due: isort, black, flake8, mypy-apiserver

Fix test error caused by cluster data interference
  apiserver/paasng/paas_wl/resources/base/base.py
  apiserver/paasng/tests/paas_wl/conftest.py
Due: isort, black, flake8, mypy-apiserver
