Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 环境变量单独操作使用单独接口，不使用batch接口对环境变量进行整体操作
  webfe/package_vue/src/store/modules/var.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
  webfe/package_vue/src/views/dev-center/create-app/comps/top-bar.vue
Due: none

fix: 还原颜色主题
  webfe/package_vue/src/components/deploy-resource-editor/index.vue
Due: none

fix: 进程停止启动添加tips
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix: 创建应用、模块的自动调节的提示信息修改
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process-creat.vue
Due: none

feat: add 2C4G ResQuotaPlan to operator
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/resources/env_overlay.go
Due: operator-lint

fix: 产品文档链接替换为环境变量
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 产品文档链接替换为环境变量 (#796)
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix： 修复更新时的重名校验 k8s configmap 资源更新应该为全量更新（replace），而不是部分更新（patch）
  apiserver/paasng/paas_wl/workloads/configuration/configmap/kres_entities.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: isort, black, flake8, mypy-apiserver

feat: add 2C4G ResQuotaPlan to operator (#795)
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/resources/env_overlay.go
Due: operator-lint

fix: 修复 mysql8.0 不支持 identified by 语法问题 (#783)
  apiserver/paasng/paasng/platform/engine/phases_steps/steps.py
  svc-mysql/svc_mysql/vendor/constants.py
  svc-mysql/svc_mysql/vendor/helper.py
Due: isort, black, flake8, mypy-apiserver

fix： 修复更新时的重名校验 k8s configmap 资源更新应该为全量更新（replace），而不是部分更新（patch）
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/workloads/configuration/configmap/kres_entities.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复进程状态问题
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
Due: none

fix: 产品文档链接替换为环境变量 (#799)
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 添加正则校验
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix: 修改挂载目录的正则
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix: 增强服务使用指南间距问题修复
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
Due: none

fix: 修复进程操作undefined的bug
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix: 增强服务使用指南间距问题修复 (#800)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
Due: none

fix: 修复进程操作undefined的bug (#801)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

Fix SUB_PATH env var was overwritten after scale the process (#793)
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/client.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paas_wl/bk_app/processes/managers.py
  apiserver/paasng/paas_wl/infras/resources/generation/version.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/utils.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/app_res/test_client.py
  apiserver/paasng/tests/paas_wl/infras/resources/generation/test_generation.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/bg_build/test_utils.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复从源码部署时未存储 hooks 到 ModuleDeployHook 的问题
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 HooksManifestConstructor 不支持 proc_command 形式定义的 Hook
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
Due: isort, black, flake8, mypy-apiserver

minor: 补充单元测试
  apiserver/paasng/paasng/platform/engine/deploy/building.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/engine/utils/bkapp_model.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

fix: 移除 lru_cache 导致值变更后的 bug
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/tests/api/test_bkapp_model.py
Due: isort, black, flake8, mypy-apiserver

feat: init 前端挂载卷功能
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/deploy-volume.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/editor-status.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/theme.json
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

refactor with discussion
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/engine/utils/bkapp_model.py
Due: isort, black, flake8, mypy-apiserver

feat: 1. uni_apps_list_minimal 添加参数exclude_inactive_apps，过滤已下架应用 2. uni_apps_query_by_id 添加参数include_inactive_apps，展示已下架应用
  apiserver/paasng/paasng/plat_admin/system/applications.py
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/tests/paasng/plat_admin/test_system.py
Due: isort, black, flake8, mypy-apiserver

feat: 1. uni_apps_list_minimal 添加参数exclude_inactive_apps，过滤已下架应用 2. uni_apps_query_by_id 添加参数include_inactive_apps，展示已下架应用
  apiserver/paasng/paasng/plat_admin/system/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复从源码部署时未存储 hooks 到 ModuleDeployHook 的问题 (#802)
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/tests/api/test_bkapp_model.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 get_quota_plan 不支持 ResQuotaPlan 的问题
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 get_quota_plan 不支持 ResQuotaPlan 的问题
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

Fix (#804)
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复云原生应用创建应用时看不到构建方式
  apiserver/paasng/paasng/infras/accounts/constants.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复云原生应用创建应用时看不到构建方式 (#807)
  apiserver/paasng/paasng/infras/accounts/constants.py
Due: isort, black, flake8, mypy-apiserver

feat: 添加挂载卷api
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix: 修复端口为null的bug
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: delete console
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none
