Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

feat: 挂载卷
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/user-guide/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix: use metadata.creationTimestamp instead of pod.status.startTime (#782)
  apiserver/paasng/paas_wl/bk_app/deploy/management/commands/clean_timeout_pod.py
Due: isort, black, flake8, mypy-apiserver

feat: fix exception when saas disc use a non-existent module name
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/tests/publish/entrance/test_preallocated.py
Due: isort, black, flake8, mypy-apiserver

feat: fix: 修复 mysql8.0 不支持 identified by 语法问题
  svc-mysql/svc_mysql/vendor/constants.py
  svc-mysql/svc_mysql/vendor/helper.py
Due: isort, black, flake8

fix: Release 1.3 bug修复 (#786)
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/tests/publish/entrance/test_preallocated.py
  svc-mysql/svc_mysql/vendor/constants.py
  svc-mysql/svc_mysql/vendor/helper.py
Due: isort, black, flake8, mypy-apiserver

fix: 镜像凭证来回切换tab时没有值bug修复
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: 镜像地址tag不能带 . 修复
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

bug：云原生体验bug修复 (#787)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: 创建应用支持 Dockerfile 构建
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/mirror.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.scss
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

feat: 创建模块支持 Dockerfile 创建，应用与模块创建将 Procfile 修改为 app_desc.yaml
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/module-manage.vue
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.scss
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/code-source.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

minor: 补充单元测试
  apiserver/paasng/paasng/platform/bkapp_model/importer/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0007_auto_20231024_1450.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/conftest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_autoscaling.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_build.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_hooks.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_importer.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_processes.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_res_quotas.py
Due: isort, black, flake8, mypy-apiserver

handle spec.processes && spec.envOverlay.resQuotas && spec.envOverlay.autoscaling
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_hooks.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_to_db.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/autoscaling.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/build.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/res_quotas.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
Due: isort, black, flake8, mypy-apiserver

feature: handle spec.build && spec.hooks
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/base.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_hooks.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_image.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_envs.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_to_db.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/build.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_autoscaling.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_env_overlays.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_replicas.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_res_quotas.py
Due: isort, black, flake8, mypy-apiserver

feat: 修改进程配置相关
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feat: 查看yaml
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-yaml.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

feat: 创建应用保持原有的结构
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook-creat.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process-creat.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix unittest
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

fix: minor fix
  apiserver/paasng/paasng/platform/engine/phases_steps/steps.py
  svc-mysql/svc_mysql/vendor/constants.py
  svc-mysql/svc_mysql/vendor/helper.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复删除独立域名验证问题
  apiserver/paasng/paasng/engine/phases_steps/steps.py
  apiserver/paasng/paasng/publish/market/serializers.py
  svc-mysql/svc_mysql/vendor/constants.py
  svc-mysql/svc_mysql/vendor/helper.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复删除独立域名验证问题 (#788)
  apiserver/paasng/paasng/engine/phases_steps/steps.py
  apiserver/paasng/paasng/publish/market/serializers.py
  svc-mysql/svc_mysql/vendor/constants.py
  svc-mysql/svc_mysql/vendor/helper.py
Due: isort, black, flake8, mypy-apiserver

feat: 查看yaml
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-yaml.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
Due: none

fix: fix bugs
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix
  apiserver/paasng/paasng/accessories/publish/market/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
Due: isort, black, flake8, mypy-apiserver

scaling_config 总是提供默认值
  apiserver/paasng/paasng/platform/bkapp_model/views.py
Due: isort, black, flake8, mypy-apiserver

fix slz
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix slz
  apiserver/paasng/paasng/platform/modules/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复bug
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: 修复折叠icon bug
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/comps/collapse-content.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: 修复image_credential_name为空的bug
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
Due: none

minor: 调整 SLZ
  apiserver/paasng/paasng/platform/modules/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/tests/api/test_bkapp_model.py
Due: isort, black, flake8, mypy-apiserver

fix: fix bugs
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

feature: handle spec.build && spec.hooks && spec.processes && spec.envOverlay.resQuotas && spec.envOverlay.autoscaling (#781)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/base.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/management/commands/store_bkapp_to_db.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
  apiserver/paasng/paasng/accessories/publish/market/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/autoscaling.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/build.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/hooks.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/res_quotas.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0007_auto_20231024_1450.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/tests/api/test_bkapp_model.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/conftest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_build.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_env_overlays.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_hooks.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_importer.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_processes.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/importer/test_replicas.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

fix: dockerfile 不展示应用模板，模块创建icon方向调整
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/image-list.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: 修复部署管理页面过滤模块不生效的bug
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-timeline/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/prod.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/stag.vue
Due: none

fix: 镜像管理单位调整、Dockerfile 路径label调整、部署管理去掉异常个数展示
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/clound-image-manage/comps/image-list.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.scss
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
