Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

feat: dockerfile 还原；node-saas 升级为 8 # Reviewed, transaction id: 5532
  webfe/Dockerfile
Due: none

feat: dockerfile 还原；node-saas 升级为 8 (#1241)
  webfe/Dockerfile
Due: none

Modify publish_to_market_by_deployment to skip running when not configured
  apiserver/paasng/paasng/accessories/publish/market/status.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Update `_is_default_prod_success`
  apiserver/paasng/paasng/accessories/publish/market/status.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Fix: an archived application failed to publish to market automatically after the prod environment has been bring back online
  apiserver/paasng/paasng/accessories/publish/market/models.py
  apiserver/paasng/paasng/accessories/publish/market/status.py
  apiserver/paasng/paasng/accessories/publish/sync_market/handlers.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/engine/workflow/flow.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: update svc poetry version in Dockerfile
  svc-bkrepo/Dockerfile
  svc-mysql/Dockerfile
  svc-otel/Dockerfile
  svc-rabbitmq/Dockerfile
Due: none

Fix failed unit tests.
  apiserver/paasng/tests/api/test_market_config.py
  apiserver/paasng/tests/paasng/accessories/publish/test_entrance.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: add BK_CRYPTO_TYPE and ENCRYPT_CIPHER_TYPE in settings
  svc-bkrepo/svc_bk_repo/settings/default.py
  svc-mysql/svc_mysql/settings/default.py
  svc-otel/svc_otel/settings/default.py
  svc-rabbitmq/svc_rabbitmq/settings/current.py
Due: ruff-check-fix, ruff-format, ruff-check

Fix: an archived application failed to publish to market automatically after the prod environment has been bring back online (#1237)
  apiserver/paasng/paasng/accessories/publish/market/models.py
  apiserver/paasng/paasng/accessories/publish/market/status.py
  apiserver/paasng/paasng/accessories/publish/sync_market/handlers.py
  apiserver/paasng/paasng/platform/applications/models.py
  apiserver/paasng/paasng/platform/engine/workflow/flow.py
  apiserver/paasng/tests/api/test_market_config.py
  apiserver/paasng/tests/paasng/accessories/publish/test_entrance.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: 增强服务重构v1.0
  webfe/package_vue/src/components/paas-module-bar.vue
  webfe/package_vue/src/components/usage-guide/index.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/index.vue
  webfe/package_vue/src/views/dev-center/app/services/comps/config-edit.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
Due: none

minor: update djangorestframework and markdown version
  apiserver/paasng/paasng/dev_resources/sourcectl/serializers.py
  apiserver/paasng/paasng/engine/serializers.py
  apiserver/paasng/paasng/extensions/bk_plugins/serializers.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/publish/market/serializers.py
  apiserver/paasng/tests/platform/mgrlegacy/test_envvar_migration.py
  apiserver/paasng/tests/platform/mgrlegacy/test_migration.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: update djangorestframework and markdown version (#1244)
  apiserver/paasng/paasng/dev_resources/sourcectl/serializers.py
  apiserver/paasng/paasng/engine/serializers.py
  apiserver/paasng/paasng/extensions/bk_plugins/serializers.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/publish/market/serializers.py
  apiserver/paasng/tests/platform/mgrlegacy/test_migration.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: add default kw
  svc-bkrepo/svc_bk_repo/settings/default.py
  svc-mysql/svc_mysql/settings/default.py
  svc-otel/svc_otel/settings/default.py
  svc-rabbitmq/svc_rabbitmq/settings/current.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: add BK_CRYPTO_TYPE and ENCRYPT_CIPHER_TYPE in settings (#1245)
  svc-bkrepo/Dockerfile
  svc-bkrepo/svc_bk_repo/settings/default.py
  svc-mysql/Dockerfile
  svc-mysql/svc_mysql/settings/default.py
  svc-otel/Dockerfile
  svc-otel/svc_otel/settings/default.py
  svc-rabbitmq/Dockerfile
  svc-rabbitmq/svc_rabbitmq/settings/current.py
Due: ruff-check-fix, ruff-format, ruff-check

update: 应用列表接口应用数量模块完善 # Reviewed, transaction id: 5603
  webfe/package_vue/src/components/loader/loading/apps.vue
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

bug: 插件开发者中心：插件使用方无法选择查看
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/dev-center/app/basic-config/plugin-info.vue
Due: none

bug: 插件开发者中心：插件使用方无法选择查看 (#1246)
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/dev-center/app/basic-config/plugin-info.vue
Due: none

fix: 字段调整为 credentials_disabled
  apiserver/paasng/paasng/accessories/servicehub/manager.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0003_auto_20240411_1143.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/tests/api/test_service_engine_app_attachments.py
  apiserver/paasng/tests/paasng/accessories/servicehub/remote/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 应用列表状态筛选功能 # Reviewed, transaction id: 5637
  webfe/package_vue/src/components/teble-header-filters/index.vue
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

Fix: the web client might get obsolete released info because the release phase ended too early
  apiserver/paasng/paasng/platform/engine/workflow/flow.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Fix: the web client might get obsolete released info because the release phase ended too early (#1242)
  apiserver/paasng/paasng/platform/engine/workflow/flow.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修改 url
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/tests/api/test_servicehub.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: update otel pkg, PyYaml, mysqlclient version
  apiserver/Dockerfile
  apiserver/paasng/paas_wl/infras/cluster/loaders.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/management/commands/create_or_update_plugin_type.py
  apiserver/paasng/paasng/platform/engine/configurations/source_file.py
  apiserver/paasng/paasng/platform/scene_app/initializer.py
  apiserver/paasng/paasng/platform/smart_app/detector.py
  apiserver/paasng/tests/paas_wl/bk_app/monitoring/app_monitor/test_managers.py
  apiserver/paasng/tests/paas_wl/infras/resources/base/test_kres.py
  apiserver/paasng/tests/paasng/platform/engine/utils/test_source.py
  apiserver/paasng/tests/paasng/platform/smart_app/test_patcher.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 增强服务环境变量导入支持可配置 (#1222)
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/manager.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0003_auto_20240411_1143.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/paasng/accessories/servicehub/services.py
  apiserver/paasng/paasng/accessories/servicehub/sharing.py
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/tests/api/test_servicehub.py
  apiserver/paasng/tests/paasng/accessories/servicehub/remote/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix ut
  apiserver/paasng/tests/paasng/platform/applications/test_feature_flag.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feature: 支持按应用切换使用 bklog API 查询日志
  apiserver/paasng/paasng/accessories/log/client.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/platform/applications/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feature: 支持按应用切换使用 bklog API 查询日志 (#1247)
  apiserver/paasng/paasng/accessories/log/client.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/platform/applications/constants.py
  apiserver/paasng/tests/paasng/platform/applications/test_feature_flag.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 应用列表重构4-11体验问题修复 # Reviewed, transaction id: 5658
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/index.vue
  webfe/package_vue/src/views/dev-center/search/comps/application.vue
  webfe/package_vue/src/views/index.vue
Due: none

feat: update apiserver dependencies
  apiserver/Dockerfile
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
  apiserver/paasng/paasng/accessories/publish/market/serializers.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/serializers.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/platform/engine/monitoring.py
  apiserver/paasng/paasng/platform/engine/serializers.py
  apiserver/paasng/paasng/platform/sourcectl/serializers.py
  apiserver/paasng/paasng/utils/sanitizer.py
  apiserver/paasng/tests/paasng/platform/engine/test_monitoring.py
  apiserver/package.json
  apiserver/poetry.lock
  apiserver/pyproject.toml
  pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 当 branch 带有 '/' 时，构建镜像无法 push
  apiserver/paasng/paasng/platform/engine/configurations/image.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update drf-yasg version to 1.21.7
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

fix: update drf-yasg version to 1.21.7 (#1250)
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

feat: 修复进程管理页面 watch 请求频次异常的问题 # Reviewed, transaction id: 5711
  webfe/package_vue/src/views/dev-center/app/engine/deployment/comps/deploy-action/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

WIP: 更新部分前端依赖 (#1217)
  .gitignore
  webfe/package_vue/package.json
  webfe/package_vue/src/views/dev-center/app/engine/deployment/comps/deploy-action/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: 修复未更新存量应用的日志查询配置; 修复新建应用由于未开启 ENABLE_BK_LOG_CLIENT 导致无法查询日志
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/platform/applications/handlers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 修复构建问题
  webfe/package_vue/package.json
Due: none

fix: 修复未更新存量应用的日志查询配置; 修复新建应用由于未开启 ENABLE_BK_LOG_CLIENT 导致无法查询日志 (#1252)
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/platform/applications/handlers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver
