Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 初始化可见范围时添加 tof_id 这个参数 (#1613)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add get metric dashboard url api (#1619)
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: aPI 网关文档版本号通过变量渲染
  webfe/package_vue/.bk.production.env
  webfe/package_vue/index.html
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
  webfe/package_vue/static/runtime/runtime.ce.js
  webfe/package_vue/static/runtime/runtime.ee.js
Due: none

fix: codecc体验修复924 # Reviewed, transaction id: 19217
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/plugin/base-config/comps/codecc-base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-content.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none

fix: miinor
  webfe/package_vue/.bk.production.env
Due: none

feat: API 网关文档版本号通过变量渲染 (#1620)
  webfe/package_vue/.bk.production.env
  webfe/package_vue/index.html
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
  webfe/package_vue/static/runtime/runtime.ce.js
  webfe/package_vue/static/runtime/runtime.ee.js
Due: none

feat: 将 mysqlclient 替换为 pymysql
  apiserver/paasng/paas_wl/workloads/tracing/instrumentor.py
  apiserver/paasng/paasng/accessories/services/providers/mysql/provider.py
  apiserver/paasng/paasng/core/core/storages/utils.py
  apiserver/paasng/paasng/misc/tracing/instrumentor.py
  apiserver/paasng/tests/conftest.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: 添加 pymysql 配置
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: Metric采集 # Reviewed, transaction id: 19226
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/base-info.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/metric/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/metric/key-value-form.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/metric/view-mode.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/probe/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

refactor: 将 mysqlclient 替换为 pymysql (#1622)
  apiserver/paasng/paas_wl/workloads/tracing/instrumentor.py
  apiserver/paasng/paasng/accessories/services/providers/mysql/provider.py
  apiserver/paasng/paasng/core/core/storages/utils.py
  apiserver/paasng/paasng/misc/tracing/instrumentor.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/conftest.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: apiserver 文档前缀中添加语言和版本号
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/fixtures/smart_advisor.yaml
  apiserver/paasng/paasng/accessories/smart_advisor/models.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/sourcectl.html
  apiserver/paasng/paasng/plat_admin/admin42/views/sourcectl.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 可见范围样式修复 # Reviewed, transaction id: 19234
  webfe/package_vue/src/views/dev-center/app/market/render-member-list.vue
  webfe/package_vue/src/views/dev-center/app/market/visible-range.vue
Due: none

feat: Metric采集 (#1623)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/base-info.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/metric/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/metric/key-value-form.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/metric/view-mode.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/probe/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix: 版本号显示调整 # Reviewed, transaction id: 19237
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none

fix: 组织架构选择器不使用 fe_list_department_profiles API # Reviewed, transaction id: 19119
  webfe/package_vue/src/components/user-selector/index.vue
  webfe/package_vue/src/components/user-selector/request.js
Due: none

fix: codecc 体验修复 (#1621)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/plugin/base-config/comps/codecc-base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/false-positive-list.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-content.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none

fix: 组织架构选择器不使用 fe_list_department_profiles API (#1618)
  webfe/package_vue/src/components/user-selector/index.vue
  webfe/package_vue/src/components/user-selector/request.js
  webfe/package_vue/src/views/dev-center/app/market/render-member-list.vue
  webfe/package_vue/src/views/dev-center/app/market/visible-range.vue
Due: none

fix: 可见范围样式修复 # Reviewed, transaction id: 19239
  webfe/package_vue/src/views/dev-center/app/market/render-member-list.vue
  webfe/package_vue/src/views/dev-center/app/market/visible-range.vue
Due: none

refactor: webfe 文档前缀添加语言和版本号
  webfe/package_vue/.bk.production.env
  webfe/package_vue/index.html
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/alarm-strategy.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/observability-config/index.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
  webfe/package_vue/static/runtime/runtime.ce.js
  webfe/package_vue/static/runtime/runtime.ee.js
Due: none

fix: 组织架构选择器不使用 fe_list_department_profiles API (#1624)
  webfe/package_vue/src/components/user-selector/index.vue
  webfe/package_vue/src/components/user-selector/request.js
  webfe/package_vue/src/views/dev-center/app/market/render-member-list.vue
  webfe/package_vue/src/views/dev-center/app/market/visible-range.vue
Due: none

fix：下架插件无法操作 # Reviewed, transaction id: 19276
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
Due: none

fix: url path use alerts/ instead of alerts/count
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: rename as list_alerts_by_user
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/tests/api/test_monitor.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: get monitor alerts count
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

unit test
  apiserver/paasng/tests/api/test_monitor.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update_app_resource 函数添加 metadata 校验 (#1544)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/app_resource.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: move some functions out of sync_entities and add docs (#1543)
  apiserver/paasng/paasng/misc/audit/service.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/proc_env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/domain_resolution.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/env_vars.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/proc_env_overlays.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/engine/configurations/preset_envvars.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/utils/structure.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_env_vars.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_proc_env_overlays.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_models.py
  apiserver/paasng/tests/paasng/platform/engine/configurations/test_preset_envvars.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add apigw-bkrepo init (#1566)
  apiserver/paasng/paasng/plat_admin/initialization/management/commands/init_bkrepo.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: bk ci build can't following logs (#1559)
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/executors.py
  apiserver/paasng/paasng/platform/templates/templater.py
  operator/scripts/update_helm_chart.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

fix: add attribute name of some audit records in admin42 (#1571)
  apiserver/paasng/paas_wl/apis/admin/views/certs.py
  apiserver/paasng/paas_wl/apis/admin/views/clusters.py
  apiserver/paasng/paasng/plat_admin/admin42/views/builtin_config_vars.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
  apiserver/paasng/paasng/plat_admin/admin42/views/smart_advisor.py
  apiserver/paasng/paasng/plat_admin/admin42/views/sourcectl.py
  apiserver/paasng/paasng/plat_admin/admin42/views/templates.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add audit records in admin42 (#1553)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paas_wl/apis/admin/views/certs.py
  apiserver/paasng/paas_wl/apis/admin/views/clusters.py
  apiserver/paasng/paas_wl/apis/admin/views/domain.py
  apiserver/paasng/paas_wl/apis/admin/views/logs.py
  apiserver/paasng/paas_wl/apis/admin/views/processes.py
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/audit.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/base_info/members.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/audit/admin_app_operation_audit.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/accountmgr.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/plat_admin/admin42/views/audit.py
  apiserver/paasng/paasng/plat_admin/admin42/views/bk_plugins.py
  apiserver/paasng/paasng/plat_admin/admin42/views/builtin_config_vars.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/config_vars.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/egress.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
  apiserver/paasng/paasng/plat_admin/admin42/views/smart_advisor.py
  apiserver/paasng/paasng/plat_admin/admin42/views/sourcectl.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

chore: add customDomainIngressClassName in update_helm_chart.py (#1562)
  operator/scripts/update_helm_chart.py
Due: ruff-check-fix, ruff-format, ruff-check, operator-lint

fix:查询用户的paas2.0普通应用列表时，如果权限表达式为空，提前返回 (#1547)
  apiserver/paasng/paasng/infras/legacydb/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：体验提单修复 (#1564)
  webfe/package_vue/src/store/modules/create-app.js
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/external.vue
  webfe/package_vue/src/views/dev-center/create-app/main.vue
  webfe/package_vue/src/views/dev-center/create-app/smart.vue
Due: none

feat: support export deployment log (#1546)
  apiserver/paasng/paasng/platform/engine/urls.py
  apiserver/paasng/paasng/platform/engine/views/deploy.py
  webfe/package_vue/src/components/deploy/deploy-log-sideslider.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add audit records of application operation (#1569)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
  apiserver/paasng/paas_wl/workloads/networking/egress/views.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/views.py
  apiserver/paasng/paasng/accessories/app_secret/views.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/engine/views/configvar.py
  apiserver/paasng/paasng/platform/environments/views.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/paasng/platform/sourcectl/views.py
  apiserver/paasng/tests/api/test_build_config.py
  webfe/package_vue/src/store/modules/deploy.js
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fail to generate ingresses(web process not found) in DomainGroupMapping (#1575)
  operator/pkg/controllers/dgroupmapping/ingress/builder.go
Due: operator-lint

fix: first got unexpected keyword (#1560)
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 admin42 添加审计记录问题 (#1567)
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/base_info/members.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/audit/admin_app_operation_audit.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/audit/admin_operation_audit.html
  apiserver/paasng/paasng/plat_admin/admin42/views/accountmgr.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
  apiserver/paasng/paasng/plat_admin/admin42/views/templates.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver
