Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 修复缺失 response_time 字段
  apiserver/paasng/paasng/accessories/log/shim/setup_elk.py
Due: isort, black, flake8, mypy-apiserver

refactor: 移除 Ingress 日志中的 engine_app_name
  apiserver/paasng/paasng/accessories/log/responses.py
  apiserver/paasng/paasng/accessories/log/shim/setup_elk.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/tests/paasng/accessories/log/test_responses.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 ingress 日志缺失 engine_app_name 字段的问题 (#848)
  apiserver/paasng/paasng/accessories/log/responses.py
  apiserver/paasng/paasng/accessories/log/shim/setup_elk.py
  apiserver/paasng/tests/paasng/accessories/log/test_responses.py
Due: isort, black, flake8, mypy-apiserver

fix: fix array field
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
Due: isort, black, flake8, mypy-apiserver

feat: 更新监控仪表盘权限定义
  apiserver/paasng/paasng/infras/iam/constants.py
Due: isort, black, flake8, mypy-apiserver

fix: fix
  apiserver/paasng/paasng/infras/iam/constants.py
Due: isort, black, flake8, mypy-apiserver

fix:插件导入问题修复 (#828)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/serializers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/utils.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

fix: mypy error
  apiserver/paasng/paasng/infras/iam/utils.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/platform/smart_app/detector.py
Due: isort, black, flake8, mypy-apiserver

fix: 源码包上传接口允许应用描述文件中缺失 app 相关字段
  apiserver/paasng/paasng/platform/smart_app/detector.py
  apiserver/paasng/paasng/platform/sourcectl/views.py
  apiserver/paasng/tests/api/apigw/test_lesscode.py
Due: isort, black, flake8, mypy-apiserver

fix: fix mypy
  apiserver/paasng/paasng/infras/iam/constants.py
  apiserver/paasng/paasng/infras/iam/utils.py
Due: isort, black, flake8, mypy-apiserver

fix: 源码包上传接口允许应用描述文件中缺失 app 相关字段 (#847)
  apiserver/paasng/paasng/platform/smart_app/detector.py
  apiserver/paasng/paasng/platform/sourcectl/views.py
  apiserver/paasng/tests/api/apigw/test_lesscode.py
Due: isort, black, flake8, mypy-apiserver

fix: 添加同级别算法连接符 添加用户组列表
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: isort, black, flake8, mypy-apiserver

feat: 更新监控仪表盘权限定义 (#849)
  apiserver/paasng/paasng/infras/iam/constants.py
Due: isort, black, flake8, mypy-apiserver

- 访问管理 - 添加进程服务管理tab (#839)
  webfe/package_vue/src/components/cloud-app-top-bar.vue
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/process-service.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/processes.js
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/access-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/index.vue
Due: none

fix: 日志不可用时弹窗优化、Eslint
  webfe/package_vue/src/components/ui/empty-dark.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/log/access-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/custom-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/standart-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
  webfe/package_vue/static/images/abnormal.svg
Due: none

fix：日志不可用时弹窗优化 (#846)
  webfe/package_vue/src/components/ui/empty-dark.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/log/access-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/custom-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/standart-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/access-log.vue
  webfe/package_vue/src/views/plugin-center/plugin/log/custom-log.vue
  webfe/package_vue/static/images/abnormal.svg
Due: none

minor: 移动常量到 constants
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paas_wl/bk_app/processes/apps.py
  apiserver/paasng/paas_wl/bk_app/processes/constants.py
  apiserver/paasng/paas_wl/bk_app/processes/shim.py
Due: isort, black, flake8, mypy-apiserver

refactor: 消除云原生应用和普通应用 ProcessSpec 的差异; 平台内置 ProcessSpecPlan 增加云原生应用相关的方案
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/__init__.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/quota.py
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paas_wl/bk_app/processes/apps.py
  apiserver/paasng/paas_wl/bk_app/processes/drf_serializers.py
  apiserver/paasng/paas_wl/bk_app/processes/models.py
  apiserver/paasng/paas_wl/bk_app/processes/shim.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/procs/test_procs.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/procs/test_quota.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paas_wl/bk_app/processes/apps.py
  apiserver/paasng/paas_wl/bk_app/processes/models.py
  apiserver/paasng/paas_wl/bk_app/processes/shim.py
  apiserver/paasng/tests/paas_wl/conftest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

refactor: 消除云原生应用和普通应用 ProcessSpec 的差异; 平台内置 ProcessSpecPlan 增加云原生应用相关的方案 (#840)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/__init__.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/quota.py
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paas_wl/bk_app/processes/apps.py
  apiserver/paasng/paas_wl/bk_app/processes/constants.py
  apiserver/paasng/paas_wl/bk_app/processes/drf_serializers.py
  apiserver/paasng/paas_wl/bk_app/processes/models.py
  apiserver/paasng/paas_wl/bk_app/processes/shim.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/procs/test_procs.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/procs/test_quota.py
  apiserver/paasng/tests/paas_wl/conftest.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复云原生应用多模块 image pull secret 互相覆盖的问题
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/hooks_test.go
Due: operator-lint

fix: 修复云原生应用多模块 image pull secret 互相覆盖的问题 (#850)
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/hooks_test.go
Due: operator-lint

fix: 日志平台去掉仪表盘权限
  apiserver/paasng/paasng/infras/iam/constants.py
Due: isort, black, flake8, mypy-apiserver

fix: 日志平台去掉仪表盘权限 (#852)
  apiserver/paasng/paasng/infras/iam/constants.py
Due: isort, black, flake8, mypy-apiserver

fix: 镜像拉取策略tips方向调整
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

fix: 补充注释
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
Due: none

fix: Dockerfile 应用创建去除模板参数，创建成功页无需展示git bash
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
Due: none

Dockerfile 应用创建去除模板参数，创建成功页无需展示git bash (#851)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
Due: none

fix: 修复从 ModuleProcessSpec 同步到 ProcessSpec 未使用 EnvOverlay
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复从 ModuleProcessSpec 同步到 ProcessSpec 未使用 EnvOverlay (#853)
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
Due: isort, black, flake8, mypy-apiserver

Fix: env vars order is unconsitent
  operator/pkg/controllers/resources/configuration.go
Due: operator-lint

Fix: env vars order is unconsitent (#854)
  operator/pkg/controllers/resources/configuration.go
Due: operator-lint

fix: 云原生扩缩容功能开放
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix: 云原生扩缩容功能开放 (#855)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix: 扩缩容弹窗展示
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix: 扩缩容弹窗展示 (#859)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
