Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 创建模块去除模板参数
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
Due: none

fix:添加策略配置链接 添加 module 筛选
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/tests/paasng/misc/monitoring/test_alert.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: isort, black, flake8, mypy-apiserver

fix:添加策略配置链接 添加 module 筛选
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
Due: isort, black, flake8, mypy-apiserver

fix:添加策略配置链接 添加 module 筛选
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix:添加策略配置链接 添加 module 筛选
  apiserver/paasng/tests/paasng/misc/monitoring/test_alert.py
Due: isort, black, flake8, mypy-apiserver

fix: 创建应用成功点击下载与gitbash对齐
  webfe/package_vue/src/views/dev-center/create-app/success-git.scss
Due: none

fix: 应用过滤输入框字体不协调修复
  webfe/package_vue/src/components/app-quick-nav.vue
Due: none

fix: 创建模块-代码源不确实定时左对齐修复
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.scss
Due: none

fix: 修复snv弹窗提示和样式bug
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/code-source.vue
  webfe/package_vue/src/views/services/vcs/comps/svn.vue
Due: none

fix: 创建应用成功-初始化模块使用新版样式
  webfe/package_vue/src/views/dev-center/create-app/success-git.scss
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
Due: none

fix: 修复snv弹窗提示和样式bug (#862)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/code-source.vue
  webfe/package_vue/src/views/services/vcs/comps/svn.vue
Due: none

- 体验单据修复--创建模块-代码源不确实定时左对齐修复 (#863)
  webfe/package_vue/src/components/app-quick-nav.vue
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.scss
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/create-app/success-git.scss
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
Due: none

fix: 扩缩容操作默认为default修复
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/scale-dialog.vue
Due: none

fix: 扩缩容操作默认为default修复 (#864)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/scale-dialog.vue
Due: none

fix: 为启用增强服务使用正常样式
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
Due: none

未启用增强服务使用正常样式 (#865)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/app-services.vue
Due: none

Support scale replicas for cnative applications
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/test_processes.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manager.py
Due: isort, black, flake8, mypy-apiserver

Enhance the start/stop logic for CNativeProcController
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
Due: isort, black, flake8, mypy-apiserver

fix:添加策略配置链接 支持查询自定义策略与告警
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix:添加策略配置链接 支持查询自定义策略与告警
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
Due: isort, black, flake8, mypy-apiserver

Add comment
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

enhance: 使用注入镜像凭证的方式
  apiserver/paasng/paas_wl/workloads/images/utils.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/resources/hooks_test.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

minor: 优化代码
  operator/pkg/controllers/resources/deployment.go
Due: operator-lint

refactor with discussion
  operator/pkg/controllers/resources/deployment.go
Due: operator-lint

minor: 优化变量赋值方式
  operator/pkg/controllers/resources/deployment.go
Due: operator-lint

Add ordering for ModuleProcessSpec
  apiserver/paasng/paasng/platform/bkapp_model/models.py
Due: isort, black, flake8, mypy-apiserver

enhance: 使用注解声明镜像凭证名称的方式控制 imagePullSecerts (#856)
  apiserver/paasng/paas_wl/workloads/images/utils.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
  operator/api/v1alpha2/constants.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/resources/hooks_test.go
Due: isort, black, flake8, mypy-apiserver, operator-lint

Support scale replicas for cnative applications (#866)
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/manager.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/tests/paas_wl/bk_app/deploy/test_processes.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manager.py
Due: isort, black, flake8, mypy-apiserver

revert: revert extract_process_type_from_name in ProcessServiceDeserializer.deserialize
  apiserver/paasng/paas_wl/workloads/networking/ingress/kres_entities/service.py
Due: isort, black, flake8, mypy-apiserver

revert: extract_process_type_from_name in ProcessServiceDeserializer (#867)
  apiserver/paasng/paas_wl/workloads/networking/ingress/kres_entities/service.py
Due: isort, black, flake8, mypy-apiserver

Fix: unable to start process using ${PORT:-5000}
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

Fix: unable to start process using ${PORT:-5000} (#860)
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复云原生应用下架后未清理进程配置信息, 导致进程列表展示异常问题
  apiserver/paasng/paasng/platform/engine/deploy/archive/operator.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/platform/engine/deploy/archive/operator.py
Due: isort, black, flake8, mypy-apiserver

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
