Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude 
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix  
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

upgrade git to 2.30.2 (#992)
  apiserver/Dockerfile
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
  apiserver/paasng/tests/api/apigw/test_modules.py
  apiserver/paasng/tests/paasng/platform/sourcectl/test_bare_git.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix:mypy 格式调整
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/services.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: minor
  apiserver/paasng/paasng/platform/modules/management/commands/migrate_multi_images.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove constraint for module to have a web process
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

Refactor the code related with logs
  apiserver/paasng/paasng/accessories/smart_advisor/tagging.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/tasks.py
  apiserver/paasng/paasng/platform/engine/logs.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/paasng/platform/engine/monitoring.py
  apiserver/paasng/paasng/platform/engine/utils/client.py
  apiserver/paasng/paasng/platform/engine/views/deploy.py
  apiserver/paasng/tests/paasng/platform/engine/test_logs.py
  apiserver/paasng/tests/paasng/platform/engine/test_monitoring.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

Fix broken test
  apiserver/paasng/tests/paasng/accessories/smart_advisor/test_smart_advisor.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

Fix: save the logs of pre-release hook for cloud-native apps.
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/tasks.py
  apiserver/paasng/paasng/platform/engine/migrations/0018_auto_20231207_1154.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/paasng/platform/engine/monitoring.py
  apiserver/paasng/paasng/platform/engine/utils/client.py
  apiserver/paasng/paasng/platform/engine/utils/output.py
  apiserver/paasng/tests/paasng/platform/engine/models/test_deployment.py
  apiserver/paasng/tests/paasng/platform/engine/test_monitoring.py
  apiserver/paasng/tests/paasng/platform/engine/utils/test_output.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

Fix test
  apiserver/paasng/tests/paasng/platform/engine/test_logs.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

Fix: save the logs of pre-release hook runs for cloud-native apps (#980)
  apiserver/paasng/paasng/accessories/smart_advisor/tagging.py
  apiserver/paasng/paasng/bk_plugins/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_build/bg_build.py
  apiserver/paasng/paasng/platform/engine/deploy/bg_command/tasks.py
  apiserver/paasng/paasng/platform/engine/logs.py
  apiserver/paasng/paasng/platform/engine/migrations/0018_auto_20231207_1154.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/paasng/platform/engine/monitoring.py
  apiserver/paasng/paasng/platform/engine/utils/client.py
  apiserver/paasng/paasng/platform/engine/utils/output.py
  apiserver/paasng/paasng/platform/engine/views/deploy.py
  apiserver/paasng/tests/paasng/accessories/smart_advisor/test_smart_advisor.py
  apiserver/paasng/tests/paasng/platform/engine/test_logs.py
  apiserver/paasng/tests/paasng/platform/engine/test_monitoring.py
  apiserver/paasng/tests/paasng/platform/engine/utils/test_output.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove constraint for module to have a web process
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
Due: operator-lint

feat: 国际化翻译
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: not use scheduler_safe_name when create DomainGroupMapping
  apiserver/paasng/paas_wl/bk_app/cnative/specs/addresses.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix:service 去重
  apiserver/paasng/paasng/accessories/servicehub/views.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fix process
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

refactor: alter appmodeldeploy name field to 64 char
  apiserver/paasng/paas_wl/bk_app/cnative/specs/migrations/0005_alter_appmodeldeploy_name.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/app_resource.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

upgrade git to 2.30.2
  apiserver/Dockerfile
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
  apiserver/paasng/tests/sourcectl/test_bare_git.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

upgrade git to 2.30.2(cherry-pick)
  apiserver/Dockerfile
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
  apiserver/paasng/tests/sourcectl/test_bare_git.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

upgrade git to 2.30.2 (#997)
  apiserver/Dockerfile
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
  apiserver/paasng/tests/sourcectl/test_bare_git.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: not use scheduler_safe_name when create DomainGroupMapping (#995)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/addresses.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/migrations/0005_alter_appmodeldeploy_name.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/app_resource.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: 日志增加 is_builtin 标志, 不允许删除 builtin 的日志采集规则
  apiserver/paasng/paas_wl/bk_app/monitoring/bklog/managers.py
  apiserver/paasng/paasng/accessories/log/migrations/0005_auto_20231211_1121.py
  apiserver/paasng/paasng/accessories/log/models.py
  apiserver/paasng/paasng/accessories/log/serializers.py
  apiserver/paasng/paasng/accessories/log/shim/bklog_custom_collector_config.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/accessories/log/views/config.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/test_log.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 TestPreReleaseDummyExecutor 依赖 Cluster 模型的问题
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_bkapp_hook.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

refactor with discussion
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/accessories/log/views/config.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

enhance: 日志增加 is_builtin 标志, 不允许删除 builtin 的日志采集规则 (#989)
  apiserver/paasng/paas_wl/bk_app/monitoring/bklog/managers.py
  apiserver/paasng/paasng/accessories/log/migrations/0005_auto_20231211_1121.py
  apiserver/paasng/paasng/accessories/log/models.py
  apiserver/paasng/paasng/accessories/log/serializers.py
  apiserver/paasng/paasng/accessories/log/shim/bklog_custom_collector_config.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
  apiserver/paasng/paasng/accessories/log/views/config.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/test_log.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_bkapp_hook.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: remove constraint for module to have a web process (#994)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

fix: 优化启动中 停止中的状态
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix: 配置项规范化
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/api/apigw/test_lesscode.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: 重新规划自定义采集项的名称, 避免某些极端场景会超出日志平台的限制
  apiserver/paasng/paasng/accessories/log/migrations/0006_auto_20231212_1510.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 cnb-builder 无法指定自定义 RUN_IMAGE 的问题
  apiserver/init.sh
  builder-stack/README.md
  builder-stack/cnb-builder-shim/README.md
  builder-stack/cnb-builder-shim/cmd/build-init/main.go
Due: none

feat: modify code
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/scale-dialog.vue
Due: none

feat: 更新 pymysql 版本
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

fix: 修复 cnb-builder 无法指定自定义 RUN_IMAGE 的问题 (#999)
  apiserver/init.sh
  builder-stack/README.md
  builder-stack/cnb-builder-shim/README.md
  builder-stack/cnb-builder-shim/cmd/build-init/main.go
Due: none

feat: 更新 pymysql 版本 (#1001)
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

refactor: 重新规划自定义采集项的名称, 避免某些极端场景会超出日志平台的限制 (#998)
  apiserver/paasng/paasng/accessories/log/migrations/0006_auto_20231212_1510.py
  apiserver/paasng/paasng/accessories/log/shim/setup_bklog.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fix
  apiserver/paasng/conf.yaml.tpl
Due: none

feat:监控日志配置项&支持新建的Smart应用为云原生应用 (#954)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/locale/en/LC_MESSAGES/django.mo
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paasng/infras/bkmonitorv3/backend/esb.py
  apiserver/paasng/paasng/misc/feature_flags/apps_ext.py
  apiserver/paasng/paasng/misc/feature_flags/constants.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/declarative/application/controller.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/api/apigw/test_lesscode.py
  apiserver/paasng/tests/api/test_smart_app.py
  apiserver/paasng/tests/paasng/platform/declarative/test_application.py
  apiserver/paasng/tests/paasng/platform/declarative/test_handlers.py
  apiserver/paasng/tests/paasng/platform/declarative/test_protection.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fix bugs
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

refactor: return target_replicas in update processes api
  apiserver/paasng/paas_wl/bk_app/deploy/processes.py
  apiserver/paasng/paas_wl/bk_app/processes/controllers.py
  apiserver/paasng/paas_wl/bk_app/processes/views_enduser.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: minor
  apiserver/paasng/paas_wl/bk_app/processes/views_enduser.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

test: unit test
  apiserver/paasng/tests/paas_wl/bk_app/deploy/test_processes.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver
