Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

feat:通过 mysql_db 名称查询应用信息
  apiserver/paasng/paasng/accessories/servicehub/urls.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 优化代码
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
Due: none

feat:通过 mysql_db 名称查询应用信息
  apiserver/paasng/paasng/accessories/servicehub/views.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 页面销毁时关闭bus
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
Due: none

minor: 移除额外的 metrics 监听端口
  operator/main.go
Due: operator-lint

feat: modfiy code
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

feat: modify code
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

feat:通过 mysql_db 名称查询应用信息
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/support-files/apigw/resources.yaml
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 优化list
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
Due: none

feat: 优化
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
Due: none

feat:通过 mysql_db 名称查询应用信息
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/support-files/apigw/resources.yaml
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat:通过 mysql_db 名称查询应用信息
  apiserver/paasng/paasng/platform/applications/serializers/app.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 标准运维插件日志查询接口兼容日志平台采集方案
  apiserver/paasng/paasng/bk_plugins/bk_plugins/logging.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

minor: 移除额外的 metrics 监听端口 (#973)
  operator/main.go
Due: operator-lint

fix: 标准运维插件日志查询接口兼容日志平台采集方案 (#975)
  apiserver/paasng/paasng/bk_plugins/bk_plugins/logging.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 优化代码
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
Due: none

fix: 标准运维插件日志查询接口兼容日志平台采集方案 (#976)
  apiserver/paasng/paasng/bk_plugins/bk_plugins/logging.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复标准运维插件查询日志必须有 stream 字段的问题
  apiserver/paasng/paasng/bk_plugins/bk_plugins/logging.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add release
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-status-detail.vue
Due: none

fix: 修复标准运维插件查询日志必须有 stream 字段的问题 (#977)
  apiserver/paasng/paasng/bk_plugins/bk_plugins/logging.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 兼容 bk-sops 需要的字段格式
  apiserver/paasng/paasng/bk_plugins/bk_plugins/logging.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 兼容 bk-sops 需要的字段格式 (#978)
  apiserver/paasng/paasng/bk_plugins/bk_plugins/logging.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

minor: 调整文档
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/README.md
  builder-stack/cnb-builder-shim/README.md
Due: none

minor: 为 builder-stack 各项目添加文档; 修复 kaniko-shim 未支持 build-args 的问题
  builder-stack/README.md
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/Makefile
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/README.md
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/builder.toml
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/stack/docker-bake.hcl
  builder-stack/cnb-builder-shim/Makefile
  builder-stack/cnb-builder-shim/README.md
  builder-stack/cnb-builder-shim/docker-build/heroku-builder/Dockerfile
  builder-stack/cnb-builder-shim/docker-build/heroku-builder/docker-bake.hcl
  builder-stack/kaniko-shim/README.md
  builder-stack/kaniko-shim/cmd/launcher/main.go
  builder-stack/kaniko-shim/go.mod
  builder-stack/kaniko-shim/go.sum
  builder-stack/kaniko-shim/pkg/utils/build-args.go
  builder-stack/kaniko-shim/pkg/utils/build-args_test.go
  builder-stack/kaniko-shim/pkg/utils/suite_test.go
Due: none

fix typo
  builder-stack/kaniko-shim/cmd/launcher/main.go
Due: none

minor: 调整镜像名称并添加更详细的文档; 修复 kaniko-shim 未支持 build-args 的问题 (#974)
  builder-stack/README.md
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/Makefile
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/README.md
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/builder.toml
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/stack/docker-bake.hcl
  builder-stack/cnb-builder-shim/Makefile
  builder-stack/cnb-builder-shim/README.md
  builder-stack/cnb-builder-shim/docker-build/heroku-builder/Dockerfile
  builder-stack/cnb-builder-shim/docker-build/heroku-builder/docker-bake.hcl
  builder-stack/kaniko-shim/README.md
  builder-stack/kaniko-shim/cmd/launcher/main.go
  builder-stack/kaniko-shim/go.mod
  builder-stack/kaniko-shim/go.sum
  builder-stack/kaniko-shim/pkg/utils/build-args.go
  builder-stack/kaniko-shim/pkg/utils/build-args_test.go
  builder-stack/kaniko-shim/pkg/utils/suite_test.go
Due: none

fix typo
  apiserver/paasng/paasng/bk_plugins/bk_plugins/logging.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

fix typo (#979)
  apiserver/paasng/paasng/bk_plugins/bk_plugins/logging.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat:通过 mysql_db 名称查询应用信息
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/services.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat:通过 mysql_db 名称查询应用信息
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 优化第一次展开watch执行时机
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

refactor: minor
  apiserver/paasng/paasng/platform/modules/management/commands/migrate_multi_images.py
Due: ruff-format, ruff-check-fix, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 添加启动中展示的逻辑
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-check-fix: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
