Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

refactor: operator 移除与增强服务相关的调和逻辑 (#1101)
  apiserver/paasng/paasng/plat_admin/system/urls.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/tests/api/apigw/test_system_apis.py
  apiserver/paasng/tests/api/test_swagger.py
  operator/controllers/bkapp_controller.go
  operator/controllers/bkapp_controller_test.go
  operator/pkg/controllers/bkapp/addons/addons.go
  operator/pkg/controllers/bkapp/addons/addons_suite_test.go
  operator/pkg/controllers/bkapp/addons/addons_test.go
  operator/pkg/controllers/bkapp/common/env_vars.go
  operator/pkg/controllers/bkapp/common/env_vars_test.go
  operator/pkg/platform/external/addons.go
  operator/pkg/platform/external/addons_test.go
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

Enhance: remove unnecessary exception logging in ci.handler and deploy.building.
  apiserver/paasng/paasng/accessories/ci/exceptions.py
  apiserver/paasng/paasng/accessories/ci/handlers.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Enhance: minor changes.
  apiserver/paasng/paas_wl/workloads/networking/entrance/shim.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Enhance: reduce error logging in AppEntranceViewSet.list_all_entrances.
  apiserver/paasng/paas_wl/workloads/networking/entrance/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Enhance: remove unnecessary exception logging in ci.handler and deploy.building. (#1219)
  apiserver/paasng/paas_wl/workloads/networking/entrance/shim.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/views.py
  apiserver/paasng/paasng/accessories/ci/exceptions.py
  apiserver/paasng/paasng/accessories/ci/handlers.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 增强服务环境变量导入支持可配置
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/manager.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0003_auto_20240407_1423.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/paasng/accessories/servicehub/services.py
  apiserver/paasng/paasng/accessories/servicehub/sharing.py
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/tests/paasng/accessories/servicehub/remote/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

基本信息重构v1.0
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/authentication-info.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/base-info.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/plugin-info.vue
Due: none

refactor: 重构密钥信息
  webfe/package_vue/src/components/authentication-info.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/authentication-info.js
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
Due: none

fix: 已部署密钥概览有数据时，展示tips # Reviewed, transaction id: 5232
  webfe/package_vue/src/components/authentication-info.vue
Due: none

fix: update operator dependencies according to trivy scan result
  operator/go.mod
  operator/go.sum
Due: operator-lint

bugfix： initialize_deployment hooks 初始化补全 _make_json_field 处理 str 类型时， 将 None 转换成了 'None'
  apiserver/paasng/paasng/platform/engine/deploy/start.py
  apiserver/paasng/paasng/utils/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update bkpaas-cli dependencies according to trivy scan result
  bkpaas-cli/go.mod
  bkpaas-cli/go.sum
Due: none

fix: update apiserver dependencies according to trivy scan result
  apiserver/paasng/paas_wl/release_controller/hooks/entities.py
  apiserver/paasng/paas_wl/resources/base/controllers.py
  apiserver/paasng/paasng/engine/monitoring.py
  apiserver/paasng/paasng/platform/oauth2/api.py
  apiserver/paasng/paasng/utils/es_log/misc.py
  apiserver/paasng/paasng/utils/sanitizer.py
  apiserver/paasng/tests/engine/test_monitoring.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
  pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 batch_disable_mount_hostpath 无法正常保存的问题
  apiserver/paasng/paasng/accessories/log/management/commands/batch_disable_mount_hostpath.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修复 batch_disable_mount_hostpath 无法正常保存的问题 (#1215)
  apiserver/paasng/paasng/accessories/log/management/commands/batch_disable_mount_hostpath.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

- 基本信息、密钥信息重构 (#1223)
  webfe/package_vue/src/assets/css/ps-style.scss
  webfe/package_vue/src/components/authentication-info.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/authentication-info.js
  webfe/package_vue/src/store/modules/base-info.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/plugin-info.vue
Due: none

fix: update apiserver dependencies according to trivy scan result
  apiserver/poetry.lock
  apiserver/pyproject.toml
  pyproject.toml
Due: none

refactor: 重构应用列表v1.0
  webfe/package_vue/src/App.vue
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

fix: generate incorrect command/args for smart app after introducing VER_3 (#1216)
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/declarative/deployment/validations/v2.py
  apiserver/paasng/paasng/platform/declarative/handlers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 更新部分依赖 # Reviewed, transaction id: 5330
  webfe/package_vue/package.json
Due: none

fix: update apiserver dependencies according to trivy scan result
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

feat: 更新部分依赖 (#1229)
  webfe/package_vue/package.json
Due: none

fix: update pydantic to 1.10.15
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

fix: 修复插件修改成查日志平台后遗漏的问题
  apiserver/paasng/paasng/bk_plugins/pluginscenter/log/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update Dockerfile for install pkg-config
  apiserver/Dockerfile
Due: none

fix: 云API管理-云API权限-组件API-检查搜索框多个API搜索，多api搜索结果展示优化 # Reviewed, transaction id: 5336
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-list.vue
Due: none

fix: 修复插件修改成查日志平台后遗漏的问题 (#1221)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/log/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update dev_utils/Dockerfile.devops.unittest
  apiserver/Dockerfile
  apiserver/dev_utils/unittest/Dockerfile.devops.unittest
  apiserver/package.json
  apiserver/poetry.lock
Due: none

fix: 登录弹框用 windows.open 打开 # Reviewed, transaction id: 5370
  webfe/package_vue/src/App.vue
  webfe/package_vue/static/login_success.html
Due: none

fix: 登录弹框用 windows.open 打开 (#1232)
  webfe/package_vue/src/App.vue
  webfe/package_vue/static/login_success.html
Due: none

test: fix unitest
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/engine/test_monitoring.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: yaml.load -> yaml.full_load
  apiserver/paasng/paas_wl/cluster/loaders.py
  apiserver/paasng/paasng/engine/configurations/source_file.py
  apiserver/paasng/paasng/extensions/scene_app/initializer.py
  apiserver/paasng/paasng/extensions/smart_app/detector.py
  apiserver/paasng/paasng/pluginscenter/management/commands/create_or_update_plugin_type.py
  apiserver/paasng/tests/engine/utils/test_source.py
  apiserver/paasng/tests/extensions/smart_app/test_patcher.py
  apiserver/paasng/tests/paas_wl/resources/base/test_kres.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix： display_name 为空时不校验
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: fix unittest
  apiserver/paasng/paasng/engine/monitoring.py
  apiserver/paasng/tests/engine/test_monitoring.py
  apiserver/paasng/tests/paas_wl/monitoring/app_monitor/test_managers.py
  apiserver/paasng/tests/test_utils/es_log/test_models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 优化：部署日志滚动条问题 # Reviewed, transaction id: 5405
  webfe/package_vue/src/components/deploy/deploy-log-sideslider.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

test: fix unittest
  apiserver/paasng/paasng/engine/monitoring.py
  apiserver/paasng/tests/engine/test_monitoring.py
  apiserver/paasng/tests/test_utils/es_log/test_models.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: update apigw-manger to 3.0.2
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

test: fix unittest
  apiserver/paasng/paasng/engine/monitoring.py
  apiserver/paasng/paasng/utils/es_log/misc.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: resolve review comment
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/app_resource.py
  apiserver/paasng/paasng/platform/engine/deploy/start.py
  apiserver/paasng/paasng/platform/mgrlegacy/cnative_migrations/application.py
  apiserver/paasng/paasng/platform/mgrlegacy/cnative_migrations/base.py
  apiserver/paasng/paasng/platform/mgrlegacy/cnative_migrations/build_config.py
  apiserver/paasng/paasng/platform/mgrlegacy/cnative_migrations/cluster.py
  apiserver/paasng/paasng/platform/mgrlegacy/entities.py
  apiserver/paasng/paasng/platform/mgrlegacy/migrate.py
  apiserver/paasng/paasng/platform/mgrlegacy/models.py
  apiserver/paasng/paasng/platform/mgrlegacy/serializers.py
  apiserver/paasng/paasng/platform/mgrlegacy/task_data.py
  apiserver/paasng/paasng/platform/mgrlegacy/views.py
  apiserver/paasng/tests/paasng/platform/mgrlegacy/cnative/test_migrate.py
  apiserver/paasng/tests/paasng/platform/mgrlegacy/cnative/test_migrators.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
