Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 代码检查详情交互优化 (#1806)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-build/code-source.vue
Due: none

refactor: Delete CUSTOM_DOMAIN_CONFIG and move allow_user_modifications to REGION_CONFIGS (#1799)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paas_wl/workloads/networking/entrance/serializers.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/views.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/config.py
  apiserver/paasng/paasng/core/region/models.py
  apiserver/paasng/paasng/core/region/serializers.py
  apiserver/paasng/paasng/core/region/states.py
  apiserver/paasng/paasng/core/region/views.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/settings/workloads.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 沙箱开发代码提交 # Reviewed, transaction id: 27016
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/sandbox.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/stag.vue
  webfe/package_vue/src/views/dev-center/sandbox/comps/directory.vue
  webfe/package_vue/src/views/dev-center/sandbox/comps/submit-code-dialog.vue
  webfe/package_vue/src/views/dev-center/sandbox/index.vue
Due: none

feat: 沙箱开发代码提交 (#1809)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/sandbox.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/stag.vue
  webfe/package_vue/src/views/dev-center/sandbox/comps/directory.vue
  webfe/package_vue/src/views/dev-center/sandbox/comps/submit-code-dialog.vue
  webfe/package_vue/src/views/dev-center/sandbox/index.vue
Due: none

feat: svc-rabbitmq 支持 plan 管理配置
  svc-rabbitmq/vendor/apps.py
  svc-rabbitmq/vendor/handlers.py
  svc-rabbitmq/vendor/models.py
  svc-rabbitmq/vendor/provider.py
  svc-rabbitmq/vendor/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check

feat: uni_apps_query_by_id API supports returning the app market address
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/plat_admin/system/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixes
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/management/commands/clean_recycled_unbound_remote_instances.py
  apiserver/paasng/paasng/accessories/servicehub/remote/client.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/services.py
  apiserver/paasng/paasng/accessories/servicehub/tasks.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: svc-rabbitmq 支持 plan 管理配置
  svc-rabbitmq/README.md
  svc-rabbitmq/vendor/models.py
Due: ruff-check-fix, ruff-format, ruff-check

fix: 在 MarketAvailableAddressHelper 通用函数中修复切换主模块应用市场地址不展示问题
  apiserver/paasng/paasng/accessories/publish/market/serializers.py
  apiserver/paasng/paasng/accessories/publish/market/utils.py
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/plat_admin/system/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/accessories/publish/market/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

style: black max length revert
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/smart_app/serializers.py
  apiserver/paasng/paasng/platform/smart_app/views.py
  apiserver/paasng/paasng/utils/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

style: minor
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/smart_app/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixes
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/services.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: rm list_by_service
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/tests/api/test_servicehub.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: mior
  apiserver/paasng/paasng/utils/error_codes.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: update apiserver Django to 4.2.17
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

feat: svc-rabbitmq 支持 plan 管理配置
  svc-rabbitmq/README.md
Due: none

fix: update bkpaas-svc Django to 4.2.17
  svc-bkrepo/poetry.lock
  svc-bkrepo/pyproject.toml
  svc-mysql/poetry.lock
  svc-mysql/pyproject.toml
  svc-otel/poetry.lock
  svc-otel/pyproject.toml
  svc-rabbitmq/poetry.lock
  svc-rabbitmq/pyproject.toml
Due: none

fix: update operator crypto pkg to v0.31.0
  operator/go.mod
  operator/go.sum
Due: operator-lint

fix: update bkpaas-cli crypto pkg to v0.31.0
  bkpaas-cli/go.mod
  bkpaas-cli/go.sum
Due: none

fix: update crypto pkg to v0.31.0
  bkpaas-cli/go.mod
  bkpaas-cli/go.sum
  operator/go.mod
  operator/go.sum
Due: operator-lint

feat: update bkpaas-svc Django to 4.2.17
  svc-bkrepo/poetry.lock
  svc-bkrepo/pyproject.toml
  svc-mysql/poetry.lock
  svc-mysql/pyproject.toml
  svc-otel/poetry.lock
  svc-otel/pyproject.toml
  svc-rabbitmq/poetry.lock
  svc-rabbitmq/pyproject.toml
Due: none

fix: update Django to 4.2.17 (#1812)
  apiserver/poetry.lock
  apiserver/pyproject.toml
  svc-bkrepo/poetry.lock
  svc-bkrepo/pyproject.toml
  svc-mysql/poetry.lock
  svc-mysql/pyproject.toml
  svc-otel/poetry.lock
  svc-otel/pyproject.toml
  svc-rabbitmq/poetry.lock
  svc-rabbitmq/pyproject.toml
Due: none

fix: update crypto pkg to v0.31.0 (#1813)
  bkpaas-cli/go.mod
  bkpaas-cli/go.sum
  operator/go.mod
  operator/go.sum
Due: operator-lint

fix: update Django to 4.2.17 (#1814)
  apiserver/poetry.lock
  apiserver/pyproject.toml
  svc-bkrepo/poetry.lock
  svc-bkrepo/pyproject.toml
  svc-mysql/poetry.lock
  svc-mysql/pyproject.toml
  svc-otel/poetry.lock
  svc-otel/pyproject.toml
  svc-rabbitmq/poetry.lock
  svc-rabbitmq/pyproject.toml
Due: none

fix: tranform bkmonitor in app_desc.yaml spec_version 2
  apiserver/paasng/paasng/misc/tools/app_desc.py
  apiserver/paasng/paasng/misc/tools/serializers.py
  apiserver/paasng/tests/api/test_tools.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add service binding policy and precedence policy models with selection logic
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/__init__.py
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/manager.py
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/policy.py
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/selector.py
  apiserver/paasng/paasng/accessories/servicehub/constants.py
  apiserver/paasng/paasng/accessories/servicehub/exceptions.py
  apiserver/paasng/paasng/accessories/servicehub/local/test_manager.py
  apiserver/paasng/paasng/accessories/servicehub/migrations/0005_servicebindingpolicy_servicebindingprecedencepolicy.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
  apiserver/paasng/tests/paasng/accessories/servicehub/binding_policy/__init__.py
  apiserver/paasng/tests/paasng/accessories/servicehub/binding_policy/test_selector.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整
  cnb-builder-shim/pkg/appdesc/desc.go
  cnb-builder-shim/pkg/appdesc/types.go
  cnb-builder-shim/pkg/appdesc/v2.go
  cnb-builder-shim/pkg/appdesc/v3.go
Due: none

fix: 调整
  cnb-builder-shim/pkg/appdesc/desc_test.go
Due: none

fix: simplify model, rm unnesessary fields
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/models.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/paasng/accessories/servicehub/services.py
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/tests/api/test_servicehub.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: migrations
  apiserver/paasng/paasng/accessories/servicehub/migrations/0005_unboundserviceengineappattachment_and_more.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 调整
  cnb-builder-shim/internal/devsandbox/config/loader.go
  cnb-builder-shim/internal/devsandbox/config/types.go
  cnb-builder-shim/pkg/appdesc/desc.go
  cnb-builder-shim/pkg/appdesc/desc_test.go
  cnb-builder-shim/pkg/appdesc/v2.go
  cnb-builder-shim/pkg/appdesc/v3.go
Due: none

feat: enable bcs and lesscode through settings config
  apiserver/paasng/paas_wl/bk_app/processes/processes.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/__init__.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/apigw.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/client.py
  apiserver/paasng/paasng/core/region/models.py
  apiserver/paasng/paasng/core/region/states.py
  apiserver/paasng/paasng/infras/accounts/serializers.py
  apiserver/paasng/paasng/misc/plat_config/views.py
  apiserver/paasng/paasng/platform/bk_lesscode/client.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paasng/platform/test_lesscode.py
  webfe/package_vue/src/views/dev-center/app/create-module/index.vue
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: remove try_to_preserve_meta_info
  apiserver/paasng/paasng/platform/engine/utils/source.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/bare_git.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/bk_svn.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/gitee.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/github.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/gitlab.py
  apiserver/paasng/paasng/platform/sourcectl/repo_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add possible plans API and corresponding serializers for service binding
  apiserver/paasng/paasng/accessories/servicehub/binding_policy/selector.py
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/tests/paasng/accessories/servicehub/binding_policy/test_selector.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paas_wl/bk_app/processes/processes.py
  apiserver/paasng/paas_wl/infras/resources/base/bcs/client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: uni_apps_query_by_id API supports returning the app market address (#1811)
  apiserver/paasng/paasng/accessories/publish/market/serializers.py
  apiserver/paasng/paasng/accessories/publish/market/utils.py
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/plat_admin/system/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixes
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/serializers.py
  apiserver/paasng/paasng/accessories/servicehub/urls.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/tests/api/test_servicehub.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: remove try_to_preserve_meta_info (#1816)
  apiserver/paasng/paasng/platform/engine/utils/source.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/bare_git.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/bk_svn.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/gitee.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/github.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/gitlab.py
  apiserver/paasng/paasng/platform/sourcectl/repo_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver
