Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

isort:
  name: isort
  language: system
  entry: poetry run isort --settings-path=pyproject.toml

black:
  name: black
  language: system
  entry: poetry run black --config=pyproject.toml

flake8:
  name: flak8
  language: system
  entry: poetry run flake8

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

mypy-workloads:
  name: run mypy check for "workloads"
  language: system
  pass_filenames: false
  entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: 修复进程操作undefined的bug (#808)
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
Due: none

fix:修复重名
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/client.py
  apiserver/paasng/paas_wl/infras/resources/kube_res/base.py
  apiserver/paasng/paas_wl/workloads/configuration/configmap/kres_entities.py
Due: isort, black, flake8, mypy-apiserver

fix:修复重名
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
Due: isort, black, flake8, mypy-apiserver

enhance: BKLogConfig 采集配置增加模块相关的 label selector
  apiserver/paasng/paas_wl/bk_app/monitoring/bklog/managers.py
  apiserver/paasng/paas_wl/bk_app/monitoring/bklog/models.py
  apiserver/paasng/tests/paas_wl/bk_app/monitoring/bklog/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

feat: 挂载卷编辑功能
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

minor: 添加删除日志采集规则的接口
  apiserver/paasng/paasng/accessories/log/urls.py
  apiserver/paasng/paasng/accessories/log/views/config.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/tests/api/test_log.py
Due: isort, black, flake8, mypy-apiserver

enhance: BKLogConfig 采集配置增加模块相关的 label selector (#805)
  apiserver/paasng/paas_wl/bk_app/monitoring/bklog/managers.py
  apiserver/paasng/paas_wl/bk_app/monitoring/bklog/models.py
  apiserver/paasng/paasng/accessories/log/urls.py
  apiserver/paasng/paasng/accessories/log/views/config.py
  apiserver/paasng/tests/api/test_log.py
  apiserver/paasng/tests/paas_wl/bk_app/monitoring/bklog/test_serializers.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 bkapp 下发资源方式从 patch 修改成 replace; 修复 bkapp 镜像设置异常问题; refactor: 移除部分未切换成数据库模型的逻辑
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/__init__.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
  apiserver/paasng/paas_wl/bk_app/processes/controllers.py
  apiserver/paasng/paas_wl/bk_app/processes/views.py
  apiserver/paasng/paas_wl/infras/resources/base/kres.py
  apiserver/paasng/paasng/platform/engine/configurations/image.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/procs/test_procs.py
Due: isort, black, flake8, mypy-apiserver

fix unittest
  apiserver/paasng/paasng/platform/engine/configurations/image.py
  apiserver/paasng/tests/paasng/platform/engine/configurations/test_image.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 bkapp 下发资源方式从 patch 修改成 replace; 修复 bkapp 镜像设置异常问题; refactor:… (#809)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/__init__.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/procs/procs.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
  apiserver/paasng/paas_wl/bk_app/processes/controllers.py
  apiserver/paasng/paas_wl/bk_app/processes/views.py
  apiserver/paasng/paas_wl/infras/resources/base/kres.py
  apiserver/paasng/paasng/platform/engine/configurations/image.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/procs/test_procs.py
  apiserver/paasng/tests/paasng/platform/engine/configurations/test_image.py
Due: isort, black, flake8, mypy-apiserver

Fix: replace env variables in container args and command
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/utils/kubetypes/common.go
  operator/pkg/utils/kubetypes/common_test.go
Due: operator-lint

Ignore escaped dollar char when replacing command env vars
  operator/pkg/utils/kubetypes/common.go
  operator/pkg/utils/kubetypes/common_test.go
Due: operator-lint

feat: 挂载卷功能
  webfe/package_vue/src/common/utils.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

Fix: $PORT in the command/args was not transformed to valid format (#810)
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/pkg/controllers/resources/deployment.go
  operator/pkg/controllers/resources/deployment_test.go
  operator/pkg/controllers/resources/hooks.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/utils/kubetypes/common.go
  operator/pkg/utils/kubetypes/common_test.go
Due: operator-lint

fix: reconcile ran into an infinite loop when hook execute failed
  operator/pkg/controllers/reconcilers/hooks.go
  operator/pkg/controllers/resources/hooks.go
Due: operator-lint

fix: reconcile ran into an infinite loop when hook execute failed (#812)
  operator/pkg/controllers/reconcilers/hooks.go
  operator/pkg/controllers/resources/hooks.go
Due: operator-lint

fix: 镜像凭证放到模块信息tab中
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/image-credential/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
Due: none

fix: 部署管理页面修改
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
Due: none

fix: 镜像凭证无数据处理，模块信息tips规范
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/module-manage.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/image-credential/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
Due: none

fix: 部署管理体验优化
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
Due: none

fix: 模块信息页面：镜像信息优化
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
Due: none

fix: 高级选项显示云原生与普通应用保持一致
  webfe/package_vue/src/store/modules/create-app.js
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

fix: 进程列表展开收起图标相反调整
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

镜像凭证放到模块信息tab中、部署管理页面修改、体验问题修复 (#806)
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/create-app.js
  webfe/package_vue/src/views/dev-center/app/basic-config/module-manage.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-module-list.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/image-credential/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/module-info.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

feat: 编辑挂载卷功能完成
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

feat:告警事件与告警策略接口实现
  apiserver/paasng/paasng/infras/bkmonitorv3/client.py
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_cpu_usage.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_mem_usage.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/high_rabbitmq_queue_messages.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/oom_killed.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/alert_rules/ascode/rules_tpl/pod_restart.yaml.j2
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
  apiserver/paasng/tests/api/test_monitor.py
  apiserver/paasng/tests/paasng/misc/monitoring/test_alert.py
  apiserver/paasng/tests/utils/mocks/bkmonitor.py
Due: isort, black, flake8, mypy-apiserver

feat:告警事件与告警策略接口实现
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复云原生应用 list_processes 会报错的问题
  apiserver/paasng/paas_wl/bk_app/processes/controllers.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复云原生应用 list_processes 会报错的问题 (#814)
  apiserver/paasng/paas_wl/bk_app/processes/controllers.py
Due: isort, black, flake8, mypy-apiserver

test: minor
  operator/main.go
  operator/pkg/controllers/reconcilers/revision.go
Due: operator-lint

feat: add edit detail
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

enhance:uni_apps_list_minimal,uni_apps_query_by_id 添加查询参数
  apiserver/paasng/paasng/infras/legacydb/adaptors.py
  apiserver/paasng/paasng/plat_admin/system/applications.py
  apiserver/paasng/paasng/plat_admin/system/serializers.py
  apiserver/paasng/paasng/plat_admin/system/views.py
  apiserver/paasng/tests/paasng/plat_admin/test_system.py
Due: isort, black, flake8, mypy-apiserver

refactor: reconcile ran into an infinite loop when hook execute failed
  operator/pkg/controllers/reconcilers/hooks.go
  operator/pkg/controllers/reconcilers/revision.go
  operator/pkg/controllers/resources/hooks.go
Due: operator-lint

refactor: minor
  operator/pkg/controllers/reconcilers/revision.go
Due: operator-lint

enhance:uni_apps_list_minimal,uni_apps_query_by_id 添加查询参数
  apiserver/paasng/paasng/plat_admin/system/applications.py
Due: isort, black, flake8, mypy-apiserver

refactor: minor
  operator/main.go
  operator/pkg/controllers/reconcilers/revision.go
Due: operator-lint

enhance: 增加 release 状态变更回调 & 实现流水线构建参数渲染功能
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/handlers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/migrations/0013_pluginreleasestage_operator.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/executor.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/api_serializers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/release.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/conftest.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/release/conftest.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/release/test_stages.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_api.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/thirdparty/conftest.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/thirdparty/test_api.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/thirdparty/test_instance.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/thirdparty/test_market.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/thirdparty/test_release.py
Due: isort, black, flake8, mypy-apiserver

enhance: 增加 release 状态变更回调 & 实现流水线构建参数渲染功能 (#703)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/handlers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/migrations/0013_pluginreleasestage_operator.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/executor.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/stages.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/api_serializers.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/release.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/conftest.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/release/conftest.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/release/test_stages.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/test_api.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/thirdparty/conftest.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/thirdparty/test_api.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/thirdparty/test_instance.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/thirdparty/test_market.py
  apiserver/paasng/tests/paasng/bk_plugins/pluginscenter/thirdparty/test_release.py
Due: isort, black, flake8, mypy-apiserver

refactor: minor
  operator/pkg/controllers/reconcilers/hooks.go
Due: operator-lint

Path conditions:
  isort: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  black: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  flake8: any of: \.py$, but not: (?x)^(
    .*/node_modules/.*
    | apiserver/paasng/assets/.*
    | .*/migrations/.*
    | .*/paasng/platform/mgrlegacy/data/.*
    | .*/tests/platform/mgrlegacy/assets/.*
)$

  mypy-apiserver: any of: ^apiserver/ and \.py$
  mypy-workloads: any of: ^workloads/ and \.py$
  operator-lint: any of: ^operator/
