Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 切换当前应用，验证码问题修复
  webfe/package_vue/src/components/authentication-info.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
Due: none

feat: 修复tapd问题
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

feat: 修复联动问题
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

feat: 优化体验
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: 修复429问题
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: svc-rabbitmq reuse InstanceBill
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/paasng/platform/applications/management/commands/force_del_app.py
  svc-rabbitmq/vendor/provider.py
Due: isort, black, flake8, mypy-apiserver

minor: add delete ApplicationGradeManager logic
  apiserver/paasng/paasng/platform/applications/management/commands/force_del_app.py
Due: isort, black, flake8, mypy-apiserver

minor: delete ApplicationGradeManager after delete ApplicationUserGroup
  apiserver/paasng/paasng/platform/applications/management/commands/force_del_app.py
Due: isort, black, flake8, mypy-apiserver

feat: 自动切换手动时数据记录
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: svc-rabbitmq reuse InstanceBill (#465)
  apiserver/paasng/paas_wl/workloads/processes/views_enduser.py
  apiserver/paasng/paasng/platform/applications/management/commands/force_del_app.py
  svc-rabbitmq/vendor/provider.py
Due: isort, black, flake8, mypy-apiserver

fix: 优化体验问题
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

feat: 优化表格class冲突
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: 文案问题
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: 修改保存成功提示
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: 基本信息-获取验证码切换优化，验证码icon对齐 (#464)
  webfe/package_vue/src/components/authentication-info.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/info.vue
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

feat: admin42 应用列表中展示资源配额 (#307)
  apiserver/paasng/paasng/dev_resources/cloudapi/views.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/list_applications.html
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/platform/applications/constants.py
  apiserver/paasng/paasng/platform/applications/tasks.py
  apiserver/paasng/paasng/platform/applications/utils.py
  apiserver/paasng/paasng/platform/core/storages/redisdb.py
Due: isort, black, flake8, mypy-apiserver

feat: 调整云原生应用内运营者菜单
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
Due: none

feat: add built-in environment variable BK_DOMAIN
  apiserver/paasng/paasng/engine/configurations/config_var.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

fix: ProcessTmpl is not JSON serializable
  apiserver/paasng/paasng/plat_admin/admin42/serializers/engine.py
Due: isort, black, flake8, mypy-apiserver

feat: add built-in environment variable BK_DOMAIN (#466)
  apiserver/paasng/paasng/engine/configurations/config_var.py
  apiserver/paasng/paasng/settings/__init__.py
Due: isort, black, flake8, mypy-apiserver

minor: exclude procfile, processes, hooks when serializer Deployment
  apiserver/paasng/paasng/plat_admin/admin42/serializers/engine.py
Due: isort, black, flake8, mypy-apiserver

fix: ProcessTmpl is not JSON serializable (#467)
  apiserver/paasng/paasng/plat_admin/admin42/serializers/engine.py
Due: isort, black, flake8, mypy-apiserver

feat: webfe support normal app autoscaling (#468)
  webfe/package_vue/.eslintrc.js
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/components/paas-cloud-app-nav.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/deploy.js
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: 修复 admin42 应用列表带查询参数时查询结果不正确
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复分页参数
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 admin42 应用列表带查询参数时查询结果不正确 (#469)
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
Due: isort, black, flake8, mypy-apiserver

feat: add egress manage admin42 page and api
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paas_wl/cluster/constants.py
  apiserver/paasng/paas_wl/cluster/serializers.py
  apiserver/paasng/paas_wl/networking/constants.py
  apiserver/paasng/paas_wl/networking/egress/migrations/0003_egressrule_egressspec.py
  apiserver/paasng/paas_wl/networking/egress/models.py
  apiserver/paasng/paas_wl/resources/base/crd.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/egress.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/base.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/egress.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/egress.py
  apiserver/paasng/paasng/settings/workloads.py
Due: isort, black, flake8, mypy-apiserver

feat: modifying the naming rules of BkApp to support the multi-module functionality of cnative apps
  apiserver/paasng/paas_wl/cnative/specs/addresses.py
  apiserver/paasng/paas_wl/cnative/specs/models.py
  apiserver/paasng/paas_wl/cnative/specs/procs/replicas.py
  apiserver/paasng/paas_wl/cnative/specs/resource.py
  apiserver/paasng/paas_wl/platform/applications/models/app.py
  apiserver/paasng/paasng/cnative/services.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_rabbitmq_queue_messages.yaml.j2
  apiserver/paasng/paasng/platform/modules/constants.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/paas_wl/cnative/specs/procs/test_replicas.py
  apiserver/paasng/tests/paas_wl/cnative/specs/test_models.py
Due: isort, black, flake8, mypy-apiserver

feat: add validate annotations with BkApp name in webhook (#463)
  operator/api/v1alpha2/bkapp_webhook.go
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/constants.go
  operator/api/v1alpha2/names.go
  operator/api/v1alpha2/names_test.go
  operator/pkg/controllers/resources/names/names_test.go
Due: operator-lint

docs: minor
  operator/api/v1alpha2/bkapp_webhook.go
Due: operator-lint

fix: 调整最低高度
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: 调整进程列表最低高度
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix: 调整进程列表最低高度 (#473)
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

feat: add apply egress to kubernetes
  apiserver/paasng/paas_wl/networking/egress/models.py
  apiserver/paasng/paas_wl/resources/base/kres.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/engine/egress.html
  apiserver/paasng/paasng/plat_admin/admin42/views/engine/egress.py
  apiserver/paasng/paasng/utils/error_codes.py
Due: isort, black, flake8, mypy-apiserver

feat: 根据设计稿修改扩容弹窗
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

refactor: pre-release-hook name must include bkapp info
  operator/controllers/bkapp_controller_test.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/controllers/resources/names/names.go
  operator/pkg/controllers/resources/names/names_test.go
Due: operator-lint

feat: 修改最大副本数
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

refactor: pre-release-hook name must include bkapp info (#475)
  operator/controllers/bkapp_controller_test.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/controllers/resources/names/names.go
  operator/pkg/controllers/resources/names/names_test.go
Due: operator-lint

feat: 调整左右顺序
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

minor: shorter pre-release hook name
  operator/controllers/bkapp_controller_test.go
  operator/pkg/controllers/resources/hooks_test.go
  operator/pkg/controllers/resources/names/names.go
  operator/pkg/controllers/resources/names/names_test.go
Due: operator-lint
