Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

ruff-check-fix:
  name: ruff-check-fix
  language: system
  entry: poetry run ruff check --force-exclude --select I --fix --no-cache

ruff-format:
  name: ruff-format
  language: system
  entry: poetry run ruff format --force-exclude --no-cache

ruff-check:
  name: ruff-check
  language: system
  entry: poetry run ruff check --force-exclude --no-cache

mypy-apiserver:
  name: run mypy check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"

import-linter-apiserver:
  name: run import-linter check for "apiserver"
  language: system
  pass_filenames: false
  entry: bash -c "cd apiserver/paasng && poetry run lint-imports"

operator-lint:
  language: system
  name: run make lint for "operator"
  entry: bash -c "cd operator && make lint"

fix: fix annotate
  apiserver/paasng/paasng/plat_admin/initialization/management/commands/init_bkrepo.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 现在日志查询的最大条数
  apiserver/paasng/paasng/accessories/log/constants.py
  apiserver/paasng/paasng/accessories/log/serializers.py
  apiserver/paasng/paasng/accessories/log/views/logs.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add apigw-bkrepo init (#1566)
  apiserver/paasng/paasng/plat_admin/initialization/management/commands/init_bkrepo.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 进程服务体验修复 # Reviewed, transaction id: 17204
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/entry-change-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/pord-map-table.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/prcess-service.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/process-card.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 体验修复v2.0 # Reviewed, transaction id: 17205
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/probe/index.vue
Due: none

fix: add attribute name of some audit records
  apiserver/paasng/paas_wl/apis/admin/views/certs.py
  apiserver/paasng/paas_wl/apis/admin/views/clusters.py
  apiserver/paasng/paasng/plat_admin/admin42/views/builtin_config_vars.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
  apiserver/paasng/paasng/plat_admin/admin42/views/smart_advisor.py
  apiserver/paasng/paasng/plat_admin/admin42/views/sourcectl.py
  apiserver/paasng/paasng/plat_admin/admin42/views/templates.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: add attribute name of some audit records in admin42 (#1571)
  apiserver/paasng/paas_wl/apis/admin/views/certs.py
  apiserver/paasng/paas_wl/apis/admin/views/clusters.py
  apiserver/paasng/paasng/plat_admin/admin42/views/builtin_config_vars.py
  apiserver/paasng/paasng/plat_admin/admin42/views/services.py
  apiserver/paasng/paasng/plat_admin/admin42/views/smart_advisor.py
  apiserver/paasng/paasng/plat_admin/admin42/views/sourcectl.py
  apiserver/paasng/paasng/plat_admin/admin42/views/templates.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

review fix # Reviewed, transaction id: 17225
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/port-map-table.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/process-service.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

fix: 访问地址表格固定列不对齐优化 (#1556)
  webfe/package_vue/package.json
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

fix: patch default PIP_VERSION to 22.2.2
  heroku-buildpacks/bk-buildpack-python/patches/buildpack/bin/compile.patch
  heroku-buildpacks/bk-buildpack-python/patches/buildpack/bin/steps/python.patch
Due: none

fix: patch default PIP_VERSION to 22.2.2 (#1572)
  heroku-buildpacks/bk-buildpack-python/patches/buildpack/bin/compile.patch
  heroku-buildpacks/bk-buildpack-python/patches/buildpack/bin/steps/python.patch
Due: none

feat: 进程服务 (#1570)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/probe/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/editable-cell.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/entry-change-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/port-map-table.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/process-card.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/process-config/process-service.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-hook.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-process.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/static/images/deploy-4.svg
  webfe/package_vue/static/images/svc.svg
Due: none

fix: add space at end of line
  heroku-buildpacks/bk-buildpack-python/patches/buildpack/bin/compile.patch
Due: none

fix: add space at end of compile.patch lines (#1573)
  heroku-buildpacks/bk-buildpack-python/patches/buildpack/bin/compile.patch
Due: none

feat: support custom metrics for cloud native app
  operator/api/v1alpha1/bkapp_types.go
  operator/api/v1alpha2/bkapp_types.go
  operator/api/v1alpha2/constants.go
  operator/api/v1alpha2/observability.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/bkapp/common/labels/labels.go
  operator/pkg/controllers/bkapp/processes/services.go
  operator/pkg/controllers/bkapp/processes/services_test.go
Due: operator-lint

fix: 修复插件未更新日志配置导致查询日志异常问题
  apiserver/paasng/paasng/bk_plugins/pluginscenter/log/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: support custom metric
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/bk_app/monitoring/app_monitor/kres_slzs.py
  apiserver/paasng/paas_wl/bk_app/monitoring/app_monitor/managers.py
  apiserver/paasng/paas_wl/workloads/networking/ingress/kres_slzs/service.py
  apiserver/paasng/paasng/misc/monitoring/monitor/service_monitor/__init__.py
  apiserver/paasng/paasng/misc/monitoring/monitor/service_monitor/controller.py
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/observability.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/v1alpha2.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/observability.py
  apiserver/paasng/paasng/platform/bkapp_model/importer.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/declarative/application/validations/v3.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/paasng/test_utils/test_camel_converter.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 创建镜像仓库应用页面特定清空无法切换到其他的tab & 边界处理 # Reviewed, transaction id: 17357
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/main.vue
  webfe/package_vue/src/views/dev-center/create-app/smart.vue
Due: none

fix: 创建镜像仓库应用页面特定清空无法切换到其他的tab & 边界处理 # Reviewed, transaction id: 17358
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/main.vue
  webfe/package_vue/src/views/dev-center/create-app/smart.vue
Due: none

fix: 创建外链应用时输入较长的访问地址，会导致网站无法刷新和点击 & 页面重构 # Reviewed, transaction id: 17363
  webfe/package_vue/src/store/modules/create-app.js
  webfe/package_vue/src/views/dev-center/create-app/external.vue
  webfe/package_vue/src/views/dev-center/create-app/main.vue
Due: none

test: add unit test
  apiserver/paasng/paasng/platform/bkapp_model/entities/__init__.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0015_auto_20240904_1439.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/modules/migrations/0016_auto_20240904_1439.py
  apiserver/paasng/tests/api/bkapp_model/test_bkapp_model.py
  apiserver/paasng/tests/paasng/misc/monitoring/service_monitor/__init__.py
  apiserver/paasng/tests/paasng/misc/monitoring/service_monitor/test_controller.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/entities_syncer/test_observability.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_importer.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add audit records of application operation (#1569)
  apiserver/paasng/locale/en/LC_MESSAGES/django.po
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
  apiserver/paasng/paas_wl/workloads/networking/egress/views.py
  apiserver/paasng/paas_wl/workloads/networking/entrance/views.py
  apiserver/paasng/paasng/accessories/app_secret/views.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/engine/views/configvar.py
  apiserver/paasng/paasng/platform/environments/views.py
  apiserver/paasng/paasng/platform/modules/views.py
  apiserver/paasng/paasng/platform/sourcectl/views.py
  apiserver/paasng/tests/api/test_build_config.py
  webfe/package_vue/src/store/modules/deploy.js
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: fix unit test
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/modules/manager.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fail to generate ingresses: web process not found
  operator/pkg/controllers/dgroupmapping/ingress/builder.go
Due: operator-lint

fix: fail to generate ingresses(web process not found) in DomainGroupMapping (#1575)
  operator/pkg/controllers/dgroupmapping/ingress/builder.go
Due: operator-lint

fix: 带端口的镜像地址解析问题 #1576
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: remove StubServiceMonitorKModel
  apiserver/paasng/tests/paasng/misc/monitoring/service_monitor/test_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 日志相关报错问题修复
  apiserver/paasng/paasng/accessories/log/views/logs.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/exceptions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/log/__init__.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/log/client.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：体验提单修复 (#1564)
  webfe/package_vue/src/store/modules/create-app.js
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/external.vue
  webfe/package_vue/src/views/dev-center/create-app/main.vue
  webfe/package_vue/src/views/dev-center/create-app/smart.vue
Due: none

fix：体验提单修复1.5 (#1565)
  webfe/package_vue/src/store/modules/create-app.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/index.vue
  webfe/package_vue/src/views/dev-center/app/market/market-manager.vue
  webfe/package_vue/src/views/dev-center/app/services/instance.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/external.vue
  webfe/package_vue/src/views/dev-center/create-app/main.vue
  webfe/package_vue/src/views/dev-center/create-app/smart.vue
Due: none

feat: support ${PORT} used in probes and proc services field
  apiserver/paasng/paasng/platform/bkapp_model/constants.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/probes.py
  apiserver/paasng/paasng/platform/bkapp_model/entities/proc_service.py
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
  apiserver/paasng/tests/api/bkapp_model/test_bkapp_model.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_sanitize_placeholder.py
  pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: minor
  apiserver/paasng/paasng/platform/bkapp_model/manifest.py
  apiserver/paasng/tests/api/bkapp_model/test_bkapp_model.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat:app operation evaluation list
  apiserver/paasng/paasng/platform/applications/serializers/__init__.py
  apiserver/paasng/paasng/platform/applications/serializers/app.py
  apiserver/paasng/paasng/platform/applications/urls.py
  apiserver/paasng/paasng/platform/applications/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: get monitor alerts count
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: app evaluation list conf
  apiserver/paasng/paasng/infras/perm_insure/conf.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fix alerts query
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fix alerts query
  apiserver/paasng/tests/paasng/misc/monitoring/test_alert.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

unit test
  apiserver/paasng/tests/api/test_monitor.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:查询用户的paas2.0普通应用列表时，如果权限表达式为空，提前返回 (#1547)
  apiserver/paasng/paasng/infras/legacydb/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

Path conditions:
  ruff-check-fix: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy-apiserver: any of: ^apiserver/ and \.py$
  import-linter-apiserver: any of: ^apiserver/ and \.py$
  operator-lint: any of: ^operator/
