Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix:修改展示字段
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/mount.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feature: 支持构建基础镜像是 heroku-22 的 builder
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/Makefile
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/README.md
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/heroku-18.toml
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/heroku-22.toml
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/stack/build.Dockerfile
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/stack/docker-bake.hcl
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/stack/run.Dockerfile
  builder-stack/cnb-builder-shim/Makefile
  builder-stack/cnb-builder-shim/README.md
  builder-stack/cnb-builder-shim/docker-build/heroku-builder/docker-bake.hcl
Due: none

update lifecycle to 0.17.4
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/heroku-22.toml
Due: none

feature: 支持构建基础镜像是 heroku-22 的 builder (#1172)
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/Makefile
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/README.md
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/heroku-18.toml
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/heroku-22.toml
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/stack/build.Dockerfile
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/stack/docker-bake.hcl
  builder-stack/cloudnative-buildpacks/builders/heroku-builder/stack/run.Dockerfile
  builder-stack/cnb-builder-shim/Makefile
  builder-stack/cnb-builder-shim/README.md
  builder-stack/cnb-builder-shim/docker-build/heroku-builder/docker-bake.hcl
Due: none

feat：挂载卷支持 pvc (#1095)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/migrations/0006_auto_20240228_1526.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/migrations/0007_rename_storage_persistentstoragesource_storage_size.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/mount.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/urls.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
  apiserver/paasng/paas_wl/infras/resources/base/kres.py
  apiserver/paasng/paas_wl/utils/error_codes.py
  apiserver/paasng/paas_wl/workloads/volume/__init__.py
  apiserver/paasng/paas_wl/workloads/volume/persistent_volume_claim/__init__.py
  apiserver/paasng/paas_wl/workloads/volume/persistent_volume_claim/kres_entities.py
  apiserver/paasng/paas_wl/workloads/volume/persistent_volume_claim/kres_slzs.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_mounts.py
  operator/api/v1alpha2/bkapp_webhook_test.go
  operator/api/v1alpha2/volumes.go
  operator/api/v1alpha2/zz_generated.deepcopy.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/resources/volumes.go
  operator/pkg/controllers/resources/volumes_test.go
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

refactor: minor
  apiserver/paasng/paasng/infras/accounts/middlewares.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: add api to control devcontainer (#1163)
  apiserver/paasng/paas_wl/bk_app/applications/models/app.py
  apiserver/paasng/paas_wl/bk_app/deploy/app_res/controllers.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/__init__.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/conf.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/controller.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/entities.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/exceptions.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/__init__.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/ingress.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/sandbox.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_entities/service.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/__init__.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/ingress.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/sandbox.py
  apiserver/paasng/paas_wl/bk_app/dev_sandbox/kres_slzs/service.py
  apiserver/paasng/paas_wl/infras/cluster/shim.py
  apiserver/paasng/paas_wl/infras/cluster/utils.py
  apiserver/paasng/paas_wl/infras/resources/utils/basic.py
  apiserver/paasng/paasng/accessories/dev_sandbox/__init__.py
  apiserver/paasng/paasng/accessories/dev_sandbox/config_var.py
  apiserver/paasng/paasng/accessories/dev_sandbox/serializers.py
  apiserver/paasng/paasng/accessories/dev_sandbox/urls.py
  apiserver/paasng/paasng/accessories/dev_sandbox/views.py
  apiserver/paasng/paasng/infras/accounts/middlewares.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/paasng/settings/workloads.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/paasng/utils/error_codes.py
  apiserver/paasng/tests/api/test_dev_sandbox.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/__init__.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/conftest.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/test_controller.py
  apiserver/paasng/tests/paas_wl/bk_app/dev_sandbox/test_kres_slzs.py
  apiserver/paasng/tests/paasng/accessories/dev_sandbox/__init__.py
  apiserver/paasng/tests/paasng/accessories/dev_sandbox/test_config_var.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:挂载卷更新操作修复
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:pvc fix (#1178)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 云原生添加持久化存储
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/persistent-storage.vue
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/persistent-storage.js
  webfe/package_vue/src/views/dev-center/app/basic-config/index.vue
  webfe/package_vue/src/views/dev-center/app/market/persistent-storage.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

update: 预发布环境2G、4G disabled
  webfe/package_vue/src/views/dev-center/app/market/persistent-storage.vue
Due: none

update: 挂载卷添加持久存储类型
  webfe/package_vue/src/components/create-persistent-storage-dailog.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/market/persistent-storage.vue
Due: none

update: 接口字段调整修复，持久存储代码优化
  webfe/package_vue/src/components/create-persistent-storage-dailog.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/market/persistent-storage.vue
Due: none

fix: 接口字段调整
  webfe/package_vue/src/views/dev-center/app/market/persistent-storage.vue
Due: none

fix: 持久存储体验修复v1
  webfe/package_vue/src/components/create-persistent-storage-dailog.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/market/persistent-storage.vue
Due: none

update：接口字段变更name->display_name
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/market/persistent-storage.vue
Due: none

fix: 体验修复v2
  webfe/package_vue/src/views/dev-center/app/basic-config/index.vue
Due: none

update: 接口变动文件内容显示display_name，编辑正常显示name
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/market/persistent-storage.vue
Due: none

fix: 持久存储添加生效环境筛选、环境过滤以及体验问题修复
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix: 修复 process command中的环境变量无法生效的问题
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/declarative/deployment/validations/v2.py
  apiserver/paasng/paasng/platform/declarative/serializers.py
  apiserver/paasng/paasng/platform/smart_app/patcher.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_models.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v3/test_controller.py
  apiserver/paasng/tests/paasng/platform/engine/utils/test_source.py
  apiserver/paasng/tests/paasng/platform/smart_app/test_patcher.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: 补充注释
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:持久存储新增应用特性，修改持久存储删除逻辑
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/urls.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
  apiserver/paasng/paasng/platform/applications/constants.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:持久存储新增应用特性，修改持久存储删除逻辑
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paasng/platform/applications/constants.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: rename devcontainer package to devsandbox
  builder-stack/cnb-builder-shim/Makefile
  builder-stack/cnb-builder-shim/README.md
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/main.go
  builder-stack/cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl.go
  builder-stack/cnb-builder-shim/docker-build/heroku-builder/dev.Dockerfile
  builder-stack/cnb-builder-shim/internal/devsandbox/devsandbox_suite_test.go
  builder-stack/cnb-builder-shim/internal/devsandbox/phase/builder.go
  builder-stack/cnb-builder-shim/internal/devsandbox/phase/launcher.go
  builder-stack/cnb-builder-shim/internal/devsandbox/reload.go
  builder-stack/cnb-builder-shim/internal/devsandbox/reload_test.go
  builder-stack/cnb-builder-shim/internal/devsandbox/watchsrv.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/server.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/server_test.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/deploy.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/deploy_test.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/service_suite_test.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/django-helloworld.zip
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/webserver_suite_test.go
Due: none

fix:持久存储新增应用特性，修改持久存储删除逻辑
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix
  bkpaas-cli/README.md
  bkpaas-cli/internal/cmd/app/deploy.go
Due: none

fix: 修复 process command中的环境变量无法生效的问题 (#1179)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/processes.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/declarative/deployment/validations/v2.py
  apiserver/paasng/paasng/platform/declarative/serializers.py
  apiserver/paasng/paasng/platform/smart_app/patcher.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_models.py
  apiserver/paasng/tests/paasng/platform/bkapp_model/test_manifest.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v3/test_controller.py
  apiserver/paasng/tests/paasng/platform/engine/utils/test_source.py
  apiserver/paasng/tests/paasng/platform/smart_app/test_patcher.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:持久存储新增应用特性，修改持久存储删除逻辑
  apiserver/paasng/tests/paasng/platform/applications/test_feature_flag.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix
  bkpaas-cli/go.mod
  bkpaas-cli/go.sum
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/apiresources/types.go
  bkpaas-cli/pkg/handler/deploy.go
Due: none

fix: 特性检测接口的地址变化、持久存储体验体验修复3-19
  webfe/package_vue/src/components/create-persistent-storage-dailog.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/modules/persistent-storage.js
  webfe/package_vue/src/views/dev-center/app/basic-config/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/market/persistent-storage.vue
Due: none

fix
  bkpaas-cli/go.sum
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/apiresources/apigw_mock.go
  bkpaas-cli/pkg/apiresources/types.go
  bkpaas-cli/pkg/handler/deploy.go
Due: none

fix:持久存储新增应用特性，修改持久存储删除逻辑
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/urls.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/handler/deploy.go
Due: none

fix:持久存储新增应用特性，修改持久存储删除逻辑 (#1182)
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/urls.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views.py
  apiserver/paasng/paasng/platform/applications/constants.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
  apiserver/paasng/tests/paasng/platform/applications/test_feature_flag.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: procfile change need rebuild
  builder-stack/cnb-builder-shim/internal/devsandbox/watchsrv.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/deploy.go
Due: none

refactor: rename devcontainer package to devsandbox (#1181)
  builder-stack/cnb-builder-shim/Makefile
  builder-stack/cnb-builder-shim/README.md
  builder-stack/cnb-builder-shim/cmd/dev-entrypoint/main.go
  builder-stack/cnb-builder-shim/cmd/dev-launcher/launch/supervisorctl.go
  builder-stack/cnb-builder-shim/docker-build/heroku-builder/dev.Dockerfile
  builder-stack/cnb-builder-shim/internal/devsandbox/devsandbox_suite_test.go
  builder-stack/cnb-builder-shim/internal/devsandbox/phase/builder.go
  builder-stack/cnb-builder-shim/internal/devsandbox/phase/launcher.go
  builder-stack/cnb-builder-shim/internal/devsandbox/reload.go
  builder-stack/cnb-builder-shim/internal/devsandbox/reload_test.go
  builder-stack/cnb-builder-shim/internal/devsandbox/watchsrv.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/server.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/server_test.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/deploy.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/deploy_test.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/service_suite_test.go
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/service/testdata/django-helloworld.zip
  builder-stack/cnb-builder-shim/internal/devsandbox/webserver/webserver_suite_test.go
Due: none

code review
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

enhance:bkpaas-cli 云原生相关接口迁移，并支持通过 tag/branch 部署 (#1177)
  bkpaas-cli/README.md
  bkpaas-cli/go.mod
  bkpaas-cli/go.sum
  bkpaas-cli/internal/cmd/app/deploy.go
  bkpaas-cli/pkg/apiresources/apigw.go
  bkpaas-cli/pkg/apiresources/apigw_mock.go
  bkpaas-cli/pkg/apiresources/types.go
  bkpaas-cli/pkg/handler/deploy.go
  bkpaas-cli/pkg/handler/deploy_test.go
  bkpaas-cli/pkg/model/option.go
Due: none

- 云原生添加持久存储 (#1169)
  webfe/package_vue/src/components/create-persistent-storage-dailog.vue
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/persistent-storage.vue
  webfe/package_vue/src/components/paas-app-nav.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/index.js
  webfe/package_vue/src/store/index.js
  webfe/package_vue/src/store/modules/persistent-storage.js
  webfe/package_vue/src/views/dev-center/app/basic-config/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-resource-editor/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/market/persistent-storage.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none
