Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

refactor: update default DEV_SERVER_ADDR to :8000
  builder-stack/cnb-builder-shim/cmd/devserver/main.go
Due: none

feat: 云API 权限添加创建令牌功能、云api权限导航统一
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-layout.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
Due: none

fix: 创建令牌添加tips
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
Due: none

feat：云API 权限添加创建令牌功能、云api权限导航统一 (#1092)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/cloud-api.js
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/comps/render-layout.vue
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
Due: none

fix: 创建令牌弹窗其他方式关闭状态重置
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
Due: none

fix: 创建令牌弹窗其他方式关闭状态重置 (#1093)
  webfe/package_vue/src/views/dev-center/app/basic-config/cloud-api/index.vue
Due: none

fix: 导航插件开发刷新显示问题修复
  webfe/package_vue/src/store/index.js
Due: none

fix: 导航插件开发刷新显示问题修复 (#1094)
  webfe/package_vue/src/store/index.js
Due: none

feat:挂载卷支持 pvc
  apiserver/paasng/paas_wl/bk_app/cnative/specs/constants.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/migrations/0006_auto_20240123_1650.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/models/mount.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/mounts.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/serializers.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/urls.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
  apiserver/paasng/paas_wl/utils/error_codes.py
  apiserver/paasng/paas_wl/workloads/volume/persistent_volume_claim/kres_entities.py
  apiserver/paasng/paas_wl/workloads/volume/persistent_volume_claim/kres_slzs.py
  apiserver/paasng/paasng/platform/applications/migrations/0011_alter_application_type.py
  apiserver/paasng/tests/paas_wl/api/test_mounts.py
  apiserver/paasng/tests/paas_wl/bk_app/cnative/specs/test_mounts.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: 调整默认的索引分片数至 1
  apiserver/paasng/paasng/infras/bk_log/definitions.py
  apiserver/paasng/tests/paasng/infras/bk_log/test_client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat:挂载卷支持 pvc
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat:挂载卷支持 pv
  operator/pkg/controllers/resources/volumes_test.go
Due: operator-lint

feat: 日志查询，无数据时添加清洗规则
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/log.js
  webfe/package_vue/src/views/dev-center/app/engine/log/custom-log.vue
Due: none

feat: 部署前置条件检查以及对应的操作展示
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

fix: 弹窗无需调整处理
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

fix: 结构化日志：去掉展示的判断逻辑，所有情况都直接展示出来
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
Due: none

feat: 日志查询，无数据时添加清洗规则、部署前置条件检查以及对应的操作展示 (#1098)
  webfe/package_vue/src/assets/iconfont/demo.html
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.eot
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.svg
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.ttf
  webfe/package_vue/src/assets/iconfont/fonts/iconcool.woff
  webfe/package_vue/src/assets/iconfont/iconcool.js
  webfe/package_vue/src/assets/iconfont/iconcool.json
  webfe/package_vue/src/assets/iconfont/style.css
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/log.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/custom-log.vue
Due: none

fix: 结构化日志：去掉展示的判断逻辑，所有情况都直接展示出来 (#1097)
  webfe/package_vue/src/views/dev-center/app/engine/log/index.vue
Due: none

minor: 调整默认的索引分片数至 1 (#1096)
  apiserver/paasng/paasng/infras/bk_log/definitions.py
  apiserver/paasng/tests/paasng/infras/bk_log/test_client.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat:使用 mysql 增强服务接口查询实例信息
  apiserver/paasng/paasng/accessories/servicehub/manager.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 创建模块，镜像凭证提示文案修改
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
Due: none

fix：弹窗分割线样式调整
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

fix: 创建模块，镜像凭证提示文案修改、弹窗分割线样式调整 (#1100)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/dev-center/app/create-cloud-module/index.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-dialog.vue
Due: none

feat:使用 mysql 增强服务接口查询实例信息 (#1078)
  apiserver/paasng/paasng/accessories/servicehub/exceptions.py
  apiserver/paasng/paasng/accessories/servicehub/local/manager.py
  apiserver/paasng/paasng/accessories/servicehub/manager.py
  apiserver/paasng/paasng/accessories/servicehub/remote/client.py
  apiserver/paasng/paasng/accessories/servicehub/remote/manager.py
  apiserver/paasng/paasng/accessories/servicehub/services.py
  apiserver/paasng/paasng/accessories/servicehub/views.py
  apiserver/paasng/support-files/apigw/resources.yaml
  apiserver/paasng/tests/paasng/accessories/servicehub/test_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

enhance：bkapp 下发 Conflict 时，添加重试机制
  apiserver/paasng/paas_wl/bk_app/cnative/specs/resource.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix:alert_name 为 None 时接口报错修复
  apiserver/paasng/paasng/misc/monitoring/monitor/serializers.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix：部署管理：访问控制台展示问题
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
Due: none

fix: 访问地址：添加进程列
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
Due: none

fix: 代码源工蜂的授权指引文档不存在, 未授权下一步禁用
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
Due: none

fix: 应用列表：查询语言传的参数不对
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

fix: 新增挂载卷，挂载目录隐性提示在翻译后没有换行，看不见后面的内容
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
Due: none

fix：部署管理：访问控制台展示问题、访问地址：添加进程列、tapd单据修复 (#1105)
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deploy-manage/comps/deploy-detail.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-volume.vue
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/visit-config.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/index.vue
Due: none

minor: resolve #1081 conversations
  apiserver/paasng/paas_wl/bk_app/monitoring/metrics/migrations/0001_initial.py
  apiserver/paasng/paas_wl/bk_app/monitoring/metrics/migrations/__init__.py
  apiserver/paasng/paas_wl/bk_app/monitoring/metrics/tasks.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/list_resource_usage.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: admin42 add application resource usage dashboard (#1081)
  apiserver/paasng/paas_wl/bk_app/monitoring/metrics/apps.py
  apiserver/paasng/paas_wl/bk_app/monitoring/metrics/evaluator.py
  apiserver/paasng/paas_wl/bk_app/monitoring/metrics/management/commands/collect_app_res_usage_report.py
  apiserver/paasng/paas_wl/bk_app/monitoring/metrics/models.py
  apiserver/paasng/paas_wl/bk_app/monitoring/metrics/tasks.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/list_resource_usage.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/front_page.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/base.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/platform/applications/migrations/0011_alter_application_type.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

minor: update bkstorages
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: none

enhance: 设置 list tags 超时
  apiserver/paasng/paas_wl/bk_app/cnative/specs/image_parser.py
  apiserver/paasng/paas_wl/bk_app/cnative/specs/views_enduser.py
  apiserver/paasng/paasng/platform/bkapp_model/importer/build.py
  apiserver/paasng/paasng/platform/sourcectl/controllers/docker.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/poetry.lock
  apiserver/pyproject.toml
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: move metrics from paas_wl.bk_app.monitoring to paasng.misc.monitoring
  apiserver/paasng/paas_wl/apis/system_api/serializers.py
  apiserver/paasng/paasng/misc/monitoring/metrics/clients/__init__.py
  apiserver/paasng/paasng/misc/monitoring/metrics/clients/base.py
  apiserver/paasng/paasng/misc/monitoring/metrics/clients/bkmonitor.py
  apiserver/paasng/paasng/misc/monitoring/metrics/clients/prometheus.py
  apiserver/paasng/paasng/misc/monitoring/metrics/evaluator.py
  apiserver/paasng/paasng/misc/monitoring/metrics/exceptions.py
  apiserver/paasng/paasng/misc/monitoring/metrics/management/__init__.py
  apiserver/paasng/paasng/misc/monitoring/metrics/management/commands/__init__.py
  apiserver/paasng/paasng/misc/monitoring/metrics/management/commands/collect_app_res_usage_report.py
  apiserver/paasng/paasng/misc/monitoring/metrics/management/commands/deploy_stats_diagnoser.py
  apiserver/paasng/paasng/misc/monitoring/metrics/management/commands/evaluate_app_res_quota.py
  apiserver/paasng/paasng/misc/monitoring/metrics/migrations/0001_initial.py
  apiserver/paasng/paasng/misc/monitoring/metrics/models.py
  apiserver/paasng/paasng/misc/monitoring/metrics/shim.py
  apiserver/paasng/paasng/misc/monitoring/metrics/tasks.py
  apiserver/paasng/paasng/misc/monitoring/metrics/utils.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  apiserver/paasng/paasng/platform/engine/serializers.py
  apiserver/paasng/paasng/platform/engine/views/misc.py
  apiserver/paasng/paasng/settings/__init__.py
  apiserver/paasng/tests/paasng/misc/monitoring/metrics/test_client.py
  apiserver/paasng/tests/paasng/misc/monitoring/metrics/test_metric_manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver
