Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run pflake8 --config=pyproject.toml

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./mypy.ini"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because it may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: 删除未国际化的字段
  apiserver/paasng/paasng/pluginscenter/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix: 独立域名提示信息优化。进程管理名过长时样式乱了。开发者中心：创建插件成功后提示信息修改
  webfe/package_vue/src/views/dev-center/app/engine/entry-config/comps/custom-domain.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/create-app/cloud.vue
  webfe/package_vue/src/views/dev-center/create-app/success-git.scss
  webfe/package_vue/src/views/dev-center/create-app/success-git.vue
Due: none

feat(apiserver): 添加操作记录,并处理TranslatedCharField中字段值为None的情况 (#41)
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/paasng/utils/i18n/serializers.py
Due: isort, black, flake8, mypy-apiserver

feature: 「插件开发者中心」支持下架插件
  apiserver/paasng/paasng/extensions/bk_plugins/api_serializers.py
  apiserver/paasng/paasng/extensions/bk_plugins/apigw.py
  apiserver/paasng/paasng/extensions/bk_plugins/pluginscenter_views.py
  apiserver/paasng/paasng/extensions/bk_plugins/tasks.py
  apiserver/paasng/paasng/platform/feature_flags/apps_ext.py
  apiserver/paasng/paasng/pluginscenter/constants.py
  apiserver/paasng/paasng/pluginscenter/exceptions.py
  apiserver/paasng/paasng/pluginscenter/releases/executor.py
  apiserver/paasng/paasng/pluginscenter/thirdparty/instance.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/tests/extensions/bk_plugins/test_apigw.py
  apiserver/paasng/tests/pluginscenter/conftest.py
  apiserver/paasng/tests/pluginscenter/release/test_executor.py
  apiserver/paasng/tests/pluginscenter/release/test_steps.py
  apiserver/paasng/tests/pluginscenter/test_api.py
  apiserver/paasng/tests/pluginscenter/test_integration.py
  apiserver/paasng/tests/pluginscenter/thirdparty/test_api.py
Due: isort, black, flake8, mypy-apiserver

feature: 云原生应用查询部署状态时返回实时的 k8s 事件列表
  workloads/paas_wl/paas_wl/cnative/specs/events.py
  workloads/paas_wl/paas_wl/cnative/specs/serializers.py
  workloads/paas_wl/paas_wl/cnative/specs/views_enduser.py
  workloads/paas_wl/paas_wl/resources/base/kres.py
Due: isort, black, flake8, mypy-workloads

feat(pluginscenter): 插件列表中展示审批中的插件
  apiserver/paasng/paasng/pluginscenter/constants.py
  apiserver/paasng/paasng/pluginscenter/filters.py
  apiserver/paasng/paasng/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

feat(pluginscenter): 删除插件添加操作日志
  apiserver/paasng/paasng/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/support-files/itsm/plugins_create_approval.json
Due: isort, black, flake8, mypy-apiserver

feat(pluginscenter): 插件列表中展示审批中的插件 (#46)
  apiserver/paasng/paasng/pluginscenter/constants.py
  apiserver/paasng/paasng/pluginscenter/filters.py
  apiserver/paasng/paasng/pluginscenter/itsm_adaptor/utils.py
  apiserver/paasng/paasng/pluginscenter/views.py
  apiserver/paasng/support-files/itsm/plugins_create_approval.json
Due: isort, black, flake8, mypy-apiserver

feature: 支持 online(上线) 阶段
  apiserver/paasng/paasng/pluginscenter/releases/stages.py
Due: isort, black, flake8, mypy-apiserver

feature: 支持 online(上线) 阶段 (#48)
  apiserver/paasng/paasng/pluginscenter/releases/stages.py
Due: isort, black, flake8, mypy-apiserver

Update CONTRIBUTING.md
  docs/CONTRIBUTING.md
Due: none

feat: 顶部导航统一
  webfe/package_vue/src/components/paas-header.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
Due: none

refactor: resolve review comments
  apiserver/paasng/paasng/monitoring/monitor/alert.py
  apiserver/paasng/paasng/monitoring/monitor/client.py
  apiserver/paasng/paasng/monitoring/monitor/serializers.py
  apiserver/paasng/tests/api/test_monitor.py
Due: isort, black, flake8, mypy-apiserver

fix(pluginscenter): 修复插件实例查询API返回itsm字段报错问题修复
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
Due: isort, black, flake8, mypy-apiserver

fix: 云原生应用：进程停止中时按钮不对齐。 云原生应用环境变量保存失败
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/deploy-env.vue
Due: none

fix: plugin-dev 代码合并
  webfe/Dockerfile
  webfe/package_vue/build/vue-loader.conf.js
  webfe/package_vue/config/index.js
  webfe/package_vue/package.json
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: 插件开发体验修复
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

refactor: resolve review comments
  apiserver/paasng/paasng/monitoring/monitor/alert.py
  apiserver/paasng/paasng/monitoring/monitor/views.py
  apiserver/paasng/tests/monitoring/test_alert.py
Due: isort, black, flake8, mypy-apiserver

feat(pluginscenter): 添加代码提交统计API
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/base.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

docs: 修改英文项目介绍
  readme_en.md
Due: none

docs: 更新文档
  readme_en.md
Due: none

docs: 更新导读文案
  README.md
  readme_en.md
Due: none

fix: aPI 中时区根据当前时区指定
  apiserver/paasng/paasng/extensions/bk_plugins/urls.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
Due: isort, black, flake8, mypy-apiserver

feat: 使用 arrow 将时间转为仓库API需要的格式
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/base.py
Due: isort, black, flake8, mypy-apiserver

docs: 更新导读文案 (#34)
  README.md
  readme_en.md
Due: none

feat(pluginscenter): 添加代码提交统计API (#51)
  apiserver/paasng/paasng/extensions/bk_plugins/urls.py
  apiserver/paasng/paasng/pluginscenter/models/instances.py
  apiserver/paasng/paasng/pluginscenter/serializers.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/base.py
  apiserver/paasng/paasng/pluginscenter/sourcectl/tencent.py
  apiserver/paasng/paasng/pluginscenter/urls.py
  apiserver/paasng/paasng/pluginscenter/views.py
Due: isort, black, flake8, mypy-apiserver

fix: 添加下架插件API
  apiserver/paasng/paasng/extensions/bk_plugins/urls.py
Due: isort, black, flake8, mypy-apiserver

fix: 添加下架插件API (#52)
  apiserver/paasng/paasng/extensions/bk_plugins/urls.py
Due: isort, black, flake8, mypy-apiserver

feat: 插件的模板也存储到 DB 中
  apiserver/paasng/paasng/dev_resources/templates/constants.py
  apiserver/paasng/paasng/dev_resources/templates/serializers.py
  apiserver/paasng/paasng/dev_resources/templates/urls.py
  apiserver/paasng/paasng/dev_resources/templates/views.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/api/test_scene_app.py
Due: isort, black, flake8, mypy-apiserver

feat: 模块管理可展示插件的模板名
  apiserver/paasng/paasng/platform/modules/serializers.py
Due: isort, black, flake8, mypy-apiserver

feat: 插件的模板也存储到 DB 中 (#53)
  apiserver/paasng/paasng/dev_resources/templates/constants.py
  apiserver/paasng/paasng/dev_resources/templates/serializers.py
  apiserver/paasng/paasng/dev_resources/templates/urls.py
  apiserver/paasng/paasng/dev_resources/templates/views.py
  apiserver/paasng/paasng/platform/applications/views.py
  apiserver/paasng/paasng/platform/modules/serializers.py
  apiserver/paasng/paasng/urls.py
  apiserver/paasng/tests/api/test_scene_app.py
Due: isort, black, flake8, mypy-apiserver

feat: enable bind engine app cluster in admin42
  apiserver/paasng/paasng/engine/constants.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/application.py
  apiserver/paasng/paasng/plat_admin/admin42/serializers/engine.py
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/base_info/members.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/applications/detail/overview.html
  apiserver/paasng/paasng/plat_admin/admin42/templates/admin42/platformmgr/clusters.html
  apiserver/paasng/paasng/plat_admin/admin42/urls.py
  apiserver/paasng/paasng/plat_admin/admin42/views/applications.py
  workloads/paas_wl/paas_wl/admin/serializers/clusters.py
  workloads/paas_wl/paas_wl/cluster/migrations/0006_cluster_type.py
  workloads/paas_wl/paas_wl/cluster/models.py
  workloads/paas_wl/paas_wl/cluster/serializers.py
Due: isort, black, flake8, mypy-apiserver, mypy-workloads

Remove EnvResourcePlaner type, unify cluster and namespace getting of both default and cloud-native apps
  workloads/paas_wl/paas_wl/cluster/utils.py
  workloads/paas_wl/paas_wl/cnative/specs/addresses.py
  workloads/paas_wl/paas_wl/cnative/specs/events.py
  workloads/paas_wl/paas_wl/cnative/specs/models.py
  workloads/paas_wl/paas_wl/cnative/specs/procs/replicas.py
  workloads/paas_wl/paas_wl/cnative/specs/resource.py
  workloads/paas_wl/paas_wl/networking/ingress/certs/utils.py
  workloads/paas_wl/paas_wl/platform/applications/models/app.py
  workloads/paas_wl/paas_wl/resources/utils/basic.py
  workloads/paas_wl/tests/cnative/specs/conftest.py
  workloads/paas_wl/tests/cnative/specs/test_models.py
  workloads/paas_wl/tests/cnative/specs/test_resource.py
Due: isort, black, flake8, mypy-workloads

fix: 概览页面图表。插件下架。部署完成下一步
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/summary-plugin.vue
  webfe/package_vue/src/json/plugin-overview-options.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

feat: 修改头部导航
  webfe/package_vue/src/components/paas-header.vue
Due: none

minor: enable owner leave application on members manage page
  webfe/package_vue/src/views/dev-center/app/basic-config/members.vue
Due: none
