Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy-apiserver, mypy-workloads, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # See ./pyproject.toml for below tool's version and settings
      - id: isort
        name: isort
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run isort --settings-path=pyproject.toml
      - id: black
        name: black
        # Set language to disable pre-commit's virtual-env
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run black --config=pyproject.toml
      - id: flake8
        name: flak8
        language: system
        types: [python]
        exclude: >
          (?x)^(
              .*/node_modules/.*
              | apiserver/paasng/assets/.*
              | .*/migrations/.*
              | .*/paasng/platform/mgrlegacy/data/.*
              | .*/tests/platform/mgrlegacy/assets/.*
          )$
        entry: poetry run flake8 

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: mypy-workloads
        name: run mypy check for "workloads"
        # language: python
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd workloads && poetry run python -m mypy . --config-file=./mypy.ini"
        files: '^workloads/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

refactor: use http schema to access import_config api (#332)
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/client.py
Due: isort, black, flake8, mypy-apiserver

refactor: remove page_50x alert rule because of no metric
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/page_50x.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/constants.py
  apiserver/paasng/tests/monitoring/alert_rules/conftest.py
Due: isort, black, flake8, mypy-apiserver

refactor: remove page_50x alert rule because of no metric (#333)
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/page_50x.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/config.py
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/constants.py
  apiserver/paasng/tests/monitoring/alert_rules/conftest.py
Due: isort, black, flake8, mypy-apiserver

chore: update pod to pod_name in alert rules
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_cpu_usage.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_mem_usage.yaml.j2
Due: none

chore: update pod to pod_name in alert rules (#334)
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_cpu_usage.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_mem_usage.yaml.j2
Due: none

refactor: simplify high_cpu_usage and high_mem_usage alert rules
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_cpu_usage.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_mem_usage.yaml.j2
Due: none

refactor: simplify high_cpu_usage and high_mem_usage alert rules (#335)
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_cpu_usage.yaml.j2
  apiserver/paasng/paasng/monitoring/monitor/alert_rules/ascode/rules_tpl/high_mem_usage.yaml.j2
Due: none

fix：创建应用页面提单修复
  webfe/package_vue/src/views/dev-center/create-app/default.scss
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

fix：创建应用页面提单修复 (#325)
  webfe/package_vue/src/views/dev-center/create-app/default.scss
  webfe/package_vue/src/views/dev-center/create-app/default.vue
Due: none

feat: add skip-filter-clb in ingress annotations
  operator/pkg/controllers/resources/ingresses.go
  operator/pkg/controllers/resources/ingresses_test.go
Due: operator-lint

feat(apiserver): add skip-filter-clb in ingress annotations
  apiserver/paasng/paas_wl/networking/ingress/entities/ingress.py
Due: isort, black, flake8, mypy-apiserver

feat(operator): add skip-filter-clb in ingress annotations (#336)
  operator/pkg/controllers/resources/ingresses.go
  operator/pkg/controllers/resources/ingresses_test.go
Due: operator-lint

test: fix ingress serializer unittest
  apiserver/paasng/tests/paas_wl/networking/ingress/entities/test_ingress.py
Due: isort, black, flake8, mypy-apiserver

Apiserver add skip filter clb annotations (#337)
  apiserver/paasng/paas_wl/networking/ingress/entities/ingress.py
  apiserver/paasng/tests/paas_wl/networking/ingress/entities/test_ingress.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/platform/log/client.py
  apiserver/paasng/paasng/utils/es_log/misc.py
  apiserver/paasng/tests/test_utils/es_log/test_misc.py
Due: isort, black, flake8, mypy-apiserver

minor: 补充 filter_indexes_by_time_range 的测试
  apiserver/paasng/tests/test_utils/es_log/test_misc.py
Due: isort, black, flake8, mypy-apiserver

minor: 补充日志注册到 apigw 的接口的协议测试
  apiserver/paasng/paasng/extensions/bk_plugins/logging.py
  apiserver/paasng/paasng/extensions/bk_plugins/views.py
  apiserver/paasng/paasng/platform/log/legacy_views.py
  apiserver/paasng/paasng/platform/log/serializers.py
  apiserver/paasng/tests/api/apigw/README.md
  apiserver/paasng/tests/api/apigw/__init__.py
  apiserver/paasng/tests/api/apigw/test_lesscode.py
  apiserver/paasng/tests/api/apigw/test_log.py
  apiserver/paasng/tests/api/test_log.py
Due: isort, black, flake8, mypy-apiserver

bugfix: 修复访问日志无法筛选 status_code 的问题
  webfe/package_vue/src/views/dev-center/app/engine/log/access-log.vue
Due: none

refactor with discussion
  apiserver/paasng/paasng/extensions/bk_plugins/views.py
  apiserver/paasng/paasng/platform/log/legacy_views.py
  apiserver/paasng/paasng/platform/log/urls.py
  apiserver/paasng/tests/api/apigw/README.md
Due: isort, black, flake8, mypy-apiserver

fix: 增加 filter_indexes_by_time_range 逻辑, 避免 ES index 太多导致查询失败
  apiserver/paasng/paasng/platform/log/client.py
  apiserver/paasng/paasng/platform/log/views.py
  apiserver/paasng/paasng/utils/es_log/misc.py
Due: isort, black, flake8, mypy-apiserver

minor: 补充注释
  apiserver/paasng/tests/api/apigw/test_log.py
Due: isort, black, flake8, mypy-apiserver

minor: 调整注释
  apiserver/paasng/paasng/platform/log/client.py
Due: isort, black, flake8, mypy-apiserver

refactor: 部署阶段切换至新接口
  webfe/package_vue/src/store/modules/processes.js
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-log/deploy-stage/render-process-item.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/comps/deploy-log/deploy-stage/render-process-item.vue
Due: none

fix: 修复日志查询时未分页的问题; 增加对重构前接口格式的兼容
  apiserver/paasng/paasng/extensions/bk_plugins/logging.py
  apiserver/paasng/paasng/platform/log/legacy_views.py
  apiserver/paasng/paasng/platform/log/serializers.py
  apiserver/paasng/paasng/platform/log/urls.py
  apiserver/paasng/paasng/platform/log/views.py
  apiserver/paasng/tests/platform/log/test_utils.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复进程管理查询日志接口异常
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: none

fix
  apiserver/paasng/paasng/platform/log/legacy_views.py
Due: isort, black, flake8, mypy-apiserver

fix: 增加过滤空 mappings 的逻辑
  apiserver/paasng/paasng/platform/log/client.py
Due: isort, black, flake8, mypy-apiserver

minor: 优化 _get_indexes 性能
  apiserver/paasng/paasng/platform/log/client.py
Due: isort, black, flake8, mypy-apiserver

fix: 访问日志增加 method/path/status_code 支持过滤
  apiserver/paasng/paasng/platform/log/shim.py
Due: isort, black, flake8, mypy-apiserver

fix: unittest
  apiserver/paasng/paasng/platform/log/legacy_views.py
  apiserver/paasng/paasng/platform/log/urls.py
  apiserver/paasng/tests/api/test_log.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复日志查询时未分页的问题; 增加对重构前接口格式的兼容 (#331)
  apiserver/paasng/paasng/extensions/bk_plugins/logging.py
  apiserver/paasng/paasng/extensions/bk_plugins/views.py
  apiserver/paasng/paasng/platform/log/client.py
  apiserver/paasng/paasng/platform/log/legacy_views.py
  apiserver/paasng/paasng/platform/log/serializers.py
  apiserver/paasng/paasng/platform/log/shim.py
  apiserver/paasng/paasng/platform/log/urls.py
  apiserver/paasng/paasng/platform/log/views.py
  apiserver/paasng/paasng/utils/es_log/misc.py
  apiserver/paasng/tests/api/apigw/README.md
  apiserver/paasng/tests/api/apigw/__init__.py
  apiserver/paasng/tests/api/apigw/test_lesscode.py
  apiserver/paasng/tests/api/apigw/test_log.py
  apiserver/paasng/tests/api/test_log.py
  apiserver/paasng/tests/platform/log/test_utils.py
  apiserver/paasng/tests/test_utils/es_log/test_misc.py
  webfe/package_vue/src/store/modules/processes.js
  webfe/package_vue/src/views/dev-center/app/engine/app-status/comps/process-operation.vue
  webfe/package_vue/src/views/dev-center/app/engine/cloud-deployment/comps/deploy-log/deploy-stage/render-process-item.vue
  webfe/package_vue/src/views/dev-center/app/engine/deployment/comps/deploy-log/deploy-stage/render-process-item.vue
  webfe/package_vue/src/views/dev-center/app/engine/log/access-log.vue
  webfe/package_vue/src/views/dev-center/app/engine/processes/comps/process-operation.vue
Due: isort, black, flake8, mypy-apiserver

fix: 路由切换无需清空快捷访问，切换应用时进行更新
  webfe/package_vue/src/components/app-quick-nav.vue
Due: none

fix: 路由切换无需清空快捷访问，切换应用时进行更新 (#338)
  webfe/package_vue/src/components/app-quick-nav.vue
Due: none

fix: ProcessLogQueryConfig 增加唯一索引
  apiserver/paasng/paasng/platform/log/migrations/0002_auto_20230413_1744.py
  apiserver/paasng/paasng/platform/log/models.py
  apiserver/paasng/paasng/platform/log/shim.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 sys api 查询日志的接口不支持 get 的问题
  apiserver/paasng/paasng/platform/log/legacy_views.py
  apiserver/paasng/paasng/platform/log/urls.py
Due: isort, black, flake8, mypy-apiserver

refactor with discussion
  apiserver/paasng/paasng/platform/log/shim.py
Due: isort, black, flake8, mypy-apiserver

fix: ProcessLogQueryConfig 增加唯一索引 (#339)
  apiserver/paasng/paasng/platform/log/legacy_views.py
  apiserver/paasng/paasng/platform/log/migrations/0002_auto_20230413_1744.py
  apiserver/paasng/paasng/platform/log/models.py
  apiserver/paasng/paasng/platform/log/shim.py
  apiserver/paasng/paasng/platform/log/urls.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 bk_plugins api 无法查询日志
  apiserver/paasng/paasng/extensions/bk_plugins/logging.py
  apiserver/paasng/tests/api/apigw/test_log.py
Due: isort, black, flake8, mypy-apiserver

fix: 修复 V1SysStructuredLogAPIView.query_logs_get 调错接口的问题
  apiserver/paasng/paasng/platform/log/legacy_views.py
Due: isort, black, flake8, mypy-apiserver

Log config add unq (#340)
  apiserver/paasng/paasng/extensions/bk_plugins/logging.py
  apiserver/paasng/paasng/platform/log/legacy_views.py
  apiserver/paasng/tests/api/apigw/test_log.py
Due: isort, black, flake8, mypy-apiserver
