Repository TencentBlueKing/blueking-paas: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: Name check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/rtx.sh $@; fi"
      - id: IP check
        name: Check sensitive info
        verbose: true
        language: system
        require_serial: true
        entry: bash -c "if [[ -d pre_commit_hooks ]]; then pre_commit_hooks/ip.sh $@; fi"

      # 总是使用 --force-exclude 来让 ruff 配置文件中的 exclude 生效
      - id: ruff-check-fix
        name: ruff-check-fix
        language: system
        types: [python]
        # 修复包导入顺序问题，类似 isort 工具
        entry: poetry run ruff check --force-exclude --select I --fix --no-cache 
      - id: ruff-format
        name: ruff-format
        language: system
        types: [python]
        entry: poetry run ruff format --force-exclude --no-cache
      - id: ruff-check
        name: ruff-check
        language: system
        types: [python]
        entry: poetry run ruff check --force-exclude --no-cache

      # mypy hooks for each Python project, the hooks must be separated because different
      # project might use their own configurations
      - id: mypy-apiserver
        name: run mypy check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver && poetry run mypy . --config-file=./pyproject.toml"
        files: '^apiserver/'
      - id: import-linter-apiserver
        name: run import-linter check for "apiserver"
        language: system
        types: [python]
        pass_filenames: false
        entry: bash -c "cd apiserver/paasng && poetry run lint-imports"
        files: '^apiserver/'
      # Disable this hook temporarily because is may results EOF error and loss
      # of changes.
      # - id: operator-fmt
      #   language: system
      #   name: run make fmt for "operator"
      #   entry: bash -c "cd operator && make fmt"
      #   files: '^operator/'
      - id: operator-lint
        language: system
        name: run make lint for "operator"
        entry: bash -c "cd operator && make lint"
        files: '^operator/'

fix: pr 评论修改
  apiserver/paasng/paasng/bk_plugins/pluginscenter/bk_devops/client.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/bk_devops/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/bk_user/views.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/constants.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/open_apis/views.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/models/instances.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/releases/executor.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/shim.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/instance.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/urls.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
  apiserver/paasng/paasng/infras/perm_insure/conf.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: get_bk_biz_ids support both List[str] and str
  apiserver/paasng/paasng/infras/bkmonitorv3/params.py
  apiserver/paasng/paasng/misc/monitoring/monitor/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 插件可见范围、已知样式修复
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/visible-range.vue
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/components/user-selector/index.vue
  webfe/package_vue/src/components/user-selector/tree.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/plugin/base-config/comps/base-info-item.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/visible-range.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat: Codecc版本发布新建版本v1.0
  webfe/package_vue/src/components/card/card.vue
  webfe/package_vue/src/router/plugin.js
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-content.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-strategy.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/view-mode.vue
Due: none

fix: 可见范围体验修复，组织缩小部门选择范围
  webfe/package_vue/src/components/user-selector/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/visible-range.vue
Due: none

feat: 版本灰度发布v1.0 # Reviewed, transaction id: 15076
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/components/paas-plugin-nav.vue
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/router/plugin.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-content.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-strategy.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/view-mode.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/visible-range.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-details/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
Due: none

fix: 补充灰度发布细节(样式，跳转链接，数据接入问题) # Reviewed, transaction id: 15278
  webfe/package_vue/src/components/card/card.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/visible-range.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-content.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-strategy.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-details/index.vue
Due: none

fix: Codecc状态补充、体验优化项 # Reviewed, transaction id: 15405
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/components/paas-plugin-nav.vue
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/visible-range.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-strategy.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-details/index.vue
Due: none

feat: 版本回滚 # Reviewed, transaction id: 15539
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none

feat: 可见范围添加组织层级 # Reviewed, transaction id: 15577
  webfe/package_vue/src/common/tools.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/plugin/base-config/visible-range.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/visible-range.vue
Due: none

feat: codecc 基本信息 # Reviewed, transaction id: 15657
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/dev-center/app/market/render-member-list.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/comps/codecc-base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/visible-range.vue
Due: none

feat: 国际化补充 # Reviewed, transaction id: 15741
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-strategy.vue
Due: none

fix: 体验修复 & 获取组织层级前缀缓存方案优化 # Reviewed, transaction id: 16180
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/comps/codecc-base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/visible-range.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-strategy.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/visible-range.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
Due: none

fix: 发布策略边界处理 # Reviewed, transaction id: 16308
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-strategy.vue
Due: none

fix: 成员管理管理员操作bug修复 & 终止发布
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/test-report.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-details/index.vue
Due: none

feat：嵌入发布结果 # Reviewed, transaction id: 16792
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-result.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-details/index.vue
Due: none

fix: 可见范围/灰度的组织添加 tof_id 字段 & 体验修复
  webfe/package_vue/src/components/user-selector/index.scss
  webfe/package_vue/src/components/user-selector/index.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/plugin/base-config/visible-range.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-content.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-strategy.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-details/index.vue
Due: none

fix: 文案优化 & 版本发布-新建版本判断是否有任务正在执行修复 # Reviewed, transaction id: 18158
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-content.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-strategy.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-details/index.vue
Due: none

feat: 灰度审批添加插件管理员字段
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: improve the process data sync logic & the declarative module (#1563)
  apiserver/paasng/paasng/platform/bkapp_model/entities/processes.py
  apiserver/paasng/paasng/platform/declarative/deployment/controller.py
  apiserver/paasng/paasng/platform/declarative/deployment/resources.py
  apiserver/paasng/paasng/platform/declarative/entities.py
  apiserver/paasng/paasng/platform/declarative/exceptions.py
  apiserver/paasng/paasng/platform/declarative/handlers.py
  apiserver/paasng/paasng/platform/declarative/serializers.py
  apiserver/paasng/paasng/platform/engine/configurations/source_file.py
  apiserver/paasng/paasng/platform/engine/deploy/building.py
  apiserver/paasng/paasng/platform/engine/deploy/image_release.py
  apiserver/paasng/paasng/platform/engine/exceptions.py
  apiserver/paasng/paasng/platform/engine/models/deployment.py
  apiserver/paasng/paasng/platform/engine/utils/patcher.py
  apiserver/paasng/paasng/platform/engine/utils/source.py
  apiserver/paasng/paasng/platform/smart_app/services/dispatch.py
  apiserver/paasng/paasng/platform/smart_app/services/patcher.py
  apiserver/paasng/paasng/platform/sourcectl/exceptions.py
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/test_v1.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v2/test_deployment.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v2/test_probes.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_deployment.py
  apiserver/paasng/tests/paasng/platform/declarative/handlers/v3/test_probes.py
  apiserver/paasng/tests/paasng/platform/engine/configurations/test_config_var.py
  apiserver/paasng/tests/paasng/platform/engine/deploy/test_building.py
  apiserver/paasng/tests/paasng/platform/engine/utils/test_source.py
  apiserver/paasng/tests/paasng/platform/smart_app/test_patcher.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 操作审计 API (#1584)
  apiserver/paasng/paasng/accessories/cloudapi/views.py
  apiserver/paasng/paasng/misc/audit/constants.py
  apiserver/paasng/paasng/misc/audit/serializers.py
  apiserver/paasng/paasng/misc/audit/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 插件类型按创建时间排序
  apiserver/paasng/paasng/bk_plugins/pluginscenter/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 灰度发布-已灰度的项目id不能通过backspace键删除 & 文案优化 # Reviewed, transaction id: 18240
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-strategy.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-details/index.vue
Due: none

fix: 删除测试日志
  apiserver/paasng/paasng/bk_plugins/pluginscenter/thirdparty/release.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: fixed when deleting a remote service
  apiserver/paasng/paasng/accessories/servicehub/views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 兼容蓝盾 API 查询流水线详情是没有 elementEnable 信息
  apiserver/paasng/paasng/bk_plugins/pluginscenter/bk_devops/definitions.py
  apiserver/paasng/paasng/infras/bk_ci/entities.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

test: fix unit test
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 将 register 修改为 prepare_json_field
  apiserver/paasng/paasng/bk_plugins/pluginscenter/bk_devops/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/bk_user/definitions.py
  apiserver/paasng/paasng/bk_plugins/pluginscenter/definitions.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: Codecc 插件灰度、可见范围 (#1592)
  webfe/package_vue/src/common/constants.js
  webfe/package_vue/src/common/tools.js
  webfe/package_vue/src/components/card/card.vue
  webfe/package_vue/src/components/loader/index.vue
  webfe/package_vue/src/components/loader/loading/visible-range.vue
  webfe/package_vue/src/components/paas-plugin-nav.vue
  webfe/package_vue/src/components/pass-plugin-title.vue
  webfe/package_vue/src/components/user-selector/index.scss
  webfe/package_vue/src/components/user-selector/index.vue
  webfe/package_vue/src/components/user-selector/tree.vue
  webfe/package_vue/src/language/lang/en.js
  webfe/package_vue/src/language/lang/zh.js
  webfe/package_vue/src/router/plugin.js
  webfe/package_vue/src/store/modules/plugin.js
  webfe/package_vue/src/views/dev-center/app/market/render-member-list.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/comps/base-info-item.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/comps/codecc-base-info.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/members.vue
  webfe/package_vue/src/views/plugin-center/plugin/base-config/visible-range.vue
  webfe/package_vue/src/views/plugin-center/plugin/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/summary/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/editor-version.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-content.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-result.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/release-strategy.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/view-mode.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/create-version/new-version/visible-range.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/test-report.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-details/index.vue
  webfe/package_vue/src/views/plugin-center/plugin/version-manager/version-release.vue
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

test: fix unit test (#1594)
  apiserver/paasng/tests/paasng/platform/declarative/deployment/v2/test_controller.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 云 API 权限批量申请 API (#1587)
  apiserver/paasng/paasng/accessories/cloudapi/constants.py
  apiserver/paasng/paasng/accessories/cloudapi/serializers.py
  apiserver/paasng/paasng/accessories/cloudapi/urls.py
  apiserver/paasng/paasng/accessories/cloudapi/views.py
  apiserver/paasng/tests/paasng/accessories/cloudapi/test_api.py
  apiserver/paasng/tests/paasng/accessories/cloudapi/test_views.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: codecc 插件灰度发布都需要插件管理员审批
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: codecc 插件灰度发布都需要插件管理员审批 (#1595)
  apiserver/paasng/paasng/bk_plugins/pluginscenter/itsm_adaptor/utils.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

feat: 添加 BKPAAS_NODEMAN_URL 等内置环境变量
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/paasng/settings/__init__.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

fix: 修改开发框架文档路径
  apiserver/paasng/fixtures/smart_advisor.yaml
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: none

feat: 添加 BKPAAS_NODEMAN_URL 等内置环境变量&修改开发框架文档路径 (#1597)
  apiserver/paasng/conf.yaml.tpl
  apiserver/paasng/fixtures/smart_advisor.yaml
  apiserver/paasng/paasng/platform/engine/configurations/config_var.py
  apiserver/paasng/paasng/settings/__init__.py
  webfe/package_vue/static/json/paas_static.ce.js
  webfe/package_vue/static/json/paas_static.ee.js
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver

refactor: resolve review comments
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0015_auto_20240904_1439.py
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/api/v1alpha2/constants.go
  operator/config/crd/bases/paas.bk.tencent.com_bkapps.yaml
  operator/pkg/controllers/bkapp/common/labels/labels.go
  operator/pkg/controllers/bkapp/processes/services.go
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver, operator-lint

refactor: resolve review comments
  apiserver/paasng/paas_wl/bk_app/cnative/specs/crd/bk_app.py
  apiserver/paasng/paas_wl/bk_app/monitoring/app_monitor/entities.py
  apiserver/paasng/paas_wl/bk_app/monitoring/app_monitor/kres_slzs.py
  apiserver/paasng/paasng/misc/monitoring/monitor/service_monitor/controller.py
  apiserver/paasng/paasng/misc/monitoring/monitor/urls.py
  apiserver/paasng/paasng/platform/bkapp_model/entities_syncer/observability.py
  apiserver/paasng/paasng/platform/bkapp_model/migrations/0015_auto_20240912_1739.py
  apiserver/paasng/paasng/platform/bkapp_model/models.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/serializers.py
  apiserver/paasng/paasng/platform/bkapp_model/serializers/v1alpha2.py
  apiserver/paasng/paasng/platform/bkapp_model/views.py
  apiserver/paasng/paasng/platform/engine/deploy/release/operator.py
  apiserver/paasng/paasng/platform/modules/manager.py
Due: ruff-check-fix, ruff-format, ruff-check, mypy-apiserver, import-linter-apiserver
